[2019-04-25 05:24] aliabid94 opened #1 "Share url in config.json does not show "None" when --share=False"

[2019-04-26 07:28] wilkice opened #2 "Can't Connect to web server (502 Bad Gateway)"
I have bulit a .py file on my pc and passed the validation, but everytime I click the link, I get 502 Bad Gateway. Is it because my python files exits? (on google colab it's ok.)

![](https://i.bmp.ovh/imgs/2019/04/349e9068919842e1.png)

[2019-05-14 04:24] #2 closed

[2019-07-14 04:35] badbye opened #6 "Check package version"
The latest version is 0.7.8, however https://gradio.app/api/pkg-version returns 0.5.0.
BTW, for some reason, the link is unstable to access from China.
So I suggest using a more stable API, or not even check the version if it is not updated in time automatically.

[2019-07-22 01:26] dawoodkhan82 commented on #6
Commented out the PKG version check for now.

[2019-07-22 01:26] #1 closed

[2019-08-05 07:21] wtnan2003 opened #11 "F-string will cause syntax error under python 3.5"
https://github.com/gradio-app/gradio/blob/04e3036e6040e2545514bd5657dbc3e413c3f15b/gradio/interface.py#L194

[2019-10-29 17:35] ternaus opened #12 "You may consider using well established libraries for image augmentations."
It looks like you manually implement image augmentations.

You may try to look at https://github.com/albu/albumentations

[2019-10-30 00:10] dawoodkhan82 commented on #12
Awesome, this seems very useful. Will take a look.

[2019-10-30 00:25] #12 closed

[2019-12-10 07:16] harirajeev opened #13 "Documentation and sample notebook"
Thank you for building this useful tool.

For below points from README
**(1) identifying and correcting mislabelled data;
(2) valuing each datapoint to automatically identify which data points should be labeled;****

Have you outsourced the code , if so could you please provide the details.
A sample notebook and documentation around it will be more helpful.

thanks again
Hari

[2020-05-06 17:40] badbye opened #14 "Does it compress the uploaded image in default?"
I find the size of the received base64 encoded image, is much smaller than the original image.
Furthermore, I find the following code in the `image_upload.js` file.
[code]
So the maximum size of the received image is 600 * 600, right? Is it possible to undo this compression?

[2020-05-06 17:58] badbye commented on #14
I believe I am right. It did do compression, the limitation is 300*300 due to the `submit` function:
[code]

So firstly, the size limitation of the preview step is 600*600.
Secondly, the size limitation of the submit step is 300*300.
If I want to upload the original file exactly, I need to change both of them.

Sometimes the size of the file does matter, it is better to offer an API to let the upl

[2020-06-01 18:57] dawoodkhan82 commented on #11
Hey wtnan2003, I wanted to reach out to see if you would be willing to hop on a quick call with us. We wanted to talk to some users of Gradio-UI ad get your feedback.

[2020-06-01 18:57] dawoodkhan82 commented on #13
Hey harirajeev, I wanted to reach out to see if you would be willing to hop on a quick call with us. We wanted to talk to some users of Gradio-UI ad get your feedback.

[2020-06-01 18:58] dawoodkhan82 commented on #14
Hey badbye, I wanted to reach out to see if you would be willing to hop on a quick call with us. We wanted to talk to some users of Gradio-UI ad get your feedback. What e-mail is best to reach you?

[2020-06-02 03:17] badbye commented on #14
Hi, I am glad to share my thoughts. Here is my email: eWFsZWlkdUAxNjMuY29t (use base64 to decode it).

[2020-07-01 22:44] abidlabs opened #16 "Gradio output UIs with multiple functions that return plots seems to fail"
Something like:

[code]

Where `display_image`, `display_label` each returned a plot didn't work. I got blank outputs...

[2020-07-01 22:46] abidlabs commented on #16
Upon closer inspection, it seems that perhaps each individual function needs to refresh `plt.figure()`?

[2020-07-01 22:46] abidlabs opened #17 "Showing examples header even without any examples"
![image](https://user-images.githubusercontent.com/1778297/86298213-d6cc8a80-bbc2-11ea-8fd8-90919d3ee2b3.png)

[2020-07-02 17:35] #17 closed

[2020-07-02 18:38] abidlabs opened #18 "Have an __del__ for the interface object"
Right now, every time that a Gradio interface object is launched, a new port is used. E.g. starts from 7860, then goes to 7861, 7862, etc. This is because each interface object keeps its port open, which is wasteful.

Close the port when the interface object is deleted, or is overwritten, so that ports are closed and can be reused

[2020-07-03 00:13] abidlabs opened #19 "Aligning input and output interfaces"
Many times the input and output interfaces are not aligned, which can be a little jarring. Can we fix this?

![image](https://user-images.githubusercontent.com/1778297/86419203-187b3500-bc98-11ea-8707-326d73b81335.png)

[2020-07-03 00:45] abidlabs opened #20 "Output image is compressed horizontally compared to input image"
![image](https://user-images.githubusercontent.com/1778297/86420542-93dee580-bc9c-11ea-9606-f4f31808eefa.png)

[2020-07-04 01:07] abidlabs opened #21 "GPT 2 demo doesn't run on colab"
One of my alpha testers pointed this out, and I also experience it:

![image](https://user-images.githubusercontent.com/1778297/86502439-b5a59e80-bd68-11ea-9d2a-5dd8875f2a44.png)

[2020-07-04 01:09] abidlabs commented on #21
Or maybe it does run, but can we hide the error?

[2020-07-07 21:27] aliabd commented on #21
Error comes from TF==2.1, which is actually not necessary. Fixed

[2020-07-07 21:27] #21 closed

[2020-07-10 00:56] aliabd commented on #20
Closed since @aliabid94 fixed this

[2020-07-10 00:56] #20 closed

[2020-07-10 00:56] aliabd commented on #19
Closed since @aliabid94 fixed this.

[2020-07-10 00:56] #19 closed

[2020-07-10 10:26] ranftlr commented on #14
I'm facing a similar issue. For dense prediction tasks (semantic segmentation, depth estimation, etc.) it would be helpful to get the image in its original shape from the API.

[2020-07-10 11:05] vseledkin opened #22 "unexpected network negotiations?"
Simplest demo

import gradio as gr
def greet(name):
  return "Hello " + name + "!"
gr.Interface(fn=greet, inputs="text", outputs="text").launch()

responds on submit button much faster if network connection is not available for app.
Why?

i. e.

response time 1.26s

response time 0.014s

[2020-07-10 19:15] abidlabs commented on #14
Makes sense, let's make this as an option in the input interface @aliabid94

[2020-07-10 21:21] ak9250 opened #23 "is audio support as input output"
checking the docs is audio data types supported for input and output for models?

[2020-07-10 21:28] aliabd commented on #11
Thanks @wtnan2003 All f-strings are now compatible with Python 3 <3.5. Closing.

[2020-07-10 21:28] #11 closed

[2020-07-10 21:34] abidlabs commented on #23
We do support audio as input. The interface is called `Microphone`. Output audio coming soon. What kind of model are you building that's audio to audio?

https://gradio.app/docs

[2020-07-11 11:28] TechyNilesh opened #24 "How to deploy gradio app on heroku"
Hello I want to know the devlopment process of gradio model on cloud server like heroku.

Its same like flask and streamlit or need some diffrent approach??

[2020-07-11 16:58] abidlabs commented on #24
Let me confirm what you mean: you want to host your interface with a permanent URL on Heroku?

[2020-07-11 17:02] TechyNilesh commented on #24
Yes I want to host with permanent domain on heroku.
I deployed flask and streamlit app but facing issues on gradio.

So can you please provide the guideline?

[2020-07-13 00:49] abidlabs commented on #24
Got it, that sounds great! We'll see if we can put together a guide for
deployment on Heroku

On Sat, Jul 11, 2020 at 12:03 PM TechyNilesh <notifications@github.com>
wrote:

[2020-07-13 15:33] abidlabs commented on #18
Replaced with `gradio.reset_all()` function

[2020-07-13 15:33] #18 closed

[2020-07-13 15:33] abidlabs commented on #13
Outdated

[2020-07-13 15:33] #13 closed

[2020-07-14 04:19] rcox771 commented on #12
I like albumentations too but I believe the authors are just focused on creating reusable ui components to make ML more accessible - at least that seems to be the main spirit of their message in this library. There's nothing stopping us from swapping out the guts of the functions we pass into their components and that's the point. As long as we conform to the the formats of their interfaces at the

[2020-07-14 04:39] rcox771 commented on #23
bumping for interest in signals. @abidlabs , one could conceivably use this library for demonstrating audio denoising tasks, separation of different speakers from one audio recording, selectively damping certain noise sources - like the kind of models used in some commercial webconferencing applications, and a whole lot more. Interpolating vocal styles and inflections, text-to-speech applications,

[2020-07-14 04:56] rcox771 opened #26 "way to easily stop/reload"
when trying things out on my end tonight, I noticed there wasn't an elegant way to stop the server from the command line for an existing application. I started peeking around inside Interface.launch, but I'm not sure where the best place would be to catch a ctrl+c would be -- there's a lot going on in that method to say the least. 😅

[2020-07-14 05:52] leungi commented on #24
On a similar note, we'd like to deploy via Docker as well; it'll open up many deployment options!

Though the app launches internally, somehow the outside world doesn't see it.

Note that the `/app` contains the gradio `app.py`.

#### Sample Dockerfile
[code]

#### app.py
[code]

[2020-07-14 11:34] abidlabs commented on #24
For `Docker`, please try the passing in `server_name="0.0.0.0"` in your `Interface` object. So your `main()` would look like:

[code]

[Here's an explanation](https://pythonspeed.com/articles/docker-connection-refused/) for why you should use 0.0.0.0 inside of a Docker container to bind ports successfully.

[2020-07-14 16:27] dawoodkhan82 commented on #22
This was because of analytics on usage of the interfaces being sent over the network. This has been moved to the background in the latest commit.

[2020-07-14 16:27] #22 closed

[2020-07-14 17:53] leungi commented on #24
Thanks for the prompt solution and reference doc @aliabd!

Glad to add gradio to our deployment options 🙏 for the work.

[2020-07-14 18:06] ArjunPukale opened #27 "Output Image size is resized"
If my output is Image then the outputted Image size is not that of the size generated by the function.
for eg :
The function just rotates the image 180 degree but the output image is resized and cropped!!!
![image](https://user-images.githubusercontent.com/49120008/87460561-ae18ac00-c62a-11ea-87b6-e8577cb2fa8c.png)

[2020-07-14 20:00] abidlabs commented on #26
Good point. This happens because `gradio` spawns a non-daemon child thread to run the server, which blocks the main thread from exiting until the server ends, as documented here: https://stackoverflow.com/questions/50486083/ending-non-daemon-threads-when-shutting-down-an-interactive-python-session

We could fix this by taking the approach mentioned in the Stack Overflow question. If you want to ma

[2020-07-14 20:01] abidlabs commented on #27
Thanks for opening the issue. Yes, I believe this documented in #14, which we are addressing. Let me go ahead and close this for now. Please reopen if it's a different issue. Thanks.

[2020-07-14 20:01] #27 closed

[2020-07-16 07:27] rcox771 commented on #26
@abidlabs ok, I forked and started playing around with it. I should be able to get something back to you guys Thurs or Fri evening for review.

What would you think about a threading mixin, like in https://stackoverflow.com/questions/14088294/multithreaded-web-server-in-python ? (minus the multi-threading implementation)

[code]

[2020-07-16 17:52] codeghees opened #28 "Embed Gradio components in an app (React/Flask/Django etc)"
How can I embed the interface like you did in your website?

I want to create a gradio app within another web framework - React, Flask or Django
Can I package it in a docker container?

[2020-07-16 18:04] aliabid94 commented on #28
For now, the best way is to embed an iframe. Working on making this seamless as it is on the main site.

[2020-07-16 18:53] aliabd commented on #28
Let's get some documentation for this when it's ready @aliabid94 :)

[2020-07-16 20:10] codeghees commented on #28
Yes please!
What are the limitations of an iframe though?

[2020-07-17 14:57] abidlabs commented on #26
Interesting, I'm trying to understand `ThreadingMixIn`. Isn't the purpose of the class seems to be to allow the main thread to terminate once the children (server threads) have terminated? But we want the reverse. Maybe I'm misunderstanding, but I'm happy to test out the code to see if it works on my end!

[2020-07-18 07:17] rcox771 commented on #26
It just looked like it might be easier, but I could also be wrong. I don't usually enter python threading land if I can avoid it 👻 .

I had to work a little late tonight, but I starting making a set of tests 🧪  we could run through together at https://github.com/rcox771/threading_tests . So far, I've tested _with_ and _without_ a thread running the httpd, and tomorrow night I'll try the mixin 🥣 id

[2020-07-19 20:41] abidlabs commented on #24
Turns out you can easily upload Gradio apps to Heroku. Here's a step-by-step tutorial @TechyNilesh: https://medium.com/@abidlabs/how-to-deploy-a-machine-learning-ui-on-heroku-in-5-steps-b8cd3c9208e6

[2020-07-19 20:41] #24 closed

[2020-07-20 06:03] pykeras opened #31 "File as inputs"
Hi, thanks for the great work
wonder if there is any way to select a TXT/CSV file as input ?

[2020-07-20 14:16] eragon12391 opened #32 "Support of *.tiff files"
In the Image interface in the Input, can you provide support for 'tiff files'

[2020-07-20 20:28] aliabd commented on #32
Thanks for opening an issue @eragon12391.

@aliabid94 can you take a look at this?

[2020-07-21 06:18] aliabd commented on #31
Hey @pykeras, thanks for opening the issue. There's no way to do that right now, but it's in our roadmap. We'll follow up here with you when we push that functionality.

What is the use case you have in mind?

[2020-07-21 07:29] pykeras commented on #31
thanks for the reply,
doing some NLP tasks (Q&A - NER) sometimes there are lots of data, so having them as a batch is a good thing, the client sends this as CSV/TXT file.

[2020-07-21 15:14] AlDrAkU opened #33 "continuous output"
When run in a jupyternotebook the launch of the interface floods the cell with printing
 "{'title': None, 'description': None, 'thumbnail': None, 'input_interface': [<gradio.inputs.Sketchpad object at 0x0000025F74CC0688>], 'output_interface': [<gradio.outputs.Label object at 0x0000025F74CC07C8>]}"

[2020-07-21 15:42] aliabid94 commented on #28
You should be able to do everything normally with an iframe, the main shortcoming of an iframe is that you'll have to set the width and height manually, and it wont resize and the inputs and outputs may change

[2020-07-22 04:56] aliabd commented on #33
Fixed. This will stop happening when we update the library, will let you know when we do, or you can clone the repo.

[2020-07-22 09:38] a849173140 opened #34 "Does the current input interface support video input?"
My model is a video based classification model, Gradio is currently supported?
One more little question, how do I set up POST?

[2020-07-23 10:22] #33 closed

[2020-07-23 10:24] abidlabs commented on #33
Gradio version 1.0.4 has been released, which solves this issue.

[2020-07-23 10:25] abidlabs commented on #32
@eragon12391 can you tell us a little more about your use case? It will help us design the UI if we have a sense of what kind of models you are interested in building UIs for

[2020-07-23 18:59] ac-ac1 opened #35 "Way to use Gradio without hosting the application on its URL."
Is there a way to use Gradio without hosting the application on a https://xxxxx.gradio.app URL? I would like to use the Gradio GUI/UI but in my own application.

[2020-07-23 19:37] abidlabs commented on #35
Thanks for asking @ac-ac1. Yes you can! Simply set `share=False` in the `Interface.launch()` method, and only a localhost link will be created, and the UI will not be accessible publicly. If you are then looking to host it elsewhere (e.g. on Heroku), you may find this useful: #24.

[2020-07-23 19:37] #35 closed

[2020-07-25 10:26] lkwate opened #36 "JSON and HTML don't work"
When I set up JSON or HTML as output type the submit button didn't appear. How can I solve it

[2020-07-28 19:05] gdeepakdeepuml opened #38 "i cant get the URI"
i just tried running hello (which is in docs) with gradio but i cant see anything in URI

it just shows Running locally at: http://127.0.0.1:7868/

but if i open the link nothing will be there ..! help me

[2020-07-28 20:59] abidlabs commented on #38
Can you tell us more about what operating system you're using, and where you're running this (in other words, is it a regular python script. jupyter notebook, or colab notebook)?

[2020-07-28 21:01] abidlabs commented on #38
Also, try navigating to http://localhost:7868/ and see if that shows anything

[2020-07-28 21:02] abidlabs commented on #34
Currently, we don't have video as an input interface, but we are working on setting that up. Can you tell us more about your use case?

As far as your second question, I'm not sure what you mean. Can you elaborate some more?

[2020-07-28 21:02] abidlabs commented on #36
We should have this fixed soon!

[2020-07-28 21:03] abidlabs commented on #23
We should have this fixed soon!

[2020-07-30 07:11] a849173140 commented on #34
Thanks for your reply

My model is about the behavior detection of the person in the video, input the video and output whether the video contains the behavior.

About the second question, I mean that the default port is currently 7860 after deployment,  how can I modify it.

[2020-07-30 10:52] abidlabs commented on #34
Great, we'll let you know once we support video.

As far as the port, you can simply pass in the `server_port` parameter when you create the `Interface` object

[2020-07-31 03:45] a849173140 commented on #34
Ok, I see. Thank you very much.

[2020-07-31 05:48] gdeepakdeepuml commented on #38
i am using elementry os(Linux based OS ) and i am using kaggle environment(kaggle notebooks) to run the program . program runs without any error but i cant see the output properly. that gives me as

Running locally at: http://127.0.0.1:7868/

and it gave me a blank page where it is supposed to open the output in the running environment but it shows me `127.0.0.1 refused to connect.` ...

and i tri

[2020-07-31 10:46] Tikquuss opened #39 "button problem"
I have my classifier that takes text and returns either 0 or 1.
But when I run gradio as described below, I don't have a button to submit the text.
[code]

[2020-08-02 07:41] #34 closed

[2020-08-03 06:38] tmabraham commented on #32
@abidlabs I don't need anything special in terms of UI, just need to be able to upload *.tif files. Does the TOAST UI image editor you guys have not support *.tif files?

[2020-08-03 17:24] abidlabs commented on #26
Hi Russ, any luck with this? Let us know if you have something we can integrate

[2020-08-03 17:27] abidlabs commented on #38
Oh I see, can you try setting `share=True` inside `launch()`?

[2020-08-03 17:29] #28 closed

[2020-08-03 18:27] abidlabs opened #41 "Webcam bug on gradiohub"
Received a bug request on: https://www.gradio.app/hub/hub-emotion-recognition

![image](https://user-images.githubusercontent.com/1778297/89214797-16551080-d58d-11ea-8e6b-6f8911d369ba.png)

[2020-08-05 16:02] aliabd commented on #39
I'm unable to reproduce this. Can you share more details?

This is what I see when I run your code:

<img width="1044" alt="Screen Shot 2020-08-05 at 9 00 17 AM" src="https://user-images.githubusercontent.com/9021060/89435884-5554a480-d6fa-11ea-8b70-8983019f03aa.png">

Can you post a screenshot or share the console errors?

[2020-08-05 19:31] BhavanJ commented on #14
First of all very nice work with Gradio, it's so awesome. Immensely useful to create quick demos! Any updates regarding the issue of receiving image at original resolution?

I am facing a similar issue, in particular if the image contains text (and is of a larger dimensions > 300 x300), the received image has much lower quality (hard to read) and OCR fails badly on it. See the example below, uploa

[2020-08-05 21:29] aliabid94 commented on #14
This has now been fixed. There should be no automatic resizing anymore.

[2020-08-05 21:30] aliabid94 commented on #14
The latest pip package has the updated version.

[2020-08-05 22:51] BhavanJ commented on #14
@aliabid94 thanks for getting back. I checked with version 1.0.6, if I don't mention the size of the input image, it still automatically resizes the image (I get in my python function) so that the max dimension of image is 600.

Another thing is if I mention a fixed larger image size like 1000 x 1200 in the input image definition, I do get image of the specified fixed dimension. But the quality of

[2020-08-05 22:59] aliabid94 commented on #14
@BhavanJ can you try doing a hard refresh from your browser to clear the cached versions of javascript files? In the future we'll version our static files so this won't be necessary.
Appreciate your use and kind words on Gradio 👍 :)

[2020-08-05 23:24] BhavanJ commented on #14
@aliabid94 thanks again for getting back. I tried doing that, I also tried running on a different laptop, different browser but still facing same issue. Do you mind trying the below demo? I am just taking as input an image and returning it back along with the dimensions of the input image. And I added some example images. If you view the example images they are bigger than 600, while if you view t

[2020-08-06 00:27] aliabid94 commented on #14
You're right, fixing now. Thanks for the detailed bug report.

[2020-08-06 00:32] aliabid94 commented on #14
Okay fixed, please upgrade to gradio 1.0.7. Let me know if you have any more issues!

[2020-08-06 00:36] BhavanJ commented on #14
Cool thanks a lot, let me try it out.

[2020-08-06 01:01] BhavanJ commented on #14
I tried, works great so far. Thanks a lot for fixing this @aliabid94! This would be very helpful for any demos which need high resolution images.

[2020-08-06 01:02] aliabid94 commented on #14
Glad to hear it! Let us know anything else that could be improved :)

[2020-08-06 01:02] #14 closed

[2020-08-08 03:24] maximilianpfau opened #42 "Folder/bulk upload as input (or zip upload); Encryption of upload"
Dear Abubakar Abid,

thank you for your great work.

Two questions:

1. Is there an upload option for multiple files (drag-and-drop) or a complete folder (native or zipped) planned?

The application would be an XML-export of volumetric image data (i.e., multiple *.tiff files and an XML file with the meta data).

2. Is the upload secure (i.e., 128-bit SSL encryption) or will this be implemented in

[2020-08-08 20:37] rcox771 commented on #26
hey @abidlabs I did. Sorry got absorbed in work and forgot to get back to you. I'll shoot you something this weekend

[2020-08-08 21:47] abidlabs commented on #26
No worries at all, happy to review it this weekend, thanks

On Sat, Aug 8, 2020 at 3:38 PM rcox771 <notifications@github.com> wrote:

--
Abubakar Abid
Department of Electrical Engineering
Stanford University || Paul & Daisy Soros Fellow
@abidlabs <https://twitter.com/abidlabs> || *abidlabs.github.io
<http://abidlabs.github.io>*

[2020-08-09 16:08] abidlabs commented on #42
Hi Maximilian, thank you for the feature suggestion. We are planning on building out a bulk upload feature, though it is somewhat down the product roadmap. Would you be open to a short conversation where we discuss your specific use case? It would help us build out the feature better. Shoot me an email at: team@gradio.app

[2020-08-10 04:30] rcox771 commented on #26
@abidlabs so the way I got things to work, step-by-step, was:

1. instantiating a custom `HTTPServer` within a context manager,
2. which then passes itself into a custom thread,
3. this thread then runs the server within its own context manager and listens for a `KeyboardInterrupt` and passes the signal down to the server

When integrating my tests into networking.py, I realized that I'd probably

[2020-08-10 04:54] abidlabs commented on #26
Hi @rcox771 thanks I’ll take a look at it! Just to get a sense of things, does this solve the issue? Or are you still working on it? Wasn’t sure by what you meant by hoisting

[2020-08-10 05:24] rcox771 commented on #26
If I catch and stop things at my level, I have no way to propagate that all the way up to stop your other threads elsewhere. This is my current understanding, with the main thread starting other things like your ngrok service. Green is as far as I've gotten in networking.py. If I continue down my current course, I'd probably either need to start having each thread self-managed through a pubsub, or

[2020-08-10 05:39] rcox771 commented on #26
maybe we could flatten the hierarchy for everything that uses a thread, and given it one common launch point? A threadpool for example?

[2020-08-10 15:32] aliabd commented on #39
@Tikquuss Please confirm if this is still an issue

[2020-08-10 15:46] Tikquuss commented on #39
After thinking about it I found that my clf function had an implicit bug.
Thank you @aliabd .

[2020-08-10 15:46] #39 closed

[2020-08-10 15:57] Tikquuss commented on #39
I'm working on text classification. Since gradio does not allow to submit documents, I made a django application allowing users not only to submit their text in a text area, but also to submit it through documents (pdf, docx, txt, md).
Since I don't own the application (it belongs to the company I work for), I can't provide a link here; but it works pretty much like [google translate](https://tran

[2020-08-10 19:03] abidlabs commented on #26
I'm working with your code now @rcox771. Just to clarify, the only non-daemon thread is the httpserver. (You can verify this by setting daemon=True in that thread, and then the program is terminated automatically when the main thread ends). So we shouldn't have to worry about anything else

[2020-08-11 00:05] maximilianpfau commented on #42
Thank you. I have just sent you an email!

[2020-08-11 00:05] #42 closed

[2020-08-11 00:46] abidlabs commented on #31
With the latest version of `gradio 1.1.0`, we now support arbitrary file inputs. Thanks for the suggestion!

[2020-08-11 00:46] #31 closed

[2020-08-11 00:46] abidlabs commented on #36
With the latest version of `gradio 1.1.0`, we now support these outputs. Thanks for the lookout!

[2020-08-11 00:46] #36 closed

[2020-08-11 00:47] abidlabs commented on #23
With the latest version of `gradio 1.1.0`, we now support audio inputs and outputs. Thanks for the suggestion!

[2020-08-11 00:47] #23 closed

[2020-08-11 00:47] abidlabs commented on #26
I just pushed a fix with the the latest version of gradio (1.1.0). Can you see if this works for you?

[2020-08-11 01:47] ehutt opened #43 "latest update breaks .launch()"
I just upgraded from gradio 1.0.7 to 1.1.0 and now I can't launch my demo which was working before.

When I call:

`gr.Interface(fn=ask, inputs=["textbox", "text"], outputs="text").launch()`

I get the following error:

[code]

I am running on MacOS Catalina 10.15.6, working in a conda virtual env with python 3.7.7. I upgraded via `pip install gradio --upgrade`

Please help! Thanks

[2020-08-11 03:04] abidlabs commented on #43
Hi Elizabeth, thanks for pointing this out. We are looking into it.

Abubakar Abid
Department of Electrical Engineering
Stanford University || Paul & Daisy Soros Fellow
@abidlabs <https://twitter.com/abidlabs> || *abidlabs.github.io
<http://abidlabs.github.io>*

On Mon, Aug 10, 2020 at 8:47 PM Elizabeth Hutton <notifications@github.com>
wrote:

[2020-08-11 03:28] abidlabs commented on #43
Fixed in latest version, 1.1.4 (it took 4 tries lol). Thanks again for bringing it to our attention!

[2020-08-11 03:28] #43 closed

[2020-08-11 06:40] rcox771 commented on #26
@abidlabs works great! Yeah I guess I was confused about how the daemon was working behind the scenes in your tunneling.py

Thanks for the lesson and threading experience. I'll close this out and look for other ways I can help pack you back!

🤜
-Russ

[2020-08-11 06:40] #26 closed

[2020-08-11 07:49] rcox771 commented on #32
it looks like scikit-image is already a requirement and scikit-image does support loading of tiff files, but tiff files are often used as a special case of image file that has support for storing stacked images. I've most often run into [tiffs doing satellite imagery work with rasters](https://automating-gis-processes.github.io/CSC18/lessons/L6/reading), where the data can have multiple channels,

[2020-08-11 23:41] abidlabs commented on #26
Glad to hear! Thanks for helping :)

[2020-08-15 17:20] FORTFANOP commented on #41
I'm facing the same error.

A dialogue box pops up showing the  following:

Webcam.js Error: No width and/or height for webcam.  Please call set() first, or attach to a visible element.

After that another error pops up:

Webcam.js Error: Webcam is not loaded yet

Please help.

[2020-08-17 04:25] abidlabs commented on #41
Should be fixed now

[2020-08-17 04:25] #41 closed

[2020-08-17 13:24] ArjunPukale opened #45 "Multiple inputs"
How to take multiple inputs from user?
like age, salary, gender, etc

[2020-08-17 21:00] abidlabs commented on #45
Hi @ArjunPukale, please take a look at the "Numerical Interfaces: Titanic Survival Model" on this page: https://gradio.app/ml_examples

That should be everything you need!

[2020-08-17 21:00] #45 closed

[2020-08-19 22:59] BhavanJ opened #46 "HIgh latency issue with demo"
Hi Gradio team, this is fantastic work.

I am noticing a huge latency difference. My ML model takes around 5 seconds to run when called in python without the demo. But when I measure the latency of the same function when called through the hosted demo it takes around 15 seconds for the same exact input. And this 15 seconds doesn't include the I/O latency of demo. This is very strange. Any thoughts

[2020-08-27 16:37] n0obcoder opened #47 "Is there any support coming up for word embeddings too ?"

[2020-08-28 13:52] abidlabs commented on #47
Hi! We support text input, which can be processed by any function, including one that converts the text to embeddings. Did you have a specific UI component in mind?

[2020-08-29 00:08] dawoodkhan82 commented on #32
@eragon12391 This is a feature we will add support. I'll update this issue when we do.

[2020-08-30 20:38] n0obcoder commented on #47
Hi @abidlabs, I was wondering if I could use gradio to visualize my trained embeddings in a UI

[2020-08-30 21:21] abidlabs commented on #47
Right now, the best way would be to plot the embeddings and then use the the `Image` output (with type=`plot`) to create a plot. Here's an example of a spectrogram, but you can replace the plot with one more suitable for embeddings: https://github.com/gradio-app/gradio/blob/master/demo/spectogram.py

Is there some other way we could create a better interface for you? Let me know what you have in m

[2020-08-31 20:19] ai-fast-track opened #49 "Output Image is not shown in the output placeholder"
First of all, thank you very much for building such an awesome and easy-to-use app.

I'm trying to use gradio for our Object Detection Framework. Everything works smoothly except the output image is not shown in the output placeholder. I can see it in the debug output in the Colab notebook. Here is my notebook, and some screenshots.

Thank you in advance for your help.

NB: https://colab.research.

[2020-09-03 16:09] abidlabs commented on #49
Thank you for bringing this to our attention, we're taking a look at it!

[2020-09-03 16:09] abidlabs commented on #47
Closing, but please feel free to add any more suggestions

[2020-09-03 16:10] abidlabs commented on #38
This should be fixed now!

[2020-09-03 16:10] #38 closed

[2020-09-04 05:59] vseledkin commented on #46
can be related https://github.com/gradio-app/gradio/issues/22

[2020-09-15 01:41] zioncheng opened #50 "How to set response time limit?"
Hi, thanks for this fantastic work.
I noticed that there will be an error in the output if my wrap function spent too much time (like > 2mins).
Is there any way to loose the response time limitation?
(my wrap function like this :
def POC_input(input1):
    time.sleep(135)
    check=True
    return [{"UnitTest":str(check)}, {"UnitTest_msg":'test'}]
Much thanks.

[2020-09-15 03:06] zioncheng opened #51 "The input file has size limit?"
Hi,
There will be an error in the output when uploading a zip(>100M), is this an upload size limit? May I modify this restriction?
Much thanks!!

[2020-09-15 23:11] dawoodkhan82 commented on #16
fixed

[2020-09-15 23:11] #16 closed

[2020-09-17 18:28] abidlabs opened #53 "Interfaces not showing inline in colab notebook"
When I run the demo notebook (https://colab.research.google.com/drive/1BAw8QGFNqeKf1V0E3TLCzWyV6NM_qv_i?authuser=1#scrollTo=od6vQzqDGKoJ) here in colab notebook, I often get this issue:

![image](https://user-images.githubusercontent.com/1778297/93512181-8de6c100-f8e9-11ea-8bfa-c6da99a7fa0d.png)

[2020-09-18 14:11] codeghees opened #54 "Can't import Gradio"
I installed gradio.
Can't import it

Any solution?

  File "<stdin>", line 1, in <module>
  File "C:\Users\Moughees\AppData\Local\Continuum\anaconda3\lib\site-packages\gradio\__init__.py", line 1, in <module>
    from gradio.interface import *  # This makes it possible to import `Interface` as `gradio.Interface`.
  File "C:\Users\Moughees\AppData\Local\Continuum\anaconda3\lib\site-packages\gradio\

[2020-09-18 15:55] its-dron opened #55 "Webcam image input not compatible with 'live' interface"
I wanted to run a real-time classification task on webcam video, rather than selected frames. The API seems like it should allow this by just setting `live=True` in the interface with a webcam input, but the resulting UI still uses the "click to snap" interface.

Code snippet:
[code]

Using gradio 1.1.9 on python 3.7

[2020-09-21 02:48] dawoodkhan82 commented on #49
@ai-fast-track I'm having trouble reproducing this issue. Also having issues importing the mantisshrimp library from your colab notebook. Any idea how I can fix that?

[2020-09-21 12:59] kamalkraj opened #56 "File uploading fails when file is small"
[code]
The file is not uploaded properly when the file size is small. I checked the temp file, it is empty.
You can use the code above to reproduce the issue.
Attached sample file as zip. Unzip before uploading
[tapas.zip](https://github.com/gradio-app/gradio/files/5255453/tapas.zip)

[2020-09-22 11:41] samarth70 commented on #53
Yes, I also faced the same issue.

[2020-09-22 11:48] samarth70 commented on #53
Found it! Use the Colab snippet.

display.Javascript to execute JavaScript from Python
It got resolved for me.

[2020-09-23 23:39] tmabraham opened #59 "Documentation of interpretation is missing"
Under https://www.gradio.app/docs there is no mention of interpretation and how this feature can be used. Will these docs be updated soon?

[2020-09-24 07:58] samarth70 opened #60 "Output image not in full size"
Trying to resize the image of the output . But can't figure it out.

[2020-09-24 09:31] #60 closed

[2020-09-30 00:35] dawoodkhan82 commented on #54
It looks like this is a similar problem linked here (https://stackoverflow.com/questions/48003901/paramiko-importerror-dll-load-failed-the-operating-system-cannot-run-1). Can you try the solutions here and let me know if any of them worked.

[2020-09-30 00:35] #54 closed

[2020-09-30 00:36] dawoodkhan82 commented on #51
Sure, it'd be great if you can fix this issue. Thanks for contributing.

[2020-09-30 00:36] #51 closed

[2020-09-30 13:35] dawoodkhan82 commented on #49
@ai-fast-track Closing issue for now. Please let me know if this still persists.

[2020-09-30 13:35] #49 closed

[2020-10-01 12:13] abidlabs opened #61 "Multiprocessing Lock issue on Windows"
When I run the latest version (1.2.2) of `gradio` on Windows, I get the following error:

[code]

Pretty sure it's because `gradio` swtiched from the `threading` module to the `processing` module

[2020-10-01 12:14] abidlabs opened #62 "Can't quit server with CTRL-C on Windows"
Previously, used to be able to quit a server running from terminal with CTRL-C. No longer can do.

[2020-10-01 12:16] abidlabs opened #63 "Suppress flask output"
When run from jupyter notebook, flask outputs lots of http request status lines, which clutters the jupyter notebook. Please suppress

[2020-10-01 12:16] abidlabs opened #64 "Interpretation doesn't work in Tensorflow 1.x"
For TF 1.x models, interpretation doesn't set up the correct session

[2020-10-01 13:36] #63 closed

[2020-10-05 05:53] jiayiliu opened #65 "[BUG] Flag save all output Images under the same name (ver 1.2.4)"
When multiple output Images present, the Flag will save all images under the same name.
Test code to reproduce the bug:

[code]

Expected behavior:
Images should have prefix name as their label names.

[2020-10-05 11:45] #61 closed

[2020-10-06 13:53] #65 closed

[2020-10-06 13:58] #64 closed

[2020-10-08 12:32] dawoodkhan82 commented on #56
@kamalkraj fixed with latest commit.

[2020-10-08 12:32] #56 closed

[2020-10-08 12:33] #53 closed

[2020-10-08 13:12] kamalkraj commented on #56
@dawoodkhan82
I installed the gradio using setup.py
<img width="1680" alt="Screenshot 2020-10-08 at 6 40 59 PM" src="https://user-images.githubusercontent.com/17096858/95463030-e9124d80-0995-11eb-9014-ce3f6d70a889.png">

New error

[2020-10-08 13:19] dawoodkhan82 commented on #56
@kamalkraj works for me after using `python setup.py install`. Make sure you uninstall first.

![Screen Shot 2020-10-08 at 9 18 31 AM](https://user-images.githubusercontent.com/12725292/95463906-5945b280-0947-11eb-83de-b15b5b5b6b21.png)

[2020-10-10 00:24] dawoodkhan82 commented on #50
@zioncheng When using the public link (share=True) the limit will be 60 seconds and we are going to be working on extending that soon. I'll update you on this issue when we do.

[2020-10-10 00:24] #50 closed

[2020-10-10 17:38] labdalla opened #68 "Disable automatic matching of input and output sizes"
Could there be an option to disable the input and output interfaces being automatically the same size? For example, when there are many UI components in the output interface, and not as many in the input interface, the input interface is still forced to be the same size as the output interface. Is there an option to disable that, if the user desired?

Currently what happens:
<img width="1022" alt=

[2020-10-11 04:30] MattPitlyk opened #69 "Option to enable local network connections by setting Flask's host to "0.0.0.0""
Hi,

I'm trying out gradio for the first time and loving it!

I often set up services and applications meant to be accessible inside my network. When it's a Flask app, I do this by setting Flask's host to "0.0.0.0" so that it listens on all IP addresses, and I'd love to be able to do that with gradio too.

- [This comment](https://github.com/gradio-app/gradio/issues/24#issuecomment-658129710) from

[2020-10-11 07:16] abidlabs commented on #69
Hi @MattPitlyk, thanks for looking into this issue. This seems like a generally useful thing, and the second approach (using the existing `server_name` argument) would be the ideal way to do this. Please go ahead and submit a PR, thank you!

[2020-10-11 07:19] abidlabs commented on #46
Hi @vseledkin @BhavanJ did you see this issue with `share=True` and using a `xxxxx.gradio.app` link? Or locally?

[2020-10-11 09:06] abidlabs commented on #46
I am not able to reproduce locally, and only see this issue when we upload large samples (> 1 MB) on the public link. We will put a warning in such cases

[2020-10-13 14:45] jjames2 commented on #35
@abidlabs For this, if share=False, is anything sent to gradio.app? What about analytics? Do I need to ensure that is disabled? If share and analytics are disabled, does any information pass through a third party service or does everything remain within the host server/client machine?

[2020-11-04 16:47] BhavanJ opened #75 "Unable to transmit large image (>1 MB)"
Hi all,

First of all very nice work. I would like to mention that the image input component doesn't seem to allow one to transmit large images (> 1MB or so) to the machine running the demo. It simply displays in red, "error" at the top right of the image input on the web demo, and I don't get any data or messages on the machine hosting the demo. Can you please look into this?

Thanks,
Bhavan

[2020-11-04 19:30] abidlabs commented on #75
Thanks @BhavanJ, your feedback helps a lot! To help us diagnose this, can you tell us whether this was through a public link (xxxx.gradio.app), or was this with `gradio` running locally?

[2020-11-05 08:21] BhavanJ commented on #75
Thanks @abidlabs for getting back on this. It was through gradio running locally.

[2020-11-13 00:48] BhavanJ commented on #75
Were you able to check on this?

[2020-11-13 17:25] abidlabs commented on #75
Sorry for the delay, @aliabid94 is looking into it right. Ali, can you let us know what you found?

[2020-11-14 08:29] soumya997 commented on #6
@dawoodkhan82 How to check the version of gradio?
I used
[code]
and its giving me this error,what to do?
[code]

[2020-11-14 08:38] samarth70 opened #78 "Unable to debug error"
I am trying to understand the error in my code (which was working fine a few days back), but not able to find the error. The function is returning image fine if used separately without Gradio.
So, if there is an error why is it not debugging?

![issue1](https://user-images.githubusercontent.com/44370096/99143270-47f96f80-2684-11eb-9194-7f5680ff2f0b.jpg)
![issue2](https://user-images.githubusercont

[2020-11-14 18:58] abidlabs commented on #78
Hi @samarth70 would you be able to share a link to your colab notebook or some code to help us reproduce the issue?

[2020-11-15 04:49] samarth70 commented on #78
Is there any alternative? I am not wishing to share code at the moment.
Pls, explain why is there no traceback for the error?

On Sun, Nov 15, 2020 at 12:43 AM Abubakar Abid <notifications@github.com>
wrote:

[2020-11-16 14:39] #62 closed

[2020-11-16 14:40] #46 closed

[2020-11-17 15:04] samarth70 commented on #78
If reason could be high latency in my code i.e it’s taking a long time to process.Can u give a solution to fix it?

[2020-11-18 13:53] aliabid94 commented on #75
@BhavanJ I haven't been able to reproduce this, even with very large images. Can you confirm you are running the latest version of Gradio? If you can provide more information about the images that are failing, such as extension type or even a link to the image, and if you could provide the browser console error message, that would help us pursue the solution

[2020-11-19 08:03] dawoodkhan82 commented on #6
fixed with the latest commit

[2020-11-19 08:03] #6 closed

[2020-11-25 18:35] BhavanJ commented on #75
@aliabid94 Thanks for getting back. I figured out the issue, sorry it was not issue with Gradio. It was happening because, I was using nginx as a web server for load-balancing and nginx had a file size limit. I had to update that limit to fix the issue. Appreciate your help on this.

[2020-11-25 18:35] #75 closed

[2020-12-08 13:57] samarth70 opened #81 "ContextualVersionConflict on colab"
![issue2](https://user-images.githubusercontent.com/44370096/101492902-6a359300-398d-11eb-8317-8fee8e276690.jpg)

[2020-12-08 14:05] abidlabs commented on #81
Thanks for catching that! It's fixed now. You may need to restart the colab notebook to fix it.

[2020-12-12 14:20] #81 closed

[2020-12-13 22:59] romellfudi opened #82 "Demo：MissingSchema: Invalid URL 'None': No schema supplied. Perhaps you meant http://None?"

[2020-12-14 02:47] vanztj18 opened #83 "MissingSchema Error"
Hello, whenever I try to run a Gradio interface I get this error. I am running these in a Google Colab Notebook, this happens on the ML examples on the website, and in my personal project. These worked fine before a few days ago, but now they've stopped working without me making any changes to my code.

Thank you!
`---------------------------------------------------------------------------
Missing

[2020-12-14 04:37] aliabid94 commented on #82
should be fixed now!

[2020-12-14 04:39] aliabid94 commented on #83
should be fixed now!

[2020-12-14 05:11] #82 closed

[2020-12-27 04:59] Lion471 opened #93 "Modnet App not working"
I have been using this app until today. Now, when I visit this site, it says "Launching Your Gradio Interface". "You will receive an email notification when the process is complete. You may close this page."

I don't know what this means. Has the code changed so that the app no longer works?

https://gradio.app/g/modnet

[2020-12-27 07:17] abidlabs commented on #93
Thanks for bringing this to our attention. We're looking into it.

Abubakar

On Sat, Dec 26, 2020 at 11:00 PM Lion471 <notifications@github.com> wrote:

[2020-12-27 16:19] abidlabs commented on #93
Please try now

On Sun, Dec 27, 2020 at 1:16 AM Abubakar Abid <a12d@stanford.edu> wrote:

Abubakar Abid
Department of Electrical Engineering
Stanford University || Paul & Daisy Soros Fellow
@abidlabs <https://twitter.com/abidlabs> || *abidlabs.github.io
<http://abidlabs.github.io>*

[2020-12-28 19:12] abidlabs commented on #93
It's closed now, thanks for bringing it to our attention!

[2020-12-28 19:12] #93 closed

[2020-12-30 07:04] germanwalakarishma opened #94 "Show/hide inout components based on selection"
Based on dropdown selection, either image or file input component should be populated. Is there any way to do it ?

[2021-01-06 15:40] Zafershah24 commented on #78
Yes there is a problem with High Latency, if your ML model takes too long to process, then gradio throws an error.
Any Fix for that?

[2021-01-13 18:02] abidlabs commented on #59
Closed with 1.4.0

[2021-01-13 18:02] #59 closed

[2021-01-13 18:02] abidlabs commented on #68
Closed with 1.4.0

[2021-01-13 18:02] #68 closed

[2021-01-13 18:03] abidlabs opened #95 "Password protect GUI"
With `share=True`, a public link is created. Is it possible to password-protect the prediction / flagging functions so that my computer is not overloaded?

(I've heard this feedback from 5 people now in the academic presentations)

[2021-01-14 18:28] aliabd opened #96 "Accept .pdf for Image input"
As requested by @BhavanJ, can we accept .pdf files for the Image input in addition to .png, .jpg, etc?

[2021-01-18 17:20] abidlabs opened #97 "From a user: Hub page titles"
Hey, I recently shared a gradio page with someone. The preview title of the page on social media is just "Gradio" and information about it, but in my case the link I wanted to share was for the specific model. "DAN: Unfolding the Alternating Optimization for Blind Super Resolution". It might be nice if the preview showed the title of the model / specific page.

[2021-01-18 17:21] abidlabs opened #98 "DAN Model not working"
by the way, I tried to upload a photo here: https://www.gradio.app/hub/dawoodkhan82/dan and it did not work. I got a 500 error when I hit submit

[2021-01-18 18:06] 1Paws7 opened #100 "gradio Model hub broken link"
This is the broken link:--
![Screenshot (286)](https://user-images.githubusercontent.com/74103126/104949934-c86e8080-59e5-11eb-8530-7a9920884d84.png)

This is the repo on Model hub i m trying to see:--
![Screenshot (286)](https://user-images.githubusercontent.com/74103126/104949984-de7c4100-59e5-11eb-97b1-449f0281dc2a.png)

plz fix this broken link  In Model hub to github rep there is a Gradio int

[2021-01-18 18:29] aliabid94 commented on #100
Fixed. THank you for pointing this out!

[2021-01-18 18:29] #100 closed

[2021-01-19 16:32] aliabid94 commented on #97
Fixed

[2021-01-19 16:32] #97 closed

[2021-01-19 16:34] aliabid94 commented on #94
Currently this is not supported.

[2021-01-19 16:41] aliabid94 commented on #55
This has been fixed

[2021-01-19 16:41] #55 closed

[2021-01-19 16:47] #94 closed

[2021-01-19 17:16] aliabid94 commented on #95
Supported now with auth=(username, password) kwarg

[2021-01-19 17:16] #95 closed

[2021-01-19 17:52] aliabd opened #101 "Ability to resize input/output boxes"
As requested by @BhavanJ, can we get more flexibility in the UI CSS? Mainly, can we enable control of the input/output sizing (width/height)? Sometimes images end up too small on the UI and are harder to see, so we can start with just the image component

[2021-01-20 17:06] aliabid94 commented on #101
You can now pass in any custom css (either as a file path or raw css) with the css= argument to the Interface object. See docs for more details.

[2021-01-20 17:06] #101 closed

[2021-01-20 17:26] aliabd opened #102 "Can't Update Description and Thumbnail on Hub"
When I click update, the page reloads but nothing has changed.

https://user-images.githubusercontent.com/9021060/105211789-1c07d800-5b66-11eb-83f1-2eb478f80b87.mp4

[2021-01-20 17:30] aliabd opened #103 "Hosted only lists 30 repos in dropdown"
The "Select your public repo" dropdown only lists the first 30 (in alphabetic order)

[2021-01-22 17:58] abidlabs opened #104 "/tmp permissions issue on Windows"
With some input interface types (`File` and perhaps `Audio`, there are certain permission issues) that prevent them from being used.

[2021-01-25 18:22] abidlabs commented on #104
Closed in 1.4.3

[2021-01-25 18:22] #104 closed

[2021-01-26 11:03] geshihuazhong opened #107 "High CPU utilization"
It takes up 100% of the CPU for a long time

[2021-01-29 09:26] MesumRaza opened #111 "Dataframe Layout Issue"
The Dataframe layout needs to be improved and made to the standard of Jupyter Display etc.

[2021-01-29 09:26] MesumRaza opened #112 "DataFrame Object Issue"
The Dataframe is not able to show a dictionary in the cell itself.

[2021-01-29 09:29] MesumRaza opened #113 "GIF Recording is buggy after you strech Dataframe cant click stop button"
![image](https://user-images.githubusercontent.com/22402962/106257439-58aa9200-623e-11eb-8e84-219604726813.png)

[2021-02-09 17:32] #98 closed

[2021-02-10 21:35] abidlabs commented on #107
Hi @geshihuazhong can you share what script you're running so that I can better reproduce your issue?

[2021-02-11 17:57] abidlabs commented on #107
I'm going to close this issue because I can't reproduce it with the current information. Feel free to open it with additional details?

[2021-02-11 17:57] #107 closed

[2021-02-11 17:57] #102 closed

[2021-02-11 17:57] #103 closed

[2021-02-11 17:59] abidlabs commented on #78
Hi @samarth70, it's hard for us to offer more information without knowing some more details. Can you share with us another example (without sensitive code) to help us reproduce this problem? Closing for now, but feel free to open with additional details.

[2021-02-11 17:59] #78 closed

[2021-02-12 19:40] potipot opened #117 "Submodules don't get initialized in hosted deployment"
When launching a hosted deployment from repo, the submodules used in my solution don't get cloned resulting in
[code]

I guess a flag of `--recurse-submodules` is missing somewhere in the workflow.

[2021-02-12 23:20] aliabid94 commented on #112
For nesting dicts within array, use the JSON type.

[2021-02-12 23:20] #112 closed

[2021-02-12 23:25] aliabid94 commented on #113
Unable to reproduce. In the screenshot provided, the record button is still visible. Can you provide more detail?

[2021-02-16 05:22] keerthana-ceg commented on #65
I have some issue with flagging, Im having a function that takes text query and results the list of document-ids, when using allow_flagging=True in interface, only the input gets saved the output is not being saved to flagged/logs.csv path.
Below is the code:

`def get_search_results(search_type, query, size=30, dense_field_name='tokenized_text_embedding'):
    results = search_query(et, size, que

[2021-02-16 06:47] aliabd commented on #65
I was able to reproduce this @keerthana-ceg, I will follow up here with the fix soon.

[2021-02-16 21:01] aliabd commented on #117
Thanks for opening this issue @potipot, @aliabid94 is looking into it and we'll have a fix soon

[2021-02-17 17:35] abidlabs commented on #117
Should be fixed now @potipot! Thanks for bringing it to our attention.

[2021-02-17 17:35] #117 closed

[2021-02-17 17:38] abidlabs opened #118 "More detailed feedback with flagging"
One issue I've heard from academic users is the ability to pass in more detailed feedback with flagging. I can imagine for example, when the flagging button is clicked, for a dropdown to happen below it, which includes some or all of the following:

* a thumbs up / thumbs down button to clarify if the prediction is correct / incorrect
* a textbox that allows freeform input
* ability to modify the

[2021-02-17 19:24] potipot commented on #117
Thanks a lot for your quick response!

[2021-02-19 18:32] piraka9011 opened #119 "Accept non-wav files as input"
Currently, the audio input supports only wav files using `scipy`.

Would be good to also support other audio files like mp3 using `librosa` or someother library.

[2021-02-19 18:58] abidlabs opened #120 "Better icon / image for keyboard shortcuts for examples"
This doesn't look very nice:

![image](https://user-images.githubusercontent.com/1778297/108548796-efa0c200-72b1-11eb-9bf6-d3484450300d.png)

Can we replace with an image / icon, maybe like this:

![image](https://user-images.githubusercontent.com/1778297/108548922-19f27f80-72b2-11eb-97c3-e3f9f291f0cb.png)

[2021-02-19 23:25] piraka9011 commented on #118
On this note, can you improve the way you store audio feedback when flagged?
Instead of the base64 string of audio file in the csv, can it be a file, and the csv contains the file name?

[2021-02-19 23:37] aliabd commented on #118
Thanks for ..flagging.. this @piraka9011, we'll definitely implement it.

[2021-02-19 23:50] aliabd commented on #118
@piraka9011 this is fixed in https://github.com/gradio-app/gradio/commit/00ef4e47d02dbd690e613ad950e5bd9cc5248592

We'll include it in the next pip update. You can go ahead and install from github to use it. Please let us know if you have any issues or feedback.

[2021-02-20 00:00] aliabd commented on #119
We're looking into this @piraka9011.

For now, you can pass `type="file"` into the `Audio` class and it will return the input as a temporary file object. This will allow you to accept audio files in any format, but you will have to convert them to numpy or mfcc etc. More info in [our docs](https://gradio.app/docs#i_audio).

[2021-02-20 00:09] piraka9011 commented on #118
I'll give it a shot now, thanks!

[2021-02-25 19:21] abidlabs opened #122 "Gray out interpret and flag buttons before prediction is submitted"
I was trying to reproduce the issue that one of our users reported where the interpret button wasn't working reliably. I think the error is that he was trying to run the interpretation before clicking submit. Can we gray out / hide those buttons before a submission is run?

[2021-02-25 21:39] abidlabs opened #123 "The ability to not have all those extra image editing tools, only cropping"
One of our users wants a cleaner image editing interface with only cropping. Is that possible?

[2021-02-25 21:40] abidlabs opened #124 "Being able to arrange multiple inputs / outputs in grids"
A user wants to show multiple images as outputs and wants to be able to arrange as a 2x2 grid rather than vertical layout

[2021-02-25 21:42] aliabid94 commented on #123
Yes, set tools=“select” in the image input kwargs

On Thu, Feb 25, 2021 at 1:40 PM Abubakar Abid <notifications@github.com>
wrote:

[2021-02-26 18:17] ak9250 opened #125 "gif export not working outside whole screen"
I tried the exporting gif using the chrome tab option and the application window options, it only downloads when you select entire screen

[2021-03-01 20:42] mortium91 opened #126 "The default value of the input slider not set"
When setting the input slider to a default value it still is 0 by default:
`gr.inputs.Slider(minimum=0, maximum=1, default=0.015, label='Input weight')`

![image](https://user-images.githubusercontent.com/53741344/109556319-f3fd8400-7ad6-11eb-8a2c-aa6e66d255d9.png)

[2021-03-02 18:42] aliabid94 commented on #126
Thanks for pointing this out! This should be fixed as of gradio 1.6, try pulling the latest package. Note that you may need to set the step= kwarg of the Slider to 0.001 because by default, the step size divides the interval into 100s.

[2021-03-02 18:42] #123 closed

[2021-03-02 18:43] aliabid94 commented on #122
Done.

[2021-03-02 18:43] #122 closed

[2021-03-02 18:43] aliabid94 commented on #120
Done.

[2021-03-02 18:43] #120 closed

[2021-03-02 18:44] aliabid94 commented on #96
You may use the general file input for PDF upload. We do not plan on supporting general PDFs as images.

[2021-03-02 18:44] #96 closed

[2021-03-02 18:45] aliabid94 commented on #113
Closing because unable to reproduce.

[2021-03-02 18:45] #113 closed

[2021-03-03 03:00] jaslineljy opened #127 "Need help in manipulating code to produce audio output in gradio"
Hi,

Firstly, i would like to say that gradio interface looks amazing, especially with the idea of dragging in the audio files and produce the output. I would really like to implement this onto a model that i am experimenting on, [Demucs](https://github.com/facebookresearch/demucs) (a waveform model that separates input waveform into 4 sources.) so that I am able to show others the big picture of

[2021-03-03 04:23] aliabid94 commented on #127
Hi jaslineljy, glad to hear you're exploring ML with Gradio! The way Gradio works is by wrapping a function that takes inputs and returns outputs, by creating components for each of the function inputs and outputs. In your example, you wrap the function main, which takes no inputs - rather, you are using an argument parser to pass inputs to the entire program, not the function main. You will need

[2021-03-03 05:11] jaslineljy commented on #127
Hi @aliabid94 thank you so much for your help! I manage to make it work after assigning each individual files to track_1,track_2, track_3, track_4. :)

Can i ask if Gradio supports adding extra labels or change labels to the output. Because i see the samples given on Gradio website it seems like it is always default output title. some examples of the output labels i meant can be seen below
![sampl

[2021-03-03 05:22] aliabid94 commented on #127
Great! You can add label=“” to the output components to give them custom
labels

On Wed, Mar 3, 2021 at 12:11 AM jaslineljy <notifications@github.com> wrote:

[2021-03-03 06:20] jaslineljy commented on #127
I am not sure if i am doing it right... i am having errors... is there any examples?
![image](https://user-images.githubusercontent.com/44189034/109762357-67180f00-7c2b-11eb-9edb-cd9943fc4ddb.png)

[2021-03-03 06:33] abidlabs commented on #127
Actually, it would look like this:
[code]

[2021-03-03 06:46] jaslineljy commented on #127
Thank you so much! Manage to work :)

[2021-03-03 07:14] #127 closed

[2021-03-03 13:17] chittiman opened #128 "Feature request - Copy output text to clipboard button"
I'm working on an app where the output is text.  Is it possible to add a button which will help to copy output text to clipboard

[2021-03-03 17:24] aliabid94 commented on #128
There isn't a direct way to do this now but one hacky way you could do this now is by adding an HTML output to your interface. As part of the HTML output, you add a button with onclick javascript to copy the text of the output div into the clipboard.

[2021-03-03 17:32] aliabid94 commented on #127
Glad we could help @jaslineljy! If you get a chance, try uploading your model as a repo to the Hub [(instructions here)](https://gradio.app/introducing-hosted)

[2021-03-04 03:16] piraka9011 commented on #118
Just wanted to confirm this is working but was wondering why the base64 file is still in the CSV?
I think it just clutters the CSV (My 2c)

[2021-03-04 03:28] aliabid94 commented on #118
Can you confirm you’re using gradio >1.6? Files are stored in folders now, not base64 representations

[2021-03-04 04:14] piraka9011 commented on #118
Indeed, they are stored in files, but the base64 encodings still show up in the CSV.

[2021-03-04 04:16] aliabid94 commented on #118
Hmm that shouldn’t be the behaviout, I’ll take a look

[2021-03-05 10:27] nhuvan opened #130 "Huge inference time when using gradio interface with GPU"
Hello,
It seems my model does not run on GPU when calling from the Gradio interface.
In my server, it runs on GPU and the inference time is only 3s. But when using Gradio interface on the same code, it takes 3 minutes.

[2021-03-05 10:28] nhuvan commented on #130
Is there any config related to GPU I need set?

[2021-03-06 19:49] alenma04 opened #131 "Auth not working"
Hello,
When I am trying to secure my app by passing values to auth parameter in launch function.It seems to have no effect.

[2021-03-07 10:17] abidlabs commented on #131
Tested and was able to reproduce. We're looking into it.

[2021-03-07 10:18] abidlabs commented on #128
@chittiman here's an example of a repo using Gradio to do exactly this! https://github.com/joaopalmeiro/gradio-playground-app/blob/main/app.py

[2021-03-07 10:18] #128 closed

[2021-03-09 16:57] mortium91 opened #134 "Image mode not supporting alpha channel"
We noticed for image inputs only rgb and black/white is supported and the alpha channel gets removed. You guys plan to support transparency anytime soon? We use .png's with transparency a lot!

Besides that, Gradio is awesome btw!

[2021-03-09 17:09] nhuvan commented on #130
What is the problem with Flask? do you have any solution?

[2021-03-09 18:54] nhuvan commented on #130
Thank you. I solve the issue by making a local rest api for the model.

[2021-03-10 01:46] atejap05 commented on #49
Someone else has an example of how can I use gradio for object detection?
I've been tried to output an image with preds bboxes, but I went bad.

[2021-03-10 19:39] aliabid94 commented on #134
You can actually pass image_mode="RGBA". Thanks for pointing that this is missing from the documentation! We use Pillow for image processing, so any image_mode supported by PIL is supported by gradio

[2021-03-10 19:40] aliabid94 commented on #118
@piraka9011 I have not been able to reproduce on gradio = 1.6.1. Can you confirm your version number?

[2021-03-11 19:22] piraka9011 commented on #118
I had to refresh my virtualenv and it works. Thanks for the follow up!
Feel free to close @aliabid94

[2021-03-11 20:19] ambat77 opened #135 "Dataframe output constantly needs resizing"
Hi,
The columns of a pandas data frame output are narrow. Require manual resizing for readability.

[2021-03-12 19:15] aliabid94 commented on #131
Fixed now as of 1.6.4. Thanks for pointing it out.

[2021-03-12 19:15] #131 closed

[2021-03-12 19:15] aliabid94 commented on #119
mp3 now supported. Thanks for pointing this out.

[2021-03-12 19:15] #119 closed

[2021-03-12 19:15] #118 closed

[2021-03-12 20:01] ambat77 commented on #131
Just checked and it worked. Awesome.

[2021-03-18 18:54] tetrahydra opened #136 "Unable to download model from Google Drive"
Hi,

I executed face_segment.py in the demo folder. But it cant download the file face_seg_model_weights.h5

It received:
H1>Not Found</H1>
<H2>Error 404</H2>

[2021-03-22 10:25] #136 closed

[2021-03-23 16:12] nicolasshu opened #137 "Using Audio returns an error"
I have been trying to either use the microphone or upload an audio file, but it tends to output an error. I tried using the `spectrogram.py` demo. I tried uploading an audio file in `.wav` form, with a duration of 9:59, sampling frequency of 16kHz and bitrate of 256kbit/sec

[code]

[2021-03-24 20:10] aliabid94 commented on #137
Hey Nicolasshu. I tried running spectogram.py with a large audio file and it ran fine. Looking at your error logs, it seems like the issue is somewhere with the tkinter and matplotlib, not with the audio (you can test this by trying to run an audio-only demo like reverse_audio.py).
Can you provide the versions of Gradio and matplotlib you are using?

[2021-04-09 05:50] alenma04 opened #140 "Gradio shared url throws error in UI if response take more than 70 seconds."

[2021-04-10 08:21] mohith01 opened #141 "[Feature] Integrate plotly for graphs"
Gradio is great but it would be really amazing if we can add graphs using plotly or matplotlib in there.

[2021-04-12 06:52] mohith01 commented on #141
If anyone comes across this problem, we can solve this by exporting plotly picture as html and then importing it as html in gradio

[2021-04-12 06:58] mohith01 commented on #141
[code]

Your output will be something like this
![](https://user-images.githubusercontent.com/42903811/114353298-80956a80-9b8a-11eb-8fa8-a33b3c5c98f1.png)

[2021-04-14 10:42] rishanshah opened #145 "Gradio digit recogniser app no longer works with sketchpad causing keras input problem"
I have been trying to follow a tutorial on a gradio digit recognizer app. and I have the following code
[code]

Firstly the ```sketchpad = gr.inputs.Sketchpad()``` no longer works when the ```sketchpad``` variable is put into the interface function - it just appears to be stuck. It works when I put in ```'sketchpad'``` into the interface function. But when I do this I get issues with keras and sha

[2021-04-14 16:58] #111 closed

[2021-04-14 16:58] #135 closed

[2021-04-14 17:53] aliabid94 commented on #137
Closed due to lack of response

[2021-04-14 17:53] #137 closed

[2021-04-14 18:35] aliabid94 commented on #145
Hey rishanshah, you have a problem in your code. You create the gr.inputs.Sketchpad object but that's not what you pass as input to the gradio Interface. Instad you pass the string shortcut "sketchpad". The gr.inputs.Sketchpad interface has been deprecated - now the proper way to create a skechpad is by using the gr.inputs.Image component, which the string shortcut "sketchpad" uses anyway. This pa

[2021-04-16 13:50] stefanmijic commented on #140
I've run into the same issue. I'm using Gradio as a training interface, that requires more then half an hour to generate the output. I've so far only been able to circumvent the issue. The operation does finish usually and everything is visible from the console, though the UI only shows an error (after approximately a minute or so after initiating it).

[2021-04-17 10:47] voltek62 opened #148 "Gradio doesn't work with Heroku"
Hello,

I followed your tutorial on Medium.

But I have a conflict with the new version of Gradio.
![Capture du 2021-04-17 12-45-56](https://user-images.githubusercontent.com/2698956/115110296-e9aa2300-9f7a-11eb-9086-60d3addd442c.png)

I tried to add a file runtime.txt to change my python version but no result.

You project is excellent and  I think Heroku + Gradio is an excellent solution.

Could

[2021-04-17 17:05] abidlabs commented on #148
Thanks @voltek62 we're looking into it and we'll get back to you as soon as we can!

[2021-04-17 21:39] tirthajyoti opened #149 "What is the right way of returning matplotlib figure"
You have at least three type of code examples for returning a figure. Which one is to be followed?

[code]
- This one is highly suspicious. Returning the `plt` which is imported as a module?

[code]
- will this one return any data after closing the plot?

[code]
- this one seems to be the right one but have you tested it working because I am getting errors with a histogram. The function is running

[2021-04-19 06:42] alan-ai-learner opened #150 "How can we upload an pdf file and utilize the file ?"

[2021-04-19 07:52] subhamChakraborty23 commented on #24
nice article,thanks for sharing.

[2021-04-19 18:45] #124 closed

[2021-04-20 06:59] alenma04 commented on #150
use gr.inputs.File(label="upload file)

[2021-04-20 18:09] aliabid94 commented on #150
alenma04 is correct, use the gr.inputs.File component. This will pass a NamedTemporaryFile to your function, and you can then access the path with file_obj.name. You can use any PDF reading library like pyPDF2 to read your file.

[2021-04-20 18:09] #150 closed

[2021-04-20 19:02] aliabid94 commented on #140
Currently this is an issue when running Gradio in Colab, or when share=True. Working on a fix.

[2021-04-20 23:26] aliabid94 commented on #140
This is now fixed - new timeout is 10 minutes. Thanks for pointing this out!

[2021-04-20 23:29] aliabid94 commented on #140
Brought up the timeout to one hour.

[2021-04-20 23:57] stefanmijic commented on #140
Is the issue fixed in the current 1.6.4 release? I just tried running the code and still had a timeout error after a few minutes (both running it locally as well as via Gradio with share=True).

[2021-04-21 00:02] aliabid94 commented on #140
Gradio version shouldn't matter, the timeout happens at the external server. Did it timeout around 5 minutes? I realized I hadn't updated one config, changed it from 5 min to 1 hour just now, can you try again?

[2021-04-21 00:18] stefanmijic commented on #140
I still get the same timeout error after about 5 minutes. This is also the case for different scripts, that also take a rather long time to execute.

[2021-04-21 00:23] aliabid94 commented on #140
Alright I'll take a look.

[2021-04-21 14:27] szm0020 opened #155 "function does not work within gradio"
Hello,

I have written a function that involves pandas operations. At some point, I want to assign the value of the first row of a column to a new variable. When I run the function outside of gradio, there is no problem. Inside gradio, I keep getting "IndexError: index 0 is out of bounds for axis 0 with size 0".

So the function is running fine and I can print the dataframe (it not empty). What co

[2021-04-21 18:49] abidlabs commented on #149
This is a good question @tirthajyoti, we'll consolidate and have a consistent way of returning a plt figure. Let us look into this and get back to you soon

[2021-04-21 18:50] abidlabs commented on #155
Hi @szm0020 that seems pretty strange to me. Would you be able to share the code so that we can try to look into it ourselves?

[2021-04-21 19:05] abidlabs commented on #145
Closing this as this seems to be solved

[2021-04-21 19:05] #145 closed

[2021-04-21 19:27] abidlabs opened #157 "Example labels showing up as NaN when "Run all""
![image](https://user-images.githubusercontent.com/1778297/115609872-b551a200-a2ad-11eb-8ea8-420264c20051.png)

[2021-04-21 20:19] uzair-ali10 opened #158 "How to use Gradio with MobileNet"
This isn't an issue but a question
Hello I started using gradio today but however, I encountered an error while using it despite of trying to figure it out for many hours I decide to post it here.

I'm trying to use it with Mobile Net model but I have an issue app
I've attached the collab link below so pardon me if it is a noob question

[https://colab.research.google.com/drive/1zVgNQER2V39Lu_e8Mc

[2021-04-21 20:28] ividal opened #159 "share=False ignored when using 0.0.0.0 as server_name inside Docker"
I'm running Gradio inside a Docker container on my own server and followed [this advice](https://github.com/gradio-app/gradio/issues/24#issuecomment-658129710) to use server_name="0.0.0.0" tp make it work.

I do not want an external URL, so I use `launch(..., share=False)`. However, this is ignored and the public URL is still generated.

It seems this is due to [this override](https://github.com/g

[2021-04-21 20:32] abidlabs commented on #158
Hi @uzair-ali10 welcome to gradio! The issue seems to be the `image = image.reshape((-1, 299, 299, 3))` line should be `image = image.reshape((-1, 224, 224, 3))` since that is the size of the input image for Mobile Net.

[2021-04-21 20:32] #158 closed

[2021-04-21 20:34] abidlabs commented on #159
Hmm, this shouldn't be happening. Let us look into it.

[2021-04-22 07:08] szm0020 commented on #155
Hi @abidlabs
The code is large but this is the part that causes the issue:

--------------------------------------------------------

f = {'Y':['min','mean']}
setdf1=fin1.groupby(['varA', "varB"], as_index = False).agg(f)
sortdf2=setdf1.sort_values(by=[('Y', 'max'), ('Y', 'min')], ascending=False, inplace=False)
sortdf2.columns = sortdf2.columns.get_level_values(0)
maxcy2=sortdf2['varB'].values[0]

[2021-04-22 20:17] sambhugit commented on #149
"return plt" worked for me. I tried plt.figure() but I couldnt see any image.

[2021-04-23 17:25] abidlabs commented on #155
Hi @szm0020 I will need more information. If it's possible to share a colab notebook with the full code (or some smaller code that throws the same error), that would be helpful. In the meantime, consider looking at:

- Does the value of `sortdf2['varB']` change depending on whether the function is running in/out of gradio
- What are the inputs/outputs to your function? Trying printing them to make

[2021-04-23 17:26] abidlabs commented on #130
Closing because the issue is likely based on this link: https://discuss.pytorch.org/t/pytorch-inference-is-slow-inside-flask-api/95476/3:

[2021-04-23 17:26] #130 closed

[2021-04-23 20:35] abidlabs commented on #159
Hi @ividal I'm not getting this error: see below

![image](https://user-images.githubusercontent.com/1778297/115927003-5e80cf80-a449-11eb-9804-b25950623087.png)

I think it might be that 0.0.0.0 isn't configured correct on your docker container and it may be inaccessible.

[2021-04-23 21:14] abidlabs commented on #148
Just wanted to give you a quick update -- I've been able to reproduce this issue. Am currently investigating it, will update you when I have a solution

[2021-04-24 19:27] voltek62 commented on #148
Thanks for the update, I hope you can find a solution.

[2021-04-25 15:04] raisanjivj6693 commented on #83
Still getting the same error

Invalid URL 'None': No schema supplied. Perhaps you meant http://None?

[2021-04-26 17:49] pit9921 opened #161 "How to define function for regression problems"
I can't to define the the function for a regression model.
The goal is to display the predicted value in the app.
Could you please modify the last row in the code below. The Output "Durchmesser" is continuous.

[code]

[2021-04-26 17:59] abidlabs commented on #161
Can you try converting it to a `float` instead of a `numpy` `float`? So change the last line to be:
```return {'Durchmesser': float(pred['Label'][0].astype('float64'))}```

[2021-04-26 18:30] pit9921 commented on #161
Thank you for the answer. But there is no improvement.
What should i check?

![grafik](https://user-images.githubusercontent.com/77811022/116132474-e545de80-a6cd-11eb-9168-50e54edd5f86.png)

![grafik](https://user-images.githubusercontent.com/77811022/116132754-3229b500-a6ce-11eb-90da-124eced030e7.png)

[2021-04-26 18:50] abidlabs commented on #161
@pit9921 would you be able to share a colab notebook with the complete code so that we can try running it? It sounds like the problem is with the line `pred = predict_model(model, df)`, not with the gradio interface

[2021-04-27 18:09] ividal commented on #159
Hi @abidlabs,

Thanks for looking into it. Not sure about 0.0.0.0 not being configured: other services running inside that container (e.g. a jupyter notebook) are accessible from the outside.

Quick question on your screenshot: were you running that inside a docker container?

Thanks again!

[2021-04-28 09:25] theguardsgod opened #163 "It is too slow when I run my algorithm"
It needs to finish my algorithm for about 120 seconds. while it takes only 10 seconds if I start my algorithm in terminal

[2021-04-28 12:44] szm0020 commented on #155
Hi @abidlabs
Thank you for your comments, I was able to find what I had to change in my function to make it work within Gradio. Your comments/suggestions helped me a lot and now it works fine.
Thanks again

[2021-04-28 12:44] #155 closed

[2021-04-29 18:17] abidlabs commented on #159
Hi @ividal yes, I was running that inside a docker container on an Ubuntu 18.04 machine. Since we cannot reproduce the issue, I will go ahead and close the issue.

But I will suggest to you to fork the repo and remove the override and see if it works for you. You can install your forked version of Gradio using this strategy (https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-br

[2021-04-29 18:17] #159 closed

[2021-04-29 18:19] abidlabs commented on #163
Hi @theguardsgod. It is likely this issue, which affects many libraries including Gradio and PyTorch that run from a different thread, and has been discussed before: https://github.com/gradio-app/gradio/issues/130.

Feel free to reopen the issue if this does not solve your issue

[2021-04-29 18:19] #163 closed

[2021-04-29 18:53] abidlabs commented on #161
Based on the colab notebook that you shared from me, the problem is that you are not passing in any values for the features ESZ', 'MTemp', 'UTemp', 'LF', and 'KUZ'. If you pass in these features, your function should work. Closing as this is not a gradio-related error.

[2021-04-29 18:53] #161 closed

[2021-04-29 18:54] abidlabs commented on #159
Thanks for sharing @ividal!

[2021-04-30 04:29] abidlabs commented on #148
Sorry for the delay @voltek62 but we ended up rewriting the gradio library to remove the conflicting dependencies. With the latest version of Gradio (1.7.7), the Heroku tutorial works! Thanks again

[2021-04-30 04:29] #148 closed

[2021-04-30 18:20] pit9921 opened #165 "Regression Prediction in %?"
Hi, i managed to run the app, but it gives the prediction in %.
I am not able to figure out, how to set it to non-percent value.

The correct prediction value should be 25,5 but the app gives 2550% instead.

[code]

[code]

[2021-04-30 18:44] pit9921 commented on #165
Hi abillabs, sorry i did not get it.
I tried to copy the row to both sections, listed above, but the performance hasn't changed.
Could you please implement the row from you to the code above?

![grafik](https://user-images.githubusercontent.com/77811022/116739925-8f867480-a9f4-11eb-890a-83c70df94d94.png)
![grafik](https://user-images.githubusercontent.com/77811022/116739957-9f05bd80-a9f4-11eb-8137

[2021-04-30 19:03] pit9921 commented on #165
Like a boss! Thank you.

![grafik](https://user-images.githubusercontent.com/77811022/116742339-83e87d00-a9f7-11eb-919a-f5599940799e.png)

[2021-05-07 02:20] cogsci2 opened #168 "app fails to run. logs say hosted at https://0.0.0.0"
![image](https://user-images.githubusercontent.com/66141096/117388527-c7336780-ae9f-11eb-84f9-e6074cdebaa6.png)

Please advise

[2021-05-07 17:30] cogsci2 commented on #168
It mysteriously works again without my intervention.

[2021-05-09 04:27] maxhchen commented on #28
Have there been any updates to this?

[2021-05-09 06:19] jqueguiner opened #171 "Launching multiple interfaces at once"
Hi team,
First thank you so much for this amazing product.

is there any plan to have the support of multiple interface within the same launch?

like I would like to have and image to text and an image to image within the same instance.

thanks in advance for your kind help

[2021-05-09 09:17] abidlabs commented on #168
Hmm, please let us know if you run into this issue again!

[2021-05-09 09:17] #168 closed

[2021-05-09 09:19] #171 closed

[2021-05-11 06:02] jqueguiner commented on #171
Thank you so much.
This is not exactly what I'm looking d'or. I was looking at have separated sections.
But I guess as a first approach it works.

Thanks again

[2021-05-11 08:23] usbhub opened #172 "100% single core utilization by server launch"
When running the server I noticed it was using 100% of one of my cores, I looked at the code and here: https://github.com/gradio-app/gradio/blob/7b7f455dcad12d975e0f170d1b3b2161c4987e22/gradio/interface.py#L353-L354 you are busy looping. I believe you can just put a time.sleep(1) like you have in some of the other loops.

[2021-05-12 08:44] skoetje opened #173 "Internal Server Error when trying to log in"
Hello, whenever I try to login I get this error:

Internal Server Error
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

It happens on multiple browsers, multiple accounts. Is there a server issue?

[2021-05-12 12:56] ajaykrishnan23 opened #174 "Realtime Video?"
Hi
I had checked through the documentation regarding how I could use radio for real-time video analysis ie. open webcam, process frame by frame and display real-time webcam output side by side but could not find any. Is this feature yet to be implemented or am I missing out?
It would be a great help if you could respond
Thank you

[2021-05-12 16:24] LipsaBiswas opened #175 "App is not launched , stopped run"
My app is not launched..
this is the last log
Successfully built 8d7cef45fa44

Successfully tagged lipsabiswas_summary-comparer:latest

Launching image...
Starting container...
Stopped run.

[2021-05-12 22:36] abidlabs commented on #173
Hi @skoetje can you try now?

[2021-05-12 22:36] abidlabs commented on #175
Hi @LipsaBiswas can you try now?

[2021-05-12 22:36] abidlabs commented on #174
Hi @ajaykrishnan23 this feature is yet to be implemented, but it's a great suggestion! We'll add it to our roadmap

[2021-05-12 22:36] #174 closed

[2021-05-13 02:54] ajaykrishnan23 commented on #174
Hi
`gradio.Interface(fn=classify_image, live=True, inputs=gr.inputs.Image(source="webcam"), outputs=gr.outputs.Image()).launch()`
I looked into it and was able to use this instead. But It has been quite slow. Looking forward to the updates!

[2021-05-13 04:10] LipsaBiswas commented on #175
No luck.. Please let me know what can i do from my end ?
could it be some library missing in requirements.txt or something else?
Successfully built ccb5032f17ba

Successfully tagged lipsabiswas_summary-comparer:latest

Launching image...
Starting container...
Stopped run.

[2021-05-13 05:36] abidlabs commented on #175
Is this a public repo? In which case, can you share the link?

[2021-05-13 05:55] LipsaBiswas commented on #175
https://github.com/LipsaBiswas/Summary-comparer

[2021-05-13 07:17] jade227 opened #176 "live option for video output"
While I studying gradio code, it seems the front-end part send request to back-end part for predict with 0ms time interval.

This works well when the output is text or image,
but when output is video, the result become refreshing continuously so I cannot play the output video.

Can this change to send request when only the input data changed?

[2021-05-14 05:30] cogsci2 commented on #168
This issue came up again.
Instead of showing me the interface, it's showing me the logs and the strange 0.0.0.0 ip error.

![image](https://user-images.githubusercontent.com/66141096/118225840-b1431b00-b43a-11eb-9b9a-fab71a28d1cc.png)

[2021-05-14 06:47] skoetje commented on #173
Yes it works now, many thanks! What was the problem?

[2021-05-14 16:06] abidlabs commented on #173
Thanks, we're migrating to a new infrastructure for Gradio Hosted, so I think you were just caught in an intermediate state. Our new infrastructure should be up next week!

[2021-05-14 16:06] #173 closed

[2021-05-14 16:07] abidlabs commented on #175
@aliabid94 can you comment here?

[2021-05-15 20:21] cogsci2 commented on #168
This is coming up intermittently.  What I've found is that if I refresh 4 or 5 times, the page comes up properly.  It's pretty random as to how many times I have to refresh the page tho.  @abidlabs

[2021-05-18 05:27] samiit opened #179 "Serving Voila via GradIO"
Hi everyone,

I like the GradIO's message parsing interface that allows us to host and run the code at our end, and only allow a shareable link to the outside world.

I wanted to know whether I can serve my own Voilà instance of a notebook via GradIO? In this way we can go beyond the features that GradIO offers (that are quite extensive), and serve Apps with customized UI for prototyping.

Thanks,

[2021-05-18 16:31] abidlabs commented on #179
Hi @samiit, for a use case like that, I suggest running your notebook locally and then using ngrok to make it accessible publicly. Look at: https://ngrok.com/

[2021-05-18 16:31] #179 closed

[2021-05-18 16:53] samiit commented on #179
Salam/Namaste Abid

I was delighted to see your last year's PyData Riyadh talk after getting introduced to GradIO via Tanishq's talk on CycleGAN.

Thanks for your response and I will check out more on the link you shared.

Sam

[2021-05-20 11:51] EdwardLevavasseur opened #183 "Error with Gradio Hosted"
Hi,

I've just subscribed to Gradio Hosted, and i'm trying to run gradio apps online.

I've tried launching an example app, but I get the following error message:

Step 9/9 : CMD [ "run-gradio.py" ]

 ---> Running in 754f2b07de25

 ---> 3f6c20b710c3

Successfully built 3f6c20b710c3

Successfully tagged edwardlevavasseurhome:latest

Launching image...
Starting container...
Unexpected error: An erro

[2021-05-20 15:31] abidlabs commented on #183
Thanks @EdwardLevavasseur we are looking into this.

[2021-05-21 10:45] LipsaBiswas commented on #175
Could not install packages due to an EnvironmentError: [Errno 28] No space left on device
https://gradio.app/g/LipsaBiswas/GradioSummaryComparer

[2021-05-21 15:27] m-ali-awan commented on #23
Audio, with microphone is not working.After recording, when I play, it is silent.
Please, help me out with this.
Thanks

[2021-05-22 13:02] LipsaBiswas opened #185 "How to install Gradio 2.0 ?"
pip install gives me Gradio 1.7.7
How do i get Gradio 2.0?

[2021-05-22 17:48] abidlabs commented on #185
We will be releasing Gradio 2.0 soon!

[2021-05-22 17:48] #185 closed

[2021-05-23 09:50] LipsaBiswas commented on #185
How can I be notified?

On Sat, May 22, 2021, 23:18 Abubakar Abid ***@***.***> wrote:

[2021-05-23 16:50] abidlabs commented on #185
We are planning to launching 2.0 on Monday, thanks :)

[2021-05-23 17:03] LipsaBiswas commented on #185
Superb 👏👏

On Sun, May 23, 2021 at 10:20 PM Abubakar Abid ***@***.***>
wrote:

[2021-05-24 11:44] LipsaBiswas opened #186 "Authorization issues while deployment"
Hey ,
Why I am getting the following issue while deployment
"errorDetail":{"message":"denied: Your authorization token has expired. Reauthenticate and try again."},"error":"denied: Your authorization token has expired. Reauthenticate and try again."}

[2021-05-24 23:02] abidlabs opened #190 "Sketchpad live interface throwing issues"
![image](https://user-images.githubusercontent.com/1778297/119416873-95edd080-bcc2-11eb-966c-8b3ad4d4e7d4.png)

[2021-05-25 06:33] m-ali-awan opened #191 "Request for streaming microphone input component"
Once we record by microphone, I am not able to listen anything.
I am trying to have a real-time prediction with fastai trained model.

This is my code:
`
labels=learn.dls.vocab
def predict_audio(audio):
    at=AudioTensor.create(audio)
    pred,pred_idx,probs = learn.predict(at)
    return {labels[i]: float(probs[i]) for i in range(len(labels))}
`
`
gr_interface = gr.Interface(fn=[

[2021-05-25 06:46] LipsaBiswas commented on #186
@abidlabs , any input will be appreciated.
Its bit urgent

[2021-05-25 07:47] aliabid94 commented on #186
Taking a look

[2021-05-25 08:26] aliabid94 commented on #186
Sorry about that, yes there was an auth issue on our end. Fixed now, can you let us know if it works for you?

[2021-05-25 11:14] PhaneendraGunda opened #192 "Passing Table as input"
Hi,

I wanted to build a demo, which takes table as input and generate text summary as output. Any plans to add HTML as input to the gradio to represent the table ? Any suggestions are welcome.

[2021-05-25 15:54] LipsaBiswas commented on #186
No , @aliabid94
![image](https://user-images.githubusercontent.com/22794542/119529279-94460a80-bd9f-11eb-8348-615dfac0c4ee.png)

[2021-05-25 19:27] nikhil-shah505 opened #193 "Interface of the Web App is not clear as the input options are not properly aligned"
![gradio problem](https://user-images.githubusercontent.com/72156618/119557054-5526b200-bdbd-11eb-9793-e7918ff0ba0e.jpg)

[2021-05-25 19:38] aliabid94 commented on #193
Yikes, looks like a CSS bug on our part. Will update soon!

[2021-05-25 19:40] aliabid94 commented on #192
Seems like the Dataframe input is what you're looking for. You can customize the headers - take a look at https://github.com/gradio-app/gradio/blob/master/demo/filter_records.py for an example.

[2021-05-25 19:41] aliabid94 commented on #191
can you link or provide the code for the entire file? also which platform & browser?

[2021-05-25 19:41] aliabid94 commented on #186
Taking a look

[2021-05-25 23:26] aliabid94 commented on #186
Hey @LipsaBiswas I forked your repo at https://github.com/aliabid94/GradioSummaryComparer/ to fix one of the issues, your requirements file had a syntax error. However, when I tried launching it, the problem is that we provide 8GB of RAM per hosted model - your code loads too many large models into memory that it crashes. Can you try reducing the memory footprint of your code?

[2021-05-26 02:31] m-ali-awan opened #194 "For Audio input, "File" mode: error"
TypeError: expected str, bytes or os.PathLike object, not _TemporaryFileWrapper

How to deal with this TemporaryFileWrapper?

Thanks

[2021-05-26 03:51] m-ali-awan commented on #191
Thanks, for replying.
I am using Colab pro, and fastai.
Please help me out to handle this:

`AssertionError: Expected an input of type in
  - <class 'pandas.core.series.Series'>
  - <class 'str'>
  - <class 'fastaudio.core.signal.AudioTensor'>
 but got <class 'tempfile._TemporaryFileWrapper'>`

[2021-05-26 03:52] m-ali-awan commented on #191
As if I use "numpy" mode, it returns weird shape (samples,2), which is not like librosa.load, nor torch.load.
So, how to properly have the input.

Thanks.

[2021-05-26 04:04] m-ali-awan commented on #191
This is the colab notebook  link:

https://colab.research.google.com/drive/13fYBSQmuJpkwWVpRBbcav1pcs3gu_Dl3?usp=sharing

[2021-05-26 04:04] m-ali-awan commented on #191
You can see the Gradio part:

Thanks a lot..

[2021-05-26 04:45] m-ali-awan commented on #191
Also when using "numpy" mode:
numpy array may be as it is not normalized or due to some other reason;
It gives weird error:
  File "/usr/local/lib/python3.7/dist-packages/fastaudio/augment/signal.py", line 54, in _tfm_pad_signal
    c, x = sig.shape
ValueError: too many values to unpack (expected 2)

Kindly, help me out with this Audio Part.
Thanks a lot...

[2021-05-26 07:09] m-ali-awan commented on #191
I have got the solution:

Actually for file model:
we have to grab the path by input_file.name,
Then specifically for fastai model do path=Path(str( input_file.name)),
And then pass it to the learner.

[2021-05-26 07:11] m-ali-awan commented on #191
But now, as for image in live feed we can have live inference,
Can we not have live inference while recording. As of now, in live mode, we have to submit the recording and then inference starts, and then we have to record again.

Thanks for any help.

[2021-05-26 10:54] PhaneendraGunda commented on #192
Yes we can use Dataframe, but values are not displaying clearly when the DF has many headers. Any suggestions to make it looks cleanly ?

[2021-05-27 05:44] PhaneendraGunda commented on #192
Can we pass default values to the Data Frame ? I couldn't find any option to pass the default data.

[2021-05-27 06:50] LipsaBiswas commented on #186
@aliabid94 ,
Now for test purposes, I created an app with less memory footprint.
But getting authorization issue
![image](https://user-images.githubusercontent.com/22794542/119779064-dda07200-bee5-11eb-9989-27b5b8d60e0c.png)

[2021-05-27 06:54] abidlabs commented on #186
Sorry, we're migrating to a new infrastructure so this might be the reason. We're looking into it!

[2021-05-27 06:55] LipsaBiswas commented on #186
I understand!
Please keep me posted.

[2021-05-27 09:08] LipsaBiswas commented on #186
@abidlabs ,
If I select one model at a time (radio button), will it be ok? Or there will be memory issues if a user selects one by one all options and clicks submit?
![image](https://user-images.githubusercontent.com/22794542/119798885-2b72a580-bef9-11eb-9997-f327cb93711e.png)

[2021-05-27 09:08] wchstrife opened #195 "AttributeError: module 'gradio' has no attribute 'Interface'"
I install gradio-2.0.0 use `pip install gradio`, then I run the demo but get error:

[2021-05-27 09:30] kumarsundram4u opened #196 "future of data science"

[2021-05-27 09:30] #196 closed

[2021-05-27 10:14] PVLTMK opened #197 "Slider input works wrong in release 2.0.0"
In release 2.0.0 i can drag slider input only on integer number of points even if specified 'step' = 0.1 [according these docs](https://www.gradio.app/docs#i_slider)

You can reproduce this bug using the following code:

[code]

After starting, make sure that you can't select a fractional slider value

Requirements:
gradio==2.0.0

[2021-05-28 18:33] jraza19 opened #200 "Interpretation functionality not working"
Hello!

I am using Gradio for a school project where our input is an image. I tried setting up the interpret functionality with the `interpretation="default"`, however, nothing happens! I then tried to replicate one of the examples in the repo here and I was still not able to get the interpret functionality to work. I see the "Interpret" button but nothing happens when you click on it. My team mat

[2021-05-28 19:18] AK391 commented on #186
also get this message

[2021-05-28 20:19] nikhil-shah505 commented on #197
You can also change the data type from float to integer

[2021-05-28 21:44] abidlabs opened #201 "Article shows up as text, not HTML"
See here for an example:

![image](https://user-images.githubusercontent.com/1778297/120044662-41a56200-bfdc-11eb-8b1d-492ef286d57a.png)

[2021-05-28 22:34] abidlabs opened #202 "Microphone doesn't work inline inside colab notebook"
The interface just disappears after you finish recording:

![recording (28)](https://user-images.githubusercontent.com/1778297/120047730-4ae5fd00-bfe3-11eb-8e23-13e742cab10a.gif)

Notebook: https://colab.research.google.com/drive/1EmSGE0eQbflVhFiFaOVssQkxGSwVou3L?authuser=1#scrollTo=mJ8PvvrxKDAC

It works fine if you open up the link in a separate page though

[2021-05-29 07:32] swcrazyfan opened #203 "Text showing without breaks in result text! Also, slider isn't working."
I've been testing out my model through Google Colab, and suddenly all the UI I built with Gradio aren't working. HTML in the article doesn't work, the slider doesn't work, and the result text has no line breaks.

I had an older version of Gradio on my local computer, and that worked perfectly. What's going on? Is there an update on the way?

Thanks! Honestly, Gradio is great besides these bugs!

[2021-05-29 09:55] baishalidutta opened #204 "Client Error Handling"
There are many situations where you need to notify an error to the client. For example, input validation error.

In such scenario, it makes sense to introduce a specific type of exception that can be thrown programmatically and the exception message can then be easily shown on the Gradio Web Interface.

[2021-05-29 20:11] abidlabs commented on #204
That's a great suggestion @baishalidutta! We'll add it to our roadmap

[2021-05-29 20:12] abidlabs commented on #203
Thanks @swcrazyfan! We are looking into this issue right now, and should have a fix soon.. For now, you may want to install an older version of Gradio inside colab. (e.g. `!pip install gradio==1.7.6`)

[2021-05-29 20:12] abidlabs opened #205 "Gradio app gets rendered as basic HTML before the styles kick in"
Happens briefly but is disorienting as a user

[2021-05-29 20:13] abidlabs commented on #200
Thanks for bringing that to our attention @jraza19! We are looking into this. In the meantime, can you let us know if you use an older version of Gradio as well? (`pip install gradio==1.7.6`)

[2021-05-29 20:15] abidlabs commented on #197
Thanks guys! We are looking into this issue right now, and should have a fix soon.. For now, you may want to install an older version of Gradio (e.g. `pip install gradio==1.7.6`)

[2021-05-29 20:27] jraza19 commented on #200
@abidlabs - thank you for your prompt response. I can confirm that with `gradio==1.7.6` version, all functionality including the edit and interpret button is working!

[2021-05-29 21:51] abidlabs commented on #200
Ok great, we're working on the patch for Gradio 2.0. Thanks again for bringing this to our attention!

[2021-05-29 23:40] abidlabs commented on #195
Hmmm that's interesting. I wasn't able to reproduce this error. Can you try uninstalling and reinstalling with  `pip`? Also, please let me know your OS and Python version.

[2021-05-29 23:41] abidlabs commented on #192
What do you mean by default values? Do you mean `examples`? You should be able to do that

[2021-05-30 00:19] aliabid94 commented on #203
Thanks for pointing these out! Fixed the slider and article HTML issues in gradio 2.0.1. Will fix the line breaks as well.

[2021-05-30 00:20] aliabid94 commented on #201
Fixed.

[2021-05-30 00:20] #201 closed

[2021-05-30 00:20] aliabid94 commented on #197
Fixed now in 2.0.1! Thanks for pointing this out @PVLTMK

[2021-05-30 00:20] #197 closed

[2021-05-30 00:21] aliabid94 commented on #193
Fixed in 2.0.1. Thanks for pointing this out @nikhil-shah505 !

[2021-05-30 00:21] #193 closed

[2021-05-30 02:26] #200 closed

[2021-05-30 16:43] nikhil-shah505 commented on #193
Thanks, @aliabid94 for fixing this and building this amazing feature!!

[2021-05-30 21:09] NikitaJangid22 commented on #140
I'm facing the run time error issue, the time that my code requires to output is 30 mins.

I'm facing the run time error issue, the time that my code requires to output is 30 mins.

[2021-05-31 01:45] swcrazyfan commented on #203
Thanks! I've installed the version you suggested. I'll wait on using the newest version until these bugs are worked out.

[2021-06-01 06:51] johnfelipe opened #208 "run in public IP"
root@machineteacheble-ubuntu-s-8vcpu-16gb-nyc1-01:~/gradio/demo# python3 tax_calculator.py
	Running locally at: http://127.0.0.1:7860/
	To create a public link, set `share=True` in `launch()`.

How can run and view in my public ip hosted by digitalocean droplet
Tnks

[2021-06-01 07:16] LipsaBiswas commented on #186
@abidlabs , any updates plz ?

[2021-06-01 14:46] abidlabs commented on #208
Follow this guide, it's for AWS EC2 machines, but it should be essentially the same process: https://abidlabs.medium.com/quickly-deploying-gradio-on-aws-242af2374784

[2021-06-01 14:46] abidlabs commented on #208
Closing, but feel free to open if you run into any issues.

[2021-06-01 14:46] #208 closed

[2021-06-01 15:20] johnfelipe commented on #208
That works in digitalocean?

El mar., 1 de jun. de 2021, 9:47 a. m., Abubakar Abid <
***@***.***> escribió:

[2021-06-01 15:22] aliabid94 commented on #186
Sorry forgot to respond here, yes the auth issue has been fixed. https://gradio.app/g/LipsaBiswas/GradioSummaryComparer.
As for memory, we allocate 8GB of RAM to each interface container - if you go over this limit, the container will crash and restart after a few minutes so just be mindful of that :)
Let us know if you have any other issues!

[2021-06-01 15:22] #186 closed

[2021-06-01 15:50] abidlabs commented on #208
It should! Let me know if you run into any issues.

[2021-06-01 18:11] johnfelipe commented on #208
For example gradio app for sketch is not working
And someones only works in localhost or 12.0.0.1, how can switch for public
IP?

El mar., 1 de jun. de 2021, 10:50 a. m., Abubakar Abid <
***@***.***> escribió:

[2021-06-02 04:14] jade227 commented on #176
I found this issue solved by using react.js after upgrading version 2.0

[2021-06-02 04:14] #176 closed

[2021-06-02 17:15] aliabid94 commented on #203
Line breaks fixed. Let us know if you see any other issues!

[2021-06-02 17:15] #203 closed

[2021-06-02 17:16] aliabid94 commented on #191
Taking a look

[2021-06-02 18:03] m-ali-awan commented on #191
Thanks alot, will love to have this feature, so eagerly waiting.

Thanks again...

[2021-06-02 19:38] aliabid94 commented on #191
I see the error. Colab notebook is blocking permissions for the microphone - will try to see if there's some workaround. Meanwhile, you can click the External URL shown above the interface to load the Gradio interface in a new tab and the microphone should work.

[2021-06-03 08:21] m-ali-awan commented on #191
Thanks alot, @aliabid94 ,
But microphone is working, but the problem is not in continuous manner, like a webcam feed.
Is there any way to do that?
Thanks a lot...

[2021-06-03 18:57] piegu opened #211 "Gradio does not run locally"
Hi,

I did install successfully gradio through `pip install gradio`.
Then, I ran the https://gradio.app/getting_started code.

But the 127.0.0.1 connection was not accepted.

Check this link to see a screen shot of the problem: https://github.com/piegu/language-models/blob/master/gradio.png

It looks like the tensorboard problem: https://stackoverflow.com/questions/40106949/unable-to-open-tensorbo

[2021-06-03 18:58] aliabid94 commented on #211
Can you please expand on this?

[2021-06-03 19:37] piegu commented on #211
Hello @aliabid94.
Sorry, I was too fast. I added informations about my problem.
What do you think?

[2021-06-03 19:42] aliabid94 commented on #211
Hmm can you provide your operating system, gradio python version, and also try launching from outside a notebook?

[2021-06-04 12:50] piegu commented on #211
Hello,
I found the solution.

By default, the `server name` is got by `server_name=networking.LOCALHOST_NAME` in https://github.com/gradio-app/gradio/blob/master/gradio/interface.py#L71

In my case, it found `127.0.0.1` but as it did not work, I had to setup the `server_name` argument with its alias.

Instead of :
`iface = gr.Interface(fn=greet, inputs="text", outputs="text")`

I ran:
`iface = gr.

[2021-06-04 12:55] piegu opened #212 "How to launch Gradio with a local Hugging Face model?"
Hello,

I read the article [Using & Mixing Hugging Face Models with Gradio 2.0](https://huggingface.co/blog/gradio) that explains how to display in one line a Hugging Face (HF) model from the [HF model hub](https://huggingface.co/models) (ie, through API).

Great but how to do the same thing with a Hugging Face model stored locally (ie, through a local path)?

(for example, a HF model for QA that

[2021-06-04 13:04] tiwari93 opened #213 "Edit options not appearing"
Gradio seems to run perfectly till last week. But when I ran today, edit option, as well as screenshot option was not available. I tried running locally and on colab also but same issue. I tried changing gr.interface option manually for these too no success. Please help me on this.
![Capture](https://user-images.githubusercontent.com/49356997/120805401-64e38a80-c563-11eb-8004-b8829140e966.JPG)

[2021-06-04 13:32] aliabid94 commented on #213
Let me take a look to fix this. Meanwhile, you can try installing a version of gradio < 2.0.0, (such as  1.7.7) if you'd like to use the older version.

[2021-06-04 13:35] tiwari93 commented on #213
Thanks for the quick response. Many thanks for ur awesome work

[2021-06-04 21:22] abidlabs commented on #212
@piegu wrap a Python function around your Hugging Face model and then pass that that into the Gradio Interface class. The examples here should help: https://gradio.app/ml_examples

[2021-06-04 21:22] #212 closed

[2021-06-06 22:21] AK391 opened #216 "[Feature] Combine image and video components"
would it be possible to combine the image and video components for input and output? I think it would be user friendly to not build separate interfaces for images and videos

[2021-06-09 18:13] aliabid94 commented on #125
no longer an issue bc deprecated GIF support.

[2021-06-09 18:15] aliabid94 commented on #157
Run all has been removed. Instead, precalculate all the outputs for the examples yourself and pass the outputs along with the inputs into the list for the examples keyword to quickly browse through example inputs and outputs.

[2021-06-09 18:15] #157 closed

[2021-06-09 18:16] aliabid94 commented on #175
The interface is running on gradiohub. Closing issue - let us know if you have other issues.

[2021-06-09 18:16] #175 closed

[2021-06-09 18:18] aliabid94 commented on #192
You can pass default values using default= keyword argument for the Dataframe input. Pass any 2D array and it will be the default value of the dataframe.

[2021-06-09 18:18] #192 closed

[2021-06-09 18:19] aliabid94 commented on #205
I believe this has been resolved - reopen if it occurs.

[2021-06-09 18:19] #205 closed

[2021-06-09 18:19] aliabid94 commented on #195
Closing due to lack of activity

[2021-06-09 18:19] #195 closed

[2021-06-09 18:20] aliabid94 commented on #211
Glad to see you resolved this :)

[2021-06-09 18:20] #211 closed

[2021-06-09 18:22] aliabid94 commented on #183
The previous issue has been resolved for some time. Looking at the logs from https://gradio.app/g/EdwardLevavasseur/Home it seems that the runfile has not been specified correctly. Reopen if you have any other questions.

[2021-06-09 18:22] #183 closed

[2021-06-09 18:23] aliabid94 commented on #172
@abidlabs can you post any update here?

[2021-06-10 04:20] LipsaBiswas commented on #175
Thank you.
You may close the issue.

On Wed, Jun 9, 2021, 23:46 aliabid94 ***@***.***> wrote:

[2021-06-15 02:29] hafsamat opened #219 "Display output vidéo help"
Hi Gradio users,

I have an algorithm where the prediction is the format of a video, I tried to test a lot of functions like prediction.launch(); but it doesn't work

Anyone knows any example or technique on how to do that?
Any suggestion would be great.

Thanks a lot!

[2021-06-16 02:39] shliang0603 opened #220 "Can you realize the webcam in real time in the output component?"
@abidlabs Hi, can you realize the webcam in real time in the output component? I think this feature is important for demonstration purposes. Thanks.

[2021-06-17 02:15] Cynthia-O opened #221 "Flag options not populating"
Hi! Lovely app, thank you for creating it.

I'm having trouble getting flagging_options to take. For example...

[code]

... allows for flagging to register in a log .csv in the desired directory, but no additional columns are created in that log .csv. The .csv contains only a numeric index, an input column, and output column, and a flag column that is populated entirely with NaNs.

[2021-06-17 12:39] rahul-art opened #222 "function is not working inside gradio"
infer() function in this code is working fine outside gradio but not inside gradio
https://colab.research.google.com/drive/1TZtyF4qfhqLDwYMRRsufv48B-dh-ZI9z?usp=sharing

[2021-06-17 15:11] shaktisd opened #223 "Can you please add an Open source License ?"
Can you please add an Open source License  under which people can use this software ?

[2021-06-17 15:16] shaktisd commented on #223
![image](https://user-images.githubusercontent.com/2882134/122425457-201d1200-cfad-11eb-9b98-b6f255974333.png)

[2021-06-17 20:10] aliabid94 commented on #221
Thanks for pointing this out Cynthia! Should be fixed as of 2.0.6. Will close now, let us know if you have any other issues.

[2021-06-17 20:10] #221 closed

[2021-06-17 20:11] aliabid94 commented on #222
Taking a look.

[2021-06-17 20:28] aliabid94 commented on #222
How long does your function take? If it takes multiple minutes, it likely may be the result of a network timeout. We are working on a workaround for this.

[2021-06-17 20:29] aliabid94 commented on #223
The apache license is visible here: https://github.com/gradio-app/gradio/blob/master/LICENSE

[2021-06-17 20:29] #223 closed

[2021-06-17 21:18] aliabid94 commented on #219
Can you share your code please? Your function should return the file path of your video

[2021-06-18 02:18] shaktisd commented on #223
@aliabid94 , actually somehow it is not visible in pypi.org due to which third party
Scanning tools reject it saying there is no license in the binary .  Example have a look at this on left side you can see BSD license . https://pypi.org/project/pandas/

[2021-06-18 03:55] shaktisd opened #224 "Add license='Apache License 2.0 in setup.py"
Looks like license key value is missing from setup.py due to which it is not visible in pypi.org
Add following bold marked line **license='Apache License 2.0',** in setup.py

packages=['gradio'],
**license='Apache License 2.0',** # Add This Line
keywords=['machine learning', 'visualization', 'reproducibility'],

[2021-06-18 05:30] Cynthia-O commented on #221
Awesome! Thank you.

[2021-06-18 06:56] nimanpra opened #225 "Gradio Interface is not loading"
Hi,

I'm trying to host a gpt2 ML model which I published using huggingface. But the interface is not loading after Hosting. I get this standard gradio interface instead of what I made. Any tips?

![image](https://user-images.githubusercontent.com/13941762/122519634-4b951080-d030-11eb-8ef3-cdee385f58ac.png)

[2021-06-18 18:01] aliabid94 commented on #225
Taking a look

[2021-06-18 18:05] aliabid94 commented on #224
Done. Thank you!

[2021-06-18 18:05] #224 closed

[2021-06-18 18:34] shaktisd commented on #224
Thanks @aliabid94 . LIcense is now visible on pypi.org

[2021-06-18 18:37] aliabid94 commented on #216
I don't quite understand AK, can you explain?

[2021-06-18 18:48] aliabid94 commented on #225
Sorry, was an issue on our part, fixed now!

![image](https://user-images.githubusercontent.com/7870876/122604533-f1de1780-d02a-11eb-8a6e-a6c089c5e829.png)
https://gradio.app/g/nimanpra/GPT2_Genre_Wise_Content_Generator
I did notice your model is extremely slow (perhaps because we don't provide gpu support yet) but you may be able to optimize your function call better - it seems like you load the

[2021-06-18 18:48] #225 closed

[2021-06-20 13:36] Rahulgarg95 opened #226 "Allow screenhot and edit not working"
I am currently using gradio version gradio-2.0.7 on windows 10, python version. Screenshot and edit option seems not be showing on UI.

[2021-06-21 05:23] LipsaBiswas opened #227 "app is not loading"
![image](https://user-images.githubusercontent.com/22794542/122710944-f26eec00-d27e-11eb-8450-c09b76d5996a.png)

[2021-06-21 07:00] #227 closed

[2021-06-21 07:00] LipsaBiswas commented on #227
Restarted

[2021-06-22 13:32] cbensimon opened #228 "High CPU usage"
Hi Gradio team,

It seems to me that the python process uses 100% CPU on idle (one full CPU core)

Steps to reproduce :

app.py
[code]

Run the gradio app and see CPU usage
[code]

Output :
[code]

[2021-06-23 20:32] harveenchadha opened #229 "Error using Audio Interface on Colab"
Hi,

I am trying to record voice from microphone on colab. But when I try to record this is what I am shown.

Screen:

<img width="1574" alt="Screenshot 2021-06-24 at 1 49 04 AM" src="https://user-images.githubusercontent.com/30959215/123162964-d5106c80-d48e-11eb-888a-9bc124b78ab0.png">

When I click on record:

<img width="1570" alt="Screenshot 2021-06-24 at 1 49 57 AM" src="https://user-images.g

[2021-06-23 22:25] aliabid94 commented on #229
Hey @harveenchadha can you click on the external link URL and see if the audio works there? It may be that colab is blocking permissions to the microphone.

[2021-06-24 11:11] gchetty opened #230 "resnet18 demo not working. Shows following error message"
HTTPError                                 Traceback (most recent call last)
<ipython-input-7-9cda5a84a77f> in <module>()
----> 1 model = torch.hub.load('pytorch/vision:v0.6.0', 'resnet18', pretrained=True).eval()
      2
      3 response = requests.get("https://git.io/JJkYN")
      4 labels = response.text.split("\n")

8 frames
/usr/lib/python3.7/urllib/request.py in http_error_default(self, req,

[2021-06-24 14:12] AK391 commented on #216
@aliabid94 sure, so basically have one component (possibly image) that can handle both images and video, video would be treated as a sequence of images

[2021-06-24 20:12] aliabid94 commented on #228
Thanks for pointing this out @cbensimon, should be fixed now as of 2.0.9

[2021-06-24 20:12] #228 closed

[2021-06-24 20:12] aliabid94 commented on #172
Fixed now.

[2021-06-24 20:12] #172 closed

[2021-06-24 20:20] aliabid94 commented on #230
Seems like an issue with PyTorch Hub right now. Presumably will resolve itself soon, if not, we'll load the model from another repository.

[2021-06-25 07:50] cbensimon commented on #228
It seems to be fixed with 2.0.9 on my side ! Thanks

[2021-06-25 12:32] harveenchadha commented on #229
Hi,

The screenshots are from an external link URL only. If you can please pass on an example that works with microphone on colab , that would be helpful!

[2021-06-27 16:09] abhi1nandy2 opened #231 "Site Down"
www.gradio.app is not working.

[2021-06-27 16:18] abidlabs commented on #231
Thank you! We have finished restarting the site and it is now back up :)

[2021-06-27 16:18] #231 closed

[2021-06-30 21:35] aliabid94 commented on #226
Fixed as of 2.0.10. Let us know if you have any other issues!

[2021-06-30 21:35] #226 closed

[2021-06-30 21:36] aliabid94 commented on #213
Fixed as of 2.0.10. Let us know if you have any other issues.

[2021-06-30 21:36] #213 closed

[2021-07-01 05:49] aliabid94 commented on #229
https://colab.research.google.com/drive/1ck92ZiiVuMb1pZoIY9YbmhAG0YDyMpx3?usp=sharing

[2021-07-01 05:50] aliabid94 commented on #229
Notice that it doesn't work in colab but does work in the external URL

[2021-07-01 06:09] harveenchadha commented on #229
Doesn't works in external URL
<img width="1454" alt="Screenshot 2021-07-01 at 11 38 32 AM" src="https://user-images.githubusercontent.com/30959215/124074330-f65df380-da60-11eb-99f8-c01ded5c9257.png">

[2021-07-01 15:39] aliabid94 commented on #229
Interesting. Is it possible you've blocked microphone access? Can you see the console error logs (right-click -> inspector -> console) and paste the errors here?

[2021-07-01 16:53] harveenchadha commented on #229
Microphone is already enabled. See this screenshot, mic is working for google translate in another tab.

<img width="1792" alt="Screenshot 2021-07-01 at 10 21 17 PM" src="https://user-images.githubusercontent.com/30959215/124161193-bdeb0380-daba-11eb-8654-58a52b193054.png">

[2021-07-01 18:51] nimanpra opened #235 "Gradio Hosted App is not working"
![image](https://user-images.githubusercontent.com/13941762/124173567-da8e3800-dac8-11eb-9223-a33f34e6e024.png)
One of my associates trying to use the app, but its stops in the middle with an error icon on the top right hand-corner. I tried it with my PC and it worked but took 1000+ seconds. This only took 100-350 seconds max before. My associate tried it on an iPad, and to test I also tried it on

[2021-07-01 18:55] abidlabs commented on #235
Thanks for bringing this to our attention, @nimanpra. We'll take a look to see what the underlying cause is.

[2021-07-03 18:03] mfrashad opened #236 "Optional Image input or default value for image?"
I am making a GAN interface for image editing where user can enter a seed value or upload an image. However, I cannot submit unless the image input is filled. I can work around this on other types of input by setting a default value. But since there is no default option in Image input. I cannot make it optional.

Is there a way to make the Image input optional?

[2021-07-03 22:05] stanreb opened #237 "Issue with the huggingface theme"
Hello,
Is there a way to show the % probabilities on top of the bar plot output, using the huggingface theme ?
The probability figures appear to be there as it is possible to select and copy-paste them, but they are invisible.
I couldn't find a way to solve this by searching in the source code of Gradio functions.
Thanks for your help.
Best

[2021-07-04 07:45] julien-c commented on #237
tagging @gary149 and @cbensimon for visibility!

[2021-07-07 09:59] Johnson-yue opened #239 "How to only "clear" one of inputs but keep other inputs then "Submit""
Hi, thank you for your Best-App, but when use it, I have some advices

In my usage,  I have 3 "files" for input, and 2 "images" for output
I want to only clear one of input  but keep other input, then submit,  how should I do ?

[2021-07-08 02:34] Honghe commented on #123
`gr.inputs.Image(tool='select')` does not work in version 2.1.2.

[2021-07-14 00:01] huseynlilkin opened #244 "Image Editor tool overlays input image"
When I try to edit an input image (for example, crop), the tool panel overlays the input image. Please check the example image below.

<img src="https://user-images.githubusercontent.com/10523514/125539943-f6a4dddd-ad77-4197-b5c0-9132a4e4ffb5.png" alt="drawing" width="640"/>

I'm using gradio at localhost and with Chrome browser.

[2021-07-14 21:42] drscotthawley opened #246 "Audio play is silent on iOS"
Hi, this is more of a feature request than a bug: it would be great if your audio demos worked on iOS! 🙏🥺
iOS requires a little bit of extra code (user authentication request) in order for audio to be heard.

Currently your audio demos, e.g. https://gradio.app/hub/AK391/neural-waveshaping-synthesis, are silent when I press the play button on iOS (Safari or Chrome).

This is a common problem that a

[2021-07-14 22:04] abidlabs commented on #236
Sorry for the late reply @mfrashad, this is a great suggestion. We currently support optional outputs but not inputs. We'll work on supporting optional inputs.

[2021-07-15 20:45] skoetje opened #247 "Custom css doesn't seem to do anything"
I'm trying to run the app with a custom css, but when launching it seems it ignores the css. Also when I create a non-working template I don't see any error at all. Is this expected behavior? When I check interface.py I also don't see the css being used anywhere in the launch function. Do you have a working example somewhere that I can check out? Kind regards

[2021-07-16 00:58] aliabid94 commented on #247
Please update to gradio>=2.2.1, there was a bugfix relating to css in that version. Then you can pass any css. You may need to use !important in case your css clashes with the theme.

Here's an example:

[code]

[2021-07-16 06:16] skoetje commented on #247
The upgrade helped, thanks! Now the code in interface.py makes a lot more sense as well.

[2021-07-16 06:16] #247 closed

[2021-07-26 16:17] Mcprasad opened #248 "Opening Gradio inside jupyter notebook which his hosted in a docker container"
I have a Jupyter notebook hosted in a docker container - which is used to run my data science workloads. I would like to use gradio locally inside that jupyter notebook..

To expose gradio locally inside the container - I am setting the server_address as 0.0.0.0 according to the documentation.  I am able to view gradio UI in the local host but it does not open up inside jupyter..

any suggestions

[2021-07-26 16:18] Mcprasad commented on #248
![image](https://user-images.githubusercontent.com/19703489/127023433-19700313-6f38-483b-8649-aa9da54684ff.png)

[2021-07-26 16:52] abidlabs commented on #248
Hmm. Can you try setting `server_address` to be `localhost` and see what happens?

[2021-07-27 04:17] Mcprasad commented on #248
@abidlabs - Yes, i tried that too.. same error.. any suggestions ?

[2021-07-27 13:49] abidlabs commented on #248
Unfortunately, I can't seem to reproduce this on my end. When I test it on a hosted jupyter notebook, I observe the following behavior:

- If port forwarding is set up correctly in docker container, then the interface appears in the notebook
- If port forwarding is not set up, then the interface doesn't appear in line or in a new tab.

In the 2nd case, you can still see the interface inline by set

[2021-07-27 23:38] ML-BOSS opened #249 "Browse option to take a location as input?"
Is there any browse option in gradio to take a location as input

[2021-07-28 15:32] abidlabs commented on #249
Sorry I don't know what you mean here? Are you saying that you want to include the location of files in a filesystem?

[2021-07-29 07:32] ML-BOSS commented on #249
Thanks for your reply. My question is simple, it may clear you:

https://www.google.com/search?q=textbox+with+browse+button+in+html&client=firefox-b-d&tbm=isch&source=lnms&sa=X&ved=2ahUKEwiwtZCa4YfyAhX0yYsBHcrgBCwQ_AUoAnoECAEQBA&biw=1283&bih=662&dpr=1.25#imgrc=oM3_iYiXsIdmVM

However, in my case no need to upload, just want to take the folder location using browsing instead writing the location in

[2021-08-05 11:09] flo-joe opened #251 "Placeholder broken?"
The placeholder option is not working for me. The text never displays in the text input. I'm not seeing it as an attribute when I inspect the HTML element.

I'm using the latest version at the moment (2.2.6). I tried multiple machines with same result. I even tried using a basic example provided in the README file and it also fails there.

[2021-08-05 18:57] aliabid94 commented on #251
Thanks for pointing this out! just fixed this - can you try again with 2.2.7?

[2021-08-05 19:12] flo-joe commented on #251
Works great now! Thanks for the quick fix!!!

[2021-08-05 19:12] #251 closed

[2021-08-05 19:12] flo-joe commented on #251
Fixed in 2.2.7

[2021-08-09 21:18] chhaviarora95 opened #254 "Unable to set python version"
The code launches fine locally, but when trying to host permanently the python version and architecture is different.

How do I set the python version and also set it to 32-bit architecture?

[2021-08-12 16:54] AK391 opened #256 "optional input components"
input components could be made optional with a flag to avoid having all fields being populated to run the app

[2021-08-12 18:24] aliabid94 commented on #254
On Gradio hosted? Sorry, the infrastructure there is not user configurable - it always uses python3.7. There are no current plans to change that.

[2021-08-12 18:24] #254 closed

[2021-08-12 18:26] aliabid94 commented on #249
This is not possible unfortunately - Google Chrome blocks the browser from accessing any directory data of the host machine. When you upload a file or directory, it only shows the uploaded file names but blocks directory information. Since the majority of users use Google Chrome, it doesn't make sense for us to support this.

[2021-08-12 18:26] #249 closed

[2021-08-12 18:31] aliabid94 commented on #237
Sorry for the delay in addressing this. The huggingface theme hides the confidence levels as shown by the css [in huggingface.scsss here](https://github.com/gradio-app/gradio/blob/7f433f1371a7d435973670a2d0af873893f17e0a/frontend/src/themes/huggingface.scss#L385).

To change the css, the best way is to pass the css= kwarg to the Interface and overwrite this rule. For example:

[code]

Let us know

[2021-08-12 18:31] #237 closed

[2021-08-12 18:33] aliabid94 commented on #202
Permissions issue with running in Colab, unable to fix. Does throw a warning if using Audio or Webcam in Colab though.

[2021-08-12 18:33] aliabid94 commented on #246
Taking a look, thanks for pointing this out.

[2021-08-12 18:34] aliabid94 commented on #248
Closing due to lack of response. Feel free to reopen @Mcprasad

[2021-08-12 18:34] #248 closed

[2021-08-12 18:36] aliabid94 commented on #229
Sorry for the late response - it seems like colab blocks iframe access to the microphone :/ You would have to click on the external URL to use the interface launched through Colab.

[2021-08-12 18:36] #229 closed

[2021-08-12 18:38] aliabid94 commented on #191
Sorry for the late response. Streaming audio is in the pipeline, will update you once that's available. Thanks!

[2021-08-12 18:38] aliabid94 commented on #222
Closing due to lack of response. Feel free to reopen.

[2021-08-12 18:38] #222 closed

[2021-08-12 22:01] AK391 commented on #230
@gchetty I was having a similar issue, using torch==1.8.0 resolved it, can you try that

[2021-08-12 22:03] AK391 commented on #230
@gchetty also see https://github.com/pytorch/vision/issues/4156#issuecomment-875336621

[2021-08-13 15:07] AK391 commented on #256
similar to https://github.com/gradio-app/gradio/issues/236 closing

[2021-08-13 15:07] #256 closed

[2021-08-13 15:23] abhigoku10 commented on #49
@ai-fast-track @atejap05  where you able to to use gradio for object detection can you share the reference so that i can do it for different example Thanks in advance

[2021-08-13 15:25] abhigoku10 opened #257 "Direct link to specific example in Gradio interface"
@abidlabs @julien-c  thanks for open-sourcing this wonder app  , i want to use gradio for object detection models can you please share some reference how to do it so that i can implement the same for my custom architecture. Thanks in adavance

[2021-08-13 19:13] AK391 commented on #257
@abhigoku10 you can check out yolov5
gradio hub: https://gradio.app/hub/AK391/yolov5
repo: https://github.com/AK391/yolov5/blob/master/utils/gradio/demo.py

is that similar to what you are looking to do?

[2021-08-14 06:55] abhigoku10 commented on #257
@thanks for the reference yes this is similar to what i am looking for , but in this the model is loaded to torch.hub , i wanted to custom model deployment  and can we pass videos as input

[2021-08-14 14:25] AK391 commented on #257
@abhigoku10 yes you can load a custom model as well without using torch hub
see this example https://github.com/AK391/vits/blob/main/gradiodemo.py

[2021-08-15 17:27] luisoala commented on #32
hi @dawoodkhan82 thanks for the effort. i have a similar issues. is there any update or workaround for .tif/.tiff files?

[2021-08-16 10:22] abhigoku10 commented on #257
@AK391  thanks for the reference , i have other queries
1. Can we have mouse event features on the uploaded image like clicking /drawing line
2. Can we change the background colors of the selections , format of the text
Thanks for the support

[2021-08-16 14:29] AK391 commented on #257
@abhigoku10

1. there is a image editor, can access by clicking edit in the image component area to draw lines on the image
2. Not sure about this, can you clarify about the use case
3. This should be added by gradio
4. Is this from the yolov5 demo?
5. You can have multiple input components like image and video but both would have to be populated currently for the demo to run

[2021-08-16 17:04] abhigoku10 commented on #257
@AK391  thanks for the response
1. in the image edit we have a drawing line but can we get the coordinate of the start and end points of the mouse event?
2. the whole theme of gradio is orange / green/ blue can we change it to custom colors
3. currently this feature is not getting added for the custom inference which i have
4. yup this is from yolov5 demo
5. I shall explain more " currently in all

[2021-08-16 22:08] AK391 commented on #257
@abhigoku10
regarding 6. see https://github.com/gradio-app/gradio/issues/236
optional input components are in the works
currently user would have to populate both the fields for the front end to respond
One option could be for the user to upload a video and then process the first frame of the video if the user is looking to process an image or process the entire video otherwise.

[2021-08-17 04:22] abhigoku10 commented on #257
@AK391  thanks for the response , but i shall wait since optional inputs are in progress . can you please respond for 1-4 points ??

[2021-08-17 16:56] AK391 commented on #257
@abhigoku10 for 1. not sure will look into it
2. see https://gradio.app/docs, css (str) - custom css or path to custom css file to use with interface.
3. do you have a link to the inferface or a screenshot of what you are seeing, should be enabled by default if you have a example image loaded for the interface
4. see above

[2021-08-17 18:33] abhigoku10 commented on #257
@AK391  Thanks for teh response
3. please find the screeshot of the image

![image](https://user-images.githubusercontent.com/22094053/129781437-e6c424b9-5252-4bf5-945d-1f79538081ce.png)

6. can the input radios by default be disabled and enabled only when clicked
7. Given a set of images in the examples can i come to knw what image will the user choose in the given list ??

[2021-08-17 19:04] roh006 opened #260 "In Gradio , I want to define my own IP address at locally I don't want to use by default IP address"
Hi Team ,
Can you please guide me, I am working on Text summarization however during a launch time I want to specify my address IP with port (http://172.32.33:770) instead of using by default. (127.0.0.1)

If you have any syntax and steps which I have to follow them and fix it . It will be helpful.

Thank you in advance.

![Gradio](https://user-images.githubusercontent.com/20080864/129785387-6dd52

[2021-08-17 19:31] chhaviarora95 commented on #254
Hi! My model was trained on a 32-bit arch and the hosted app doesn't work on generating predictions for it.

I am able to generate a temporary link and it works perfectly fine.

Considering, there isn't a functionality to choose 32-bit while getting hosted app set up - could I please get a refund?

I wasn't able to use the hosted app for the lack of this functionality and would appreciate it if so

[2021-08-17 19:40] Mcprasad commented on #260
@roh006  - you can use the server_name argument to set the specific IP address and use server_port to set a specific port.
![image](https://user-images.githubusercontent.com/19703489/129789626-c5af98f4-aaa2-425b-9d1f-431217bf6728.png)
Something like what is shown above in the gr.interface function..

you can also find this information here in the documentation - https://gradio.app/docs

[2021-08-17 20:10] AK391 commented on #257
@abhigoku10 3. and 4 can you try pip install gradio==1.7.0 the gallery view is showing for that version

[2021-08-17 20:14] AK391 commented on #257
@abhigoku10
6. https://gradio.app/docs#i_radio , the default value does not seem to be optional default (str) - default value.
7. Not that i know of

[2021-08-18 01:13] aliabd commented on #254
@chhaviarora95,  Sorry you couldn't get your hosted app working. We've cancelled your subscription and processed a refund. 

If you'd like an alternative to hosted consider using [spaces](https://huggingface.co/spaces) or [self hosting](https://abidlabs.medium.com/quickly-deploying-gradio-on-aws-242af2374784). 

[2021-08-18 05:55] abhigoku10 commented on #257
@AK391  thanks for the response
3 and 4 are working on gradio == 1.7.0 so is it disabled at gradio 2.2.0??
6. checked with that it's not working if used radio button by default first one is disabled

[2021-08-18 07:14] roh006 commented on #260
Hi , Thank you for your response, I tried the same i define the server name and server port however it is by default IP taking . Kindly advice where I m doing wrong

![Gradio_2](https://user-images.githubusercontent.com/20080864/129854468-20310027-b94c-4600-81a5-f7ccdbdd3a10.PNG)

[2021-08-18 14:53] AK391 commented on #257
@abhigoku10
3 and 4, yes it is not available in 2.2.0
6. ok I tried testing this as well, for 1.7, default is not a option but for 2.2 it does select the first string in your list of choices for the radio button

[2021-08-18 15:14] abhigoku10 commented on #257
@AK391
can we have 3,4 feature for 2.2.0 as well it will good from user perspective

[2021-08-18 17:10] abidlabs commented on #260
Hi @roh006 can you describe your use case here? Is 172.31.36.32 the IP address a machine that you have access to? If so, you can follow our instructions for self-hosting here: https://abidlabs.medium.com/quickly-deploying-gradio-on-aws-242af2374784

[2021-08-18 18:11] AK391 commented on #244
@huseynlilkin I was able to reproduce this with gradio , will notify @aliabid94 could try using a older version of gradio which does not have this issue for example version 2.0.5
<img width="1018" alt="Screen Shot 2021-08-18 at 2 07 48 PM" src="https://user-images.githubusercontent.com/81195143/129949890-b435e06b-1630-4e80-ac71-48c3a3d16199.png">

[2021-08-18 18:31] AK391 commented on #239
@Johnson-yue what is your use case here, all fields currently have to be populated for the front end to respond, optional input components are in the works

[2021-08-23 03:49] Johnson-yue commented on #239
My case is， I have 3 inputs like [ text, image1,  image2]  and outputs is only [imageO1].
So, I want to only change image1 to image3  and not change others, new inputs is [text, image3, image2]

[2021-08-30 12:38] NielsRogge opened #264 "Multiple input types"
I've made a Gradio demo for LayoutLMv2: https://huggingface.co/spaces/nielsr/LayoutLMv2-FUNSD

The model can annotate document images. It accepts both images and PDF documents (both should just be turned into a PIL image).

How can I support both "image" or "file" as input? In other words, there are multiple input types possible.

Also, is there a way to make the output bigger?

[2021-08-30 16:16] NielsRogge commented on #264
Hmm I meant _either_ a PIL image _or_ a file, not both.

And in terms of making the output bigger, it's not possible to show it on a bigger scale?

[2021-08-30 19:11] AK391 commented on #264
@NielsRogge could try converting pdf to a image and then use the type=file for the image input component or just the file input component type would handle both images and pdfs

for showing the output on a bigger scale you can try css in the inferface like this

iface = gr.Interface(fn=process_image,
                     inputs=gr.inputs.Image(type="pil"),
                     outputs=gr.outputs.I

[2021-08-30 19:41] abidlabs commented on #264
Just to add to that, another option would be using "optional inputs", which we just introduced in `gradio 2.2.15`. @aliabid94 can you provide an example?

[2021-08-30 23:22] AK391 commented on #264
@abidlabs added that to a demo, for the image input component uses
inputs=gr.inputs.Image(type="pil", optional=True)

[2021-08-31 07:58] NielsRogge commented on #264
Thanks @AK391. Regarding making the output bigger, that worked, thanks. How can I make the input also bigger?

I tried this:

`.output_image, .input_image {height: 50rem; width: 100%;} `

But that didn't seem to work.

[2021-08-31 18:47] aliabid94 commented on #236
Optional inputs are supported as of 2.2.15, use the optional= kwarg . Let us know if you have any other issues.

[2021-08-31 18:47] #236 closed

[2021-09-01 15:39] discdiver opened #265 "Bug: Working with Data example crashes on Python 3.9.6"
This looks like a cool project. Thank you for it! Testing it out.

The Getting Started -> Working with Data example crashes after 1 submit.

The code is just the code from the demo. Running on Python 3.9.6 in Chrome Version 92.0.4515.159 (Official Build) (x86_64) on MacOS Mojave.

package versions from conda:

[code]

stack trace:

[code]

If I add `live=True` and restart the app freezes.

[2021-09-02 21:02] aliabid94 commented on #265
Will take a look, thanks for bringing it to our attention

[2021-09-08 08:23] LESSSE opened #269 "[Feature] Combine "upload", "webcam" and "canvas" sources into a "dynamic" source for image"
I would like to provide only one interface and be able to both use the webcam and upload images.

I suppose is not hard to add a small box to input.Image widget that would allow users to dynamically choose what they want: to use "upload", "webcam" or "canvas".

[2021-09-08 21:27] chschock opened #270 "use css framework in html output"
I'm wondering if there is a easy change that allows using an 'arbitrary' css framework like bootstrap, semantic, bulma or uikit in an html tag, including it with `<link>` and `<script>` tags. It seems to work with the css parts of the frameworks, but components don't function, as the js imports don't work. Is it React that overrides something? One does see the correct rendering of such components

[2021-09-13 07:38] Honghe opened #271 "gr.inputs.Image(tool='select') not work in 2.1.2"
`gr.inputs.Image(tool='select') ` still open full `editor` as `gr.inputs.Image(tool='select') ` in v2.1.2.

[2021-09-13 15:18] rensir opened #272 "Gradio is not working in local network"
Can I use Gradio on the local network？
When I run offline, an error is prompted

![屏幕截图 2021-09-13 231609](https://user-images.githubusercontent.com/7610314/133110856-a1302d2f-87ea-409b-abe9-3385f6cf067f.png)

Will you be able to check and let us know how to run it? Thanks

[2021-09-13 17:40] abidlabs commented on #272
Hi @rensir I am not able to reproduce this issue with `gradio==2.3.0`. Can you tell me more about what environment you are running on?

![image](https://user-images.githubusercontent.com/1778297/133131034-78a5596d-5e92-4e2f-b76a-d0d7d85052b7.png)

[2021-09-13 17:41] abidlabs commented on #271
Hi @Honghe thanks for bringing this to our attention. I'm able to reproduce this issue -- our team will address this asap.

[2021-09-13 18:06] rensir commented on #272
Thanks @abidlabs
![屏幕截图 2021-09-13 231609](https://user-images.githubusercontent.com/7610314/133133684-d4f618d1-e563-45ff-9cee-2492bca566f2.png)
My OS is linux Lite 5.6 running on VMware Workstation Pro . Use vitual LAN network(Not connected to the Internet).

[2021-09-13 22:07] abidlabs commented on #272
Ok, so I was able to reproduce the error!

Working on a patch asap, thanks for letting us know

[2021-09-14 15:31] abidlabs commented on #272
This should be fixed now in `gradio 2.3.2`!

Please let me know if you still run into any issues.

[2021-09-14 15:31] #272 closed

[2021-09-14 15:32] abidlabs commented on #260
Closing because of lack of activity

[2021-09-14 15:32] #260 closed

[2021-09-14 15:32] abidlabs commented on #270
Tagging @aliabid94 here

[2021-09-14 15:34] abidlabs commented on #269
This is a cool idea! We'll look into it.

In the meantime, you could create multiple inputs (one webcam, one upload, one canvas) and make them all optional! Depending on which one the user uses, you could pass that into your function and make predictions appropriately.

[2021-09-14 15:34] #269 closed

[2021-09-14 15:35] abidlabs commented on #264
Closing, since this seems to be fixed! Thanks

[2021-09-14 15:35] #264 closed

[2021-09-14 16:15] rensir commented on #272
@abidlabs  Thanks fixed it. gradio gets better and better

[2021-09-14 20:05] vaasu opened #274 "static assets does not load, making the whole site blank when `iface.launch(share=False)`"
This was discovered while running the code from Getting Started.
Steps to reproduce:
1 - on a fresh install of Ubuntu,
2 - `pip install gradio`
3 - `python3 main.py` with code from simple script in Getting started,

[code]

Expected:
1 - Webpage loaded with similar interface from Getting started guide.

Actual output:
1 - Blank white screen

- Diving deeper into the code, the pip install does not

[2021-09-14 20:20] aliabid94 commented on #274
Yikes, taking a look. What gradio version?

[2021-09-14 20:23] vaasu commented on #274
latest, 2.3.2 . Thanks. 2.3.1 also have the same problem.

[2021-09-14 20:28] deepak242424 opened #275 "Microphone input is not working"
I am trying to create a demo on my laptop. It should record a file from Microphone and plot the spectrogram for it. When I am trying to record via microphone it just stopped immediately and hence nothing gets recorded.

I am using Macbook and trying to run the demo locally on the laptop. I am using gradio==2.3.0.

[code]

[2021-09-14 20:28] aliabid94 commented on #274
I see it. Just pushed 2.3.3 with fix.

[2021-09-14 20:34] aliabid94 commented on #274
Thanks for bringing to our attention!

[2021-09-14 20:37] #274 closed

[2021-09-15 17:24] harveenchadha opened #276 "Microphone stops working after pressing the clear button."
What is the issue?
Microphone stops working after pressing the clear button

How to replicate this issue?
Go to this [space](https://huggingface.co/spaces/Harveenchadha/wav2vec2-vakyansh-hindi)

1. Press record and submit
2. Output will come. Now press on clear button.
3. Click on record again.

You will see recording will stop automatically.

Any fixes for this?

[2021-09-15 19:08] aliabid94 commented on #276
Taking a look.

[2021-09-15 19:11] aliabid94 commented on #276
Hmm it worked fine for me actually on initial test, will debug harder. Can you provide OS and browser version?

[2021-09-15 19:14] aliabid94 commented on #275
Taking a look. Seems like another user reported something similar.

[2021-09-15 19:15] aliabid94 commented on #275
Did your browser prompt you for microphone access?

[2021-09-15 19:17] deepak242424 commented on #275
Yes, it asked. And allowed the permission.

[2021-09-15 19:21] aliabid94 commented on #275
Can you provide browser and OS? Also can you see if https://12885.gradio.app works for you? Just launched your code with share=True.

[2021-09-15 19:25] deepak242424 commented on #275
I am using Mac Big Sur v11.5.2. I tried both on Google-Chrome and Safari but it didn't work.

I tried the link shared by you, it is also not working for me. I can see the record button but as soon as I am clicking it, empty file is getting submitted.

[2021-09-15 19:26] aliabid94 commented on #275
Interesting, will test on a Mac and get back to you.

[2021-09-15 19:27] deepak242424 commented on #275
Thanks. Meanwhile can you please let me know on which OS it is working for you?

[2021-09-15 19:27] aliabid94 commented on #275
It works on Windows 10 chrome for me.

[2021-09-15 19:52] aliabid94 commented on #275
Was able to reproduce on Mac. Fixing now.

[2021-09-15 19:52] aliabid94 commented on #276
Was able to reproduce on Mac. Fixing now.

[2021-09-15 21:41] aliabid94 commented on #275
Can you try with Gradio 2.3.4?

[2021-09-16 02:15] harveenchadha commented on #276
OS: Ubuntu.
Browser: Chrome Version 92.0.4515.107

Same behaviour I can observe in mac as well.

[2021-09-16 11:43] deepak242424 commented on #275
After installing v2.3.4 I am able to record the voice on Mac, but the spectrogram is coming empty. I am trying to tun the code mentioned in my first comment.

[2021-09-19 10:32] nathanshammah opened #278 "Internal server error at sign up"
This is an issue encountered on the website, so I am not sure it fits in here.

If I try to sign up on https://gradio.app/ with my Github account details (username + 2FA), there is an internal server error, which reads:
[code]
I believe the details are correct. If I try to click on "Sign In" again, I am redirected to the same url with no option to update the login information.

[2021-09-19 21:30] aliabid94 commented on #278
There does seem to be some issue with our infra. Taking a look!

[2021-09-20 01:05] aliabid94 commented on #278
Can you try again? I believe there was an infra issue that I've resolved.

[2021-09-20 08:23] nathanshammah commented on #278
It now works, thank you @aliabid94.

[2021-09-20 08:23] #278 closed

[2021-09-20 08:24] nathanshammah opened #279 "Could remove info on old promo"
At https://gradio.app/introducing-hosted

the website reads
[code]
This information could be removed or updated if still relevant.

[2021-09-20 10:22] nathanshammah opened #280 "Add information on hosting fee"
Right now, the only part I can read about the hosting service is on
https://gradio.app/hosted, which is visible only by having logged in already,
[code]

The same sentence is also present on https://gradio.app/introducing-hosted (visible to anyone), under the "Why Hosted?
" blurb and "How does hosted work?" at "Step 3 - Create a Gradio Account".

1. It would be better to make this information stan

[2021-09-20 12:36] abidlabs commented on #239
This is something that we are going to be able to handle immediately since it would require a UI refresh.
Closing for now.

[2021-09-20 12:36] #239 closed

[2021-09-20 12:37] abidlabs commented on #230
Closing because this is not a gradio issue. Thanks everyone for helping!

[2021-09-20 12:37] #230 closed

[2021-09-20 12:38] abidlabs commented on #216
Given the structure of the input components, I think this is best realized by including both image and video as 2 optional input components. Closing, but feel free to open @AK391 if you feel strongly otherwise.

[2021-09-20 12:38] #216 closed

[2021-09-20 13:00] abidlabs commented on #265
I'm not able to reproduce this. See colab:
https://colab.research.google.com/drive/1iWftadiZeAnAq7pIzl49vxKSjLvXc-L9?usp=sharing

@discdiver are you still seeing this?

[2021-09-22 09:37] christianayala10 opened #283 "Empty files retrieved from S3 inside "predict" function"
When files are retrieved from an s3 bucket they come as empty numpy arrays. However, when the same code is executed outside the `predict()` gradio's function, these files come filled with values.

[code]

[2021-09-22 15:59] abidlabs commented on #283
This seems very strange. The only difference is that when you run it inside a `predict()` function, it's running on a different thread, not the main thread.

Perhaps your S3 authentication doesn't get passed into the other thread? Try putting as much of the S3 loader code inside `predict()` if you can.

[2021-09-22 19:24] christianayala10 commented on #283
@abidlabs all the S3 loader code is inside the `predict()` function. Moreover, what I am retrieving satellite data from the oficial S3's Sentinel-2 bucket using rasterio.

[code]

[2021-09-23 20:54] donaghhorgan opened #284 "Pylint finds errors with gradio imports"
Hi, I'm using gradio in a project that also uses GitHub Super-Linter and the pylint module is flagging my gradio code as having the following errors:

[code]

See [here](https://github.com/donaghhorgan/clmbot/runs/3692682474?check_suite_focus=true) for the full workflow funr and [here](https://github.com/donaghhorgan/clmbot/blob/develop/clmbot/deploy/client/gradio.py) for the offending file.

Coul

[2021-09-26 17:30] iatharva commented on #55
But  UI still uses the "click to snap" interface. Are you sure the issue is fixed @aliabd?

[2021-09-27 19:11] christianayala10 commented on #283
Update 27/09/2021

I have found the issue. GDAL opens a raster making use of multiple threads. Therefore, setting the rasterio's environment flag `GDAL_NUM_THREADS` to only one thread does the work (I reckon because it executes the code in the current thread, that is the gradio thread). However, this approach drastically reduces the performance of the application, since the read method takes much

[2021-09-29 05:05] johnkuangwork opened #285 "Pickle is unable to load a SHAP explainer object"
Hi, I am trying to load a SHAP explainer object but failed to launch gradio hosting. But there is no issue run and launch on local juypterlab...

explainer = pickle.load(file), seems unable to run...any ideas? thank you!!!

Error message:
----------------------------------------------------------------------------------------------------------------------------------
  | Starting container...
  |

[2021-10-06 03:27] johnyquest7 commented on #271
Was this fixed? Many a times the full editing tool will obscure the image.

[2021-10-06 16:44] aliabid94 commented on #279
Good point, will remove. Thanks!

[2021-10-07 16:39] AK391 commented on #60
@MultiPath do you mean resizing the output image component, you can try doing that with css in the interface https://gradio.app/docs#interface

[2021-10-07 18:22] MultiPath opened #287 "Is it possible to make the output image original size?"
Hi, I am developing a demo using gradio for GAN output and the typical image size is around 1024.
But the results looks pretty small right now. I think it automatically resize the image when showing in browser.

Thanks

[2021-10-07 23:02] johnyquest7 opened #288 "Ablity to pick more than 1 flag item - feature request"
It would be great if we could select more than 1 flag item.
For example flags could be
- Correct diagnosis
- Wrong diagnosis
- Correct description
- Wrong description

then the user should be able to chose multiple combinations for 1 image like correct diagnosis and correct description.
This will help in research setting while validating a model.

[2021-10-07 23:08] abidlabs commented on #285
It looks like this is an issue with different version of Python (see this for example: https://github.com/RedisGears/redisgears-py/issues/13). Gradio Hosted runs Python 3.7, so if you can make sure the explainer was pickled on a system running Python 3.7, it should work.

[2021-10-07 23:08] #285 closed

[2021-10-07 23:13] abidlabs commented on #284
Thanks for raising the issue! I do see the issue, but my IDE isn't raising this linting issue which makes it hard to tackle it. Can you try forking the repo and defining `__all__` in the `__init__.py` and seeing if that solves the issue? Happy to accept a PR if so

[2021-10-07 23:16] abidlabs commented on #283
I think the only way to do that would be to modify the code so the opening up the raster happens outside of the `predict()` function, if possible

[2021-10-07 23:19] abidlabs commented on #288
Thanks for the feedback @johnyquest7! We'll have to see if we can implement this in a way that does break how flagging options are currently implemented. In the meantime, what about the options being:
- "Correct diagnosis and description"
- "Correct diagnosis only"
- "Correct description only"
- "Incorrect diagnosis and description"

[2021-10-07 23:19] #288 closed

[2021-10-09 05:50] johnyquest7 opened #293 "Cannot queue with encryption or authentication enabled."
Unable to queue when authentication is enabled.

[2021-10-09 06:04] johnyquest7 opened #294 "If auth function is enabled gradio will give error"
Gradio version = 2.3.7b1
If gradio interface is launched with auth enabled. It will error out. If auth is deleted, gradio will launch without any problem.

[2021-10-12 07:08] osanseviero opened #298 "Allow to output images from remote url"
`gradio.outputs.Image` with `type= file` just works if the file is local. Would it be possible to also allow remote urls?

[2021-10-12 12:33] abidlabs commented on #294
Thanks @johnyquest7 we'll look into this.

[2021-10-12 18:27] abidlabs commented on #140
Closing due to staleness. If this is still an issue, please reopen.

[2021-10-12 18:30] abidlabs commented on #235
Sorry, is this still an issue @nimanpra? If so, can you send me a link to your Gradio Hosted interface?

[2021-10-13 02:40] #298 closed

[2021-10-13 19:38] kondela opened #299 "Including auth arg in launch() makes external link redirect to localhost"
Basically the title.

I tried out `.launch(auth=('some_name', 'some_password'), share=True)`, terminal prints out
[code]

However, `https://54123.gradio.app` redirects to `http://localhost:54123/login?next=%2F`.

Works with `.launch(share=True)`

[2021-10-14 09:12] wilile26811249 opened #301 "Failed to load source when launch(share = True)"
![gradio_bug](https://user-images.githubusercontent.com/23655220/137286477-99caf0b9-8dc2-4040-b280-8897900e29fb.png)

Code:

`app = gr.Interface(
		inference,
		[
		  gr.inputs.Image(shape = None, label = "Upload image here"),
		],
		[
		gr.outputs.Image(label = "Result),
		],
		layout = "horizontal", # vertical
		theme = "default"
	)
	app.launch(share = True)`

My app is for object detection.
Whe

[2021-10-14 21:02] aliabid94 commented on #301
I am not able to reproduce. Can you provide gradio version and browser?

[2021-10-15 01:20] wilile26811249 commented on #301
Yes.
I upgrade to the latest version (2.3.7).
The error stills remain.

[2021-10-15 01:30] wilile26811249 commented on #301
[26895.gradio.app-1634261018405.log](https://github.com/gradio-app/gradio/files/7350232/26895.gradio.app-1634261018405.log)

[2021-10-15 01:44] aliabid94 commented on #301
Interesting. I was playing around with the interface - I don't think it has to do with the image input interface (because the first time I cleared it worked). I think it might have more to do with what is being returned by the function to the frontend. Is this code accessible anywhere? If not, can you confirm if this works when share=False?

[2021-10-15 01:44] aliabid94 commented on #301
![http_error](https://user-images.githubusercontent.com/7870876/137419018-fdc1afe9-5314-4d26-85a3-1f3c2bc2f1b0.gif)

[2021-10-15 03:21] abidlabs commented on #301
Can you try moving the `model = load_model()` code outside of the function? Your `gradio` prediction `function` can access any locally defined variables, so that should work (and also speed up your demo since it doesn't need to the load the model each time).

Some ideas for what the issue could be:
* Loading the model multiple times could be causing an issue
* Using `imwrite` to the write to the s

[2021-10-15 03:22] abidlabs commented on #299
Thanks, @aliabid94 is taking a look at this!

[2021-10-15 03:27] abidlabs commented on #204
@dawoodkhan82 is working to pipe errors to the front end:

![image](https://user-images.githubusercontent.com/1778297/137427693-1b838d95-ff55-4f7b-ac26-519e9becbcd7.png)

[2021-10-18 19:05] roh006 opened #302 "Regarding to build an API for Audio to Text where you can upload a file I cann't see any object and component"
Hi Team,

I have to build an API  for Audio to Text however I cann't see any component and object for that where I can upload or drag my audio file and generated  a text output . Just like a below images

Kindly respond ASAP

![image](https://user-images.githubusercontent.com/20080864/137791488-e0f17d9e-c075-4cfc-b3b3-cfaa08c9a0eb.png)

[2021-10-18 19:14] #302 closed, assigned to nobody

[2021-10-19 04:33] aliabid94 commented on #299
Fixed now. Let us know if you have any other issues!

[2021-10-19 04:33] #299 closed, assigned to nobody

[2021-10-19 13:46] byeolkady opened #304 "When I click "Sign In" button , got a error"
When I click "Sign In" button , got a error (below message )

Internal Server Error
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

[2021-10-19 16:02] #304 closed, assigned to nobody

[2021-10-21 22:02] AK391 opened #310 "2.3.9 image optional = true not responding"
tested on space for lama and u2net the front end is not responding with using image option=True, works for gradio 2.3.7

[2021-10-24 12:00] MultiPath opened #311 "Is it possible to only load the file once and keep it for live demo?"
Hi,

I am building some demo with live=True. I take an optional input of uploading a file. However, I found that, when the file is uploaded, it will be constantly re-uploaded and save to different places when I change other inputs (like slider, textbox).

Is there any way to stop this? Also, it is also fixed when the file is selected. There seems no way to choose to upload a different file except

[2021-10-24 20:05] samirsalman opened #312 "Reach gradio app deployed on nginx server"
Hi, how can I reach my gradio app deployed on my own nginx webserver?

[2021-10-26 04:52] Adeel-Intizar opened #314 "How to Display Multiple Images in Output ?"
Hi,
I want to use Gradio as the Interface for GAN, and I want to show multiple images in output generated by GAN, is it possible by Gradio ?

[2021-10-26 18:06] qidanrui opened #315 "Open multi interfaces in Jupyter"
Hi,
    Recently I tried gradio, it's a very fantastic tool! However, when I tried to open multi inferfaces in Jupyter Notebook, even I closed the previous interface, the port of second launched service still changes. For example, in the following figure, I opened an interface with port 7861 and closed it. Then when I launch it again, the port becomes 7862. Does it mean the port 7861 actually unre

[2021-10-27 09:33] osanseviero opened #317 "decode_base64_to_image failing"
Spaces with the error in the logs: https://huggingface.co/spaces/Tuana/face-recognition-sklearn-demo
Error stack

[code]

[2021-10-27 11:30] Adeel-Intizar opened #318 "Screenshot Button is not working"
Hi,
I built the GAN UI with Gradio, but the Screenshot button is not working, neither in Colab nor in the external URL, but Flag button is working just fine, is this a bug ? can you help me with this ?
Thank you

[2021-10-27 22:30] jocelynbaduria opened #319 "Question and Answering"
Hi
I wanted to use your function for my homework but I have problem implementing it to colab notebook. Im getting error to show the answer. Also the Answer Textbox is not properly showing.This is the screenshot of the result. Kindly help. Thank you.

![Screen Shot 2021-10-27 at 3 27 04 PM](https://user-images.githubusercontent.com/62075076/139156509-9ba6fe72-d37b-4cd3-875d-2f58187486b4.png)

gradi

[2021-10-28 10:01] shubham-goel-zefr opened #320 "Flagging throwing a TypeError"
`TypeError: argument should be a bytes-like object or ASCII string, not 'dict'`

I'm getting this error when I'm trying to flag something in my Gradio app.
My outputs include multiple text boxes, as well as Image and Video components. How do I resolve this?

[2021-10-29 00:59] #320 closed, assigned to nobody

[2021-10-29 18:17] discdiver opened #323 "several demos on home page fail"
The image segmentation and question answering demos on the home page error with no helpful error message. See attached screenshot.

<img width="1009" alt="Screen Shot 2021-10-29 at 2 09 53 PM" src="https://user-images.githubusercontent.com/7703961/139483231-fc6d7f50-79f8-4506-993d-07efcc693544.png">

[2021-10-29 18:20] discdiver opened #324 "Bug: interpretation fails on mnist example"
Only modification to the example code is to use `debug=True`.

Screenshot attached.
<img width="1137" alt="Screen Shot 2021-10-29 at 2 18 09 PM" src="https://user-images.githubusercontent.com/7703961/139483569-2a0f0eb4-f3b6-414c-b43e-2b4e3c6a27af.png">

Stack trace:

[code]

[2021-10-29 18:23] discdiver opened #325 "Docs: Explain how default interpretation works"
Looks like Shapley values are being used some times. Would be good to explain what's being used for interpretation and caveats with it. Might be worth pointing folks to Molnar's [Interpretable Machine Learning ebook](https://christophm.github.io/interpretable-ml-book/) for more information.

[2021-10-29 18:42] discdiver commented on #324
python 3.9.6
tensorflow 2.6.0
flask  2.0.1

in latest version of chrome for mac os

[2021-10-31 23:55] jaekookang opened #327 "Video example upload fails"
Hi, I'm playing with Gradio to deploy my custom applications and found this framework really easy and useful.

I just encountered an issue about making video files as examples. I was replicating a CLIP-based video text query search following this: [https://twitter.com/ak92501/status/1421246864649773058?s=20](https://twitter.com/ak92501/status/1421246864649773058?s=20).

I made video files (mp4) as

[2021-11-01 20:02] aliabid94 commented on #327
Can you share the structure of the directory, especially
- where is the python file located
- where are the videos located
- where are you running the command to launch your python file

[2021-11-02 01:46] jaekookang commented on #327
- The python file (`gradio_videosearch.py`) is located at the top level.
- Video files are located under `videos` folder.
- I'm launching my python file from the remote server.

<img width="250" alt="app" src="https://user-images.githubusercontent.com/18749927/139773170-62e43021-9650-40c3-8a8a-d94506e28ace.png">

While checking my code based on your comment, I found that I didn't add square bracke

[2021-11-02 20:31] abidlabs commented on #324
Thanks for pointing this out @discdiver, we've identified what the issue is and are patching it right now!

[2021-11-03 02:25] abidlabs commented on #323
Thanks for catching this @discdiver -- @aliabid94 is actually rewriting the entire website and so these should be fixed as part of that process.

[2021-11-03 02:25] #323 closed

[2021-11-03 02:25] abidlabs commented on #325
Great suggestion! Will add this to the website

[2021-11-03 14:40] abidlabs commented on #327
@aliabid94 is this the expected behavior? Why does @jaekookang need to put brackets around the text examples?

[2021-11-03 14:41] abidlabs commented on #220
Thanks, we are working on this! Could you describe your use case a bit more? What kind of model are you demoing?

[2021-11-03 14:42] abidlabs commented on #319
The problem here seems to be related to the underlying `BertForQuestionAnswering` model, not `gradio`. The model doesn't have a `predict()` function. I would look into the library and see what the right method to call is.

[2021-11-03 14:42] #319 closed

[2021-11-03 16:19] jocelynbaduria commented on #319
@abidlabs Thank you for the clarifications.

[2021-11-03 18:08] aliabid94 commented on #327
Hmm that’s unexpected, I’ll take a look

[2021-11-03 18:31] abidlabs commented on #317
Closing because it looks like everything works now :)

[2021-11-03 18:31] #317 closed

[2021-11-03 18:32] abidlabs commented on #314
Looks like this the same issue as in #318? Closing so that we can avoid duplicates

[2021-11-03 18:32] #314 closed

[2021-11-03 18:33] abidlabs commented on #312
Please see this guide: https://abidlabs.medium.com/quickly-deploying-gradio-on-aws-242af2374784

Does that help? If not, please reopen with more details on what you are seeking.

[2021-11-03 18:33] #312 closed

[2021-11-03 18:34] abidlabs commented on #280
Closing as a redesign of the website is in the works

[2021-11-03 18:34] #280 closed

[2021-11-03 18:36] samirsalman commented on #312
Sorry, I try to be more clear, the real issue is to change the gradio app base path, because on my server I can't use "/" like base path.

[2021-11-03 18:38] abidlabs commented on #311
@aliabid94 this is a good point. We shouldn't reupload the file if it has not changed. Thanks for bringing this to our attention @MultiPath.

[2021-11-03 18:44] abidlabs commented on #318
Can confirm that I able to reproduce this issue. Basically, it looks like:
* the Screenshot button works locally
* but it doesn't do anything when you open the URL generated by `share=True`
(This is true across different interface types). For example, I tested an image classification network

[2021-11-03 18:47] abidlabs commented on #312
Typically the way to do this is to run the Gradio app on some port, and then write an nginx rule to expose that port with any path you want.

[2021-11-03 18:47] nathanshammah commented on #280
Thanks for the feedback, keep it up!

[2021-11-03 18:47] abidlabs commented on #235
Closing for lack of response

[2021-11-03 18:47] #235 closed

[2021-11-03 18:48] #149 closed

[2021-11-03 18:49] abidlabs commented on #204
This is now live in Gradio 2.4.0!

[2021-11-03 18:49] #204 closed

[2021-11-03 18:51] abidlabs commented on #244
It looks like this is fixed now, as of `gradio>2.4.0`. If not, please let us know and reopen this issue!

[2021-11-03 18:51] #244 closed

[2021-11-03 18:56] #246 closed

[2021-11-03 19:01] abidlabs commented on #275
Can you please try the following code and let us know if it works for you? If so, then it's not an issue with `gradio` but perhaps with `signal.spectrogram`?

[code]

If this does not return the original recorded file, then please reopen and we'll do more testing on Macs.

[2021-11-03 19:01] #275 closed

[2021-11-03 19:04] abidlabs commented on #276
Should be fixed. If not, please let us know and reopen this. Thanks @harveenchadha!

[2021-11-03 19:04] #276 closed

[2021-11-03 20:00] #315 closed, assigned to nobody

[2021-11-03 20:02] abidlabs commented on #257
To clarify, the main thing left here is for us to have a direct link to a specific example so that it preloaded when someone visits the link. E.g. `http://127.0.0.1:7861/#1` loads the first example. We used to have this @aliabid94 and I think it is a useful feature. Can we bring it back?

[2021-11-03 20:13] abidlabs commented on #324
Hi @discdiver we've fixed the primary bug that was causing interpretation to fail on all of our image interfaces. We don't actually show support interpretation for the sketchpad interface, but it should work on the regular Image interface, like this:

![image](https://user-images.githubusercontent.com/1778297/140185607-eafa8695-8ba6-4506-8a53-d637c0fe8990.png)

Feel free to pull the latest version

[2021-11-03 20:13] #324 closed

[2021-11-03 21:39] discdiver commented on #324
Cool. Thanks!

On Wed, Nov 3, 2021 at 4:13 PM Abubakar Abid ***@***.***>
wrote:

[2021-11-04 16:00] abidlabs commented on #327
I tried to reproduce this issue, but wasn't able to @jaekookang. When I wrote the code below (to mirror yours), everything worked fine. Can you see if the issue resolved with the latest version of `gradio==2.4.2`?

![image](https://user-images.githubusercontent.com/1778297/140374835-2d8baa40-ef03-467f-8dda-496c8e545d59.png)

[2021-11-04 16:00] #327 closed

[2021-11-04 23:15] jaekookang commented on #327
I see. The Gradio version that I used was 2.4.1. Maybe I should upgrade and re-try. For the time being, the double brackets around texts worked for me.

[2021-11-06 20:36] abidlabs opened #337 "Easier way to load HF models locally"
Good suggestion by @KingAragorn on how to load local transformers models by doing something like:

[code]

[2021-11-08 15:23] abidlabs opened #340 "Progress bar component"
@aliabid94 I think this is a great suggestion! It would be nice if people can provide their own status updates at different parts of the code. Perhaps this could be possible as you revamp the queuing mechanism?

### Discussed in https://github.com/gradio-app/gradio/discussions/339

<div type='discussions-op-text'>

<sup>Originally posted by **abnerLing** November  8, 2021</sup>
I have an app that

[2021-11-08 18:53] lmanan opened #341 "A component that support colormaps/contrasted viewing while displaying images"
Hello. I wanted to ask if it would be possible to display images with a color map, or if there could be a way to adjust the contrast of the viewer while inputting images? For the application I am interested in, I would like to feed in some microscopy images to the trained model, which when wrapped with the PIL class, could appear quite dark.

I would imagine that the API for the **[Image](https://

[2021-11-08 19:29] MLbyML commented on #341
Just for reference, an exemplary image where it is hard to discern the underlying structure, is seen on the left in this screenshot:
![image](https://user-images.githubusercontent.com/34229641/140805271-ed367bfc-f556-4745-b571-8b4e7e0553f7.png)

[2021-11-09 00:47] BioGeek opened #343 "Series and Parallel don't work if prediction contains an ndarray when using Spaces"
I was trying to recreate the example from this tweet:

https://twitter.com/abidlabs/status/1457753971075002376

[code]

But this fails with the following error:

[code]

![parallel](https://user-images.githubusercontent.com/59344/140841080-51537e88-5999-4b44-8c0a-0a6b9b5cc778.png)

[2021-11-09 00:56] abidlabs commented on #343
You’re right! We’re working on patching Parallel() as soon as possible

On Mon, Nov 8, 2021 at 6:47 PM Jeroen Van Goey ***@***.***>
wrote:

--
Abubakar Abid
Department of Electrical Engineering
Stanford University || Paul & Daisy Soros Fellow
@abidlabs <https://twitter.com/abidlabs> || *abidlabs.github.io
<http://abidlabs.github.io>*

[2021-11-09 07:31] claree007 opened #344 "Option to add path to the url"
When the app is launched locally, it opens at http://localhost:7860. I would like to have an option to add a path to the url. So if I specify "myapp" as the custom path, the app should launch at http://localhost:7860/myapp and for "myapp/gradio", the app should launch at http://localhost:7860/myapp/gradio.

The need for this that the server on which our gradio app will be deployed has got rules wh

[2021-11-11 18:48] shubham-goel-zefr opened #357 "Screenshot doesn't capture the whole page if it exceeds the standard limit"
If the vertical length of the app is greater than the standard display size, the screenshot button only captures what's currently in frame. I'm not sure if it's by design, but a) either it should capture the whole page b) provide an option to select the current portion/whole page.

[2021-11-12 10:15] vijishmadhavan opened #359 "Why Iam getting this error? Error code: 501"
Error response
Error code: 501

Message: Unsupported method ('POST').

Error code explanation: HTTPStatus.NOT_IMPLEMENTED - Server does not support this operation.

[2021-11-12 13:14] DavidZha1994 opened #360 "Input Components File returns a temporary file object with a random ending"
After upgrading from gradio-2.3.6 to gradio-2.3.6, random ending of file object is not beginning with "_" anymore,This makes it hard for me to separate it from the original name of the file.

[2021-11-12 13:16] DavidZha1994 opened #361 "Is it possible to change the language of the interface? Or edit it manually"

[2021-11-12 17:31] samuel-lunii commented on #359
I am getting the exact same error when trying to host a new repo, at the `https://gradio.app/dockerize` stage...
@vijishmadhavan how did you get this error ?

[2021-11-12 17:47] abidlabs commented on #361
This is something that's been on our radar for a while (see "https://github.com/gradio-app/gradio/blob/abidlabs/strings/gradio/strings.py" which was created to support internationalization), and our `title` and `description` parameters are fully user-specified so they can easily be in a different language.

That being said, what parts of the interface would you like to change to a different langua

[2021-11-12 17:48] abidlabs commented on #360
@aliabid94 it's possible to get the original name in a different way, right?

[2021-11-12 17:48] abidlabs commented on #359
Yes, can you please explain where and when you're getting this error?

[2021-11-12 17:50] abidlabs commented on #357
Thanks for bringing this to our attention, Shubham. Can you include an example screenshot so we know what behavior you're experiencing?

[2021-11-12 17:52] abidlabs commented on #341
Hi @MLbyML this is quite interesting. So to make sure I understand correctly, is your issue with how the input image is displayed when you upload it? At that point, there is no preprocessing involved -- it's literally the image you saved and uploaded. Shouldn't any adjustment be made before you save it?

[2021-11-12 17:53] abidlabs commented on #344
Looking into this!

[2021-11-12 17:55] samuel-lunii commented on #359
@abidlabs
In my case it happens right after I click on the "launch" button from the [https://gradio.app/hosted-launch](https://gradio.app/hosted-launch) page

[2021-11-12 17:58] abidlabs commented on #359
Thanks @samuel-lunii. Looking into it. In the meantime, I highly recommend checking out Hugging Face Spaces (https://huggingface.co/spaces), which lets you host Gradio apps just like Gradio Hosted, and is now the preferred hosting solution we recommend.

[2021-11-13 06:38] abidlabs commented on #343
Should work now!

[2021-11-13 06:52] abidlabs opened #363 "Speech input Spaces not loading correctly link T-33"
When a Space with Audio input is loaded using `gr.Interface.load()`, it throws an error when we try to run inference.

[2021-11-13 10:59] BioGeek commented on #343
Thanks for the quick fix! I can confirm that it now works for Parallel, but on gradio 2.4.5 Series is still broken. For example:

[code]

fails with:

[code]
![screenshot](https://pbs.twimg.com/media/FD3Vm8RXIAEhhpd?format=jpg)

[2021-11-13 16:27] abidlabs commented on #343
Ah you're right, thanks will fix this issue

[2021-11-15 14:48] #343 closed

[2021-11-15 14:49] abidlabs commented on #343
Should be fixed now! Here's a screengrab of it in action:

![image](https://user-images.githubusercontent.com/1778297/141802090-34badd8f-c804-40f1-996f-ffe9273133c6.png)

[2021-11-15 15:22] abidlabs opened #366 "Submit button on webcam interface doesn't work if it is clicked once before snapshot"
For webcam interfaces, like this: https://huggingface.co/spaces/akhaliq/photo2cartoon

If you accidentally click "submit," in my opinion it should just take the screenshot. But even if it doesn't and you have to click the "click to take a snapshot" button, a lot of people might not realize that and actually click submit first. If they do that, and _then click on snapshot_ and _then click on submit

[2021-11-15 15:22] MLbyML commented on #341
Hi @abidlabs Thank you for the reply!
Yes, so my suggestion concerns how to **display** one-channel (gray scale) input images (which are common in fields like biomedical  / astronomy imaging etc).

Although what you say could be a solution, I wouldn't want to alter the image properties such as its mean intensity etc by performing an adjustment, prior to upload - as simply dragging and dropping the

[2021-11-15 15:29] abidlabs commented on #341
I see, that makes sense. I didn't realize that these were grayscale images. So to confirm, you'd want to be able to adjust the contrast so that you can see the images more easily, but **you do not want to propagate these contrast changes to the function**?

I think having a dedicated viewer for these images with adjustable contrast could work, but the way we'd implement it by adding another `tool`

[2021-11-15 17:04] MLbyML commented on #341
Yes, exactly!

I see. I think **[vtkjs](https://kitware.github.io/itk-vtk-viewer/docs/viewer.html)** allows one to adjust contrast while viewing.
Thank you!

[2021-11-16 02:07] discdiver opened #367 "Docs working_with_ml page examples don't match code"
Several of the examples don't go with the code on the working_with_ml webpage. For example, see the screenshot below:

<img width="983" alt="Screen Shot 2021-11-15 at 9 04 37 PM" src="https://user-images.githubusercontent.com/7703961/141882751-05ca27bb-2848-4afb-8c3e-b2faf76682c8.png">

[2021-11-16 02:44] discdiver commented on #141
This hack for plotly does not work for me in gradio 2.2.15  with python 3.9.  The image is saved to file, but won't display on read in - fails silently without an error in the console.

[2021-11-16 13:07] discdiver opened #371 "BUG: DataFrame output cannot handle null values"
#### Result:
pandas DataFrame doesn't display if more than 10 cells are to be shown initially

#### Expectation:
The DataFrame will be displayed

#### Versions:
gradio 2.2.15
Python 3.9.6

#### Reproducible Example

[code]

### Screenshot of failing output
<img width="1312" alt="Screen Shot 2021-11-16 at 7 59 47 AM" src="https://user-images.githubusercontent.com/7703961/141990015-616ed983-0c78-4b2

[2021-11-16 13:12] discdiver opened #372 "gradio.app website down"
gradio.app website down: 502 bad gateway error

Screenshot:
<img width="753" alt="Screen Shot 2021-11-16 at 8 04 31 AM" src="https://user-images.githubusercontent.com/7703961/141991241-20a58cfb-e814-4440-8576-2c8ed79f4106.png">

Location: Eastern US

Has been that way for at least 15 minutes. Was up last night.

[2021-11-16 15:20] #372 closed

[2021-11-16 15:22] abidlabs commented on #367
Thanks for creating an issue @discdiver, we are actually revamping the website and fixing this. @aliabid94

[2021-11-16 15:23] abidlabs commented on #371
Interesting, @aliabid94 can you look into this?

[2021-11-16 18:05] abidlabs opened #373 "Disable submit when the inference is in progress"
### Discussed in https://github.com/gradio-app/gradio/discussions/369

<div type='discussions-op-text'>

<sup>Originally posted by **harveenchadha** November 16, 2021</sup>
Hi,

I think the submit button should be disabled once the inference is in progress to disallow multiple clicks at once. Also is it possible to show a much bigger progress bar either as a pop up which says "Loading result"?</di

[2021-11-16 19:05] discdiver opened #374 "Bug: Matplotlib figure rendering fails and crashes server"
Matplotlib figure rendering fails and crashes server

Followed the example discussed in this issue #149

I tried returning matplotlib plt, axis, and figure objects using seaborn and matplotlib . Same error every time.

Code:
[code]

### Error message on crash

[code]

[2021-11-16 22:36] aliabid94 commented on #371
WIll take a look, thanks @discdiver

[2021-11-16 22:36] aliabid94 commented on #374
Will take a look

[2021-11-17 01:27] FisayoN opened #375 "App not launching"
Hello Team, i am trying to launch my first gradio model yet for some reason it keeps saying cannot implement and giving me error messages and i don't know how to rectify this. Please help

[2021-11-17 01:34] FisayoN commented on #375
Also, i was charged for this transaction and i never got anything done. it is really unfair

[2021-11-17 01:36] aliabid94 commented on #375
Really sorry to hear that FisayoN. Would love to help you out to see where the error happened or give you a refund. Can you provide details on what you uploaded and the error you got?

Btw, we are directing users to use huggingface.co/spaces instead gradio hosted because they provide better infrastructure and are completely free.

[2021-11-17 01:38] FisayoN commented on #375
i was trying the image classifier example as taught by dataprofessor and for some reason i kept getting errors

[2021-11-17 01:43] FisayoN commented on #375
the error message was that the launch could not be implemented

[2021-11-17 01:47] aliabid94 commented on #375
Taking a look.

[2021-11-17 19:06] AK391 commented on #310
link T-134

[2021-11-18 01:31] byeolkady opened #377 "when i launch a model"
when i launch a model I got a this error meassage
------
error response
Error code: 501

Message: Unsupported method ('POST').

Error code explanation: HTTPStatus.NOT_IMPLEMENTED - Server does not support this operation.
------
what can i do?

[2021-11-18 08:06] mohith01 commented on #141
So I checked this with python 3.8 too and it is giving me the same as what you have said ryt now. However when I inspected the console, It gives me a "DOM exception option was aborted" error and there;s some problem with analytical logging. I think there's some word limit in HTML of Gradio.. I think we can do the following.. so plotly [export](https://plotly.com/python/interactive-html-export/) ha

[2021-11-18 08:50] Shahin-rmz opened #378 "Dockerizing"
Hello,
thanks for providing comprehensive solution for web.
A question, is there any documentation for deploying Gradio on docker?
Perforable a docker-compose file which data scientists can easily deploy their works.
Thanks

[2021-11-18 11:00] osanseviero opened #379 "Gradio demo using Spaces fail with webcam"
Code

[code]

Output

[code]

[2021-11-18 11:12] DavidZha1994 commented on #360
any updates?

[2021-11-18 11:18] DavidZha1994 commented on #361
Sure, that wouldn't be a problem. for now, i just want to translate some basic stuff on GUI like clear, submit, screenshot flag etc.

[2021-11-18 12:38] ZakiaSalod opened #380 "Numeric value does not show in Slider (when still and during moving) when theme set to "darkdefault""
![gradio_slider_issue_in_darkdefault_theme](https://user-images.githubusercontent.com/17802823/142416604-4f6467fc-7538-4b22-a511-8f883e43605d.png)

[2021-11-19 06:25] abidlabs commented on #380
Thanks so much @ZakiaSalod, we should be able to fix this pretty easily. @aliabid94 or @aliabd can you take this?

[2021-11-19 06:26] abidlabs commented on #379
Thanks so much @osanseviero for bringing this to our attention! @aliabid94 can you take this?

[2021-11-19 06:27] abidlabs commented on #378
There currently isn't a tutorial, but you're right, this would be a good addition, so we'll try to put something together. Thanks @Shahin-rmz!

[2021-11-19 06:27] aliabid94 commented on #379
My guess is a permissions issue with the iframe, but will take a look!

[2021-11-19 06:28] aliabid94 commented on #377
Interesting. Can you provide the gradio version and if possible, the source code?

[2021-11-19 06:28] abidlabs commented on #377
Thanks @byeolkady for bringing up this issue. @aliabid94 looks like there are a bunch of related issues (see #375 for example)?

[2021-11-19 06:29] abidlabs commented on #377
@byeolkady is this using the `gradio` library, or when you try to upload your model on Gradio Hosted?

[2021-11-19 07:15] byeolkady commented on #377
@aliabid94 this error appear when I try to upload my model on Gradio Hosted!

[2021-11-19 07:39] ZakiaSalod commented on #380
Thanks, @abidlabs.

I was going to show a demo of a program created with Gradio and was wanting to use the darkdefault theme. However, I changed it currently to be "darkhuggingface". Let me know once this is resolved and deployed to production? If it's on time, then I can change the theme back.

Thanks a lot. Much appreciated.

[2021-11-19 08:10] Shahin-rmz commented on #378
All good.
I will try my best to make a docker compose and a short documentation for deploying Gradio on docker after 26th of this month, and send you a PR so users can enjoy Gradio even more.
Best

[2021-11-19 13:10] ZakiaSalod opened #381 "Radio button value does not change when selecting the different 'Examples'"

[2021-11-19 17:58] cansik opened #382 "Method url_ok check is not reaching host if server_name is 0.0.0.0"
In the documentation it is mentioned that it is possible to set the `server_name` to `0.0.0.0` to host it on any network interface (LAN):

This is problematic, because the server URL for the local flask server is generated with the `server_name`. Which means `path_to_local_server` is set to `http://0.0.0.0:7860/`. Later, the `url_ok()` method checks if this URL is reachable and if not, creates a p

[2021-11-21 09:54] baishalidutta opened #383 "Cannot host public repository on Gradio"
I am trying to host my GitHub repository on Gradio but it is encountering `405 Not Allowed` after clicking on the `Launch` button.

![1](https://user-images.githubusercontent.com/76659596/142757381-18f738d4-e606-4f34-b378-319429dc4d34.png)
![2](https://user-images.githubusercontent.com/76659596/142757384-d8663f38-ee4d-4eed-af48-84fee62c0f51.png)

[2021-11-22 10:02] invoxiaglo opened #384 "No way to modify default values in the API"
Hello,

I went through the doc and did not find a way to modify the default values in the API. The API part does not even appear in the doc.
The default value is "Hello World" for any string input. I would like to be able to set the value.

![Screenshot 2021-11-22 at 10 58 26](https://user-images.githubusercontent.com/80348491/142841223-0799143d-c638-4774-a67b-e0a75bf4094f.png)

Thanks !

[2021-11-22 13:35] osanseviero commented on #379
cc @cbensimon in case it's in our side

[2021-11-23 20:29] charlielito opened #385 "Way to change page's tab title and icon"
Although you define the `title` for the interface, the page's tab doesn't show that title but instead it shows `Gradio`. Is any way to chaging this behavior? It is also possible to change the icon showed in the tab to be different?

![unknown](https://user-images.githubusercontent.com/8033598/143098960-d1fbcfc0-098f-4183-bba3-e7cd7c6deeda.png)

[2021-11-23 21:24] aliabid94 commented on #379
Ah it's a problem with gradio actually, fixing now!

[2021-11-23 21:43] aliabid94 commented on #379
Ah I see the problem. When using gr.Interface.load, it automatically generates the input components and output copmonents.  Currently you can't overwrite the type= kwarg for the Output component of a loaded interface (and you most likely shouldn't) but I will fix in the behaviour in code. Meanwhile, this will work:
[code]

[2021-11-23 21:57] aliabid94 commented on #371
Ah seems like there is null value in the dataframe that's throwing the rendered off - its not related to size of output. See image:
![image](https://user-images.githubusercontent.com/7870876/143135531-a15f4b70-3c00-4cf2-9de2-d98a3992926d.png)

Fixing the null value issue now.

[2021-11-23 22:00] aliabid94 commented on #373
It is already the case you cannot click the submit button while an inference is in progress. Can you confirm you are using the latest version @harveenchadha

[2021-11-23 22:14] aliabid94 commented on #385
Will implement and include in next release. I thought we already changed tab title to reflect the interface title but apparently not. Will also add favicon= kwarg.

[2021-11-23 22:36] discdiver commented on #371
Thanks. Yep, there are a few nulls. So gradio can't display DataFrames with
null values? If that's the case, probably worth adding to the docs.

FWIW, there's probably a fix as that's not an issue on Streamlit.

On Tue, Nov 23, 2021 at 4:57 PM aliabid94 ***@***.***> wrote:

[2021-11-23 22:36] aliabid94 commented on #371
Yes there's a fix in the works, will be in the next release. Will update here when it's in.

[2021-11-23 22:49] charlielito commented on #385
Thanks for the fast reply @aliabid94 .
In the mean time do you know what's the proper what of installing gradio directly from the master branch? I tried `pip install git+https://github.com/gradio-app/gradio.git` but it doesn't work for other port different than 8000 which is very odd. If using another port I get the following traceback when opening the web page:

[code]

[2021-11-24 00:07] discdiver commented on #371
Thanks!

On Tue, Nov 23, 2021 at 5:37 PM aliabid94 ***@***.***> wrote:

[2021-11-24 12:12] scottire opened #387 "Clicking Account on homepage redirects to http://localhost:5001/hosted"
When I try to sign in / sign up by clicking "Account" on gradio.app, it redirects me to http://localhost:5001/hosted.

I'm using Safari 14.1.1 on macOS Big Sur and I'm signed into Github, where I think it's trying to redirect me.

[2021-11-24 16:58] aliabid94 commented on #387
Should be fixed now, thanks for letting us know.

[2021-11-24 23:56] nateraw opened #388 "Video input with webcam source not working on iPhone"
Webcam video inputs work fine on my macbook and android device, but seem to be broken on iPhone. When you go to click record, you see a still frame of yourself, and then it goes back to saying "click here to record" without showing any video.

[2021-11-26 15:54] osanseviero commented on #379
Thanks, that works well!

[2021-11-27 00:28] abidlabs commented on #381
@ZakiaSalod can you share a screenshot or an example colab link? Just want to make sure we can reproduce this.

[2021-11-27 00:29] abidlabs commented on #382
Interesting... let me look into this. Thanks for the suggestion @cansik

[2021-11-27 00:29] abidlabs commented on #383
We are running into some issues with Gradio Hosted. In the meantime, I suggest looking into Hugging Face Spaces as the preferred way to host your Gradio applications: https://huggingface.co/spaces

[2021-11-27 00:30] abidlabs commented on #384
We don't currently support this. The purpose of the API is just to show an example so we just populate a string input with a fixed string. Can you explain why changing this would be helpful for your use case and we can look into supporting this?

[2021-11-27 00:32] abidlabs commented on #385
Hmm I wonder if this is due to the static files not being consistent with the pypi release. @aliabid94 can you comment here?

[2021-11-27 00:32] #387 closed

[2021-11-27 00:33] abidlabs commented on #388
@aliabid94 is looking into this. iPhone browser does weird things with video and audio.

[2021-11-27 04:44] samuxzheng opened #390 "sketchpad"

[2021-11-27 05:51] abidlabs commented on #390
Closing because no description is provided

[2021-11-27 05:51] #390 closed

[2021-11-29 09:49] invoxiaglo commented on #384
In the API, there is also a Post button that makes it possible to try a request. For my use case, the input cannot be any string, it must be for instance a correct identifier. A user trying the Post button will receive an Error because the default values are not a correct input. Furthermore, it would be more comprehensible for a user to have values that makes him understand what are the different

[2021-11-29 13:08] abidlabs commented on #384
That makes sense. Would it solve your issue if we implemented the following:
* If `examples` are provided, the API should pull from them
* Otherwise, default values like `hello world` are used

In other words, in your interface, are you providing examples?

[2021-11-29 13:10] abidlabs commented on #378
Thanks @Shahin-rmz! Let us know if you got a chance to put together some documentation. Would be happy to promote and share

[2021-11-29 13:12] invoxiaglo commented on #384
Yes it would be great. I think it is the expected behaviour that for instance the first example is used as the default values in the API.

[2021-11-29 13:26] Shahin-rmz commented on #378
sure, I am working on it with a friend of mine, who is pure devops engineer. I'm gonna make it <one command all done> so the ML users of Gradio just do it with docker compose up -d. and finish.
it may take a bit but worth it ;)

[2021-11-29 20:50] Shahin-rmz opened #391 "Problem with the sketchpad"
Hello I am doing a very basic Mnist recognition with Sketchpad of Gradio.
Train and test are as follows:
[code]
training is with keras sequential. with Relu and softmax activators.
[code]
here is my interface code:

[code]
The error is:

    Call arguments received:
      • inputs=tf.Tensor(shape=(None, 28), dtype=uint8)
      • training=False
      • mask=None

Maybe the pixels of sketchpad is no

[2021-11-29 22:02] osanseviero opened #392 "Webcam edge case (submit then snapshot)"
Clicking submit (nothing happens) + snapshot + submit does not work even if a picture was actually taken.

Take for example https://huggingface.co/spaces/osanseviero/AnimeGANv2-webcam

[2021-11-30 00:20] abidlabs commented on #392
I’ve been confused by this behavior as well. @aliabid94 can we fix this?

[2021-11-30 02:06] NouamaneTazi opened #393 "Add Online Learning"
Add a 'Correct' button that would allow the user to correct the output and save it to a database. So that the app owner can retrain the model on these instances later on.

[2021-12-04 04:29] abidlabs commented on #393
Can you please provide more info on your use case? What kind of model / inputs / outputs do you have in mind?

[2021-12-06 08:31] NouamaneTazi commented on #393
Hello! I'm thinking about a text generation example, where after the user gets his input, besides being able to Flag the answer, they can also 'Correct' it.
I'm working on an example for my huggingface space https://huggingface.co/spaces/nouamanetazi/cover-letter-generator .
I'm hoping for it to be my first contribution if it works 😁

[2021-12-06 09:07] mr-wombat opened #395 "Always hosted on public URL"
Hello,

I am currently trying to implement my first UI with gradio, and it seems like I can not get it to work on localhost.

 My code is rather trivial:

[code]
This code is in a file main.py (no main function or anything)

When I run this code, I get:
[code]

In fact, I can reach the UI on `http://localhost:7860/` but it is very important to me that the UI is _not_ shared. Is there any setting I

[2021-12-06 15:36] mahzy commented on #378
Hey, any luck getting Gradio to work with Docker ?

[2021-12-06 19:45] abidlabs commented on #395
Hi @mr-wombat, thanks for opening this issue! Where are you running this code? Is this running on a server where the localhost is not accessible? In which case, `gradio` by default creates a public link

[2021-12-06 19:47] abidlabs commented on #393
That makes sense. Have you looked into `flagging_options` parameter in the `Interface` class. It allows you to pass in different choices that someone can select when they click flag. If this is not sufficient for you, please let me know and we'll try to support your use case.

[2021-12-06 19:51] mr-wombat commented on #395
Hi, thanks for looking into this. I run it on my local machine in a python script (no jupyter etc.)
I assume localhost is accessible if I can access the website through the localhost url?
Is there any debug output I can provide?

[2021-12-07 07:35] jaekookang opened #396 "SSL certificate"
Hi, I was wondering if I can specify a custom SSL certificate file to my Gradio app as in the regular Flask app so that I can use my own domain with https. Is it possible to do so in the Gradio app?

[2021-12-07 17:30] abidlabs commented on #396
Hmm if you are deploying a web application with a "real certificate" you would probably obtain the certificate and set it via nginx to the port where the gradio app is running. You shouldn't need to make any changes to the flask application, right?

E.g. the steps listed here: https://blog.miguelgrinberg.com/post/running-your-flask-application-over-https

[2021-12-07 23:16] abidlabs commented on #367
The demos have been removed and we will be updating the examples & corresponding colab notebooks. Thanks!

[2021-12-07 23:16] #367 closed

[2021-12-08 05:31] jaekookang commented on #396
I'm not an expert on building web applications, but previously I've added SSL certificate files as a part of the Flask app such as below when I needed microphone access:
[code]

I haven't tried setting the certificate via nginx to the port where the gradio app is running. I will try this method following the link that you attached.

Thank you

[2021-12-08 06:11] abidlabs commented on #396
Sounds good, thanks for following up. Please let us know if you run into any issues.

[2021-12-08 13:39] Chiragkathuria commented on #396
Hi Abid , I tried setting up gradio with gunicorn but its not working fine .
As gradio get start on next port to binded one in unicorn
![Screenshot 2021-12-08 at 7 07 10 PM](https://user-images.githubusercontent.com/26459463/1
![Screenshot 2021-12-08 at 7 08 19 PM](https://user-images.githubusercontent.com/26459463/145217826-2c8f7920-f851-44c0-9637-5d48d2de876b.png)
45217655-a7031863-0302-45f9-9d9

[2021-12-08 13:45] Chiragkathuria commented on #396
Also my gradio instance is taking almost around 8 minute to start web instance , can u pls help me how to resolve that too ?

Thanks

[2021-12-08 19:57] abidlabs opened #397 "Screenshot button is buggy"
As pointed out by thom and others, there are issues with the screenshot button. For example, on this Space: https://huggingface.co/spaces/nielsr/imagegpt-completion, it produces the following screenshot.

@aliabid94 can you look into this?

![image](https://user-images.githubusercontent.com/1778297/145275519-873f2bba-f34c-4d8b-b159-94c912c1ccc0.png)

[2021-12-09 10:37] samuel-lunii commented on #359
@abidlabs
Sorry for posting this here, but i did not find another way to contact you. I'm trying to find an invoice for the 7$ payment I made on Gradio. Can you help ?

[2021-12-09 10:39] abidlabs commented on #359
Sure can you email support@gradio.app with the email address that you used?

[2021-12-09 10:42] abidlabs commented on #325
Added at: https://gradio.app/getting_started/ in the advanced features section.

Thank you for the suggestion!

[2021-12-09 10:42] #325 closed

[2021-12-09 10:47] abidlabs commented on #363
Also might be related -- if I load a Space with multiple inputs (e.g. AK's style transfer), then I can't use it as an API

[2021-12-10 05:56] abidlabs opened #399 "Gradio doesn't automatically create a shareable link in sagemaker"
The `url_ok()` method needs some work since there are a bunch of open issues about it and it doesn't create a shareable link in Sagemaker notebooks:

![image](https://user-images.githubusercontent.com/1778297/145524558-ea3d4389-9ec5-4772-bec2-833ed01377df.png)

[2021-12-10 15:13] osanseviero opened #400 "Audio output does not show in a screenshot"
I get proper output in the demo, but when clicking screenshot the image I get shows empty output field.

Example from https://huggingface.co/spaces/akhaliq/ESPnet2-TTS
![screenshot (3)](https://user-images.githubusercontent.com/7246357/145596647-1514ecaf-476b-42f8-bd78-5bd96044d191.png)

[2021-12-11 02:15] nateraw commented on #388
This issue is resolved now - thanks folks

[2021-12-11 02:15] #388 closed

[2021-12-11 22:24] shaileshj2803 opened #401 "New port for every cell"
I am using jupyter notebook with gradio running on a docker image. I have setup port forwarding to port 7777 and i have launched gradio server using 0.0.0.0 and port 7777. For first run everything is fine. If i use gradio in other cell or or or re-run the same cell it everytime starts the server on new port for eg 7778, 7779 etc. Can you please help? The share is set to false.

[2021-12-11 23:14] abidlabs commented on #401
Yes this is the expected behavior because the first interface continues running on port 7777, which means the subsequent interface must find a new open port. If you’d like to reuse the port, then close the interface by calling the ‘close()’ function of the  ‘Interface’ object

[2021-12-13 12:44] haby0 opened #405 "Security vulnerabilty"
What would be the right contact to report a security vulnerabilty? thanks!

[2021-12-13 16:25] abidlabs commented on #405
Please email us at: team@gradio.app

[2021-12-13 16:26] abidlabs commented on #405
Closing so that we can continue discussing this over email

[2021-12-13 16:26] #405 closed

[2021-12-13 16:26] abidlabs commented on #401
Closing, but feel free to open if this does not resolve your issue. Thanks!

[2021-12-13 16:26] #401 closed

[2021-12-13 21:14] abidlabs commented on #382
Looking into this issue (sorry for the delay @cansik). I have a question -- why are you setting the server name to "0.0.0.0" exactly? Doesn't your code work if you just leave it as "localhost"?

[2021-12-13 21:17] abidlabs commented on #396
Does this address your issue @Chiragkathuria? https://abidlabs.medium.com/quickly-deploying-gradio-on-aws-242af2374784

[2021-12-13 21:18] #396 closed

[2021-12-13 21:21] abidlabs commented on #395
Hi @mr-wombat I'm looking into this issue (sorry for the delay!). Can you do me a favor and run the basic quick-start script:

[code]

Does this also cause a public link to be created?

[2021-12-13 21:32] abidlabs commented on #373
Closing. Feel free to reopen if this is an issue for you in the latest version of gradio, @harveenchadha. Thanks!

[2021-12-13 21:32] #373 closed

[2021-12-13 21:48] abidlabs commented on #395
Can you please tell me what happens when you run the following code?

[code]

Instead of `7860`, you may need to put the port that shows up where the gradio app is running locally

[2021-12-14 07:12] cansik commented on #382
As far as I know, the server name in gradio defines the local network-interface the server is listening on. So if it is localhost, only `127.0.0.1` is a valid IP to reach the sever. To bind to all network-interfaces, it is common (as well in flask) to bind to `0.0.0.0`. This allows me to reach the server over all ip addresses (`127.0.0.1`, `192.168.1.30`, whater-public-ip, ..) that are assigned to

[2021-12-14 14:30] abidlabs commented on #382
That makes sense! So we should handle `0.0.0.0` as a special case. Let me patch this

[2021-12-14 16:04] cansik commented on #382
I could create a PR if you want, maybe it makes sense to handle other special addresses as well. This one is only for IPv4 interfaces.

[2021-12-14 16:28] abidlabs commented on #382
Sure, that would be great! I've started working on some related issues in the `abidlabs/url` branch, including some refactoring that may impact this. If you would kindly check out that branch and then create your own new branch from that, then it would make it easy to merge everything back in.

[2021-12-15 00:42] abidlabs commented on #382
Thanks @cansik for the fix!

[2021-12-15 00:42] #382 closed

[2021-12-15 11:00] Ontopic opened #413 ""Hers" missing in gender list"
Is this on purpose? Would love to hear hear the reasoning, since "his" is in the male list. If just slipped through, maybe better to fix in the example.

[2021-12-15 14:31] abidlabs commented on #413
Thanks @Ontopic. Not on purpose no. Would you like to make a PR to update the code?

[2021-12-15 16:29] randomgambit opened #414 "how to disable sharing on google colab?"
Hello there! Thanks for this beautiful package!

I am using `gradio` on `google colab` and I am struggling to keep my app private.

My code is essentially
[code]

But running it in `colab` will show that the public link is still available!

[code]

Am I missing something?
Thanks!

[2021-12-15 16:34] abidlabs commented on #414
Thanks @randomgambit! Yes, when `gradio` is run in google colab, we automatically set sharing to `True` because otherwise, there is no way to access the localhost server running on the `colab` machine. If you run on a local machine, you can keep your gradio app private.

Is there a different way that you have in mind that would allow your demo on colab to be accessible to you but remain otherwise