[2022-03-28 15:04] abidlabs opened #889 "[`blocks-dev`] The `Label` component looks strange"
### Describe the bug

When using the `Label` component, I see the following visual issues:
* There is very little spacing between the label and the horizontal bars
* All of the bars are of equal width

### Reproduction

demo\digit_classifier\run.py

### Screenshot

![image](https://user-images.githubusercontent.com/1778297/160427850-fb80d8ab-80f8-443b-be17-3b4718293908.png)

### Logs

_No response

[2022-03-28 15:09] abidlabs opened #890 "[`blocks-dev`] Dataframe input and output both behave incorrectly"
### Describe the bug

Noticing some issues with the Dataframe component.

When used as an input, none of the rows show up by default. Even clicking "new row" only produces a tiny narrow row that can't really be used to input any data since it is so narrow. The column headers seem to be completely unaligned with the cells.

When used as an output, the "new column" and "new row" button still show up

[2022-03-28 15:14] abidlabs opened #891 "[`blocks-dev`] When image component is used as an output, it still allows users to upload an image"
### Describe the bug

As seen in this screenshot, when the image component is used as an output, it still allows you to upload an image, at least until the interface is submitted. This would be very confusing to users:

![image](https://user-images.githubusercontent.com/1778297/160430151-0bbb57bf-a2f0-42de-bf98-38a6a4c0a736.png)

### Reproduction

demo\form_graph\run.py

### Screenshot

_No respon

[2022-03-28 15:35] abidlabs opened #893 "[`blocks-dev`] Tabs are duplicated"
### Describe the bug

When using `Tab()` and `TabItem()`, the tabs are duplicated:

![image](https://user-images.githubusercontent.com/1778297/160434522-7f95b778-1fec-4794-8e30-f8e16d164574.png)

### Reproduction

demo\xray_blocks\run.py

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-03-28 15:41] abidlabs commented on #737
It looks like this mostly works. However, I'm noticing some issues like with images not being loaded into the input correctly:

![image](https://user-images.githubusercontent.com/1778297/160435702-ac8653c8-9466-481f-b10e-6b5ef9b7aca0.png)

To reproduce, run `demo\image_classifier\run.py`

[2022-03-28 15:41] abidlabs commented on #737
cc @aliabid94

[2022-03-28 15:52] #638 closed

[2022-03-28 15:53] #743 closed

[2022-03-28 15:58] abidlabs commented on #738
Basically the same as #784

[2022-03-28 20:10] abidlabs commented on #890
Some of these issue also happen with the `Timeseries` input and output.

See `demo\fraud_detector\run.py`

[2022-03-28 20:36] FarukOzderim opened #894 "[blocks] Test Design"
**3.0 milestone**
- [x] simple test for blocks config
- [x] drop testing heavily all the library, and just focus on backend functionalities
- [x] make use of fixtures
- [x] move payloads& under a folder
- [ ] make use of async within tests and library

**Low Priority**
- [x] maybe better class&file structuring throughout tests
- [x] When we are launching interfaces, if we can launch server once, u

[2022-03-28 20:41] abidlabs opened #895 "[`blocks-dev`] Add remaining Interface kwargs"
A tracking issue for all of the remaining `Interface` keyword arguments and `launch()` keyword arguments. From what I see, the remaining ones are:

- [x] interpretation
- [x] live (also mentioned in #855)
- [x] auth
- [x] cache_examples
- [x] enable_queue

[2022-03-28 20:57] abidlabs opened #896 "[`blocks-dev`] Audio output doesn't seem to play audio"
### Describe the bug

I'm running a demo which produces an audio output (`demo\generate_tone\run.py`), but all I see is a grayed audio player (see screenshot).

<img width="981" alt="image" src="https://user-images.githubusercontent.com/1778297/160485848-8665e3d7-15ab-4e45-a70b-aab277dc8aab.png">

I've verified that the Interface returns a valid base64 audio file, so the problem must be in the Aud

[2022-03-28 21:06] abidlabs opened #897 "[`blocks-dev`] Problems with Textbox input and output"
### Describe the bug

I was running this demo: `demo\gpt_j\run.py` and noticed some issues:
* The input textbox size does not get set by the `lines` parameter
* The output textbox size does not dynamically change size according the output (see screenshot)
* The examples don't show up at all (although clicking on them does work interestingly)

<img width="955" alt="image" src="https://user-images.g

[2022-03-28 21:11] abidlabs commented on #897
Also, as can be seen by this demo: `demo\hello_world_2\run.py`, the `placeholder` parameter doesn't work

[2022-03-28 22:00] abidlabs commented on #890
`demo\matrix_transpose\run.py` is not working for, I think, the same reason

[2022-03-28 22:04] abidlabs commented on #896
Same issue happening in: `demo\reverse_audio\run.py`

[2022-03-28 22:18] abidlabs opened #898 "[`blocks-dev`] Image editor tools aren't showing correctly"
### Describe the bug

I ran the `demo\sepia_filter\run.py` demo and noticed a couple of problems with the image editing tools:

<img width="866" alt="image" src="https://user-images.githubusercontent.com/1778297/160496443-94fca554-7530-4156-a309-58eb24cd30dd.png">

* They show up in top center of the image instead of the top right, as before, which means they cover up part of the image
* They show

[2022-03-28 22:41] abidlabs opened #899 "[`blocks-dev`] Webcam doesn't work"
### Describe the bug

Tried running `demo\video_flip\run.py`, but the webcam doesn't show up. No errors, but the webcam doesn't appear.

### Reproduction

`demo\video_flip\run.py`

### Screenshot

<img width="860" alt="image" src="https://user-images.githubusercontent.com/1778297/160498818-07b9b73a-4f69-4d34-894e-538cce772220.png">

### Logs

_No response_

### System Info

[code]

### Severity

c

[2022-03-28 22:43] abidlabs commented on #899
Note that this applies both to webcams for video and webcams for image. See:

`demo\webcam\run.py`

[2022-03-28 22:48] abidlabs opened #900 "[`blocks-dev`] file input is broken"
### Describe the bug

Tried running these two demos:
* `demo\zip_two_files\run.py`
* `demo\zip_to_json\run.py`

But they were unrunnable because the file input is broken:
* Before you select the file, it says "drop an audio file" instead of "drop a file"
* After you drop the file, the file takes over the whole screen making you unable to click submit (see screenshot)

### Reproduction

* `demo\zip

[2022-03-29 15:14] abidlabs commented on #886
Hi @bowtiedhal thanks for creating this issue! We are going to take a look at it soon

[2022-03-29 15:14] abidlabs commented on #885
Hi @kingabzpro thanks for creating this issue! We are going to take a look at it soon

[2022-03-29 15:15] abidlabs commented on #884
Hi @Olvi73 thanks for creating this issue! We are going to take a look at it soon

[2022-03-29 15:15] abidlabs commented on #873
Hi @Khoa-NT, thanks for creating the issue! We will take a look at it soon

[2022-03-29 15:15] abidlabs commented on #870
Hi @osanseviero, thanks for creating the issue! We will take a look at it soon

[2022-03-29 18:24] abidlabs commented on #887
Closed via #901

[2022-03-29 18:24] #887 closed

[2022-03-29 18:56] bowtiedhal commented on #886
Thanks @abidlabs please keep me updated!

[2022-03-30 19:39] NimaBoscarino opened #906 "Live mode doesn't automatically generate output for examples"
### Describe the bug

When I have some examples and have set `live=True` for the interface, clicking on the examples doesn't automatically run the function and generate the output. Using inputs, such as sliders, does trigger the live reload properly.

### Reproduction

Here's a Hugging Face space with the described behaviour: https://huggingface.co/spaces/NimaBoscarino/kornia-image-enhancement

##

[2022-03-30 23:12] abidlabs opened #908 "[`blocks-dev`] Confirm implementation features since divergence from `main`"
Since `blocks-dev` was created, we've implemented certain features / fixed certain bugs that might not get properly merged when we merge `blocks-dev` into `main`. Specifically, we should confirm that these work post merge:

- [ ] Livestream ASR (@aliabid94)
- [ ] "token-classification" pipeline in `external.py` (@dawoodkhan82)
- [ ] lower-cased labels (@abidlabs)
- [ ] fixed csv injection issue (@

[2022-03-30 23:54] #893 closed

[2022-03-31 03:06] FarukOzderim commented on #895
if queue is going to be reimplemented from strach it would be nice to handle this issue as well #572.

[2022-03-31 03:33] FarukOzderim commented on #704
I think this solves the problem very easily.

[2022-03-31 03:35] FarukOzderim commented on #881
Is this a checklist to mark when a component is testing for working without an issue?

[2022-03-31 03:45] FarukOzderim commented on #731
About this issue let's give the final decision

- for blocks we want to have Template components that are implemented by us.
- What about Interface? Would you want to drop support shortcuts within Interface and move to Templates usage as well? Or still support shortcuts within Interface?

[2022-03-31 05:12] abidlabs commented on #731
To clarify, how would this work? Would it be that we pass in `Template("sketchpad")` and it renders the `Image` component with the "sketchpad" parameters? If so, that seems reasonable to me.

We should still support shortcuts within Interface: (a) because they make Interface easy to use for common use cases (b) backwards compatibility

[2022-03-31 05:13] abidlabs commented on #881
That's honestly a good idea. Would probably subsume many of the individual issues that I created and easier to manage. Feel free to create it!

[2022-03-31 06:06] FarukOzderim commented on #731
Ok then;

- We will still support shortcuts within interface.
- We will create custom components with necessary parameters and etc for the shortcuts and they will work like this:
[code]

[2022-03-31 10:05] Lobe-n commented on #690
Hi,
I wanted to test out the events that were implemented with the new [release](https://github.com/gradio-app/gradio/releases/tag/v2.9.0), by replacing the line `btn.click()`  in this [example](https://github.com/gradio-app/gradio/issues/690#issuecomment-1048900369) with either
`
block.change(plot, [speed, angle], output)
`
`
row.change(plot, [speed, angle], output)` where `row=gr.Row()` that con

[2022-03-31 17:50] abidlabs commented on #906
Thanks, we'll fix this!

[2022-03-31 17:50] abidlabs commented on #731
Ah okay, got it! So `Sketchpad` will subclass `Image`, right? Sounds good to me.

cc @aliabid94

[2022-03-31 17:53] abidlabs commented on #690
Hi @Lobe-n! Thanks for checking. This isn't out in the public release yet, but we are hoping to get it out soon. If you'd like to get a head start, try this: `pip install gradio==2.7.0b70` and let me know how it goes!

[2022-03-31 19:20] rockdrigoma opened #913 "UI Error message when passing specific inputs to Spaces app"
### Describe the bug

We are deploying a automatic translation model with the help of interface.load() method from Gradio at HuggingFace Spaces:

[code]

## **❌  Error Case**
When giving an input like "mi abuelo se llama Juan", in the Spaces UI instance, it shows an Error message in HuggingFace Spaces instead of expected translated output.

## **✅  1st Success Case**
When trying to reproduce the e

[2022-03-31 19:36] rockdrigoma opened #914 "Flagging button not working when clicked"
### Describe the bug

I implemented some flagging_options for my Gradio app at HuggingFace Spaces.
But when I try to flag a result, the feature seems to be broken, it doesn't show any action being held nor a directory being created with the flagging logs inside the app directory.

### Reproduction

[code]

### Screenshot

## No action nor message when button is clicked
![Captura de Pantalla 2022-0

[2022-04-01 00:46] abidlabs commented on #637
Just checked and it looks like we can use `gr.Column()`. But it doesn't look like it supports variable widths yet. Definitely not a big priority, so leaving as a `blocks` issue and renaming this issue

[2022-04-01 00:48] abidlabs commented on #877
Closed via #911

[2022-04-01 00:48] #877 closed

[2022-04-01 02:13] abidlabs commented on #881
Not sure if this fits into this issue or a separate issue, but I noticed that the `default_value` for a `Checkbox` doesn't show up. (It does for `CheckboxGroup`, `Radio`, etc.)

[2022-04-01 02:20] abidlabs commented on #896
Or try something like:

[code]

[2022-04-01 02:21] abidlabs commented on #896
I think Video component also doesn't play Video fyi:
[code]

[2022-04-01 05:54] dnth commented on #914
I have the same issue. It works on my local machine, but not on HF Spaces

[2022-04-01 13:37] Lobe-n commented on #690
Thank you @abidlabs,
I can see how this is still in beta ^^ but yes, with this build the interface updated when using the sliders although the interface lags a bit while/after dragging the slider, looking forward to the release of more blocks features :)

[2022-04-01 16:29] pngwn commented on #908
@abidlabs What about theming? This is technically a regression but I think we will only have one theme at launch, is this okay?

[2022-04-01 23:34] abidlabs commented on #908
Ah yes I think that is okay! Let’s just make sure to print a helpful message explaining if people try to use a different theme

[2022-04-02 13:45] FarukOzderim opened #920 "Remove Deprecated Parameters"
We shall remove deprecated function parameters with 3.0 release.

[2022-04-04 03:38] tnwei opened #921 "Dataframe input does not refresh as intended"
### Describe the bug

When using a dataframe as input, the Gradio app output is locked to the input received when run for the first time. Subsequent user updates to the dataframe is not reflected in the Gradio app output. In addition, when "Clear" is selected to clear the outputs, the Gradio app behaves as if an empty dataframe is passed. The app has to be relaunched to have new input processed co

[2022-04-04 09:51] zydjohnHotmail opened #922 "Running local URL, but not responding to Chrome browser"
### Describe the bug

Hello:
I am using Windows 10 (Version 21H2), my python version is: 3.9.7 (x64), I installed Gradio (version 2.9.1), but I can't use GPU, as my Graphic card (Nvidia Gefore GT1030) is too weak to run any CUDA operations.
I write a simple python code: hello.py as the following:
import gradio as gr
def greet(name):
    return "Hello " + name + "!!"

iface = gr.Interface(fn=greet,

[2022-04-04 15:43] abidlabs commented on #776
Potentially related: https://discuss.huggingface.co/t/can-we-print-run-time-outputs/15810/2

[2022-04-04 22:50] aliabid94 opened #923 "[blocks-dev] Some issues with new components"
### Describe the bug

- for some components, on:change events seem to fire with the "pre-change" value of the component. For example, with the Radio element in calculator_live/run.py, if you change from 'add' to 'subtract', it will trigger the on:change but use the value 'add'.
- with debouncing, it is possible that I type in an input field and click submit very quickly, and the submission does no

[2022-04-05 01:49] abidlabs commented on #855
Closed via #915

[2022-04-05 01:49] abidlabs commented on #895
@aliabid94 did we close all of these?

[2022-04-05 02:09] aliabid94 commented on #731
Yep I like @FarukOzderim suggestion

[2022-04-05 05:32] #855 closed

[2022-04-05 15:48] abidlabs commented on #639
This should be closed, right @pngwn?

[2022-04-05 15:53] pngwn commented on #639
In principle, yeah. They might not be as 'static' as we'd like in some cases but i think the core functionality is there.

[2022-04-05 15:57] abidlabs commented on #639
Ok sounds good. Closing this general issue and we can reopen specific ones if needed

[2022-04-05 17:08] abidlabs commented on #889
It actually doesn't look weird anymore in the redesign-1 branch:

<img width="370" alt="image" src="https://user-images.githubusercontent.com/1778297/161812003-62291c76-624f-484e-9472-20894f9efa82.png">

We'll still want to redesign this component, but closing this issue as its no longer a blocker to merge

[2022-04-05 17:08] #889 closed

[2022-04-05 17:11] abidlabs commented on #704
This looks like its fixed in the latest redesign @pngwn. Keeping open just because I think you wanted to add labels to a few more components?

[2022-04-05 17:20] abidlabs commented on #881
@pngwn I think there are still some issues with Checkbox:

<img width="729" alt="image" src="https://user-images.githubusercontent.com/1778297/161813673-1ac69bc6-3d98-4ae7-9c53-2c16f0cc78fd.png">

* The `label` gets assigned to both the label and the associated text. The correct behavior is that the `default_value` parameter should be the associated text
* The Checkbox seems to pass in the default

[2022-04-05 17:22] abidlabs commented on #896
Still seeing some issues here (no audio is shown):

<img width="680" alt="image" src="https://user-images.githubusercontent.com/1778297/161814170-b5e2a05d-db7a-47c5-b182-9b2713c03214.png">

Even in an interface, there seems to be an issue with Audio output (instead of an output, an input is shown):

<img width="744" alt="image" src="https://user-images.githubusercontent.com/1778297/161814278-ad798

[2022-04-05 17:23] abidlabs commented on #899
The demo is still not working for me (no webcam input shows up)

[2022-04-05 17:25] abidlabs commented on #897
These issues seem to be fixed, except for this @pngwn:

[2022-04-05 17:28] abidlabs commented on #898
No longer an issue

[2022-04-05 17:28] #898 closed

[2022-04-05 17:47] abidlabs commented on #704
Testing this more extensively, I noticed a couple of issues:

1. When `label` is `None`, the label still shows up as null.
2. For `Textbox`, the `label` shows up for output textboxes, but not input textboxes?

See here:

<img width="708" alt="image" src="https://user-images.githubusercontent.com/1778297/161818067-4b219393-1076-4320-9560-64db59838b02.png">

[2022-04-05 17:51] abidlabs opened #925 "Adding an `interactive` parameter so that `Interface` outputs are not treated as inputs"
### Describe the bug

As discussed previously, output components in an `Interface` are treated like `inputs`, presumably because they are actually an input to the flagging button.

In this case, @pngwn suggested adding a parameter such as `interactive`, which can be `None`, `True`, or `False`. If `True` or `False`, it overrides the frontend's determination of what is an input and what is an output

[2022-04-05 17:56] abidlabs commented on #900
The output file component does not work. Try running `demo\zip_two_files\run.py`, or the code below:

[code]

[2022-04-06 11:00] pngwn commented on #704
Forms _always_ need a label. They are completely inaccessible otherwise. I think it should be a required parameter.

Output textboxes haven't been updated along with the input, I'll fix that.

[2022-04-06 11:34] FarukOzderim commented on #651
1. Let's add load into dependencies like this, WDYT @aliabid94 @pngwn @abidlabs?
[code]

[2022-04-06 11:36] FarukOzderim commented on #651
2. >We've also had requests for functions to call an external API after the prediction has been made:
I think we are currently supporting this, don't we? Can't we have functions without an input or output or both? @pngwn

[2022-04-06 14:04] pngwn commented on #881
The Checkbox seems to pass in the default_value. I think the correct behavior is that it should pass in a boolean: True or False, depending on it's checked.

I don't think this is correct unless i'm misreading the API. `Checkbox` only has a mechanism to pass in one 'label'. So the duplication is just because no associated text is passed in at all [from the docs](https://gradio.app/docs/#i_checkbox

[2022-04-06 14:46] bowtiedhal commented on #886
Hi, @abidlabs are there any updates on this front?

[2022-04-06 15:04] pngwn opened #933 "[blocks-dev] i18n is broken in blocks-dev"
### Describe the bug

a bunch of the i18n we added is broken. i know cos i broke it.

### Reproduction

-

### Screenshot

-

### Logs

[code]

### System Info

[code]

### Severity

critical

[2022-04-06 15:28] abidlabs commented on #886
Not yet, sorry! We need to merge some development changes in before we can fix this. We should be able to get to this early next week -- flagging @aliabid94 so it's on his radar.

[2022-04-06 15:34] abidlabs commented on #704
When you say that form elements are inaccessible, do you mean from a technical point of view, or from a human accessibility perspective? If it's the latter, can't accessibility be provided through other ways, for example, a user may want to provide explanatory text before the textbox using Markdown instead of using our Textbox's label, which has a very specific look and feel that the user might no

[2022-04-06 16:42] pngwn commented on #704
@abidlabs I know we just spoke about this but think more: for the output components, I think labels could be optional because they are mostly visual anyway. But for inputs the accessibility stuff I mentioned applies.

[2022-04-06 17:01] pngwn commented on #899
Closed by #928.

[2022-04-06 17:02] pngwn commented on #863
Closed by #932.

[2022-04-06 17:02] pngwn commented on #923
Closed by #932.

[2022-04-06 17:02] #923 closed

[2022-04-06 19:05] apolinario opened #934 "Implement minimum and maximum to the number input"
**Is your feature request related to a problem? Please describe.**
It is not always I need a number slider, however I am forced to use it because I want to constraint the user to a certain range of values

**Describe the solution you'd like**
Maximum and minimum values could take many forms:
- If the user types a lower or higher value, the value could "snap" to the highest or lowest allowed value

[2022-04-06 19:30] abidlabs commented on #881
One very small part of #897 is left:

Here's a screenshot:

<img width="793" alt="image" src="https://user-images.githubusercontent.com/1778297/162053789-ce03a5a0-86d5-47eb-8202-ab842274be08.png">

Everything else looks great!!

[2022-04-06 19:31] abidlabs commented on #934
This is a good suggestion! We would want to communicate the range clearly to the user as well. Do you have thoughts on how that might be communicated?

[2022-04-06 19:41] apolinario opened #936 "Typeable value on gradio.Slider"
**Is your feature request related to a problem? Please describe.**
Currently the only way to move it is actually moving the slider.

**Describe the solution you'd like**
The input slider could have a typeable element so the user could type the value and snap to it

[2022-04-06 19:43] apolinario opened #937 "Reset to default on gradio.inputs.Slider"
**Is your feature request related to a problem? Please describe.**
If the users mess with the parameters they may get confused and want to reload the whole page just to get all the defaults back

**Describe the solution you'd like**
A way for the user to reset to the default value if they messed with the slider only, maybe a button on the top right of the component

[2022-04-06 19:47] apolinario opened #938 "Implementation of a collapsible accordion (for advanced options for e.g.)"
**Is your feature request related to a problem? Please describe.**
Sometimes way too many options and parameters are exposed to the user and the UI gets cluttered.

**Describe the solution you'd like**
There could be an accordion component, similar to Streamlit's `st.expander` https://docs.streamlit.io/library/api-reference/layout/st.expander that enables you to hide certain options inside of it

[2022-04-06 20:00] anilkilickaplan opened #939 "inputs attribute"
### Describe the bug

AttributeError: module 'gradio' has no attribute 'inputs'

### Reproduction

Please check VQGAN CLIP text-to-image work by
https://colab.research.google.com/drive/1Foi0mCSE6NrW9oI3Fhni7158Krz4ZXdH?usp=sharing#scrollTo=TkUfzT60ZZ9q

It generates
"AttributeError: module 'gradio' has no attribute 'inputs'" error message.

### Screenshot

_No response_

### Logs

_No response_

#

[2022-04-06 20:05] abidlabs commented on #938
Agreed, this could be helpful for UIs with many inputs and parameters. cc @aliabid94 @pngwn @AK391

[2022-04-06 20:06] abidlabs commented on #937
Maybe all of our components should have an individual clear button, but it also might lead to a cluttered UI. We can think about this.

[2022-04-06 20:07] abidlabs commented on #936
We can think about this and see if we can find a UI that isn't too complex. Thanks for creating these issues @apolinario!

[2022-04-06 20:10] apolinario commented on #934
A few ideas:
- Have the allowed value range on the placeholder
- Have the allowed value range with some other color next or below the label
- Have the allowed value range below the input field itself

[2022-04-06 20:12] apolinario commented on #936
I would say that the UI could look exactly the same, maybe with some small visual indication that the field is typeable. Maybe worth on user testing seeing if people already *try* to click there thinking it is typeable. I did it and it may be the case many more users do

[2022-04-06 20:13] apolinario commented on #937
Maybe a very discrete gray round arrow wouldn't hurt, if that's clear enough
![image](https://user-images.githubusercontent.com/788417/162062891-ab1d34bb-42d3-4cea-b9ab-c9029c87e4dd.png)

[2022-04-06 20:42] apolinario commented on #936
Another usecase for this is fine adjustments. My model has a 0.1 step on 0 to 100. If is very painful to get to the right place.
![image](https://user-images.githubusercontent.com/788417/162067106-8d25aa21-39f4-44cc-8557-ccf2a6abc45c.png)
If I could just click on 29.3 and adjust, I don't think it would add complexity (on the backend yeah, but on the frotn-end no) and it would be a potential huge w

[2022-04-06 20:56] apolinario opened #940 "Issue on inputs.Slider default value is on the wrong place"
### Describe the bug

When I add the following inputs.Slider `gr.inputs.Slider(label="Width", minimum=64, maximum=256, default=256, step=64)`

The default value is on the wrong place

### Reproduction

[code]
### Screenshot
It should be at the end of the slider as it is the last item
![image](https://user-images.githubusercontent.com/788417/162068250-99cd27f3-6ed2-4787-8f4c-27d2c263a9b1.png)

###

[2022-04-06 21:07] apolinario commented on #940
Additional information:
- Removing the steps parameter doesn't solve it
- Removing the minimum parameter doesn't solve it
- Removing both the minimum and the step parameter doesn't solve it

It seems the issue is boils don't to default value being equal to maximum
`gr.inputs.Slider(label="Width",  maximum=256, default=256)`

[2022-04-06 22:57] dawoodkhan82 opened #942 "Convert 3d-image and plot components to separate packages"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-04-07 00:01] shubham-goel-zefr opened #943 "Access filename of uploaded image file"
When an image file object is uploaded, you cannot retrieve it's original filename. You can only get the temporary filename associated with it. I'm using the flagging feature to log mistakes in my model, and then use the generated csv to further retrain my model. It'd be helpful if instead of Image/0.png, Image/1.png, and so on, I get the ability to use the original filename in the longs.

**Descri

[2022-04-07 06:16] abidlabs commented on #897
One very small part of https://github.com/gradio-app/gradio/issues/897 is left:

* The output textbox size does not dynamically change size according the output as it used to (see screenshot)

Here are a couple of screenshots:

![image](https://user-images.githubusercontent.com/1778297/162132340-49af3bae-4671-4990-a1e0-6c775c666249.png)

<img width="745" alt="image" src="https://user-images.github

[2022-04-07 13:30] abidlabs commented on #651
The root `Blocks` does not always have to have id `0`, because you can have multiple `Blocks` defined within one Python session.

I.e. you could have:

[code]

In this case, `blocks2` would have an `id` that is not `0`.

[2022-04-07 13:36] abidlabs commented on #651
I don't think so, since in `Block.set_event_trigger()` and in all of the component event trigger methods like `change()` we do require all three function arguments `fn`, `inputs`, `outputs`. I think we still need to handle the situation when `inputs` or `outputs` is `None`, and update the dependencies in config suitably for these situations

[2022-04-07 14:18] Olvi73 commented on #921
Same problem, if i change the data and doesnt click clear button,the dataframe will not refresh. Not only change the data manually but also use `Examples` to input, but when i click `Clear` button then `Submit`, the output will refresh.
My app's input is image, but yours are dataframe, when i click the `Clear`button ,it seems doesnt work at all, think the problem is input dataframe part

[2022-04-07 14:50] FarukOzderim commented on #651
That's correct, but it was OK if we used 0 as it was not going to affect anything. But let's use like this.
[code]

[2022-04-07 14:54] FarukOzderim commented on #651
We do accept empty list, wouldn't that work well?

`click(fn, [], [])`
or
`click(fn,inputs=[], outputs=[])`
I think this is more explicit and lets user know that there is no input or output.

[2022-04-07 15:05] abidlabs commented on #651
Ok that seems reasonable. To summarize my understanding:

* `inputs=[]` in the config means that the function does not use any input component
* `outputs=[]` in the config means the the function does not use any output component
* `targets=[]` (and `trigger="load"`) means that the function should run on page load (note: most of the time, a function that runs on page load will not need to use input

[2022-04-07 15:40] abidlabs commented on #921
Thanks for letting us know @tnwei and @Olvi73, we are working on fixing all of the issues with the `Dataframe` component.

cc @pngwn

[2022-04-07 15:41] abidlabs commented on #943
Thanks @shubham-goel-zefr, this makes sense. Let us look into seeing if we can implement this.

[2022-04-07 16:15] merveenoyan opened #945 "DataFrame support from Files"
Gradio's file input takes file and doesn't do any preview of the file, and [DataFrame](https://gradio.app/docs/#i_dataframe) input doesn't really support any dataframe creation from files like a regular data science workflow with `pandas_dataframe.head()` would have in a colab. It would be better UX for data scientists to input a CSV/excel and have a head or tail of a dataset with as much columns/

[2022-04-07 16:17] abidlabs commented on #945
This would be super nice!! cc @pngwn as well -- it looks like the DataFrame component could be its own sprint!

[2022-04-07 16:39] pngwn commented on #945
We have lots of Dataframe issues (both bugs and feature requests), and there will also be some design changes. I'm going to create a tracking issue for dataframe to collate feedback and discuss a path forwards.

[2022-04-07 17:10] pngwn commented on #934
A common pattern is to use labelled 'pips'. Little lines underneath the range input. Sometimes they are used to show 'steps' but they are commonly used to show min + max values.

This kind of thing.

![pips](https://user-images.githubusercontent.com/12937446/162259126-fe908367-2540-49ba-a0cf-6c77e94cd0c5.png)

[2022-04-07 17:21] pngwn commented on #896
Closed by #930.

[2022-04-07 17:21] #896 closed

[2022-04-07 19:37] pngwn commented on #704
Closed by #929.

Will open a more specific issue for the optional labels thing, so we can figure out exactl;y what we want to do.

[2022-04-07 19:37] #704 closed

[2022-04-07 19:37] pngwn commented on #897
Closed by #929.

[2022-04-07 19:37] #897 closed

[2022-04-07 19:38] pngwn commented on #881
Closed by #929.

[2022-04-07 19:38] #881 closed

[2022-04-07 19:38] pngwn commented on #900
Closed by #931.

[2022-04-07 19:38] #900 closed

[2022-04-07 19:44] pngwn opened #946 "[blocks] optional labels for certain inputs"
For most form elements, labels are required for accessibility reasons but for _outputs_ the case is less clear. They certainly need useful descriptions but since they are not interactive form elements, the accesibility considerations are more around readability.

We need  to figure out how/ where we can make certain labels optional without compromising end user usabilty or accessibility.

Continua

[2022-04-07 21:50] aliabd opened #948 "[DOCS] Guides and Demo Panel"
Adding a side panel to docs that shows the relevant demos/guides for the current section in view. This will help users quickly get started and find relevant info.

[2022-04-07 21:51] aliabd commented on #948
Example:

<img width="1432" alt="Screen Shot 2022-04-07 at 11 50 55 PM" src="https://user-images.githubusercontent.com/9021060/162325796-34de9002-9f56-4aab-94ae-ba50caea8dd6.png">

[2022-04-07 21:53] aliabd opened #949 "[DOCS] Embedding demos for each component"
Our docs currently have demos linked to components, but the only way to see and use them is opening them in colab. The suggestion here is directly embedding the interfaces and the code side by side so that its a faster experience for the user. Links to colab will stay.

[2022-04-07 21:56] aliabd commented on #949
Example:

This is currently only showing a screenshot of the interface, will be replaced with an embedded interface. Styling will also change.

https://user-images.githubusercontent.com/9021060/162326344-61fe64b3-2bc8-42ee-95ee-ebba131535c2.mov

[2022-04-07 21:58] aliabd opened #950 "[DOCS] Embedding components themselves in the documentation"
It would be super cool for users to immediately see what a component looks like directly within docs, as well as be able to modify the parameters and see what changes.

[2022-04-07 22:03] aliabd opened #951 "[DOCS] Styling (Cleaner font, parameter tables, better navigation)"
Lots of styling work to be done on docs. Current version is too busy. Things like a cleaner font, better spacing and better styling for parameters will have a huge effect on the user experience.

[2022-04-07 22:04] aliabd commented on #950
Example:

Still need to allow users to modify parameters.

https://user-images.githubusercontent.com/9021060/162327084-5e4c7518-3137-4e5d-b284-07611b19250b.mov

[2022-04-07 22:08] aliabd opened #952 "[DOCS] Intro page with navigation to getting started, guides, or technical reference"
Originally suggested by @abidlabs, the idea is to have a landing page for docs that directs users where they want to go. The main motivation is that users with different levels of familiarity with gradio are going to want different things. For example someone who has never used gradio should be directed to getting started.

In the future we can expand this to include all the other cool ideas we wa

[2022-04-07 22:10] aliabd opened #953 "[DOCS] Unify components, add blocks documentation"
Docs work related to the blocks release. Modifying the documentation to reflect the new API including unified components and greater focus on blocks

[2022-04-08 02:21] FarukOzderim commented on #940
Thanks for reporting it @apolinario, @aliabid94 @pngwn @dawoodkhan82 can one of you take it on? it seems like a small ui issue.

[2022-04-08 03:58] FarukOzderim opened #956 "Give Descriptive Error Messages"
We need to give more descriptive error messages to users, and maybe give out a try again message to let them try again.

Context, a question coming from @ronvoluted:

[2022-04-08 04:32] FarukOzderim opened #957 "[Brainstorming] Reporting Hugging Face Spaces with Gradio Flagging"
We can integrate Gradio flagging with Hugging Face Hub, so that community can report problematic content with predefined or user defined labels. I think it is best to have a custom flagging that is activated for Hugging Face.

Reference discussion by @nbroad1881 and @nateraw:

[2022-04-08 06:33] ronvoluted commented on #839
This has been bugging me a little too, will change it to something sensible.

[2022-04-08 10:40] pngwn commented on #940
Pretty sure this is fixed in`dev-blocks`, not sure it is worth fixing in main as `dev-blocks` is close to being merged.

[2022-04-08 11:16] apolinario opened #959 "Add context or further explanation to any input field"
**Is your feature request related to a problem? Please describe.**
Sometimes the users may not know what a field or parameter does to the model or to the demo. There can be case that the name or label can't fully capture what it does and further explanation is needed

**Describe the solution you'd like**
A suggestion would be to take inspiration from Streamlit add a 'help' option to all inputs, th

[2022-04-08 11:20] apolinario commented on #934
Hi @pngwn! I love your suggestion and I think it could make a lot of sense to the Slider input

But just a a clarification, this feature request actually referred to the possibility of enabling maximum and minimum values to the `gradio.inputs.Number` field

[2022-04-08 11:29] pngwn commented on #959
I think a mechanism to provide additional context for certain input would be great. We would need to be careful about how we do that, tooltips are problematic, especially on mobile:
- https://www.nngroup.com/articles/tooltip-guidelines/
- https://adamsilver.io/blog/the-problem-with-tooltips-and-what-to-do-instead/

cc @gary149

[2022-04-08 11:47] FarukOzderim commented on #940
@apolinario thanks for reporting, the problem is already solved, it will be in the next release.

[2022-04-08 11:47] #940 closed

[2022-04-08 11:51] FarukOzderim opened #960 "[Blocks] Support Blocks components as Plug and Use components"
The design of **Blocks** does not support multiple **Blocks** defined outside the main **Blocks** scope. But this is needed for complex **Blocks** components as it will enable users to package their modules under smaller **Blocks**

We can potentially support it with a new design,
- either a workaround function that passes every component, event and layouts inside the smaller Blocks to Parent Bloc

[2022-04-08 11:56] apolinario opened #961 "Add Conditional Inputs"
**Feature request**
An input that only shows up if another input has a certain value.

**Describe the solution you'd like**
For example, only show further options related to a "mode", if a checkbox that activates that mode is checked.

https://user-images.githubusercontent.com/788417/162430795-b9599c79-2127-4b2d-944e-0ee184bc0592.mov

[2022-04-08 12:05] apolinario commented on #934
Also for the way to inform the user @abidlabs , I don't love this one only happens after they inputed something wrong, but could be a food for thought.

(PS: This example contains a way to add the "Steps" option to the `inputs.Number`, I didn't open an issue for it but I would love this as a feature too)

https://user-images.githubusercontent.com/788417/162432035-f9e1671c-7e51-49f4-a35f-54f0e9f0d5

[2022-04-08 12:43] pngwn opened #962 "Dataframe Improvements"
There are a number of issues with the Dataframe component as it exist today and we need to do some work to fix the outstanding but also improve the usability for humans.

We can use this issue to keep track of the issues that have been reported and come up with a design that addresses the usability issues. I'll start with a simple proposal and we can discuss from there.

## python API Changes

Tod

[2022-04-08 13:48] merveenoyan commented on #962
so normally data scientists read CSV/TSV/XLSX files and turn them into dataframe using [pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) and see the header of the dataframe afterwards, it's quite typical.

[code]
people do this in colab and use it to demonstrate, meanwhile gradio doesn't have it. It has a dataframe which you can't read from a file. It would be much better

[2022-04-08 13:57] pngwn opened #964 "rename `Image3D` to `Model3D`"
@osanseviero mentioned:

After a short discussion we felt that `Model3D` would be the best term as it is the most correct, despite this minor concern:

We have only just released this component so usage will be low and with 3.0 around the corner changing the name should be pretty safe.

[2022-04-08 13:58] osanseviero commented on #964
Strong support for this, `Model3D` or `Scene3D` can be much better aligned to the CV community

[2022-04-08 13:59] abidlabs commented on #839
That'd be great!

[2022-04-08 14:03] abidlabs commented on #961
Thanks @apolinario! We are working on this using the new `Blocks` class, see #784 for example.

Will keep this open until we have a good solution out.

[2022-04-08 14:09] abidlabs commented on #962
Beautiful! I think you got everything @pngwn

[2022-04-08 15:36] abidlabs commented on #948
Could we show the tags underneath the Guides here? I find that they pique my interest much more than just seeing the title of the Guide by itself

[2022-04-08 15:37] abidlabs commented on #948
Suggestion: replace the word "Guides" with something that catches attention better:

* Step-by-step Guides
* Tutorials

[2022-04-08 15:38] abidlabs commented on #950
This is SO COOL!

[2022-04-08 15:41] abidlabs commented on #960
The problem is with the `render()` function. It just needs to be tweaked -- I can take a look into this

[2022-04-08 15:46] abidlabs commented on #950
I think we should definitely feature this prominently on the website. In addition to the technical reference, what do you think about having a separate gallery of all of the components for a better UX?

You can browse through all of the components, if you click on a component, you see: its docstring, its demos, its guides, you can play around with its parameters and you see a live preview -- basic

[2022-04-08 15:51] abidlabs commented on #952
Some websites that do this:
* https://docs.bokeh.org/en/latest/
* https://docs.streamlit.io/

Tbh I don't love either one of them, they're both very text heavy. We can do better

[2022-04-08 16:00] abidlabs commented on #949
Nice! Small suggestions:
* Change "view" to "view code" and show the code tab first
* There seem to be too many buttons on the popup - view on GitHub, - Open in Colab, - the 2 tabs. Simplify the popup if possible

[2022-04-08 16:30] gary149 commented on #962
Thanks for wrapping up @pngwn! here are my thoughts on some UX points:

I agree 100% 👍

I agree with @osanseviero on this but to be clear a single click will not put your cursor in the cell, it will focus the cell exactly like today then only if there is keyboard interaction while a cell is focused it will edit it. We should just do it like Airtable does it: single click -> cell focus -> keyboard

[2022-04-08 17:56] FarukOzderim commented on #960
This functionality is not supported with render yet, just shared an example outline, there could be a different function called x as well.

[2022-04-08 18:26] pngwn commented on #651
Closed by #963 and #967.

[2022-04-08 18:26] #651 closed

[2022-04-08 18:46] pngwn commented on #933
Closed by #966.

[2022-04-08 18:46] #933 closed

[2022-04-09 01:24] abidlabs commented on #785
@dawoodkhan82 based on our discussion today, I would just add a simple "built with Gradio" type footer for now.

We can add other menu options like the view API (which needs to be rewritten anyways with the new endpoints) and i18n toggle later after the more detailed redesign.

[2022-04-09 08:12] FarukOzderim commented on #964
I feel like naming `Image3D `is better for a 3D Image, I don't get the feelings of a 3D Image from `Model3D`

[2022-04-09 18:36] bowtiedhal commented on #886
Thanks, will be waiting

[2022-04-11 07:50] dawoodkhan82 commented on #888
Doesn't seem to be a bug anymore

[2022-04-11 07:50] #888 closed

[2022-04-11 08:23] osanseviero commented on #964
Within the audience that would use this component, I think `Model3D` is clearer. `Image` implies 2D (or multichannel) data, while `Model3D` is a bit clearer about working with a 3D object.

See https://pytorch3d.org/ which uses `load_obj` for example, https://en.wikipedia.org/wiki/Wavefront_.obj_file which uses "3D geometry", https://en.wikipedia.org/wiki/GlTF which uses "three-dimensional scenes

[2022-04-11 14:15] FarukOzderim opened #974 "Missing Multiple Outputs"
### Describe the bug

There should be 3 outputs with this example, however there is only one.

Reported by Nicholas Broad.

### Reproduction

One of the examples within our docs:

https://colab.research.google.com/drive/1MJ5Kz67ghYprPxJBjOal66VFU_CK2lqG

### Screenshot

![image](https://user-images.githubusercontent.com/44067394/162759003-23daa93e-9dac-4ef5-ac76-db57c9466be5.png)

### Logs

_No re

[2022-04-11 18:07] abidlabs commented on #974
Very strange. Haven't looked into this deeply, but just want to add that the issue seems specific to this demo or this set of outputs. In general, multiple outputs are working fine as can be seen with this simple example:

![image](https://user-images.githubusercontent.com/1778297/162802174-519fbf44-df03-49c6-920b-15de8eebff89.png)

[2022-04-11 18:33] nbroad1881 commented on #974
If you change the middle output in the colab notebook to text it works fine. Formatting looks a bit off, but all three outputs are there.

[2022-04-11 20:01] abidlabs commented on #938
This would also be useful for general Blocks to collapse certain sections of a long Block. For example, I'm trying to implement this in Blocks:

![image](https://user-images.githubusercontent.com/1778297/162820290-18caaa18-1c64-447e-abed-5d2aee346030.png)

[2022-04-11 20:58] aliabd commented on #948
Implemented both

<img width="412" alt="Screen Shot 2022-04-11 at 10 57 48 PM" src="https://user-images.githubusercontent.com/9021060/162830921-673a7b96-e075-4cce-8c04-a8c719e24cda.png">

[2022-04-11 21:45] abidlabs commented on #895
Closed via #944

[2022-04-11 21:45] #895 closed

[2022-04-11 21:47] abidlabs commented on #737
Closed via #971

[2022-04-11 21:47] #737 closed

[2022-04-11 22:43] aliabd commented on #952
Made a v1 of the page, thoughts @abidlabs? Agree on all fronts.

Right now the bottom cards are placeholders until we build those pages!

[2022-04-11 22:43] aliabd commented on #952
<img width="767" alt="Screen Shot 2022-04-12 at 12 40 45 AM" src="https://user-images.githubusercontent.com/9021060/162845262-1dcd723b-8fb0-41ea-9262-b7fd426198db.png">

[2022-04-11 22:53] abidlabs commented on #952
Ooh I like this learn/play idea a lot! Can you share in a #gradio-technical to get other feedback as well?

Agreed, for "spaces gallery" and "theme builder", we can put a "coming soon" while we work on them.

[2022-04-11 23:05] abidlabs commented on #891
This should be closed with #925

[2022-04-11 23:05] #891 closed

[2022-04-12 06:07] cgsaxner commented on #922
Hi, did you manage to solve this?
I'm running into the same issue using Gradio 2.9.1, Python 3.9.7 and Windows 10.
I tested visiting [http://127.0.0.1:7860/](http://127.0.0.1:7860/) or [http://localhost:7860/](http://localhost:7860/) using Chrome, Firefox and Microsoft Edge, but the page keeps coming up empty.

[2022-04-12 06:34] Rikorose opened #976 "Microphone Audio Input bugs"
### Describe the bug

I struggle to get audio recording input in chrome on hugging space.

### Reproduction

1. gradio requires (undocumented) external programs
Unfortunately the required programs are not installed on hugginface spaces and are also not documented.
When using:
[code]
I get:
[code]
When testing on my local machine (where ffmpeg is installed), two more bugs:
2. Chrome records mono, d

[2022-04-12 09:48] osanseviero opened #978 "Some characters (e.g. á) are not shown correctly in Label component"
### Describe the bug

In this [space](https://huggingface.co/spaces/hackathon-pln-es/clasificador-de-tesis) the users are outputing text with accents but they are not being displayed properly

### Reproduction

See https://huggingface.co/spaces/hackathon-pln-es/clasificador-de-tesis

### Screenshot

![Screenshot from 2022-04-12 11-47-49](https://user-images.githubusercontent.com/7246357/162932283-

[2022-04-12 12:54] #957 closed

[2022-04-12 13:04] FarukOzderim opened #979 "Remove Deprecated Parameters"

[2022-04-12 13:10] FarukOzderim opened #980 "Textbox Autoheight Logic"
Continuation of halted discussion at #929

I propose having `lines=1` by default, always having autoheight logic for `textbox` component to increase its size with the incoming input. What are your thoughts @abidlabs @aliabid94 @pngwn?

[code]

[2022-04-12 13:45] abidlabs commented on #731
Sounds good to me. I prefer `Templates` as it is shorter than `CustomComponents` and a single word

[2022-04-12 14:13] abidlabs commented on #980
I don't have a strong opinion on this. I can see how increasing the input textbox height can be useful in some cases, but in other cases (imagine a large text that is copy-pasted), then it could lead to the textbox becoming very large and crowding out the other components.

[2022-04-12 14:22] rockdrigoma commented on #914
@osanseviero @abidlabs any idea on this?

[2022-04-12 14:30] aliabd commented on #949
Thanks @abidlabs I made some changes

* Changed 'view' to 'view code'
* Removed the tabs and now just showing the code and screenshot side-by-side
* Removed the github button. Not sure its super useful given the code is right there and you can open in colab.

Still working on replacing the screenshot with an embedded interface

https://user-images.githubusercontent.com/9021060/162985727-cf68df20-6

[2022-04-12 15:19] rockdrigoma commented on #914
This is the link to the Space [https://huggingface.co/spaces/hackathon-pln-es/Spanish-Nahuatl-Translation](https://huggingface.co/spaces/hackathon-pln-es/Spanish-Nahuatl-Translation) but it seems that all Spaces have same issue

[2022-04-12 15:41] FarukOzderim commented on #979
whoops, forgot that one.

[2022-04-12 15:41] #979 closed

[2022-04-12 16:06] abidlabs opened #982 "[Blocks] Improve default labels for form components"
For the components in which we are requiring labels, we could improve the default labels. For example, right now, the default label for `Textbox` is `None` which gets rendered as `"null"` by the frontend and looks ugly. We could at least make the label be `"Textbox"` instead

[2022-04-12 16:40] FarukOzderim commented on #980
Is large text a use case though?
If it is then we shan't enable it by default or make it closable by parameters.
Then how does this sound?

- If lines is not provided we make it autoheight
- If autoheight is True, we make it autoheight
- otherwise autoHeight is False

[2022-04-12 16:58] pngwn commented on #821
@abidlabs Yeah, `X.update` would just be a factory function/ method. I think might need a `type` key in the returned payload of the api request, so we can work out if the dict was generated via an `update` call or was explicitly defined. Because we need to know whether we should pass the dict as the `value` or pass each key from the dict as inividual props to the component (allowing us to update a

[2022-04-12 17:18] abidlabs commented on #873
Yes, I definitely see the value of this! While we are super busy working on a few different issues right now, I'm hopeful we'll be able to work on this and I'll keep this issue open. In the meantime, contributions welcome!

[2022-04-12 17:20] abidlabs opened #984 "[DOCS] Add documentation for missing features"
As part of the documentation overhaul, let's make sure we have documentation for missing features:

- [ ] Series and Parallel
- [x] Interface.load() and the various ways it can be used (with models/spaces), overriding parameters

[2022-04-12 17:29] abidlabs commented on #922
Hmm this is weird. Do you notice any logs in the Python terminal or in the Chrome inspector console?

[2022-04-12 17:30] pngwn commented on #980
We could also set a max pretty easily.

[2022-04-12 17:42] FarukOzderim commented on #984
closes #756

[2022-04-12 17:47] FarukOzderim commented on #731
@abidlabs @aliabd
Would we want to have templates for these shortcuts?

[code]

[2022-04-12 18:12] abidlabs commented on #731
I think we should. Not sure how commonly they are used, but there should be no harm in including them.

[2022-04-12 18:17] abidlabs commented on #980
I assume that should be `autoheight=False` above.

Otherwise, seems reasonable.

I think we can wait until after 3.0 as this doesn't seem be urgent.

[2022-04-12 18:19] abidlabs commented on #914
Thanks @rockdrigoma @dnth @osanseviero

We're changing how flagging and some other things work at the moment anyways as part of this large PR, so it might get fixed. Otherwise, we'll look into the issue to see what broke. Appreciate it!

[2022-04-12 18:21] rockdrigoma commented on #914
Great @abidlabs and thanks for your reply, if I can do something in a separate PR to fix only flagging, let me know. Just started to use Gradio so I don't really know where I should start in the code

[2022-04-12 18:31] abidlabs commented on #821
@aliabid94 do you have thoughts on this API vs. the previous one?

Implementing the backend with this API should be very super straightforward. We just add this function to the `Component` parent class. @pngwn why do you say that "it won't actually be a function"? Why wouldn't it be a function?

In the frontend, you'd need to look at the returned value and if it is a dictionary with a key called `

[2022-04-12 18:36] zydjohnHotmail commented on #922
Hello:
I am using Python 3.9.7 on Windows 10 (Version 21H2).  After you publich new version, please give me the link, I can try again!

[2022-04-12 18:53] zydjohnHotmail commented on #922
Hello:
I forget to mention that I don't have GPU, or my Graphic card Nvidia Gefore GT1030 is too weak to run any CUDA stuff.  It is better to make sure that I can run the program on CPU only.
Thanks,

[2022-04-12 19:24] pngwn commented on #821
Because it will be a class method.

That said it could just be a function really, it isn't doing anything special.

[2022-04-12 19:25] pngwn commented on #466
Still import just not as important as other things.

[2022-04-12 19:34] abidlabs commented on #821
Cool, then we are on the same page

[2022-04-12 19:39] FarukOzderim commented on #980
Would like to include in 3.0 if it is a short work from frontend perspective. Otherwise can wait in low priority.

[2022-04-12 19:54] FarukOzderim commented on #821
I am not sure I am following the discussion throughly. Would it not be enough for us to update a component's fields with the `update` function?

[code]

[2022-04-12 19:58] abidlabs commented on #821
The purpose of the `update()` method isn't to actually change the properties (since the updating needs to happens on the front end, *without* the page being refreshed). Instead, `update()` simply returns a response in a format (a json dictionary) that the frontend can use to know how to update the components.

[2022-04-12 20:00] abidlabs commented on #959
I wonder if we can just use grayed out or slightly smaller text, something like this:

<img width="515" alt="image" src="https://user-images.githubusercontent.com/1778297/163043683-afc688fa-597b-408c-bb98-4cced02f7692.png">

[2022-04-12 20:00] abidlabs commented on #191
This is closed as of #800! Thanks for the patience

[2022-04-12 20:00] #191 closed

[2022-04-12 20:09] aliabd commented on #950
Started implementing parameter tweaking for components

https://user-images.githubusercontent.com/9021060/163043977-f6f006de-72b7-4132-8db1-a28a8e8ca32b.mov

Love the components gallery idea. I think the docs page is getting super crowded so would be better to make space

[2022-04-13 01:41] JefferyChiang opened #988 "Problem for image examples when using absolute path."
### Describe the bug

My code is work in 2.4.6 version. Recently I updated to 2.7.5.2, and found that the images didnt show in the examples.
After a while, I figure out that is the issue about the absolute path.
In gradio/ app.py, it will force to join the app.cwd and path, so the final path is wrong.
`@app.get("/file/{path:path}", dependencies=[Depends(login_check)])
def file(path):
    print(app

[2022-04-13 04:09] Khoa-NT commented on #873
I'm sorry. I didn't mean to push you guys.
I just saw the application, so I shared it in this post.
Thank you to all the team members for the hard work.

[2022-04-13 07:18] cgsaxner commented on #922
Hello, I got the following error in the Chrome console when loading the page:

`Failed to load module script: Expected a JavaScript module script but the server responded with a MIME type of "text/plain". Strict MIME type checking is enforced for module scripts per HTML spec.`

Firefox shows a similar message:
`Loading module from “http://127.0.0.1:7860/assets/index.f609cd21.js” was blocked becaus

[2022-04-13 07:27] dawoodkhan82 opened #989 "`Model3D` component does not work well on mobile"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-04-13 09:43] pngwn commented on #989
It would be good to tweak the scroll-zoom a little if possible too, it zooms quite aggressively.

[2022-04-13 09:44] pngwn commented on #989
cc @gary149 for design guidance.

[2022-04-13 14:19] ZoRaFa opened #991 "Import front end to back end"
Hello,
i'm using Gradio for a demo of trash detection AI called Surfnet (https://huggingface.co/spaces/Surfrider/surfnet).
I'm trying to create a pop up in HTML/CSS to show informations to users about the project (exemple below)

![Surfnet_popup](https://user-images.githubusercontent.com/78821052/163194178-57f5369a-4cb0-460f-a604-31ee544e2f23.PNG)

Do you think is it possible to add a feature whic

[2022-04-13 16:29] pngwn commented on #980
Frontend logic is already there really (for outputs), just needs hooking up to whatever param we want to use to control it. I think there should be a default max_height/ max_lines otherwise weird stuff might happen. Probably around 10.

[2022-04-13 16:31] pngwn commented on #959
This is preferable, as it is always on the page. A toggle (like  the `details` html element) would work well for descriptions that are too long.

[2022-04-13 16:45] FarukOzderim commented on #980
Ok then, I will update accordingly.

[2022-04-13 17:56] abidlabs commented on #980
Sorry one quick thing:

If we have a `lines` parameter and a `max_lines` parameter, do we need `autoheight`? We can just allow a user to block auto-adjusting by setting `max_lines` equal to `lines`? We can cutdown on one unnecessary parameter and prevent parameter settings from clashing

[2022-04-13 18:58] abidlabs commented on #991
Thanks for the question @ZoRaFa. Let me ask the team about this and get back to you. We might be able to repurpose our login functionality to allow arbitrary messages. cc @aliabid94

[2022-04-13 20:29] abidlabs commented on #730
Closed via #977

[2022-04-13 20:54] pngwn commented on #890
Closed by #981.

[2022-04-13 20:54] #890 closed

[2022-04-13 20:54] pngwn commented on #921
Closed by #981.

[2022-04-13 20:54] #921 closed

[2022-04-13 21:09] abidlabs commented on #785
Updating the issue since it is no longer a blocker for merging `blocks-dev` into `main`, but it still has useful suggestions for the future

[2022-04-13 21:58] abidlabs opened #994 "`cache_examples` bugs"
### Describe the bug

I'm getting some bugs related to `cache_examples`, both on the latest published version (2.9.1) as well as on `blocks-dev`, but the bugs are different.

On 2.9.1, I noticed that if you set `enable_queue` and `cache_examples`, examples are not actually cached.

On `blocks-dev`, I noticed that when you cache examples, they are not loaded correctly. Both the input and output are

[2022-04-13 23:00] FarukOzderim commented on #980
Agree with @abidlabs, lets use `lines` as max_lines.

autoheight is enables by default:

- when autoheight is True, min_lines is 1 and max_lines is `lines`
- when autoheight is False, min_lines = max_lines = `lines`

How does this sound @abidlabs and @pngwn

[2022-04-14 13:43] abidlabs commented on #988
Thanks for catching this @JefferyChiang, would you like to open a PR so that we can credit you for the fix?

[2022-04-14 13:49] abidlabs commented on #964
Can we also use this opportunity to fix the bug that prevents cached Image3d examples from being loaded?

[2022-04-14 13:54] abidlabs commented on #705
Tested and works well. Closed via #947

[2022-04-14 13:54] #705 closed

[2022-04-14 13:57] abidlabs commented on #757
Removing from Blocks milestone since this is more of an open-ended brainstorming issue

[2022-04-14 14:12] pngwn commented on #925
Closed by #992.

[2022-04-14 14:12] #925 closed

[2022-04-14 14:17] #699 closed

[2022-04-14 14:17] johnPertoft opened #998 "Option to get 2d image from `Image3D` input"
Maybe a very niche usecase, but I would like to have the option of passing a 2d representation of the `Model3D` / `Image3D` input to the wrapped function, e.g. just grabbing the current state of the canvas as an image and using that as the input.

[2022-04-14 14:19] pngwn opened #999 "handle custom styling for interfaces in the frontend rather than in the python lib"
At the minute we are injecting custom CSS to create the interface design. Ideally we would not need to do this and would use either some new layout components (`Panel`, etc.) or custom CSS properties to modify the components we are using.

The current approach makes the dev experience very tedious, when modifying the interface styling.

[2022-04-14 22:32] abidlabs commented on #605
Closed via #805

[2022-04-14 22:32] #605 closed

[2022-04-14 22:33] abidlabs commented on #141
Plotly is now supported with the new `Plot` component as of version 2.9.3!

Closed via #805

[2022-04-14 22:33] #141 closed

[2022-04-14 22:34] abidlabs commented on #605
Plotly is now supported with the new `Plot` component as of version 2.9.3!

[2022-04-14 22:34] abidlabs commented on #711
Closed via #805

[2022-04-14 22:34] #711 closed

[2022-04-15 06:35] jaekookang opened #1005 "HuggingFace webpage not showing properly"
### Describe the bug

Hello. I just found that the HugginFace website is not properly showing from the web browsers both Chrome and Safari at least from my Macbook (2022-04-15 Fri, KST 15:31 from Korea).

I was trying to use some of the Gradio demos under Spaces, but they are not showing up properly.

Is this only temporary or should I try something else other than refreshing?

Thanks!

---
Here a

[2022-04-15 06:37] abidlabs commented on #1005
Thanks @jaekookang, we're on it! Should be fixed soon

[2022-04-15 06:46] jaekookang commented on #1005
It's fixed! Thanks!

[2022-04-15 06:46] #1005 closed

[2022-04-15 07:43] joowon-dm-snu opened #1007 "Add integer type for `gradio.Number`"
**Is your feature request related to a problem? Please describe.**

Code below raise `TypeError: can't multiply sequence by non-int of type 'float'`
[code]

For solving that issue, I needed to change `def main` like below

[code]

**Describe the solution you'd like**
[code]

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-04-15 07:50] #731 closed

[2022-04-15 13:15] FarukOzderim commented on #1007
Hello @joowon-dm-snu, thanks for reporting.
If you check the Number component, it supports float not int.

[2022-04-15 16:01] abidlabs commented on #1007
I think what @joowon-dm-snu is asking here is for us to have a parameter that automatically preprocesses the Number input into an integer. That's not a bad idea -- why did we close this?

[2022-04-15 16:04] #732 closed

[2022-04-15 17:29] #988 closed

[2022-04-15 22:20] radames commented on #989
Possibly related to this issue. The Model3D viewer currently doesn't work well on mobile specially the pinch multi-touch gestures. Here is a playground example I've found that seems to work well on mobile https://playground.babylonjs.com/#4U6TVQ#3

[2022-04-15 23:22] FarukOzderim commented on #1007
Sorry my bad, misunderstood the issue.

I feel negative about this, what would happen when integer conversion is unsuccessful, throw an error?
Wouldn't it be better for user to convert to int when he/she is going to use it?

[2022-04-17 09:57] Zengyf-CVer opened #1011 "About the running bug of matplotlib in demo/outbreak_forecast/run.py"
### Describe the bug

I ran the file `https://github.com/gradio-app/gradio/blob/main/demo/outbreak_forecast/run.py`, the default Plot Type is `matplotlib`, clicked submit, and an error occurred :

[code]

### Reproduction

https://github.com/gradio-app/gradio/blob/main/demo/outbreak_forecast/run.py

my configuration:
[code]
![ksnip_20220417-175306](https://user-images.githubusercontent.com/4109876

[2022-04-17 10:19] joowon-dm-snu commented on #1007
Issue was for feature-request not for error report :) Thanks @abidlabs .

@FarukOzderim is there any possibility that `float -> int` conversion throw error?
I needed to change `argparse.ArgumentParser()` styled [code](https://github.com/CompVis/latent-diffusion/blob/main/scripts/txt2img.py) to `gradio` and face this issue that I need to all integer parameters by using code below.
[code]
I still fi

[2022-04-17 10:34] FarukOzderim commented on #1007
Thanks for the suggestion.

For example it can throw an error when it is converting 3.14 to integer

[2022-04-17 16:53] abidlabs commented on #1007
No, casting a float to an int just takes the integer part and drops the decimal part, so for example:

[code]

But in fact, we could even do this better by enforcing the integer constraint in the frontend. If the component is `Number(dtype="int")`, we prevent users from typing in the decimal point "." in the same way we prevent them from typing in letters right now.

Opening this issue because eve

[2022-04-18 09:21] joowon-dm-snu commented on #1007
Thanks :)

[2022-04-18 13:42] FarukOzderim commented on #1007
Yeah that's correct lol :D,

Agreed, makes sense. @joowon-dm-snu  Thanks for the suggestion

[2022-04-18 20:10] abidlabs opened #1014 "Feature request: `Code` component"
An idea for a new `Code` Component, which supports:
* editable code (for inputs) or displayed code (for outputs)
* simple syntax highlighting for various common languages

Inspired by:
* https://huggingface.co/spaces/facebook/incoder-demo

![image](https://user-images.githubusercontent.com/1778297/163870230-ecbb8e74-2cc9-4f6d-ab36-b30228b7e670.png)

[2022-04-18 20:14] abidlabs commented on #1014
It would be really cool if something like this could be a community-contributed component.

@pngwn I think we should invest some time writing up a tutorial on how to create components in Svelte + Python and submit them to the `gradio` library.

[2022-04-18 21:33] abidlabs commented on #1011
Thanks @Zengyf-CVer for creating this issue! We'll look into it shortly

[2022-04-19 04:06] hn2 opened #1016 "Is there a way to run gradio with python 3.6?"
I am usingp ython 3.6 for other applications. Is there a way to run gradio with this version?
Right now I am getting:
SyntaxError: future feature annotations is not defined
when trying to:
import gradio as gr

[2022-04-19 04:56] abidlabs commented on #1016
Nope unfortunately not as far as I know. We extensively use features that are only available in Python 3.7+

[2022-04-19 06:24] abidlabs commented on #860
See also #674

[2022-04-19 06:32] abidlabs commented on #976
Hi @Rikorose, thanks for creating this issue. This usually just means that `gradio` wasn't installed successfully. Try `pip uninstall gradio` and `pip install gradio` to reinstall Gradio.

Closing as this has already been addressed in #613 and #195

[2022-04-19 06:33] abidlabs commented on #504
Duplicate of #220

[2022-04-19 06:33] #504 closed

[2022-04-19 06:41] Rikorose commented on #976
Thanks for your reply. I already tested reinstalling gradio and just tested again with version 2.9.4. Issue is still present and thus I am asking to reopen.
[code]

Gradio creates the file:
speech_rec = '/tmp/audio_hzu_gp_.wav'

[code]

[2022-04-19 06:46] abidlabs commented on #976
Whoops I'm sorry I closed the wrong issue. My bad @Rikorose, this should definitely stay open!

[2022-04-19 06:47] abidlabs commented on #939
Hi @anilkilickaplan, thanks for creating this issue. This usually just means that gradio wasn't installed successfully. Try pip uninstall gradio and pip install gradio to reinstall Gradio.

Closing as this has already been addressed in #613 and #195

[2022-04-19 06:47] #939 closed

[2022-04-19 09:51] apolinario opened #1020 "Allow background image for gradio.inputs.Image source canvas"
**Is your feature request related to a problem? Please describe.**
I would like to add a background-image to be drawn on top of with the canvas element

**Describe the solution you'd like**
I would want to be able to upload a picture and then draw on top of it for inpainting demos. This would return two elements: the uploaded image and the drawn mask.
![image](https://user-images.githubusercontent

[2022-04-19 11:03] Nickil21 commented on #225
@aliabid94 Any idea when the GPU inference support would be made available? I am trying to do an ONNX inference session using the CUDAExecutionProvider. Right now, the latency is too much without the GPU when I try to host the demo application. Is there any workaround for the time being?

[2022-04-19 12:52] #894 closed

[2022-04-19 13:17] tnwei commented on #921
Awesome, thank you!

[2022-04-19 15:09] Nickil21 commented on #225
Yes, you can see the Gradio demo app [here](https://huggingface.co/spaces/nickil/weakly-supervised-parsing).

[2022-04-19 15:30] abidlabs commented on #942
Closed via #1010

[2022-04-19 15:30] #942 closed

[2022-04-19 15:31] abidlabs commented on #908
@aliabid94 did you verify these all?

[2022-04-19 16:35] abidlabs opened #1025 "`ModuleNotFoundError: No module named 'gradio.test_data'` in colab notebook"
### Describe the bug

I tested the latest version of the library (by releasing 2.9.0b from `main`) in colab and it throws this error:

[code]

### Reproduction

!pip install --quiet gradio==2.9.0b0

import gradio as gr

gr.Interface(lambda x:x, "textbox", "textbox").launch()

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

blocker

[2022-04-19 17:41] abidlabs opened #1028 "Footer appears twice (once above the interface) when `share=True`"
### Describe the bug

When `share=True` in `launch()`, the footer appears twice:

![image](https://user-images.githubusercontent.com/1778297/164063441-ded901a4-9ff2-469f-8f47-39e64c1fd2ee.png)

### Reproduction

import gradio as gr

gr.Interface(lambda x:x, "textbox", "textbox").launch(share=True)

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoy

[2022-04-19 17:44] abidlabs commented on #225
Thanks for asking about upgrading your Space to GPU! I checked with the team, and currently we don't have a self-serve process for this but we can enable your Space(s) manually, but there is a certain monthly charge for that. If you are interested, shoot me an email at abu@hf.co and I'm happy to share more info

[2022-04-19 17:52] abidlabs opened #1029 "Interfaces are no longer mobile-responsive & column widths are not equal"
### Describe the bug

Gradio Interfaces used to be mobile-responsive -- for narrow screen widths, the output would appear underneath the input, like this: https://huggingface.co/spaces/awacke1/HealthSummary

![image](https://user-images.githubusercontent.com/1778297/164065286-2c4fb7d8-7012-4f0a-87cb-e67881c41258.png)

However, this is not the case anymore, see:

![image](https://user-images.github

[2022-04-19 17:58] abidlabs commented on #1011
@dawoodkhan82 I tested this on the latest version of gradio, and while this error doesn't appear, it looks like `matplotlib` plots are broken. When I clicked submit, nothing would show up if matplotlib was selected:

![image](https://user-images.githubusercontent.com/1778297/164066466-7be3e883-5b36-4668-ae30-d32f5f707b02.png)

The other two plot types (bokeh and plotly) would work just fine.

[2022-04-19 18:03] abidlabs commented on #994
Looks like this has been fixed with the merge. Thanks @aliabid94!

[2022-04-19 18:03] #994 closed

[2022-04-19 18:14] abidlabs commented on #964
Renamed in `components.py`. Thanks @dawoodkhan82!

[2022-04-19 18:19] abidlabs commented on #974
The keyvalues component has been deprecated -- if you change it to `json`, then this demo now works with the latest version of Gradio (2.9.0b2). Thanks @FarukOzderim and @nbroad1881 for creating the issue.
![image](https://user-images.githubusercontent.com/1778297/164069881-0f625777-b0b2-43ed-bf93-27116b409c54.png)

[2022-04-19 18:20] #974 closed

[2022-04-19 18:22] abidlabs commented on #1029
Also, I've noticed that column widths for inputs and outputs are not always equal. If the output is a large image, for example, it will take up most of the width of the page, leaving the input column very narrow. Here's an example:

![image](https://user-images.githubusercontent.com/1778297/164070149-f064bb2c-f8bf-4b45-88b3-7df6648c2405.png)

Notebook to reproduce (make sure to install `gradio==2.

[2022-04-19 18:25] abidlabs commented on #885
Hi @kingabzpro, as far as I can tell, this should be working now! Here's an example of it in action: https://huggingface.co/spaces/abidlabs/chatbot-minimal

[2022-04-19 18:27] #1025 closed

[2022-04-19 18:48] abidlabs opened #1031 "Input and output `Image` components render image sizes differently"
### Describe the bug

I built a simple `Interface` that takes an input image and simply returns it. However, I noticed that the input image component enforces a maximum height for the image component, whereas the output component does not seem to, leading to this strange-looking UI:

![image](https://user-images.githubusercontent.com/1778297/164074376-9ba38133-9fa4-4733-854f-73d83341cf3e.png)

###

[2022-04-19 18:50] abidlabs commented on #835
This is now fixed in the latest beta release:

![image](https://user-images.githubusercontent.com/1778297/164074761-0cb84095-78f0-4715-980e-472bc9242fe4.png)

[2022-04-19 18:50] #835 closed

[2022-04-19 18:50] abidlabs commented on #835
Thanks for creating the issue @osanseviero!

[2022-04-19 18:52] abidlabs commented on #906
This should be working now in the latest beta release of Gradio (`gradio==2.9.0b2`)

![image](https://user-images.githubusercontent.com/1778297/164075083-0ab94bc5-d302-4777-b71a-2f5999d3ee5c.png)

Thanks for creating the issue @NimaBoscarino!

[2022-04-19 18:52] #906 closed

[2022-04-19 18:56] abidlabs commented on #820
Not sure what the original issue was exactly, but when I'm testing it now with `gradio==2.9.0b2`, the input video records fine from the webcam, but no output video shows up. There is no Python error, so I'm assuming the issue is with the Video output component.

I tried changing `playable_video` to `video`, but it did not make any difference.

[2022-04-19 19:01] abidlabs opened #1032 "Set links in a Gradio app to open in a new tab by default"
Based on feedback from @osanseviero @julien-c @radames, we should have links in Gradio apps (in the description, article, etc.) to open up in a new tab by default

A handy trick to make this easy (h/t @radames):

[code]

[2022-04-20 04:41] FarukOzderim commented on #669
To remember what was it about, is it the issue where `None` values in the config cause problem for frontend. Is it solvable in frontend or do we need to remove `None` values from config?

cc: @aliabid94 @pngwn

[2022-04-20 07:02] Zengyf-CVer opened #1036 "favicon_path doesn't work"
### Describe the bug

I used the `favicon_path` parameter, but my favicon was not found.

### Reproduction

I'm using a local icon ` favicon_path="./icon/logo.ico",`, but it doesn't load in the browser.

[code]

### Screenshot

![ksnip_20220420-150118](https://user-images.githubusercontent.com/41098760/164169665-a329d595-ea35-4757-b862-4b162bacc226.png)

### Logs

_No response_

### System Info

[

[2022-04-20 10:25] FarukOzderim commented on #920
Now that we are getting close to the 3.0 release, It would be nice to clean deprecated parameters from function parameters and signatures.

Do we still want to give deprecation warnings to users? Could we get rid of them without further deprecation notice? I suppose not :D

If that the case we could create a deprecation map like this to make code cleaner, WDYT guys?
[code]

[code]

[2022-04-20 10:27] FarukOzderim commented on #920
This is the current version of the codebase, which is quite dirty and long.

https://github.com/gradio-app/gradio/blob/main/gradio/interface.py#L105-L619

[2022-04-20 10:40] kingabzpro commented on #885
It is not working, I have even used another browser (Chrome), incognito mode and stuff. I even refreshed the chat stays there no matter what. The clear button dosent work.
![image](https://user-images.githubusercontent.com/36753484/164213475-cdd85d87-5c9f-4768-8d7f-e4155a893640.png)

[2022-04-20 10:46] kingabzpro commented on #885
The link https://huggingface.co/spaces/abidlabs/chatbot-minimal to your app is no loading properly.
![image](https://user-images.githubusercontent.com/36753484/164214412-a8ce019e-2458-4583-8789-bb258b116493.png)

[2022-04-20 10:55] FarukOzderim commented on #839
Thank you @ronvoluted for taking care of it!

[2022-04-20 10:56] FarukOzderim commented on #841
@abidlabs Assigning it to you since you are taking a look into it, if not feel free to remove it.

[2022-04-20 11:28] FarukOzderim commented on #631
Assigning this to you @pngwn as it seems you are already working on it, feel free to drop it.

[2022-04-20 11:30] FarukOzderim commented on #681
What are your thoughts on this issue @pngwn and @aliabid94, would we redesign the Chatbot component?

[2022-04-20 11:31] FarukOzderim commented on #572
I feel like this could stay in low priority as it could need some effort, dropping the milestone.

[2022-04-20 11:32] FarukOzderim commented on #978
similar issue: #621

[2022-04-20 11:59] kiashann opened #1039 "Add button for download the output generated image"
Hi. How we can add button for download generated image output in app.py ?
Is it possible with gr.outputs.File? How we can use that?
@BioGeek @julien-c

[2022-04-20 13:22] abidlabs commented on #920
I think we can finally remove them without further warnings, as we have been warning about deprecation for several months now (not to mention that 3.0 represents a whole new version). cc @aliabid94 to get your thoughts as well

[2022-04-20 13:27] abidlabs commented on #681
I think this is an example of a whole Interface, not a single component. We can show @kingabzpro how to create something like this in Blocks, and maybe consider adding a high-level abstraction `ChatbotInterface` in the future

[2022-04-20 13:56] abidlabs commented on #1039
Hi @kiashann, thanks for asking the question. Yes, if you'd like for people to easily download the image file, I suggest passing the name of the file to gr.outputs.File, which will then create a downloadable link. This is how users typically create downloadable files, for example take a look here: https://huggingface.co/spaces/radames/dpt-depth-estimation-3d-obj

In terms of how the code would loo

[2022-04-20 13:56] #1039 closed

[2022-04-20 13:57] abidlabs commented on #1039
Feel free to ask follow up questions here, but closing as this does not look like an open issue, feel free to reopen if I'm wrong :)

[2022-04-20 14:52] lvwerra commented on #745
Maybe this is related to this: Although the examples are displayed with the latest version it seems that clicking on an example does not fill the Dataframe (the other input components are updated). I get this behaviour with the Tax example as well. If this is an unrelated issue I can open a separate issue.

[2022-04-20 15:20] abidlabs commented on #745
Can you speak to this @pngwn?

[2022-04-20 15:24] abidlabs commented on #669
I think this was saying that if any component property is `None`, it should not be included in the config, instead of it being passed in as "null"

[2022-04-20 17:54] #669 closed

[2022-04-20 17:55] #982 closed

[2022-04-20 19:04] dawoodkhan82 commented on #1011
This turned out to be an issue with the demo. Fixed in this pr (https://github.com/gradio-app/gradio/pull/1044)

[2022-04-20 19:14] #1011 closed

[2022-04-20 19:19] abidlabs commented on #311
Hi @MultiPath, thanks for opening up this issue. We have just beta released Blocks, which is a low-level API that can be used to build very customizable web apps in Python. You can try it by `pip install gradio==2.9b7`.

We are still working on the documentation for Blocks, but here is a commented code snippet with a mock function that achieves what you are trying to do:

[code]

[2022-04-20 19:19] #311 closed

[2022-04-20 19:30] abidlabs commented on #450
Hi @ejohb and @JuanCarlosMartinezSevilla, thanks for opening up this issue. We have just beta released `TabbedInterface`, which allows you to combine related demos together. You can try it by `pip install gradio==2.9b7`.

Here is how you use it (the example is kind of silly, but hopefully it conveys the point):

[code]

Screenshot (with 4 tabs instead of 2 but the same idea):
![image](https://user

[2022-04-20 19:30] #450 closed

[2022-04-20 19:56] abidlabs commented on #978
Hi @osanseviero taking a look at this and I can't reproduce the issue. The accented characters are showing up correctly for me (I think):

![image](https://user-images.githubusercontent.com/1778297/164312388-ee7bb0f4-d68f-42eb-8c24-dd32acafc0f5.png)

Can you see if this is still happening for you? If so, what browser/OS are you using?

[2022-04-20 20:16] abidlabs commented on #946
Hi @pngwn I was looking into this and it looks like labels needed to be provided for accessibility reasons, but they don't necessarily need to be _visible_:

Source: https://www.w3.org/WAI/tutorials/forms/labels/

I think it would be nice if people can make the labels invisible because sometimes they clutter up the UI or look out of place. What do you think about adding a "hide_label" boolean para

[2022-04-20 20:25] abidlabs commented on #885
Hi @kingabzpro you're right, something's up with my app. However, I just tested this with our pre-release `gradio==2.9b7`, and can confirm that the issue is fixed.

You can test this by doing:

`pip install gradio==2.9b7`

And then running:

[code]

[2022-04-20 20:26] #885 closed

[2022-04-20 20:34] abidlabs commented on #681
Hi @kingabzpro, thanks again for opening up this issue. We have just beta released Blocks, which is a low-level API that can be used to build very customizable web apps in Python. You can try it by `pip install gradio==2.9b7` (same as in your other issue) or setting `gradio==2.9b7` in your `requirements.txt` file in Spaces.

To build a chatbot like what you have described, you could build it out o

[2022-04-20 20:34] abidlabs commented on #681
Of course, you also need to define a `predict()` function, which could be like this:

[code]

[2022-04-20 20:34] abidlabs commented on #681
Closing, but let us know if you have any questions!

[2022-04-20 20:34] #681 closed

[2022-04-20 20:57] aliabid94 commented on #920
This is nice. I think a DeprecationWarning error is good, and needed especially for parameters that have moved back and forth between Interface constructor and launch methods, like enable_queue

[2022-04-20 21:11] osanseviero commented on #978
Hmmm it's not happening to me anymore :+1:

[2022-04-20 21:20] abidlabs commented on #978
Cool thanks for checking!

[2022-04-20 21:43] abidlabs opened #1045 "`HighlightedText` component does not work when used as output component of an `Interface`"
### Describe the bug

When used as the output component of an `Interface`, the `HighlightedText` component does not actually highlight any of the text! Instead, all of the text appears without highlighting:

![image](https://user-images.githubusercontent.com/1778297/164327697-a465cff8-aa65-47bc-b3d7-dee66e208dfd.png)

However, the component works fine when used as a static component in Blocks, so

[2022-04-21 04:43] abidlabs commented on #1045
Fixed by #1046

[2022-04-21 04:43] #1045 closed

[2022-04-21 05:32] sijunhe opened #1051 "Multi-Label Classification support for gradio.Label"
**Is your feature request related to a problem? Please describe.**
Currently the `gradio.outputs.Label` supports the multi-class classification setting, where only 1 class is predicted. In terms of visualization, the predicted class is highlighted in the bar chart and also becomes the `Label` of the component. In the multi-label setting, multiple labels could be predicted and the two above-mention

[2022-04-21 08:45] FarukOzderim commented on #920
We could use Abubakar's suggestion of using `kwargs.pop` for deprecation notice as well.
We would just drop a warning for unused kwarg arguments. It would help both to
- having typos in kwargs arguments
- warning notice to unused arguments(user would understand the argument is not working like that)

And in the ultimate parent class make sure kwargs is of length 0, meaning that there are no unused

[2022-04-21 09:24] FarukOzderim commented on #1025
Will investigate this issue further, it works perfectly fine when I import folder inside google colab.

https://user-images.githubusercontent.com/44067394/164151329-dcc1fdad-4d90-470e-8656-23caf99f2d1e.png

[2022-04-21 09:35] pngwn opened #1053 "UI Improvements"
This is a list of the remaining work on the UI and UX to keep track and aid comms.

## Loading
- [ ] add a loader for the first load of the entire Block @pngwn

## Layout
- [x] Layout: group form input #1054
- [x] Mobile: Scroll to results #1077

## Components

### HighlightedText
- [x] Colors #1119
- [x] Higlight category on legend mouseover #1119
- [x] Show user-provided label (see `demo\diff_te

[2022-04-21 09:38] pngwn commented on #745
Will look into it.

[2022-04-21 09:39] pngwn commented on #946
Works for me, tailwind has a class for that: https://tailwindcss.com/docs/screen-readers

[2022-04-21 09:40] lvwerra commented on #745
Here's another demo of that bug in case it helps: https://huggingface.co/spaces/lvwerra/metric_demo

[2022-04-21 09:41] FarukOzderim commented on #1025
We could try importing test_data within __init__.

[2022-04-21 10:55] kiashann commented on #1039
Thanks for you answer.

[2022-04-21 11:55] pngwn opened #1055 "Block wrapper handling"
~~Two~~Three main points here:

- [x] We are wrapping _almost_ every component with `Block` inside the component istelf. This is okay but there is a lot of repetition. It might be able to do this at the app level, when we render the components from the config. This would simplify the components a little but would require a little refactoring. One to investigate rather than implement blindly.
- [x]

[2022-04-21 14:09] abidlabs commented on #1051
Nice suggestion. We are working on redesigning our Label component, so it would be good to keep the multilabel use case in mind. cc @gary149 @pngwn

[2022-04-21 16:08] abidlabs commented on #1053
I've noticed some other UI issues as well @pngwn as I've been testing the various demos:

- [ ] `HighlightedText` does not show the `label` (see `demo\sentiment_analysis\run.py`)
- [ ] `Textbox` does not show the `placeholder` (see `demo\sentiment_analysis\run.py`)

[2022-04-21 16:13] abidlabs commented on #1029
The unequal column widths are also an issue in the `blocks_xray` demo:

<img width="969" alt="image" src="https://user-images.githubusercontent.com/1778297/164504701-36aee051-70dd-4f1d-a9cd-487c1306e8c3.png">

[2022-04-21 18:16] abidlabs commented on #637
Also see #1029

[2022-04-21 18:21] abidlabs commented on #922
Hi @zydjohnHotmail @cgsaxner can you guys try installing a beta release of Gradio: `pip install gradio==2.9b8` and see if this works for you?

[2022-04-21 18:23] abidlabs commented on #829
Hi @tareknaous I can confirm that this is now fixed. If you'd like, you can test it in our beta release: `pip install gradio==2.9b8`

[2022-04-21 18:23] #829 closed

[2022-04-21 18:25] abidlabs commented on #706
@pngwn I think we can close this issue as we have more detailed issues that have superseded this one?

[2022-04-21 18:28] abidlabs commented on #645
Hi @yesdeepakmittal, we experimented with adding a debounce, but it caused other issues with live interfaces. I don't think we'll add debounce to the components since we've found that trying to get this to work well varies significantly depending on the model and the rest of the GUI.

@pngwn feel free to reopen if you reached a different conclusion.

[2022-04-21 18:28] #645 closed

[2022-04-21 18:29] abidlabs commented on #532
Closing as we've added frontend unit tests and static checks already.

[2022-04-21 18:29] #532 closed

[2022-04-21 18:40] zydjohnHotmail commented on #922
Hello:
I can install the beta release of Gradio, and when I use Google Chrome (Version 100) to browse http://127.0.0.1:7860/
I can submit some text, like: "World", I can see the output is: "Hello World".
But let me know how to generate some images.
The following is the command line output:
F:\Python\GAN3\gradio>pip show gradio
Name: gradio
Version: 2.9.0b8
Summary: Python library for easily intera

[2022-04-21 18:46] abidlabs commented on #922
Great, it looks like the issue has been solved. We are working on an official release, which will happen in the next few weeks. In the meantime, you can use this beta release, but keep in mind that things may continue to change.

For your questions, please check out our Getting Started: https://gradio.app/getting_started/

[2022-04-21 18:46] #922 closed

[2022-04-21 19:00] SamuelDevdas opened #1061 "Docs link does not work!"
### Describe the bug

![gradio1](https://user-images.githubusercontent.com/84823680/164533666-ee0dba93-77cd-4356-b63a-9c6f200e0e01.PNG)
![gradio2](https://user-images.githubusercontent.com/84823680/164533774-11cf1863-9498-43de-b2c9-7210bac12780.PNG)

### Reproduction

https://github.com/gradio-app/gradio/blob/main/docs

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code

[2022-04-21 19:13] abidlabs commented on #1061
Thanks @SamuelDevdas. Ah yeah that's just a relative link / absolute link issue. We'll fix this as part of our revamp of docs.

In the meantime, here's the link to the docs: https://gradio.app/docs

[2022-04-21 19:21] xishanhan opened #1062 "Can I buy a public link for permanent hosting?"
Hi！Thanks for your wonderful work.
For some reason, my model can't be saved on huggingface, but I want a permanent public link like 'XXXXX.gradio.app', so can I buy it? I didn't find a place to buy it, so I'm asking here, looking forward to your reply.

[2022-04-21 19:25] SamuelDevdas commented on #1061
Thanks! @abidlabs . Good Job!

[2022-04-21 19:25] #1061 closed

[2022-04-21 19:56] abidlabs commented on #1062
Hi @xishanhan, unfortunately this is not something that we offer at this time. You can create both public and private Spaces for free on Hugging Face.

If you are a company and need an on-premise version of Spaces, check out: https://huggingface.co/platform

[2022-04-21 19:56] #1062 closed

[2022-04-21 21:02] xishanhan commented on #1062
Thanks for your reply!

[2022-04-21 23:29] aliabid94 commented on #821
Sounds good, will implement as @pngwn suggested. Thoughts on renaming `default_value` to just `value`? Seems strange to says `gr.Textbox.update(default_value="asdf")` to assign a new value. Also default_value is a long kwarg name.

[2022-04-21 23:40] aliabid94 commented on #821
The way update has been implemented in the backend, it assumes that the name for the class constructor argument is the same as the name passed to configuration json, and the value passed to the class constructor is the same value passed to the json configuration (no processing done). This may be fragile.

[2022-04-21 23:49] aliabid94 commented on #821
Also, if the update method in the backend is doing no checks to see if the arguments passed are valid, why not just use a generic `update(choices=opts)` instead of `Dropdown.update(choices=opts)`?

[2022-04-21 23:50] FarukOzderim commented on #783
Now that I think about it, version file change trigger feels fragile to me. Because it will release a new pypi version immediately. I would prefer having a publish button instead of this.

[2022-04-22 01:30] abidlabs commented on #821
Strong agree. Makes much more sense given how we are using it

[2022-04-22 01:52] XinyuanHu opened #1063 "UI doesn't render within Databricks notebook"
### Describe the bug

When I run the most basic demo code:

[code]

within Databricks environment, UI does not render, it shows "127.0.0.1 refused to connect."

It can render when it has share=True setting

not sure why local cannot display anything

### Reproduction

[code]

### Screenshot

<img width="933" alt="Screen Shot 2022-04-21 at 9 44 56 PM" src="https://user-images.githubusercontent.com/

[2022-04-22 02:17] FarukOzderim commented on #821
I don't really agree with this, because we are not updating the value inside the component, but we are updating the component itself. We could have `lines` `max_lines` inside the update function as well.

`default_value` is the initial value it has, and `value` does not represent this IMO.

[2022-04-22 07:28] abidlabs commented on #1063
Hi @XinyuanHu,

Thanks for creating the issue. The problem seems to be that by default, Gradio runs your web app on localhost. Since Databricks notebooks are hosted on their servers, you cannot access the localhost directly. Thus, the web app is not visible to you. When you set `share=True`, it works because Gradio creates an SSH tunnel from their localhost to a public link allowing you to see the

[2022-04-22 07:37] abidlabs commented on #870
Hi @osanseviero it looks like this is an issue that can happen when using `pip` to install packages in a system that already has many other libraries installed. I don't know if we can provide a general solution to this, but in the case of colab notebooks, what worked for me was to simply install `urllib3` after installing the 3 packages.

So if you do this:

[code]

This should work.

[2022-04-22 07:37] #870 closed

[2022-04-22 07:43] abidlabs commented on #884
Hi @Olvi73, you can access relative files by adding the prefix `file/` to the path.

So if the code to your Gradio app is in a file called `app.py`, and you have an image called `lion.jpg` in the same directory:
---- app.py
---- lion.jpg

Then the code in `app.py` would look like:

[code]

Note that for security reasons, any file that is included in your app **must be** in the same directory or in

[2022-04-22 07:43] #884 closed

[2022-04-22 08:48] abidlabs commented on #821
I see what you're saying @FarukOzderim, but I think `value` is a more appropriate name, given that this parameter is actually used in a few different ways:
* for static components, it is used to denote the value that is displayed
* for output components, it is used to denote the value that is displayed before the function runs
* for input components, it is used to denote the value that is displaye

[2022-04-22 09:25] pngwn commented on #1053
I've added these issue to list. The `DataSet` issue will be handled when victor is finished looking at the examples.

I'm going to file a separate issue for the table and add it to the tracking issue for the `DataFrame`.

[2022-04-22 09:26] pngwn opened #1065 "Dataframe unfocuses when typing"
### Describe the bug

Dataframe component "unfocuses" the cell as soon as you type a single character. Try using tax_calculator demo for example

### Reproduction

-

### Screenshot

-

### Logs

[code]

### System Info

[code]

### Severity

critical

[2022-04-22 12:09] FarukOzderim opened #1066 "[Blocks] Discrete Events or Actions"
Discrete Events or Actions that happen immediately within Frontend and do not communicate with Backend could improve UX. An example would be clearing the UI immediately with a Clear submit from user, without doing an API call to Backend.

Dropping some comments from a discussion with @pngwn below.

[2022-04-22 12:12] yvrjsharma commented on #820
Hi, the issues that I have identified might be a bit related to this hence mentioning it here.
1. In the Docs both the Input and Output Video demo/examples are same or they only talk about inputting a video file but not about gr.outputs.Video() function. You might want to look into it.
2. Using the Public URL The input video is recording for me as well , however the sound doesn't get captured. I h

[2022-04-22 12:32] FarukOzderim commented on #820
@yvrjsharma thanks for reporting these.
Yeah I think these are related to this issue. Btw we are redesigning our docs with the planned 3.0 release.

[2022-04-22 12:34] #838 closed

[2022-04-22 12:37] FarukOzderim opened #1067 "[Blocks] Single Column Interface (UnifiedInterface)"
Forked from #838

We want to have a new Interface type, Single Column Interface (UnifiedInterface). Which will support
- Inputless
- Outputless
- No Input No Output
- Combined input/output interfaces(using a component both as an input and output)

Name has some concerns from @abidlabs to not cover all the use cases, feel free to suggest one.

[2022-04-22 12:49] FarukOzderim commented on #1067
IMO it is cleaner for different layouts to have different Interface types. That way our interface design would be cleaner and we would have an interface type for different layouts.

[2022-04-22 13:05] #674 closed, assigned to omerXfaruq

[2022-04-22 13:06] #860 closed

[2022-04-22 13:48] XinyuanHu commented on #1063
Thanks for the quick turnaround! This makes sense. However, is there anyway to host the app privately? If ```share=True```is set, there might be security concerns.

[2022-04-22 17:29] pngwn opened #1070 "Add optional text for option inputs"
This information is availabel in the JSON config but isn't displayed in the UI. In the future we can do more (prevent submission, validation) but for now we should at least show the `(optional)` text alongside labels.

[2022-04-22 17:41] pngwn commented on #1067
I think we would be better off using the existing `Interface` class for this.

**Inputless and Outputless Gradio Apps**

I think the simplest possible API for this is:

[code]

and

[code]

This feels very natural to me, almost intuitive. Mainly because it doesn't what you think it would do. "A gradio intereface but with no outputs" or "A gradio intereface but with no inputs". We also havent reser

[2022-04-22 17:55] pngwn commented on #886
Hey, quick update on this.

The reason this doesn't work when passing the code via HTML is that browsers will not execute javascript contained within HTML that are injected into the page via `innerHTML` (which is how we ultimately insert HTML into an app). There are technically ways to make it work but the situation isn't ideal.

What we do propose however is more powerful ways to interact with a

[2022-04-22 18:23] apolinario opened #1071 "No backend validation for form limitations"
### Describe the bug

A user can go into the website and modify the HTML (e.g.: with Inspect Element) and go beyond the limitations the Gradio app creator has put in place. This can be an issue in regards to resource utilization (for example, a parameter is limited so resources on the computer are constrained, but the user changes it and unfairly uses more resources on that machine)

### Reproduct

[2022-04-22 18:26] #706 closed

[2022-04-22 18:27] abidlabs commented on #1063
Good questions @XinyuanHu. Because of how Databricks hosts notebooks, it's a little tricky. But there are two things you could try:

- Add authentication to your Gradio demo (by simply adding `auth=(username, password)` in the `launch()` function. This adds a layer of security to prevent unauthorized users from using the demo. See https://www.gradio.app/docs/#launch
- Only run locally, but use a d

[2022-04-22 18:32] aliabid94 commented on #1067
I agree with @pngwn , I don't think we need a whole class for a simple usecase. We don't even need another kwarg, why isn't this enough?
[code]
It's only two lines of code, no need to create another class to manage this case.

[2022-04-22 21:43] FarukOzderim opened #1072 "Add download link to video component"
### Describe the bug

Copy Video Link option on an output video component gives the video data as a very long string.

### Reproduction

Copy video link from an video output
![image](https://user-images.githubusercontent.com/44067394/164799734-5b10b707-d6ca-4e7f-8216-f3e67b0be4fd.png)

I used this space:
https://huggingface.co/spaces/ysharma/text-to-ner-to-image-to-video

### Screenshot

![image](

[2022-04-23 04:12] abidlabs commented on #1067
Interesting idea. It could allow us to potentially create "partially" unified interfaces as well perhaps. Good to think about the cases that @FarukOzderim brings up though. Also what would happen in this case:

* `gr.Interface(fn, inputs=[a,c], outputs=[b, a])`

[2022-04-23 09:41] gary149 commented on #989
Nice find, just tried it on an iPhone and it works very well. Maybe let's try to get the exact same behavior for our 3d viewer @radames?

[2022-04-23 15:58] pngwn commented on #1067
I would keep the rule simple.

If inputs are the same (equal or the contents of the list are the same length + equal) then unified. Otherwise a normal interface.

[2022-04-24 07:18] afizs opened #1075 "Working with DataFrames and Graphs Demo failing"
### Describe the bug

Working with DataFrames and Graphs sample example is failing. Mainly there are two issues.

1. Initial run is failing with this error `ValueError: Unknown type. Please choose from: 'plotly', 'matplotlib', 'bokeh'.` . Seems like, demo has dependency on `plotly`, 'bokeh` and `matplotlib`.
2. After installing above 3 modules, demo runs fine. However, If any new row or column is

[2022-04-25 09:11] apolinario opened #1076 "Enable multi-select on gradio.Dropdown"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to have plenty of multi-select options and I also don't want to clutter the UI with a lot of checkboxes using `gr.inputs.CheckboxGroup`

**Describe the solution you'd like**
Enabling a multi-select option on the `gradio.inputs.Dropdown` component can be an elegant way to keep multi-option selection concise but yet

[2022-04-25 09:46] ejohb commented on #450
What great service. Thank you so much!

[2022-04-25 10:17] FarukOzderim commented on #1067
I don't see how this solves this case.

IMO from user perspective having `UnifiedInterface` would be better because of
- `Interface` showing different layouts
- having ambiguity with what will happen in the given 4 cases

In the `UnifiedInterface` there would be a single column where each component is both input and output. If the function returns None or smt decide like `DONT_CHANGE` the componen

[2022-04-25 10:41] pngwn commented on #1067
It does. It would not show a unified interface because it doesn't satisfy this rule "**contents of the list are the same length + equal**"

[2022-04-25 11:17] pngwn commented on #1072
I don't think this is resolvable unless we either change how we handle generated video files (i.e. generate an actual file rather than a dataURI) or create a custom video player. I don't _think_ there is a way to over-ride the defaul behaviour of the download link (which will always down the source as it is). Can look into this more closely in the future.

[2022-04-25 11:17] pngwn commented on #1072
As a quicker fix, we could add a download link somewhere.

[2022-04-25 18:35] abidlabs commented on #1076
Great suggestion, thanks @apolinario!

[2022-04-25 18:40] pngwn opened #1078 "update i18n tokens"
In a,mongset the 3.0 work, we have added lots of new 'keywords' in various places. Often as default values (in case a kwarg isn't passed in). We need to go through all of these and swap any hardcoded values for i18n tokens, add them to the ebnlish 18n document and figure out how we can go about updating all of the other translations.

[2022-04-25 18:46] abidlabs commented on #1067
I'm leaning towards not having a separate `UnifiedInterface` as well to keep the number of classes small. This is a neat solution that works well:

To keep things unambiguous, the conditions for a unified interface are:

I'll add that a single-column interface should also be created if:
* `inputs` is `None`, or
* `outputs` is `None`

But in these 2 cases, the behavior is a little different of cour

[2022-04-25 18:47] abidlabs commented on #1078
Yup sounds good. This is important, but I don't think this is a blocker for 3.0 so not adding to the 3.0 milestone. We can do this as part of revamped i18n efforts, which include #785 as well

[2022-04-25 19:41] abidlabs commented on #920
Also, removing deprecated tests: I think we can safely remove `test_inputs.py` and `test_outputs.py` before launch

[2022-04-25 19:42] #1036 closed

[2022-04-25 20:37] pngwn commented on #1067
@abidlabs This all sounds sensible to me.

[2022-04-25 21:03] abidlabs commented on #913
Thank you for the detailed error message @rockdrigoma. I'm looking into this right now.

[2022-04-25 21:15] abidlabs commented on #913
Hi @rockdrigoma, I've confirmed that this issue has been fixed in the latest pre-release of Gradio.

![image](https://user-images.githubusercontent.com/1778297/165175931-b61e9526-2a7d-4dc0-b379-6628f193f8cf.png)

If you'd like to try it out, you can wait until Gradio 3.0 comes out in a few weeks, or use the prerelease by installing `pip install gradio==2.9.0b8`.

Working example: https://colab.res

[2022-04-25 21:15] #913 closed

[2022-04-25 21:28] FarukOzderim commented on #920
Do you think the input and output components are tested enough by users. Will remove if it is.

[2022-04-25 21:34] FarukOzderim commented on #1067
@abidlabs what is the layout that will appear with this interface?

[2022-04-25 21:46] abidlabs commented on #1067
So in this case, since `b != c`, we would have a non-unified interface, that would look like:

|  a  |  a  |
| c   |  b  |

[2022-04-25 21:47] abidlabs commented on #914
Hi @rockdrigoma so I looked into this. Flagging _is_ actually working in the case of these Spaces, but the problem is that the flagged data are being saved on the Spaces machine, but are **not being committed and pushed** to your Spaces repo.

You can confirm this by trying out this Space, which prints the `flagged/` directory, and shows that there is a `log.csv` that has been created: https://hug

[2022-04-25 21:50] abidlabs commented on #914
The solution here would be use a custom `FlaggingHandler` that pushes the flagging directory after it has been updated. We created a similar one to push flagged data to a Hugging Face Dataset repo, but we could do something similar to push to a Spaces repo, which users might be more familiar with.

[2022-04-25 22:10] heaversm opened #1083 "List index out of range error in Predict API for speaker verification"
### Describe the bug

I am attempting to implement the speaker verification API via your [code documentation here](https://hf.space/gradioiframe/microsoft/unispeech-speaker-verification/api).

[code]

using the source from 2 html audio elements. I get a 500 response:

[code]

I noticed that the demo you have also results in errors:
https://hf.space/gradioiframe/microsoft/unispeech-speaker-verifica

[2022-04-25 22:14] freddyaboulton opened #1084 "List pnpm version 6 as a requirement in the contributing guide"
The contributing guide only lists python and npm as dependencies:

![image](https://user-images.githubusercontent.com/41651716/165182977-0ed5553e-3686-4fbd-a30e-d9ca75255801.png)

However, the `build_frontend` script failed because pnmp was not installed. I installed it following the guide here:  https://pnpm.io/installation which defaults to installing version 7 of pnpm but the `build_frontend` s

[2022-04-25 22:51] abidlabs commented on #1084
Thanks @freddyaboulton you are right! @pngwn any idea why pnpm v7 doesn't work?

[2022-04-25 22:52] abidlabs commented on #1083
Thanks for creating the issue @heaversm we'll take a look into this

[2022-04-25 23:25] radames opened #1086 "allow_flagging="never" doesn't disable Flag Button"
### Describe the bug

On version 2.9.0b8 `allow_flagging="never"` doesn't disable Flag button

### Reproduction

here is the simple test code

[code]

### Screenshot

<img width="843" alt="image" src="https://user-images.githubusercontent.com/102277/165190453-68d69f26-ba48-4311-9b4e-85e5ed3da456.png">

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-04-25 23:31] abidlabs commented on #1086
Thanks @radames, will fix that soon!

[2022-04-25 23:47] freddyaboulton commented on #1084
Pr here (https://github.com/gradio-app/gradio/pull/1085) although circle ci is mysteriously failing. Will try again later since I didn't change any code files.

[2022-04-26 00:03] abidlabs commented on #1084
Thank youu @freddyaboulton for making the PR! Looks like you might have branched off an old version of `main` that was failing. Can you try merging `git merge main`?

[2022-04-26 00:41] abidlabs commented on #740
Hi @camillevingere there were a couple of issues related to flagging with iframes. The first was a CORS permissions issue, which has been fixed in the latest version of Gradio. You can upgrade your Space to the latest version of Gradio by restarting the Space by going to the settings for your repo:

![image](https://user-images.githubusercontent.com/1778297/165196505-591b9fff-667f-4a3b-bf81-5581dc

[2022-04-26 00:41] #740 closed

[2022-04-26 00:53] pngwn commented on #1084
We can upgrade to 7, just an oversight on my part. Will take a look.

[2022-04-26 07:48] FarukOzderim commented on #1067
But `a` is a single component, why are we rendering it in both input and outputs? And their contents will be the same. Isn't this absurd?

[2022-04-26 08:52] sijunhe opened #1087 "fn name is prepended to labels of output components when using gradio.mix.Parallel"
### Describe the bug

When using `gr.mix.Parallel`, the name of the `fn` argument gets prepended to the labels of components. This doesn't happen without `gr.mix.Parallel`, where the `label` argument of the output components is respected.

I am not sure if this is the desired behavior because the user loses the control on the front end, e.g. the label can get ugly when the `fn` argument is a lambd

[2022-04-26 09:17] pngwn opened #1088 "Support custom colors for Timeseries"
A user on discord posted:

https://huggingface.co/spaces/emilylearning/causing_gender_pronouns

I propose an additional argument should be passed to Timeseries, `colors`. Someththing like this:

[code]

The list could either be named colors (`["red", "blue", "green"]`) for which we would choose a nice shade for you, hex codes (`#000000`), or rgb values (`rgb(0, 0, 0)` or `rgba(0, 0,0,0.5)`).

[2022-04-26 12:49] abidlabs commented on #1067
Hmm, I see what you are saying. But this would get messy if we tried to unify the layouts for partially matching lists. Imagine if the `inputs` was `[a, b]` and the `outputs` was `[c, a]`.

For simplicity, how about this: if `inputs` and `outputs` are lists, and they share some elements but not all, we can just throw an exception where we explain to the users that either they must share all of the

[2022-04-26 13:36] FarukOzderim commented on #1067
That's what I am trying to show since the beginning. This approach does not allow using a component both as an input and output at the same time.
However this does:

    Interface showing different layouts
    having ambiguity with Interface about what will happen in the given 4 cases

In the UnifiedInterface there would be a single column where each component is both input and output. If the func

[2022-04-26 14:12] abidlabs commented on #1067
I strongly feel that setting `inputs` to `None` or `outputs` to `None` in the `Interface` should produce single-column interfaces, because that is what users would expect. In _no case_ can I imagine a user wanting a two-column interface in which the inputs are missing or outputs are missing.

For the specific case of unified inputs, I don't feel as strongly. I can see the pros/cons of having a sep

[2022-04-26 14:27] #1087 closed

[2022-04-26 14:48] #1055 closed

[2022-04-26 17:07] dawoodkhan82 commented on #768
@AK391 Where is the discussion context for this issue?

[2022-04-26 17:23] radames opened #1093 "Article parameter not rendered on Interface beta"
### Describe the bug

I know with Blocks there's a different and better approach to build interactive and non-interactive elements (text, descriptions, etc). Are we going the be backwards compatible?  Right now working on `2.9.0b8` the property `article` is not rendered on the [`Interface Class`](https://github.com/gradio-app/gradio/blob/910db9959b478c620fbbee84112ec0f97d9655f5/gradio/interface.py

[2022-04-26 18:25] abidlabs commented on #1093
Ahh it looks like we just missed this parameter when we were rewriting `Interface`. But no worries, it should be an easy fix. @aliabid94 would you be able to take a look?

[2022-04-26 18:26] abidlabs commented on #1093
Yes the goal is to be fully backwards compatible @radames!

[2022-04-26 18:29] chrisemezue opened #1094 "search within dropdown choices"
**Is your feature request related to a problem? Please describe.**
I have a dropdown of 2000+ choices,  i do not think it will be wise making the user have to scroll through this whole list.  For example if a user has to choose from a list of countries.

**Describe the solution you'd like**
Using the list of countries example, as I press `N` I want the choices to be searched and the results starti

[2022-04-26 19:26] radames opened #1095 "Blocks Interfaces with examples breaks assets links"
### Describe the bug

Enabling an interface with `cached_examples` and `examples` using new `Blocks` approaches seems to be not linking the examples correctly . In addition to getting this extra error

[code]

### Reproduction

Fully functional example
https://colab.research.google.com/drive/1_Ru0M-QS7wdH0PxhKU3a7-mwdxxmd-Hy?usp=sharing

[code]

### Screenshot

![image](https://user-images.githubu

[2022-04-26 19:31] abidlabs commented on #1095
Thanks @radames for catching these issues, let me take a look!

[2022-04-26 19:53] abidlabs commented on #960
Here's another example discovered by @radames where mixing Blocks and Interfaces produces unexpected result:

[code]

Note that this code runs properly:

[code]

[2022-04-26 19:54] abidlabs commented on #953
I'm going to separate the "Blocks Guide" task to its own issue as I'll take that on

[2022-04-26 19:55] abidlabs opened #1097 "Add a Guide for Blocks"
Write a detailed Guide on the Blocks API ahead of the 3.0 launch

[2022-04-26 20:37] aliabid94 commented on #1067
I also agree that we shouldn't be expanding to another class when we can handle this intuitively through arguments.

[2022-04-27 02:46] FarukOzderim commented on #1067
OK then, @aliabid94  would you like to take this on, I think it would be faster with you since you designed Interface with Blocks.

Btw regarding the issue below, if we don't want to give errors, we could just unify input and output sets. First respecting the input order then the output order. Also giving an explanation warning to the user while doing this, where we explain the situation and s/he

[2022-04-27 02:55] FarukOzderim commented on #960
Yeah, we currently don't support `Blocks `within `Blocks `and `Interface `is basically an instance of `Blocks`. We will probably support this after 3.0, we need to write a function within `Blocks `to register everything inside inner `Blocks `to outer `Blocks`.

[2022-04-27 03:01] FarukOzderim commented on #960
Btw the user needs to trigger `render()` for components that are defined in the outer scope of `Blocks`:

[code]

[2022-04-27 03:24] FarukOzderim commented on #960
The design could be smt like this:

[code]

[2022-04-27 06:15] FarukOzderim opened #1101 "Throw warnings when ffmpeg is not installed"
### Describe the bug

We should warn the user when s/he tries to use components that need ffmpeg and s/he does not have ffmpeg.

### Reproduction

https://huggingface.co/spaces/chrisjay/afro-speech/tree/3dcd82d8dec3c801112143a98e89a23b6a0707e2

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

critical

[2022-04-27 06:39] FarukOzderim commented on #1101
Components that need ffmpeg:

1. microphone

[2022-04-27 07:32] #841 closed

[2022-04-27 07:32] #1086 closed

[2022-04-27 07:33] abidlabs commented on #841
Hi @kingabzpro this fixed now, and the fix will be out as part of Gradio 3.0. Thanks for creating the issue!

[2022-04-27 07:34] abidlabs commented on #1086
Thanks @radames this fixed now, and the fix will be out as part of next beta release!

[2022-04-27 07:34] abidlabs commented on #1067
I can take this on, as I'm working on rewriting parts of Interface

[2022-04-27 07:52] osanseviero commented on #1101
Is this the same as #976 ?

[2022-04-27 09:34] pngwn opened #1103 "[blocks] unnested form components do not collapse"
### Describe the bug

When form components are not nested in anything else they don't collapse as expected. This is because the adjacent form component detection is only run on children, not on top level components.

### Reproduction

[code]

### Screenshot

Actual:
<img width="639" alt="Screenshot 2022-04-27 at 10 31 47" src="https://user-images.githubusercontent.com/12937446/165488493-cb465ad9-a

[2022-04-27 10:08] pngwn opened #1104 "[blocks] file output does not have an icon background"
### Describe the bug

All file input components (images etc) have a background icon when empty and in output mode, file does not.

### Reproduction

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-04-27 10:47] #946 closed

[2022-04-27 12:13] FarukOzderim commented on #976
@Rikorose
1. do you get a warning which is smt like "ffmpeg is not installed"?
2. You can try `conda install ffmpeg`

[2022-04-27 12:28] Rikorose commented on #976
1. No
2. I have ffmpeg on my local machine, but I cannot install it on hugginface space since it just uses a requirements.txt file.

Also, I'd prefer to not use a hacky workaround for different browsers. I'd rather like receive an audio sample as specified in the [gradio documentation](https://www.gradio.app/docs/#i_audio).

I only used ffmpeg to debug the issue and figure out gradio gives me a .w

[2022-04-27 12:29] osanseviero commented on #976
FYI you can add a `packages.txt` file for dependencies that require `apt-get`. See https://huggingface.co/spaces/chrisjay/afro-speech/blob/main/packages.txt

[2022-04-27 12:30] osanseviero commented on #976
Notes from offline discussion

[2022-04-27 12:30] Rikorose commented on #976
Ah good to know, thanks.

[2022-04-27 20:29] abidlabs opened #1107 "Accept async functions in `Interface`"
Currently `gradio.Interface` takes in standard functions as part of the `fn` parameter. It would be helpful if it could also take in async functions (coroutines) for potential integrations with Ray Serve.

cc @dynamicwebpaige

[2022-04-28 01:14] rockdrigoma commented on #914
Thank you @abidlabs, sorry for the noise. This is really helpful. I will try to do what you suggest.

[2022-04-28 01:16] rockdrigoma commented on #913
Thank you a lot again @abidlabs. You are really working hard!! Keep that great job!

[2022-04-28 07:51] apolinario opened #1109 "gr.Interface.load breaks for ruDALLE Gradio Spaces"
### Describe the bug

The Gradio app for https://huggingface.co/spaces/multimodalart/rudalle/ works perfectly. However, when I load it with `gr.Interface.load("spaces/multimodalart/rudalle")` it breaks, giving me this error:

[code]

### Reproduction

You can replicate this issue with:
[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

blocker

[2022-04-28 08:10] osanseviero opened #1110 "Rename (or accept both names) Dataframe to DataFrame"
**Is your feature request related to a problem? Please describe.**
https://gradio.app/docs/#o_dataframe uses `Dataframe` but in Pandas it's called `DataFrame`, which can lead to easily committing an error.

**Describe the solution you'd like**
Allow `outputs.DataFrame` too.

[2022-04-28 08:12] #920 closed

[2022-04-28 08:21] abidlabs commented on #914
I realized actually that saving and pushing flagged data to the Hugging Face Space is not a good idea since every time a commit is pushed, the Space restarts.

So to summarize, the best option here is to use a Hugging Face dataset as the storage for flagged data. And to do that, please check out the `HuggingFaceDatasetSaver()` flagging handler, which allows you to do that easily.

Here is an examp

[2022-04-28 08:21] #914 closed

[2022-04-28 08:51] #960 closed

[2022-04-28 08:51] #1093 closed

[2022-04-28 09:11] #851 closed

[2022-04-28 09:14] abidlabs commented on #839
Looks like this fixed via #1049, thanks @ronvoluted!

[2022-04-28 09:14] #839 closed

[2022-04-28 09:14] abidlabs commented on #1097
As part of this, I'll also add some documentation for Blocks, as discussed with @aliabd

[2022-04-28 09:24] osanseviero opened #1113 "Gradio 2.9.0b9 does not work in Spaces"
### Describe the bug

If I try to use 2.9.0b9, it breaks in spaces when running any interface. 2.9.0b8 works fine.

[code]

### Reproduction

https://huggingface.co/spaces/osanseviero/broken_gradio

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critical

[2022-04-28 09:27] osanseviero opened #1114 "Gradio blocks in Spaces and colab has duplicated first tab interface"
### Describe the bug

The interface of the first `TabItem` is duplicated
![Screenshot from 2022-04-28 11-26-07](https://user-images.githubusercontent.com/7246357/165722084-d21ef38f-a72f-4112-abf9-3a8330dfd519.png)

### Reproduction

https://huggingface.co/spaces/osanseviero/tortoisse-tts

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critical

[2022-04-28 09:27] osanseviero opened #1115 "Interfaces within block has Flag button"
### Describe the bug

I think Flagging is supposed to be disabled by default in spaces
![Screenshot from 2022-04-28 11-26-07](https://user-images.githubusercontent.com/7246357/165722367-db10af1e-a795-4cd3-b7df-452fe4e830a7.png)

### Reproduction

https://huggingface.co/spaces/osanseviero/tortoisse-tts

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

a

[2022-04-28 09:33] osanseviero opened #1116 "Blowfish is deprecated"
### Describe the bug

When launching a block, I get warnings about `Blowfish` being deprecated

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoyance

[2022-04-28 10:06] #1067 closed

[2022-04-28 10:08] osanseviero opened #1117 "Microphone file input might not be valid wav file"
### Describe the bug

I have a script that uses `scipy.io.wavfile import read`  to read a `wav` file. Since I want users to be able to record themselves, I'm using `gr.inputs.Audio(source="microphone", type="filepath")`, but I get an error that indicates the file is not actually a valid `wav` file.

### Reproduction

Here is an end-to-end minimal example https://colab.research.google.com/drive/1fV

[2022-04-28 10:28] abidlabs commented on #1113
Thanks @osanseviero, can confirm that this was an issue, but should be solved by upgrading to `gradio==2.9b11`

[2022-04-28 10:28] #1113 closed

[2022-04-28 10:29] abidlabs commented on #1115
Should be fixed as well with `gradio==2.9b11`

[2022-04-28 10:29] #1115 closed

[2022-04-28 10:30] abidlabs commented on #1114
Should be fixed as well with `gradio==2.9b11`

[2022-04-28 10:30] #1114 closed

[2022-04-28 10:36] FarukOzderim commented on #1107
This sound very good!
related, #727

[2022-04-28 12:22] FarukOzderim opened #1120 "Queue is not working on spaces"
### Describe the bug

Report from @osanseviero:

I have this demo with two interfaces within a block, but I think it is dying after 60s (I don't see anything else in logs). I already have enable_queue in the block launch method. Should I have done anything else? Queing might not be enabled in blocks yet.
This same space with Interface was working alright (without using blocks)

### Reproduction

h

[2022-04-28 13:40] pngwn opened #1123 "implement `change` event for individual `TabItem`s"
Implemented on the backend, not the front.

Note: maybe change the name to `show`, `load`, `select`.

@abidlabs any thoughts on the name?

[2022-04-28 13:40] rockdrigoma commented on #914
Excellent! Thank you @abidlabs

[2022-04-28 19:45] freddyaboulton opened #1124 "Interpretations don't work on latest main branch"
### Describe the bug

I can't run the default interpretation for a simple app with a single numeric input and label output on the latest commit to main.

### Reproduction

[code]

After hitting `Interpret`, server will throw the following exception and not render an interpretation

[code]

### Screenshot

![interpretation_bug](https://user-images.githubusercontent.com/41651716/165832607-b2b2625c-a

[2022-04-28 21:18] freddyaboulton commented on #1007
Took a crack at it here: https://github.com/gradio-app/gradio/pull/1125

[2022-04-28 22:02] abidlabs commented on #1123
No strong opinion. Maybe `select()` because the event happens when the tab item is selected

[2022-04-28 22:22] FarukOzderim opened #1126 "test checkbox"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the featur

[2022-04-28 22:23] FarukOzderim opened #1128 "test checkbox2"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the featur

[2022-04-28 22:23] #1128 closed

[2022-04-28 22:23] #1126 closed

[2022-04-28 23:33] hjl opened #1129 "Demos and Getting Started out of sync with release gradio (2.9.4)"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

In various demo samples, there are declarations that used to be `input.Image` or `outputs.Label` etc, now they are just `Image` and `Label`, which doesn't work with the current release version of gradio (2.9.4, via `pip install`).

These appear to be for interface changes that are planned for

[2022-04-29 05:12] sahuabinash opened #1132 "AttributeError: module 'gradio' has no attribute 'Interface'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am trying the following in a Windows machine. Installed gradio using 'pip install gradio' to an environment and running the following code in Pycharm.

import gradio as gr
# from gradio import Interface

def greet(name):
    return "Hello " + name + "!!"

iface = gr.Interface(fn=greet,input

[2022-04-29 09:13] #1132 closed

[2022-04-29 09:14] FarukOzderim commented on #1107
lets continue this issue in 727

[2022-04-29 09:14] #1107 closed

[2022-04-29 09:27] abidlabs commented on #1132
This is usually caused by gradio not being installed correctly in the python environment.

Can you try `pip uninstall gradio` and then rerun `pip install gradio` and let us know if you are still seeing this?

Related: #613

[2022-04-29 09:33] abidlabs commented on #1129
Thank you @hjl, you are 100% right. We should have waited until the 3.0 release before updating the demos. Since we are planning on releasing 3.0 shortly, I'm inclined towards leaving the demos for now, and pointing users to an older commit to run the demos.

In particular, these demos should work correctly with `gradio==2.9.4`: https://github.com/gradio-app/gradio/tree/31f9bc112d263eb3bc2b6fc816c

[2022-04-29 09:47] moro23 opened #1133 "gradio.Image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

gr.Image on the getting started page returns an Attribute Error which isnt the same as the code on the github page.

### Reproduction

demo = gr.Interface(sepia, gr.Image(shape=(200, 200)), "image")

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

[2022-04-29 10:07] FarukOzderim commented on #980
Moving this to 3.0 milestone since it is implemented in the backend #1009, feel free to move it to 2023 milestone.

[2022-04-29 13:39] FarukOzderim commented on #1120
Testing it locally with printouts, it successfuly runs the loop inside `queue_thread` however the interface does not load.
![image](https://user-images.githubusercontent.com/44067394/165955616-bc7c9ffb-57f5-4f5d-8a5f-80034cc82a50.png)

[2022-04-29 14:43] FarukOzderim commented on #1120
Btw when enable_queue=True, I cannot exit python with ctrl+C command, the background thread continues to work.

[2022-04-29 15:23] sahuabinash commented on #1132
Hello. Thank you for looking into this issue. I re-installed, but that didn't solve. However, this is a new Python gotcha! My Python script name was - gradio.py. So when I was using import gradio as gr, it was importing but confusing with the file name. Changed the file name to gadio_learn.py and it works like a charm. Posting so that others don't waste time like I did....

[2022-04-29 18:33] radames opened #1138 "Cache examples don't work with File output component (beta)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

On beta (2.9.0b11) trying to have an output File for a Space with Image3D so users can download the 3D model doesn't work as expected. For instance, I have to use the non-beta channel on this space https://huggingface.co/spaces/radames/PIFu-Clothed-Human-Digitization in order to have the cach

[2022-04-29 20:31] Kp2442 commented on #700
Setting share = True fixed the problem for me.

[2022-04-29 21:04] adrien-turiot-maxa opened #1139 "The Getting Started page is outdated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Most of the examples in [the Getting Started page here](https://gradio.app/getting_started/) are outdated.
This seems to be the cause of these issues #1133 and #1129

It could be great to have a single source of truth to avoid this kind of issue.

### Reproduction

For example the **Customiza

[2022-04-29 22:29] mistycheney opened #1141 "Time series with decimal numbers"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
It seems currently time series component only works with integer values.

**Describe the solution you'd like**
Add support for decimal values.

**Additional context**

[2022-04-29 23:36] abidlabs commented on #1132
Ah that makes sense, thank you for clarifying and adding the solution to the issue! Hopefully this will be helpful to anybody else who runs into the same problem

[2022-04-30 17:06] Frugile commented on #1117
I encountered similar bug, when using [Speech Verification demo](https://huggingface.co/spaces/microsoft/unispeech-speaker-verification). It work's when using prerecorded samples, but using microphone recorded audio fails.
I downloaded the code and ran it locally, it gives an error at line `wav1, _ = apply_effects_file(path1, EFFECTS)`:
[code]
which suggests that tmp `wav` file is not valid

Whole

[2022-05-02 08:32] pngwn commented on #1141
Do you have some example data or a simple repro that, I could test this with?

[2022-05-02 08:41] #744 closed

[2022-05-02 10:30] Frugile commented on #1117
I have checked above code with older versions of `gradio`. The newest version that works without error is `2.7.5.2`, so the `2.8.0` is first version where error ``formats: can't open input file `/tmp/audiocyuip60n.wav': WAVE: RIFF header not found`` occurs.

[2022-05-02 15:57] nikky4D commented on #700
Is there a fix for this as I am also getting this error with the first example on gradio's page.

With share=True, the error goes away. However, I would like to use a local address and not need a public one.

I cannot do the HKEY modification of the registry, but I was able to find a workaround for my jupyter notebook here: [https://stackoverflow.com/questions/60136106/tensorboard-is-showing-a-bla

[2022-05-02 23:17] #1120 closed

[2022-05-03 10:05] pngwn opened #1148 "[blocks] show queue position, eta, and current duration with loading status"
This finalises the loading status, requires some refactoring

[2022-05-03 10:21] pngwn commented on #1141
You can ignore this, I understand the problem now.

[2022-05-03 10:27] pngwn commented on #1088
Adding an additional features to this issue for tracking:

- support more colours by default
- use the standard colour pallete shared by HighlightedText and Chatbot (soon)
- support custom 'names' colours (that will use the standard palette)

[2022-05-03 12:29] Zengyf-CVer opened #1150 "Problems with flagging_options parameter usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have some problems using `flagging_options`, when I refer to https://gradio.app/docs/#o_carousel, there is only this description: `flagging_options (List[str]) - if provided, allows user to select from the list of options when flagging. Only applies if allow_flagging is "manual".` But I hav

[2022-05-03 12:31] 1nF0rmed opened #1151 "Packages required for running tests cannot be satisfied when using Python 3.7.9"
**Setup**
OS: macOs Monterey (12.3)
Python: 3.7.9

**Description:**
When running `install_test_requirements.sh` as a part of the contribution loop as mentioned in [CONTRIBUTION.md](https://github.com/gradio-app/gradio/blob/main/CONTRIBUTING.md) the pip install command that is installing requirements from `test/requirements.txt` fails as it can't find a suitable version of `ipython`, which is menti

[2022-05-03 17:21] #1123 closed

[2022-05-03 17:28] #980 closed

[2022-05-03 21:05] #1088 closed

[2022-05-03 21:05] #1141 closed

[2022-05-03 21:29] #999 closed

[2022-05-03 21:44] #1032 closed

[2022-05-03 21:46] #768 closed

[2022-05-03 22:26] abidlabs commented on #1151
Ah interesting, thanks for raising the issue @1nF0rmed. @FarukOzderim how can we adapt our test requirements so it will work on other Python versions?

In the meantime @1nF0rmed, can you try pip installing `test/requirements.in` instead of `test/requirements.txt`? That should get you set up with the right environment

[2022-05-03 22:31] abidlabs commented on #1150
The purpose of `flagging_options` is to allow users to select a particular option as they flag a data. This could allow them to provide more information e.g. why a particular sample has a mistaken prediction

The demo is running fine for me, what error are you getting? Make sure to install `fpdf` in the colab notebook -- you can run `!pip install -q gradio fpdf` in the first cell

[2022-05-03 22:50] radames opened #1156 "[Blocks] Expose Examples as Block Component"
At the moment, examples are part of the `Interface` Class, as well as the `cache_examples` feature. With `Blocks` users can compose custom layouts, positioning inputs and outputs arbitrarily using `Columns`, `Rows`, etc.

This request is to expose examples as a `Block` component, thus one can position and layout it as needed.

Here is one snippet idea:

[code]

or maybe

[code]

[2022-05-03 23:34] Zengyf-CVer commented on #1150
@abidlabs
I found that `flagging_options` can only be logged in `log.csv`, which can be problematic for users who are not operating locally. Can you add some hints, such as text hints that the mark is saved in a certain path?

[2022-05-03 23:58] Zengyf-CVer commented on #1150
@abidlabs
https://colab.research.google.com/drive/1-e53lfdn59VJ7VTF0Ab1Lxme8Lvp0ohS#scrollTo=e200MmBU2aLT
I found a theme color bug, when I set `theme="seafoam"`, the following situation occurs:

![Image 1](https://user-images.githubusercontent.com/41098760/166604577-1bc9aefc-1967-42c6-8580-6c2e0b9a25f5.png)

![Image 2](https://user-images.githubusercontent.com/41098760/166604582-2767505b-23fe-418

[2022-05-04 11:29] abidlabs commented on #1148
We should also make sure that the loading animation is appropriate for all of the components. I love the design, but we might need to tweak it for the smaller components

[2022-05-04 11:34] abidlabs commented on #1095
Just tested and it looks like this is fixed as of `gradio==2.9.0b23`. Thanks a bunch for bringing this to our attention!

[2022-05-04 11:34] #1095 closed

[2022-05-04 14:26] 1nF0rmed commented on #1151
@abidlabs Using `test/requirements.in` does work.

Regarding the test requirements in general - it is possible to set the requirements based on python version like so:
[code]

But using a dependency manager like `poetry` seems to make it easier to find and install compatible packages.

[2022-05-04 16:57] #976 closed

[2022-05-04 16:57] #1101 closed

[2022-05-04 16:57] #1116 closed

[2022-05-04 20:00] radames opened #1160 "Model 3D component not destroyed correctly (cached examples)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Trying to upgrade the PIFu Space project to the latest `gradio==2.8b23` however the cached examples via the classical `Interface` don't seem to be functional well with `gr.Model3D` as compared to the previous `gr.outputs.Image3D`
When switching between examples, the Model3D component doesn't

[2022-05-05 00:47] aliabid94 opened #1162 "Be able to adjust column widths"
We use gr.Row() and gr.Column() currently to configure the layout using flexbox. Currently this implementation is unintuitive for some users, so opening this issue for discussion.

Take a look at this image below:
![Screen Shot 2022-05-04 at 5 43 52 PM](https://user-images.githubusercontent.com/7870876/166849035-a077a3b0-e26c-4687-b236-49ab3a422d7a.png)

The current code to render this would be:

[2022-05-05 00:50] aliabid94 commented on #1162
@abidlabs had suggested an alternative API, where everything is laid out vertically, unless placed in adjacent columns. His suggested API for the same demo would be:

[code]

[2022-05-05 05:18] abidlabs commented on #1162
Slightly tweaking the API above, we can actually get rid of `gr.Row()` altogether:

[code]
One advantage of this is that it reduces the amount of nestedness. Also its how [streamlit does columns](https://docs.streamlit.io/library/api-reference/layout/st.columns) I think, which would make it easier for people coming from streamlit

What do you guys think about this? cc @radames @pngwn

[2022-05-05 12:25] MCDF31 opened #1163 "Bugs on demo files?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

While trying out the demo codes on Jupyter notebooks I got several errors. For example on the Dataframe example i get an error call saying "AttributeError: module 'gradio' has no attribute 'Dataframe'

### Reproduction

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

i

[2022-05-05 14:31] brenden-connors commented on #690
Hello! Really enjoying working with Gradio!

I am curious about using themes with blocks, perhaps I am not understanding correctly. If I am trying to apply a theme like 'dark-peach' to the entire demo, how do I go about doing that? For example the following demo applies the theme to the output only, and the rest seems to lose the original styling.

`import gradio as gr

demo = gr.Blocks()
demo.the

[2022-05-05 14:36] abidlabs commented on #690
Great question @brenden-connors! We are still working on themes with `Blocks`. We are planning on launching with a `default` and a `dark` theme next week, but then adding more themes over time. Right now, you won't find themes working correctly, but eventually something like `gr.Blocks(theme="dark-peach")` should work! cc @pngwn

[2022-05-05 14:44] JuanCarlosMartinezSevilla commented on #450
Oh wow!!! I recieved this email and didnt notice!!! What a great job you guys are doing, its amazing!!! Thank you so much.

PS: As a comment, yesterday I was using Gradio @abidlabs and when the Google Colab theme is set to dark this is how it looks...

![image](https://user-images.githubusercontent.com/97530443/166949171-6043b372-33eb-4ea5-8af4-2d816407c78e.png)

[2022-05-05 14:52] pngwn commented on #690
Every theme will have a light and dark mode. This will be toggleable by the user but, by default, respect system preferences.

So in this case you would just select (`theme=peach`) and both light and dark variants of that theme will be available to users of the app.

[2022-05-05 16:28] brendenconnors commented on #690
I thought I would share my example using Blocks in gradio version 2.9b23.
This use case would be for time series like data. My "model" here would be to predict the sentiment of a user's next tweet given their last 4 tweets sentiment, with timestamps.

This interface results in 8 total inputs for the user which can be a lot. For model exploration, it may be better for the user to actually grab a re

[2022-05-05 18:58] abidlabs commented on #1029
Closed via #1165 :)

[2022-05-05 18:58] #1029 closed

[2022-05-05 19:05] #1148 closed

[2022-05-05 21:34] nateraw opened #1166 "Context management in TabbedInterface"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Often times when you develop apps, you end up having `model` in the global context of your app. If you use the tabbed interface, it could end up leading to having many different models loaded into memory at once, causing OOM errors. I just experienced this on my macbo

[2022-05-05 23:04] abidlabs commented on #1166
Hmm the only thing I can think of then is to load the model when a tab is selected. This _is_ currently possible in Blocks, but it requires going below the `TabbedInterface` abstraction and instead creating tabs manually.

Something like (untested code):

[code]

[2022-05-05 23:09] pngwn commented on #1166
As soon as you have more than 1 user, chances are you're gonna end up with multiple models in memory surely, even with this ondemand loading?

I think this could also have an impact on end user performance if a user changes tab + submits very quickly.

[2022-05-05 23:13] abidlabs commented on #1166
Oh you're right @pngwn both of these problems exist with this approach

[2022-05-05 23:24] abidlabs commented on #1133
Thank you @moro, you are 100% right. We should have waited until the 3.0 release before updating the getting started page.

For now, if you'd like to use Gradio 3.0, try installing our pre-release `pip install gradio==2.9b23`. You'll find that the getting started page should work fine with this version of Gradio.

[2022-05-05 23:24] abidlabs commented on #1139
Thank you @adrien-turiot-maxa, you are 100% right. We should have waited until the 3.0 release before updating the getting started page.

For now, if you'd like to use Gradio 3.0, try installing our pre-release `pip install gradio==2.9b23`. You'll find that the getting started page should work fine with this version of Gradio.

[2022-05-06 00:06] nateraw commented on #1166
Wow @pngwn I totally missed that issue 😅. My bad! Seems you'd just have to work around it in the code as @abidlabs.

Thanks folks - closing this, as I don't think there's anything to do here.

[2022-05-06 00:06] #1166 closed

[2022-05-06 00:39] radames commented on #1162
Here are some comments.
The current approach made a lot of sense to me since it follows the flexbox model, the issue that confused me was solve by https://github.com/gradio-app/gradio/pull/1165

I like the possibility of controlling the columns  width like streamlit does, or maybe something like this? The only issue is we will have to offer some responsive features, or tell users they need to thin

[2022-05-06 00:50] abidlabs commented on #1162
Strongly agree, this is related to #637 as well.

A new row would be created with a new gr.Columns() definition OR if a component is created outside of the previously defined columns. For me, this seems pretty intuitive, but is just a suggestion.

[2022-05-06 03:25] eXceediDeaL opened #1169 "Undocumented backwards incompatibility in version 2.9.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello, I found that the most recent version **2.9.4** of gradio probably introduces a small **breaking change**, which is not recorded in release notes: Adding optional parameter `file_path` in function `gradio.component.Component.save_flagged_file`.

Maybe recording this change in release no

[2022-05-06 07:07] abidlabs commented on #1169
Thanks @eXceediDeaL, good catch! We can definitely amend the release notes, but we're actually just about to release Gradio 3.0, which overhauls `components.py` almost completely. We strongly encourage everyone to migrate 3.0, and as a result, I think in this case, I think it's sufficient to have this issue to notify the small number of users who might run into this issue about the breaking change

[2022-05-06 07:07] #1169 closed

[2022-05-06 07:10] abidlabs commented on #1129
Thanks @hjl. I'll also say that if anyone wants to use the demos that are currently on the `main` branch or from the Getting Started page on the website, you can try the latest pre-release of Gradio: `pip install gradio==2.9b23`.

You'll find that the getting started page and demos should work fine with this version of Gradio.

[2022-05-06 07:24] abidlabs commented on #1163
Closing this issue as it is discussed in #1129 (and all these issues should be resolved by end of next week!)

[2022-05-06 07:24] #1163 closed

[2022-05-06 07:25] abidlabs commented on #1139
Closing this issue as it is discussed in #1129 (and all these issues should be resolved by end of next week!)

[2022-05-06 07:25] #1139 closed

[2022-05-06 07:27] abidlabs commented on #1133
Closing this issue as it is discussed in #1129 (and all these issues should be resolved by end of next week!)

[2022-05-06 07:27] #1133 closed

[2022-05-06 07:29] #1110 closed

[2022-05-06 07:38] abidlabs commented on #1066
Closed via #1082

[2022-05-06 07:38] #1066 closed

[2022-05-06 07:40] abidlabs commented on #1031
After some discussion with @AK391, not sure if this is as big of an issue as I thought it was. Users might actually prefer to have a nice large image output (they care more about that than the input image).

What do you guys think @pngwn @gary149 @aliabid94?

Should we remove it from the 3.0 milestone?

[2022-05-06 07:52] abidlabs commented on #690
Awesome, thanks for sharing @brenden-connors.

One thing I noticed in this example is that our components seem to have rounded corners at the top left and bottom right, but not on the other two corners. Is this intentional @pngwn @gary149? It prevents the components from stacking nicely

[2022-05-06 09:56] pngwn commented on #1162
I've come to the conclusion that find them all confusing in some way, and I don't have a strong preference.

As an alternative way of looking at the problem, how would we teach this? What is the mental model for the various approaches? Withour relying on examples, can you come up with a set of rules that would explain how the row/col/component interaction works for the different designs?

[2022-05-06 11:29] pngwn opened #1174 "Sketch - allow user to select stroke width"
nothing too granular: `'thin' | 'medium' | 'thick'`

[2022-05-06 11:30] pngwn opened #1175 "Collapse/expand {}[]"

[2022-05-06 11:30] pngwn opened #1176 "HighlightText - copy whitespace"

[2022-05-06 11:30] pngwn opened #1177 "[dev] autosort tailwind classes"

[2022-05-06 11:31] pngwn commented on #741
adding from #1041 :

- [ ] Use css variables for theming
- [ ] Each theme should work in light and dark?

[2022-05-06 11:35] pngwn opened #1178 "Accessibility @pngwn"

[2022-05-06 11:36] pngwn opened #1179 "Copy content"

[2022-05-06 11:36] pngwn commented on #1179
mistake

[2022-05-06 11:36] #1179 closed

[2022-05-06 11:39] pngwn opened #1180 "Error handling"
Pretty sure there is already an issue for validation + error handling, leaving this here until i can find it.

[2022-05-06 17:13] pngwn opened #1181 "[blocks] - review loading ui for all components"
reminder for me

[2022-05-06 19:53] pngwn commented on #690
@abidlabs looks broken, will take a look.

[2022-05-07 06:23] abidlabs opened #1183 "Components getting cut off vertically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In some Blocks, the components don't show the full height, instead getting cut off vertically. E.g. look at the Textbox here:

![image](https://user-images.githubusercontent.com/1778297/167241658-b6fab558-6d66-42f0-85e5-becd18fcdfd4.png)

@AK391 may be able to provide other examples

Usually

[2022-05-07 09:59] pngwn opened #1184 "form groups broken when in a row"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Form groups are broken when in a row, rather than a column. This just hadn't been accounted for.

https://github.com/gradio-app/gradio/issues/690#issuecomment-1119351175

### Reproduction

-

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critic

[2022-05-07 15:50] #1183 closed

[2022-05-07 15:50] #1184 closed

[2022-05-07 17:09] nateraw commented on #1166
Leaving this closed, but just wanted to add a note here in case someone else comes across this/it comes up in the future...

You can actually use `gr.Interface.load` to get around this problem. Each app is still hosted separately, so you don't need to worry about running out of memory on the user-facing `TabbedInterface`, since its just iframes you're seeing.

[code]

I'll play with this workflow

[2022-05-09 04:17] FarukOzderim commented on #1151
@1nF0rmed could you try these? If you have a different python version and conflicting pip versions this should fix it.

`bash scripts/create_test_requirements.sh`
`bash scripts/install_test_requirements.sh`

[2022-05-09 04:22] FarukOzderim commented on #1151
Btw it is much more safer to use the same version of python for development, I would recommend you to use Python 3.9, let me add it to the CONTRIBUTING.

[2022-05-09 04:35] abidlabs commented on #753
Thanks for creating the issue @fabivencrim. The reason this issue was happening was that headers and data types were provided, which meant that new columns could not be processed correctly. There was previously no mechanism to prevent users from creating new columns in the front end, but as that is not desired in this case, we have added a mechanism to do so in #1186

You can add the following par

[2022-05-09 04:55] #962 closed

[2022-05-09 04:55] #745 closed

[2022-05-09 04:55] #753 closed

[2022-05-09 04:55] #868 closed

[2022-05-09 04:55] #945 closed

[2022-05-09 04:55] #1065 closed

[2022-05-09 05:02] abidlabs commented on #631
We've decided we'll leave this for post 3.0

[2022-05-09 05:12] FarukOzderim commented on #821
This issue's Backend part is done, could you complete the Frontend part as well @aliabid94?

[2022-05-09 05:27] abidlabs commented on #821
Yes, just chatted with @aliabid94 -- he is working on this right now!

[2022-05-09 06:05] abidlabs commented on #1162
The mental model for the current API described here (https://github.com/gradio-app/gradio/issues/1162#issue-1226099726) is the same as the flexbox model:

- You can either be in a `gr.Column()`, in which case your children elements are laid out vertically, OR
- You can be in a `gr.Row()`, in which case your children elements are laid out horizontally

Initially this was not clear to me, and I was

[2022-05-09 06:08] abidlabs commented on #1180
You're probably thinking of #956

[2022-05-09 06:08] #1180 closed

[2022-05-09 06:17] abidlabs commented on #637
This is being discussed in #1162 so closing this issue

[2022-05-09 06:17] #637 closed

[2022-05-09 06:26] Adeel-Intizar opened #1189 "pkg_resources.UnknownExtra: markdown-it-py 0.5.8 has no such extra feature 'plugins'"
Hi,
I am having issues importing the gradio, this issue never arouse before, can you help ?
![image](https://user-images.githubusercontent.com/56041154/167352318-b4b2bd66-d0fa-4d3b-bb8b-620b2bd3b6a1.png)

[2022-05-09 06:31] abidlabs commented on #1189
You're using a very old version of markdown-it-py it seems. Can you try updating it to the latest version?

`pip install markdown-it-py --upgrade`

[2022-05-09 06:33] Adeel-Intizar commented on #1189
Thank you

[2022-05-09 06:33] #1189 closed

[2022-05-09 10:57] FarukOzderim opened #1191 "Interface with providing multiple functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

While working on #1190, Interface taking multiple functions proved to be troublesome. And I encountered an error.

Why do we let user provide multiple functions to the Interface, they could just return multiple outputs from a single function?
Check [here](https://github.com/gradio-app/gradio/

[2022-05-09 12:32] ncoop57 opened #1192 "Some HF Spaces do not have APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi, love the gradio library, especially the work being done with HF spaces!

For certain spaces such as this one: https://huggingface.co/spaces/akhaliq/ArcaneGAN. The API seems to not be available at the bottom of the page, but it use to be. I can find the API page: https://hf.space/embed/akh

[2022-05-09 12:33] xishanhan opened #1193 "Failed to connect to ec2.gradio.app:22"
When I used 'interface.launch(share=True)' to build link, I met:

Running on local URL:  http://127.0.0.1:7860/
*** Failed to connect to ec2.gradio.app:22:

But this happened sometimes, and sometimes the public link would be successfully built.
I wanna know why.

[2022-05-09 13:07] merveenoyan opened #1194 "Better error message when format of `examples` is incompatible with `inputs`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello the greatest OS devs on 🌍 👋

I'm playing with the dataframe component and saw that examples are only passed as lists, so I converted the dataframe into list and managed to break the interface. It applies for any list.
Broken interface looks like below:
![Ekran Resmi 2022-05-09 15 05 18]

[2022-05-09 14:33] merveenoyan opened #1196 "Dataframe component overflowing from the tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Dataframe component overflows from the tab even if the page is 75 percent zoomed out.
<img width="394" alt="Ekran Resmi 2022-05-09 16 31 07" src="https://user-images.githubusercontent.com/53175384/167432643-93e46bd0-b761-48f3-bf17-ace5b142e53c.png">

### Reproduction

My code is below:

[code

[2022-05-09 14:33] merveenoyan commented on #1196
pinging @pngwn here :)

[2022-05-09 14:38] pngwn commented on #1196
@merveenoyan Since you're playing around at the minute, I'm curious what do you expect `gr.Rows()` to do. Ignoring the ovbious bugs, does it lay things out as expected or would you expect something else?

[2022-05-09 14:44] merveenoyan commented on #1196
@pngwn yes I want them to look that way :)
Something really annoying was when I put the inference result between infer button and the dataframe and it got crushed and I can't see anything. I think ability to expand/toggle would be super nice!
<img width="1172" alt="Ekran Resmi 2022-05-09 16 43 58" src="https://user-images.githubusercontent.com/53175384/167435256-cbd0ad72-9c96-4023-ac21-a5d94c26d0f

[2022-05-09 15:09] gary149 commented on #741
Yes I think that makes sense.

[2022-05-09 16:18] #1031 closed

[2022-05-09 19:18] xishanhan commented on #1193
I also encountered another problem that the public link was successfully built, but when I the link clicked into the public link, it showed that 'No interface is running right now'.
I don't know why this happens.

[2022-05-09 19:19] xishanhan commented on #1193
I also encountered another problem that the public link was successfully built, but when I clicked into the public link, it showed that 'No interface is running right now'.
I don't know why this happens.

[2022-05-09 19:56] dawoodkhan82 opened #1197 "Change event trigger slow to respond in Colab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using the change event trigger for a textbox; when typing quickly, not all of the text is registered in the change event.

### Reproduction

Run the below code example in a colab notebook; and type into the textbox quickly.

[code]

### Severity

annoyance

[2022-05-09 20:01] abidlabs opened #1198 "Dataframe with headers throws error when new column is added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If a `gr.Dataframe` is created with defined `headers`, then when a new column is created, it throws an error, since the backend tries to apply the original headers to the new dataframe which is of a different size

### Reproduction

Minimum example:

[code]

### Screenshot

_No response_

###

[2022-05-09 20:07] xishanhan commented on #1193
I didn't use Huggingface spaces.

[2022-05-09 22:10] radames commented on #956
I came across this. What's the best way to validate inputs? and/or to avoid running the prediction function without triggering queuing and loading, raising errors that communicate to the UI

[code]

[2022-05-10 00:26] #741 closed

[2022-05-10 05:18] FarukOzderim commented on #956
Well you could direct it to your outputs. I don't think there currently is a method for raising errors in UI. But thx for sharing we shall consider user made errors within UI as well.

[2022-05-10 09:20] pngwn commented on #1197
I think this happens because when a request is pending we reject any new requests. So the first character we type will send a request but until that request has completed, we will not send any more.

We should actually do the opposite of this. While you can't really cancel a request, we can ignore the responses if there is a fresher request. In order to make sure this doesn't destroy the server, w

[2022-05-10 09:29] pngwn opened #1201 "Dataframe feature requests"
The quest for the perfect simple dataframes continues. brain dump so i don't forget. feel free to suggest more nice things.

- [ ] #3286
- [ ] #2667
- [ ] #3284
- [ ] #3283
- [ ] #631
- [x] Large datasets (pagination or similar)
- [x] #2209
- [x] #2666
- [x] #2006
- [ ] #2020
- [x] Technically a bug #2209
- [x] #2655
- [x] #2666
- [x] #2688
- [x] #3285
- [x] #2814
- [ ] #2407
- [x] #1178
- [ ] htt

[2022-05-10 11:16] stuartthomson opened #1203 "No Output In Browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I see nothing in my browser when following 'Quick Start' section of the readme.

1. Create environment with python 3.7
2. `pip install gradio`
3. Run the example script

In the browser (Chrome and Edge tested) I see nothing. There errors in the console logs that say:
[code]

### Reproduction

[2022-05-10 17:52] nganani opened #1206 "Getting started, steps 2 and 3 (and possibly others) creates an error: module 'gradio' has no attribute 'xxx'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

should be `gr.inputs.Slider` (sample 3) or `gr.inputs.Textbox' (sample 2) and instead showing `gr.Slider` and 'gr.Textbox' respectively, causing an error. adding 'inputs' in between solves it - so easy fix, but your samples in the getting started should be updated

### Reproduction

very easy

[2022-05-10 22:58] #1150 closed

[2022-05-11 00:16] ncoop57 commented on #1192
Thank you! My use case is making hobby apps that use the gradio API. So one of the apps I made applies various machine learning filters from different spaces: https://github.com/ncoop57/animefie. I'm thinking about making another hobby app that deals with text, but still thinking on that one

[2022-05-11 00:30] abidlabs commented on #961
This is now possible! With #1089

[2022-05-11 00:30] #961 closed

[2022-05-11 00:31] abidlabs commented on #784
This is now possible! With #1089

[2022-05-11 00:31] #784 closed

[2022-05-11 00:32] abidlabs commented on #1097
Done in the website-development branch!

[2022-05-11 00:32] #1097 closed

[2022-05-11 00:33] abidlabs commented on #821
Done via #1089!

[2022-05-11 00:33] #821 closed

[2022-05-11 00:40] abidlabs commented on #952
Closing as we've decided we won't do this for now.

[2022-05-11 00:40] #952 closed

[2022-05-11 00:42] abidlabs commented on #756
Covered in #984

[2022-05-11 00:42] #756 closed

[2022-05-11 00:42] abidlabs commented on #1162
Removing from 3.0 as we can have support for adjusting column widths post 3.0 launch.

[2022-05-11 06:19] FarukOzderim opened #1211 "A different Conditional Input, Update Approach"
Related #961 and [comment](https://github.com/gradio-app/gradio/pull/1089#discussion_r868854331)

I have an idea which will unlock more opportunities with the update functionality, but might make things a little bit more complex from the development POV.

What if we send components into the function and update component's field over there?

[code]

We would need to send the component itself as a d

[2022-05-11 09:58] FarukOzderim opened #1212 "Refactor Interface"
- [X] I have searched to see if a similar issue already exists.

I have some concerns about how Interface is designed right now, and I feel like we need to refactor it quite a bit. Previously it was our core class, however as Blocks got out, it is now just a wrapper around Blocks. But the current design is too complex, and making changes on it affects a lot of parts. Currently I added support for

[2022-05-11 10:00] FarukOzderim commented on #1212
I don't think these should continue to exist within or related to Interface as now our core class is Blocks and not Interface.

![image](https://user-images.githubusercontent.com/44067394/167824102-db27a918-cd39-4dd0-89fc-c1a48d9b6a4e.png)
![image](https://user-images.githubusercontent.com/44067394/167824227-0eaf2447-6ad6-4850-8beb-938a06d5809f.png)
![image](https://user-images.githubusercontent.c

[2022-05-11 13:56] abidlabs commented on #948
Guides has been implemented in `website-dev` and demos are covered in #949, so closing this issue

[2022-05-11 13:57] abidlabs commented on #951
This has been implemented in `website-dev`. Looks great!

[2022-05-11 13:57] #951 closed

[2022-05-11 14:21] #984 closed

[2022-05-11 15:02] abidlabs commented on #1181
FYI I think the Gallery component might not have a loader (based on feedback from a user)

[2022-05-11 15:08] 5joon2 commented on #1193
How could you open public link?

[2022-05-11 15:10] FarukOzderim opened #1217 "Test all demos before 3.0 Launch"
Hello There;

Testing some/most/all of the demos would be quite a nice QA testing before the launch, any support is honestly welcomed :)
Please mark any of the demos you test, and you can report any issues you have with naming like #1233 and it will be tracked within this issue.

You could find many gradio examples within demos and get to know about Gradio as well 😄

The idea is to test them one b

[2022-05-11 15:22] pngwn commented on #1217
that's a lot of demos

[2022-05-11 15:44] FarukOzderim commented on #1217
Note that there is some fixes going on with HighlightedText, so you can pass any demo containing it.

[2022-05-11 15:58] abidlabs commented on #953
Ready now in `website-dev`!

[2022-05-11 15:58] #953 closed

[2022-05-11 16:27] FarukOzderim commented on #1197
related #572

[2022-05-11 18:19] #820 closed

[2022-05-11 18:25] pngwn commented on #572
I do think websockets would be the way to go in the future for the queue. I think this was discussed briefly somewhere (may have been on slack).

[2022-05-11 18:44] abidlabs commented on #1196
Can confirm this is now fixed:

<img width="616" alt="image" src="https://user-images.githubusercontent.com/1778297/167923168-16df6d68-029b-4c6a-8547-0f3a276fd0fd.png">

Thanks @pngwn and @merveenoyan!

[2022-05-11 18:44] #1196 closed, assigned to nobody

[2022-05-11 18:47] pngwn opened #1220 "Mirroring for webcam inputs"
- Mirror webcam's by default with necessary preprocessing.
- kwarg to disable mirror

[2022-05-11 18:51] pngwn commented on #1217
I think we need to merge a couple of PRs in before we do the big final test. We have one or two important ones. We should start on these manual tests when we have released 3.0b to ensure all of the important stuff is done.

[2022-05-11 18:52] abidlabs commented on #1194
@merveenoyan not sure I understand the issue:

[code]

Here, the examples that are provided don't line up with the headers that were provided, so there should be an error that is thrown. What is the behavior that you were expecting?

[2022-05-11 20:44] abidlabs commented on #1107
This is now in, fyi @dynamicwebpaige

[2022-05-11 21:59] radames commented on #1217
I’ve created a branch and I’ll try to fix as I can the demos https://github.com/gradio-app/gradio/tree/demo-fixes

[2022-05-11 22:36] hjl opened #1221 "Missing UI assets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Browser connects but displays empty white page, console output shows traceback error:

[code]

### Reproduction

`python demo/hello_world/run.py`

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critical

[2022-05-11 22:36] hjl commented on #1221
Looks like UI refactor has some missing paths?

[2022-05-11 23:27] #1028 closed

[2022-05-12 00:16] abidlabs commented on #1221
Thanks @hjl! Can you try upgrading to `gradio==2.9b48` and see if you still get this error? We should have fixed all of the paths now.

[2022-05-12 00:53] 5joon2 commented on #1193
How did you solve `*** Failed to connect to ec2.gradio.app:22:` log?
was it related to port forwarding?

[2022-05-12 01:07] xishanhan commented on #1193
I don't know exactly what you mean, I didn't solve this problem. But sometimes the public link can be built successfully, and sometimes it can't.
When the public link cannot be built successfully, the linux terminal shows only these two sentences：
`
Running on local URL: http://127.0.0.1:7860/
*** Failed to connect to ec2.gradio.app:22:
`

[2022-05-12 01:26] 5joon2 commented on #1193
I got it. I asked that question because my console always show that log (fail to build public link). Thanks anyway!

[2022-05-12 08:32] FarukOzderim commented on #1217
We had `3.0b0` release out! Everyone please use this release from now on.

[2022-05-12 09:41] merveenoyan commented on #1194
@abidlabs I'd rather have an error thrown, there's nothing that gives me a signal that this shouldn't be the way to create this Block. (like we do in interface)

[2022-05-12 12:16] pngwn opened #1223 "AttributeError: 'Blocks' object has no attribute 'share'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When share is not set this seems to happen sometimes when fetching the `index.html`:

[code]

The app launches as expected, just with huge error logs.

Pu it as critical because i don't know if this will cause problems in other contexts.

I think it was ibntroduced in this PR: https://github.

[2022-05-12 12:22] pngwn opened #1224 "Review fonts"
- [ ] Choose between system and source sans pro
- [ ] Performance (loading, too many fonts)

[2022-05-12 14:08] May-Yaha opened #1225 "can support raw image type？"
raw：cr2、arw、dng、nef ...

[2022-05-12 14:52] #1223 closed

[2022-05-12 17:29] radames opened #1227 "AttributeError: 'Blocks' object has no attribute 'share'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Testing beta 3.0b9 Running on a local machine, without mention `share=true` it doesn't run a local webserver, and raises the following error

[code]

### Reproduction

You can run the demo to reproduce the erro

https://github.com/gradio-app/gradio/blob/main/demo/blocks_flashcards/run.py

###

[2022-05-12 17:34] pngwn commented on #1227
Duplicate of https://github.com/gradio-app/gradio/issues/1223. Fixed in `main` and will be released soon.

[2022-05-12 17:34] #1227 closed

[2022-05-12 17:35] radames commented on #1227
Sorry I've missed that

[2022-05-12 17:51] pngwn commented on #1181
@abidlabs Do you have more details on this? Gallery definitely had a loader and it is working in `demo/fake_gan`

Review complete, bugs notwithstanding. We can make imrpovements but this is good for now.

[2022-05-12 18:31] radames opened #1231 "[digit_classifier] Image Source Canvas Style"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Image as input source canvas overflow issues

### Reproduction

Test Notebook
https://colab.research.google.com/drive/1epV1ILJZMN6BrtizIpcD4sjqDclUSoty?usp=sharing

Demo from
https://github.com/gradio-app/gradio/blob/main/demo/digit_classifier/run.py

### Screenshot

https://user-images.githu

[2022-05-12 18:32] radames opened #1232 "blocks_flashcards"

[2022-05-12 18:33] #1232 closed

[2022-05-12 19:13] radames opened #1233 "[blocks_flashcards] Row styles and conditional Row issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug
Conditional Rows are not working

[code]

### Reproduction

Test Notebook
https://colab.research.google.com/drive/16IWOGsPFXyVbybrqAEGUN6Oti5nP4XBs

Demo
https://github.com/gradio-app/gradio/blob/main/demo/blocks_flashcards/run.py

### Screenshot

**Buttons and rows overflow
Rows `visible=Fals

[2022-05-12 19:21] pngwn commented on #1233
@aliabid94  Can you explain what this demo was meant to do layout-wise because I'm not entirely sure the intended layout is with all of the nested bits.

[2022-05-12 19:24] radames commented on #1233
@pngwn just added some screenshots. I'm not sure about the full demo intention, but the conditional rows definitely not working. The way I read is, after your response it enables the hidden Row. Is this api functional valid?   `gr.Row(visible=False)`

[2022-05-12 20:27] #1231 closed

[2022-05-12 20:45] pngwn commented on #1233
It is part of the python interface but it doesn't actually work any more because of some style changes we made. The prop is passed but it doesn't actually have a frontend implementation. That would explain it.

Although there is clearly more than that is broken here.

[2022-05-12 20:46] radames opened #1237 "[blocks_plug] TabItems needs a gr.Row to proper render"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It seems like `gr.TabItem()` doesn't allow render without `gr.Row` in different Tabs

### Reproduction

https://colab.research.google.com/drive/1bCtluvVdKpg0hRyh-dv2eX9Aregc2CTX?usp=sharing

Here is the code snippet that works

[code]

vs the original

[code]

### Screenshot

original
![image

[2022-05-12 22:45] radames commented on #1233
I see, @pngwn, I guess we can always offer that feature later and temp remove or leave a note on demos not ready @abidlabs what do you think?

[2022-05-12 23:21] pngwn commented on #1233
Will fix it in the morning.

[2022-05-12 23:21] pngwn commented on #1233
As well as all of the other broken things.

[2022-05-12 23:22] radames opened #1238 "Smaller screen layout has collapsed rows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Since 5ba2e06e6971e946f2bdae0090b847056592a365 the rows are now collapsed on mobile. It might be something simple, and I'm sorry if you already know this issue @pngwn

### Reproduction

https://github.com/gradio-app/gradio/tree/main/demo/blocks_layout

https://github.com/gradio-app/gradio/tre

[2022-05-12 23:29] pngwn commented on #1238
Hmm, it must be a different change to the commit you mentioned. I don't think the affected components have any relationship to the changed ones. Will take a look, probably some flex change.

[2022-05-12 23:30] pngwn commented on #1237
This one is weird, i wrapped the slotted content in the tabs with a column by default so it should be able to show. I wonder if it is collapsing due to a recent change.

[2022-05-13 00:55] radames opened #1240 "Implement `Carousel`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Running demo  [demo/disease_report/run.py](https://github.com/gradio-app/gradio/blob/main/demo/disease_report/run.py)

I don’t see `gr.Carousel` working in any examples. I’ve also notice that the constructor is not accepting the positioned arguments vs the named argument
`gr.Carousel(["text",

[2022-05-13 01:14] pngwn commented on #1240
Carousel is basically not implemented right now, or rather than frontend and backebnd have inconsistent implementations. Unsure how to procedd right now.

[2022-05-13 01:16] radames opened #1241 "[fake_gan_complex] Markdown with Interface input (no Blocks) bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`gr.Markdown` component raises  `'requires_permissions'` when used inside `Interface`  inputs without  `Blocks`

https://colab.research.google.com/drive/1sU2aU61roXO0mxTyO2Dk2ObaRHtMuRId?usp=sharing

`AttributeError: 'Markdown' object has no attribute 'requires_permissions'`

### Reproduction

[2022-05-13 07:10] FarukOzderim opened #1242 "Respect Hugging Face Theme On Spaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Gradio spaces does not respect/follow Hugging Face site theme

### Reproduction

go onto any space with
- System Theme: dark
- HF theme: light

### Screenshot

![image](https://user-images.githubusercontent.com/44067394/168230349-1dcdd1bc-b553-44a9-973f-ce7ca8ca8734.png)
![image](https://user

[2022-05-13 07:21] FarukOzderim commented on #1242
I think it would be better to not let users experience this, adding it to 3.0 milestone in case we can cover this.

[2022-05-13 08:08] pngwn commented on #1242
This isn't something that can be addressed in Gradio, we are awaiting some changes on the hub. Everything on the gradio side has been done.

[2022-05-13 08:08] #1242 closed

[2022-05-13 11:31] Zengyf-CVer opened #1245 "DataFrame pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug
@pngwn
I found out when working with DataFrame that the output cannot be paginated.

### Reproduction

[code]

Click submit and find that the form has no pagination:

![ksnip_20220513-193043](https://user-images.githubusercontent.com/41098760/168274615-c1b3b55c-bde9-4327-958c-8740bc45e87b.png)

[2022-05-13 14:47] #1233 closed

[2022-05-13 14:47] #1237 closed

[2022-05-13 14:47] #1238 closed

[2022-05-13 15:19] apolinario opened #1247 "[3.0b1 issue] gr.Tabs() and gr.TabItem() don’t work inside of a gr.Column() or a gr.Row()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

gr.Tabs() and gr.TabItem() don’t work inside of a gr.Column() or a gr.Row() since 2.9b24 (it worked before that). I hope it`s a bug because I think it should work otherwise a design like [MindsEye Lite](https://huggingface.co/spaces/multimodalart/mindseye-lite) is not possible (where on the l

[2022-05-13 15:22] pngwn commented on #1247
I think this is the same issue as #1237 and should be fixed by #1246.  We'll create a new beta release later today to get this out.

[2022-05-13 15:24] apolinario opened #1248 "[3.0b1 issue] gradio.Interface.load() doesn’t load Spaces that use the gr.Interface but are on 3.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If you try to use `gradio.Interface.load()` on a Spaces that uses the `gr.Interface` but has already updated to 3.0b1 (or previous pre-releases), the interface does not load properly throwing an error

### Reproduction

I downgraded the Spaces that were on 3.0 back to 2.9 since I got this err

[2022-05-13 15:29] radames opened #1249 "gr.Slider component problems with positional arguments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`gr.Slider` component should work with positional arguments?

[code]

vs

[code]

[code]

### Reproduction

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-05-13 15:30] apolinario opened #1250 "[3.0b1 Issue] gr.Carousel() breaks with Blocks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Both the front and the back-end of `gr.Carousel` don't work with Blocks. The front-end shows 1/0 outputs, while the backend throws this error even if the syntax is identical to what works `gr.Interface`:
[code]

### Reproduction

[code]

### Screenshot

_No response_

### Logs

_No response_

[2022-05-13 15:57] apolinario commented on #1250
It has been reported already on #1240

[2022-05-13 15:57] #1250 closed

[2022-05-13 16:07] pngwn opened #1252 "Deprecate carousel"
Deprecate carousel.

[2022-05-13 17:11] pngwn commented on #1252
Edited as we have decided to remove this for 3.0.

[2022-05-13 17:39] abidlabs commented on #1225
For files that are not supported by the `Image` component natively, you can use the `File` component to upload them and process however you would like. Here's the link to the documentation with examples: https://gradio.app/docs/#i_file

Closing for now, but feel free to reopen if this does not address your concerns.

[2022-05-13 17:39] #1225 closed

[2022-05-13 18:18] abidlabs commented on #1241
Hi @radames, the `Markdown` component can't really be used in this way, because this would make the Markdown component an input and it would expect a corresponding function parameter.

However, we _are_ thinking about adding a "gr.Section()" for the use case you are describing. This is discussed more in #938. cc @pngwn

[2022-05-13 18:18] radames opened #1255 "[outbreak_forecast] gr.Plot with type arg conflicts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`gr.Plot` with type `type` argument conflicts with parent class arguments

[code]

### Reproduction

https://colab.research.google.com/drive/1sGjsyLFlL-nFNjOCmDI1UlrQfBshuT-_#scrollTo=5ObWOsYqn13S

https://github.com/gradio-app/gradio/blob/main/demo/outbreak_forecast/run.py

[code]

### Scree

[2022-05-13 18:21] abidlabs commented on #1255
Thanks so much @radames, I removed this argument in the `website-dev` branch -- hopefully we can merge soon!

[2022-05-13 18:22] radames commented on #1241
ok @abidlabs thank you, I'll adjust the demo

[2022-05-13 19:29] radames opened #1256 "[streaming_stt] 'Variable' object has no attribute 'change' - live interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It seems like the `State` or `Variable` can't be attached to an `Interface` live, are we supporting this case for now?
In terms of the demo we can easily disable `live=True`

[code]

### Reproduction

https://colab.research.google.com/drive/1yyigE58fduUdeDS10jv0im5NlkECNsih#scrollTo=Gf__4uqB4

[2022-05-13 19:54] abidlabs commented on #1256
Ah interesting, we should support this. @aliabid94 can you fix this as part of getting live audio working again?

[2022-05-13 20:02] abidlabs commented on #1241
After internal discussion, reopening to allow Markdown to be a valid component (but we should still remove/adjust the demo)

[2022-05-13 23:47] #1053 closed

[2022-05-14 02:04] #1007 closed

[2022-05-14 05:45] #1252 closed

[2022-05-14 06:03] abidlabs opened #1259 "Auth is broken on Gradio 3.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`auth` doesn't seem to be working in 3.0

### Reproduction

Check `demo\hello_login`

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

blocker

[2022-05-14 06:04] abidlabs commented on #1240
We will implement `Carousel` later on

[2022-05-14 06:05] abidlabs commented on #1255
Fixed now!

[2022-05-14 06:05] #1255 closed

[2022-05-14 06:06] abidlabs commented on #1247
Works now with `gradio==3.0b5`!

[2022-05-14 06:06] #1247 closed

[2022-05-14 09:49] apolinario commented on #1240
@abidlabs with 3.0b5 the lack of carousel broke `gr.Interface.load()` from a Spaces that used it and stayed in 2.x. I'd recommend to keep the backend at least - as even though using it broke, to load other interfaces it was working up until `3.0b2`

[2022-05-14 17:27] biubiubiiu commented on #1203
Met the same problem. I am using gradio 2.9.4 with Python 3.9.12 on Windows 10. Downgrading to 2.9 beta version doesn't work for me.

[2022-05-15 07:51] #1160 closed

[2022-05-15 07:52] #1241 closed

[2022-05-15 07:57] abidlabs commented on #1160
Hi @radames can you confirm that this issue is fixed on `graido==3.0b6`?

[2022-05-15 10:44] Zengyf-CVer commented on #1201
@pngwn

I would like to ask, can the pagination function of `overflow_row_behaviour="paginate"` work normally in `gradio==2.9.4`? I feel like this parameter doesn't seem to work

[code]

[2022-05-15 11:04] Zengyf-CVer commented on #1201
https://github.com/gradio-app/gradio/issues/1245

[2022-05-15 23:59] pngwn commented on #1201
@Zengyf-CVer I'd encourage you to try the latest beta, the Dataframe has had many changes although pagination still isn't present. It is a concious omission because we want to get the UX right. Will add this to the above list.

[2022-05-16 01:45] Zengyf-CVer commented on #1201
@pngwn
I've tried the last few versions and found that Dataframe's output-side refresh has improved, but pagination really doesn't, which is confusing me.

![ksnip_20220516-094300](https://user-images.githubusercontent.com/41098760/168506172-236e3418-c37f-4bef-8871-5793d89d2354.png)

[2022-05-16 04:12] apolinario opened #1267 "Dark mode for Gradio and Spaces background color slightly off"
Background color for Gradio's dark mode: #090f1f
Background color for Spaces' dark mode: #0b0f19

![image](https://user-images.githubusercontent.com/788417/168518573-bd221226-382b-474f-8df6-fb7b78c582be.png)

[2022-05-16 07:08] mazzma12 commented on #1094
Hi! it sounds really reasonable to me,  I also have the same request.

[2022-05-16 07:20] abidlabs commented on #1249
Closed via #1268!

[2022-05-16 07:20] #1249 closed

[2022-05-16 08:23] FarukOzderim opened #1271 "Add Docs/Demos/Blog Section to the end of HF Course"
- [x] I have searched to see if a similar issue already exists.

[2022-05-16 08:40] FarukOzderim commented on #1217
Thx to everyone for QAing our demos, I opened the issue to run a maraton on the remaining demos but it is already finished :D

[2022-05-16 08:49] Zengyf-CVer opened #1272 "0 value of 3.0b8 version Dataframe is not displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

@abidlabs  @pngwn
I found that the `0` value of the Dataframe in gradio v3.0b8 is not displayed, while the `0` value of the Dataframe in gradio v2.9.4 is displayed normally.

### Reproduction

- gradio v3.0b8:

![ksnip_20220516-164745](https://user-images.githubusercontent.com/41098760/168554

[2022-05-16 09:01] Zengyf-CVer opened #1273 "3.0b8 gr.inputs.Radio linkage problem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am using `gr.inputs.Radio` in gradio v3.0b8, and found that there is a linkage problem in different radio inputs. I made a demo:

[code]

### Reproduction

![ksnip_20220516-170025](https://user-images.githubusercontent.com/41098760/168557175-adeadb63-832d-49dd-8d92-f0a857609f79.png)
![ksnip

[2022-05-16 10:05] #1217 closed

[2022-05-16 15:49] FarukOzderim commented on #908
@aliabid94 can we close this issue?

[2022-05-16 17:22] #1272 closed

[2022-05-16 17:22] #1273 closed

[2022-05-16 17:28] abidlabs commented on #950
Beautiful, great job @aliabd and @aliabid94!

[2022-05-16 17:28] #950 closed

[2022-05-16 18:43] radames commented on #1160
hi @abidlabs @dawoodkhan82 confirm this is working great now! this space https://huggingface.co/spaces/radames/PIFu-Clothed-Human-Digitization. (note, however the File Component still has a problem with the cached files)

[2022-05-16 18:59] #690 closed

[2022-05-16 18:59] #908 closed

[2022-05-16 18:59] #949 closed

[2022-05-16 18:59] #1256 closed

[2022-05-17 00:39] Zengyf-CVer opened #1303 "3.0.1 Dataframe empty row"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

@pngwn
I am using gradio 3.0.1 and found that there is a problem with blank rows in Dataframe output: when the data is less than 3 rows, there are blank rows, as shown in the figure.

### Reproduction

![ksnip_20220517-083436](https://user-images.githubusercontent.com/41098760/168704084-19c05

[2022-05-17 00:46] Zengyf-CVer opened #1304 "3.0.1 huggingface demo examples"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

@abidlabs @pngwn

When I use gradio==3.0.1 in huggingface, I find that when using the `examples` parameter, the program has an error, When I don't use the `examples` parameter, the program is fine. **This error does not appear in local operation, but does appear in huggingface**.

My huggingf

[2022-05-17 03:40] radames commented on #1304
hi @Zengyf-CVer this is related to caching with File Component and it's also reported here #1138
You can try your space without the File output just to double check or to make it work until we fix it. Thanks

[2022-05-17 04:32] Zengyf-CVer commented on #1304
@radames  Looking forward to your fix, thanks.

[2022-05-17 08:05] #1304 closed

[2022-05-17 08:40] JefferyChiang opened #1306 "Image editor did not show edit window"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Thanks for the updates!
I tried the new version, I found that the Image edtior didnt behave like the old one.
The image editor did not show the edit window after I pressed the edit button, it used the 'select' method directly even if I set the tool='editor'.

### Reproduction

'import gradio

[2022-05-17 09:00] Zengyf-CVer commented on #1303
@pngwn
My project: https://huggingface.co/spaces/Zengyf-CVer/Gradio_YOLOv5_Det_v3
You can enter a picture with a picture of one object or two objects.

[2022-05-17 09:27] pngwn commented on #1306
Yeah, this is intentional. The old editor was causing many issues so we will be sticking with this behaviour until we get around to #466 (which will happen soon). For now, image editing will bve limited to cropping.

[2022-05-17 09:27] #1306 closed

[2022-05-17 09:27] pngwn commented on #1303
Ah thanks.

[2022-05-17 11:41] pngwn commented on #1303
What is happening here is the dataframe is always respecting the `row_count` as a minimum. If you set row_count to `1` on the Dataframe it works as expected. Not sure what the best behaviour is here.

cc @abidlabs @aliabid94

[2022-05-17 13:58] #1267 closed

[2022-05-17 14:10] abidlabs commented on #1303
This seems like reasonable behavior to me for the Dataframe to initialize with the stated number of rows. What we need to do is implement a "delete row / delete column" functionality to address these kinds of situations

[2022-05-17 14:16] pngwn commented on #1303
This specific case is about whether the rows should match what comes back from the predict function or if it should respect the row count in that case as well. As an output the dataframe wouldn't have add/ delete functionality.

Input and outputs aren't significantly different so what makes sense for an input doesn't _always_ make sense for an output (although I'm not sure that is the case here) b

[2022-05-17 15:19] mizoru commented on #1117
Is there someone looking into this?

[2022-05-17 16:09] atben123 opened #1314 "DataFrame label not showing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When creating a dataframe with a label, the label does not show:

`     gr.Dataframe(headers=["Mean","Min","Max","Std"], row_count=[1,'fixed'], col_count=[4,'fixed'], datatype="number", type="pandas", label = "testtt",show_label = True)`
<img width="242" alt="image" src="https://user-images.g

[2022-05-17 16:12] dawoodkhan82 commented on #1160
Will take a look. Thanks @radames

[2022-05-17 20:18] apolinario opened #1316 "Queue upstream when loading apps via gr.Interface.load()"
If **app A** uses `gr.Interface.load()` to load an **app B** that contains a `your_app.launch(enable_queue=True)`, the queue does not get respected when the **app B** is executed from the **app A**. So if there are 3 **app A** users, and all trigger **app B** at the same time, **app B** runs 3x in parallel, regardless if `enable_queue` was set to `True` on **app B**.

This implies in two things:
1

[2022-05-17 20:34] fbadine opened #1317 "Error in API documentation"
On the following page:
https://gradio.app/docs/#audio
The description of the argument 'type' is wrong.
It looks like a copy paste from the 'type' argument for Image input element.

[2022-05-17 20:40] apolinario commented on #1316
@abidlabs, this may be important to include when bringing `gr.Interface.load()` to 3.x

[2022-05-17 21:27] abidlabs commented on #1316
Thanks for the catch and the heads up @apolinario! Will implement appropriately

[2022-05-17 23:17] Zengyf-CVer commented on #1303
When the output Dataframe defaults to 3 lines, it will make users think that there is an illusion of outputting empty lines.

[2022-05-17 23:22] abidlabs commented on #1303
Oh sorry I didn't read carefully. Going off of your comment @pngwn, what if we make the default # of rows be 0 or 1. We could do this for static dataframes only, but I don't see it being a problem for dynamic dataframes either (especially right now given that you can only add rows, not delete them).

[2022-05-18 01:37] radames opened #1318 "Dataset Component not exported?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Are we going to support the old `gr.components.Dataset`  as `gr.Dataset` I've noticed that it's not exported on the main [`__init__.py`](https://github.com/gradio-app/gradio/blob/main/gradio/__init__.py). But it's on the [documentation](https://gradio.app/docs/#dataset-header)

[code]

### Re

[2022-05-18 03:37] abidlabs commented on #1303
(sorry accidentally closed)

[2022-05-18 03:57] abidlabs commented on #1314
Thanks for the catch @atben123!

@pngwn I think we can put a tiny dataframe icon and label above the dataframe similar to how we do it for images, video, and so on.

[2022-05-18 04:02] abidlabs commented on #1203
Hi @stuartthomson and @biubiubiiu can you check if this issue is resolved using `gradio==3.0.2`? We've just released it today and it includes many fixes

[2022-05-18 04:04] abidlabs commented on #1271
@FarukOzderim would you be able to open an issue so we can discuss this in the course repo: https://github.com/huggingface/course

[2022-05-18 04:04] #1271 closed

[2022-05-18 04:05] abidlabs commented on #1206
Thanks for creating the issue @nganani. Should be fixed now with the release of `gradio==3.0.2`. All of our docs and library are now in sync.

[2022-05-18 04:05] #1206 closed

[2022-05-18 04:06] abidlabs commented on #1129
Should be fixed now with the release of `gradio==3.0.2`. Thanks @hjl for creating the issue!

[2022-05-18 04:06] #1129 closed

[2022-05-18 04:06] abidlabs commented on #1151
Did @FarukOzderim's suggestion above work for you @1nF0rmed?

[2022-05-18 04:08] abidlabs commented on #991
Hi @ZoRaFa you can now do this using the new Blocks API. The Blocks API allows you to have much more control over the API, as well as hide or show different components. Take a look at this guide for more info: https://www.gradio.app/introduction_to_blocks/

[2022-05-18 04:08] #991 closed

[2022-05-18 04:15] abidlabs commented on #220
This is now possible with `gradio==3.0.2`. Please take a look at an example demo here: https://github.com/gradio-app/gradio/blob/main/demo/stream_frames/run.py

[2022-05-18 04:15] #220 closed

[2022-05-18 06:40] jis478 opened #1320 "LaunchGradiofromSpaces doesn't work"
I've tried to use LaunchGradiofromSpaces  but it seems not working at the moment. Even this example (https://wandb.ai/akhaliq/jojogan/reports/JoJoGAN-One-Shot-Face-Stylization-with-W-B-and-Gradio---VmlldzoxNDMzNzgx) doesn't show the gradio panel.

[2022-05-18 06:50] ZoRaFa commented on #991
Thank you !

[2022-05-18 08:45] BioGeek opened #1322 "Linked colab notebook contains a typo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In the paragraph ["Hello World" with Blocks](https://www.gradio.app/introduction_to_blocks/#hello-world-with-blocks) there is a link to a [Colab Notebook](https://colab.research.google.com/drive/1n_uB44G_uENGf0zroeVKgcytFQ-7UwZt?usp=sharing). If you run that example you get an `AttributeError

[2022-05-18 09:37] JefferyChiang opened #1323 "The way to start or stop the Image component for wabcam streaming"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

related to #220
I tried the Image streaming function for webcam, and it can performed real time inference correctly.
I'm wondering is there a proper way to trigger start or stop the real time inference?

**Describe the solution you'd like**

Though I can use another

[2022-05-18 11:19] nbroad1881 opened #1325 "Try It Code Snippets in Predict API Docs (Copy-Pasteable)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The copy-paste code snippets in the "Try it (live demo)" section of the Predict API Docs are unusable because of the formatting.

Here are the python, curl, and js snippets copy-pasted (from https://hf.space/embed/akhaliq/FaceMesh/api)

(I deleted a lot of characters from the image string to

[2022-05-18 11:33] johnPertoft opened #1327 "When nesting `gr.Tabs()` the frontend becomes unresponsive"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I tried to create an app with nested `gr.Tabs()` but the frontend becomes unresponsive when clicking the outer tabs. If this is not intended to be supported it's not mentioned in the docs.

### Reproduction

Minimal example to reproduce:

[code]

When clicking the outer "BBB" tab, the ui beco

[2022-05-18 13:48] pngwn commented on #1320
I'm pretty sure that page is running a much older version of Gradio. I'm not sure why that would have stopped working all of a sudden.

[2022-05-18 16:19] BioGeek opened #1330 "Dead links"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

There are several dead links in this repository, see the list below (some of the results, like `http://localhost:7860/` are false positives).

### Reproduction

Install [markdown-link-check](https://github.com/tcort/markdown-link-check) and then run the command

[code]

It might be a good ide

[2022-05-18 16:38] leexinhao commented on #1203
I met the same problem using `gradio==3.0.2`, my os is windows11 and I 've tried Python3.9.7, Python3.7.13, Python3.7.0.

[2022-05-18 16:44] abdoul-Aziz-shara opened #1331 "Getting error when using gradio for ML image classification"
I did use gradio on image classification, It works for the past months.  And I have been trying to complete my ML senior year project by deploying it on gradio but I couldn't for the past 5 days. I desperately need this to work .   Please your help will be very much appreciated.

**Its pneumonia detection project( Normal or pneumonia):**

**Code:**
[code]

Error:
             Traceback (most recen

[2022-05-18 16:46] mahnerak opened #1332 "Audio Streaming broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It seems the new Audio component does not support audio streaming in live mode. The stream is sent only after you click stop.
But it does work on `gradio==2.9`.

### Reproduction

Install `gradio>3.0`.
Run any realtime audio app (say, https://huggingface.co/spaces/YSU/aspram-realtime/blob/mai

[2022-05-18 22:08] #1317 closed

[2022-05-18 22:13] abidlabs commented on #1317
Fixed now, thanks for the issue @fbadine. Should be out in the next release soon

[2022-05-18 22:14] #1314 closed

[2022-05-18 22:14] abidlabs commented on #1314
Fixed now, thanks for the issue @atben123. Should be out in the next release soon

[2022-05-18 22:20] #1327 closed

[2022-05-19 00:06] Zengyf-CVer opened #1335 "Load huggingface spaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

@abidlabs @pngwn

[code]

### Reproduction

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-05-19 01:55] freddyaboulton opened #1336 "gradio.Plot can't render plotly unless matplotlib.pyplot is imported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Unless you import matplotlib.pyplot in your app script, `Plot` will error out rendering plotly

### Reproduction

Repro:

[code]

However, this works:

[code]

![image](https://user-images.githubusercontent.com/41651716/169187171-c9d0deb2-5062-4d10-9ce3-67c2433d3aad.png)

### Screenshot

![im

[2022-05-19 04:24] abidlabs commented on #1336
Thanks for the catch @freddyaboulton! Will look into this

[2022-05-19 04:26] abidlabs commented on #1335
Thanks @Zengyf-CVer -- we are working on this issue. Let me close it since we will fix this as part of #1248

[2022-05-19 04:26] #1335 closed

[2022-05-19 04:28] abidlabs commented on #1331
Hi @abdoul-Aziz-shara the issue is that you are passing the input image as a file (since `type="file"`)

However, inside your function you are treating the image as an array. It should work if you instead change to `type="numpy"`

So in other words, make this line:
[code]

[code]

Please feel free to reopen if this does not solve the issue