[2022-10-05 17:27] visualinventor commented on #2391
This appears to be a known issue in returning anything over 2mg via Gradio. I just sidestepped the problem (to prove the issue) in the same Automatic1111/Stable Diffusion UI by making the image size very small (192x192) and doing a batch size of 2. The return was les than the Gradio threshhold of 2mg (mentioned here - https://pythontechworld.com/issue/gradio-app/gradio/2260). Because the response

[2022-10-05 17:33] fffiloni opened #2397 "fetching API endpoints on GPU HF instance return error 500"
I'm trying to fetch via javascript a block function through the API endpoint set to a specific button click event.
( `api_name = "my_api"` )

It works with a space running on CPU, but seems to not working on the space i use running on a GPU instance.

What can i do to allow access to the GPU instance?

[code]

here's the console response
[code]

[2022-10-05 17:47] visualinventor commented on #2391
Further down this path.
In looking this over it fails at exactly 2MB. I have success on the images being sent back at 1.9MB and up the increment in the ui by 1 and it fails at 2.1MB. It seems like there is a server **_post_size_max = 2MB_** that is keeping this from returning properly.

<img width="1061" alt="Screen Shot 2022-10-05 at 12 43 13 PM" src="https://user-images.githubusercontent.com/115

[2022-10-05 17:48] #2290 closed

[2022-10-05 17:53] fffiloni commented on #2397
@freddyaboulton I think not, because when i tried on another private space running on CPU, it worked fine.

[2022-10-05 18:01] fffiloni commented on #2397
@freddyaboulton here are the logs in HF Space after a call:

It seems to be a CUDA memory error.
I'm investigating ...

[code]

[2022-10-05 18:06] freddyaboulton commented on #2369
Hi @fffiloni ! I think I understand what's happening - the stable diffusion space is returning a path to a gallery. The images in the gallery are stored as files in that path. If you modify your function to return a list of the image files instead it works

[code]

![stable_diffusion_fn](https://user-images.githubusercontent.com/41651716/194130811-a7fd4c69-0cda-47e7-bb2d-052d6570ac8e.gif)

[2022-10-05 18:17] fffiloni commented on #2369
Ouh nice @freddyaboulton ! Yes it works !
Thank you very much for your time investigating ;)

[2022-10-05 18:17] #2369 closed

[2022-10-05 18:30] #2371 closed

[2022-10-05 20:52] lsternlicht commented on #2287
I only run into this issue when I select the "Take Photo or Video" option:
![image](https://user-images.githubusercontent.com/128432/194161130-ffbc72d8-82c6-4ff9-a05d-b900a5431972.png)

[2022-10-05 20:52] colelandolt33 commented on #1076
Hi @abidlabs , has there been any progress on implementing this feature?

[2022-10-05 21:00] abidlabs commented on #1076
Not yet! @dawoodkhan82 is this something you can take on?

@colelandolt33 can you tell us a little more about your use case so that we can make sure that it is supported by our implementation of this feature?

[2022-10-05 21:11] #1710 closed

[2022-10-05 21:24] colelandolt33 commented on #1076
I'm working on an application where the user inputs a dataset and selects columns to be used in an analysis. Currently the only way to allow the user to select multiple columns is by using `gr.CheckboxGroup`, but when there are hundreds of columns, this isn't very user friendly. I'm looking for a dropdown menu where the user can make multiple selections, very similar to this [Streamlit widget](htt

[2022-10-06 07:42] naba89 commented on #2120
Well, this issue is still there on version 3.4.1

[2022-10-06 10:03] fffiloni commented on #2397
@abidlabs @freddyaboulton

yeah i renamed it for example here, and to avoid spam eventually. But i can send you the details on mp if needed

[2022-10-06 11:15] snknitin commented on #2390
set `interactive=True` in `gr.Image(type="pil",interactive=True)`

[2022-10-06 12:04] fffiloni commented on #2397
Ok, so i investigated, and here are my observations:

Context: The space is a combination of tabbed blocks with different Stable Diffusion variations.
I need to use them via there own API endpoints to bind them to an animation app i'm crafting (will be hosted on HF)

1. What was causing the CUDA memory error, was the fact that i needed to convert the unsafe.png to a numpy array to then convert it

[2022-10-06 12:04] #2397 closed

[2022-10-06 14:21] pngwn commented on #2054
We could also resize images (maintaining dimensions) on the server if images are uploaded that are too large. Depends on the reason for setting `max` really. If it is because of model performance then it might make sense but if the wrangling of large images itself is a bottleneck, then blocking the upload + simple validation on the server makes more sense. We could also resize in the browser.

[2022-10-06 14:24] fffiloni commented on #2389
I think there is a problem related to iOS recording, and maybe the audio record output from iOS.

What make me think of this hint, is that while trying the [Whisper to Stable Diffusion](https://huggingface.co/spaces/fffiloni/whisper-to-stable-diffusion)  space ( supafast now thanks to @freddyaboulton ;) ) from iOS, Whisper is always off and returns default output such as « thank you » or « bye »

[2022-10-06 15:00] leszekhanusz commented on #2054
As an example, here is how it is done for the [automatic1111 fork of Stable Diffusion](https://github.com/AUTOMATIC1111/stable-diffusion-webui):

* The shape argument is not used
* You can define the width and height of the generated picture
* there is a `resize_mode` input which defines how to fix the aspect ratio with the following options:
  * `Just resize` which resize the image and potentiall

[2022-10-06 16:38] loboere commented on #2390
I don't know if this is necessary, but it seems like a button is needed, if I assign gr.Image to the button input, gr.Image is enabled for upload and drag and drop.
The button has an input, a function and an output, the input would be the image and the output would be a textbox.

example:
[code]

[2022-10-06 18:52] abidlabs commented on #1804
Thanks @mistycheney, that seems like reasonable default behavior to me, what do you think @pngwn?

[2022-10-06 18:53] abidlabs commented on #2120
Thanks @naba89 you're right, these haven't been removed from the docs yet. @aliabid94 can you please update the docs to show how to do this properly now?

[2022-10-06 22:05] YashenTaher opened #2404 "multiprocessing deactivates upon multiple calls"
### Describe the bug

My gradio page consists of a simple file upload and results to the right of it. User uploads a file and some of its text is extracted which is then fed into >50 different models (binary classifiers). The classification predictions of those models are then outputted as the results. I optimized the runtime of the model predictions  ten fold by having the models run their predic

[2022-10-06 23:33] abidlabs commented on #2379
Some ideas on the user-facing API:

1) We add a `pass_request` parameter to all event triggers and the `Interface` constructor that, if set to `True`, passes the FastAPI `Request` as the final argument to the function.

So something like:

[code]

Considerations:
* Simple to implement and easy for users to learn about this by looking at the parameters in an event trigger
* Requries adding a new pa

[2022-10-07 05:08] #2262 closed

[2022-10-07 07:43] radames commented on #2379
hi @abidlabs thanks for the quick design response on this.
I agree with you, option 2 is more transparent and also assumes the advance user knows FastApi is under the hood and knows about the `Request` object.

With type inference, do you still need to set `pass_request=True` onclick? or can you infer that the predict `fn` requires now the `Request` argument

[2022-10-07 08:50] vzakharov opened #2406 "Return both new value and a gr.update via dict?"
Hi, so gradio makes it possible to return values from an event_listener as a dict.

Say, I have a dropdown and I want to update both its current value and the list of available options. I understand that I can do it via a list, e.g.

[code]

But how do I do it if I want the update_list to return a dict? My guess is I can’t, but maybe I’m missing something?

If I’m correct, is there any other way t

[2022-10-07 09:27] Muennighoff opened #2407 "Freeze DataFrame columns"
- [x] I have searched to see if a similar issue already exists.

It'd be nice to freeze DataFrame columns / rows when scrolling horizontally / vertically.

For example on this space built with Gradio: https://huggingface.co/spaces/mteb/leaderboard , some tabs like Bitext Mining have lots of columns and I'm interested to compare the models performance on one of the columns. I need to scroll back ev

[2022-10-07 09:59] pngwn commented on #2407
Is the column you want to compare known at app creation time or would you like to toggle it on and off in the UI?

[2022-10-07 10:02] pngwn commented on #2406
You should be able to do:

[code]

[2022-10-07 10:15] Muennighoff commented on #2407
In my case, it is known at creation time 👍

[2022-10-07 10:48] vzakharov opened #2408 "UI (Blocks?) loaded event"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I would like to load input values from localStorage (or a local file) once the app is loaded.

**Describe the solution you'd like**
I could use the _js parameter (for localStorage) or a simple fn if there were a "Blocks.load" or a similar event handler.

**Additional

[2022-10-07 13:20] pngwn commented on #2408
Can you explain a little more about the usecase please? Why do you need to load the values from localstorage rather than from the server? IS this so you can persist the state locally on a per user basis?

[2022-10-07 14:20] pngwn commented on #1804
Yeah, that really should be the default, i kinda thought it was. Current behaviour feels like a bug.

[2022-10-07 14:32] #2065 closed

[2022-10-07 14:33] pngwn commented on #1070
We don't think this is the best way to handle this usecase as it provides little flexibility, will revisit.

[2022-10-07 14:33] #1070 closed

[2022-10-07 14:51] evanjs commented on #1590
It seems like #2265 does indeed resolve the issue, at least based on my testing
Thanks guys!

[2022-10-07 15:06] abidlabs commented on #2408
By the way @vzakharov, there is exactly such as a `Blocks.load()` method which accepts a `_js` parameter. Here's example usage:

[code]

It seems that we haven't documented this method, so we'll go ahead and add it to the documentation.

[2022-10-07 15:31] abidlabs commented on #2379
My bad, fixed in the code snippet. You won't need to!

[2022-10-07 16:03] vzakharov commented on #2408
@pngwn, right, loading it from the server is an option too. One way or another it seems to need a Blocks.load event, which I’m very happy actually exists 🙂 (thanks @abidlabs!)

[2022-10-07 16:57] ozdennis opened #2411 "Installation stuck"
![image](https://user-images.githubusercontent.com/115283714/194609840-c67ac694-0e35-459a-b877-845708006d2d.png)

try clear slate. sometimes got trough and got this error.
sometimes i'm stuck like this

![image](https://user-images.githubusercontent.com/115283714/194610699-2cdd9806-93ef-45f8-890c-866c67e57804.png)

the cmd not taking any resource, no progress and can't even CTRL+C to cancel. i hav

[2022-10-07 17:02] vzakharov opened #2412 "'active' parameter for Tab"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I have different tabs for different stages in the process, and I’d like the app to “remember” where the user is now.

**Describe the solution you'd like**
Seems like adding an 'active' parameter for a Tab will solve it, although it will be a bit cumbersome because you

[2022-10-07 17:05] abidlabs commented on #2411
Hi @ozdennis yes it looks like this issue should be posted on the Stable Diffusion Web UI repo, I think you are using this one: https://github.com/AUTOMATIC1111/stable-diffusion-webui

I'll go ahead and close this issue.

[2022-10-07 17:05] #2411 closed

[2022-10-07 17:09] abidlabs commented on #2412
Hi @vzakharov this possible by using the `TabItem.select()` event trigger. What you can do is once a tabitem is selected, you can store some value into a gradio `State`. And then you can use the state variable as inputs to your other functions.

Read more about state here: https://gradio.app/state_in_blocks/

If this solves your use case, feel free to close the issue. Otherwise, please add more de

[2022-10-07 17:49] altryne commented on #579
Found this, so will comment instead of opening a new one

Gradio docs have very bad DX for the way I work (open tab, google something, get result, close tab)

I can't ever search for anything specific on google, the only result is showing the main docs site.

The main docs site is VERY poor performance wise, so one has to wait until it loads, then until it's interactive (11 seconds), then try to a

[2022-10-07 18:21] #1711 closed

[2022-10-07 19:02] abidlabs opened #2414 "A high-level `gr.Panel()` abstraction for data science dashboards"
## Why?

To make it much easier for data scientists to get started with `gradio` to build dashboards.

## What?

A single-line, high-level abstraction that covers lots of data science use cases, similar to `gr.Interface()` for machine learning workflows.

Why isn't `gr.Interface()` good for dashboards?
* Dashboards typically *display* data, often without the need for users to interactively provide

[2022-10-07 19:04] abidlabs commented on #2414
Thoughts on this kind of workflow for data scientists @freddyaboulton @dawoodkhan82 @rajshah4 @aliabid94?

[2022-10-07 19:16] pngwn commented on #2414
How do we authenticate with the DB? In the case of static content like a CSV it isn't a huge issue but no one is leaving their databases open, especially when dealing with private internal data which is probably the most common usecase for dashboards.

[2022-10-07 19:16] freddyaboulton commented on #2414
Thanks for filing @abidlabs !

I was thinking about this when I was writing https://gradio.app/connecting_to_a_database/ but connecting to the database is the easy part and I think we should leave that part up to the developer. There's a lot of database drivers out there and for each db there are multiple drivers. I don't think gradio should have an opinion on how data is fetched from databases. I

[2022-10-07 19:18] pngwn commented on #2414
I'm personally a little confused as to how something so little configurability can solve dashboarding usecases. Most dashboarding tools come with a collosal number of options around how the data is visualised and how it can be filtered/ queried within the UI.

[2022-10-07 19:19] abidlabs commented on #2414
I've seen this [included in the DB connection URL](https://stackoverflow.com/questions/33854118/how-do-i-specify-the-password-in-the-mysql-connection-url), which is in this format: `mysql://<username>:<password>@<host>:<port>/<db_name>`.

[2022-10-07 19:22] abidlabs commented on #2414
I definitely agree we should be agnostic to the underlying database type, but I wonder if we can improve on the database drivers. Whenever I've worked with these database drivers in the past, it's been an absolute headache. Having to define a database connection, a cursor, etc. seems unnecessarily complex in order to get simple queries, but perhaps I'm missing something

[2022-10-07 19:22] abidlabs commented on #2414
This output (#3) is the part that I'm most unsure about!

[2022-10-07 19:34] vzakharov commented on #2412
What I need is not *store* the selected item, but *select* an item based on a certain stored value.

Say, you have tabs 'Training' and 'Inference'. The user first trains some model, then infers it. While the model isn't trained yet (say, stored status is 0), I want the Training tab to be open whenever the app is opened. But when the model is already trained (stored status is 1), I want the Inferen

[2022-10-07 19:40] abidlabs commented on #2412
Ah okay yes I don't think we currently support that. Out of curiosity, how would you get the stored status of the model?

[2022-10-07 19:41] pngwn commented on #2414
Would it be worth figuring out how we might build this with blocks and see what is missing etc while we discuss API and sensible abstractions and defaults?

[2022-10-07 19:43] abidlabs commented on #2414
100% agreed. Let's build some dashboards with Blocks first!

[2022-10-07 20:01] aliabd opened #2415 "Split Docs into multiple pages so they can be indexed by google"
A common workflow for users is to search the query on google, but then the results only lead to the docs page where they have to search the query again. It might be better to split the docs into multiple pages (which is not uncommon practice, for example: [tailwind](https://tailwindcss.com/docs), [huggingface](https://huggingface.co/docs/tokenizers)) so google can index them.

[2022-10-07 20:01] aliabd opened #2416 "Website docs performance needs serious improvement"
Right now the website loads very poorly, mostly because of all the embedded interfaces, but it needs serious optimization as it affects the workflow of users who quickly want to answer a question.

![194618587-ccebf8c2-20dc-4f66-9d3c-65c39f51b2e9](https://user-images.githubusercontent.com/9021060/194643278-eadbcffb-a2f1-40ac-abbc-599eed734342.jpeg)

[2022-10-07 20:02] aliabd commented on #579
This is extremely useful feedback @altryne so thanks for sharing! Especially helpful that you outlined your exact workflow. You're right that our performance on docs is really bad.

I opened these two issues to track this: https://github.com/gradio-app/gradio/issues/2416 and https://github.com/gradio-app/gradio/issues/2415 Feel free to add more feedback there, but I'll be going through this soon.

[2022-10-07 20:03] vzakharov commented on #2412
Via Blocks.load() and then either get it from the server or localStorage.

Currently the workaround I came up with is to use a group of Radios (indicating the stage) together with Boxes that become visible or hidden depending on the stage. Doesn’t look as neat but does the job.

[2022-10-07 21:36] pngwn commented on #2415
We need a full search solution before we can do this really because it breaks ctrl + f. I’m also not 100% certain it is necessary, I think most people will go to the Gradio site to search for Gradio solutions.

I think a full site search that searches docs and guides would be more valuable but is a prerequisite for this anyway really.

[2022-10-07 21:39] #2408 closed

[2022-10-07 22:17] pngwn commented on #2416
I think we should fix some of this in Gradio itself because other users will suffer some of this pain too (although we are embedding more demos than most).

[2022-10-07 23:52] vietnhatthai commented on #2039
I tried using jinja2 <= 3.0.3, it works well.

[2022-10-08 03:13] abidlabs commented on #2414
Perhaps better to do some more brainstorming internally before creating this issue. Let me close for now.

[2022-10-08 03:13] #2414 closed

[2022-10-08 13:11] joytianya opened #2417 "TypeError: Can't instantiate abstract class Carousel with abstract methods deserialize, serialize"
### Describe the bug

https://huggingface.co/spaces/marcelcastrobr/CLIP-image-search/blob/main/app.py

outputs=gr.outputs.Carousel(gr.outputs.Image(type="pil"))

error:
TypeError: Can't instantiate abstract class Carousel with abstract methods deserialize, serialize

what is the problem?

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https:/

[2022-10-08 15:33] HookedBehemoth opened #2418 "use next generation lossless image formats"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
For users hosting gradio for other users, bandwidth usage can be costly.

**Describe the solution you'd like**
Serving images in better lossless image formats like webp, avif and jpegxl would result in a significant drop in bandwidth usage (~20-30%). These saving coul

[2022-10-08 17:58] altryne opened #2419 "Identify the source of the change event (automatic, or manual upload) for video/audio components"
- [x ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Would like to be able to diffrentiate between a user initiated manual upload to a Video and an automatic value update from somewhere else

**Describe the solution you'd like**
Add a .upload event, that causes the .change event to have metadata for the upload.

**Addi

[2022-10-08 20:06] abidlabs commented on #2418
Thanks for the suggestion @HookedBehemoth! Let me tag @pngwn as I don't know that much about these lossless image formats, but I think it would be reasonable to provide this as an option in which to output images. We do something similar in the `Video` component, where we accept a `format` keyword, and the video is converted to that format. If you'd like to propose a PR to do something similar for

[2022-10-08 20:08] abidlabs commented on #2419
Thanks for creating the issue @altryne. Just to confirm, when you say

you mean if the `Video` component is being set as the output of some function, correct?

[2022-10-08 20:21] abidlabs commented on #2417
Hi @joytianya the `Carousel` class is basically deprecated (see #1252). We'll formally deprecate it soon.

What kind of data were you showing in the `Carousel`? If it was images, please consider using the `Gallery` component instead.

[2022-10-08 20:23] pngwn commented on #2419
Yeah. The change is fired when the user uploads some media but also when the component data is set via a predict function. There is currently no way to differentiate.

I actually think having a general change event is quite nice because many people don’t care how the data is set, they just want to know when it is but it would be good to have some way to differentiate.

[2022-10-08 20:59] altryne commented on #2419
Completely agree, I think change should work all the time.

But maybe an .upload event could be fired before so that I could save a reference somehow? Not sure if I overstep with implementation suggestions.

[2022-10-09 01:58] joytianya commented on #2417
yes, it was images, thank you~
 and for Gallery， can it be displayed in pagination?

[2022-10-09 02:08] joytianya commented on #2379
If this new feature can be used, please tell me, I try it, thank you very much!

[2022-10-09 04:15] Wang-Xiaodong1899 commented on #2283
**Can Gallery show the Gif files?**
I try to generate some videos and show them in GIF format. And I want to show them in a gallery, but it got error (I return the [gif path] to the gallery). If I use each gr.Image to show each gif, it works. I’m curious if there is a way to do this.

Thanks~

[2022-10-10 06:28] snknitin commented on #801
A download button could be a good signal to see if the user is satisfied with your model output. Functions as a feedback loop with labels that can help curate edge cases and retraining dataset . It could be an event listener to get metadata from the usage of the model. Is there a way to currently do this with the Blocks ? To create a download button or a clear button

[2022-10-10 11:27] ValentinKoch opened #2421 "Large input files freeze/crash the interface"
### Describe the bug

Hi, In my usecase a user uploads a rather large file (300-500mb) and it freezes the app for several seconds which makes for a very bad user experience. It happens after selecting a large file to a gradio File block. It freezes again when pressing a button that processes this data. Is there a way to circumvent this behaviour? It is running locally, as far as a I know are those

[2022-10-10 12:13] pngwn commented on #2421
Could you give some more info about what you'd like to do with these large files when you have them? How we handle the files that are loaded by users dictates what you can do with it.

I haven't looked into this too much but I'm guessing that this is happening because we load the file into memory, in full. If the file were bigger 1GB+ it would probably consistently crash the browser.

[2022-10-10 13:08] ValentinKoch commented on #2421
Also it takes very long until this file is uploaded, not sure if this is related. The demo i am doing will be used in a clinical study and speed really matters. Would be awesome if you could help me out there :) would be also happy to promote gradio in some way!

[2022-10-10 14:26] freddyaboulton opened #2422 "Programmatically run performance tests on queue"
As part of debugging why the queue is getting stuck (e.g. #2374 #2399 #2420 ) we've been running a benchmark script that tests how long the queue takes to process 1000 requests in a space that has image, audio, video, and text components.

We should enable devs to run these tests programmatically from github actions. Might be good to get in the habit of running these tests whenever we test a new q

[2022-10-10 14:33] pngwn commented on #2421
In this case we can (probably) chunk/ stream the data from the client without needing to store the whole thing in memory at any point. This would resolve the browser issues. I think it would still take a while to upload but maybe something else is going on that is slowing that down too.

The challenge is figuring out when to hold things in memory and when not to. There are only circumstance in whi

[2022-10-10 16:01] abidlabs commented on #2406
Hi @vzakharov were you able to get this to work in the @pngwn suggested?

[2022-10-10 16:03] abidlabs commented on #2391
Thank you so much for identifying the issue @visualinventor. This indeed is a known issue in `gradio` that we're taking a look at. We haven't found a solution for it yet, but we'll continue to look into it.

Closing as this issue is already referenced in #2260

[2022-10-10 16:06] abidlabs commented on #2342
Working for me, so will go ahead and close the issue. @ankrgyl feel free to reopen if you are still experiencing any bugs!

[2022-10-10 16:06] #2342 closed

[2022-10-10 16:07] abidlabs commented on #2349
I'll take a look at this!

[2022-10-10 16:15] vzakharov commented on #2406
Sorry, I've been traveling and couldn't give it a try, but I guess it would work! Do I understand it right that I can also use gr.update for dicts, e.g.
[code]
?

[2022-10-10 17:48] diegoakel commented on #1379
This would be super useful!

[2022-10-10 18:23] abidlabs commented on #2406
Yes, something like this should work:

[code]

[2022-10-10 18:55] Vanceagher opened #2424 "iOS 16 keyboard lag when inputting text after generating"
Whenever I use a Gradio interface on my iPhone the input box for text lags my keyboard but this only happens after generating something, and reloading the page fixes it. I am not sure what might be causing this, it has happened on HuggingFace and even my own hosted interfaces and I have not seen anyone else mention this.

[2022-10-10 20:04] abidlabs commented on #2424
Hi @Vanceagher, indeed we haven't heard this feedback before. Can you provide a link to a Space where you're experiencing this? Also which iOS version?

[2022-10-10 21:10] Vanceagher commented on #2424
I cannot at the moment as I am using an interface that is being hosted on
my personal computer but I will try to find the issue somewhere on
HuggingFace and send it when I find it. I am on iOS 16.0.2 and using Safari.

On Mon, Oct 10, 2022 at 4:04 PM Abubakar Abid ***@***.***>
wrote:

[2022-10-10 22:33] pngwn commented on #2424
A sample repo that we can run locally would also be a good reproduction. Doesn't have to be a space.

[2022-10-11 01:43] PouriaRouzrokh opened #2425 "Mask object is not returned for an image with color-sketch=True"
### Describe the bug

Hi.

According to the docs for the "image" component, a {dict} with keys `image` and `mask` should be passed as the input of the component if the "sketch" tool is selected. Naturally, the users should expect the same behavior when the "color-sketch" tool is selected, but the component only returns a single image object instead of a dictionary.

### Is there an existing issue

[2022-10-11 03:27] joytianya commented on #2417
ok,  Is there any way to support the pagination?

[2022-10-11 07:12] tt0203 opened #2426 "How to use gr.Carousel and gradio.mount_gradio_app"
I can't find any example about gr.Carousel in https://gradio.app/docs/
When I read the documentation about the component, I found it.
https://github.com/gradio-app/gradio/blob/main/gradio/components.py
else,gradio.mount_gradio_app
About Routing Settings,I found that the official example cannot be run in the huggingface.
https://huggingface.co/spaces/changxin/test2/blob/main/app.py

[2022-10-11 07:35] pngwn commented on #2425
This isn't a bug, it is by design. We found that the most common usecase for color sketches was not as a separate image and mask but as a single composite image.

What is your usecase?

[2022-10-11 08:17] Vanceagher commented on #2424
The repo I am using and noticed the Gradient lag in is Stable Diffusion
WebUI
https://github.com/AUTOMATIC1111/stable-diffusion-webui

On Mon, Oct 10, 2022 at 6:33 PM pngwn ***@***.***> wrote:

[2022-10-11 09:36] MarkLambeNitro opened #2427 "mount_gradio_app causing reload loop"
### Describe the bug

Hello. I'm trying to run some apps using mount_gradio_app. When I go to that page it loads perfectly, but is stuck in a reload loop. In the network tab of the console the `/app_id` call is being made every ~500ms, it succeeds, gets the same ID returned, but keeps going.

I have a simple page showing at `/` (`read_main`) and this works correctly. It is only the sub-APIs that h

[2022-10-11 10:22] pngwn commented on #2427
It also does this whenever you run `gradio run.py` ('dev' mode) which makes debugging network requests difficult. It doesn't not cause any issue but it doesn't impair the developer experience. It also doesn't reliably reload the page, so I'm not sure how useful it actually is.

The dev mode functionality should be implemented with websockets rather than polling in this manner.

[2022-10-11 11:19] Ehplodor opened #2429 "node editor"
**Is your feature request related to a problem? Please describe.**
There is no "node editor" in gradio.

**Describe the solution you'd like**
A Blender-like node editor please. That would be useful in creating and sharing new user-defined pipelines

**Additional context**
Thank you

[2022-10-11 11:49] pngwn commented on #2366
@aliabid94 I can't reproduce this with `demo/webcam`, are you still seeing this behaviour and if so do you have more detailed reproduction instructions?

I do get a warning `File ended prematurely at pos. ...` but the file is processed successfully and the app works as expected.

[2022-10-11 12:45] pngwn commented on #1804
I can't reproduce this on `main` with the example code. I can also confirm that only webcam videos are mirrored nothing else.

https://user-images.githubusercontent.com/12937446/195094030-32702d67-2459-4a7b-bc63-3639c86c201f.mov

We have had multiple reports of this now though, so I'm not sure is happening.

[2022-10-11 13:15] pngwn opened #2430 "`Video(source="webcam")` doesn't work"
### Describe the bug

As per title. Surprised this hasn't been reported already, unless this is not reproducible.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

blocking all usage of gradio

[2022-10-11 13:20] pngwn commented on #2430
`"playable_video"` is not valid, maybe from before 3.0.

[2022-10-11 13:29] pngwn commented on #1590
Yep, I can also confirm this issue is no longer present. Thanks for testing @evanjs!

[2022-10-11 14:10] PouriaRouzrokh commented on #2425
Thank you for your quick reply. Well, our team has developed an inpainting algorithm which receives an input image, and a multi-channel mask. As the mask is multi-channel, then we need to feed it separately than the original image (like how the sketch tool work in gradio); yet this is not possible with the color-sketch tool.

[2022-10-11 14:32] freddyaboulton commented on #2426
Hi @tt0203 ! The Carousel component is deprecated. We will remove it shortly

 I can't open that `app.py` file you shared. You need to serve your app on port 7860 to host a gradio app on HF spaces though.

[2022-10-11 14:33] freddyaboulton commented on #2427
To close this issue, I think we need to make sure `mount_gradio_app` sets the dev mode to False (currently set to True by default and set to [False](https://github.com/gradio-app/gradio/blob/main/gradio/blocks.py#L468) on `launch`).

Reimplementing dev mode to not reload the page should be left to another issue.

[2022-10-11 14:50] freddyaboulton opened #2431 "Address developer feedback on CHANGELOG"
- [x] I have searched to see if a similar issue already exists.

We've received some feedback on the CHANGELOG workflow:
- Merge conflicts are kind of annoying.
- Too many subsections under each release. Hard to know where to put the line for the change.
- Weird to ask users to put their username and pr number in the CHANGELOG since that can technically be automatic.

**Describe the solution you'd

[2022-10-11 17:33] freddyaboulton commented on #2430
Is anyone else able to reproduce? The demo works for me 🤷‍♂️

![video_ffmpeg](https://user-images.githubusercontent.com/41651716/195160601-4f450e73-f8d0-4892-80a0-9fcd1f77c85f.gif)

[2022-10-11 17:36] freddyaboulton commented on #2430
I tried it with my macbook's built-in webcam and my cheap external webcam and both demos work for me.

[2022-10-11 18:21] pngwn commented on #2430
What version of ffmpeg?

[2022-10-11 18:22] pngwn commented on #2430
Also, a ghost seems to be using your computer. You might want to contact someone about that.

[2022-10-11 18:27] pngwn commented on #2425
Do you need each channel as a separate image or just a single image will all masks?

[2022-10-11 19:07] freddyaboulton commented on #2430
I'm on version 5.1.2!

Thanks for the heads-up, I know just the right people to call

![](https://media.giphy.com/media/11jGtzDu7Nh89a/giphy.gif)

[2022-10-11 21:34] aliabd opened #2432 "Better messaging/UI for a broken embedded demo"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently if an embedded gradio demo is broken it will just not show up at all on the page. Which is a bit jarring and confusing for users of the page. for example:

![Screen Shot 2022-10-11 at 2 32 39 PM](https://user-images.githubusercontent.com/9021060/195202522-36

[2022-10-11 22:27] abidlabs commented on #2430
Works for me as well @pngwn with an ancient ffmpeg -- version 4.4!

[2022-10-11 22:27] abidlabs commented on #2430
Works for me as well @pngwn with an ancient ffmpeg -- version 4.4! (Running on Windows)

[2022-10-12 03:51] #2338 closed

[2022-10-12 05:18] abidlabs commented on #2379
Hi @joytianya it is still in development, but I believe we'll have it out by the end of the week

[2022-10-12 06:43] abidlabs commented on #2429
Hi @Ehplodor I'm not familiar with Blender or a "node editor". Can you please provide a more detailed description of what you'd like to be able to do with Gradio?

[2022-10-12 07:24] abidlabs commented on #2388
Is still an issue @loboere? If not, I’ll close

[2022-10-12 12:34] joytianya opened #2439 "Can you support the default text or image in textbox and gallery?"
I want to fill in the default text or images in the Gradio APP. Does the current interface support this implementation? If not, can you support it?

[2022-10-12 12:35] joytianya commented on #2379
ok, thank you ~

[2022-10-12 15:16] abidlabs commented on #2439
Hi @joytianya, as a larger remark, for specific questions like this, [GitHub Discussions](https://github.com/gradio-app/gradio/discussions) or [Discord](https://t.co/JKepTfXraQ) is a more suitable venue, as GitHub issues is for bugs and feature requests.

To answer your question, yes it is possible. For example, you could do something like:

[code]

[2022-10-12 15:16] #2439 closed

[2022-10-12 15:47] pngwn commented on #2429
Flow charty kind of thing:

![](https://blenderartists.org/uploads/default/original/4X/3/6/7/367730d8ebf527d9832845f6ec971738aaa73bf9.png)

[2022-10-12 15:59] pngwn opened #2441 "Handle frontend gradio errors more gracefully"
### Describe the bug

Currently if a gradio app experiences a runtime error the app will crash as will everything else on that page. If the gradio app is embedded on a large page (with its own javascript), then that page will also fail in such a way that is unrecoverable. The only solution is a full page reload, although this is not always apparent to the end user.

This is only really true for ce

[2022-10-12 15:59] pngwn commented on #2432
We need handle errors better in order to do this (i think) because we need to know _when_ to show such a message. related to #2441

[2022-10-12 16:03] pngwn opened #2442 "Various performance issues"
### Describe the bug

Some frontend perf issue are seriously degrading the gradio experience. Problems range from things just being a bit massive to infra that needs improving and other stuff.

This is pretty bad, some of it is very hard to workaround.

Bit of a dump, will cleanup later, might split into other issue but want to track for now.

### infra
- Serve assets via CDN
- compress assets

##

[2022-10-12 16:14] ValentinKoch commented on #2421
any feedback on this @pngwn ?

[2022-10-12 16:34] freddyaboulton commented on #2431
Additional comment from @pngwn - Let's have the CHANGELOG only reflect changes that impact library users. If we want to track changes to the repo we'd need a separate changelog.

[2022-10-12 16:37] #2417 closed

[2022-10-12 16:38] #2426 closed

[2022-10-12 18:19] vzakharov opened #2443 "return ValueError instead of raise ValueError in convert_component_list_to_dict ?"
### Describe the bug

I’m not much aware of how this code works, but it seems like “raise” would make more sense here rather than “return”? Esp. given that it is used just below in the elif part?

![image](https://user-images.githubusercontent.com/188197/195418366-7189487d-c123-4374-b66d-b0a5185ab176.png)

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Rep

[2022-10-12 18:27] shahbuland opened #2444 "Input in HighlightedText"
- [*] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As it stands highlighted text can only be used for output (i.e. in case of demonstrating a NER model). There could be a lot of use to adding interactivity to it. i.e. allowing users to highlight text and add labels/comments to it (similar to inline comments in a googl

[2022-10-12 18:41] abidlabs commented on #2444
Hi @shahbuland thanks for creating the issue! We've talked a little bit about this internally but haven't had a chance to implement. I do think this would be a good addition to the library to work on in the next few weeks. @dawoodkhan82 thoughts on this?

[2022-10-12 18:42] abidlabs commented on #2443
Hi @vzakharov you are right! Nice catch -- would you like to open a PR to fix this?

[2022-10-12 19:06] vzakharov commented on #2443
Just did. It’s embarrassing, but it’s my first PR ever (I’ve only ever written code alone), so sorry if I messed something up! (And I think I did, skipping all the details requested when submitting it.)

[2022-10-12 19:37] abidlabs commented on #2443
Woohoo! Congrats on your first PR :)

It looks great, I just added a line in our changelog to credit you with the changes. The only thing I might have done differently is add a new test to our test suite to ensure that your change doesn't accidentally get reverted in the future. But it's not too critical for a small fix like this. All of the other tests in the test suite pass so you're good there!

[2022-10-12 19:38] #2443 closed

[2022-10-12 19:39] swamiviv opened #2446 "[Feature question] Can my model output a set of intervals (or sliders)?"
I have a ML model that outputs an image + interval of values on the real line given an input image. For eg: If X is an input, the output might be (Y, [-0.5, 0.5]), where Y is another image.

Is there a way to visualize this output as an image-slider combo in gradio ?

The expected output is then that the user gets the control of the slider, and when they interact with it, the output Y changes acco

[2022-10-12 19:56] gabrielhuang opened #2447 "Can't run gradio on M1"
### Describe the bug

I can't import gradio. Installed Python 3.9.12 using Miniconda on Mac M1.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

blocking all usage of gradio

[2022-10-12 19:59] freddyaboulton commented on #2447
Hi @gabrielhuang ! Thanks for filing. Sorry about that. This is strange because I'm running a 3.9 conda env and can install gradio without a problem. Have you tried in a fresh environment?

[2022-10-12 20:03] freddyaboulton commented on #2431
Spoke to @pngwn today about V2 of the changelog. The proposal is to use changesets.

# Advantages
Before explaining how it would work for our repo, here are the advantages of this approach:

- No more merge conflicts as users edit independent files
- Version bumps are done automatically. This ensures we properly follow semver and eliminates human error from the release process.

# How it would wor

[2022-10-12 20:16] Ehplodor commented on #2429
Thank you @pngwn for the screen capture.

Blender node editor : https://docs.blender.org/manual/en/2.79/editors/node_editor/introduction.html

See also https://github.com/paceholder/nodeeditor for a similar although different implementation of node edition (leaning more toward computations in the examples)

More for programming & machine learning : https://nodered.org/

[2022-10-12 20:21] gabrielhuang commented on #2447
Yes I have tried again. But it turns out I had issues even with running jupyter notebook. I solved/worked around the issue by uninstalling the M1 python and using the Intel version of miniconda python on a Rosetta terminal (by checking the [ ]Run in rosetta box).

[2022-10-12 20:22] gabrielhuang commented on #2447
I'm curious, are you able to make it work natively on the arm architecture?

[2022-10-12 20:24] abidlabs commented on #2431
Amazing, this looks great! I like the formatting of the changeset file. Just a couple of questions:

* Do all of the previous changetset files get deleted in Step 5?
* Would it be possible to generate a "blank" changeset file automatically when someone opens up a PR? I don't know if it's good practice for a CI action to modify the contents of a PR, but it would be really nice QoL enhancement if I

[2022-10-12 20:27] abidlabs commented on #2446
Hmm interesting. Currently, we don't support "ranges", we only have individual sliders.

What about using two sliders, one to represent the "min" and the other to represent the "max"? If either of them change, it would be possible to trigger a rerun of the output.

[2022-10-12 20:48] #2349 closed

[2022-10-12 21:31] dawoodkhan82 opened #2449 "Add blur event trigger for textbox and number components"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the featur

[2022-10-12 22:03] aliabd opened #2450 "Embedded components on docs not always interactive"
On the docs we embed components so that users can see and interact with them right on the page. But there are now some issues  where the interactivity and behaviour is off. For example [radio](https://gradio.app/docs/#radio) doesn't let you click on anything, and [image](https://gradio.app/docs/#image) isn't interactive at all, and many of the rest have issues.

This has nothing to do with the emb

[2022-10-12 22:41] freddyaboulton commented on #2447
Glad you found a fix! I am not using Rosetta terminal and I think I got it working on arm. This is the output of conda info for me

[code]

[2022-10-12 23:00] fffiloni commented on #2446
@swamiviv would you take time to draw a schema about what you do expect as an output ?

I tried to figure out what you described, but i think a sketch ✍️ could be a good starter point to think about your need :)

[2022-10-13 01:54] yuanqing-wang opened #2451 "Image within dataframe"
- [x ] I have searched to see if a similar issue already exists.

Greetings,

Would it be possible to display images within dataframe? For example, if one entires a url in one column and the other column would be the corresponding image?

Many thanks,

[2022-10-13 02:19] abidlabs commented on #2451
Hi @yuanqing-wang, yes this is supported by setting the `datatype` parameter of the `gr.Dataframe()` component. If you set it to `markdown`, you can embed images using standard markdown notation.

Here is an example:

[code]

which produces the following:

<img width="620" alt="image" src="https://user-images.githubusercontent.com/1778297/195483638-47670d92-31b1-4700-b629-d9ae71c5b46b.png">

Feel

[2022-10-13 02:39] yuanqing-wang commented on #2451
this looks great. thanks so much!

[2022-10-13 02:39] #2451 closed

[2022-10-13 03:22] xiaol opened #2452 "API call not stack with the queue from the website."
### Describe the bug

I have a website about 5k DAU ,and api call from another service through api doc , i can see from console these api from another service jump queue and process immediately.

Is this supposed behavior or a bug?how can i fix this ?

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

call api when there is a queue in  website :

[2022-10-13 03:39] xiaol commented on #340
Hi,  i use a image as a inference input, this would be very smooth for user experience.how can i help this to be done?

[2022-10-13 03:53] #2449 closed

[2022-10-13 14:26] swamiviv commented on #2446
Hi @fffiloni and @abidlabs ! thanks for a quick response and sorry about the delay on my side. I am attaching a schema here:

![slider_output_schema](https://user-images.githubusercontent.com/6654072/195623572-744fad36-c5db-4aaa-81c9-7aa0c09c1ede.png)

1. Given an image, f1 outputs several ranges, I am representing each by a slider.
2. The user then "interacts" with the slider, essentially picking

[2022-10-13 14:45] fffiloni commented on #2446
Thank you @swamiviv now i understand much better !

Let me think about it when i have time, but what i would recommend is that each time the slider value change, you can then call the gradio API to generate a new iteration.

I think your needs goes beyond the purpose of what gradio can be useful for.

You have to think out of the box, on how to use gradio, and gradio apis in particular, to create

[2022-10-13 15:12] freddyaboulton commented on #2447
Going to close for now since you found a workaround. Thank you @gabrielhuang ! Let us know if you have any other questions.

[2022-10-13 15:12] #2447 closed

[2022-10-13 15:31] freddyaboulton commented on #2431
Thanks @abidlabs ! I agree having a pre-generated changeset would be nice QoL but I can't think of a way to do it that doesn't involve pushing commits to the branch from CI. Probably going to leave it out of scope for now.

[2022-10-14 03:03] #1792 closed

[2022-10-14 05:41] abidlabs commented on #2432
Potentially related: https://github.com/gradio-app/gradio/issues/1957

[2022-10-14 05:43] abidlabs commented on #2452
Hi @xiaol can you please provide a link your website and/or code to your demo so that we can try to reproduce this issue?

And one question -- have you enabled the queue for your demo? This should not happen if you have enabled the queue

[2022-10-14 05:44] abidlabs commented on #2404
Hi @YashenTaher can you please share the code to your demo (or a minimal example with this issue) so that we can reproduce?

[2022-10-14 05:50] abidlabs commented on #2446
Hi @swamiviv this is pretty much possible except for the fact that we don't accept ranges in Slider, so you'd have to have separate Sliders for minimum and maximum. Here's a simple example to get you going:

[code]

which produces this:

<img width="578" alt="image" src="https://user-images.githubusercontent.com/1778297/195771927-d3321c19-6cc8-4768-93e5-4848622945dd.png">

[2022-10-14 05:50] abidlabs commented on #2446
Feel free to close if this answers your question or let us know if we can help in any other way!

[2022-10-14 05:51] abidlabs commented on #2406
Going to go ahead and close this as the above solution works for me. @vzakharov feel free to reopen if it doesn't work for you!

[2022-10-14 05:51] #2406 closed

[2022-10-14 05:51] #2388 closed

[2022-10-14 05:53] abidlabs commented on #2152
Fixed now due to #2291, thanks for reporting @AK391!

[2022-10-14 05:53] #2152 closed

[2022-10-14 05:54] abidlabs commented on #2029
Hi @mustafalhamadsa would you still be interested in implementing a `DatePicker` component?

[2022-10-14 05:56] abidlabs commented on #1993
I this this was meant to be closed as part of #2402 @dawoodkhan82? It might potentially make sense to another Guide on Plots but we can probably close this for now, wdyt?

[2022-10-14 10:43] pngwn commented on #2029
Sorry I meant to follow up on this and forgot. Will add some notes soon.

[2022-10-14 11:47] jyotiyadav94 opened #2458 "Does gradio support xml output ?"
I was looking through the gradio documentation I couldn't find an example for XML output for radio
I ould like to know if it supports XML based output

[2022-10-14 13:09] pngwn commented on #2458
Not directly, no. Although it may be possible to do something more custom to get it working.

Just so we have the necessary context, can you explain your use-case in more detail please?

[2022-10-14 14:06] swamiviv commented on #2446
This is super helpful! Definitely answers my question. I am going to try it for my application and I will close this comment once I am able to get a working prototype. If I hit a roadblock, I will post subsequent queries in this thread. Thanks!

[2022-10-14 16:40] pngwn opened #2461 "timeseries cannot clear its data"
### Describe the bug

add modify upload buttons to timeseries

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

add modify upload buttons to timeseries

### Screenshot

add modify upload buttons to timeseries

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-10-14 16:42] dawoodkhan82 opened #2462 "Add Clear button to Timeseries"
### Describe the bug

Timeseries component has no way of clearing the uploaded chart.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

`blocks_output.py`

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-10-14 16:59] #2462 closed

[2022-10-14 17:09] freddyaboulton opened #2463 "What plot components should we implement?"
- [x] I have searched to see if a similar issue already exists.
This is a placeholder issue so we don't forget. The Gradio for DS milestone is taking shape and we still need to prioritize all the issues we've already filed.

**Is your feature request related to a problem? Please describe.**
Gradio developers can already create cool visualizations with the Plot component. See this interactive [map]

[2022-10-14 18:46] aliabd opened #2464 "No docs sidebar on mobile makes them really difficult to navigate"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
The docs are very difficult to use on mobile because there is no navigation menu.

**Describe the solution you'd like**
A way to pop the menu on and off as needed without cluttering the space.

**Additional context**
Cool example of docs that do that well: https://vit

[2022-10-14 18:46] zhengxiaoyao0716 opened #2465 "Allow users to define their own i18n (e.g. for button value text)"
### Describe the bug

See [Button.svelte#L14](https://github.com/gradio-app/gradio/blob/5e7cf62a478b2eeea8026d2e2ae94de7811b6504/ui/packages/app/src/components/Button/Button.svelte#L14), the value of the `Button` components has always try to translated by `svelte-i18n`, but I have not found the way to custom the locale dictionaries, that caused all the button value except defined under the `/ui/pa

[2022-10-14 19:06] pngwn commented on #2465
Is the issue here that you wish to get rid of the console logs or that you wish to set your own language definitions?

[2022-10-14 19:32] vzakharov commented on #2406
It does, and sorry for not closing it earlier!

[2022-10-14 19:34] vzakharov commented on #2066
@abidlabs , just curious, is dynamic component creation anywhere in the roadmap? Or would it be too much hassle for too little gain?

[2022-10-14 20:12] abidlabs commented on #2066
Given that it is possible to mimic this effect by toggling visibility, we haven't really discussed prioritizing this feature.

[2022-10-14 20:45] freddyaboulton commented on #2389
Glad to hear it's fixed for you @Pranjalya ! Let us know if you run into any other issues!

[2022-10-14 20:45] #2389 closed

[2022-10-14 21:07] #2277 closed

[2022-10-14 21:18] aliabd commented on #2450
Fixed by @pngwn in https://github.com/gradio-app/gradio/pull/2459 Thanks @pngwn!

[2022-10-14 21:18] #2450 closed

[2022-10-14 22:43] #2220 closed

[2022-10-15 00:24] #1993 closed

[2022-10-15 02:43] nttstar opened #2467 "To get client's IP address?"
Hi all,
  Is it possible to get the client's IP address in gradio app?

[2022-10-15 02:52] abidlabs commented on #2467
Thanks @nttstar -- it is not currently possible, but we are looking to make that possible as part of #2379. Let me close this issue here as it is a duplicate.

[2022-10-15 02:56] #2467 closed

[2022-10-15 03:02] abidlabs commented on #1804
For what its worth, I do get the flipping behavior running on Windows with ffmpeg version 4.4

<img width="961" alt="image" src="https://user-images.githubusercontent.com/1778297/195966062-9dc8e144-2ccb-4ffd-80a9-e14d8010397b.png">

[2022-10-15 03:03] abidlabs commented on #2366
@aliabid94 I can't reproduce either:

<img width="771" alt="image" src="https://user-images.githubusercontent.com/1778297/195966106-b0944003-69c3-4423-8fb7-11154cbc29de.png">

Do you have `ffmpeg` installed? Which version?

[2022-10-15 05:32] abidlabs commented on #2429
So just to understand, you're proposing a no-code UI to assemble Gradio apps?

[2022-10-15 05:33] abidlabs commented on #2393
Hi @lucifertrj are you still interested in contributing this guide?

[2022-10-15 07:27] Ehplodor commented on #2429
I believe you nailed it better than I could explain 👍 sorry I'm nonnative english speaker.

And such "pipeline" could be encapsulated and shared between users and itself integrated into a higher level pipeline. This would be killer feature IMHO.

Context : I Discovered gradio a few weeks ago thanks to the amazing repositories available using gradio. Lacking easily shareable user-defined gradio pip

[2022-10-15 13:25] lucifertrj commented on #2393
@abidlabs Yes I am

[2022-10-15 21:22] cpupower opened #2468 "File paths not properly escaped in /file route, causing RuntimeError (file does not exist)"
### Describe the bug

When files are served in the UI via temporary files, the path passed via the `path`/`file` parameter of the `/file` [route](https://github.com/gradio-app/gradio/blob/831ae1405f0f2cddf8d508775731eef39c5a09df/gradio/routes.py#L230) is not properly escaped for use in URLs.

This is for example an issue if a hash (`#`) is part of the path, which will cause the remaining string to

[2022-10-16 02:51] xiaol commented on #2452
sorry for this absurd information , website is here  https://ai-creator.net/aiart ,

and this is the launch code:
`    def run(self):
        loop = asyncio.new_event_loop()
        asyncio.set_event_loop(loop)
        gradio_params = {
            'inbrowser': opt.inbrowser,
            'server_name': '0.0.0.0',
            'server_port': opt.port,
            'share': opt.share,
            'sho

[2022-10-16 04:06] abidlabs commented on #2452
Thanks @xiaol -- one more thing, which version of `gradio` is this Space running? I think we've fixed this issue in the latest version of Gradio but this may have been a problem in earlier versions

[2022-10-16 08:08] leszekhanusz opened #2470 "Security: Using --share produce URLs which are way too easy to guess"
### Describe the bug

The URLs currently produced when using the share option are in the form `https://12345.gradio.app`

The numbers at the start are way too easy to guess, a malicious actor can easily try every combination of numbers to find a specific application and could [allow remote code execution](https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/2571) depending on the applica

[2022-10-16 08:38] zhengxiaoyao0716 commented on #2465
Set custom language definitions feels better, but it means maybe we should make all components used `sevlte-i18n` to show the custom values, not only the `Button` component.

[2022-10-16 12:23] abidlabs commented on #2470
Thanks for reporting the issue @leszekhanusz, agreed about the seriousness of the issue, let us see if we can quickly fix it.

[2022-10-16 13:46] abidlabs commented on #1957
Increasingly seeing more websites which wrap Gradio Spaces, e.g.
* https://stablediffusionweb.com/
* https://ai-creator.net/aiart

It would be great if these embeddings had some way of redirecting people back to Spaces. (We could make this the default but allow people to turn off the frame if they need a minimalist embed), wdyt @aliabid94 @pngwn?

[2022-10-16 13:48] abidlabs commented on #2446
Hi @swamiviv I'd like to close this issue while you look into getting a working prototype since we can't work on this in the meantime. But feel free to reopen if you have other related questions!

[2022-10-16 13:52] abidlabs commented on #1240
The `Carousel` component has been officially deprecated.

[2022-10-16 13:52] #1240 closed

[2022-10-16 13:57] abidlabs commented on #2032
I don't think this is too important and am inclined to close the issue unless there are any objections, cc @aliabid94 @freddyaboulton?

[2022-10-16 15:45] xiaol commented on #2452
Yes, make a POST request to /api/predict endpoint , and this would slow the online users' queue, it gives a privilege to api reuquest. For some api it would be fine, but some should queue with the website users since everyone can make api request. Of course , it makes online service vulnerable, but i haven't firgure out how to deal with it.

Because  i wanna to charge and limit the api  ,maybe giv

[2022-10-16 16:11] freddyaboulton commented on #2452
Hi @xiaol !

Yes it’s true that the backend api is open when the queue is enabled, allowing some users to “skip” the other ones.

One thing that I think we can implement in Gradio is to block all requests to the /api/ end point by default if the queue for that particular route is enabled. We can add an ‘open_routes’ parameter to the queue method so that ‘queue(open_routes=True)’ means the route is

[2022-10-16 18:28] vzakharov commented on #2066
This doesn’t quite work if there is an arbitrary number of components. For example, I’m building an “app” based on OpenAI Jukebox (music generation), and the model can return several audios. I currently “pre-create” (as you suggested) ten of dummy audio components, and show/hide them later on depending on how many outputs the model gives, but that doesn’t look quite optimal. (Not to mention that i

[2022-10-16 18:32] vzakharov opened #2471 "Pass in input parameters as a dict whose keys are all of the input components"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

When writing an event handler, I don’t always know in advance what kind of inputs it will need. For example, when generating music with OpenAI Jukebox, you need to obviously need to take “generation length” as an input, but you might also add other parameters down th

[2022-10-16 19:23] abidlabs commented on #2471
Hi @vzakharov thanks for the suggestion! cc @aliabid94 with regards to updating the Blocks API..

[2022-10-16 19:58] vzakharov commented on #2471
Just realized kwargs would make no sense (as how would you be able which
key corresponds to which component?). A better way would be to pass a dict
(perhaps named as _inputs), where keys are components themselves (and not
just strings).

[2022-10-16 20:15] ValentinKoch commented on #2421
or @abidlabs ? would be very much appreciated

[2022-10-16 20:35] ValentinKoch opened #2472 "Authentication doesnt work if the app is embedded in a frame"
### Describe the bug

Pretty self explanatory, everything is working fine when I embed the gradio app in a div element except the login, which fails without any error message to the console of the browser.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Any gradio app that has authentication and is embedded as follows:
[code]

### Screenshot

[2022-10-17 02:17] abidlabs commented on #2472
Thanks @ValentinKoch! @aliabid94 do you know if this is fixed by #2112?

[2022-10-17 02:22] abidlabs commented on #2066
Hi @vzakharov just to understand, why doesn't it look optimal? What would need to be changed for it to look better?

[2022-10-17 02:52] xiaol commented on #2452
I see, a switcher of api is fine.Middleware is a good practice ,great to know ,i'll work around it.

[2022-10-17 04:51] abidlabs commented on #2470
Hi @leszekhanusz we just pushed a change to how our links are generated so this issue should now be fixed across all versions of Gradio. I would appreciate if you can try it out and let us know if it works for you

[2022-10-17 04:51] abidlabs commented on #2255
Hi @salamanders we just pushed a change to how our links are generated so this issue should now be fixed across all versions of Gradio. I would appreciate if you can try it out and let us know if it works for you

[2022-10-17 07:22] leszekhanusz commented on #2470
Thanks for the quick reaction! I don't have access to my pc today, could someone else confirm it's fixed?

[2022-10-17 07:45] ValentinKoch commented on #2472
Should add that i am hosting on aws ec2 maybe :) if that changes things

[2022-10-17 13:33] pngwn opened #2473 "html and markdown don't have a loading indicator"
### Describe the bug

They should have the loading indicator

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

-

### Screenshot

-

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-10-17 13:37] pngwn commented on #1957
The iframe embed _is_ a web component embed too, everything uses the webcomponent whether it is wrapped in an iframe or not.

But yes to this, I'll take a look since I'm looking at the styling currently. Should be straightforward, we can disable it for spaces but enable it by default, so it appears when people are embedding elsewhere.

[2022-10-17 13:41] pngwn commented on #2429
Oh, I thought this was a component request.

This is definitely something we have discussed internally but obviously requires a lot of work.

More prior art:
- https://nodes.io/
- https://docs.unrealengine.com/5.0/en-US/blueprints-visual-scripting-in-unreal-engine/

[2022-10-17 13:43] pngwn commented on #1804
If someone who can reproduce this can pick it up, that would be good. I'm not seeing this behaviour. Not sure why.

The problem will be in the backend (in the pre/postprocessor) if it exists.

[2022-10-17 13:46] pngwn commented on #2430
Dunno whats going on with the webcam stuff, I'm getting wildly different behaviour to everyone else it seems.

[2022-10-17 15:02] freddyaboulton commented on #2032
Yea I'm good with closing this

[2022-10-17 15:55] freddyaboulton commented on #1804
I think I know what's happening. Will put up a PR today and tag you @pngwn !

[2022-10-17 16:59] abidlabs commented on #1804
How do you debug these mysterious issues @freddyaboulton  👀

[2022-10-17 16:59] #2032 closed

[2022-10-17 18:10] mezotaken opened #2476 "Using the "x" button opens file load dialog automatically."
### Describe the bug

User clicks "x" button on loaded image -> Element is cleared, then load dialog pops up, the usual one for this ui element when clicked while it is empty.
If this dialog is cancelled then the element can be used as usual, else it becomes impossible to load any image until after page reload. Drag&Drop use fixes it though. Obviously this dialog shouldnt open in the first place.

[2022-10-17 18:54] Susensio commented on #818
@rizkidewanto how can i set the device? is it a chome setting? system?

[2022-10-17 21:00] #1985 closed

[2022-10-17 21:00] #2473 closed

[2022-10-18 03:01] abidlabs commented on #2476
Can confirm the problem! @dawoodkhan82 would you be able to take a look?

[2022-10-18 03:08] abidlabs opened #2479 "Expose `js` parameter and add it to documentation"
Currently, all `gradio.Blocks` event triggers include a special `_js` parameter that is used within the library for things like the Clear button in a `gradio.Interface`. We don't really have any docs around it since it is not intended for public use. However, there is growing interest in using it (for example, e.g. it allows #2173), so I think we should rename it to `js` and expose it as a regular

[2022-10-18 05:13] amrrs commented on #2470
@abidlabs It's working fine
![image](https://user-images.githubusercontent.com/5347322/196341101-1e3e9373-e214-4e34-9bc1-4964cfe8959a.png)

[2022-10-18 05:18] abidlabs commented on #2470
Great! I’ll go ahead and close the issue then

[2022-10-18 05:18] #2470 closed

[2022-10-18 05:19] abidlabs commented on #2255
Seems like everything is working so let me go ahead and close

[2022-10-18 05:19] #2255 closed

[2022-10-18 05:20] #2446 closed

[2022-10-18 06:48] Ehplodor commented on #2429
A relevant promising (IMHO) current project based on Stable Diffusion : https://github.com/AUTOMATIC1111/stable-diffusion-webui/discussions/2028

[2022-10-18 12:54] vzakharov opened #2483 "Lazy change for input components"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I want to save app settings whenever an input is changed, but invoking the `change` event handler will cause it to run every time I enter a character in an input box. Using `submit` won’t work either because it is only invoked on clicking Enter.

**Describe the soluti

[2022-10-18 12:55] vzakharov commented on #2066
Well, first of all you never know how many outputs there will be. It can be 10 or it can be 100. Second, the very code for hiding/unhiding certain components based on the number of outputs (and assigning each component to a specific output) is bulky and unsexy 🙂

[2022-10-18 13:31] vzakharov commented on #2483
My bad, thank you!

[2022-10-18 13:31] #2483 closed

[2022-10-18 13:35] vzakharov opened #2484 "Make render() return self"
Not a big deal, but when I create an output before rendering it as described [here](https://www.gradio.app/controlling_layout/#defining-and-rendering-components-separately), it would be handy if I could chain further event handlers with it, e.g.

[code]

Currently `render` does not seem to return any value, so it wouldn’t be that much of a hassle to add `return self` in the end.

[2022-10-18 13:42] mxi-box opened #2485 "misuse display_file_name to fill the "download" attribute in template"
### Describe the bug

The _download_ attribute of _a_ element is used to provide browser with the filename. However the _display_file_name_ called here will truncate the filename longer than 30 characters, which caused broken name suffix.

A workaround is using shorter file name.

https://github.com/gradio-app/gradio/blob/f79a76ca8f6e081310c01c7cd8b2b3c13eb0c0b0/ui/packages/file/src/File.svelte#L3

[2022-10-18 15:07] #1804 closed

[2022-10-18 16:42] EmilyAlsentzer commented on #2209
+1 I'm also experiencing this issue

[2022-10-18 19:17] vzakharov opened #2489 "Docs on status tracking?"
I must be dumb, but I can’t find any info on how to use status tracking, neither in the Docs nor in Getting Started. Can you please point me to the right place?

[2022-10-18 19:20] abidlabs commented on #2489
When you say status tracking, do you mean the `StatusTracker` component or a more general concept?

[2022-10-18 19:22] abidlabs commented on #2485
Thanks for letting us know @mxi-box. @dawoodkhan82 would you be able to take a look into this?

[2022-10-18 19:22] vzakharov commented on #2489
Yes, so I have a button that, say, makes a generation. I want the user to see that the generation is in progress. (Currently, the UI just stays the same while the model is running.) I see that, for example, `button.click()` has a parameter called `status_tracker`. I’m assuming that’s what I need, but I’m not sure.

[2022-10-18 19:29] vzakharov commented on #2489
Oh, my output is of the `{ generation_box: gr.update( visible = True ) }` kind, so I’m assuming I’m not seeing it because it’s not visible until the generation is finished.

I will add a separate component for indication, but, just out of curiosity, what is the `status_tracker` parameter meant to do?

[2022-10-18 19:43] abidlabs commented on #2489
Got it, makes sense. Sooo I actually think the `status_tracker` parameter has been deprecated, but @aliabid94 should be able to confirm

[2022-10-18 19:44] abidlabs commented on #2066
Hmm interesting. We'll think about this!

[2022-10-18 19:45] vzakharov commented on #2489
I see. Have you seen `stable-diffusion-webui`? When the generation is
running, there is a progress bar showing the completion percentage. How do
they make this possible?

[2022-10-18 19:47] vzakharov commented on #2489
https://github.com/AUTOMATIC1111/stable-diffusion-webui

[2022-10-18 19:58] #2468 closed

[2022-10-18 20:03] #2173 closed

[2022-10-18 20:09] #2461 closed

[2022-10-18 20:12] #2427 closed

[2022-10-18 21:25] freddyaboulton opened #2496 "Event cancelling won't work if more than one block is rendered in the app"
### Describe the bug

If you have multiple independent blocks rendered in the same block, event cancelling will only work for the first block that's rendered.

The reason is that the event cancelling logic assumes the fn indices start at 0 but in the event of multiple apps being rendered, they need to be updated to start 1 after the last fn index that's been rendered.

### Is there an existing iss

[2022-10-19 08:38] songw commented on #2096
question still exist!
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/1639828/196640678-7625e273-4865-4477-85c8-993b105b00e7.png">

gradio's version is 3.5

[2022-10-19 14:04] freddyaboulton opened #2497 "Modify interfaces with generators so that submit button turns into stop button"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As of gradio 3.6, interfaces that use generators will automatically have a Stop button added. It would be nicer if the submit button turned into a stop button when you clicked it and the stop button automatically turned back into a submit button when the prediction fi

[2022-10-19 17:11] abidlabs commented on #2096
Hi @songw can you please share more information about the code & the browser and OS that you are running on when you get this issue?

[2022-10-19 17:32] dawoodkhan82 opened #2498 "Add support for images in chatbot component"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
To support the multimodal project, the demo requires support for something like the image below.

<img width="606" alt="Capture d’écran 2022-10-19 à 11 05 07 AM" src="https://

[2022-10-19 17:36] abidlabs commented on #2498
Cool! I suggest we support Markdown more generally?

[2022-10-19 18:00] abidlabs commented on #2498
Cool, yeah probably makes sense that people want to input an image more easily then typing out the Markdown for it

[2022-10-19 19:49] freddyaboulton opened #2500 "Improve whitespace of plotly plots"
### Describe the bug

When using Plotly plots, the box has a lot of whitespace around it which looks awkward.

[Space](https://huggingface.co/spaces/freddyaboulton/repository-statistics)
<img width="1412" alt="image" src="https://user-images.githubusercontent.com/41651716/196788589-9bc7c3f4-9a01-409f-9b79-6bd2dca4bfb0.png">

[Space](https://huggingface.co/spaces/dawood/NYC-Airbnb-Map)
<img width="

[2022-10-19 20:05] merveenoyan opened #2501 "Raise which Space is erroring out when calling inference from a Space"
I'm trying to put Spaces in `Series` and `Interface.load()`. At some point it errors out and inference is quite long. It would be very nice if when `debug` is set to `True` the error output could include which Space/model errors out [here](https://github.com/gradio-app/gradio/blob/9840e87e829062246808fc130dd05b4b2176ee7f/gradio/external.py#L482) for easier debugging.

Reproduction:
[code]
The log:

[2022-10-19 21:16] freddyaboulton opened #2503 "Modify lint check to fail when there are unused imports in the backend"
- [ ] I have searched to see if a similar issue already exists.

There are some unused imports in the backend. We should modify `format_backend.sh` to automatically remove them.

We should also consolidate the linting code in `ci` into a single script in the `scripts` directory.

[2022-10-19 21:25] abidlabs opened #2504 "Output images are converted to square images and aspect ratio is distorted"
### Describe the bug

It seems that in some Spaces, the output images are forced to be squares and this distorts the width/height ratio of the image

E.g. https://twitter.com/osanseviero/status/1582823250832211968

<img width="298" alt="image" src="https://user-images.githubusercontent.com/1778297/196807635-bcb3f6e2-fb9d-4f09-a0af-58748583d77e.png">

### Is there an existing issue for this?

- [X]

[2022-10-19 21:29] freddyaboulton commented on #2504
Wonder if it's cause of the `style` on the output Image: https://huggingface.co/spaces/runwayml/stable-diffusion-inpainting/blob/main/app.py#L75

[2022-10-19 21:34] osanseviero commented on #2504
In this same space having some weird issue with the image being cut by half

![Screenshot from 2022-10-19 23-33-43](https://user-images.githubusercontent.com/7246357/196809036-dbf90c3d-1982-45d2-b482-b06fc6ac0efb.png)

[2022-10-20 00:18] Raul9595 commented on #2484
Hi, can I take this up?

[2022-10-20 00:59] abidlabs commented on #2484
Hi @Raul9595 sure thing! Let us know if you have any questions as you contribute

[2022-10-20 01:07] songw commented on #2096
detailed code is as follow：
<img width="857" alt="image" src="https://user-images.githubusercontent.com/1639828/196832031-668be684-f341-4569-b64c-b9dc3820d1f1.png">

browser is chrome。

OS is linux。

if visit via ip+port, it’s ok。
if visit via hostname, it will generate above question.

[2022-10-20 02:59] aliabd commented on #1783
Closing this issue because [PR 2281](https://github.com/gradio-app/gradio/pull/2281) removed` map_demos.py`. All demos in `/demos` are now uploaded to spaces. And `generate_documentation` is used for figuring out which to embed. (in `docs/__init__.py`)

[2022-10-20 02:59] #1783 closed

[2022-10-20 11:11] Tetsujinfr commented on #1224
I have tried to downgrade to 2.9.4 and to many other earlier versions, but they all call cloudflare.com or googletagmanager.com etc.

The only version which was not calling external resources was like 0.8 or earlier even. But it did not render the demo code properly anyway.
A shame that you need an internet connection to render a web UI, but hopefully you guys can work around this, unless it is a

[2022-10-20 12:09] pngwn commented on #1224
There is an open issue for this which we will address as part of the current theming work. #1450

It is a bit tricky due to how some assets are loaded in but we at least want gradio to _mostly_ work without an internet connection.

[2022-10-20 16:19] cmccomb commented on #2498
Markdown support for the chatbot component would be AWESOME!

[2022-10-20 17:10] muellerzr opened #2506 "Gradio page is infinitely large in Firefox"
### Describe the bug

When opening a Gradio space, the webpage is infinitely large. This is not the case with streamlit

![image](https://user-images.githubusercontent.com/7831895/197014168-960df7b3-4d9b-4463-9b2f-fe923423fc1b.png)

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Try opening https://huggingface.co/spaces/pharma/CLIP-Interrogat

[2022-10-21 00:47] #2506 closed

[2022-10-21 03:55] chamk21 commented on #1193
I came across this error when running a gradio application and I had demo.launch(share=True, show_error=True). For some reason, it kept saying "*** Failed to connect to ec2.gradio.app:22: [Errno None] Unable to connect to port 22 on 35.160.54.199". Therefore I just changed it to demo.launch() and it works fine.

[2022-10-21 03:56] chamk21 commented on #1193
I came across this error when running a gradio application and I had demo.launch(share=True, show_error=True). For some reason, it kept saying "*** Failed to connect to ec2.gradio.app:22: [Errno None] Unable to connect to port 22". Therefore I just changed it to demo.launch() and it works fine.

[2022-10-21 11:15] yuanjie-ai opened #2510 "How to hide gradio-flag"
![image](https://user-images.githubusercontent.com/20265321/197183333-198f490a-e368-4e0b-832f-0504e703b849.png)

[2022-10-21 11:56] IsraelAbebe opened #2511 "How to control click and submit action buttons"
I have huggingfce space as shown below and I want someone to drow what is shown in the label and return result in the output.

it works for one pass and to redo the process I wanted to click clear button so it would clear the sketchpad and reload the label to show other stuff based on the function I have?

how can I control the action of clear button/

[code]

![image](https://user-images.githubus

[2022-10-21 15:07] abidlabs commented on #2511
Hi @IsraelAbebe to have more fine-grained control over the action of buttons, you should use the lower-level `Blocks` API, as described here: https://gradio.app/blocks_and_event_listeners/

Since this is neither a bug report or a feature request, I'll go ahead and close this issue. For open-ended questions like this, please use our [Forums ](https://discuss.huggingface.co/c/gradio/26) or [Discord]

[2022-10-21 15:07] #2511 closed

[2022-10-21 15:09] abidlabs commented on #2510
It looks like you mean the footer. You can do this by supplying custom CSS to the `css` parameter in `gradio.Blocks()` or `gradio.Interface()`. Something like: `footer{display:none !important}` should work.

[2022-10-21 15:09] #2510 closed

[2022-10-22 02:18] joytianya commented on #2379
is this new feature support?

[2022-10-22 02:58] abidlabs commented on #2379
Not yet, I expect we will release it in 1-2 weeks!

[2022-10-22 04:09] abidlabs commented on #2501
Thanks @merveenoyan, that makes sense, we can improve the error logging here

[2022-10-22 16:12] olmerg commented on #818
maybe it can help
[medium](https://itnext.io/building-a-camera-app-in-typescript-f1981f5ce960)
[change facing mode](https://github.com/kenreilly/typescript-photo-booth/blob/master/src/photobooth.ts#L44) in  [webcam front end](https://github.com/gradio-app/gradio/blob/main/ui/packages/image/src/Webcam.svelte#L5)

[2022-10-23 09:26] konam20513 opened #2515 "Taking folder as input"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I could not find an option to input the images folder for bulk image identification to get their statistics.

**Describe the solution you'd like**
Adding taking folder as an input option.

[2022-10-23 12:33] abidlabs commented on #2515
Hi @konam20513, in order to do upload a directory of images, please use the `File` component with `file_count` set to `directory`. Read more about the `File` component here: https://gradio.app/docs/#file

[2022-10-23 12:33] #2515 closed

[2022-10-23 12:59] #2484 closed

[2022-10-23 19:15] leszekhanusz commented on #2472
Could be related to #2266, probably a CORS issue.

[2022-10-24 14:40] pngwn commented on #2504
The bug that @abidlabs is reporting here doesn't look like a bug at all. This isn't a styling issue, the actual image is distorted.

The author of this app has not constrained the image input to a square (https://huggingface.co/spaces/runwayml/stable-diffusion-inpainting/blob/main/app.py#L66) and then resizes to a square without cropping at all, which is expected to squash the image (https://huggi

[2022-10-24 14:50] pngwn commented on #2500
If it is possible to fix this, it will have to be done within plotly itself. Maybe we can give it some config to render differently. It can't be fixed with CSS at least, and definitely not on the gradio side:
<img width="1319" alt="Screenshot 2022-10-24 at 15 48 40" src="https://user-images.githubusercontent.com/12937446/197556042-0722e3a9-537f-4c7d-9348-2983c7e7e8fe.png">

[2022-10-24 15:13] #1692 closed

[2022-10-24 16:47] freddyaboulton opened #2516 "Add a Python client to make it easy to connect to hosted Gradio apps & respect the queue"
- [x] I have searched to see if a similar issue already exists.

As we make the queue the primary way of connecting with gradio apps programmatically, we should offer developers a friendly client that lets them connect to `queue/join` and get the websocket messages.

This will make it easy for developers to treat gradio/spaces as a backend in their apps without worrying about the low-level details

[2022-10-24 17:23] Starhkz commented on #466
I recently started using gradio, and it's been really helpful.  My major challenge is reducing the brush size. Fortunately the issue was mentioned earlier.
Are there any updates on any of these?

[2022-10-24 17:36] abidlabs opened #2517 "Make it possible to restrict prediction request to come from the same domain where the server is running"
It would be nice if a user could set a flag to only allow prediction requests to come from the same domain as where the web server is running. In particular, if a user is hosting their model on Spaces, they may only want requests to come from other Spaces.

Internal discussion: https://huggingface.slack.com/archives/C02136Y252P/p1666630955157749?thread_ts=1666447456.974249&cid=C02136Y252P

cc @fre

[2022-10-24 20:53] aliabid94 commented on #2471
Looking into this!

[2022-10-24 23:33] #1597 closed

[2022-10-24 23:54] TashaSkyUp commented on #2471
I feel like being able to pass the input and output for events as dicts would be a game-changer for Gradio. Having to maintain an ever-changing and possibly amended list is.. cumbersome.

[2022-10-25 07:32] abidlabs commented on #1848
Just checked and this is no longer the case! Thanks @aliabd or whoever fixed it :)

[2022-10-25 09:04] 4thfever commented on #2240
same bug here

[2022-10-25 09:42] ValentinKoch commented on #2421
I worked around that and the fact that I cant upload files larger than 500mb by creating my own upload to aws s3 via html, but it took me quite a while.. fixing this would be a major upgrade!

[2022-10-25 11:20] vzakharov opened #2518 "`Audio.change` event handler does not seem to work"
### Describe the bug

I have a `gr.Audio` component that displays a WAV file. When that audio is changed, I want to change a `gr.Plot` component that displays its waveform. It works separately:
![image](https://user-images.githubusercontent.com/188197/197757974-ffc03180-b4b7-4cc5-9a50-b4b0a6fa98f5.png)

However, in this case the Audio and the Plot are calculated at the same time when the sample ch

[2022-10-25 11:31] vzakharov commented on #2518
Apparently, no audio is loaded in line 193 of `processing_utils.py`, and, as the error is other than FileNotFoundError, it does not raise any exception and continues execution. This begs the question of why the audio is not loaded, but that’s beyond my capabilities to investigate.

[code]

[2022-10-25 14:36] ValentinKoch opened #2520 "Buttons do not render in html"
### Describe the bug

Buttons dont render in HTML. Are clickable but do not look as intended, also when providing a dedicated css.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

<img width="66" alt="Bildschirmfoto 2022-10-25 um 16 35 11" src="https://user-images.githubusercontent.com/55893735/197803160-6c55815f-842d-4

[2022-10-25 15:12] freddyaboulton opened #2521 "Raise an error if you load a blocks with Interface.load"
- [x] I have searched to see if a similar issue already exists.

We should raise an error when a developer uses `gr.Interface.load(...)` when the space requested is a blocks app instead of an interface app. Loading a block into an interface will always call the upstream app with `fn_index=0` which is not desired.

So `gr.Interface.load("spaces/user/my-blocks-app")` should raise an error.

[2022-10-25 15:39] abidlabs opened #2522 "Avoid needing to cast audio file to `int16` for `Audio` component"
It seems that some audio files cannot be passed natively into the `Audio` component -- rather they need to be cast into `int16` before they can be played. E.g. this does not work:

[code]

whereas this does:

[code]

Relevant internal discussion: https://huggingface.slack.com/archives/C02QZLG8GMN/p1666702652619089

[2022-10-25 15:45] #2452 closed

[2022-10-25 15:49] freddyaboulton opened #2523 "Use the api_name when calling an app like a function"
- [ ] I have searched to see if a similar issue already exists.

Properly using a space like an api requires knowing the `fn_index`. If you're a downstream consumer of an app, you may not know the `fn_index` and the fn_index can change if the upstream app is refactored.

**Describe the solution you'd like**
Would be nice to be able to do something like

[code]

Where "prediction-route" is the api_

[2022-10-25 16:08] AmbiakaTT commented on #1076
Any updates on the feature yet? It would be really really helpful for me. By the way, for a list of 100+ options, would using checkboxgroup be helpful

[2022-10-25 16:12] pngwn commented on #2523
isn't this already supported via events? It is down to the app author to expose that on a per event basis rather than the consumer. When `loading`, the 'loader' shouldn't be impacting this, unless I'm misunderstanding this issue.

[2022-10-25 16:17] freddyaboulton commented on #2523
If you're hitting the api via curl or something, you can use `api_name` in the route.

But if you load the space into python, you have to pass in the fn_index, not the api_name.

[2022-10-25 17:04] freddyaboulton opened #2524 "Blur events can't be batched"
### Describe the bug

The blur event does not have the batch keyword argument:

https://github.com/gradio-app/gradio/blob/main/gradio/events.py#L610

We should make sure they can be batched like any other event!

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

-

### Screenshot

-

### Logs

[code]

### System Info

[code]

### Severity

annoy

[2022-10-25 17:06] abidlabs commented on #2524
There really should be a way for us to provide the same set of parameters to all of the event functions without having to duplicate the code and docs... hmm

[2022-10-25 17:12] abidlabs commented on #2521
Hmm but `gr.Interface.load()` actually just calls `gr.Blocks.load()` internally.

Do you have an example of this not working? Maybe the issue is something else?

[2022-10-25 17:32] freddyaboulton commented on #2521
Yep let's close - was under the impression fn_index was always set to 0 when doing gr.Interface.load which is not the case.
Thank you!

[2022-10-25 17:35] abidlabs commented on #937
@apolinario circling back, do you still feel that this is an important addition to the `Slider` component?

[2022-10-25 18:19] aliabid94 commented on #2489
So by default, the status-tracker will be shown on all output components of a function. If those outputs are hidden until the completion of the method, I suppose you wouldn't see any progress animation. Working on the ability to have a page-level animation as well that you can use instead, will keep you updated.

[2022-10-25 18:25] vzakharov commented on #2489
So basically the status_tracker parameter points to the component that
should show the progress animation, right?

Do you have any clues to as to how stable-diffusion-webui enables more
detailed status tracking (with percentage, ETA & stuff)?

[2022-10-25 20:08] abidlabs commented on #2522
Thanks for the catch @freddyaboulton!

[2022-10-25 20:14] freddyaboulton opened #2529 "Return more helpful error message when you try to define an event outside a block context"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
This will fail since .load is an event and not included under the BlockContext. However, the error you get does not explain what went wrong: "AttributeError: 'NoneType' object has no attribute 'fns'"

[code]

**Describe the solution you'd like**
Raise an error that in

[2022-10-25 21:54] #2496 closed

[2022-10-26 00:58] #2419 closed

[2022-10-26 01:17] camenduru opened #2536 "Please add an option -> pass text to gallery image alt attribute"
https://github.com/gradio-app/gradio/blob/5a090de94a31533667d7d7d0c080a90104744b9e/ui/packages/app/src/components/Gallery/Gallery.svelte#L193

[code]

[code]

I can pass image label like this ` images.append((f"{jpg_path}\\{jpg_image}", f"{jpg_image}"))` but not image alt please add an option and I think img alt is super important for data science and seo "thank you for coming to my ted talk" 👏👏👏

[2022-10-26 10:03] Zhengxinyang commented on #2240
same issue

[2022-10-26 12:03] vzakharov opened #2537 "elem_id does not work"
### Describe the bug

No id is assigned to respective elements.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

![image](https://user-images.githubusercontent.com/188197/198021067-01a3f99e-deea-480a-8ac9-856bdddc07c7.png)

### Logs

[code]

### System Info

[code]

### Severity

serious, but I can work around it

[2022-10-26 12:35] pngwn commented on #2536
The label should have been added as the alt text as part of that PR. It was in one context but we missed the other. I don't think there is a need to pass any additional information down, the caption is a good alt text for the gallery images.

[2022-10-26 12:45] #2537 closed

[2022-10-26 15:46] MHX1203 opened #2539 "Can i change the layout when i click a button?"
for example, I whould like to add a row or change some other layout of the frame when i click a button. how can i do this operation.

thanks.

[2022-10-26 17:19] abidlabs commented on #2539
Hi @MHX1203 for general to have more control over the layout by clicking on a button, you should use the lower-level Blocks API, as described here: https://gradio.app/blocks_and_event_listeners/

Since this is neither a bug report or a feature request, I'll go ahead and close this issue. For open-ended questions like this, please use our [Forums ](https://discuss.huggingface.co/c/gradio/26)or [Dis

[2022-10-26 17:19] #2539 closed

[2022-10-26 17:26] abidlabs commented on #1076
We haven't had a chance to look into this yet @AmbiakaTT. We'll update here when we have more to add

[2022-10-26 19:16] #2536 closed

[2022-10-26 20:26] abidlabs commented on #2524
Anyways looks like this is now fixed

[2022-10-26 20:26] #2524 closed

[2022-10-26 20:50] abidlabs commented on #2501
Hey @merveenoyan I looked into this and I think the problem is actually that these Spaces are Blocks, not Interfaces. And it's not possible to use `gr.mix.Series` with `Blocks` instead of `Interface` right now (perhaps we should figure out a way to support this?)

But for now, I've added clearer error messaging if you do try to use `Series` with `Blocks`. in #2543

[2022-10-26 23:10] #2501 closed

[2022-10-26 23:10] #2529 closed

[2022-10-26 23:24] #2522 closed

[2022-10-27 03:58] float-trip commented on #2470
@abidlabs One of my URLs was just recycled within a couple hours of shutting the down the app. Given the large number of bits in the subdomain, it seems these new URLs aren't random, but maybe something like a hash of the original ID. In any case, it looks like it's possible to spin up demos and collect URLs to guess in the future

[2022-10-27 05:30] abidlabs commented on #2470
Thanks for the heads up @float-trip. Share URLs can still be recycled in theory, but this PR: #2396 should completely fix that. We'll aiming to release next week!

[2022-10-27 05:43] SoranaBaciu opened #2549 "Cannot load examples with missing file paths"
### Describe the bug

For the moment it is only possible to either provide no file path in all example rows, either existing file paths for all examples.

This is due to exception raising at line _example[i] = component.as_example(ex)_, in _components.py_, where the File component expects str, bytes or os.PathLike object, not NoneType.

I'd like to have the possibility to add file paths only for s

[2022-10-27 07:20] abidlabs commented on #2458
Going to close for lack of followup. @jyotiyadav94 please feel free to reopen if you have a specific bug or feature request

[2022-10-27 07:20] #2458 closed

[2022-10-27 07:53] abidlabs commented on #2489
Good question @vzakharov. It looks like there is a lot of custom [css](https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/737eb28faca8be2bb996ee0930ec77d1f7ebd939/modules/ui.py#L310) & [logic](https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/737eb28faca8be2bb996ee0930ec77d1f7ebd939/modules/ui.py#L291) to make that happen.

Definitely not something that is supported out of the

[2022-10-27 09:45] JinRSA opened #2551 "The Stop Recording button does not work."
### Describe the bug

## Issue.
I deployed an example of microphone testing on my local machine.
Knocking on http://127.0.0.1:7860/ (or http://localhost:7860/), everything works.
Knocking on http://MY_IPV4:7860/, the stop recording button does not work.
On a local machine, it doesn't matter to me which URL to use. But if you deploy it on a server (for example, in a Docker container), and access th

[2022-10-27 11:51] pngwn opened #2552 "[DX] Pain points/ technical debt"
This is an issue to keep track of any technical debt (internal to the library) or pain points that people experience when contributing to the library. This is mainly an issue for the core team to keep track of things and stay on top of technical debt but we welcome feedback from all contributors about anything anyone has noticed needs refactoring, points of friction when developing, or anything th

[2022-10-27 12:31] Adeel-Intizar opened #2553 "Socket exception: An existing connection was forcibly closed by the remote host (10054)"
Hi,
the public link was working just find until it just threw an exception and closed the public url while private url is still running the app,
is this a bug or am I doing something wrong,
Thanks
![image](https://user-images.githubusercontent.com/56041154/198284600-68adeee7-6244-4b53-9602-4a8e1e6d20cd.png)

[2022-10-27 13:13] merveenoyan opened #2554 "Load examples when Interface/Block is loaded unless examples are passed"
When we load a gradio Interface from huggingface, the examples aren't loaded. I know this is intended behavior but maybe on top of it retrieving the example files when loading the Interface or Block would be good when they're loaded from a Space, _unless_ the user passes the examples parameter explicitly. WDYT? Also pinging @sayakpaul & @osanseviero

[2022-10-27 13:24] sayakpaul commented on #2554
Even after passing examples, they did not show up in this Space (which uses multiple Spaces):

https://huggingface.co/spaces/sayakpaul/maxim-spaces

[2022-10-27 13:39] freddyaboulton commented on #2553
Hi @Adeel-Intizar ! Thanks for filing. It's possible the socket was closed due to high load on the server. We're working on making this service more reliable and secure in #2396 which should be merged shortly!

[2022-10-27 14:06] freddyaboulton commented on #2554
Lol so it looks like we manually make the examples dataset invisible when loading from spaces 😬

[code]

I think we should first fix the problem that @sayakpaul brings up about `Interface.load` not respecting the `examples` argument even when the examples are local. Later we can try to figure out a way to load examples from the upstream space.

[2022-10-27 14:27] freddyaboulton commented on #2549
Thanks for filing @SoranaBaciu !

[2022-10-27 15:21] sayakpaul commented on #2554
Thanks!

[2022-10-27 20:12] #2500 closed

[2022-10-27 20:23] osanseviero opened #2557 "When loading another space using load, allow accessing private demos"
The `api_key` is already a valid parameter (used for the Inference API integration). It would be great if this could be used to access private spaces as well :)

[2022-10-27 20:50] abidlabs commented on #959
That’s a good suggestion @vzakharov, what do you think about that @pngwn @gary149 to avoid cluttering the UI?

[2022-10-28 06:02] ValentinKoch opened #2559 "Let user decide if they want a HTML loading animation"
- [x ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
In gradio v 3.7, html elements also have the loading animation added. As I am rendering the html interactively depending on the input of a Slider, this makes for a very bad user experience as instead of a steady output as previously, now there is always a loading scr

[2022-10-28 08:47] vzakharov opened #2560 "Events that are triggered when another event is complete - needed for several bugs"
The `_js` parameter is very useful if you want to do something before running the python code (i.e. making the API call), but sometimes you want to do the opposite.

For example, I’m using [WaveSurfer](http://wavesurfer-js.org/) to display/play audio in my app, and I need to run `wavesurfer.load('/file=preview.wav ')` once the audio is generated.

So far, I’m still struggling to find an optimal so

[2022-10-28 10:12] pngwn commented on #959
Strongly against tooltips for the reasons stated above: https://github.com/gradio-app/gradio/issues/959#issuecomment-1092765007

They are an accessibility nightmare and almost unusable on mobile which accounts for lots of our usage. We should opt for collapsible text similar to accordions. I'll take a look at this an come up with a proposal soon.

[2022-10-28 14:56] #2503 closed

[2022-10-28 16:12] taesiri opened #2562 "Setting value of CheckboxGroup to an integer causes an infinite loading loop."
### Describe the bug

Hello,

Setting `value`  of a `ChecboxGroup` to an integer prevents the demo from loading.

That's all!

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Minimal code to reproduce

[code]

### Screenshot

![loading](https://user-images.githubusercontent.com/588431/198682860-e9d09b93-56b2-40a9-bddb-5e2536855a96.png)

### Lo

[2022-10-28 16:21] freddyaboulton commented on #2562
Hi @taesiri !

Thanks for filing.

The problem is that `value` has to be a list of strings and each string has to be a a valid possible choice. I think this should fix your problem:

[code]

[2022-10-28 16:22] freddyaboulton commented on #2562
The front-end crashes with
[code]

But I think a more helpful error should be raised prior to the demo launching.

[2022-10-28 16:34] taesiri commented on #2562
Thank you for your help @freddyaboulton

My expectation is that the demo should load fine without crashing or looping. Keep in mind that this will not happen if the `value` is set to a string, which is **not** among the options.

[2022-10-28 17:52] #2471 closed

[2022-10-28 21:53] #2050 closed

[2022-10-29 18:15] titu1994 opened #2565 "IFrame embed demo permission error with Microphone"
### Describe the bug

With Gradio 3.7 (possibly even older gradio versions), an Iframe embedded gradio demo does not ask for microphone permission from the browser (chrome), and so it errors out. File upload still works for audio.

Site: https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/main/asr/intro.html

Space: https://huggingface.co/spaces/smajumdar/nemo_multilingual_language_id

If

[2022-10-29 22:50] abidlabs commented on #2560
@aliabid94 @pngwn as we think about making `js` an officially supported parameter, perhaps we should have both a `js_before` and a `js_after`?

Another idea that might be more useful actually would be to have a `event.then()` function which allows you to trigger events when other events complete. I've needed this use case often and usually have had to come up with a hack

[2022-10-29 22:50] abidlabs commented on #2560
Actually another more general idea would be to have a `event.then()` function which allows you to trigger events when other events complete. I've needed this use case often and usually have had to come up with a hack

[2022-10-29 22:54] abidlabs commented on #2559
Hi @ValentinKoch thanks for raising the question. It is possible to disable the loading animation by setting `show_progress=False` in the event trigger. Here's a simple example:

[code]

Let us know if you have further questions!

[2022-10-29 22:54] #2559 closed

[2022-10-29 22:55] abidlabs commented on #2557
Definitely would be good to support this. @XciD if you could kindly share a usage example of how to use the Hub token to access Private Spaces, we can integrate this into the library itself.

[2022-10-29 23:34] aliabid94 opened #2566 "Dynamic layouts via Loop"
We need to support the ability to have repeated component layout structures. Here is a proposal for a possible API:

[code]

[2022-10-30 00:43] pngwn commented on #2560
@abidlabs Do you have an example usecase for `event.then()`, I'd like to understand more.

[2022-10-30 06:06] abidlabs commented on #2566
I'd like to tag a couple of other issues because I think they're all part of the same underlying limitation with Gradio:
* #2285
* #1566

The underlying limitation is that once you define a _config_ in the backend, the frontend _cannot_ change the config. In other words, what this means is that if you have a function that returns `gr.Dropdown.update(choices=...)`, the dropdown in the backend won't

[2022-10-30 06:13] abidlabs commented on #2560
Sure, @vzakharov's original post is one example, where you could define a regular backend function and then use `.then()` to define a js function that runs after the backend function is complete. [Here's a similar example](https://github.com/gradio-app/gradio/blob/main/demo/sound_alert/run.py), where a sound rings after a prediction is complete.

There are lots of use cases where people want to do

[2022-10-30 06:17] vzakharov commented on #2560
Oh, `then` would be even better!

Note that this would likely also mean allowing events to only have local
(js) processing without making an API call. (Currently I have to do weird
hacks like intentionally raising a JavaScript error to avoid making a call.)

[2022-10-30 06:22] abidlabs commented on #2560
@vzakharov can't you just set `fn=None` in your event trigger to avoid making an API call?

[2022-10-30 06:25] vzakharov commented on #2560
Oh, right, I must have been thinking about another use case, where you have
to either make or not make an API call depending on js results (say, a
confirmation dialog “Are you sure you want to delete …?”).

[2022-10-30 14:32] pngwn commented on #2560
@abidlabs

for https://github.com/gradio-app/gradio/discussions/2491 can't you just:
- create a button, add an event listener, add the image component as an input and the gallery as an output. Possible in combination with `gr.Variable` to keep a reference to all images (if you want to append, we would need some state.)

I really think it is easier to keep track of state, rather than keeping track

[2022-10-30 14:58] abidlabs commented on #2560
prediction runs changing the value of a component(s), this triggers the change listener(s) and happens after the prediction.

Yes that's the approach that I've ended up using (and suggesting to people), but it has one major and one minor drawback:

* The `.change()` event can be triggered by something other than the prediction completing. For example, the output component could be changed manually

[2022-10-30 15:18] XciD commented on #2557
@abidlabs you need to send the auth token link auth header:
`Authorization: Bearer hf_token`

[2022-10-30 15:20] abidlabs commented on #2557
Thanks got it @XciD!

[2022-10-30 15:30] abidlabs commented on #2554
Haha yea that's my bad. Left that as a future TODO but didn't get a chance to come back to it. @freddyaboulton I can take this if you haven't started yet

[2022-10-30 17:29] freddyaboulton opened #2569 "Mention that HF token may be needed in the view API Docs page for Gradio apps running on Spaces"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

Currently, the Api Docs page does not mention that you need to pass in your Huggingface token in the header when you are loading a private space.

Related thread: https://discuss.huggingface.co/t/how-to-test-api-of-a-private-space/25211/2

**Describe the solution you

[2022-10-30 19:50] aliabid94 opened #2570 "Allowing stateful flows in Gradio"
An example of stateful flow API for gradio that is very compatible with our current API.

[code]

[2022-10-31 14:08] taesiri opened #2572 "Using the Blocks API, setting the default value for the Radio group makes the entire group disabled."
### Describe the bug

Hello,

I am trying to set the default Radio value for a Gradio Blocks demo. Whenever I set the default value for a Radio group, the entire component is shown as disabled. This only happens when I use the Blocks API and not the regular Interface API.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

[2022-10-31 14:12] taesiri commented on #2572
I just checked and same thing happens for `Checkboxgroup`.

## Code

[code]

## Screenshot

![disabled3](https://user-images.githubusercontent.com/588431/199028399-9d5f9300-7375-41d4-9f15-859ae1799f43.png)

[2022-10-31 14:53] freddyaboulton commented on #2430
@pngwn Does this still not work for you?

[2022-10-31 14:55] abidlabs commented on #2572
Hi @taesiri, the reason this is happening is because these checkboxes / radio buttons are not used as the input for anything else, so Gradio assumes you are just using it to statically display some choices. If you use them as the input for some function, then they will automatically become interactive.

Or you can manually set `interactive=True` when you create the `gr.Radio(..., interactive=True)

[2022-10-31 14:55] #2572 closed

[2022-10-31 15:47] freddyaboulton commented on #2518
Hi @vzakharov ! I was able to run the reproducer you shared

![audio_change](https://user-images.githubusercontent.com/41651716/199049860-b04b2995-2032-45ff-9f9d-1545cf2e709a.gif)

Do you have ffmpeg installed?

[2022-10-31 16:29] freddyaboulton opened #2574 "Plotly plot too zoomed in"
### Describe the bug

If you run the live_dashboard demo, the sine curve plot is too zoomed in.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Run the `live_dashboard` demo in the repo

### Screenshot

![image](https://user-images.githubusercontent.com/41651716/199059495-d9d568a4-724a-47c4-9af1-e8c17ee928aa.png)

### Logs

[code]

### System

[2022-10-31 16:41] dineshdharme commented on #2418
Just to add to that. Can we have .webp image input format for Gradio ? Just to explain a usecase.
In this app, https://huggingface.co/spaces/fffiloni/img-to-music , we can submit images but only in .jpeg and .png format.
I can't use .webp image format. I wanted to try out images from lexica.art website as input into this app.
But lexica.art allows a user to download images in .webp format only. So

[2022-10-31 16:53] mustafalhamadsa commented on #2029
Hello, I am sorry I just got back.  Heavy heartedly here to tell you that it seems like it would be better to assign this mission to another team.

Thank you very much for your patience, and once again I am sorry.

[2022-10-31 17:38] pngwn commented on #2560
I just feel like it could be slightly messy. What happens if you have 'events' A, B, C, D, E.

You want to run A -> B -> C, if any previous events 'fails' or is cancelled then you want to cancel subsequent events but you always want to run D and E when everything else is done regardless of the success of prior events.

A -> B -> C -> D
A -> B -> C -> E

But how do we ensure everything that will ru

[2022-10-31 21:23] freddyaboulton commented on #2051
This is basically quarto: https://quarto.org/. Let's see if it can build gradio demos!

[2022-11-01 03:10] MHX1203 opened #2581 "How to adjust output image size within a Block?"
I have create a block, contain threee image, and a dropdown box. and i bind this block with fastapi so that i can use router.

[code]
I used run my app with this command.
[code]

but the preview output size is not i want, i hope the image output size is same with input.
![image](https://user-images.githubusercontent.com/30517250/199149818-4691a961-140d-4402-986c-2dd1c0cda03a.png)

how can i do thi

[2022-11-01 03:17] abidlabs commented on #2581
Hi @MHX1203,

Perhaps the easiest way would be to set the height of the output `Image` components manually in your gradio app. Here's a basic example with an image-image interface, but the same principle :

[code]

For more open-ended questions like this, please check out our [Discord](https://t.co/JKepTfXraQ) as GitHub issues is specifically for bug reports and feature requests.

[2022-11-01 03:17] #2581 closed

[2022-11-01 03:29] #2557 closed

[2022-11-01 06:46] armancohan opened #2585 "Add copy to clipboard button to other input types"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
The only input type that shows the copy to clipboard button is JSON.

**Describe the solution you'd like**
It would be great if users can optionally show this button for other input types such as gr.TextBox as well.

<img src="https://user-images.githubusercontent.com

[2022-11-01 11:28] pngwn commented on #2418
This should be possible, the only downside to outputting some of the modern formats is that you often can't open them in whatever default tool you use to view images (preview in mac) but i think it is a good option to have (and probably a good default). Inputs should be simpler, but the onus is on the app author to ensure whatever image processing library or model they are using can handle that im

[2022-11-01 13:49] Symbiomatrix opened #2587 "Interactive output image cannot be set when in edit mode."
### Describe the bug

An interactive output image doesn't change when it is in edit mode - it will flicker briefly and then return to the exact same state.

If this is intended, I'd like to know how to forcibly clear the output component beforehand in code. Preferably with the cropbox settings intact, but anything goes.

### Is there an existing issue for this?

- [X] I have searched the existing

[2022-11-01 21:36] #2549 closed

[2022-11-01 23:51] abidlabs commented on #2585
Thanks for the suggestion @armancohan. My feeling though is that this button is not too crucial for the other components since it is easy enough to select the contents of a Textbox, or right click to copy an image and the presence of such a button would clutter the UI

[2022-11-01 23:53] abidlabs commented on #2489
Closing as I believe the issue has been clarified above

[2022-11-01 23:57] #2489 closed

[2022-11-02 08:29] ValentinKoch commented on #2559
Thanks a lot for getting back and sorry for the wrongfully created issue, works great :)

[2022-11-02 11:34] vzakharov opened #2592 "allow setting `gr.Tab` visibility"
- [x] I have searched to see if a similar issue already exists.

Currently `gr.Tab` [doesn’t](https://www.gradio.app/docs/#tab) seem to have a `visible` parameter, unlike most other components. This makes it impossible to hide a Tab depending on certain conditions

Say, in my [Jukebox Web UI](https://github.com/vzakharov/jukebox-webui) this could be hiding or showing “continue composing” tab depen

[2022-11-02 13:10] pngwn commented on #2592
I don't think this is documented but if you use the full version of Tab instead of the shorthand then you can achieve this behaviour:

[code]

in this example `tabs` can be used as an output to an event and you can set the visible state. This will hide the whole tabbed interface, hiding an individual tab is not currently possible due to how tabs actually work. But we could try to make this work.

[2022-11-02 17:38] #2523 closed

[2022-11-02 19:10] noobmldude opened #2595 "`gr.Sketchpad` does not take arguments"
### Describe the bug

When using the `gr.Sketchpad` component with any of the parameters in the docstring, it fails.
`gr.Sketchpad` only works without any parameter.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

To reproduce this, you can run this snippet:
[code]

### Screenshot

On Investigation, it looks like the SketchPad component has a

[2022-11-02 23:28] #2476 closed

[2022-11-03 15:38] abidlabs opened #2598 "`gr.Markdown()` adds significant extra whitespace"
### Describe the bug

When using `gr.Markdown()`, it seems to create significant whitespace above and below it. I'm pretty sure this is a regression. Example:

![image](https://user-images.githubusercontent.com/1778297/199765877-eddfe1e4-8aa8-4759-9e6c-2289f0097a3a.png).

h/t @osanseviero

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

import

[2022-11-03 19:33] abidlabs opened #2601 "Loading Private Spaces via `gr.Interface.load()` doesn't work for certain components"
### Describe the bug

As part of reviewing #2594, we noticed that if you `gr.Interface.load()` a Private Space (even if you provide an API token), it does't work for certain components, specifically:

* `Model3D` component doesn't show up correctly in the input
* `Dataframe` component preview doesn't show up in the `Dataset`

### Is there an existing issue for this?

- [X] I have searched the exis

[2022-11-03 19:35] #2554 closed

[2022-11-03 19:37] freddyaboulton opened #2602 "Clicking on a dataframe file example causes it's preview to change"
### Describe the bug

When you click on a dataframe example that's specified by a filename (as opposed to pandas dataframe), the preview in the Dataset component changes from a the dataframe contents to the filename.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

On this public space https://huggingface.co/spaces/gradio/test-loading-examples

[2022-11-03 21:12] abidlabs commented on #2560
Another example that @osanseviero and I just ran into was with this Space: https://huggingface.co/spaces/osanseviero/esmfold

Here's the flow:
1. A user selected a protein name in a dropdown (call it `dropdown`)
2. Based on the protein name selected, a field (call it `field`) is populated with the protein sequence
3. As soon as the field is populated, we'd like to then run another function to show

[2022-11-04 02:41] jbpolle opened #2603 "allow_flagging="auto" not working on hugging face"
### Describe the bug

Hello,

First of all thanks for this great library, really easy to use, well documented and useful.

Regarding the bug, it seems that the allow_flagging="auto" feature doesn't work. I am using it with flagging_callback type HuggingFaceDatasetSaver.
If I change to "manual" mode, the data are correctly saved in the dataset. My understanding of the doc is that in auto mode data

[2022-11-04 16:08] #2595 closed

[2022-11-04 17:42] freddyaboulton commented on #2269
I wonder if we can use datasets on the hub as the "Database" for this. Regardless of the implementation, we should consolidate this issue with #1452, no?

[2022-11-04 18:15] abidlabs commented on #2269
Yes let me close #1452 as this issue is more descriptive and suggests some possible approaches

[2022-11-04 18:15] abidlabs commented on #1452
Closed in favor of #2269

[2022-11-04 18:15] #1452 closed

[2022-11-04 18:16] abidlabs commented on #257
I'm going to close this in favor of #2269, which is a more general version of this issue and has more relevant context

[2022-11-04 18:16] #257 closed

[2022-11-04 18:19] abidlabs commented on #2269
That would be pretty cool, and we have most of the logic already in place via the `HuggingFaceDatasetSaver` class.

[2022-11-04 18:24] abidlabs commented on #2269
So what about the following UX:
* If you create an Interface running on Spaces, a "Share" button appears under the output component (where the Flag button normally appears -- note that this button does not automatically appear)
* When you click on the "Share" button, a link is generated to the specific input and output that you have passed in, and is copied to your clipboard
* When you share the S

[2022-11-04 23:50] bofenghuang commented on #2551
Same here, Stop Recording button works with public url, but not with the server ip + port

[2022-11-05 00:41] DavidD003 opened #2607 "Gradio demo breaks on Hugging Face Spaces"
### Describe the bug

My interface runs on collaboratory, and locally on jupyter, but not on HFS.

The indicator bubble on HFS goes green and 'running' but the interface area remains frozen on the loading screen, with the animation stopped. The same thing happens on my local jupyter. (The bubble below the code cell shows the frozen loading screen, but when I click through the link to the host dest

[2022-11-05 22:40] abidlabs commented on #2598
The reason we have this is because we introduced a minimum height to the Markdown and HTML components in this PR (#2474), which adds too much padding. I started removing it, but then I realized that the reason that the height was added was to ensure that the status tracker for these elements always showed up correctly. @pngwn do you have any suggestions on how to fix this?

[2022-11-06 01:36] #2016 closed

[2022-11-06 04:57] aliabid94 commented on #2570
Another try @pngwn

[code]

[2022-11-07 01:28] joytianya commented on #2379
is this new feature support?

[2022-11-07 09:36] wjizhong commented on #1076
Any updates on the feature yet? It would be really really helpful for me. By the way, for a list of 100+ options, would using checkboxgroup be helpful

[2022-11-07 10:39] abidlabs commented on #1076
Hi @wjizhong not yet unfortunately. @aliabid94 or @dawoodkhan82 if you have the bandwidth to take a look at this next week, we're getting a lot of interest in this component.

[2022-11-07 10:41] abidlabs commented on #2379
Hi @joytianya sorry it's still in the works, will update here when it's ready!

[2022-11-08 00:37] #1784 closed

[2022-11-08 11:52] freddyaboulton commented on #2603
Sorry about this @jbpolle ! Yes this is a bug we'll look into.

[2022-11-08 12:20] pngwn commented on #2504
I've confirmed this issue is an issue with user code. There are already issues for the other problems noted.

[2022-11-08 12:20] #2504 closed

[2022-11-08 17:49] vzakharov opened #2621 "More detailed reporting of `ValueError: Returned component ... not specified as output of function.`"
- [x] I have searched to see if a similar issue already exists.

Currently only the type of component (e.g. `Dropdown`) is specified, which makes it very hard to debug and find out which specific component/handler is causing the issue.

Maybe you could add the component label to the log message?

[2022-11-08 17:54] vzakharov commented on #2592
It’s good to know the full version, but yeah it doesn’t achieve the intended effect. Thanks for giving this a thought!

[2022-11-08 20:41] krrishdholakia commented on #2105
@abidlabs how do i trigger this on block load (not when a function is triggered but on initial block load)? i don't see this in documentation/examples - any help here would be appreciated.

[2022-11-08 21:29] krrishdholakia commented on #2141
Not sure if it's just me, but this isn't working for me.

[code]

[2022-11-08 22:55] abidlabs commented on #2141
@krrishdholakia feel free to create a new issue with more details (version of Gradio, OS, whether you are running on colab or elsewhere), and we can investigate

[2022-11-08 23:14] abidlabs commented on #2621
Hi @vzakharov thanks, I think this would be a nice QoL improvement for developers, and wouldn't cause any issues since every `IOComponent` has the `label` attribute.

Would you like to open a PR for this issue?

[2022-11-08 23:15] abidlabs commented on #2607
Hi @DavidD003 happy to take a look, athough the example code provided here is quite complex, making it difficult to repro on our end.

Would you kindly provide a more minimal example that breaks on HF Spaces?

[2022-11-09 06:31] darwinharianto opened #2622 "Canvas color sketch doesn't clear properly"
### Describe the bug

Clicking on submit button, after clearing canvas, still gives the previous sketched image.
Have to redraw on the canvas to remove the previous sketches.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-11-09 12:10] tompellegrini opened #2626 "Import Gradio fsspec error"
### Describe the bug

I did a simple "pip install Gradio"

Then in Jupyter notebooks a ran the code: import gradio as gr

I received the error message I copied in the Logs section below.

I tried searching online for solutions, but none referred to Gradio and they all implied I needed to install earlier versions of fsspec. I tried to do that and nothing worked.

I also scrolled through all 239 ope

[2022-11-09 13:23] freddyaboulton commented on #2626
Hi @tompellegrini ! What fsspec do you have installed? Can you try `pip install fsspec --upgrade`

[2022-11-09 13:29] freddyaboulton commented on #2209
@dawoodkhan82 Let's work together to fix this!

@EmilyAlsentzer @ankrgyl Thanks for reporting - we'll try to get a fix out soon 😄

[2022-11-09 13:34] freddyaboulton commented on #2626
What version of `fsspec` do you have?

[2022-11-09 13:36] tompellegrini commented on #2626
Version: 2022.10.0+15.g4a67229

[2022-11-09 13:54] tompellegrini commented on #2626
That might make sense. Although I tried installing earlier versions and either that or another similiar fsspec error popped up.

What version would you recommend?

[2022-11-09 13:59] freddyaboulton commented on #2626
That command will install the latest (version 2022.10.0) and everything seems to work ok for me.

Before I was on `2022.7.1` and it worked well for me too. Let me know if either of these versions doesn't work for you please!

[2022-11-09 14:05] tompellegrini commented on #2626
OK. I did a pip uninstall fsspec and then copied your command in. It worked! Thanks!!

[2022-11-09 14:24] freddyaboulton commented on #2626
Great to hear @tompellegrini !

[2022-11-09 14:24] #2626 closed

[2022-11-09 15:56] freddyaboulton commented on #2051
After speaking with @merveenoyan @abidlabs @dawoodkhan82 @pngwn and @AK391 in person, we realized that it would really benefit colab and kaggle users if they could automatically export a demo defined in a notebook to an HF space.

This could also make it super easy to embed gradio demos in the docs of other libraries (typically built from markdown) and potentially make it easier to embed gradio de

[2022-11-09 17:16] freddyaboulton opened #2629 "Improvements to Label for Dashboarding"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As discussed today in our workshop, the gr.Number component does not work great for dashboarding uses where you want to display a number.

<img width="1344" alt="image" src="https://user-images.githubusercontent.com/41651716/200894524-8612c9d2-ddb5-41f9-95db-8bb8bed3f

[2022-11-09 17:21] abidlabs commented on #2629
Very nice!

Maybe it would be cool if the box color parameter could accept a function based on the value. E.g. something like this:

[code]

That way as the label changes, the box color is automatically updated

[2022-11-09 17:30] vzakharov opened #2630 "Socket error when loading WAVs longer than ~20 seconds"
### Describe the bug

So I’m building this [Jukebox Web UI](https://twitter.com/vovahimself/status/1590361407245406208?s=20&t=dF6QsPQCmUPaat5VkVPccQ) thing, and the biggest problem I’m now facing is that the frontend will only reliably load wav’s that are shorter than ~20 seconds.

Here is an example, where you can see that, although the WAV is loaded the first time (by the Audio element), it fail

[2022-11-09 17:35] abidlabs commented on #2630
Thanks for creating this issue! Would you be able to share the link to the code where you're experiencing this issue?

Two specific questions:
* Is this with `share=True`?
* Is this with queuing enabled?

[2022-11-09 17:48] merveenoyan opened #2631 "Have Spaces logo inside embedded demo"
In embedded demos there's only logo of Gradio, it would be nice to have Spaces somewhere next to it? WDYT? @NimaBoscarino (since we discussed it together and it's their idea)
@abidlabs @pngwn

[2022-11-09 17:56] vzakharov commented on #2630
Sure @abidlabs, [here’s](https://github.com/vzakharov/jukebox-webui/blob/main/jukebox-webui.py) the code.

Unfortunately I can’t tets it with `share=False`, as my code requires some stuff to be done in the frontend which does not work from an iframe, so the app must always be opened in a new tab. I can think of a way to work around this just to test whether it will work if you think that might we

[2022-11-09 18:05] abidlabs commented on #2630
Thanks @vzakharov. Btw, when you set share=False, you still do get a link that you can click on to open it up in a new tab. I think it's worth testing what happens if you set `share=False`, since in that case, you won't be using the `paramiko` library where this error seems to be happening.

The other thing to try is to enable [queuing](https://gradio.app/setting_up_a_demo_for_maximum_performance/

[2022-11-09 18:07] vzakharov commented on #2630
I’ll definitely give queuing a try, thanks 🤞

For new tab, I don’t get it: the link is to localhost, and I definitely
don’t have any secret started locally. Is there some even weirder magic at
play?

[2022-11-09 18:10] abidlabs commented on #2630
There is some weirder magic in fact. It says localhost, but it actually links to a special link running on colab's machine. Try clicking on it and inspect the URL :)

[2022-11-09 19:40] vzakharov commented on #2630
@abidlabs, reporting back:

1. The `share=False` trick worked, but the loading times became unbearable. A 30-second wav took 30 seconds to load, lol.

2. The `.queue()` trick didn’t. First time I tried it it just went the same way, with the same (failed) HTTP request (which is weird I guess given what you said about sockets).

The second time the app didn’t start at all, giving me this:

[code]

I

[2022-11-09 19:43] vzakharov commented on #2630
(It’s interesting that with `share=False` it takes the _exact_ length of the wav to download it, i.e. a 10-second wav is loaded in 10 seconds, a 30-second one in 30 seconds. I wonder if it plays it at 1x speed somewhere on the server before giving it to me lol.)

[2022-11-10 01:43] darwinharianto commented on #2622
Clear event from gradio image block doesnt call the appropriate function

[code]

When i edit the canvas i get
[code]
but nothing when i press X on the top right of canvas

[2022-11-10 05:04] sayakpaul commented on #2554
@abidlabs has this been prodded yet? I still don't see the examples here: https://huggingface.co/spaces/sayakpaul/maxim-spaces.

[2022-11-10 07:33] aliabid94 commented on #2570
Another attempt! This is backwards compatible, where the `bind` method re-renders the function if the bound state variables change. Also using a decorator syntax.

[code]

[2022-11-10 07:36] abidlabs commented on #2554
Hey @sayakpaul can you update the sdk_version in the readme on your Space to 3.9.1?

[2022-11-10 07:38] abidlabs commented on #2631
Hey @merveenoyan as discussed, this should be covered as part of #1957, and feel free to add more comments there, thank you!

[2022-11-10 07:38] #2631 closed

[2022-11-10 07:40] abidlabs commented on #2598
Fixed by #2623, thanks @pngwn!

[2022-11-10 07:40] #2598 closed

[2022-11-10 07:44] sayakpaul commented on #2554
Just did! I didn't update the other spaces `maxim-spaces` shelters, though.

Works perfectly.

[2022-11-10 09:22] vzakharov commented on #2621
Can’t at the moment but I might get back to it if no one else does in the meantime.

[2022-11-10 09:45] JohannesAck opened #2635 "Large Images Load Very Slowly from Examples or Outputs"
### Describe the bug

Hi, I'm trying to build a demo for a high-resolution image editing approach using gradio currently.
Overall it works well, however loading large images from the examples or outputs is very slow for some reason.

For example, loading a 4896 x 3264 takes 30 seconds when loading it from `gr.Examples` and almost a minute from the output of a function.
When using the "upload" func

[2022-11-10 09:47] apolinario opened #2636 "`gr.Update` doesn't work for the `interactive` property"
### Describe the bug

I would like to programatically swap whether a field is interactive or not depending on other things that happen in my application, however the `interactive` property seem not to be working with the `gr.Update` function

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

By taking the demo in the docs page and just adding an

[2022-11-10 13:33] jannisborn opened #2637 "Signal only works in main thread"
### Describe the bug

Thanks for building and maintaining this amazing tool!

I observe that gradio does not integrate nearly with signal from the python SL. It seems that the code executed in the `fn` passed to the `gr.Interface` class is delegated to a sub-thread while the app is executed from the main thread.

This can cause problems with python signalers which expect to run from the main threa

[2022-11-10 13:41] abidlabs opened #2638 "`gr.Interface.load()` not working if the loaded Space has examples"
### Describe the bug

It seems that `gr.Interface.load()` is not able to load a Space if the Space has examples

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

serious, but I can work around it

[2022-11-10 21:44] freddyaboulton commented on #2637
This would be true of any python webserver no?

[code]

Run `uvicorn signal_fastapi:app`

[code]

Can you elaborate a bit more on your use case @jannisborn ! Maybe there's another way to accomplish what you are trying to do!

[2022-11-11 01:01] DavidD003 commented on #2607
I made a new space that is identical from the interface perspective, reproducing the error, but the functions being performed are just trivial modifications to an excel sheet.

In case it may be useful to the teams troubleshooting, here is an explanation of the way the interface is handling data; the way you might use this interface when its working outside HFS is that you simply drag and drop any

[2022-11-11 05:24] arnavmehta7 commented on #1463
He is right

[2022-11-11 05:25] arnavmehta7 commented on #1463
I just had a code, which returns a image of around 4mb size while the input image size had been around 500kbs. The first image shows up perfectly, but all the others after the first, take around 2 minutes to be shown.

[2022-11-11 06:21] thomas0809 commented on #2585
Hi,

I also would like to have this feature, as the content of the Textbook may be very long.

[2022-11-11 16:04] abidlabs commented on #2585
👍 ok perhaps it's worth adding the `Textbox` component, as well as the upcoming `Code` component, WDYT @pngwn?

[2022-11-11 16:14] thomas0809 commented on #2110
Similar issue here. On a MacBook, I cannot upload a PNG file. Dragging the PNG to the box is fine, though.
<img width="721" alt="image" src="https://user-images.githubusercontent.com/11373553/201383284-42075e81-b279-4a64-8140-0d1c44640fc9.png">

[2022-11-11 17:38] freddyaboulton commented on #2638
I think the problem is related to the "fake event" used in example caching:

Just checked out the config of the upstream calculator space and id 2 corresponds to the fake event:
[code]

Can take a look at a fix

[2022-11-11 18:29] anton-l commented on #2421
+1 to the request! Tried implementing a model uploader with `gradio.File`, but it unsurprisingly crashes the app when uploading 5GB model checkpoints :sweat_smile:

[2022-11-12 00:14] abidlabs commented on #2635
Thanks @JohannesAck will take a look next week!

[2022-11-12 00:54] abidlabs commented on #2421
Yes I think we should probably stream any file if it is uploaded using `gr.File`. For the other components (e.g. Videos), it might be helpful to store in memory, but I think we don't need to do that for the File component

[2022-11-12 12:26] Radhe-0 opened #2642 "Bug when gr.Image changes"
### Describe the bug

I'm making a chat that changes the images with each response from the bot and I found some kind of bug, I don't know if I'm doing it wrong or if there really is a bug, since I don't see any error. This is something that should not happen, because in the first answers the image changes normally, but then it does not change anymore after answering several times.

### Is there a

[2022-11-13 01:56] krrishdholakia opened #2643 "Providing js function on load not working"
### Describe the bug

I'm running this code in a google colab:

[code]

but when i check console log, i don't see the 'hello world' output
<img width="719" alt="Screen Shot 2022-11-12 at 5 54 51 PM" src="https://user-images.githubusercontent.com/17561003/201501802-f77cb1a3-244b-4fa8-9374-ee9aade8c55d.png">

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Re

[2022-11-13 02:05] krrishdholakia commented on #2643
cc: @abidlabs

[2022-11-14 07:56] yizhangliu opened #2644 "One modification request for mobile devices"
const container_dimensions = {
			height: container_height,
			width: container_height * (dimensions.width / dimensions.height)
		};

maybe can be modified as:

		const container_dimensions = {
			width: container_width,
			height: container_width * (dimensions.height / dimensions.width)
		};

This will facilitate use on mobile devices.

[2022-11-14 15:16] abidlabs commented on #2644
Hi @yizhangliu can you provide some more details or an example demo that this would fix?

[2022-11-14 16:11] abidlabs commented on #2366
Going to close this @aliabid94, feel free to reopen if you have more details.

[2022-11-14 16:11] #2366 closed

[2022-11-14 16:12] abidlabs commented on #2404
Hi @YashenTaher I'm going to close this as we do not have enough details to reproduce. Feel free to reopen with more details.

[2022-11-14 16:12] #2404 closed

[2022-11-14 16:26] abidlabs opened #2646 "Audio component does not record for users on iOS"
### Describe the bug

We've been getting reports that the Microphone does not seem to work for users on iOS, even once they provide permissions. Here are some of the reports:

* https://twitter.com/ManuelFaysse/status/1592125388452691968
* https://huggingface.co/spaces/fffiloni/whisper-to-stable-diffusion/discussions/4

I've also confirmed I see the problem with a simple repro:

### Is there an ex

[2022-11-14 16:43] fffiloni commented on #2646
Recording works fine i guess, as we can listen to the recorded audio from the html5 player, but it may be a format/codec issue from iOS 🤗

[2022-11-14 19:25] yizhangliu commented on #2644
@abidlabs Thanks.
Due to the characteristics of mobile devices, in many image applications, we can fix the width so that the image can be extended up and down. If the height is fixed, it will extend from left to right, which is not conducive to observation and other operations. It is best to provide parameter selection.

[2022-11-14 19:26] abidlabs commented on #2644
Hmm @pngwn do you have any thoughts on this?

[2022-11-14 22:43] vvvm23 opened #2649 "Update canvas value from code"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I am trying to use a segmentation mask in the first stage of my gradio app. I want to be able to edit this mask further using canvas controls in order to make small adjustments.

**Describe the solution you'd like**
Image with `source=canvas` should use `value` as its

[2022-11-15 00:50] vvvm23 opened #2650 "Get image coordinates of mouse click on Gradio image."
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I'd like to be able to select different segmentation masks by clicking on objects in an image. Currently I use `CheckboxGroup` which works, but is a little awkward to use.

**Describe the solution you'd like**
I would like to be able to get image coordinates and store

[2022-11-15 03:34] osanseviero opened #2651 "Changing from video input example while video is playing breaks"
### Describe the bug

In https://huggingface.co/spaces/sayakpaul/video-classification-ucf101-subset, I can easily switch between examples. If I select example 1, click play, and then switch to another example while it's running, it will break as I won't be able to play the video. Clicking pause/play does not seem to work

### Is there an existing issue for this?

- [X] I have searched the existing

[2022-11-15 08:22] Litchilitchy commented on #1193
`demo.launch()` is to start it locally, however, the connection speed is obviously faster than setting `share=True` and it seems after setting `share=True` and `server_name="0.0.0.0"` the network stability requirement becomes very critical.

Don't know if I am the only one who experiences this. But anyway, I think it's not very reasonable to require such critical connection in a Web UI like this.

[2022-11-15 10:14] pngwn commented on #2644
It's just to preserve the ratio of the canvas in the sketch tool iirc. Will take a closer look at this issue.

[2022-11-15 16:21] #2638 closed

[2022-11-15 16:53] #2636 closed

[2022-11-15 19:10] pngwn commented on #2257
What if you could package a gradio app as a desktop app?

[2022-11-15 20:26] pngwn opened #2654 "Support multiple pages in a gradio app"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
It would be good to distinct pages for different parts of a gradio app, including the ability to navigate directly to that page using the url. This feature should also add some kind of navigation bar/ structure in order to navigate the application.

**Describe the sol

[2022-11-15 20:43] abidlabs commented on #2654
Besides direct URLs, what functionality does a `gr.Page()` allow that a `gr.Tab()` doesn't? All sorts of interesting cases pop up with pages -- e.g. can pages be nested inside other pages similar to tabs? Can you `.load()` a Space with pages inside of another Gradio app? We could implement it but I'm not sure if the value is that high?

[2022-11-15 21:02] pngwn commented on #2654
Main thing is that it is a different level of hierarchy to tabs. Tabs and Pages are different, one could not replace the other but they fill a similar role. Nested Tabs are a _very_ poor experience for the end user and should be discouraged, tabs inside pages are nice and clean. This shift in hierarchy is also reflected in having a different levels of navigation for Pages vs Tabs, and allows us mo

[2022-11-15 21:05] pngwn commented on #2650
This doesn't make sense with the current API, we need some way of passing meta information about the event to the callback function in addition to the component inputs.

[2022-11-15 21:17] pngwn commented on #2649
I though you could do this, will check and get back to you.

Just to clarify, you want to set an image as the starting background image to the sketch tool?

[2022-11-15 21:50] vvvm23 commented on #2649
Yes, to be precise:
- I click "Compute Masks"
- A segmentation model is run and masks stored as a hidden state
- When changing the sliders or checkboxes the "Diffusion Mask" image is updated using `gr.Image.update(value=new_mask)`
- I'd like to then be able to make small adjustments using the canvas tool.

But calling update like this doesn't seem to work.

[2022-11-15 21:52] vvvm23 commented on #2650
That's a shame, is there any way I could hack this in outside the intended API?

[2022-11-15 22:39] abidlabs commented on #2029
As of #2653, we now support email and password textbox types, so renaming this issue

[2022-11-15 22:41] abidlabs commented on #2430
@pngwn let's close unless we can are able to repro?

[2022-11-15 22:41] #2430 closed

[2022-11-15 22:49] rossashman opened #2655 "adjust dataframe font size"
For my NLP work I have dataframes that contain a lot of text.

Is there a way to change the font size in a dataframe so that the text in each cell is more readable?

[2022-11-15 22:50] freddyaboulton commented on #2655
I'm not sure @rossashman ! Does `gr.DataFrame(wrap=True)` help in the meantime?

[2022-11-15 22:58] rossashman commented on #2655
Hi Freddy,

Not really. The text appears as 0.85em, which is very large. It means that to fit the text in it gets wrapped to one or two words per line and then it becomes a long vertical stream. Not very pleasant to look and difficult to read. If I change the font size to 0.5em (just tweaking the js in source view) its much easy to read. I was hoping there might be a css mod I can make? Better sti

[2022-11-15 23:58] freddyaboulton commented on #2655
@pngwn Would this be covered in the upcoming theming PR?

[2022-11-16 02:13] Litchilitchy opened #2657 "Is it reasonable to allow some retries if connection failed"
- [x] I have searched to see if a similar issue already exists.
Existed issue: https://github.com/gradio-app/gradio/issues/1193

Hi I have used `.launch()` method and everything works fine. However when I use `.launch(shared=True, server_name="0.0.0.0")` the app fails so easily. The error is always `Failed to connect to ec2.gradio.app:22 (some other detailed message)`

I checked a few existed rela

[2022-11-16 03:11] abidlabs commented on #2657
Hi @Litchilitchy we're replacing our entire tunneling approach as part of #2509 so let's see if that fixes the issue. If not, happy to take a suggestion there

[2022-11-16 14:52] aliabid94 opened #2658 "Allow gr.DataFrame() to take all pandas dataframe types"
E.g. timestamps currently don't work

[2022-11-16 15:37] freddyaboulton commented on #1665
Closing as the test suite has not flaked in a while

[2022-11-16 15:46] mishig25 commented on #538
for reference, we are already using katex [here](https://github.com/huggingface/doc-builder/blob/b648e065ff4f0d391d6a063e6a91f27e541ef4fb/kit/preprocess.js#L5) in doc-buidler for rendering latex in docs.

please let me know if you have any questions regarding parsing or katex :)

[2022-11-16 18:46] abidlabs commented on #2518
Going to close this. @vzakharov please let reopen this issue if you still have this issue even with ffmpeg.

[2022-11-16 18:46] #2518 closed

[2022-11-16 18:47] abidlabs commented on #2637
Going to close this. @jannisborn please let reopen this issue with more details if you have a feature request we can help with.

[2022-11-16 18:47] #2637 closed

[2022-11-16 18:48] abidlabs commented on #2424
Going to close this. @Vanceagher feel free to reopen if you have a minimal example we can run locally or a Space you can link to. Thank you!

[2022-11-16 18:48] #2424 closed

[2022-11-16 21:58] jannisborn commented on #2637
HI @freddyaboulton,
Thanks for the reply. You're right, I wasnt aware this is a general limitation of python webapps, so it's clearly beyond the scope of this repo.

I refactored my code quite a bit to avoid the use of `signal`. it's a bit of a pity, `signal` only works in main thread and python lacks methods with comparable control for subthreads (packages like `threading` exist but they dont wor

[2022-11-17 04:55] MrNocTV opened #2660 "Disable saving files in /tmp"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently we've just migrated Gradio from 3.1.1 to 3.4 to utilize Websocket feature.
We deploy Gradio on Kubernetes.
Each application is deployed on multiple Kubernetes pods.

We test the Websocket and it works just fine.
This is the content of `app.py`
We have proble

[2022-11-17 06:04] lanxiuying commented on #1193
I wonder if your network were in China , which hard to fetch gradio、github and so on.

[2022-11-17 07:11] abidlabs commented on #2660
Hi @MrNocTV thanks for the clarification. We use files now because they load faster than serializing/deserializing the data. We'll need to think about how to support this use case

[2022-11-17 07:26] MrNocTV commented on #2660
Hi @abidlabs , thank you for your prompt response.
Is it possible to get the original file by adding some params when launching the Gradio?

[2022-11-17 16:03] lvwerra opened #2662 "Parts of evaluate demo spaces illegible in dark mode"
### Describe the bug

Code text is not legible in dark mode, because the chosen font color is too dark.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Example here in the [accuracy](https://huggingface.co/spaces/evaluate-metric/accuracy) demo space.

![](https://user-images.githubusercontent.com/22726840/201073243-112171db-d814-4c92-9906-1d0

[2022-11-17 16:23] abidlabs commented on #2662
@lvwerra sorry I was wrong in my previous message, turns out this issue has already been fixed in the latest version of `gradio`. Example of how code looks now in dark mode:

<img width="973" alt="image" src="https://user-images.githubusercontent.com/1778297/202500935-1fd74e9b-41c5-40f5-9528-a00e96a1d56d.png">

[2022-11-17 20:29] AK391 opened #2665 "**kwargs are not being passed down for gr.Interface.load"
### Describe the bug

It looks like the **kwargs are not being passed down as seen in this demo https://huggingface.co/spaces/akhaliq/Nitro-Diffusion/blob/main/app.py

description is passed but not showing up

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://huggingface.co/spaces/akhaliq/Nitro-Diffusion/blob/main/app.py

### Screenshot

[2022-11-17 21:04] freddyaboulton opened #2666 "Scroll bars on dataframes"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
If your gradio demo displays a dataframe with many rows or columns, all of the dataframe will be displayed at once and users have to scroll all the way down the page to see their data.

![dataframe_long](https://user-images.githubusercontent.com/41651716/202559043-f02

[2022-11-17 21:10] freddyaboulton opened #2667 "Truncate dataframe cell contents"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
The dataframe component will show all the cell contents but this can make you dataframe really wide if it has really long text values (common in NLP).

![dataframe_wide](https://user-images.githubusercontent.com/41651716/202560057-721a353f-538f-4a14-8985-d03fa6054e3b.

[2022-11-17 22:31] abidlabs commented on #2666
I suppose pagination for dataframes (as suggested here: #1245) would be the alternative

[2022-11-17 22:34] freddyaboulton commented on #2666
I think we can support both? To me, pagination means you have to click on a separate button to take you to the next "page" of the dataframe, which may not be desired for some cases and it's not mutually exclusive with scroll bars?

[2022-11-17 22:42] freddyaboulton opened #2668 "Be able to update accordion label from backend"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Would be nice if developers could update the accordion label from the backend.

Example use case,

You have a drop down with dataset names on the left hand side and information about the dataset in different accordion components. You'd like the accordion title to refl

[2022-11-18 01:22] #2665 closed

[2022-11-18 01:35] abidlabs commented on #2662
Will close as this is already fixed.

[2022-11-18 01:35] #2662 closed

[2022-11-18 01:52] wiseyoungbuck opened #2670 "Support for Hotkeys"
From what I can tell, hotkeys/shortcut keys are no supported by Gradio.
I would like to be able to attach hotkeys to my Gradio apps/buttons to improve the UX.

[2022-11-18 05:33] osanseviero opened #2671 "Overriding interface loaded from a space does not work"
### Describe the bug

In https://huggingface.co/spaces/osanseviero/AnimeGANv2-webcam, I'm overriding the inputs and description of the interface, but when launched, it shows the exact same interface to the original.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Check out https://huggingface.co/spaces/osanseviero/AnimeGANv2-webcam/blob/main/

[2022-11-18 05:44] sayakpaul opened #2672 "Examples don't show up when loading from an existing Space"
### Describe the bug

If I do:

[code]

where `deepmind.jpg` was retrieved as -

[code]

the example doesn't show up.

I am trying this on Colab. I have added `debug=True` in `launch()` and logs do not contain any errors or anything that might be useful for the issue.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Stated above.

### Screensh

[2022-11-18 09:48] lvwerra commented on #2662
Thanks!

[2022-11-18 16:14] freddyaboulton commented on #2672
Hi @sayakpaul what version of gradio are you using?

[2022-11-18 17:16] fxmarty commented on #2216
Hello @abidlabs ,

Could you explicit

? I'm trying to have different queues for different buttons, but I did not manage to do it yet (except having several Gradio demos on the same page)

[2022-11-18 18:16] abidlabs commented on #2670
Hi @wiseyoungbuck thanks for the suggestion, but this feels a little niche to me. Potentially we could let users define their own  javascript, as proposed in #2137

[2022-11-18 18:16] freddyaboulton commented on #2671
You can also create a new interface whose function is the upstream interface/blocks

[code]

![image](https://user-images.githubusercontent.com/41651716/202774876-0a60f36b-0ebd-4431-b683-f4c1b4b38637.png)

[2022-11-18 18:17] abidlabs commented on #2671
Thanks @freddyaboulton that's a great suggestion.

[2022-11-18 23:43] freddyaboulton opened #2678 "Display Audio files in a playable format in the Dataset component"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
It would be nice if the Dataset component was able to display audio files in a playable format like the dataset api on the hub:

![image](https://user-images.githubusercontent.com/41651716/202820975-3784b75c-141e-49ba-8dd4-70bdf17f04cf.png)

Would help with #2677 and

[2022-11-19 00:22] osanseviero commented on #2671
Great suggestion, maybe we should document this better as it's a very different/unexpected behaviour

[2022-11-19 01:36] theLastOfCats commented on #2289
Looks like it fixed

https://github.com/encode/httpcore/commit/4cf288e0007cb73561b9020af9228f076ba2a94e

[2022-11-19 02:55] sayakpaul commented on #2672
3.10.1

[2022-11-19 08:35] abidlabs commented on #2671
As discussed, we'll add a warning when someone tries to pass in kwargs when loading a Space

[2022-11-19 08:36] abidlabs commented on #2678
+1

[2022-11-19 08:41] abidlabs commented on #2672
Hi @sayakpaul, yes this is the same issue as https://github.com/gradio-app/gradio/issues/2671. You can see the suggestion @freddyaboulton provided there, and we'll provide a warning to make this clearer for users in the future.

[2022-11-19 08:41] #2672 closed

[2022-11-19 08:51] abidlabs opened #2680 "Document creating a variable number of inputs/outputs"
Recently, we've been getting lots of questions about creating a dynamic number of components.

See, for example:
* https://discuss.huggingface.co/t/adding-gr-dropdown-for-every-value/26070
* https://huggingface.slack.com/archives/C02QZLG8GMN/p1668769643424889 (internal)

Although we don't support this directly, we can indirectly support it by creating a fixed number of components and setting visib

[2022-11-19 08:52] #2379 closed

[2022-11-19 08:52] abidlabs commented on #2379
This is now possible!

See #2641 for the appropriate syntax

[2022-11-19 14:32] yizhangliu commented on #2644
Thanks.
When used on mobile devices, the picture width often exceeds the screen width. Therefore, it is better to configure some components in more detail to adapt to the needs of the application. In one of my applications, I used javascript to implement left-right scrolling. But it would be better if it could be implemented in the gradio.  I hope you can arrange it.
My application:   https://yizh

[2022-11-20 07:31] joytianya commented on #2379
Is this example right?
`import gradio as gr

def test(name, request: gr.Request):
    print(request.headers)
    return name

io = gr.Interface(test, "textbox", "textbox").launch()`
error:
AttributeError: module 'gradio' has no attribute 'Request'
version:
gradio-3.10.1

[2022-11-20 12:33] SkyTNT opened #2681 "OSError: [Errno 36] File name too long"
### Describe the bug

`Audio.preprocess` will throw error If the file name of input audio is too long.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Name an audio file `水本ゆかりです｡私､こんなかわいい服は初めて着ました…｡なんだかうれしくって､楽しいです｡歌いたくなる気分って､初めてです｡これがｱｲﾄﾞﾙってことなのかもしれませんね!7046dya9`  and put it into
any Audio component in [https://huggingface.co/spaces/skytnt/

[2022-11-20 13:16] vscv opened #2682 "`gr.Markdown` not displaying images from Imgur"
```gr.Markdown("""![Imgur](https://imgur.com/qdpQnUk.jpg)""") # not work```

[2022-11-20 18:53] abidlabs commented on #2379
Yes that example is correct, but you'll have to install the latest version of `gradio` from `main` as it is not out on pypi yet. You can try:

[code]

or wait until we release `gradio==3.11`  which will probably be sometime next week

[2022-11-20 19:10] abidlabs commented on #2682
Thanks @vscv. This is actually a known problem with imgur, where they do restrict access to images from a 127.0.0.1 referer. See here for example; https://stackoverflow.com/questions/43895390/imgur-images-returning-403

You can get around this by changing your `server_name` to be `localhost` instead, like this:

[code]

[2022-11-20 19:10] #2682 closed

[2022-11-20 19:13] abidlabs commented on #2681
Hi @SkyTNT the limitations of file

[2022-11-20 19:19] abidlabs commented on #2681
Hi @SkyTNT it looks like the original filename is quite long here which is causing an issue when the temporary file is created. Would it be possible to shorten the original filename before you put it into the `Audio` component?

[2022-11-21 01:47] SkyTNT commented on #2681
Users don't konw that they need to shorten filename because they can't see the error logs.

Just like creating temporary file in `postprocess`, I think we don't need to use original filename as prefix for temporary file.

[2022-11-21 02:27] abidlabs commented on #2681
That's a good point! I think there might be some identifiability benefit to using the same or similar name as the prefix for the temporary file, but we can check to see if the filename is too long for the particular OS and shorten it if needed.

If you are open to making a PR, happy to review!

[2022-11-21 02:44] joytianya commented on #2379
ok

[2022-11-21 03:03] abidlabs commented on #2660
Hi @MrNocTV reading through this again, I just wanted to clarify one thing: you mention in the title that you'd like to use `/file/` instead of `/file=` -- just to confirm, the issue really isn't about the particular path to the files, but just the fact that the temporary files are not created across in all of your machines?

[2022-11-21 03:15] abidlabs commented on #2516
On the Python side, we already have `gr.Interface.load()`, which respects the queue. However, it only supports Spaces right now. Would be good to add support for arbitrary URLs

[2022-11-21 03:55] MrNocTV commented on #2660
@abidlabs I think the simplest solution is to use the correct path to the file instead of the path tot the `temp` directory, which is not created across all of the pods.

Yes, you said correctly about the issue.

It would be great if it can be fixed quickly before you guys can come up with another way of making the current architect scalable.

[2022-11-21 04:32] vscv commented on #2682
Thanks for the help @abidlabs. Imgur works fine now.  However,  when I try to display the local image like the following:

[code]

[2022-11-21 06:30] abidlabs commented on #2682
For local images, you should preface the path with `file=`. So you can try:

[code]

[2022-11-21 06:32] abidlabs commented on #2660
Just to provide some context, the reason we create a temporary copy of the file is in case your prediction function _modifies_ the original file, it would get modified across all users. That's why we create a temporary copy before running the prediction function or doing any postprocessing. Let me think about this a little more and see if we can avoid creating temporary copies in some cases.

[2022-11-21 08:44] apolinario opened #2683 "Allow for a tqdm and custom ETA as opposed to the native one in Gradio"
- [x] I have searched to see if a similar issue already exists.
(I don't think it is the same as https://github.com/gradio-app/gradio/issues/1596, but if it is feel free to close)

**Is your feature request related to a problem? Please describe.**
Gradio automatic calculation of progress and estimation is a great approximation based on previous runs. However, it doesn't work if:
- It is the first

[2022-11-21 08:45] apolinario commented on #340
+1 for this. Now that we have iterative outputs, should be great to have a progress bar component, if it were integrated with tqdm automagically even better as so many implementations already use it to give progress bar estimation.

I think this could come together with this issue for doing the same thing but with the native progress bar embeded into the output components: https://github.com/gradi

[2022-11-21 13:20] apolinario commented on #2668
Additionally, would be great to also be able to update the status of the accordion (expanded or not) via the backend

[2022-11-21 16:07] libai-lab opened #2686 "how to fix this bug when i start this project"
### Describe the bug

 when i try to rebuild this project i got this problem

 ERR_PNPM_RECURSIVE_RUN_FIRST_FAIL  @gradio/app@1.0.0 build:local: `vite build --mode production:local --emptyOutDir "--emptyOutDir"`
Exit status 137
 ELIFECYCLE  Command failed with exit code 1.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

I just run bash script

[2022-11-21 16:09] abidlabs commented on #2686
Hi @libai-lab do you have `pnpm` version 7 or above installed?

[2022-11-21 16:20] libai-lab commented on #2686
Contributing to Gradio
Prequisites:

[Python 3.7+](https://www.python.org/downloads/)
[pnpm version 7.x](https://pnpm.io/7.x/installation) (optional for backend-only changes, but needed for any frontend changes)
More than 80 awesome developers have contributed to the gradio library, and we'd be thrilled if you would like be the next gradio contributor! Start by cloning this repo and installing Gra

[2022-11-21 16:26] libai-lab commented on #2686
my pnpm version is 7.17.0

[2022-11-21 16:30] abidlabs commented on #2686
It looks like there have been similar issues that have been fixed by upgrading the version of node and pnpm. For example: https://github.com/gradio-app/gradio/issues/2300

Can you confirm that you are running with node 16+?

[2022-11-21 17:03] apolinario opened #2687 "Make gr.Error `position: Fixed` in an iframe"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently gr.Error is on the top-right. However if your application scrolls down, the user can never read what error it was unless they scroll back up
![image](https://user-images.githubusercontent.com/788417/203115423-55e97884-fb17-4e5b-86ff-0f0a28a9f721.png)

**Desc

[2022-11-21 17:56] freddyaboulton opened #2688 "Display Cell Colors in a Dataframe"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
In pandas, you can use the [style](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html) property to apply formatting to your data (cell background colors, rounding decimals) and then get an HTML representation of the table.

Gradio developers can displa

[2022-11-21 18:34] #2062 closed

[2022-11-21 20:45] thedirptastic opened #2689 "Gradio doesn't work on older IOS versions"
### Describe the bug

Whenever I try to use a website using Gradio, my phone (IOS 12.5) shows a blank webpage.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Grab an old IOS device (I think before IOS 14.8)
Visit a site using Gradio

### Screenshot

![51C074D5-9D60-4369-877B-1799A7019CFE](https://user-images.githubusercontent.com/80712226/20

[2022-11-21 21:00] freddyaboulton commented on #2049
We've added some demos to the landing page and created a separate guides track for data science. We will add more guides as we build more ds features. Will close this

[2022-11-21 22:10] #562 closed

[2022-11-21 22:30] freddyaboulton opened #2693 "More actionable error message if loading a model into an interface fails"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
When you try to load a model into an interface, we check if the model exists by sending a get request to the inference api for that model.

[code]

However, this request can also fail if the model exists but you have not accepted the conditions to use the model from y

[2022-11-21 22:37] #1903 closed

[2022-11-21 22:39] #1325 closed

[2022-11-22 02:21] MrNocTV commented on #2660
I see, thank you for your explanation.

But I think loading the files from the UI and processing it behind the scene is two different things.
In the backend you can create temp file to avoid modifying the original file, but it the frontend it should always load the original one, right?

[2022-11-22 02:29] abidlabs commented on #2686
Hi @libai-lab I'm not sure why it's not working. Is it possible for you to share your codespace (I haven't used codespace so I don't know if it's possible). ccing @pngwn in case you have ideas!

[2022-11-22 02:30] abidlabs commented on #2687
Makes sense, thanks for the nice suggestion @apolinario!

[2022-11-22 02:42] abidlabs commented on #2687
Hmm interesting I just tested this out and for me, locally the `gr.Error()` appears in a fixed position. However, when embedded in Spaces, it does not appear in fixed place.

This seems like a limitation of iframes, according to https://stackoverflow.com/questions/9578364/absolute-position-elements-within-iframe

cc-ing @pngwn, do you know if this is doable?

Here's my code to reproduce:

[code]

[2022-11-22 02:51] libai-lab commented on #2686
I don't know if this can be used, thank you for your kind help!!

[](https://libai-lab-ubiquitous-space-spoon-pjj67wp47jxf696.github.dev/)

[2022-11-22 02:51] libai-lab commented on #2686
https://libai-lab-ubiquitous-space-spoon-pjj67wp47jxf696.github.dev/
[https://libai-lab-ubiquitous-space-spoon-pjj67wp47jxf696.github.dev/](url)

[2022-11-22 11:01] apolinario opened #2697 "Allow for limiting file extensions with `gr.File`"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I would like to let users only upload files from specific extensions with the `gr.File` component

**Describe the solution you'd like**
An `allowed_extensions` or equivalent parameter that lets me pass a list of extensions that are allowed. A more sophisticated versio

[2022-11-22 16:50] BardiaKh opened #2699 "Error loading resources when in http"
### Describe the bug

When running gradio demo locally without SSL (over HTTP) sodium.js fails to instantiate WebAssembly in Chrome. It seems that this is the case in HTTP and to fix that you have to pass in a CSP meta tag ([source](https://github.com/jedisct1/libsodium.js/issues/196#issuecomment-489232730)).

I did try to change the `/templates/frontend/index.html' to include the mentioned tag bu

[2022-11-22 17:28] abidlabs commented on #2697
Good news, @dawoodkhan82 just added this as part of #2591! It supports passing in a list of file_types, which can be "image", "audio", "video", or "text"

It's out on `main`, will be out on pypi sometime this week!

[2022-11-22 17:28] #2697 closed

[2022-11-22 17:58] apolinario opened #2700 "Using `gr.File` as an input fails with large files when the queue is activated"
### Describe the bug

If a `gr.File` working as an input, gets either one large file or small files that sum to large-ish values (>10MB) uploaded to it, Gradio will not process the upload and will show a `Connection errored out` error. This only happens if the queue is active.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

This demo fails if

[2022-11-22 18:55] kenndanielso opened #2703 "Embed private repo apps"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I can't embed private repo Gradio apps. Leaving it as a public app attracts bots and is expensive to host since I use external APIs that I get charged for.

**Describe the solution you'd like**
A way to embed private Gradio apps on external web pages or apps.

**Addit

[2022-11-22 20:19] MandarGogate opened #2704 "Recording Audio and Video from webcam simultaneously"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I want to build a demo for machine learning model that processes Audio-Visual data from webcam. The current Video component records from webcam without audio.

**Describe the solution you'd like**
Since the Video component uses MediaRecorder API it can record audio an

[2022-11-22 20:27] abidlabs commented on #2703
Thanks for creating this issue @kenndanielso. However, this is related Spaces, not the `gradio` library. Would you be able to open a discussion here? https://discuss.huggingface.co/c/spaces/24

[2022-11-22 20:27] #2703 closed

[2022-11-22 20:32] MandarGogate commented on #2704
I managed to update the Webcam.svelte to fix this. You can have a look at [https://github.com/MandarGogate/gradio/commit/2d291e7f311192899e01b5f82133905ce1dace67](https://github.com/MandarGogate/gradio/commit/2d291e7f311192899e01b5f82133905ce1dace67). I tested this on Safari, Chrome and Firefox.

[2022-11-22 23:00] Radhe-0 commented on #2642
Please answer 😓

[2022-11-22 23:00] #2642 closed

[2022-11-22 23:01] Radhe-0 commented on #2642
Please answer  😓

[2022-11-23 00:56] #2278 closed

[2022-11-23 01:06] abidlabs commented on #2704
Great, thanks so much @MandarGogate! Would you be able to open a PR and happy to review it?

[2022-11-23 02:42] zhanghongyong123456 opened #2708 "when The computer has no network,gradio does not work properly?"
### Describe the bug

Hi, can gradio be implemented on computers without Internet connection? What should I do if I disconnect the Internet and the message indicating that the link has failed

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

![image](https://user-images.githubusercontent.com/48466610/203459420-9eff4c10-1728-4642-ad2e-7776a5ed14

[2022-11-23 03:21] #1763 closed

[2022-11-23 03:23] abidlabs commented on #2708
Hi @zhanghongyong123456, you're right currently `gradio` doesn't work without an internet connection We're working on hosting all the assets locally so that this won't be a problem in the near future.

Closing this issue as it is a duplicate of #1450.

[2022-11-23 03:23] #2708 closed

[2022-11-23 04:01] abidlabs commented on #2642
Hi @Radhe-0 I'm not able to reproduce the issue. When I ran your code, I was able to continue changing the image. Here is a screencast:

![59172c0d-00e2-41eb-ba1e-a99b8d31ef2e](https://user-images.githubusercontent.com/1778297/203466922-1ecb59cc-faf0-4c10-8317-4bdfde545f5a.gif)

The only differences that I can think of are:
* I'm running on the latest version of `gradio` (3.10.1)
* I'm using diffe

[2022-11-23 04:37] #2700 closed

[2022-11-23 04:44] #2671 closed

[2022-11-23 04:44] #2693 closed

[2022-11-23 04:55] abidlabs commented on #2689
Hi @thedirptastic thanks for bringing this to our attention. I do not think we have the resources to investigate performance on iOS 12 or older versions. If you are able to investigate this and let us know the underlying issue, we can look into a fix, but otherwise, I'm inclined to close this issue.

[2022-11-23 11:28] apolinario opened #2712 "Documentation page doesn't distinguish methods with the same name for anchor link"
### Describe the bug

If I'm navigating in the demos page and I click a method that has the same name as a method of another class, it ends up sending me to the first one with the same name.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://user-images.githubusercontent.com/788417/203535481-4cf68817-889b-44b7-b3c6-1f03906449c2.mp4

###

[2022-11-23 13:43] R4ZZ3 commented on #2260
Any estimate when this fix will be live?

[2022-11-23 18:19] thedirptastic commented on #2689
I suspect it is a css issue, and there are no errors in console. I do understand that IOS 12 is old but I have been told the bug persists until IOS 14.5. If you can’t look into this, I understand, but I hope this is enough info to look into this problem.

[2022-11-23 19:53] #2712 closed

[2022-11-23 20:06] aliabd commented on #2712
Thanks @apolinario for flagging this. Just fixed and deployed to the website. Note that it will only work on [/docs/main](https://gradio.app/docs/main/) for now, as the main docs page reflects latest from pip and only updates when a new version is released, but all the ids are fixed now and won't clash.

https://user-images.githubusercontent.com/9021060/203636945-3e169e0b-0c5b-4e30-b64b-89c20bee14

[2022-11-23 22:19] apolinario opened #2714 "Add and document `queue` parameter in `blocks.load()`"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
If a job is running, the gr.Load() adds its tasks to the queue, kind of ruining the goal of running code at startup.

**Describe the solution you'd like**
I would like to be able to do a `queue=False` for `blocks.load()` while still leave the queue active globally for

[2022-11-23 22:32] pngwn commented on #2714
You can set `queue=False` on a per event basis:

[code]

[2022-11-23 22:34] pngwn commented on #2714
I dont understand why this isn't documented though. https://www.gradio.app/docs/#blocks cc @aliabd

[2022-11-23 22:51] aliabd commented on #2714
The queue parameter in `blocks.load()` isn't documented because it's not defined as a parameter, but looks like it works through the kwargs. The docs pull from the docstrings and [it isn't there](https://github.com/gradio-app/gradio/blob/78796f6efe6eafe77d93eaf0dd473829d9a0804f/gradio/blocks.py#L1091).

The `blocks.queue()` method isn't documented because it the `@document` decorator  above `Block

[2022-11-24 01:02] rishikeshF opened #2715 "Requesting for autoplay feature in Gradio audio"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the featur

[2022-11-24 01:27] abidlabs commented on #2715
Sounds like the same as #1349?

[2022-11-24 03:40] apolinario commented on #2714
I don't think `queue=False` in the `load` component is working. I set it to False and it still shows me queue

[2022-11-24 04:14] MrNocTV commented on #2660
@abidlabs
We're building a service like Huggingface but only used internally in our company. Is it possible to have more support for features like this?
Sorry if this bothering you. 😄

[2022-11-24 06:08] krrishdholakia opened #2716 "Examples throws error in external site (ie. through onload)"
### Describe the bug

the gradio examples function throws an error when you use the space in an external site.

I have a site consuming my huggingface space. When i try using the example in the hf space, it works fine. But when i try using it in the website, it throws an error.

<img width="1597" alt="Screen Shot 2022-11-23 at 10 04 37 PM" src="https://user-images.githubusercontent.com/17561003/20

[2022-11-24 10:08] pngwn commented on #1349
Auto playing audio is not allowed in chrome, although works in other browsers. Auto playing videos work in all browsers as long as the video is muted.

There are some workarounds but they are pretty heavy and can be inconsistent.

Will see if we can any other options here since there have already been user interactions.

[2022-11-24 10:08] pngwn commented on #2715
Closing as duplicate.

[2022-11-24 10:09] #2715 closed

[2022-11-24 15:56] pngwn commented on #2714
Do you have a simple repro that we can look at?

[2022-11-24 19:28] aliabd opened #2717 "Docs are unusable on mobile"
### Describe the bug

Docs don't even render fully on mobile. Likely all the embedded demos are too heavy on the page.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Just go to www.gradio.app/docs on mobile

### Screenshot

https://user-images.githubusercontent.com/9021060/203853895-e18580a8-96e6-4e89-af7f-b1c9c5828602.mp4

### Logs

![Scree

[2022-11-24 21:58] krrishdholakia commented on #2716
cc: @abidlabs

[2022-11-25 08:10] colemanhindes commented on #1379
If you use the File option, then on mobile it doesn't take the user to their photos, it takes them to their files, which are often empty

[2022-11-25 09:21] apolinario opened #2718 "Form validation"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
There's no form validation on Gradio

**Describe the solution you'd like**
Implement basic form validation for form fields. Specifically, a suggestion would be to add a `mandatory` parameter to all input fields, if `true` and one tries to submit without filling that i

[2022-11-25 10:21] julien-c commented on #2718
yes i've had same feedback before (`required` prop on inputs)

[2022-11-25 12:39] osanseviero opened #2720 "Allow making dataframes static/non-editable"
- [ ] I have searched to see if a similar issue already exists.

For Spaces such as https://huggingface.co/spaces/ysharma/Playground_AI_Exploration, the user is showcasing a dataframe, so it's not useful to be able to add rows and columns. Instead, the user should only be able to read the dataframe

[2022-11-25 13:05] pngwn commented on #2718
We used to have something similar and then it was removed in 3.0 and then i was going to reimplement recently and then we decided not to. But i can't find the issues where this happened or remember why. @abidlabs Can you remember why we decided not to?

I agree though, I think it is a useful feature. Do we want more complex input validation here or just 'required' fields?

We could easily accept a

[2022-11-25 18:04] doevent opened #2723 "No result in opera browser"
### Describe the bug

Not showing images results on huggingface: "Internal Server Error" in Opera browser

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Reproduction

https://huggingface.co/spaces/stabilityai/stable-diffusion

### Screenshot

![image](https://user-images.githubusercontent.com/61069711/204034355-6afa82f2-4f84-4764-8747-0cd41c530950.png)

#

[2022-11-25 21:50] himmetozcan commented on #2635
Same problem. It is very slow when the image resolution is high.

[2022-11-26 02:25] abidlabs commented on #2716
I’m OOO this week, but happy to take a look next week!

On Thu, Nov 24, 2022 at 3:58 PM Krish Dholakia ***@***.***>
wrote:

[2022-11-26 09:31] cailiang9 opened #2724 "can gradio support sanic framework for better IO performance?"
fastapi is slow http://klen.github.io/py-frameworks-bench/
![image](https://user-images.githubusercontent.com/3636844/204081982-6c91ca2e-8b63-49b6-ade4-0f93e3d57b48.png)

[2022-11-26 09:41] pngwn commented on #2724
Can you provide more context for this request? What performance problems are you currently experiencing with Gradio? Could you provide a reproduction of this issue?

FastAPI forms part of the public Gradio API and changing it would be a breaking change. It would also require a reasonable amount of effort and it isn't clear to me that the performance improvements from another framework would have a

[2022-11-26 09:41] #2724 closed

[2022-11-26 11:14] CoffeeVampir3 opened #2725 "Returning `{}` from a function to update nothing raises an `Error`"
Hello, this request arose from the following example. I've currently got a Gradio UI which I'm loading configuration values of the last run back into:

[code]
[code]
You can see, I'm forced to return some dubious default values. On the converse side, my proposal would be something like this:

[code]

The problem with the existing implementation is that in order to return valid defaults, you have t

[2022-11-26 12:26] pngwn commented on #2725
Another issue with returning hard coded defaults is that it ought not be the desired behaviour. If a user has changed the values of certain components, either manually or through dispatching a previous event, those values will no longer be the defaults and the author may not want those values reset to default but rather left however they are.

In terms of implementation, return `None` might be pro

[2022-11-26 17:32] aliabd commented on #2723
Hey @doevent I'm unable to reproduce this. It's running fine for me on Opera `v93.0.4585.21`. May have been a specific issue with the space when you tried it. Are you still seeing the error?

![Screen Shot 2022-11-26 at 9 31 43 AM](https://user-images.githubusercontent.com/9021060/204101531-f856c68e-a549-45f7-9595-b751748c2df5.png)

[2022-11-26 17:39] aliabd commented on #2720
This can be done by setting `interactive=False` in `gradio.Dataframe()`. I duplicated the space to show this [here](https://huggingface.co/spaces/aliabd/non-interactive-dataframe).

[2022-11-26 18:02] aliabd commented on #2716
Hey @krrishdholakia

* The version of gradio that the space is using is not `3.11.0`, it's `3.4.1`. Can you update it to `3.11.0`? Go to the README.md file in the space and change the `sdk_version` to:
[code]
* The version of the `gradio.js` module you're loading in the repl isn't `3.11.0`, it's `3.9.1`. Replace the script in the header with:
[code]

That should fix it, but let me know if it doesn

[2022-11-26 23:54] yujiehecs opened #2726 "No timeout for version_check's requests"
### Describe the bug

By default, `utils.version_check()` is called every time when an Interface is instantiated, as in https://github.com/gradio-app/gradio/blob/1c244cc34281086eb15b233db6f923c0cfe238e3/gradio/interface.py#L406

However, the `requests.get()` call within `version_check()` does not have timeout config, as in
https://github.com/gradio-app/gradio/blob/5e148c3752a3534378a9b99f1cc64ad34

[2022-11-27 03:26] doevent commented on #2723
Opera Version (private window): `93.0.4585.21`
Os Windows Version: `10 21H2`

![image](https://user-images.githubusercontent.com/61069711/204117815-ae49c0d9-e309-4f30-83a1-8bfde44b4b5e.png)

I am using chrome browser. It works in this browser.

[2022-11-27 05:57] abidlabs commented on #2726
Thanks @yujiehecs for spotting this! Can confirm the problem -- would you be able to able to make a PR to add a timeout? We'd be happy to review it

[2022-11-27 05:59] abidlabs commented on #2670
I'm going to close this issue, but if other users feel similarly, please chime in with use cases and we can potentially change our mind.

[2022-11-27 05:59] #2670 closed

[2022-11-27 06:04] abidlabs commented on #2699
Hi @BardiaKh started looking into this but everything looks fine to me:

<img width="1126" alt="image" src="https://user-images.githubusercontent.com/1778297/204121633-95d434bf-4825-415a-964c-08d81dde0dab.png">

Were you able to fix the issue or is it still broken on your end?

[2022-11-27 13:01] fefespn opened #2728 "Adding "code" component"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I got little bit frustrated when trying to output a code (e.g. Python code) as a text component,
while it's sufficient, I think having a "code component" or textbox component with "code" type would be more
convenient to read (or maybe write as input).

**Describe the

[2022-11-27 14:52] yujiehecs commented on #2726
@abidlabs Created a small PR https://github.com/gradio-app/gradio/pull/2729 to fix it.

Thus the PR check is still pending. Please let me know if a short description in CHANGELOG's bug fix section is required.

[2022-11-28 01:41] #2726 closed

[2022-11-28 02:19] abidlabs commented on #2725
Hi @CoffeeVampir3 you can always return a dictionary of components in order to only update a subset of the output components. For example, if your function were to return `{prompt_textbox: "hi"}`, it would only update the `prompt_textbox` component. In this case, you can just return an empty dictionary in order to not update any of those components:

[code]

[2022-11-28 02:21] abidlabs commented on #2720
@osanseviero feel free to reopen with more details if @aliabd's answer doesn't work for you!

(cc @yvrjsharma)

[2022-11-28 02:21] #2720 closed

[2022-11-28 02:27] abidlabs commented on #2718
Yes, definitely doable. The only tricky thing is whether or not a component is required may depend on what event trigger is being called. I.e. you could have 2 events, and in one of them, a component is required, but in the other, the component is not required. How we fit this into the Python API I'm not sure cc @aliabid94 @freddyaboulton

[2022-11-28 02:55] #2681 closed

[2022-11-28 05:25] abidlabs commented on #2260
Hi @R4ZZ3 we're still ironing out some issues related to the FRP branch -- but if you would like to test it out (no guarantee on its stability!) you can do it by installing `gradio` locally, checking out the branch, and then running this command:

`cp gradio/templates/frontend/index.html gradio/templates/frontend/share.html`

before you run your Gradio app

[2022-11-28 07:52] abidlabs commented on #2560
Note: this issue is blocking #2965 as we need to trigger an event (flagging) after another event (prediction) is complete.

[2022-11-28 08:43] apolinario opened #2732 "`gr.File` transfers the same file to a different temp folder every time it is executed"
### Describe the bug

(Not sure if a bug, feel free to re-tag this is a feature request)

I have a `gr.File` component that should display a 5GB file, this component is constantly mounted/unmounted as the application is loaded or refreshed

Everytime the component is mounted the file is transferred to a new temporary folder/file like `/tmp/tmpyesjr1q0/diffusers_model4x4bg8ew.tar`

So not rarely I

[2022-11-28 08:56] apolinario commented on #2718
Great point @abidlabs, then maybe the required props don't live on each component - but rather on the event trigger (`button.click` for example), could have a list of which components are mandatory

@pngwn IMO would be fine to split the two tasks and start with front-end validation only. I am aware it is easy to meddle with front-end validation (also for existing limitations e.g.: sliders https://

[2022-11-28 13:52] freddyaboulton commented on #1245
Closing in favor of #2209. Thank you @Zengyf-CVer will hopefully get this fixed soon!

[2022-11-28 13:52] #1245 closed

[2022-11-28 14:11] freddyaboulton commented on #2728
Hi @fefespn thanks for filing! Totally agree that this would be a useful feature to add. We already have an issue open for this #1014 and I believe @pngwn sketched out an implementation a couple of weeks ago!

[2022-11-28 14:11] #2728 closed

[2022-11-28 16:04] abidlabs opened #2733 "Fixes to the View API page"
@osanseviero caught some issues with the view API page:

1. For audio, the example shows .wav  but the docstring says // represents audio data as base64 string of 'audio' Audio

![image](https://user-images.githubusercontent.com/1778297/204324582-e0ef95ab-42c9-487e-9f15-4312460e03a5.png)

2. I clicked try it out and it errored out, which was kinda expected to me, but there is not much info on the

[2022-11-28 17:45] phosseini opened #2734 "iframe content can't be loaded when deployed on Huggingface"
### Describe the bug

I've included an `iframe` tag on my page where the content will be generated by calling a URL with a parameter (I call the URL with one parameter, it generates some content, and I want to show that content in my app). When I run my app locally, the content is loaded successfully. But when I deploy my app on Huggingface space, the content does not appear and all I see is just

[2022-11-28 18:27] abidlabs commented on #2660
Hi @MrNocTV I'm going to take a look at this issue this week and see what we can do.

[2022-11-28 18:27] abidlabs commented on #2732
Hey @apolinario thanks for creating the issue. Will take a look this week!

[2022-11-28 19:23] #2717 closed

[2022-11-28 19:26] abidlabs commented on #2734
Thanks for creating the issue @phosseini. Does this happen only with your own URL or with generally any URL? Perhaps you can find and another example URL that has the same problem that you could share with us so that we can reproduce. Thanks!

[2022-11-28 20:42] CoffeeVampir3 commented on #2725
Heya Abid, it looks like this causes a on load:
[code]

The error doesn't really give me any insight as to what happened:
[code]

I can confirm reverting this one change does indeed stop this error from occuring so this seems to be the source, although it's really ambiguous.

Thanks for your time!
Z

[2022-11-28 20:47] abidlabs commented on #2725
Ahhh okay so this is a bug, thanks for alerting -- let me issue a PR

[2022-11-28 20:55] sachit-menon commented on #2129
Hi, any update on this? It is doable but a bit of a pain to have to list every item in the directory individually every time.

[2022-11-28 21:02] abidlabs commented on #2129
This issue got buried @sachit-menon, but I'll take a look this week! Thanks for the reminder

[2022-11-28 21:26] abidlabs commented on #2725
Hi @CoffeeVampir3 actually let me suggest another approach -- can you return `gr.skip()` for each component that you'd like to leave unaffected?

In your case, I guess it would look like this:

[code]

[2022-11-28 21:55] CoffeeVampir3 commented on #2725
So this is quite strange:

[code]
This method does pose a bit of a problem though, as the argument count still has to be known by all 3 methods and doesn't really provide a good fit against `kwargs`

For some additional context, the save is just dropping kwargs into omega config
[code]
 This scheme almost works, except for this one pesky detail with the defaults here.

[2022-11-28 22:03] abidlabs commented on #2725
Ok one more suggestion that is a bit hacky but may work for your use case:

is there any input that is *guaranteed* to be in your UI? Suppose that it is `prompt_textbox`. Then, if you return `{prompt_textbox: gr.skip()}` from your function, it should actually just skip all of the other components as well.

In other words, could you try:

[code]

[2022-11-28 22:18] abidlabs commented on #2725
And just in case *that* suggestion doesn't work, here's an alternative suggested by @freddyaboulton:

[code]

[2022-11-28 22:19] CoffeeVampir3 commented on #2725
This works! In the case that the configs aren't the same from tab-to-tab, worst comes to worst I can probably make a dummy component that's not visible and use it as an anchor I think.

For anyone with a similar request, I exploited partial functions here to take the component because using the component as an input will grab it's value:

[code]

Bit hacky but this totally does what I need it to,

[2022-11-28 22:19] #2725 closed

[2022-11-28 23:12] #2668 closed

[2022-11-29 06:45] MrNocTV commented on #2660
Hi @abidlabs
Thank you a lot for your support. I'm looking forward to the solution :D

[2022-11-29 15:35] steysie commented on #2660
Hi!
@MrNocTV, thanks for creating this issue, it's similar to my experience.
I have a Gradio app with audio and video inputs. At some point it showed the "No space left on disk" error, and the data was stashed in the not so obvious `/tmp` folder outside user directory from where the app in launched.

I would also appreciate if the temp directory could be manually specified (currently, it's hardcod

[2022-11-29 19:26] #538 closed

[2022-11-29 19:41] sachit-menon commented on #2129
Thanks!

[2022-11-29 20:26] #2498 closed

[2022-11-30 16:18] #2716 closed

[2022-11-30 18:21] #1441 closed

[2022-11-30 18:32] aliabd commented on #1441
Closed this issue as we have not received enough user requests for this

[2022-11-30 19:06] gary149 opened #2749 ""Duplicate Space" & "Share to Community" buttons"
Implement the button directly in Gradio API.
`gr.ShareButton` by @merveenoyan could work well 👍

![image](https://user-images.githubusercontent.com/3841370/204886429-01bfb364-52bf-4207-9aaf-f31f4473f62a.png)