[2022-08-27 07:10] abidlabs commented on #2095
Hey @merveenoyan it looks like the issue is happening because of example caching (which happens by default in Spaces, but not elsewhere). You set `cache_examples=False` in `Interface()` to prevent this from happening in Spaces, while we look into the underlying issue. Thanks!

[2022-08-27 14:10] nasskall opened #2098 "Labels disappear when interpretation is clicked"
### Describe the bug

Although the slider's label is visible at the beginning before changing values on slider and remains visible when values are changed to perform a classification task, when  I use the property intepretation="default" in the predict function the label of the slider is not shown on the html page

### Is there an existing issue for this?

- [X] I have searched the existing issues

[2022-08-27 16:15] altryne commented on #776
Given how much gradio is being used now with the explosion of stable diffusion, I would love for this to be included in future releases.
Seeing a loading progress bar is one thing, but seeing your image getting updated is a whole another experience (Midjourney bot has something similar)

[2022-08-27 16:28] altryne commented on #2071
I've worked on the updated stable diffusion UI and I have so many comments. (Gradio is amazing btw, can't believe how fast interfaces can be built together)

- Width properties! I had to hack together making the columns difference widths and would love a native solution for grid like widths. Flexbox supports this
![CleanShot 2022-08-27 at 10 26 21@2x](https://user-images.githubusercontent.com/4633

[2022-08-27 18:12] abidlabs commented on #776
Yess absolutely, we'll prioritize this next week!

[2022-08-27 18:13] abidlabs commented on #2071
This is awesome @altryne thanks for all of the feedback! Several of these are already in the works :)

[2022-08-27 18:25] abidlabs commented on #2098
Thanks for the issue @nasskall! We'll look into this. @freddyaboulton maybe we can add to the DS milestone?

[2022-08-27 18:36] abidlabs commented on #2095
Following up here, I rebuilt the same Space using `gradio==3.1.8b0`, and the Space seems to build correctly: https://huggingface.co/spaces/abidlabs/tabular-playground/tree/main

So this issue should be fixed when we release 3.1.8 next week. (Besides the examples not showing up properly, which we'll tackle as part of #2092)

[2022-08-27 18:36] #2095 closed

[2022-08-27 18:37] abidlabs commented on #2092
Agreed, in general examples for Dataframes could look nicer. Let me broaden the issue

[2022-08-27 21:45] #1767 closed

[2022-08-27 22:06] #2069 closed

[2022-08-28 00:43] abidlabs commented on #730
I've been looking into this issue and can take it!

[2022-08-28 07:10] abidlabs commented on #2074
Here is a working example:

[code]

Which produces this:

<img width="721" alt="image" src="https://user-images.githubusercontent.com/1778297/187062198-551d8d6d-9f78-4038-9a19-619d3f69d4f6.png">

I'll keep this issue open until we document this better

[2022-08-28 15:03] abidlabs commented on #730
Thanks @aliabd for creating the issue, this should be fixed now in the following way:

[code]

[2022-08-28 16:35] ankrgyl opened #2101 "In Examples Component, if fn is provided and cache_examples=False, fn is never run"
### Describe the bug

Reading the [docs](https://gradio.app/docs/#examples), I'd expect that if `cache_examples=False`, but `fn` is provided, then if the example is selected, the outputs are populated. However, this appears to only occur if `cache_examples=True`. Looking at the code, I believe this is caused by the fact that the `fn()` is called _only_ when there is a cache miss.

### Is there an

[2022-08-28 18:53] abidlabs commented on #2071
Quick clarification here: is this for copying images or text or something else?

[2022-08-28 19:10] altryne commented on #2071
@abidlabs I used it to copy images and text (for SD it was seeds, prompts etc')

[2022-08-28 19:15] altryne opened #2102 "Reload mode loads infinitely on port 7860 (using the gradio script.py)"
### Describe the bug

I run the debug mode, with the hopes of getting the autoreload working, and for some reason, it keeps loading and then times-out.

I then can access the running server on port 7861 but then every safe, I need to manually go to 7862 or 7863...

![CleanShot 2022-08-28 at 13 12 38@2x](https://user-images.githubusercontent.com/463317/187090711-a25d619a-d966-4372-b6e2-b1b2046cae9c

[2022-08-28 19:36] abidlabs commented on #2071
Ok that makes sense. Also to clarify:

Have you tried using element IDs? You can pass in an `elem_id` parameter to any `Component` or `Block` and it will allow you to target it via css. Docs: https://gradio.app/custom_CSS_and_JS/#the-elem_id-argument

[2022-08-28 19:38] abidlabs commented on #2101
Interesting point. So just to make sure I understand clearly, your current workflow (with example caching disabled) is:

1. Click on a dataset example
2. Click the button to run the function
3. See the prediction in the output component

But you'd prefer to just:

1. Click on a dataset example to run the function
2. See the prediction in the output component

We can probably support this via an ad

[2022-08-28 19:40] abidlabs commented on #2102
Thanks for creating the issue @altryne. Would you be able to attach the `script.py` or another minimal example where this issue is happening?

[2022-08-28 19:47] abidlabs opened #2103 "Add a `Textbox` variant that is single line and supports enter-on-click"
To make certain kinds of demos easier (chatbot, image generation, etc), it would be great to have a simple `Textbox` template that only a single line and supports enter-on-click.

See original comment by @altryne here: https://github.com/gradio-app/gradio/issues/2071#issuecomment-1229222821

[2022-08-28 19:48] ankrgyl commented on #2101
Yes that's right! I am working on a use case where I can't cache, but do want the auto updating behavior. As a new user (so please excuse my ignorance) I got confused that the behavior of the app changed based on my preference to cache or not.

[2022-08-28 19:50] abidlabs commented on #2101
Makes sense, thanks for confirming. And glad to have you as a user :)

Please keep the feedback coming!

[2022-08-28 20:06] altryne commented on #2071
Absolutey, I used IDs everywhere I could.
Some elements don't receive them, which led to some hacks, but Classes could be useful as well if I want to apply the same class and style all my buttons for example in one way.

[2022-08-28 20:09] ankrgyl commented on #2101
Very happy to! I appreciate your response.

[2022-08-28 20:26] abidlabs opened #2104 "Enhance ability to apply CSS to components / blocks"
As people build more custom demos with Gradio, there is a need for custom stylization for individual Blocks and components. We already provide some ability to target Blocks with css through the `elem_id` parameter, but:

* Right now, some components/blocks don't support the `elem_id` parameter. Can we do a sweep and make sure every `Block` supports this parameter correctly
* Can we provide a simil

[2022-08-28 21:40] #2074 closed

[2022-08-28 22:19] abidlabs commented on #360
Sorry for the long wait, but this will be fixed by #2073. In Gradio 3.2, you will be able to do `file_obj.orig_name` to get the original uploaded file name.

[2022-08-28 22:34] codedealer opened #2105 "Allow frontend method execution on Block.load event"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
`Blocks.load()` instance method allows to run an arbitrary function upon loading the app but unlike every other event it does not allow `_js` argument to execute a js script on load which would be useful for instantiating classes that can be utilized later by other js

[2022-08-28 22:37] abidlabs commented on #2105
Thank you @codedealer! This makes a lot of sense. Would you be interested in opening a PR?

[2022-08-28 22:44] codedealer commented on #2105
Sure.

[2022-08-28 22:59] merveenoyan commented on #2095
it works now, thanks! https://huggingface.co/spaces/scikit-learn/tabular-playground

[2022-08-28 23:02] ankrgyl opened #2106 "'Blocks' object has no attribute 'show_error' when running with "gradio app.py""
### Describe the bug

If something errors out in a block, it crashes trying to access `show_error` (which I believe exists on the `Interface` object).

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

And then type anything in the box

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]
[code]

[2022-08-28 23:08] ankrgyl opened #2107 "A change handler for `gr.State`"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

I have 3 different input components that affect a variable -- essentially in my app, you can upload a document one of 3 ways (file upload, url, or an example). Each upload updates a `document` variable, which has the bytes of the upload + some pre-computed metadata.

[2022-08-28 23:19] abidlabs commented on #2107
Thanks for creating the issue @ankrgyl. Would you be able to provide a more complete example here so we can use it to reproduce and test the fix?

[2022-08-28 23:23] abidlabs commented on #2106
I can't seem to reproduce this @ankrgyl. I only see the actual error itself, not the "'Blocks' object has no attribute 'show_error'" message you are describing.

See here for colab notebook: https://colab.research.google.com/drive/1IfTH2y3-7EqgsBCz9BhjAvV2o4DWm9qI?usp=sharing

Note that in the colab, I added `debug=True` to print the errors in the colab notebook.

[2022-08-28 23:26] ankrgyl commented on #2107
Absolutely! Here is the program I'd like to be able to write:

[code]

and the one I have to write:

[code]

(I omitted some details, like other uses of the variable, but imagine there's another control in the app, like a radio button which selects which "metric" you want to display about the file).

Hope this helps, and apologize if I missed something in the docs or elsewhere.

[2022-08-28 23:28] ankrgyl commented on #2106
Ah -- I see what the issue is. Locally, I was running the app with `gradio app.py`. If I run it with `python app.py`, I see the same "ERROR" block in the UI that shows in your repro.

[2022-08-28 23:33] abidlabs commented on #2106
Oh very interesting. Will investigate!

[2022-08-29 00:15] ankrgyl commented on #2103
Are you aware of any workarounds to this in the meantime? I tried using custom Javascript but I think due to shadow DOM issues was not able to reference another element that I want to trigger based on a text change.

[2022-08-29 00:16] abidlabs commented on #2103
You should be able to do this by creating a `Textbox` with `lines=1`, `max_lines=1`, and creating a `.submit()` event trigger. Let me know if that makes sense.

[2022-08-29 01:03] HuangChiEn commented on #2074
@abidlabs
Thanks for your rapidly reply and the proposed solution exactly solve the problem, many thanks !!

![image](https://user-images.githubusercontent.com/52521165/187103532-d1d21394-97c9-4211-9772-3f646f56e2a0.png)

[2022-08-29 01:56] ankrgyl commented on #2103
That worked perfectly! Thank you so much.

[2022-08-29 04:01] altryne commented on #2103
You can do it like so :
`document.querySelector('gradio-app').shadowRoot.querySelector('#some_id')?.click();`

[2022-08-29 04:27] ankrgyl commented on #2103
Oh excellent, that's very helpful @altryne. Thank you. I was able to work around this one with @abidlabs' suggestion but I'll keep that in mind for the future.

[2022-08-29 10:11] bottledmind opened #2110 "PNG files aren't displayed while uploading"
### Describe the bug

PNG images aren't in All Supported Types, so, they aren't displayed by default. Have to look for them among non-image files with All Files option. No issues with processing, just uploading

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

import gradio as gr
import numpy as np

def sepia(input_img):
    sepia_filter = np.a

[2022-08-29 11:42] XmYx opened #2111 "Colab hosted GradIO doesnt receive output and hangs if process is longer then 60 seconds"
### Describe the bug

Using Colab - Stable Diffusion, gradio wont receive any output, and freeze up in browser (fine after reload, but output not returned)

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://colab.research.google.com/drive/1cd35l21ewU0fwWEnPjY_th5YORmMfZCd?usp=sharing

or

https://colab.research.google.com/drive/1KeNq05lj

[2022-08-29 11:52] merveenoyan commented on #2015
@freddyaboulton if you need help feel free to ping me for discussions & more!

[2022-08-29 12:13] yannickfunk commented on #1710
If you need some assistance here, I am willing to help!

[2022-08-29 13:53] noahgift commented on #1940
Same issue using pip.  A HUGE bummer I have to use conda vs pip on gradio.  Is this really true?

[2022-08-29 13:55] freddyaboulton commented on #1940
Hi @noahgift ! I'm on an M1 and I can install gradio from pip. Can you post the error you're getting?

[2022-08-29 13:59] noahgift commented on #1940
(.diff) ➜  stable-diffusion-repo git:(main) ✗ ipython
Python 3.10.4 (main, Apr 26 2022, 19:36:29) [Clang 13.1.6 (clang-1316.0.21.2)]
Type 'copyright', 'credits' or 'license' for more information
IPython 8.4.0 -- An enhanced Interactive Python. Type '?' for help.

In [1]: import
  Input In [1]
    import
          ^
SyntaxError: invalid syntax

In [2]: import gradio as gr
--------------------------

[2022-08-29 14:10] noahgift commented on #1940
Also verified it fails on 3.9

[code]

[2022-08-29 14:24] freddyaboulton commented on #1940
@noahgift This is similar to the original error @keunwoochoi posted and it's the one in this [thread](https://github.com/Legrandin/pycryptodome/issues/615) but I'm not sure what the best fix is.

This is what works for me - I do create a fresh env with conda but install via pip:

[code]

[2022-08-29 14:33] noahgift commented on #1940
@freddyaboulton I was not able to replicate that fix, and preferably a non conda install would be ideal.

I believe the issue is that gradio needs to link to an `arm64e` i.e. M1 compiled package for Crypto.  Happy to compile this myself if forced to, but seems like a package issue with gradio on M1.

[code]

[2022-08-29 14:41] abidlabs commented on #2111
Hi @XmYx yes this is a limitation with http requests. You can overcome this by enabling the queue. Here's how to do it in the latest version of Gradio: https://gradio.app/key_features/#queuing

[2022-08-29 14:41] abidlabs commented on #2111
Let me know if this works! We will soon enable queue by default so this should no longer be a problem (#2081)

[2022-08-29 14:43] #2105 closed

[2022-08-29 14:45] XmYx commented on #2111
Yes, I have tried, with concurrency 1, 2, and 3, but in either case, gradio ui reports the loading bars, but no input is received by the server.

[2022-08-29 14:46] altryne commented on #2102
I'll see if I can do a clean repro, but meanwhile, it happens to me on this repo:
https://github.com/hlky/stable-diffusion-webui
I have exported Gradio interface it it's own module, and when I run
`gradio webui_playground.py` it shows that it's monitoring the changes and it indeed does, but doesn't load on port 7860 😅

[2022-08-29 15:52] XmYx commented on #2111
Indeed, also got

WebSocket connection to 'wss://xxxxx.gradio.app/queue/join' failed:
(anonymous) @ index.eed6f04f.js:7785

: )

[2022-08-29 16:34] #1746 closed

[2022-08-29 16:53] #730 closed

[2022-08-29 17:05] freddyaboulton opened #2114 "Can't embed multiple spaces on the same page if spaces use different queue implementation"
### Describe the bug

Suppose you are trying to load two spaces on the same page, but one has gradio 3.1.3 (old queue) but one is 3.1.7 (new queue).

If you load the 3.1.3 module, niether will work but not the 3.1.7 space.

If you load the 3.1.7 module, the 3.1.3 space will not work

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Owl-Vit is a

[2022-08-29 19:06] altryne opened #2115 "[FEATURE REQUEST] Dark mode for docs website"
- [ x] I have searched to see if a similar issue already exists.

Developing mostly at night, it's amazing that Gradio itself uses tailwind and goes dark based on my system settings, but then opening the docs site, it's like this :
![https://media1.giphy.com/media/5Nf9cmrNBON1PcrS5i/giphy.gif](https://media1.giphy.com/media/5Nf9cmrNBON1PcrS5i/giphy.gif)

Would love a way for the docs site to also

[2022-08-29 19:53] robinhad commented on #1746
@aliabid94 is fix deployed to huggingface? there is still grey text in black background

[2022-08-29 20:26] abidlabs commented on #2115
Good point! @aliabd would you be able to take this one?

[2022-08-29 20:39] #1689 closed

[2022-08-29 20:40] aliabd commented on #2115
Yes, I'll work on implementing this soon

[2022-08-29 23:42] ankrgyl opened #2116 ""HuggingFace" theme/mode"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

When I publish my app to HuggingFace, it looks different than it does locally. Most notably there's the theme (dark locally and light on huggingface). I have searched around and see some references to a theme feature, and that it perhaps has been removed, but I haven

[2022-08-30 00:10] ankrgyl commented on #2116
Looking around, I think this might be because my system settings are "dark" which Gradio respects locally but HuggingFace does not?

[2022-08-30 00:11] ankrgyl opened #2117 "Ability to pass elem_id to Examples"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

I'm trying to write custom CSS for an examples gallery, but unlike other components, it does not accept an `elem_id` argument.

**Describe the solution you'd like**
Ideally, I could pass in `elem_id` like I can with other components.

**Additional context**
I'm able

[2022-08-30 01:00] freddyaboulton commented on #2116
@ankrgyl Yea I think that's right. Right now, there is only one built-in theme that changes based on light vs dark mode but theming is an open issue. See #1488

[2022-08-30 01:02] abidlabs commented on #1721
Not sure if this is the best place, but putting some thoughts down around the various modes of the `gr.Image` component and how to support them all:

--------

## What use cases does the Image component need to serve?

**On the Python side, users want…**

* A standalone uploadable image (image classification, image segmentation, etc.)
* A standalone black-and-white sketch (handwriting recognition)

[2022-08-30 01:39] abidlabs commented on #2116
Yes I've encountered this too @ankrgyl. Are there any other differences that you see?

[2022-08-30 01:41] abidlabs commented on #2117
Should be an easy fix, we'll get it in soon, thanks for the heads up @ankrgyl!

[2022-08-30 01:57] ankrgyl commented on #2116
Not really. I discovered `?__theme=light` in the meantime and it looks pretty close to me.

[2022-08-30 01:57] ankrgyl commented on #2116
I will keep an eye out and post here if I see anything else though!

[2022-08-30 01:58] ankrgyl commented on #2117
Happy to post this as a separate issue, but kind of related, it'd be useful for our use case to be able to "scope" multiple components' CSS. E.g. pass an `elem_id` into `gr.Row()` and `gr.Column()`. Apologies as always if I'm missing something obvious!

[2022-08-30 01:59] abidlabs commented on #2117
It will be possible to apply CSS to `gr.Row()` and `gr.Column()` soon via #2097. Thanks!

[2022-08-30 02:02] ankrgyl opened #2120 "equal_height referenced in the docs but appears to be deprecated"
### Describe the bug

This is not at all blocking, but I figured I'd post because I got a bit confused as a new user. The docs mention the `equal_height` parameter [here](https://gradio.app/controlling_layout/). But when I ran the app locally, I got a message that it's deprecated. If so, it'd be helpful to new users to remove it.

### Is there an existing issue for this?

- [X] I have searched the

[2022-08-30 02:13] abidlabs commented on #776
Ok so here's what I'm thinking for iterative outputs.

## User API:

If a user returns a generator (a function with a `yield` statement instead of `return`), then Gradio automatically produces an iterative output component.

For example, the following code:

[code]

This has several advantages over coming up with a Gradio-specific iteration method:
* It follows Python's familiar syntax rather than

[2022-08-30 02:17] altryne opened #2121 "cmd + K doesn't work on lower resolutions of the docs site"
https://www.gradio.app/docs/interface

It's very helpful that you included cmd+k to search quick documentation, however, when using side by side in split mode with my actual code/website, the window is quite small for me, and the sidebar is not accessible nor does cmd+K works

**Describe the solution you'd like**
cmd+k should work as a global shortcut thorughout the website, regardless of resoluti

[2022-08-30 02:51] #1162 closed

[2022-08-30 04:52] ankrgyl commented on #2120
Similarly, `scale` is referenced for `Column` but does not seem to work ([link](https://gradio.app/docs/#button)):

[code]

[2022-08-30 05:24] tt0203 opened #2122 "Scheduled tasks and triggers"
How to let gradio to implement timed execution of program script in huggingface?
For example, I want to send the model running results at 9 a.m. every day.

[2022-08-30 05:36] ankrgyl opened #2123 "Change handler for gradio.Gallery"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

I used a change handler on the `Image` component to render a "clear" button when the image is loaded. Since the image can be loaded 3-4 different ways through the app, it was convenient to use the `change` handler on the image component, since it would trigger regard

[2022-08-30 06:06] aliabd commented on #2121
Thanks for the feedback @altryne we'll work on this

[2022-08-30 09:19] ysig commented on #1922
@pngwn It's exactly a line or poly tool that returns the order of the points. It doesn't at all need to be closed in my case.

[2022-08-30 09:41] pngwn commented on #1922
Ah, so you wouldn't want this as an image, you'd want the path data?

[2022-08-30 11:49] oeberle commented on #776
I would also strongly support these features. Is there a workaround for the time being?

[2022-08-30 13:37] osanseviero commented on #2071
Very cool list of issues! I'm particularly excited about the following 3 in terms of virality
* https://github.com/gradio-app/gradio/issues/776 This enables interesting use cases for diffusion models and Reinforcement Learning
* https://github.com/gradio-app/gradio/issues/2032
* https://github.com/gradio-app/gradio/issues/1502

[2022-08-30 14:20] abidlabs commented on #2122
Hi @tt0203, just to be clear:

1. You currently have a demo running on Hugging Face Spaces
2. You want to query the model with an input every day at 9 AM and get the results?

If that's what you mean, you can write a script locally which uses a timer to make a post request to your Space's API (click the "view API" button at the bottom of your Gradio demo to see the API) and get the results.

[2022-08-30 14:45] abidlabs commented on #2116
Sounds good, closing this issue in the meantime. Feel free to reopen if you find any bugs

[2022-08-30 14:45] #2116 closed

[2022-08-30 14:48] abidlabs commented on #2123
Interesting, we hadn't added `.change()` events to output components. It seems reasonable to have some sort of event that fires when a component loads its value, but I think it should have a different name, since `.change()` should be reserved for when a _user_ modifies the input value of a component. (I know `.change()` isn't currently limited to that).

@pngwn what do you think about a `.load()`

[2022-08-30 14:49] abidlabs commented on #2117
Closing as #2097 has been merged in!

[2022-08-30 14:49] #2117 closed

[2022-08-30 14:49] abidlabs commented on #2117
(and should be out on pypi in a day or two)

[2022-08-30 15:30] ankrgyl commented on #2123
In case it's helpful, here is the code btw: https://huggingface.co/spaces/impira/docquery/blob/main/app.py. This issue in some ways is related to #2107. You can see how there are multiple event handlers which set or unset the state of `image`, `document`, `question`, `output`, `example_image` (`image` is the gallery, and `document` is the variable). Ideally, I could simply update `document` from m

[2022-08-30 15:39] ysig commented on #1922
Exactly, I want the path data that could be defined over an image
background.

On Tue, Aug 30, 2022 at 12:41 PM pngwn ***@***.***> wrote:

[2022-08-30 16:20] fladdict opened #2124 "Found bug on Image component with sketch mode."
### Describe the bug

Sketch mode Image components returns errors in particular situation.
When people upload image but don't use drawing pen, and run input,
Enpty mask invoke error in processing_utils.py line 28.

Beter result is returning data like {image:imagePath, mask: None}

Seems need to fix somewhere around line 1332 of components.py

### Is there an existing issue for this?

- [X] I have

[2022-08-30 17:33] freddyaboulton commented on #2015
@adrinjalali @merveenoyan @BenjaminBossan I have an MVP for loading skops models from the hub in #2126

Before going any deeper, I wanted to check in with you!

You can test as follows:

### Tabular Regression
[code]

![tabular_regression_demo](https://user-images.githubusercontent.com/41651716/187503717-d56ac2b4-638a-4a6a-83f0-27f34fbbb454.gif)

### Tabular Classification
[code]
![tabular_classif

[2022-08-30 19:48] bottledmind opened #2127 "Terminal hardlock when running gradio in docker"
### Describe the bug

`docker run` creates a process killable only with `docker kill` (not even `Ctrl+C`). Does not start a server, but occupies a port

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

main.py
[code]

Dockerfile
[code]

### Screenshot

![Screenshot from 2022-08-30 22-04-50](https://user-images.githubusercontent.com/60937565/187

[2022-08-30 20:45] freddyaboulton opened #2129 "When specifying examples with a filepath + csv file, the front-end can't display the example images"
### Describe the bug

When specifying examples with a filepath + csv file, the front-end can't display the example images.

The reason is that in the csv file, the paths are relative to the `image_log` directory.

You could specify a full path in the csv file but the implementation of `Examples` [assumes](https://github.com/gradio-app/gradio/blob/main/gradio/examples.py#L171) the paths are relativ

[2022-08-30 21:28] bottledmind commented on #2127
I kinda fixed the issue of not starting a server with `ENTRYPOINT /bin/bash` and starting it manually.
However, I still cannot access the app from outside of the container.
Running with
[code]

[2022-08-30 22:07] oconnoob opened #2130 "AttributeError: module 'gradio' has no attribute 'State'"
### Describe the bug

When trying to use the `gr.State()` block, an error is thrown saying that no such attribute exists.

This must be a recent bug because a while ago the [hangman example in the quickstart](https://gradio.app/state_in_blocks/#session-state) was working fine but it does not seem to be any longer.

### Is there an existing issue for this?

- [X] I have searched the existing issues

[2022-08-30 22:12] abidlabs commented on #2130
Ah this is a problem because the demos are using the latest version of Gradio on `main`, not the latest released version. This will be fixed when we release `gradio==3.2` today or tomorrow!

[2022-08-30 22:12] #2130 closed

[2022-08-30 22:13] abidlabs commented on #2130
In the meantime, please replace `gr.State()` with `gr.Variable()` and it should work fine

[2022-08-30 23:37] oconnoob commented on #2130
Great, thanks for the quick response!

[2022-08-31 00:07] ankrgyl opened #2132 "Variable's state leaked between sessions"
### Describe the bug

We've observed that when our app is hosted on HuggingFace, a `gradio.Variable()` value is somehow getting leaked across sessions. My assumption is that a `Varaible()` is supposed to be isolated within a session.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[Here](https://huggingface.co/spaces/impira/docquery/blob/67ef

[2022-08-31 00:20] aliabid94 commented on #1746
The way huggingface spaces works is that your gradio version is pinned to the version you used at launch (Unless you explicitly change it with the `sdk_version` line in the readme). So even if you restart your app, it will use the version of gradio used when you first made the space.

I made a pseudoclone of your repo, but set the gradio version to 3.1.7 here (https://huggingface.co/spaces/aliabid

[2022-08-31 00:40] ankrgyl commented on #2132
To clarify -- although I recorded this with two browser windows on the same machine, we observed this across two different users at Impira testing our space.

[2022-08-31 00:44] abidlabs commented on #2132
@ankrgyl thanks for raising this issue! A very strange and problematic bug, we'll look into it and figure out what's happening

[2022-08-31 00:46] freddyaboulton commented on #2132
@ankrgyl out of curiosity, can you try launching with enable_queue=False and see if the problem persists?

[2022-08-31 00:53] ankrgyl commented on #2132
Yes I'll try that now (it's rebuilding).

In the meantime, looking at the network tab, I noticed that this is the request that is sent (and ultimately generates the bad result).
<img width="573" alt="Screen Shot 2022-08-30 at 5 52 24 PM" src="https://user-images.githubusercontent.com/565363/187569230-f99357c7-77a2-4bb1-ae1c-f2505a9ffa30.png">

That middle `null` is suspiciously the `document` vari

[2022-08-31 00:56] ankrgyl commented on #2132
That seems to have broken it completely (on hugging face, not locally): https://www.loom.com/share/6fa87104cf214069895b48ebf2a6f01e.

There appears to be something broken with Spaces right now, which I filed separately here: https://github.com/huggingface/transformers/issues/18826.

[2022-08-31 01:00] ankrgyl commented on #2132
The logs on the space have a lot of this:

[code]

[2022-08-31 01:03] ankrgyl commented on #2132
Oh cool. I tried the opposite of what you suggested -- setting `enable_queue=True` locally -- and confirmed that it now reproduces for me locally.

[2022-08-31 01:05] freddyaboulton commented on #2132
Yea must be something with the queue, which is enabled by default on spaces but not locally. Not sure what's up with https://github.com/huggingface/transformers/issues/18826 , I would try factory reboot of the space to see if that fixes it.

[2022-08-31 01:06] #2101 closed

[2022-08-31 01:11] ankrgyl commented on #2132
Unfortunately that did not fix it.

[2022-08-31 01:12] #1561 closed

[2022-08-31 01:12] ankrgyl commented on #2132
I was able to make a really simple repro:

[code]

If you run it with `python app2.py`, you'll observe the same behavior. Here's a video:

https://www.loom.com/share/60061b4dd79c48b8acaec34a47736bfc

[2022-08-31 02:33] ankrgyl commented on #2132
I took a look at the code and it looks like the `session_hash` is not being communicated from the client code to the backend in "queue" mode. I'm not an expert in the code, but I think the problem is here:

https://github.com/gradio-app/gradio/blob/main/ui/packages/app/src/api.ts#L146

[code]

Specifically -- I think `send_message` needs to include the `session_hash`, so that the websocket can for

[2022-08-31 02:55] hwasiti opened #2134 "Gallery is slow when images have different sizes"
When showing 9 images of the same size (let's say the same image) it would take ~1sec to show the grid of images. however, if the images are with different sizes it will take too much time to render them (~10sec).

Is this normal? Where is the performance bottleneck exactly?

[2022-08-31 03:07] tt0203 commented on #2122
Is there any way to actively push the calculation results at the server?
For example, the server regularly sends the model calculation results to the designated mailbox.
It is still inconvenient on the local computer. It can only be realized when the local computer is turned on and running.

[2022-08-31 04:01] ankrgyl commented on #2132
I'm sure there's a better fix than this, but I confirmed that the following fixes it for me locally:

[code]

Part of the problem is that on the backend, the following code will always return true, because the `body` has an attribute named `session_hash`, even if it's `None`. The underlying problem is that (without the above patch), no session hash is passed to the server, and this code thinks the

[2022-08-31 07:50] adrinjalali commented on #2015
Thanks for the work here, looking great.

As for a classification one, you could use this one for instance: https://huggingface.co/scikit-learn/tabular-playground

The output of the API will be labels instead of numbers if the model is trained on labels, otherwise numbers. We'll be working on putting better examples online which return labels.

Returning probabilities and soft values is in the roa

[2022-08-31 08:14] braisedpork95 opened #2135 "API docs confusing"
### Describe the bug

When using `TabbedInterface`, the `fn_index` field should be included in **Input Payload** to specify which to call.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

[code]

### Screenshot

![image](https://user-images.githubusercontent.com/46232992/187624384-e1697abc-6e57-4ace-aa9f-f3fd4f867b19.png)

### Logs

[c

[2022-08-31 10:21] codedealer opened #2137 "Support serving user-defined javascript with Gradio"
- [x] I have searched to see if a similar issue already exists.

Currently the functionality of Gradio as a web server is completely blackboxed: there is no way to take advantage of it from the project folder but the initial steps are already in place. `Blocks` constructor can take a `css` file path to extend the styles of the app. I propose the similar approach is taken with javascript.

Introduc

[2022-08-31 12:57] BramVanroy commented on #1746
Hi @aliabid94 thanks for working on this! I'll ping the HF team about this when you're done.

I find some issues here with code and strong tags.

https://huggingface.co/spaces/evaluate-metric/accuracy

[2022-08-31 14:07] freddyaboulton commented on #2015
Thank you for the helpful comment @adrinjalali ! I will use the tabular-playground model to test and I'll keep returning an error in gradio if the api doesn't return a 200.

[2022-08-31 15:45] freddyaboulton opened #2140 "When caching the output of a file component in examples, the filename is not respected"
### Describe the bug

Run Model3D with cache examples - you can do it with the version hosted on spaces here: https://huggingface.co/spaces/gradio-pr-deploys/pr-2128-all-demos

Click on an example and download the resulting file, you will see that the downloaded file does not have a complete name, e.g. `_home_user_app_gradio_cached_e (2)`

### Is there an existing issue for this?

- [X] I have sea

[2022-08-31 15:46] abidlabs commented on #2140
Out of curiosity, can you try right clicking "open link in a new tab" when you click on the "Download" link?

[2022-08-31 15:47] freddyaboulton commented on #2140
Interesting - then the file is just called `Download`. Just tried it on the space

[2022-08-31 15:49] freddyaboulton commented on #2140
At first I thought it had to do with the name of the file being too long - but I think it's reading from the example cache. Locally I modified `zip_two_files` to return a really long file name and the file name (and extension) was respected.

[2022-08-31 15:55] abidlabs commented on #2140
Getting the same behavior, very strange

[2022-08-31 16:29] altryne opened #2141 "[FEATURE REQUEST] Being able to provide a JS function on load of the app."
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently when doing quite a few things in JS, we need to copy and paste all those actions to each JS binded function and this gets very messy.

For example we have a feature that detects the currently selected item in a gallery, and want to take actions on this:

[co

[2022-08-31 16:33] freddyaboulton opened #2142 "When loading a space containing an interface created with gradio 3.0+, gradio will create a Blocks instead of an Interface"
### Describe the bug

If you load a space containing an interface with gradio 3.0+, gradio will assume the app is a Blocks app and read it as a Blocks  app when an interface may be more appropriate.

For example, https://huggingface.co/spaces/abidlabs/image-classifier is an interface app but since it's created with 3.0, calling gr.Interface.load will create a blocks app instead of an interface:

!

[2022-08-31 17:22] freddyaboulton commented on #2140
Think I figured it out - it's the slashes in the file name when reading from the cache. I think we just need to make the file serializer add the `orig_name` field with the file name as opposed to the full path. Will put up a PR soon.

[2022-08-31 17:47] #2141 closed

[2022-08-31 17:52] ledadu opened #2143 "Bug on dataset updated"
### Discussed in https://github.com/gradio-app/gradio/discussions/2136

<div type='discussions-op-text'>

<sup>Originally posted by **ledadu** August 31, 2022</sup>
Hi.
When i update the dataset , the componant is updated.
But, when i click on new a element of the datset bbb => the last value 'aaa' is returned !
[code]
</div>

[2022-08-31 18:10] robinhad commented on #1746
@aliabid94 thank you

[2022-08-31 18:20] mjpost commented on #2093
I understand if you can't support this internally (though I suspect others would like this, as well)—but can you advise how I might turn this off manually? It's unfortunately a deal-breaker for my use case...

[2022-08-31 18:59] abidlabs commented on #2132
Thank you for the detailed analysis @ankrgyl. Looking into this now and will try to get it fixed soon!

[2022-08-31 19:00] oconnoob opened #2146 "`gr.Tab()` no longer working?"
### Describe the bug

The [quickstart](https://gradio.app/controlling_layout/#tabs) has an example with `gr.Tab()` that appears to perhaps be deprecated now? When I try to use `gr.Tab()` I get `AttributeError: module 'gradio' has no attribute 'Tab'. Did you mean: 'Tabs'?`. Replaced `Tab` with `Tabs` does not appear to give the intended result.

Is there still a tab feature with Gradio 3.1.7?

Than

[2022-08-31 19:01] abidlabs commented on #2143
Hi @ledadu thanks for bringing this to our attention. This is related to another issue: #1566. It's a bit of complex problem actually but we'll look into this

[2022-08-31 19:25] aliabid94 commented on #2093
The `show_progress` parameter of any event listener can be set to false to hide the progress. e.g. `btn.click(fn, input, out, show_progress=False)`

However in streaming, the progress animation is always hidden. E.g.

[code]

^ this should not show any progress animation for you. What gradio version are you using?

[2022-08-31 19:40] abidlabs commented on #2146
Our docs are out of sync with the latest version released on pypi, but this will be fixed very shortly when we release `gradio==3.2`!

[2022-08-31 19:46] #2089 closed

[2022-08-31 20:08] mjpost commented on #2093
We're using 3.1.7, but were trying to use `gr.Interface` with text boxes (where `show_progress=False` flags fail). Thank you very much!

[2022-08-31 20:14] aliabid94 commented on #2093
Can you share a skeleton of your Interface code? Even in Interface, when `streaming=True`, the animation should be hidden.

[2022-08-31 20:22] freddyaboulton opened #2148 "Cannot upload Model3D image after clearing it"
### Describe the bug

When you clear a Model3D file, clicking the upload button causes the app to freeze

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Run demo/model3d/

Upload a file
Clear it
Go upload a file again

The component will grey-out and an exception will be logged to the console

### Screenshot

![model_3d_upload_after_clear](ht

[2022-08-31 20:49] #2142 closed

[2022-08-31 20:49] abidlabs commented on #2146
Should work with `gradio--3.2`!

[2022-08-31 20:49] #2146 closed

[2022-08-31 22:53] codedealer commented on #735
This is exactly the way, @gary149! Providing an unobtrusive option to paste from the clipboard into the Image component would go a long way in terms of streamlining the workflow process without impeding user experience since drag-n-drop and file select interface will not suffer from a small icon at the corner.
Bonus points if the icon is only active when there is a vaild image in the clipboard.

T

[2022-08-31 23:04] Zengyf-CVer opened #2150 "Multiple file download not working"
### Describe the bug

Download does not work when multiple files are output.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

![ksnip_20220901-070209](https://user-images.githubusercontent.com/41098760/187799917-9b7ca812-c20d-411c-80be-d92c2e5c2d73.png)

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Seve

[2022-09-01 03:59] AK391 opened #2152 "3.2 changes layout/sizes for components from previous versions"
### Describe the bug

observed in https://huggingface.co/spaces/PaddlePaddle/ERNIE-ViLG spaces the button component is now larger in 3.2 than in 3.1.7 after updating
<img width="645" alt="Screen Shot 2022-08-31 at 11 58 08 PM" src="https://user-images.githubusercontent.com/81195143/187828675-181c6e8c-dc03-4633-b4b0-0dc90553d496.png">

### Is there an existing issue for this?

- [X] I have searched

[2022-09-01 10:27] bottledmind commented on #344
Hey everyone.
Any progress here?

[2022-09-01 10:28] bottledmind commented on #2127
server_name="0.0.0.0" fixed the problem

[2022-09-01 10:28] #2127 closed

[2022-09-01 14:23] mjpost commented on #2093
We weren't using `streaming=True`. The demo is akin to your simple "Hello X" app I linked to above:

[code]

If the latency of `display` is something above say 100ms, there is a lot of flicker.

[2022-09-01 15:55] oconnoob commented on #2146
Thanks! Upgraded to 3.2 and it's working fine

[2022-09-01 16:03] oconnoob opened #2153 "Dropdown default not displaying and HTML not rendering (3.1.7 -> 3.2)"
### Describe the bug

I recently upgraded from gradio 3.1.7 to 3.2 in order to use the `Tab()` block component that was not working with 3.1.7.

After upgrading, an HTML element that is set visible/invisible with a button click is not rendering (although some space is made in the layout for it), and the default `value` for a `Dropdown()` is not showing up.

### Is there an existing issue for this?

[2022-09-01 16:18] gary149 commented on #959
I agree that this is the right way of doing it 👍

[2022-09-01 16:27] freddyaboulton commented on #2134
Hi @hwasiti ! Can you please share a reproducible code snippet?

[2022-09-01 18:14] AUTOMATIC1111 opened #2154 "3.2's gr.update(visible=X) causes value to be reset"
### Describe the bug

Every time I use gr.update(visible=X) on an element, its value becomes nothing. sliders get reset to zero, gr.Radio elements lose selection, ...

Here's how elements look in 3.2 after they are shown (they are invisible initially, and are shown when SD Upscale option is picked)
![firefox_Ws0SSiTDv8](https://user-images.githubusercontent.com/20920490/187983431-ea61ea52-c115-457

[2022-09-01 18:16] freddyaboulton opened #2155 "Dataframe column headers are reset when you add a new column"
### Describe the bug

This is a bug report verging on feature request.

### The bug
If you have a dynamic dataframe, adding a column will reset the column names as you can see in the gif below.

### The feature request
The column names resetting makes it hard to use a dataframe component as a general form input component. So I wonder if the better solution is to create some new component that's de

[2022-09-01 18:53] freddyaboulton commented on #2154
Hi @AUTOMATIC1111 Thanks for filing the bug.

I think I know what's happening. While we get a fix out, can you try the following workaround? Instead of using gr.update, return a dict with `{"visible": True, "__type__": "update"}`

[code]

[2022-09-01 19:03] AUTOMATIC1111 commented on #2154
The workaround works, thanks.

[2022-09-01 19:14] oconnoob opened #2156 "`gr.Audio()` does not maintain value after being set to invisible in Gradio 3.2"
### Describe the bug

When working with Gradio 3.1.6, I would switch between file and microphone audio sources, setting the deselected component to be invisible. E.g.:

Step 1 - select "Record Audio":
![image](https://user-images.githubusercontent.com/46252299/187986321-5400ef0f-d796-42c4-b18c-a1fc413663bc.png)

Step 2 - record Audio:
![image](https://user-images.githubusercontent.com/46252299/187

[2022-09-01 19:16] freddyaboulton commented on #2156
Hi @oconnoob ! Sorry about that. Seems like a duplicate of #2154 . Can you try the workaround in that issue in the meantime?

[2022-09-01 19:19] oconnoob commented on #2156
@freddyaboulton Oh you're right, my mistake. I was searching specifically for `gr.Audio()`!

Yes I can work around it in the meantime, thanks!

[2022-09-01 20:28] hwasiti commented on #2134
Hey @freddyaboulton
Turned out the upload speed of my own server is slow for the task. My home internet is 100/10 Mbit/s. So for a total of 20MB for the 9 images download of the images will take a while.
Closing...

[2022-09-01 20:28] #2134 closed

[2022-09-01 20:39] freddyaboulton opened #2158 "Auth not set when using reload mode"
### Describe the bug

When using reload mode, any of the features that you configure in the `launch` method will not be respected, including auth, queue, show_error.

That's expected because reload mode doesn't call the launch method but this may be confusing to users and maybe calls for a redesign of how reload mode works.

I don't think this is a high priority issue though.

### Is there an exis

[2022-09-01 20:40] freddyaboulton commented on #2106
The issue is that `show_error` is defined in the `launch` method but reload mode doesn't call `launch`.

The quick fix would be to define `show_error` on init but this may point at a redesign of reload mode so that functionality set in the `launch` method can be used in reload mode.

[2022-09-01 21:04] abidlabs commented on #344
Not yet @bottledmind, internally we've deprioritized this issue for now but would welcome any PRs for this issue.

[2022-09-01 21:06] abidlabs commented on #2156
Thanks @oconnoob will close the issue for now then :)

[2022-09-01 23:47] altryne opened #2159 "Textbox.change() event performance issues"
### Describe the bug

Origin  thread here with perfomance breakdown:
https://github.com/hlky/stable-diffusion/issues/220

But TL;DR - adding a .change event on a text box, even without sending the params to a python function, and even with empty js function, has performance issues, unrelated to the actual Textbox or params that are passed through .

It seems that when there are a lot of images loa

[2022-09-01 23:59] JoshuaKimsey commented on #2159
It doesn't even need 50, tbh. At 20-25, it begins misbehaving in a really annoying way (the aforementioned backspace thing).

Good find though! Hopefully Gradio can fix this? Or a workaround can be found.

[2022-09-02 01:17] freddyaboulton commented on #2159
I think it's related to the size of the images in the gallery.

I can reproduce if the image is 2214 x 1180 but not if it's 256 x 256.

### Fast typing

[code]
![fast_gallery](https://user-images.githubusercontent.com/41651716/188038332-27085d04-23b3-4df2-b8c7-642df29b9cd7.gif)

### Slow gallery
[code]
![slow_gallery](https://user-images.githubusercontent.com/41651716/188038347-d84791a8-5d4b-4405-

[2022-09-02 07:18] abidlabs opened #2160 "Show "view API" button with a helpful message even with no named API routes"
It has been pretty confusing for our users when they see some Gradio demos with the "view API" link and others without it. The reason this happens is that when there are no named API routes, we do not show the "view API" link. This is the case in Blocks (by default if there is no `api_name` attached to any event listener), while in Interface, there is always at least one named API.

To avoid this

[2022-09-02 11:10] #2135 closed

[2022-09-02 11:42] FarukOzderim commented on #1813
I thought we could test the new queue with python better, and had found a way to send json messages as texts in locust.

Wanted to try it, even created a space for load-testing another space. :)

https://huggingface.co/spaces/farukozderim/load-test-queue

Could load the queue with 1000 clients. Though throughput starts to decrease a lot with high queue sizes due to communication overheads. One nee

[2022-09-02 19:32] verm commented on #2102
This happens to me on FreeBSD 13.1 as well with https://github.com/hlky/stable-diffusion-webui

The OSError returned is:

  ```Port 7860 is in use. If a gradio.Blocks is running on the port, you can close() it or gradio.close_all()```

Interestingly it used to work fine now it does not.  The error is in ```scripts/webui.py```

[2022-09-02 19:45] verm opened #2167 "Set SO_REUSEADDR on stocket."
I'm running https://github.com/hlky/stable-diffusion-webui on FreeBSD 13.1.

There's an issue with repeatedly getting getting socket errors:

    ```Port 7860 is in use. If a gradio.Blocks is running on the port, you can close() it or gradio.close_all()```

Setting ```SO_REUSEADDR``` in networking.py:121 fixes the issue for me

   ```s.setsockopt(socket.SOL_SOCKET, socket.SO_REUSEADDR, 1)```

[2022-09-02 19:46] verm commented on #2102
I have submitted a an issue with a possible fix for this #2167.

[2022-09-02 20:18] #2148 closed

[2022-09-03 00:46] tpanza commented on #1450
What help is needed with this?

Besides fonts, there are several places in the code where contact via https is attempted to `gradio.app`.

[code]

This also breaks when offline, with the exception of `MESSAGING_API_ENDPOINT`, which has a fallback provision to use hardcoded defaults.

[2022-09-03 06:30] MultiPath opened #2172 "Potential BUG in video output (cannot pause)"
### Describe the bug

When using the latest gradio (3.2) to output video, it is not possible to pause the video. Whenever I click the pause button, the video will return to the start. I checked version 3.1 is ok

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

##

[2022-09-03 17:00] nelsonjchen opened #2173 "Optional Audio/Sound alert when a job is complete"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I frequently go browse other tabs or applications when I am running a long running batch of jobs. Sometimes I fall into a hole and take a bit longer than expected to get back to the tab. If I stay in the research hole a bit too long, my hardware is idle when it could

[2022-09-03 22:06] hwasiti opened #2174 "Labels below images in gallery"
In ML it is common to show details about each of the images such as probabilities. It would be great if there is a way to show labels below each image (filename, probs,...etc.).

[2022-09-04 05:32] endomorphosis commented on #1535
I also saw this bug when I was using the API on my local machine, is this fix currently in the pip packages?

[2022-09-04 05:53] endomorphosis commented on #1535
I installed 3.2 and I still got this error, when trying to call the API

[2022-09-04 06:01] endomorphosis commented on #1535
Traceback (most recent call last):
  File "/home/barberb/anaconda3/envs/ldo/lib/python3.8/site-packages/gradio/routes.py", line 259, in run_predict
    output = await app.blocks.process_api(
  File "/home/barberb/anaconda3/envs/ldo/lib/python3.8/site-packages/gradio/blocks.py", line 687, in process_api
    predictions, duration = await self.call_function(fn_index, inputs)
  File "/home/barberb/ana

[2022-09-04 06:10] endomorphosis opened #2175 "API call throws an error"
### Describe the bug

Traceback (most recent call last):
  File "/home/barberb/anaconda3/envs/ldo/lib/python3.8/site-packages/gradio/routes.py", line 259, in run_predict
    output = await app.blocks.process_api(
  File "/home/barberb/anaconda3/envs/ldo/lib/python3.8/site-packages/gradio/blocks.py", line 687, in process_api
    predictions, duration = await self.call_function(fn_index, inputs)
  F

[2022-09-04 06:28] endomorphosis commented on #2175
the API doesn't work, I think because of something with "fn_index" not working properly, because the error doesn't appear when I explicitly include "fn_index" in the code.

[2022-09-04 13:46] freddyaboulton commented on #2175
Hi @endomorphosis ! Thanks for filing. The big with fn_index in the API was fixed in #2151 but it hasn’t been released yet.

In the meantime, if you want to use gradio programmatically, a possible workaround in the meantime is to load the app and use it like a python function. The guide for that is here: https://gradio.app/using_blocks_like_functions/

[2022-09-04 13:47] #2175 closed

[2022-09-05 03:45] williamberrios commented on #2154
Hi @freddyaboulton. Regarding your previous example, it seems that the demo is not working properly when you only output slider.
`import gradio as gr
with gr.Blocks() as demo:
    radio = gr.Radio(label="algorithm", choices=["a", "b", "c"], value="a")
    slider = gr.Slider(label="threshold", value=0, minimum=-1, maximum=1, visible=False, interactive=True)

    def make_visible(algorithm):

[2022-09-05 03:46] williamberrios commented on #2154
``import gradio as gr

with gr.Blocks() as demo:
    radio = gr.Radio(label="algorithm", choices=["a", "b", "c"], value="a")
    slider = gr.Slider(label="threshold", value=0, minimum=-1, maximum=1, visible=False, interactive=True)

    def make_visible(algorithm):
        is_visible = algorithm == "c"
        return {slider: {"visible":is_visible, "__type__": "update"}}
    radio.change(make_visi

[2022-09-05 21:24] abidlabs opened #2179 "Support multiple instances of the `Queue` (one for each launched Blocks/Interface App)"
### Describe the bug

Right now, if you create multiple `Interfaces` or `Blocks` in the same Python session (e.g. by re-running cells in a colab notebook), the UI errors out:

<img width="648" alt="image" src="https://user-images.githubusercontent.com/1778297/188513430-51cb42fe-1494-446d-923a-5b59a4d8b2b0.png">

The reason for this seems to be that we share a single `Queue` object across the diffe

[2022-09-05 21:26] abidlabs opened #2180 "Increase # of demos that can be shared simultaneously using `share=True`"
Given the increasing usage of Gradio, we should assess how many demos we can share simultaneously with `share=True` (@dawoodkhan82 can you look into this?) and then increase that capability by creating replicas of the Gradio API server.

[2022-09-05 21:28] abidlabs commented on #2174
Hi @hwasiti thanks for opening the issue! I think this is a duplicate of #2091, correct? I'll close the issue for now, but please feel free to reopen and add more details if this issue is different.

[2022-09-05 21:28] #2174 closed

[2022-09-05 21:34] abidlabs commented on #2173
I really like this suggestion!

[2022-09-06 00:45] podturkinalex opened #2182 "Output for regression model"
### Describe the bug

Hi there,
The program gives me an error when I try to upload an image with a face and make a predictions of age from the picture vith TensorFlow model: "ValueError: Component must provided as a `str` or `dict` or `Component` but is <bound method Kernel .raw_input of <google.colab._kernel.Kernel object at 0x7fd03cf2fe90>>"

I have numpy.float32 as an output. I also tried conve

[2022-09-06 01:42] abidlabs commented on #2182
Hi @podturkinalex, it's a little hard to parse through the code. If you could kindly format the code and provide a minimal example that fully allows us to reproduce the problem, it will make it easier for us to help.

But in the meantime, I did notice one problem, which might explain the issue you are seeing. You define `inputs=gr.Image(shape=(224, 224))` yet you use the variable `input` instead o

[2022-09-06 01:42] #2182 closed

[2022-09-06 03:45] chris-morgan opened #2183 "Package improperly includes test data and files"
### Describe the bug

setup.py contains:

[code]

Because of this, installing gradio will give you modules `gradio.test_data` and `test.test_files`.

`test.test_files` should certainly not be included in the distribution under that path, and I don’t think either belong in the package at all.

You can start fixing this by removing their entries from `packages`:

[code]

… but this seems to still re

[2022-09-06 12:16] mustafalhamadsa opened #2185 "Audio examples not working in embeds"
### Describe the bug

Embed gradio does not play audio examples, as can be seen in https://tf2sa.com/music/AMM/ if you scroll down you would find an embed with that issue, given in huggingface spaces it works properly https://huggingface.co/spaces/TF2SA/AMM

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Make a gradio application, include an

[2022-09-06 13:16] #2015 closed

[2022-09-06 14:09] freddyaboulton commented on #2185
@mustafalhamadsa I believe the space is running gradio 3.2 (HF spaces will use the gradio version listed in the README not `requirements.txt`) and in your code snippet you're loading the 3.1.6 gradio javascript module. Can you make the versions  match and see if it fixes your problem?

[2022-09-06 14:27] freddyaboulton opened #2186 "Pagination for Examples"
As a gradio user, I would like to provide many examples for my app without displaying all of them in the page when the app loads.

As a possible solution, we should expose an `overflow_row_behavior` for `Dataset`/`Examples` like we do for `Dataframe`.

This was originally asked in the Discussion sections:

[2022-09-06 14:35] freddyaboulton opened #2187 "Respect file extensions when downloading cached examples"
As a gradio user, I would like the file extension to be preserved when downloading outputs of a `File` component that have been cached from the `Examples` class.

As noted in #2145, this may not be the case for `Model3D` since the front-end will serve a base64 representation of the File and Chrome will not guess the correct file extension for `.obj` extensions (`application/octet-stream` mime type

[2022-09-06 14:41] #2140 closed

[2022-09-06 15:00] freddyaboulton commented on #2153
@oconnoob This sounds like the same problem as #2154 and #2156 if the issue is caused by the `update` method on HTML component.

[2022-09-06 15:21] mustafalhamadsa commented on #2185
Unfortunately even with both of them matched, the issue persisted.

![msedge_ZyvSEfwVl8](https://user-images.githubusercontent.com/100326225/188673511-397261c1-2588-4c94-a6dd-877f5939cee1.png)

![msedge_wTkjw7qmcw](https://user-images.githubusercontent.com/100326225/188673517-151a3d9e-dba2-4124-8072-002c5580f8a9.png)

[2022-09-06 15:22] freddyaboulton commented on #2185
And you set the version in the html to be 3.2?

[code]

[2022-09-06 15:29] mustafalhamadsa commented on #2185
I never noticed the version in the html, that did the trick. thank you very much :)

[2022-09-06 15:29] #2185 closed

[2022-09-06 15:35] freddyaboulton commented on #2172
I can reproduce with an even simpler demo:

[code]

In gradio 3.1.7 I can pause the video. The one difference I can think of between 3.1.7 and 3.2 is that before the front-end was serving base64 representation of the Video and now it's serving a file from the file system.  @aliabid94 @pngwn @dawoodkhan82 Could that be the reason? FYI @abidlabs

[2022-09-06 16:01] abidlabs commented on #2172
Very strange! Yeah the base64 versus the filepath must be responsible. @aliabid94 do you know why a file data source might not be pause-able?

[2022-09-06 16:48] abidlabs opened #2190 "Add manual trigger for releases to pypi"
For beta releases, it's fairly cumbersome to have to merge to a release branch to release to pypi. It would be great to add a manual trigger so that we can deploy to pypi by only specifying the version number.

See: https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/

[2022-09-06 17:46] freddyaboulton opened #2191 "Returning a dict from a function doesn't work as expected when the dict only has one key"
### Describe the bug

When you return a dictionary from a function, the component may not be updated as expected if the dictionary has one key.

This is because the dict will get converted into a tuple of lists as opposed to a list with one element.

The following code handles dict outputs and you can see that it converts the predictions into a list

[code]
Then we convert that to a tuple:

[code]

[2022-09-06 18:21] pngwn commented on #2153
Closing as duplicate of the issues mentioned above.

[2022-09-06 18:21] #2153 closed

[2022-09-06 20:42] dawoodkhan82 commented on #2172
Not sure why this is happening, but I can take a look

[2022-09-06 20:49] #2190 closed

[2022-09-06 21:08] #2154 closed

[2022-09-06 23:32] abidlabs commented on #2179
Closed via #2193

[2022-09-06 23:33] #2179 closed

[2022-09-06 23:58] podturkinalex commented on #2182
@abidlabs, thank you so much for your rapid answer and for fixing my issue!

[2022-09-07 06:42] ankrgyl opened #2194 ""Cannot read properties of null (reading 'id')" Error while updating a button's visibility"
### Describe the bug

I upgraded to 3.2 and noticed that updating a button's visibility status no longer seems to work. It crashes with a console error:

[code]

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

If you click the "Run" button you will see the error

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

[2022-09-07 08:06] zyx1213271098 commented on #2056
I had the same problem

[2022-09-07 08:15] abidlabs commented on #2056
Hi, @markdchoung @zyx1213271098 can you please provide a code example we can run to reproduce this issue?

[2022-09-07 10:03] Sreerag-ibtl opened #2195 "Direct support for partial functions"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently, partial functions can only be used when the object is patched with its __ name __ attribute. Support for partial functions enables one to use functions with more arguments than the number of input components specified.

**Describe the solution you'd like**

[2022-09-07 10:05] abidlabs commented on #2195
Hi @Sreerag-ibtl can you please provide a full code example with partial functions so we can understand what you'd like to support?

[2022-09-07 11:33] zbw66 opened #2196 "question"
### Describe the bug

If the input is a CSV file and the output is a CSV file as well, which component should I use if I want to display and save it to the specified path?    eg.Using Dataframe, you can only display but can not have  tips of save or download

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

...

### Screenshot

_No response_

#

[2022-09-07 12:44] qustions opened #2197 "Play hls video in output"
@abidlabs Hello I am trying to play live hls video ie `index.m3u8`  and display the output video in real time i tried this code
[code]
it is converting the video to mp4 and displaying it but expected is to live view directly in output video component.
above code output is
[code]
I think the gradio video player doesn't support hls video so tried custom html output here is the code
[code]
but this d

[2022-09-07 13:36] freddyaboulton commented on #2196
Hi @zbw66 !

You can output a separate `File` component that will let you download the csv file. Something like this should work

[code]

[2022-09-07 13:36] #2196 closed

[2022-09-07 13:37] freddyaboulton commented on #2156
Fixed in #2157

[2022-09-07 13:37] #2156 closed

[2022-09-07 13:46] freddyaboulton commented on #2194
Hi @ankrgyl ! There is a problem with `gr.update` in 3.2. The fix is in `gradio-3.2.1b2` which is a pre-release. There is also another workaround in #2154 (return a dict `{"visible": True, "__type__": "update"}`) if you prefer to not upgrade.

Here is a gif of your demo working on 3.2.1b2:

![btn_visible_fix](https://user-images.githubusercontent.com/41651716/188894384-d244466d-439c-41c9-b458-04c6

[2022-09-07 13:46] #2194 closed

[2022-09-07 13:49] freddyaboulton commented on #2183
Hi @chris-morgan ! Some people actually depend on `test_data` being shipped to PyPi! (https://github.com/gradio-app/gradio/issues/1697) We used to not include it.

Going to close this.

[2022-09-07 13:49] #2183 closed

[2022-09-07 14:04] chris-morgan commented on #2183
You’re misinterpreting #1697: it was saying that *if* you’re going to include `test.test_files`, it needs `gradio.test_data`—but did not judge whether `test.test_files` should be included or not. (“For completeness-sake, gradio should either include `gradio/test_data`, or omit `test` in its pypi releases.”)

I’m starting by saying that `test.test_files` is categorically wrong and should not be inc

[2022-09-07 15:28] jfrery opened #2198 "Add a default ETA for each function in the app"
- [x] I have searched to see if a similar issue already exists.

First thanks a lot for the great repo! I could never think of creating an ML interface that quick. I was quite impressed.

I am looking to do something very simple but was unable to find the relevant doc/issue.

I would like to set a default processing time for the functions. Currently, it seems that gradio tries takes the average of

[2022-09-07 15:53] daspartho commented on #1482
Hi @abidlabs,
I'd like to contribute to this issue, could you please point me to some resources to get started before I begin?

[2022-09-07 16:56] daspartho commented on #1203
I'd like to work on this. I'll link a PR below.

[2022-09-07 17:03] abidlabs commented on #1482
Thanks @daspartho, absolutely!

Here is the logic for caching: https://github.com/gradio-app/gradio/blob/5360ea002ea79ca6016ff61842317f2227570015/gradio/examples.py#L235

You can see that if the CSV file exists, examples are not re-cached. Instead the old cache is used.

I think the approach that we should take is to check the headers of the CSV file. If they are still the same, then we can use th

[2022-09-07 17:17] qustions commented on #2197
@freddyaboulton live view directly means without converting it to mp4. I don't have any problem if its mp4 or any other format but the problem is after the stream video is ended and the converter process is finished, after that video output is shown. Hope this is clear.

[2022-09-07 18:20] freddyaboulton commented on #2197
@qustions The reason the video is being converted is that only certain file extension/video codec combinations are playable in the browser.

As far as I know, these are:

[code]

So since the video has an `m3u8` extension/gradio tries to convert it to something that can be played in the browser.

[2022-09-07 18:43] #2098 closed

[2022-09-07 19:47] qustions commented on #2197
@freddyaboulton  but we cant show live video using mp4 or rest of those format. I am trying to see live view there.
as per my understanding there are 2 ways
1. Add support to play HLS in Gradio player
2. Output as  HTML(which have the HLS player) any other suggestion on this ?

[2022-09-07 20:52] abidlabs commented on #2198
Hi @jfrery this isn't currently supported, but having a default initial ETA would be a nice thing to add. If you'd like to make a PR, we'd be happy to review it.

I think the right place would be to add a parameter `default_eta` here: https://github.com/gradio-app/gradio/blob/a69fd1de132a218003bfc20e6850f9793c44f635/gradio/blocks.py#L104

[2022-09-07 21:19] abidlabs commented on #2167
Thanks @verm. Would you be open to making a PR? Happy to review it

[2022-09-07 21:44] #2150 closed

[2022-09-07 22:03] dawoodkhan82 opened #2205 "Examples for multiple file component not working"
### Describe the bug

Examples for multiple file component does not work. `FileSerialize` does not work on a list of files.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-09-07 23:00] #1203 closed

[2022-09-07 23:15] abidlabs opened #2206 "Better UI for Gradio Errors"
We now support allowing users to raise custom `gr.exceptions.Error()` errors. They currently look like this:

![image](https://user-images.githubusercontent.com/1778297/188999198-b26fea9a-8e19-4147-b6d4-2ea8cfd5270c.png)

It's nice that the error is so visible; however the UI doesn't exactly go with the rest of the Gradio UI, as pointed out by @osanseviero. Related discussion here: https://hugging

[2022-09-07 23:21] abidlabs opened #2207 "Replace `ValueError`s and other kinds of internal exceptions with `gr.Error()`s"
We now support custom Gradio Errors (through the use of `gr.Error()`). These errors are much more prominent and have the advantage of being visible in colab notebooks even with `debug` not set to `True`.

Should we replace all of the errors that Gradio can throw internally with such errors? For example, if a person tries to use a generator but does not have queue() enabled, they will see the follo

[2022-09-08 00:07] ankrgyl opened #2209 "max_rows/pagination does not seem to work"
### Describe the bug

If you create a `DataFrame` with a certain number of `max_rows`, it still shows all of the original rows. I found https://github.com/gradio-app/gradio/issues/1201, which says they're not implemented, but both the code and documentation seem to suggest they are.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

###

[2022-09-08 03:32] #938 closed

[2022-09-08 05:56] ankrgyl opened #2210 "Yielding into table throws error about enable queue"
### Describe the bug

I'm trying to test yielding results into a table, and ran into a bug which seems unrelated: that even if you run with `enable_queue=True`, you get an error like `ValueError: Need to enable queue to use generators.`.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]
[c

[2022-09-08 05:56] ankrgyl commented on #2210
NOTE: I attempted this as a follow up to [this Twitter exchange](https://twitter.com/ankrgyl/status/1567389644056297474)

[2022-09-08 05:57] jfrery commented on #2198
Thanks for the answer. I will see if I can implement this feature with your advice!

[2022-09-08 12:45] greendra8 opened #2211 "Cannot set theme in <gradio-app> meta tag"
### Describe the bug

When using iframe to call a gradio element, +?__theme=dark can be appended to set the theme. When using <gradio-app> this does not work.

This line in the gradio js:

let source = space ? `https://hf.space/embed/${space}/+/` : this.getAttribute("src");

should allow for a theme query string to be appended on the end eg https://hf.space/embed/${space}/+?__theme=${theme}

which

[2022-09-08 14:02] abidlabs commented on #2210
Hi @ankrgyl could you try with `gradio==3.2.1b2`?

I ran the following code (identical to yours, except with a `time.sleep()` so that we can observe the steps of iterator, and it works for me:

[code]

[2022-09-08 14:35] #2132 closed

[2022-09-08 15:01] freddyaboulton commented on #2210
Hi @ankrgyl !

Should be possible if you keep track of the current state of the dataframe in each iteration and then append to it.

The following works for me:

[code]

![yield_df](https://user-images.githubusercontent.com/41651716/189156584-a9fb8e8c-de98-4cf1-81ca-ab4f6f00bf01.gif)

[2022-09-08 15:03] ankrgyl commented on #2210
I think that's the same code as above? I tried doing that but messed something up.

[2022-09-08 15:04] freddyaboulton commented on #2210
Lol my bad - updated the code snippet.

[2022-09-08 15:09] ankrgyl commented on #2210
This is awesome. Thank you so much!

[2022-09-08 17:37] freddyaboulton commented on #2210
No problem! @ankrgyl going to close this out

[2022-09-08 17:37] #2210 closed

[2022-09-08 20:57] abidlabs commented on #2122
Got it. I think in theory it would be possible to keep a loop running when you click the submit button, and inside the loop, you would be able to check the time, perform a calculation, and then send a result. A code skeleton would be:

[code]

However, the Spaces machines occasionally go down or are restarted, so this is not a foolproof method. I'll close this issue since this is out of scope of t

[2022-09-08 20:57] #2122 closed

[2022-09-08 20:58] abidlabs commented on #2075
Now that we show an error if the connection is disconnected, we can close this issue, right @aliabid94 @apolinario?

[2022-09-08 21:02] #2061 closed

[2022-09-08 21:06] abidlabs commented on #2207
If a "queue full" error generates this kind of modal, then for consistency, we should do the same for "queue required for generator" and all of the other internal errors, yeah?

[2022-09-08 21:40] abidlabs commented on #2096
This should be fixed now @altryne! Here's a colab that shows queuing + iterative outputs: https://colab.research.google.com/drive/1kBfWpPUAZ5EOvl9P4RR9EiqCT35urtQM?usp=sharing

[2022-09-08 21:40] #2096 closed

[2022-09-08 21:40] abidlabs commented on #2111
This should be fixed now @XmYx! Here's a colab that shows queuing + iterative outputs: https://colab.research.google.com/drive/1kBfWpPUAZ5EOvl9P4RR9EiqCT35urtQM?usp=sharing

[2022-09-08 21:40] #2111 closed

[2022-09-08 21:42] abidlabs commented on #2114
Is this a solvable issue @pngwn @aliabid94? My understanding is that you can only import one version of the Gradio JS on a page, and that has to match the version of the Space that you are trying to embed.

[2022-09-08 23:57] abidlabs commented on #1316
Hi @apolinario, we are planning on making queuing on by default everywhere (#2215) -- and it already has been on by default on Spaces for quite some time.

I'm wondering whether that makes this issue redundant as it basically is the second approach that you've mentioned (**App A** will have queuing on by default, whether or not the developer has the good will to do this). The other point about eff

[2022-09-09 00:09] abidlabs opened #2216 "Have separate queues and ETAs for each event"
Right now, all events are added to the same queue. However, a single Blocks might have some events that are much faster than others. Instead of queuing them in one queue, we should have separate queues for different events (we would need to have some mechanism for how to delegate workers to different queues). We should also then have separate ETAs for each queue.

[2022-09-09 00:10] abidlabs commented on #2198
FYI @jfrery, just realized that we might need to first implement #2216 before this would make sense (at least in settings where you have multiple functions running.)

[2022-09-09 00:12] syu-kwsk commented on #1836
Thanks for the question!
Yeah, that's what I wanted too.
As a programming novice, it's hard for me to solve this.
Please developers, please help me.

[2022-09-09 00:26] oconnoob opened #2217 "`gr.HighlightedText()` problems when `entities` not sorted by start character"
### Describe the bug

# Problem (N.B. Temporary solution below)
If the `entities` of a `gr.HighlightedText()` component are not sorted by start, you get a repeating text issue

[code]
# Output:
![image](https://user-images.githubusercontent.com/46252299/189216487-c0e372bb-9875-488e-86c4-77b02ea939d9.png)

# Temporary Solution
Apparently if the starting characters of the entities are out of order,

[2022-09-09 03:46] brianfitzgerald commented on #2132
I am still experiencing this on gradio 3.3, which you can see [here](https://huggingface.co/spaces/roborovski/Diffusle). Should this be fixed in master? Or is the fix still upcoming?

[2022-09-09 04:00] abidlabs commented on #2132
Hi Brian, it looks like this Space is running Gradio 3.2 as can be seen by
the sdk_version parameter here:
https://huggingface.co/spaces/roborovski/Diffusle/blob/main/README.md

If you update this to 3.3, it should work! But let us know if it does not
for any reason

On Thu, Sep 8, 2022 at 8:46 PM Brian Fitzgerald ***@***.***>
wrote:

[2022-09-09 04:03] brianfitzgerald commented on #2132
Thanks so much! I will bump the SDK version and see if that helps, I imagine it will.

[2022-09-09 10:18] apolinario commented on #1316
Imo it doesn't make this issue redundant. I really think the ideal solution to this issue is passing the queue size downstream and sharing the queue between the main application and the loaded application. I don't know if that is possible but I feel otherwise this still makes `gr.Interface.load()` kind of unusable on high-load/large queue applications

The reason why making queuing default everywh

[2022-09-09 10:24] apolinario commented on #1316
So for example, if I want to load the Stable Diffusion Spaces into another application "Stable Diffusion Captioner" (SDC) that first runs Stable Diffusion and then an image captioning model.

If "Stable Diffusion Captioner" doesn't share the queue with the Stable Diffusion Spaces, even if it has a queue on its own turned o by default, the SDC user will skip everyone in the original Stable Diffusio

[2022-09-09 10:29] apolinario commented on #2075
Imo ideally we would try to find ways to not disconnect the user in case they are multi-tasking on mobile. I wonder if the Page Visibility API or a "reconnect if they are back after x amount of time" would be avenues worth exploring. [Some more context for it](https://huggingface.slack.com/archives/C02QZLG8GMN/p1661757861712289?thread_ts=1661446477.396999&cid=C02QZLG8GMN) (internal)

[2022-09-09 13:35] SkyTNT opened #2219 "Accordion closes automatically if you click a button in it"
### Describe the bug

If a Button in a default closed Accordion has click event and you open the Accordion then click the Button, the Accordion will close automatically.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-09-09 13:48] abidlabs opened #2220 "Pressing "clear" should interrupt and clear an iterative output"
Currently, when you have an iterative output like this:

[code]

If you press the "Clear" button while the output is iterating, it momentarily clears, but then the output continues iterating. This is not the expected behavior -- instead the output should remain clear and allow the user to resubmit a new input.

[2022-09-09 14:26] abidlabs commented on #2219
Thanks @SkyTNT, confirming I can reproduce this issue. @aliabid94 would you be able to take a look?

[2022-09-09 14:28] abidlabs commented on #2075
Makes sense. I believe @aliabid94 looked into it, WDYT of the feasibility of this @aliabid94?

[2022-09-09 14:31] abidlabs commented on #1316
Thanks for the detailed explanation @apolinario. That makes complete sense. The reason is that the SDC Space would be calling the `/api/predict` endpoint instead of the `/join/queue`. We'll fix this

[2022-09-09 15:30] abidlabs commented on #1984
Just realized my comment doesn't make any sense. The proper thing to do here is to have different queues for different events AND then return an ETA based on that event's queue. Closing this issue in favor of #2216 for clarity

[2022-09-09 15:30] #1984 closed

[2022-09-09 15:53] abidlabs commented on #1316
Yes it does, so I think it should be possible in principle for the downstream app to know everything about the upstream queue

[2022-09-09 16:20] abidlabs commented on #2217
Thanks @oconnoob for creating the issue and providing the example to reproduce it. I can confirm it on my end as well. We'll get a fix in soon!

[2022-09-09 17:19] abidlabs commented on #2220
@aliabid94 I tried to fix this but I'm not sure how to connect the trigger of the clear button to the websocket-related functions. Would you be able to take a look at this?

[2022-09-09 19:34] aliabid94 commented on #2207
no, because "queue full" is a user facing error, not an internal error. It tells the user to try again.

[2022-09-09 19:36] aliabid94 commented on #2114
hmm yeah, we don't support multiple versions of gradio in a page, because they both target the same elements. but we should have some sort of autodetection when loading from spaces, and using the correct js version for that space.

[2022-09-09 19:41] abidlabs commented on #2207
Ah right, that makes sense! In that case, we can close this issue imo

[2022-09-09 19:41] #2207 closed

[2022-09-09 19:42] #2206 closed

[2022-09-09 19:44] aliabid94 commented on #2219
oh yikes, will take a look!

[2022-09-09 19:45] aliabid94 commented on #2075
Yes it's possible and definitely needs to be done. Will require restructuring our queue system a bit. Will work on this very soon.

[2022-09-09 19:46] aliabid94 commented on #2220
Ok will take a look.

[2022-09-09 21:22] ankrgyl opened #2223 "Scale argument does not work if columns are nested"
### Describe the bug

If you have nested rows, and you try to set the scale for columns within the nested row, the scale appears to be ignored.

In the screenshot attached, I'd expect the Run button to be 5 times smaller than the textbox.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

![Screen Shot 2022-09-09 at 2 21

[2022-09-10 00:45] Skiddoh commented on #134
Hi, sorry to bother you, but this took me forever to figure out, because inputting a image with alpha channel results in a dummy picture being loaded.
I searched the docs and havent found your hint regarding RGBA as image_mode. It only says ""RGB" if color, or "L" if black and white." at https://gradio.app/docs/#image

[2022-09-10 07:22] AUTOMATIC1111 opened #2224 "gr.Image with tool="sketch" breaks completely after switching tabs"
### Describe the bug

gr.Image with tool="sketch" stops working and shows a grey square after user switches tabs, which makes it impossible for user to use the element afterwards. There is no real workaround. I clear the image with javascript upon tab switch, which helps for this exact case, but users still experience this afterwards, so rather than workaround, this error needs to be fixed. Also t

[2022-09-10 07:32] abidlabs commented on #2217
Fixed by #2221, thanks @oconnoob!

[2022-09-10 07:32] #2217 closed

[2022-09-11 05:15] Sreerag-ibtl commented on #2195
@abidlabs Here's a [colab](https://colab.research.google.com/drive/1Ilg-wRVcZKavM6uHicHvs2mMcxWUX8Tj?usp=sharing) notebook for your reference.

[2022-09-11 06:24] mustafalhamadsa opened #2227 "gr.update cannot update gr.dataframe headers"
### Describe the bug

Not sure if I am missing something, but apparently Dataframe headers cannot be updated with update component

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Just update gr.dataframe headers with gr.update

### Screenshot

_No response_

### Logs

[code]
[code]

### Severity

annoying

[2022-09-11 09:43] Theagainmen opened #2228 "Ability to change brush size"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
When masking/painting an image it is currently not possible to change the brush size. It would be very convenient if this was possible. (The image below shows the default brush size, which is the thing that should be adjustable).
![image](https://user-images.githubuse

[2022-09-11 10:05] TwistedFromArma opened #2229 "REQ outplainting with options"
- [ Y] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Often the head or feet or both are cut off. someitmes its the sides cut off by the AI. Its frustrating.

**Describe the solution you'd like**
An option for outpainitng would

[2022-09-11 12:11] greendra8 opened #2230 "JS error causes failure to load in Android API <= 29"
### Describe the bug

`Uncaught SyntaxError: Unexpected token . https://gradio.s3-us-west-2.amazonaws.com/3.3/assets/index.342fe35e.js (1)`

This error is thrown on every recent gradio version I have tested when loading from an android client with API 29 or less. Tried on huggingface spaces site and none loaded.

### Is there an existing issue for this?

- [X] I have searched the existing issues

[2022-09-12 00:47] abidlabs commented on #2228
Hi @Theagainmen, thank you for creating this issue. Agreed that this is a current limitation. We are working on a new sketching UI that should be released soon and will solve this problem. See #1721 for the larger issue. Since that issue also includes variation in brush size, I'll go ahead and close this issue

[2022-09-12 00:47] #2228 closed

[2022-09-12 00:52] abidlabs opened #2232 "Stable Diffusion Web UI Tracking Issue"
To make it easier to track/prioritize Stable Diffusion Web UI issues, here are all of the issues that are currently limiting the SD Web UI:

High priority
- [ ] #2224
- [ ] #1721 / #2060 / #2030

Lower priority
- [ ] #2229

cc @apolinario @AK391 @pngwn feel free to add more issues here

[2022-09-12 03:07] abidlabs opened #2233 "Share a single Gradio port for all Gradio apps running on a single machine"
Right now, when multiple Gradio apps are launched from a single machine, they all use separate ports (starting from port `7860` and increasing sequentially). This is resource-intensive if people launch multiple Gradio apps (especially if people are working in jupyter/colab notebooks where re-running cells is very common, and currently a new port is used for each Gradio instance).

The idea here is

[2022-09-12 08:17] Theagainmen commented on #2228
Sounds great, thanks for the note!

[2022-09-12 09:58] apolinario opened #2236 "Lazy load images with `gr.Gallery` or `gr.Image`"
**Is your feature request related to a problem? Please describe.**
Currently if you use a lot of `gr.Gallery` or `gr.Image` components with the `value` filled in, the app pre-loads all images before actually loading the Gradio demo or application

![image](https://user-images.githubusercontent.com/788417/189625756-ec934c5c-0da6-4cbe-af49-66bdb21f6a4e.png)

**Describe the solution you'd like**
Add

[2022-09-12 14:54] freddyaboulton commented on #2227
Hi @mustafalhamadsa! Thank you for postong. Can you try setting the `value` to a new dataframe with the headers and data you want?

[2022-09-12 15:44] freddyaboulton opened #2239 "Interfaces which provide partial examples will crash on Spaces"
### Describe the bug

If you define an interface with a partial list of examples, then the Interface will crash on start-up if you try to run it on spaces since cache_examples=True by default but not all inputs have been provided.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

Then try to run it

### Screenshot

-

### Logs

[code]

[2022-09-12 16:27] Warvito commented on #2172
Not sure if this helps, but depending on the browser, I can pause the outputted video (with Gradio 3.3, on Firefox 103.0 (64-bit), the example from @freddyaboulton works, and on Google Chrome Version 103.0.5060.134, it doesn't work)

[2022-09-12 16:39] xenova opened #2240 "Can't change SketchPad size"
### Describe the bug

Sketchpad stops working once you resize it using the .style() method (introduced https://github.com/gradio-app/gradio/issues/1561)

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]
### Screenshot
https://user-images.githubusercontent.com/26504141/189708738-7d752762-98e9-413f-9259-a224510bde92.mp4

### Logs

[code]
(

[2022-09-12 20:31] freddyaboulton opened #2245 "Delete PR Spaces automatically"
- [x] I have searched to see if a similar issue already exists.

We should delete the spaces created automatically during PR reviews after the PR is merged or after some given amount of time has passed after the PR has been merged. Keeping around the spaces post merge for a bit may help keep a history of the demos in case we realize something is broken.

[2022-09-12 22:43] shahbuland opened #2246 "visible attribute has no effect on gradio.Group()"
### Describe the bug

- Setting visible = false in gr.Group (i.e. with gr.Group(visible = False)) does nothing
- Subbing in gr.Column instead of gr.Group works as expected with regards to visibility
- gr.update(visible = False) also has no effect on gr.Group

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

[Running the

[2022-09-13 00:47] aliabid94 commented on #2233
I like it. Few questions.
- Does spark also use hashes to distinguish between multiple apps?
- When you relaunch an app, will you get the same hash?
- There is also the question of the frontend dev mode knowing the correct hash to connect to.
- didn't quite follow how this affects the share URL logic. if uou launch multiple apps, and only share=True some of them, is it easy to share just those end

[2022-09-13 00:47] #1983 closed

[2022-09-13 00:58] #2195 closed

[2022-09-13 01:06] aliabid94 commented on #2223
oh yikes. will take a look!

[2022-09-13 01:11] aliabid94 commented on #2230
Interesting. @abidlabs can you see what's going on?

[2022-09-13 01:13] greendra8 commented on #2230
Looking into this further, I think this might not be related to API version but actually android webview version? Have tried phones with API lower than 29 and has worked. Am not able to be 100% sure though.

[2022-09-13 01:18] aliabid94 commented on #2233
Can you see other approaches that libraries have used? How does streamlit handle multiple apps?

This would be a real "nice to have", I was wondering with this refactoring if it would be easier to do this.

[2022-09-13 01:19] aliabid94 commented on #2236
Yesss, we need to do this for sure. Will take a look!

[2022-09-13 01:46] aliabid94 commented on #2240
@pngwn can you take a look?

[2022-09-13 01:48] aliabid94 commented on #2246
will take a look!

[2022-09-13 08:06] NotAnyMike commented on #1637
I haven't used Gradio, this feature is the main one missing for me to start using it, I wanted to know if I can use rtsp streaming for inference? is there any workaround for this? or the only way is to wait for this feature?

[2022-09-13 09:36] aliabid94 commented on #2223
Okay so here's what's happening. Columns have a `min_width` argument that specifies the number of pixels the column must take up. `min_width` is taken into account first before `scale` is considered. By default, `min_width` is 320 pixels.

What you want to do is set the min_width to zero (or whatever you think is appropriate), e.g.
[code]
![Screen Shot 2022-09-13 at 2 34 56 AM](https://user-images

[2022-09-13 11:48] NimaBoscarino commented on #1453
I'm running into this as well on Gradio 3.3. Here's a notebook to reproduce: https://colab.research.google.com/drive/1JoDcK5R8lcA7Ty4-zlXnQNBwKXdfgRpb?usp=sharing

Same as mentioned above, works fine locally but on Colab + Spaces it's broken.

[2022-09-13 14:32] #1995 closed

[2022-09-13 15:29] abidlabs commented on #2233
Streamlit starts with 8501 and increments from there (8502, 8503). The closest analogue to what I'm proposing that I'm aware of is the jupyter notebook server, which runs on port 8888, but you can have multiple notebooks/kernels running simultaneously. They all just have different paths after the `localhost:8888/path_to_notebook1`, `localhost:8888/path_to_notebook2`, etc.

I have an idea for how t

[2022-09-13 15:30] pngwn commented on #2233
Would this have any implications for non localhost domains? For example would the share links become subpaths on a parent domain? Would it still be a single domain per machine just not per 'app'?

I guess my worry is if we end up with longer urls for everyone which may negatively impact UX.

[2022-09-13 15:34] abidlabs commented on #2233
Yes, so the share links would become subpaths, but the parent domain would be unique to a single machine. So it would be something like this.

1. You create your first Gradio app in a colab notebook: the URL is: `1234.gradio.app/3443dab`
2. You create your second Gradio app in a colab notebook: the URL is: `1234.gradio.app/f32dks3s`
3. You open a new colab notebook and run a Gradio app: the URL is

[2022-09-13 15:44] pngwn commented on #2233
I feel like I should put this here, although I don't really know how to articulate it but this feels off in general, like it feels like we're pushing our problems onto the user with confusing URLs and adding more complexity to our tooling to discover the correct 'hashes' for various apps.

Is it not possible to solve this at the infrastructure level? If this problem mostly manifests itself on cola

[2022-09-13 15:53] dawoodkhan82 commented on #2233
What if 7860 port is taken by another application by chance. Should we still have the ability to increment to the next available port?

[2022-09-13 16:01] abidlabs commented on #2233
The fundamental problem in colab is that it *requires* setting up SSH tunnels (using `share=True`) because Colab does not allow us to access internal localhost ports. So the question is simply how do we create these tunnels in a scalable way now that our colab usage has gone way up? I think this change (running all Gradio apps from a single port) should have been how we did things from the start f

[2022-09-13 16:58] FarukOzderim commented on #1983
@abidlabs due to limitations of tooling we cannot test functionality of the queue in Backend. That's why there needs to be queue functionality tests in Frontend IMO. If that is not possible, then some manual testing will be necessary, and spaces demos has queue activated by default, automatic spaces demo deployments will help 👍

[2022-09-13 18:10] freddyaboulton opened #2251 "Cannot add an api name to a function that updates a Column"
### Describe the bug

If you add an api_name to a function that updates a column, the app will fail to launch.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Run `blocks_update` demo with the following change to the species event listener

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoyin

[2022-09-13 18:43] aliabid94 commented on #2223
Because in the nested case, there isn't enough space in the second column to respect the min_width since the screen has been cut in half already for the second column. In the non-nested case, there's a whole screen to work with, so we can respect both min_width and scale.

The purpose of min_width was so things render well on mobile screens, and if there isn't enough space we don't just keep split

[2022-09-13 18:55] aliabid94 commented on #2233
I have the same feeling as @pngwn that this seems to be adding complexity without solving core problems, and adding a new problem, which is knowing what URL your app will launch with. Going by bullet point of supposed advantages:

Scalability: Not solving the core issue. We should kill connections that are no longer being used to reduce load on the share server.
Easier frontend development: Not so

[2022-09-13 19:06] dawoodkhan82 commented on #2172
After taking a look, seems like setting `currentTime` on an html video element on chrome doesn't work. But for some reasons works fine for a base64 source but not file path source. @pngwn

more info: https://stackoverflow.com/questions/27964533/js-currenttime-for-html-video-tag-is-not-working-on-chrome

[2022-09-13 21:08] aliabd opened #2254 "Adding an Image URL to examples doesn't render"
### Describe the bug

Using an image url instead of a file path in examples, will break the rendering of the image on the demo. Clicking the example still works though.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

https://user-images.githubusercontent.com/9021060/190009076-b5d45fc5-2b27-4096-8b62-60a7e9b5c1a9.mov

#

[2022-09-13 21:53] #2219 closed

[2022-09-13 22:07] #2172 closed

[2022-09-13 23:09] salamanders opened #2255 "Numbers have collisions, need a bit more security"
### Describe the bug

My redirect failed to start.  I didn't know this.  So when I loaded the https://17380.gradio.app link, I got someone else's app.

This feels sketchy, like it is too easy to try numbers at random.  Could it have some sort of checksum digits in the url so they can't be blind-guessed?

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Repro

[2022-09-13 23:19] abidlabs commented on #2255
Hi @salamanders thanks for creating this issue. Fully agree -- we'll work on improving this

[2022-09-13 23:51] divamgupta opened #2257 "Feature Request : Gradio for desktop apps"
Would be cool for developers to create desktop apps using Gradio!

[2022-09-13 23:54] abidlabs commented on #2257
Hey @divamgupta thanks for the suggestion! Will discuss this with the team. Can you tell me more about the motivation here? What are the use cases where the regular Gradio web app would not suffice and a desktop app would be more useful?

[2022-09-14 00:24] #2254 closed

[2022-09-14 00:46] abidlabs commented on #2233
Ok that's fair, I think we can investigate other approaches to scaling up shared Gradio apps before pursuing this path.

[2022-09-14 02:28] zbw66 opened #2258 "local URL cant open"
### Describe the bug

cant Running on local URL,:ERR_CONNECTION_REFUSED

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

.launch()

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-09-14 03:15] zbw66 commented on #2258
ps:codes are edited in Container. I try to use .launch(server_name='0.0.0.0',server_port=7888) but the local URL still cant running

[2022-09-14 03:46] ankrgyl commented on #2223
Here you go! https://github.com/gradio-app/gradio/pull/2259

I didn't update the guide because it's so short, that it seems out of place to add an extra implementation detail in there. But happy to add more/less per your feedback.

[2022-09-14 10:56] versae commented on #1683
OK, I finally had the chance to try this but now the lines are not breaking at the length of their container. Any idea why?
![image](https://user-images.githubusercontent.com/173537/190135881-de2c1848-40c8-4f64-bf9a-032babc04c6d.png)

[2022-09-14 13:47] MrNeon opened #2260 "Outputs that are larger than 2 MB do not work with `share=True`"
### Describe the bug

When using the shared tunneled link I get this error when receiving outputs that are around 2MB or larger.

Error in Chrome: net::ERR_HTTP2_PROTOCOL_ERROR 200
![Screenshot_20220914_140154](https://user-images.githubusercontent.com/7870061/190165237-fb1bd7eb-5f09-44a3-8230-27e2458560b3.png)

Firefox errors too but without any code, just an uncaught exception.

 When using loca

[2022-09-14 13:53] SkyTNT opened #2261 "Queue will be blocked if `gradio.event_queue.Queue.process_event` has an exception"
### Describe the bug

If there is an exception in gradio.event_queue.Queue.process_event when predicting, the queue will be blocked.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

First add an exception manually in `gradio.event_queue.Queue.process_event`

[code]
Then create an example app

[code]

Refresh the page multiple times, click the

[2022-09-14 14:53] abidlabs opened #2262 "Don't serialize `gr.Gallery()` images to base64 format"
We currently serialize all `gr.Gallery()` images into base64 format (similar to `gr.Image()`). In the case of `gr.Image()` we may need to do this so that the image editor can edit the images. But we don't need this for `gr.Gallery()` and it can significantly slow down the loading time if there are a lot of images in the gallery. Let's remove this unnecessary serialization when an image file is pro

[2022-09-14 14:56] abidlabs commented on #2258
Hi @zbw66, please provide a full code example so that we can reproduce this issue. Also, did you search the closed issues for "docker" as there are a number of people who have asked similar questions and have found solutions.

[2022-09-14 14:57] freddyaboulton commented on #2262
Is the expected behavior to serve a file from the backend like we do for Video?

[2022-09-14 14:57] abidlabs commented on #2260
Thanks @MrNeon for the interesting issue. This might be a limitation based on how the sharing servers have been configured. Will take a look and get back to you

[2022-09-14 14:58] abidlabs commented on #2262
Yes exactly that would be the fix

[2022-09-14 15:15] #2245 closed

[2022-09-14 15:32] abidlabs commented on #2230
This is a pretty tough one to reproduce since I don't have that specific hardware. @greendra8 if you are able to give us more direction on how to fix this, I'd be happy to make the necessary changes.

Otherwise, we're probably going to have to close this for lack of reproducibility.

[2022-09-14 16:06] #2191 closed

[2022-09-14 16:41] abidlabs commented on #344
Hi folks! I took a dive into FastAPI and it turns out that it is actually possible to serve your Gradio app  on a custom path quite easily using FastAPI's `mount()` method. Here's a little demo I put together:

[code]

This serves the Gradio app on `http://localhost:8000/gradio` and even allows you to create a Gradio app within another FastAPI app.

[2022-09-14 16:41] #344 closed

[2022-09-14 16:45] abidlabs commented on #1608
Hi @sciai-ai I took a dive into FastAPI and it turns out that it is actually possible to serve your Gradio app within another FastAPI app quite easily using FastAPI's `mount()` method. Here's a little demo I put together:

[code]

This serves the main app on `localhost:8000`, which could be an API endpoint, and it serves the Gradio app on `http://localhost:8000/gradio` and allows you to create a G

[2022-09-14 17:05] abidlabs commented on #1665
I think we've managed to fix this now, but on a related note @freddyaboulton I've noticed tests always show as "failing" when new contributors are merging in a fork of their repo, since they can't deploy on Spaces, e.g. https://github.com/gradio-app/gradio/pull/2234

Is it possible to change the deploy job to not run in these cases?

[2022-09-14 17:06] freddyaboulton commented on #1665
Yea I think we can program the job to exit early with a success if it's running from a fork

[2022-09-14 18:04] abidlabs commented on #2216
I'm planning on implementing this using [Fair-share scheduling](https://en.wikipedia.org/wiki/Fair-share_scheduling), which means that the workers will basically rotate between events in a round-robin fashion, spending roughly an equal time on each event.

So let's say there are 3 events: A, B, C. The `rotation_time` parameter (which is a single parameter for the entire Queue object) defines how l

[2022-09-14 19:27] abidlabs commented on #2122
@tt0203 just FYI you may also want to track #2050 in case its helpful for your use case

[2022-09-14 20:43] aliabid94 commented on #1683
hmm will take a look

[2022-09-14 21:23] #1612 closed

[2022-09-14 21:39] #1662 closed

[2022-09-15 02:06] leszekhanusz opened #2266 "How does the login process works"
I am trying to connect to a gradio backend which uses authentication (`auth` argument with login and password is set in the `launch` method of my gradio interface).

It works fine when I use my browser to login but I'm now trying to login through another page using javascript and I don't know how to proceed. The [documentation about sharing your app](https://gradio.app/sharing_your_app/) explains

[2022-09-15 03:09] zbw66 commented on #2258
Hi @abidlabs:
      thanks for your reply, this problem was solved ,the reason is probably that i tested in docker image,when i deleted server_port=7888( .launch(server_name='0.0.0.0')  ), the local URL can succwssful running, i dont know why,
      NOW ,i have a new problew,  when i  combine Gradio with Flask,  the setting of Network Port seems to conflict.How should the Net Port be set or what a

[2022-09-15 05:58] Zaniyar opened #2268 "Trying the simple example on the website gets me error: No module named 'fsspec.asyn'"
Hi,
[code]

I installed gradio and fsspec; after running the script I get the error:

fsspec.asyn itself is not a module, and fsspec is installed.

[2022-09-15 07:40] pngwn opened #2269 "Allow users to share app + settings via a URL"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
People are manually sharing prompts + settings for stable diffusion

<img width="681" alt="image" src="https://user-images.githubusercontent.com/12937446/190342608-66592a5f-2cf8-4481-9d18-9c51977365b5.png">

**Describe the solution you'd like**
A way for users to easi

[2022-09-15 08:27] erfanhamdi opened #2270 "css not getting applied"
Hi

I am trying to change the background color using CSS on gradio blocks but it doesn't change the output.
here is my code:
[code]
There is another problem with setting height by elem_id to radio inputs too:
<img width="1340" alt="Screen Shot 2022-09-15 at 12 54 45 PM" src="https://user-images.githubusercontent.com/30288548/190354176-c36cf57d-3672-4929-8bfb-5a1dd105d8f4.png">

The background chan

[2022-09-15 14:46] freddyaboulton commented on #2270
@erfanhamdi Can you try setting `.gradio-container` instead?

There's a relevant discord discussion here: https://discord.com/channels/879548962464493619/1014577879121657896/1019329352741179444

And github discussion here: https://github.com/gradio-app/gradio/discussions/2202

[2022-09-15 15:11] #2160 closed

[2022-09-15 15:12] freddyaboulton commented on #2268
@Zaniyar Can you try `pip install fsspec --upgrade` I'm on `2022.7.1` and gradio works for me.

[2022-09-15 15:14] abidlabs commented on #2266
Thanks for creating this issue @leszekhanusz and for providing the detailed JS code. @aliabid94 can you look at this, and is it possibly related to #1259?

[2022-09-15 15:18] merveenoyan opened #2272 "Gradio Interface doesn't work in Kaggle"
### Describe the bug

I don't know if it's a bug or if it's known but the interfaces I could previously load with Kaggle don't work anymore.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://www.kaggle.com/code/unofficialmerve/notebook91e833ce83

### Screenshot
(It says the port refuses to connect)
![Ekran Resmi 2022-09-15 17 17 13](htt

[2022-09-15 15:18] freddyaboulton commented on #2272
Can you try with `share=True` ?

[2022-09-15 15:20] abidlabs commented on #2270
We should update the documentation to reference the `.gradio-container`:
* here: https://gradio.app/key_features/#styling
* and here: https://gradio.app/custom_CSS_and_JS/

[2022-09-15 15:23] erfanhamdi commented on #2270
thanks that made it work

[2022-09-15 15:24] #1638 closed

[2022-09-15 15:25] freddyaboulton commented on #2270
Great to hear @erfanhamdi !! As @abidlabs mentioned, we're going to update our docs since they don't reflect the correct way to apply css anymore. Thank you for helping us notice 😄

[2022-09-15 15:26] freddyaboulton commented on #2270
Submit a PR and we'd be happy to review 😄

[2022-09-15 15:28] merveenoyan commented on #2272
Thanks a lot, it works now!

[2022-09-15 15:28] #2272 closed

[2022-09-15 15:33] abidlabs commented on #2272
@freddyaboulton maybe we can detect if we are running on Kaggle and set `share=True` automatically like we do in colab?

[2022-09-15 15:34] freddyaboulton commented on #2272
@abidlabs Absolutely! I thought the same

[2022-09-15 15:34] merveenoyan commented on #1429
In Kaggle it currently looks like this for 72 hours thanks to sharing:
![Ekran Resmi 2022-09-15 17 28 34](https://user-images.githubusercontent.com/53175384/190444928-c7b0e9a0-5058-41cc-abdc-6b26850b20be.png) (I haven't checked how it'll look after 72 hours so correct me if I'm wrong 😅)
I was wondering if we could put a preview of the interface after 72 hours, would this work? @freddyaboulton @abi

[2022-09-15 18:15] #2223 closed

[2022-09-15 18:18] freddyaboulton commented on #2220
I actually think the current behavior is correct. To me, `Clear` doesn't mean "stop all running functions" but rather "reset the visible state of the UI".

[2022-09-15 18:29] freddyaboulton commented on #1846
@mbjamil Take a look at the `blocks_update` [demo](https://github.com/gradio-app/gradio/blob/main/demo/blocks_update/run.py)

In particular, this code snippet

[code]

When the species changes, the choice of animals listed in the drop down changes as well.

[2022-09-15 18:29] #1846 closed

[2022-09-15 18:39] Ttl commented on #2110
I have the same issue on Firefox on Ubuntu but Chrome works. The issue seems to be that "image/x-png" MIME type is not recognized. Changing it to "image/png" fixes the problem.

[2022-09-15 18:41] #2205 closed

[2022-09-15 18:51] #2246 closed

[2022-09-15 18:52] #2270 closed

[2022-09-15 19:10] aliabd opened #2277 "Move all demos to spaces and clean up"
* Now that the demos running in /demos are on spaces, it would be great to move all the demos on the website there (in /docs, /guides etc). That way we can greatly simplify the website infra.
* Auto update the landing page demos (that are already on spaces) on every push to main.

[2022-09-15 19:10] freddyaboulton opened #2278 "Add "Run in Colab" Links to demos on the website Demos Page"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
It would help transition gradio users into gradio developers if they could easily run the demos hosted on our website on colab.

**Describe the solution you'd like**
Add `Run in Colab` links to all the demos on the website.

[2022-09-15 19:18] freddyaboulton commented on #1592
The interface is live so when you click on an example, it will update every input component, and each one of those changes trigger a prediction.

Maybe we can modify the front-end to not respect `live` for examples but sounds low priority. What do you think @aliabid94 @abidlabs ?

[2022-09-15 21:03] stevenhillis commented on #2023
Hi @abidlabs, bumping this. Which way are the internal winds blowing?

[2022-09-15 21:10] abidlabs commented on #936
A related feedback is "increment buttons as an option for sliders, currently on 4k displays where there's a large slider max value and a small step value it's pretty hard to get the exact value you want"

[2022-09-15 21:27] abidlabs commented on #2258
Hi @zbw66 without a full code example, we can't do much to help. I'll close this issue and point you this resource, which might help (though it's designed for fastapi, not flask): https://gradio.app/sharing_your_app/#mounting-within-another-fastapi-app

[2022-09-15 21:27] #2258 closed

[2022-09-15 21:28] abidlabs commented on #2261
Hi @SkyTNT can you please provide more context for when you run into this issue?

Specifically, why are you adding an Exception manually?

[2022-09-15 21:30] abidlabs commented on #2056
Closing for lack of reproducible code.

[2022-09-15 21:30] #2056 closed

[2022-09-15 21:32] abidlabs commented on #2197
I don't think we support any other options for showing videos in the browser @qustions unfortunately. I'm going to close this as it's not clear to me if there are any actions we can take here.

[2022-09-15 21:32] #2197 closed

[2022-09-15 21:36] abidlabs commented on #2093
Hi @mjpost sorry there was some confusion because we use "streaming" to mean something other than `live=True`. In your case, you could use this hack to disable the flicker:

[code]

[2022-09-15 21:36] #2093 closed

[2022-09-15 21:38] abidlabs commented on #2220
Yes, the clear button should reset the UI, but the fact that it continues iterating after you hit "clear" is probably frustrating to users (I don't see any use case where you'd want that)

[2022-09-15 21:40] freddyaboulton commented on #2220
I'm wondering if we should add a `Stop` button if the function is a generator as opposed to having the clear button do two things?

[2022-09-15 22:05] abidlabs commented on #2220
👍

[2022-09-15 23:33] SkyTNT commented on #2261
I sometimes find my space app's queue is blocked and get error log like this
[code]
I don't know how to reproduce this. But i think any exception or return before `await self.clean_event(event)` will result in same problem.
@abidlabs

[2022-09-16 01:42] aliabd commented on #2278
Great suggestion @freddyaboulton, I'll also add these for the demos on Docs.

[2022-09-16 08:23] #1731 closed

[2022-09-16 10:33] apolinario opened #2282 "`concurrency_count` broke on 3.3"
### Describe the bug

`concurrency_count` is not working on version 3.3. It adds persons to the queue instead of executing the queue in parallel

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Any execution with `concurrency_count` don't run in parallel on 3.3. It works on 3.1.7 and 3.2

### Screenshot

_No response_

### Logs

[code]

### Sy

[2022-09-16 10:59] apolinario opened #2283 "Accept `base64` strings as `value` for `gr.Image` and `gr.Gallery`"
**Is your feature request related to a problem? Please describe.**
I have a backend that returns base64 images. Converting them to PIL to have Gradio to convert them back to base64 seems a bit wasteful

**Describe the solution you'd like**
Allow base64 strings as input - and do not process them when making them as an output too

[2022-09-16 16:44] abidlabs commented on #2283
Hi @apolinario we could write some logic to detect if it's a base64 and not do any processing. But in this case, it might just be easier if you do something like this:

[code]

[2022-09-16 16:45] abidlabs commented on #2282
Yikes, we'll take a look. Is there a Space you can point me to make reproducing faster?

[2022-09-16 18:25] mustafalhamadsa commented on #2029
I would like to give implementing the Calendar component a shot, I personally found a use for it in filling information for my predictive model where I could use a single component more robust to the task instead of multiple.
![image](https://user-images.githubusercontent.com/100326225/190706672-eec8c87b-4413-4baa-b601-565aba34b63b.png)

[2022-09-16 18:33] abidlabs commented on #2283
I think this is going to be a rare case that a function returns a base64 representation, so I'm leaning against officially supporting it as a return type for the Image/Gallery/other media components. Instead the workaround above should suffice.

WDYT @aliabid94 @freddyaboulton?

[2022-09-16 18:35] freddyaboulton commented on #2283
Haven’t tested but can’t the same behavior be accomplished by disabling pre/post processing on the component?

[2022-09-16 18:44] stevenhillis opened #2285 "CheckboxGroup as output ignores new choices"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I have a CheckboxGroup. I instantiate it with four choices. Based on user interactions, I would like to add a fifth choice.

**Describe the solution you'd like**
When a CheckboxGroup is acting as an output component, I would like the strings in the list it consumes wh

[2022-09-16 19:58] abidlabs commented on #2283
Yes, depending on how the component is being used, that's also an option. I was thinking that this is for statically displaying content, but if related to an event trigger, you can set `_postprocess=False` @apolinario

[2022-09-16 19:59] abidlabs commented on #2285
Hi @stevenhillis thanks for creating this issue and providing the example. This is actually the same underlying issue as https://github.com/gradio-app/gradio/issues/1566. We will work on getting a fix for this!

[2022-09-16 21:35] apolinario commented on #2283
Thank you @aliabd and @freddyaboulton ! In this case, the base64 image is coming from a backend in the function triggered by the Gradio action, so basically the user fills in the Gradio UI, presses "Run" and then a function is executed that calls an external backend and returns base64 images, so I need to get that as the `return` or output to a `gr.Gallery` - how can I use `_postprocess=False` in

[2022-09-16 21:38] aliabid94 commented on #2266
will take a look!

[2022-09-16 21:42] apolinario commented on #2282
Because it is broken, I have not let it on any live Spaces, but I think you can reproduce very minimally by setting just taking any demo and adding the `concurrency_count`, the requests still run in sequence

I made a Space with a minimal demo just to exemplify: https://huggingface.co/spaces/multimodalart/saymyname

[2022-09-16 21:42] aliabid94 commented on #2110
interesting, will take a look!

[2022-09-16 21:49] abidlabs commented on #2029
Sounds good to me! I think a component that allows easy selection of dates would be quite helpful for data science applications. You'll find this Guide helpful in putting the new component: https://gradio.app/creating_a_new_component/

@pngwn @freddyaboulton @aliabid94 any additional thoughts?

[2022-09-16 21:52] abidlabs commented on #2283
Can you share the code or the relevant code snippet @apolinario?

[2022-09-16 22:00] apolinario commented on #2283
So the inference function looks something like this:

[code]

And that is triggered by a
[code]
where gallery is just a `gr.Gallery`

[2022-09-16 22:15] freddyaboulton commented on #2282
I think I know what the problem is. Thank you @apolinario!

[2022-09-16 23:03] abidlabs commented on #2283
All you need to do is change

[code]

to

[code]

and it should work!

[2022-09-16 23:25] abidlabs commented on #2283
@freddyaboulton @aliabid94 thoughts on exposing `_preprocess` and `_postprocess` as proper parameters and documenting them?

[2022-09-17 00:21] divamgupta commented on #2257
I feel there is a big demand for desktop applications. It running locally, it feels more natural to run a desktop application rather than an application opening in your web browser.

I had created a small application called diffusionbee, it got popular because of this reason. It would be been cool to use a framework like gradio to build it.

[2022-09-17 00:47] leszekhanusz commented on #2266
In the meantime, as a workaround, I simply [added an access code](https://github.com/leszekhanusz/diffusion-ui-backend/releases/tag/v0.2.0) in the gradio inputs.

[2022-09-17 01:15] krrishdholakia opened #2287 "images rotated"
### Describe the bug

When I upload an image on my iphone it gets rotated vs. uploading the same image on desktop.

I assume this might have something to do with the iphone image upload being HEIC.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://huggingface.co/spaces/krrishD/suitify_v1

### Screenshot

_No response_

### Logs

[code]

[2022-09-18 00:53] abidlabs commented on #2023
Hi @stevenhillis recently we've had a lot of requests for new components or new variations of components like this one. We’re planning on making a framework to make it easy to create custom Gradio components — this is on our roadmap but is still 1-2 months out. So I think we’ll hold off on implementing this component ourselves but will work in making it easy for an interested user to create such a

[2022-09-18 18:29] colemickens commented on #2096
I'm sorry that I can't provide better debug info about this, and my lack of sureness is why I'm not opening a new issue yet... but...

I had a lot of websocket issues, even with 3.3.1 - bad enough that with sd-web-ui, it would hangup the entire backend, with subsequent attempts causing the queue to get bigger (from peeking at ws messages), with no signs of anything happening on the backend. (This

[2022-09-18 18:29] colemickens commented on #2096
(I'll edit, but replying just in case) I made an important typo. My problems went away when switching *from Firefox* to Chrome.

[2022-09-18 19:36] colemickens opened #2289 "h11 dependency clamped?"
Hi,

Why is the h11 dependency clamped? We have h11 at v13 already and I'd prefer to not have to duplicate it just for this package if I can help it.

Thanks!

[2022-09-19 00:04] keturn opened #2290 "Request object has no `__json_response_data`"
### Describe the bug

When attempting to return results through a generator, there's an error from gradio internals.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://github.com/keturn/sd-progress-demo/blob/f415d3bdb5dbad90db6d451558a23edee3660841/progress_callback_demo.ipynb

### Screenshot

_No response_

### Logs

[code]

### System

[2022-09-19 03:57] aliabid94 commented on #2261
This seems critical @abidlabs, I can take a look

[2022-09-19 04:51] SkyTNT commented on #2290
same as #2261

[2022-09-19 06:29] keturn commented on #2290
I read #2261 as saying that if an exception such as this AttributeError happens at a particular point, it is handled poorly. Which is important to fix, I agree.

but presumably the thing triggering this particular AttributeError should be fixed as well.

[2022-09-19 06:47] abidlabs commented on #2289
@aliabid94 do you know if this is still necessary to clamp?

[2022-09-19 08:20] aliabid94 commented on #2220
I think Clear should both "stop" and "clear", and a stop button can just "stop". the submit button can turn into a "stop" button during a pending request. This should be true for generative outputs and regular requests.

[2022-09-19 14:03] #2282 closed

[2022-09-19 14:04] freddyaboulton commented on #2261
@aliabid94 Open PR for this in #2290

[2022-09-19 17:46] Theagainmen commented on #2232
Any ETA/updates on this :)?

[2022-09-19 18:53] dylancl commented on #2260
Is there any update on this?

[2022-09-19 19:51] freddyaboulton opened #2292 "Cant mount gradio as a sub-application if the queue is enabled"
### Describe the bug

From @radames

I’m trying to enable queue on a Block Interface with FastAPI serving static files, two things are happening:
first the websocket address has an extra slash via UI ws://127.0.0.1:8000/gradio//queue/join  ( I guess it’s the frontend bug, due to the mounting path different than /)
I’m not sure it this is the right way to enable Queue before mounting FastAPI app? w

[2022-09-19 20:47] NimaBoscarino commented on #936
Just bumping this to link a forum post with this request: https://discuss.huggingface.co/t/stable-diffusion-seed-selection-in-webpage-app/

[2022-09-19 20:57] abidlabs commented on #2230
Going to close this for now for the reasons stated above. Please feel free to reopen if you are able to get more details on this that would point to a fix @greendra8

[2022-09-19 20:57] #2230 closed

[2022-09-19 21:09] abidlabs commented on #2096
Thanks @colemickens for letting us and the community know! We typically test on Chrome + Edge, so it's possible that there could be some Firefox-specific issues may have crept in. If you can share a minimal example that doesn't work on Firefox, feel free to create a new issue, and we can give that a look.

[2022-09-19 21:51] abidlabs commented on #2260
I've been able to reproduce the issue, looking into a possible fix

[2022-09-19 22:09] abidlabs commented on #936
Thanks @NimaBoscarino! I agree we should get this out soon -- @pngwn or @dawoodkhan82 do you have bandwidth for this?

[2022-09-19 23:09] freddyaboulton opened #2295 "Image in blocks_mask demo is greyed out if your switch tabs"
### Describe the bug

If you switch go to the `blocks_mask` demo in PR deployments, you'll see a lion image with a sketch tool on top. If you switch to another tab and then go back to `blocks_mask`, the image will be greyed out.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Above. For example, go to https://huggingface.co/spaces/gradio-pr-d

[2022-09-20 00:38] #2283 closed

[2022-09-20 03:43] tt0203 opened #2296 "Can't you render a chart containing js?"
I have an html file referencing js,the graph is not rendered.
My code is in the following URL：
https://huggingface.co/spaces/changxin/chart/blob/main/app.py
When I save the html code as a local file, it can be rendered.
How does the gr.HTML function render this html code?

[2022-09-20 04:14] dawoodkhan82 commented on #936
Sure I can work on it. I think Typeable makes sense. Not sure we need the increment button if it's typeable.

[2022-09-20 04:49] abidlabs commented on #936
Agreed, I think one or the other is sufficient

[2022-09-20 06:38] thermelin opened #2297 "Big video files are not supported"
### Describe the bug

I want to use Gradio for demoing a model that processes videos. The problem is that when I upload videos that pass a certain size (seems to be around 500MB) I get an error without having the function that is specified in the interface even triggered. Error doesn't indicate size issue, but experiments with multiple videos confirms this is the issue.

Additional notes:
* As you

[2022-09-20 06:46] fffiloni opened #2298 "Video Gallery Outputs"
[*] I have searched to see if a similar issue already exists.
YES

**Is your feature request related to a problem? Please describe.**
NO

**Describe the solution you'd like**
I'd like to be able to display a list of videos outputs as a Gallery, that would work as the images gallery works, but for videos.

**Additional context**
Context: I made a PySceneDetect demo that can divide a video sequence

[2022-09-20 10:39] pngwn commented on #466
I have updated the parent issue to try to capture the various requests we have had and start a conversation about how we design this. Please take a look and provide any feedback, it would be very much appreciated!

[2022-09-20 14:29] vijishmadhavan opened #2299 "How to get input image size?"
How can we get the input image size or shape?

[2022-09-20 14:33] freddyaboulton commented on #2006
I wonder if adding this feature to a gr.Dataset would be more appropriate given that it already expects a list of components in the constructor.

[2022-09-20 14:37] abidlabs commented on #466
This looks great @pngwn and definitely captures the vast majority of user feedback that I've heard. A few thoughts:

This is something we've heard a lot. In the Python API, if users pass in a list for the `source` parameter, it would be nice if the GUI allowed them to toggle between these options.

LGTM. One additional request we've heard is the ability to type text onto an image. This is useful f

[2022-09-20 14:39] freddyaboulton commented on #2299
Hi @vijishmadhavan ! Thanks for posting the question. Do you mean the size of the image from within your prediction function?

The `gr.Image` component has a `type` parameter. By default it's set to `numpy` which means your prediction function will get a numpy array as input. You can then do `im.shape` to get the shape of the array.

I'm going to close this out since it's a general question about

[2022-09-20 14:39] #2299 closed

[2022-09-20 14:48] #2239 closed

[2022-09-20 16:33] adamryczkowski opened #2300 "Cannot build gradio."
### Describe the bug

I am using Ubuntu 20.04 64 bit and pnpm version 6.32.11.

I am trying to build gradio from source to write a pull request.

Here is an error I get after running the build script in the Python 3.10.7 environment.

[code]

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]
log out, log in, and then

[code]

### Screensh

[2022-09-20 16:37] abidlabs commented on #2300
Can you try with `pnpm 7`?

We've updated https://github.com/gradio-app/gradio/blob/main/CONTRIBUTING.md to mention that Gradio now uses `pnpm 7`, but it may be that we've missed a reference somewhere else? Where did you see to use `pnpm 6`?

[2022-09-20 17:11] pngwn commented on #466
@abidlabs regardung the three masks, it is an example pulled from [this comment](https://github.com/gradio-app/gradio/issues/466#issuecomment-1149227032):

`collapse_layers` kwarg, sounds like a good idea.

I'll add text to the feature list.

[2022-09-20 18:04] apolinario opened #2303 "Create a custom component that adds color and formatting to the text field"
**Is your feature request related to a problem? Please describe.**
Currently the text-field can only iterate on input/output using the same color/font, making interacting with LLMs a bit tricky as you can't clearly identify what was the input and output

**Describe the solution you'd like**
A OpenAI Playground GPT-3-like text-field where one could style parts of the text with a different color
![i

[2022-09-20 18:29] abidlabs commented on #2303
Hi @apolinario this is mostly possible! Here's an example: https://huggingface.co/spaces/gradio/autocomplete (code reproduced below):
`
[code]

The only thing that would be missing is the colored completion. But I think style/formatting is out of scope for the Textbox component. (Might be possible with some custom css, js?)

[2022-09-20 18:34] #2261 closed

[2022-09-20 18:37] apolinario commented on #2303
Very cool @abidlabs! Thanks for the demo. In regards to styling and having iterative outputs - I understand (re the text component) - but on the other hand this seems such a common place UI/UX for language generation that I feel hacking with JS/CSS would be done by a small minority of users

Maybe this is the usecase for a custom community component?

[2022-09-20 18:42] abidlabs commented on #2303
That's very true. I agree with your suggestion, we could open this up to be a community component (a richer `Textbox` that can support color and maybe formatting as well). Would you like to rename and reframe this issue @apolinario?

[2022-09-20 18:46] abidlabs opened #2305 "Example caching doesn't work with `gr.update()`"
### Describe the bug

If a function returns a `gr.update()`, it will not work correctly with example caching. Here are a couple of failure modes:

(1) The caching does not happen at all, and an Exception is thrown

Example:

[code]

Error:

[code]

(2) Caching happens without error, but when the example is clicked, the update does not happen as expected:

Example:

[code]

Error:

<img width="626"

[2022-09-21 07:44] johko commented on #1922
What is the status on this feature?
I just built a space where I could also have used a ordered list of coordinates as sketch output (https://huggingface.co/spaces/kornia/line-segment-matching).
As I have a fixed number of points I did a workaround where I use k-means clustering on the sketch output mask to get the centroids and order them by hand, which is working, but still is very hacky :sweat_

[2022-09-21 08:47] secsilm opened #2311 "`copy to clipboard` is not working"
### Describe the bug

`copy to clipboard` is not working when `output="json"`. Click it and no response.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

![image](https://user-images.githubusercontent.com/8894643/191458063-3b786c4f-cace-4324-bb92-6b782145d79e.png)

### Logs

[code]

### System Info

- Gradio version: 3.

[2022-09-21 10:28] adamryczkowski commented on #2300
I initially tried pnpm 7. After getting an error I started to fill in the bug. In the bug fill form you require to make sure that the same problem has not been fixed already. Well, it was: https://github.com/gradio-app/gradio/issues/1374 , and since you never write that this solution is not valid anymore, I assumed this is the way.

Here is the error I get when using `pnpm` version `7.12.1`:

[cod

[2022-09-21 11:59] pngwn commented on #2300
I'll take a look at this. `pnpm 7` should be working fine but I'll investigate.

[2022-09-21 15:11] apolinario opened #2312 "Change brush size on `sketch` tool for images"
**Is your feature request related to a problem? Please describe.**
I can't change the brush size

**Describe the solution you'd like**
Being able to change the brush size

**Additional context**
I know the `color-sketch` is on the making, but I don't want color, just drawing a simple mask but changing the brush size. Maybe the brush size chooser from `color-sketch` could be ported back to `sketch`

[2022-09-21 15:13] pngwn commented on #2312
Will try to add this in the current PR.

[2022-09-21 15:14] abidlabs commented on #2311
Thanks @secsilm can confirm the issue! @dawoodkhan82 would you be able to take a look at this?

[2022-09-21 15:18] abidlabs commented on #1798
Along similar lines, when the backend function returns an update, it can either be:
* a dictionary created by `gr.update()`
* a single value returned by the function

We should standardize this (convert everything to a dictionary) before being passed into the frontend

[2022-09-21 15:37] freddyaboulton commented on #2300
@adamryczkowski Are you on node version 16 ?

[2022-09-21 15:41] freddyaboulton commented on #2311
If you remove `server_name` it works 🤔

[2022-09-21 15:43] freddyaboulton commented on #2290
I think #2261 prevents the `has no attribute '_json_response_data'` by checking if the request has an exception. Hopefully this should be fixed in the next release.

[2022-09-21 15:44] pngwn commented on #2312
@apolinario I've added this as part of #2144.

[2022-09-21 15:52] freddyaboulton commented on #2311
Chrome automatically blocks access to the clipboard since the site is not secure:

![image](https://user-images.githubusercontent.com/41651716/191551867-c83e9797-588f-4254-b8eb-20340a704d7a.png)

[2022-09-21 16:24] apolinario opened #2314 "Dynamically draw a mask on an image with an editable `sketch` component"
**Is your feature request related to a problem? Please describe.**
New cool text-based inpainting tools are being released
![image](https://user-images.githubusercontent.com/788417/191554194-1485dbaf-fcd6-449a-9a5d-4ce916785f18.png)

This works by typing a word, then using some computer vision technique to find the concept you typed the word for in the image and automatically drawing the mask.

Ho

[2022-09-21 16:53] #2305 closed

[2022-09-21 17:18] #1316 closed

[2022-09-21 17:20] Sumith1896 opened #2316 "Draw a bounding box on top of an image"
- [Y] I have searched to see if a similar issue already exists.

We were looking to prepare a demo for an inpainting tool that accepts an image and a bounding box drawn on top of the image. Similar to this https://huggingface.co/spaces/akhaliq/lama but inpainting a bounding box region instead of brush scribbles.

Currently, the best we can do is ask the user to input coordinates of the bounding bo

[2022-09-21 17:25] apolinario commented on #2314
Here's a video example of how this could work:
https://user-images.githubusercontent.com/788417/191570986-52d1e519-0374-4cad-b267-c215c312e5ee.mp4

[2022-09-21 18:49] FarukOzderim commented on #2216
This looks great ideally but I am not sure this is really needed in Gradio.

1. This will make Queue design more complex. I am not sure how easy it will be to context-switch in Python scope, and how efficient it'll be. And it will probably take a significant time to develop this feature.
2. Long duration events will have quite a lot of trouble finishing when there is a high traffic.
3. The queue l

[2022-09-21 19:29] abidlabs commented on #2311
Ah interesting, it also doesn't work inside iframes (e.g. inside of a jupyter notebook).

It seems like we should be able to fix that: https://stackoverflow.com/questions/61401384/can-text-within-an-iframe-be-copied-to-clipboard

[2022-09-21 19:32] abidlabs commented on #2216
Great to hear your feedback @FarukOzderim! I was actually thinking through this myself, and I came to the same conclusion. I don't think this will provide significant benefits that are worth the additional complexity of having separate queues for separate events (beyond letting events skip the queue altogether).

I'll keep this issue open in case we do need it for #2218, but if it is possible to i

[2022-09-21 19:35] abidlabs commented on #2303
Thank you @apolinario!

[2022-09-21 19:57] abidlabs commented on #2296
Hi @tt0203, at this moment, I believe you cannot access external javascript files from inside your Gradio app. This may change in the future (please track #2137), but at this moment we do not support it.

[2022-09-21 19:58] abidlabs commented on #1989
Hi @tt0203, as I responded to your other issue, I believe you cannot access external javascript files from inside your Gradio app. This may change in the future (please track #2137), but at this moment we do not support it.

[2022-09-21 19:58] #1989 closed

[2022-09-21 20:01] abidlabs commented on #2137
Hi @codedealer thanks for opening this issue. I do see a demand for this (#2296, #1989) and this is something we have been discussing internally, but we haven't reached a decision yet whether and how to support this.

[2022-09-21 20:11] abidlabs commented on #2289
Ok I checked, and it's clamped because `gradio` has `httpx` as a dependence, which has `httpcore` as a dependency, which itself requires "h11>=0.11,<0.13", see here: https://github.com/encode/httpcore/blob/master/setup.py

I'll close this issue, but let us know if we can help in any other way!

[2022-09-21 20:11] #2289 closed

[2022-09-21 21:25] abidlabs opened #2320 "Components/Blocks have duplicate IDs if rendered more than once"
### Describe the bug

If a component or Interface is rendered, but has already been rendered previously, it will add blocks with duplicate IDs to the config. Here's an example:

[code]

We assume uniqueness of component IDs so this can cause all sorts of problems. The safest solution would be to raise an `Exception` to prevent a component/blocks from being rendered multiple times.

### Is there an

[2022-09-22 04:12] abidlabs commented on #2297
Hi @thermelin, I can confirm that the threshold for public links should be around 200 MB and that's set so that the gradio share servers are not overwhelmed.

Not sure where the size limits for private links is coming from -- will take a look.

[2022-09-22 06:01] thermelin commented on #2297
Thanks! A solution for private links is sufficient.

Additionally (another unrelated issue), it would be great to understand how we can stop the run in case there is a Gradio error (not an error in my code) and present an error message to the user (rather than having it look like it's still running). It seems like the exception is not populating beyond the scope of Gradio.
Thanks again!

[2022-09-22 06:08] abidlabs commented on #2297
Have you tried the `show_error` parameter in `launch()`?

[2022-09-22 08:49] thermelin commented on #2297
I tried launching like this, and it didn't change the behavior.
If you prefer that I'll open a separate issue for this, let me know.
Thanks again for a great project!
![image](https://user-images.githubusercontent.com/108273730/191702016-a5678d42-fdab-4b37-a513-d8d184c586f7.png)

[2022-09-22 08:51] abidlabs commented on #2297
Yes that would be great @thermelin if you can create a separate issue with a full code example that we can use to reproduce

[2022-09-22 09:18] thermelin opened #2322 "Large files cause Gradio Interface to crash without any indication of internal error"
### Describe the bug

When getting Gradio internal error, the app seems to continue to "run" without executing anything or returning.

It would be great to be able to stop the run in case there is such an error and present an error message to the user (rather than having it look like it's still running forever). It seems like the exception is not populating beyond the scope of Gradio. Adding 'show

[2022-09-22 15:11] Zaniyar commented on #2268
ok with pip install it worked - conda install didn't work for me. thx

[2022-09-22 15:11] #2268 closed

[2022-09-22 17:52] #2311 closed

[2022-09-22 19:13] adamryczkowski commented on #2300
No. I use the `v10.19.0`.

Installing node 16 solved the problem.

[2022-09-22 19:13] #2300 closed

[2022-09-22 19:57] adamryczkowski opened #2323 "Multiple tests failed when in the current master"
### Describe the bug

I want to write a pull request. I want to get initial CI checks are passing before requesting a review. Unfortunately I get multiple tests  failed even when checking against an upstream sources without my modifications.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

1. Install Ubuntu 20.04
2. Install python 3.10 from de

[2022-09-22 20:01] abidlabs commented on #2323
Hi @adamryczkowski, thanks for the interest in making a PR! It looks like the main issue is that ffmpeg is not installed in your ubuntu environment. Can you try installing it with `sudo apt install ffmpeg`?

[2022-09-22 20:03] freddyaboulton commented on #2323
Note that there are some unit tests that make external requests to the huggingface model hub and those can sometimes fail due to rate limits or (infrequent) outages of models on the hub.

The tests that can sometimes fail for reasons unrelated to your change are marked flaky and you can filter them out from your runs like so:

`pytest -k "not flaky" test`

[2022-09-22 20:14] adamryczkowski commented on #2323
Yep, installing `ffmpeg` did the trick. Thank you!

[2022-09-22 20:14] #2323 closed

[2022-09-22 21:34] osanseviero opened #2325 "Microphone cannot be stopped after starting without permissions"
### Describe the bug

([internal discussion](https://huggingface.slack.com/archives/C02QZLG8GMN/p1663834347523179))

Using the microphone component in any Gradio app (such as https://huggingface.co/spaces/ysharma/Talk_to_Multilingual_AI_WhisperBloomCoqui), in Chrome, **without** microphone permissions, allows me to click "Record from microphone". Afterward, I cannot click "Stop recording".

The UX

[2022-09-23 11:14] #1721 closed

[2022-09-23 11:14] #2060 closed

[2022-09-23 11:14] #2124 closed

[2022-09-23 11:14] #1174 closed

[2022-09-23 11:14] #2030 closed

[2022-09-23 11:14] #2312 closed

[2022-09-23 11:15] #2224 closed

[2022-09-23 11:15] #2295 closed

[2022-09-23 12:17] Pfaeff opened #2327 "Gallery - Adding a label under each image"
It would be nice if it were possible to add some additional information to the images in the gallery.

Being able to return a list of tuples of image and string and having those strings displayed as labels under the images would be a great start.

[2022-09-23 12:42] pngwn commented on #2327
Duplicate of #2091.

Are there any features other than labels you think the gallery should have, or can this be closed?

[2022-09-23 12:47] Pfaeff commented on #2327
Weird that I couldn't find that issue. Yes, this can be closed. Sorry for the inconvenience.

[2022-09-23 12:54] Nachimak28 commented on #2325
Have been facing this issue since yesterday so can confirm.
Even after providing the correct permissions in site settings of chrome, the issue persists.
My gradio version is 3.3.1.

This is what the console displays after pressing the record and stop buttons.
![image](https://user-images.githubusercontent.com/23210132/191964337-e4687b93-77fc-4411-81fa-54dfef810746.png)

[2022-09-23 13:02] apolinario commented on #2283
@abidlabs , I got a question: can I use `preprocess` and `postprocess` in the gallery field itself? (ad not the `btn.click`)?

The use-case for this is:
[code]
Making this add the same src as the origin to the `img src` tag as opposed to downloading the image and showing in base64
I tried adding `_preprocess=False` and `preprocess=False` to `gr.Gallery` with no success. Is there a way or for this

[2022-09-23 14:07] abidlabs commented on #2283
@apolinario for passing in images to the Gallery directly, I think the approach I mentioned in the parent comment should work. Basically something like this:

[code]

[2022-09-23 14:07] abidlabs commented on #2327
Thanks @Pfaeff! Let us know if we can help in any other way

[2022-09-23 14:07] #2327 closed

[2022-09-23 17:50] #2155 closed

[2022-09-23 20:01] #2292 closed

[2022-09-23 22:56] guumaster commented on #2260
Not sure if this helps, but if you use ngrok inside Google Colab and use it to point to localhost:7860 and then access through ngrok url instead of gradio.app, it never hangs. Here is the code:

[code]

Maybe it helps to see what ngrok is doing differently, unless is a server setting 🤷

[2022-09-24 23:40] nickmuchi87 opened #2331 "Unable to adjust height/width of image output in spaces"
### Describe the bug

I have an gr.Image component where I am rendering an image located in the images folder in this space: https://huggingface.co/spaces/nickmuchi/Plant-Health-Classifier

Using the code below:

`gr.Image('images/Healthy.png',label = 'Healthy',type='pil').style(width='5',height='5') `

the image is pretty much taking the whole screen size. Tried all different sizes variables.

on

[2022-09-25 09:42] fffiloni commented on #435
+ 1

i was looking for a solution for this.
subscribed :)

[2022-09-25 10:05] fffiloni commented on #2216
Yes ! This is a great idea, i was wondering if this was possible crafting my Whisper To Diffusion demo.

As i give the user the choice to check whisper outputs before sending it to SD, they are waiting too long for the previous client to finish their stable diffusion inference

you can experience it there: [Whisper to Stable Diffusion demo](https://huggingface.co/spaces/fffiloni/whisper-to-stable-

[2022-09-25 18:58] yannickfunk commented on #1710
Hi @abidlabs @FarukOzderim and @aliabid94.
I did some research and found out a lot of stuff, I can give you some conclusions:

The choppy audio is coming from the start() and stop() of the MediaRecorder because this leads to artifacts in the audio. It is the most straightforward way to accomplish streaming audio, but for ML showcases it is suboptimal, because the resulting audio sounds choppy.

An

[2022-09-25 19:16] qunash opened #2333 "Audio.stream() does not work inside of gradio.Blocks()"
### Describe the bug

Can't pass Audio to the **callable function** in Audio.stream() inside a gradio.Blocks().

Capturing streaming audio works fine using **Interface** but not in **Blocks**.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

Error occurs when pressing **Record from microphone**

### Screenshot

_No response_

### Logs

[2022-09-26 02:53] yuanjie-ai opened #2334 "How to create multiple apps"
How to create multiple apps

[2022-09-26 03:29] neerajprad opened #2335 "Gradio fails to render thumbnails when image directory path is specified"
### Describe the bug

When I instantiate the Interface class with `examples={directory path}` (this is one of the options given in the documentation for the [Interface](https://gradio.app/docs/#interface-header) class) for an image classification model, the app fails to generate the thumbnail images for the examples. (See screenshot)

Clicking on the blank thumbnail still correctly loads the examp

[2022-09-26 04:44] aliabid94 commented on #1710
This is so helpful @yannickfunk! Trying it out now

[2022-09-26 06:04] chengyjonathan opened #2336 "Gradio .change() KeyError when multiple outputs."
### Describe the bug

If I understand the documentation correctly, I should be able to use a list of output components for the .change() method.

So an input change from one component can affect the behavior of multiple components.

It works if I just set one output, but breaks for multiple.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[co

[2022-09-26 06:37] chengyjonathan commented on #2336
Nvm, found the tutorial where dictionary output is required to impact multiple components! My bad! :D

[2022-09-26 08:25] celestinoxp opened #2337 "Analytics-Python update"
### Describe the bug

analytics-python is in version 1.4.0 and does not allow updating its dependencies, thus creating conflicts with other packages that require these updated dependencies.

Dependencies: backoff, monotonic, python-dateutil, requests, six

Turns out analytics-python has been updated to new versions but under another name, changed from "analytics-python" to "segment-analytics-pytho

[2022-09-26 12:19] freddyaboulton commented on #2336
No problem @chengyjonathan ! Glad you figured it out.

[2022-09-26 12:19] #2336 closed

[2022-09-26 14:15] freddyaboulton commented on #2335
Hi @neerajprad ! Thanks for filing this. I think I know what's happening - the examples component is not loading the full path to the file. This is similar to https://github.com/gradio-app/gradio/issues/2129 but I it's an actually a different case.

[2022-09-26 14:43] #2251 closed

[2022-09-26 14:43] abidlabs commented on #2334
Hi @yuanjie-ai, it sounds like you have a general question --> please head over to our [Forums](https://discuss.huggingface.co/c/gradio/26) or [Discord](https://t.co/JKepTfXraQ) for general questions. These GitHub issues are designed for detailed bug reports that include code for reproducibility or detailed feature requests.

We're happy to help with more general questions on the Forum or Discord,

[2022-09-26 14:43] #2334 closed

[2022-09-26 14:44] abidlabs commented on #2333
@aliabid94 can you take a look at this as you look into streaming?

[2022-09-26 15:07] freddyaboulton commented on #2322
Hi @thermelin ! If you upgrade to the latest gradio version and use `show_error` does the problem persist? We recently added a new `gr.Error` component that will show errors from the backend on the front-end.

[2022-09-26 15:27] freddyaboulton commented on #2049
Discussing with @dawoodkhan82

- [ ] Connecting to s3/mysql on spaces and how to manage secrets
- [ ] Maps to plot geographic data (covid test locations/ stadiums, etc) @dawoodkhan82
- [ ] Periodic synching of data from spaces/machine to database or datasets on the hub @freddyaboulton

[2022-09-26 15:37] aliabid94 commented on #1710
Hey @yannickfunk I've been trying to implement your suggestion and got a bit stuck, if you could help me out. You said you got a quick and dirty version working, could you share that code? I've posted my quick and dirty version that isn't producing a parseable base64 below. (the `prepare_audio` method is the only relevant part of the code I believe)

Also another question: why can't I use `recorde

[2022-09-26 15:38] dawoodkhan82 opened #2338 "Create DS Demo: Map demo to plot geographic data"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
 Create map demo to plot geographic data (covid test locations/ stadiums, etc). Purpose is to show-off data science use cases plus explore any issues we may face in the proces

[2022-09-26 15:38] dawoodkhan82 commented on #2049
Created a separate issue for Map demo (#2338)

[2022-09-26 15:51] radames commented on #2292
hi @freddyaboulton I've tested #2319 thanks for the fast fix! when are you releasing it on beta?

[2022-09-26 16:02] freddyaboulton commented on #2292
@radames I think we're doing a full release today!

[2022-09-26 16:03] dawoodkhan82 opened #2339 "Dataframe Headers: Sometimes double clicking into header does not allow it to be edited"
### Describe the bug

Dataframe Headers: When adding a new column, the header can be edited but, sometimes double clicking into previous headers does not allow it to be edited.

https://user-images.githubusercontent.com/12725292/192325034-8b5a8576-8da1-4767-a4ac-f9564846b7af.mov

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

N/A

### Screens

[2022-09-26 16:08] aliabid94 commented on #1710
Oh I realize I'm still using webm with the PCM codec, I imagine that's causing the issue. Will try the library you recommended. (still do send your code please!)

[2022-09-26 16:20] yannickfunk commented on #1710
Please find my code here: https://gist.github.com/yannickfunk/f5724e9af72f2a87b07f04df015e6d66

[2022-09-26 16:55] abidlabs commented on #2292
Yes full release today or tomorrow, but in the meantime, I believe it is out on `gradio==3.4b3`

[2022-09-26 20:41] apolinario commented on #2283
With the example I put up
[code]

It downloads the images and place them in the document in base64 format instead of adding the same `urls` in `value` to the `<img src=""` of the gallery component (which is the intended behavior). By attributing and then doing `.value` it changes that?

[2022-09-26 21:40] abidlabs commented on #2283
Yes, I believe it should because it skips the postprocessing step that downloads the images and converts them to base64. Does it work?

[2022-09-27 02:56] #2091 closed

[2022-09-27 03:00] #936 closed

[2022-09-27 04:34] ankrgyl opened #2342 ""The truth value of a DataFrame is ambiguous." while updating an empty DataFrame"
### Describe the bug

If you setup an update handler that outputs to a (default-initialized) dataframe you'll see an error like `The truth value of a DataFrame is ambiguous.`

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

This should crash on page load.

[code]

 You may need to create a file named cereal.csv locally. It can be something sim

[2022-09-27 04:42] ankrgyl commented on #2342
This looks like it may have been introduced by 6c1bfbb42c3be398120e6d6eb3aa51e418b95a85

[2022-09-27 04:44] MrNocTV opened #2343 "Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
### Describe the bug

I got this error, and it seems that due to failing of building gradio app

[code]

Looks like there is memory leak. Please help to check

https://stackoverflow.com/questions/53230823/fatal-error-ineffective-mark-compacts-near-heap-limit-allocation-failed-javas
Increase  memory heap does help.

### Is there an existing issue for this?

- [X] I have searched the existing issues

[2022-09-27 13:22] abidlabs commented on #2343
@MrNocTV I haven't had a chance to dive deeply into this but I noticed that you had a custom install of `gradio` to remove Google Analytics. You can actually remove this simply by setting `analytics_enabled=False` in your `gradio.Interface` or your `gradio.Blocks`. Perhaps installing the standard Gradio package will be easier that way!

[2022-09-27 13:38] freddyaboulton commented on #2342
Hi @ankrgyl ! I believe we fixed this in https://github.com/gradio-app/gradio/pull/2309/ which is out in 3.4 .

[2022-09-27 14:18] pngwn commented on #1922
The difficulty is figuring out how this fits into the API. With a sketch that has lots of features, some people want it all as a single composite raster image, others as separate raster image layers, others want images as data, or as some combination of images + data. When you start to introduce multiple shapes + lines (as a sketch tool is typically capable of) how do you figure out which parts of

[2022-09-27 14:24] pngwn commented on #2232
The high priority issues have all been addressed in `3.4` which we have recently released.

I'm going to close this issue as we need to consider #2229 more carefully.

[2022-09-27 14:29] pngwn commented on #2023
The `Audio` component _does_ need overhauling as I don't think it is really good enough right now but as @abidlabs said that won't be happening immediately. When we do overhaul we will need to consider what kinds of features it should support. Gradio components should be solving the 80% case, while the remaining 'niche' cases can be solved in userland with the upcoming customisation options/APIs.

[2022-09-27 14:47] pngwn commented on #2343
We have seen this before in CI and we don't actually have a huge amount of control over this as it is related to our tooling. I'll take a look at this and speak to some people to see what might be causing it. I think we 'fixed' it by increasing the memory of the node process.

[2022-09-27 14:50] pngwn commented on #2322
@freddyaboulton

I have notice this myself a few times but I haven't looked into it too closely. We need to think more holistically about error handling across the application imo.

[2022-09-27 15:25] freddyaboulton commented on #2333
Hi @qunash Do you have ffmpeg installed?

[2022-09-27 15:28] PouriaRouzrokh opened #2348 "gr.Examples() not working fine with gr.Image(tool='sketch')"
### Describe the bug

Hi and thank you for developing this very interesting tool!

I am working on an interface to showcase an inpainting algorithm, where the user should use the sketchpad to draw a mask on an image which they have already uploaded to the interface. For this, I am using gr.Image(tool="sketch) in the interface.

Everything works fine, but when I try to provide some images as exampl

[2022-09-27 15:30] DeXtmL opened #2349 "Dataset not support Markdown components - no warnings or docs"
### Describe the bug

The Dataset component doesn't support components other than Text, otherwise the render fails

Consider this example:

[code]

This is the output UI:
![a](https://user-images.githubusercontent.com/13725477/192568345-efa38b6e-aebc-46fd-9499-be78defb99d2.jpg)
When click on it, the data passed is correct, but the render is completely shifted.

Expectation:
1. Gradio should work a

[2022-09-27 15:31] abidlabs commented on #2233
After internal discussion, we've decided to pursue other ways to increase the capacity of our share servers. Thanks all for the feedback!

[2022-09-27 15:34] evanjs commented on #1590
Looks like the surrounding block has changed a bit since the original post
New location: https://github.com/gradio-app/gradio/blob/a05f32c8f1301758dd6957d378253151a52c047b/ui/packages/app/src/components/Gallery/Gallery.svelte#L187
As previously mentioned, simply removing `h-full` from the Image component classes seems to remedy the issues mentioned by https://github.com/AUTOMATIC1111/stable-diffus

[2022-09-27 16:28] #2337 closed

[2022-09-27 20:29] yannickfunk commented on #1710
@aliabid94 did you manage to get it to work?

[2022-09-27 22:34] aliabid94 commented on #1710
Taking a look now, thanks @yannickfunk!

[2022-09-27 22:34] neerajprad commented on #2335
Ahh..I missed that. Feel free to close/merge the issues if you think the fix is the same for both. Thanks for taking a look.

[2022-09-28 00:36] qunash commented on #2333
@freddyaboulton yes, that was the issue, thank you!

[2022-09-28 00:36] #2333 closed

[2022-09-28 00:36] #2233 closed

[2022-09-28 00:42] abidlabs commented on #2216
@fffiloni I certainly see your point, but at this time, I think this would add too much complexity to the queue (and as it turns out, it is not needed for #2218), so I'm inclined to close the issue. My suggesiton would be to do the following instead:

* If your app has 2 kinds of events, one very fast and one very slow, simply skip the queue for the first event (by setting `queue=False` in the eve

[2022-09-28 00:42] #2216 closed

[2022-09-28 00:48] abidlabs commented on #2198
Hi @jfrery thanks again for creating this issue. We discussed and it seems like having separate queues for separate events would lead to unnecessary complexity in the app so we have closed #2216.

So in order to support this, we'd have to store event-specific information in the queue which we don't currently do, and this doesn't feature seem like it would solve a significant pain point (for most u

[2022-09-28 01:05] aliabid94 commented on #1710
Opened PR https://github.com/gradio-app/gradio/pull/2351, thanks so much @yannickfunk! Just had to tweak your code to support "pending", where the backend function isn't yet complete so we can't dispatch right away.

[2022-09-28 02:49] auwsom commented on #2039
Hi, how is this closed.. still happening with gradio 3.4

[2022-09-28 04:27] jfrery commented on #2198
Hi @abidlabs,

Understood. Yes it makes sense.

Closing the issue.

Thanks again for the awesome lib!

[2022-09-28 04:27] #2198 closed

[2022-09-28 06:39] thermelin commented on #2297
Hi,
Updating that upgrading to Gradio 3.4 did not solve the issue.
Thanks!

[2022-09-28 07:04] DeXtmL commented on #2349
@freddyaboulton On a quick test, the HighlightedText and Button also does not work with Dataset. Also I'm not sure how to embed Slider, as you mentioned, into a Dataset; giving a float or str as its initial value (in "samples" property) raises an AttributeError.  Some example codes are rather welcome.
 Thanks!

[2022-09-28 07:50] MrNocTV commented on #2343
@abidlabs we are building a service like huggingface, where users can freely deploy their code. There is a chance that they set `analytics_enabled=True`, we don't want that to happen. So that why we remove the GA functionalities completely from Gradio

[2022-09-28 07:51] MrNocTV commented on #2343
@pngwn fortunately there is an easy workaround, `ENV NODE_OPTIONS=--max_old_space_size=2048`. I'm looking forward to knowing the root cause. Or better a fix from Gradio :D

[2022-09-28 09:05] OrkhanHI opened #2352 "Capture image id when using gradio `Gallery`"
I am building the UI with Gallery of images and want to compare two images when they are selected by the user. Once the user clicks on  the image I want to capture the `image_id` and retrieve it from the list of the images by value, same goes for the second one.

**Describe the solution you'd like**
Get two image IDs and capture their value to run through the model and get output as selected two i

[2022-09-28 12:19] pngwn commented on #2343
@MrNocTV Yeah that is what we did too. It shouldn't be necessary as you mentioned, I will try to find out what might be causing it.

[2022-09-28 15:07] pngwn commented on #1488
Thanks for all of the feedback, it is very useful!

I have updated the original issue now that this work is under way. It hopefully captures some of the benefits of theming and how we are thinking about theming internally. I've also made this a tracking issue, as we will be splitting this work out into parts (some of those parts have had very little thought thus far).

Feel free to continue to lea

[2022-09-28 15:08] pngwn opened #2353 "[theming] implement internal theming architecture in the frontend (architecture)"
As part of the theming work we need to refactor how style values are set across the application.

**Stop using tailwind classes**

Currently we use `tailwind` classes directly and while this does provide a very consistent look and feel across the applications it doesn't not really give us the theming capabilities we need. Tailwind itself doesn't not exclusively use CSS variables, so direct manipul

[2022-09-28 15:08] pngwn opened #2354 "[theming] create python API for theming (api)"
Detail to come.

Notes:
- Top level python API (probably to the Block or interface)
- Support nested theme definitions (allowing user to theme sub 'blocks' or sections separately--themes cascade)
- Distinguish between 'style' + 'layout'
- Can we add clever type hints to make this easier for users?

[2022-09-28 15:08] pngwn opened #2355 "[theming] Document custom theme creation workflow"
Detail to come.

Notes:
- how do we make it easy for user to create their own themes
- what steps must be taken to add or generate the theme? Nothing perhaps?
- How do we teach/ document/ streamline the process.

[2022-09-28 15:08] pngwn opened #2356 "[theming] design + implement sharing workflow (sharing)"
Detail to follow.

Notes:
- once a user has created a theme, how can we allow them to share that theme
- once a user is _aware_ of another users shared theme, how can they use it.
- imo, the sharing part offers the greatest opportunity for gradio to raise the bar in terns of making sharing and reusing themes as seamless as possible. Other solutions in the wild are clunky and full of technical barr

[2022-09-28 15:30] freddyaboulton commented on #2290
@keturn Have you run into the same `_json_response_data` attribute error after upgrading to 3.4?

[2022-09-28 15:31] freddyaboulton commented on #2122
@tt0203 We just released a guide on scheduling tasks from your gradio app

https://gradio.app/running_background_tasks/

[2022-09-28 16:43] ankrgyl opened #2358 "Ability to update headers and types in `gr.Update` for a data frame"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

I'm working on a gradio demo that runs queries over a dataset and returns results in a data frame. The schema of the result (fields and types) changes, based on the query. Furthermore, the data contains rich media types (using the `markdown` type), so I can't simply

[2022-09-28 17:19] djaym7 opened #2360 "Show Model Console output/log on gradio output"
When one submits, show live log of console outputs on gradio output box.

[2022-09-28 19:58] abidlabs commented on #2360
Hi @djaym7 thanks for opening the issue. I think you might be referring a feature that is available when you set `show_error=True` in `Interface.launch()` or `Blocks.launch()`.  But as it stands the issue is not clear.

If you'd like, please reopen the issue and provide more details, including a full code example we can use to reproduce the issue you are experiencing.

[2022-09-28 19:58] #2360 closed

[2022-09-28 20:21] nelsonjchen commented on #2173
https://github.com/AUTOMATIC1111/stable-diffusion-webui/pull/1126

This was added to sthe AUTOMATIC1111 SD UI.

The code doesn't look heavy. Still would love more proliferation. Maybe throw something similar into some samples/documentation?

[2022-09-28 20:29] #2320 closed

[2022-09-28 20:47] djaym7 commented on #2360
If I understand it correctly, it will only show errors, I want to show all the console output errors and not errors.

[2022-09-28 20:50] djaym7 opened #2362 "Pipe Python terminal output/log to Gradio UI"
Reopening this https://github.com/gradio-app/gradio/issues/2360

Original description from 2360 :
When one submits, show live log of console outputs on gradio output box.

This is a feature request, not an issue

[2022-09-28 20:51] pngwn commented on #2358
Since you can return a dict from the predict function containing `header` and `data` in order to populate a Dataframe, I think you should be able to set this dict as the value in order to update the headers via an `Update` method:

[code]

Can you try this and see if it works?

[2022-09-28 20:54] aliabid94 commented on #2353
Thanks for the write-up @pngwn! I like the middle ground idea, where we use tailwind for anything we don't want themeable.

Can we have the themes (and maybe styles too) to use the tailwind classes too via "@apply" though? e.g.
[code]
and the themes be defined in tailwind as:
[code]
and we could maybe have `.style()` also use tailwind classes, e.g.
[code]

[2022-09-28 20:58] abidlabs commented on #2362
Sorry @djaym7 still a little unclear to me. Can you explain the motivation a little more as well as the desired solution? This is for debugging purposes, right?

If so, we offer the ability to show errors in the console using the `show_error` parameter, as described here: https://gradio.app/docs/#launch

<img width="759" alt="image" src="https://user-images.githubusercontent.com/1778297/192887359-

[2022-09-28 20:59] djaym7 commented on #2362
I want to show all the output in console, not just the errors. The users of the app are technical folks and want to see console logs.

[2022-09-28 20:59] djaym7 commented on #2362
Not debugging, motivation is to see all the logs

[2022-09-28 21:02] abidlabs commented on #2362
Ok I'm starting to see the picture here. So you want a way to be able to pipe general console output into a Gradio component (specifically a Textbox)? If you don't mind me asking, why not look at the console directly?

[2022-09-28 21:02] djaym7 commented on #2362
![image](https://user-images.githubusercontent.com/12378820/192887978-2a8484d7-0b10-4ef5-9fa9-6104c1328071.png)

[2022-09-28 21:02] djaym7 commented on #2362
Exactly yes

[2022-09-28 21:02] djaym7 commented on #2362
The users dont have access to server!

[2022-09-28 21:06] djaym7 commented on #2362
Another motivation is to show the overall progress of the process. Step1 complete, step 2 running, ... and so on. This creates confusion with users if process is running properly or browser hung up or internet or something else went wrong

[2022-09-28 21:56] leszekhanusz opened #2364 "Feature request: API Introspection"
Making an external frontend integrating with a gradio interface using the API can be really difficult if the gradio API is constantly changing.

Please provide a way to detect the inputs and outputs of a gradio API (it's too bad the interface is not made using GraphQL or we would be able to use [introspection](https://graphql.org/learn/introspection/))

Context: I'm currently writing a [GUI](https

[2022-09-28 22:00] freddyaboulton commented on #2173
Very cool @nelsonjchen !

[2022-09-28 22:00] freddyaboulton commented on #2364
Hi @leszekhanusz !

Is the api page at the bottom of the gradio front end in line with what you expect?

![image](https://user-images.githubusercontent.com/41651716/192896272-4f6567ee-a392-422b-a3a1-7c5c07ce8895.png)

If pass the `api_name` parameter when you define your events, you will see the api route docs

![image](https://user-images.githubusercontent.com/41651716/192896564-4adefb39-8a64-46b

[2022-09-28 22:02] leszekhanusz commented on #2364
Yes, but I want to access it programmatically

[2022-09-28 22:14] abidlabs commented on #2362
Oh I thought you were talking about the javascript console, but you're referring to the output from the Python terminal. Thanks for clarifying!

[2022-09-28 22:31] abidlabs commented on #2173
Great @nelsonjchen! Yes we can add this as a demo people can refer to!

[2022-09-28 23:20] abidlabs commented on #1961
Happy to report that this problem is fixed in `3.4` (cc @pngwn)!

![Recording 2022-09-28 at 16 19 32](https://user-images.githubusercontent.com/1778297/192905141-8a956748-4bd3-4adf-8975-73a2bdb85981.gif)

[2022-09-28 23:20] #1961 closed

[2022-09-28 23:31] abidlabs commented on #1240
Now that the `Gallery` component supports both images and captions (which was the most common use case of the `Carousel`), I think we should officially deprecating this component. Thoughts @pngwn @aliabid94?

[2022-09-28 23:37] abidlabs commented on #2022
It looks like this is fixed now in `gradio==3.4` @freddyaboulton. Can you confirm?

[2022-09-28 23:40] pngwn commented on #2353
I think the reason I would prefer css variable over tailwind classes is mainly because we can always avoid css specificity issues as css variables essentially swap out for one another when you redefine them and we can be very explicit about that. Classes always have the potential to cause specificity clashes which we will need to manage. We have hit this problem pretty frequently and need to use t

[2022-09-29 00:03] freddyaboulton commented on #2022
It's fixed! Shout out @pngwn who probably did this in the sketching pr

[2022-09-29 00:03] #2022 closed

[2022-09-29 04:04] aliabid94 opened #2366 "Gradio recording video from webcam error"
Try running demo/webcam/run.py. Throws some path error related to trying to flip the video, which is enabled by default (should it be?).

[2022-09-29 11:41] apolinario commented on #2283
I haven't gotten time to test it yet but I will soon

[2022-09-29 12:09] apolinario opened #2368 "Add `postprocess` to `gr.Example` with `cache_examples=True`"
**Is your feature request related to a problem? Please describe.**
I'm using `postprocess=False` to the button click function to get images that already get sent in base64 from the backend into the gallery component as described here https://github.com/gradio-app/gradio/issues/2283. However, if I have a `gr.Example` with `cache_examples=True`, it will call the inference function and run the post-p

[2022-09-29 12:24] pngwn commented on #2353
Another issue with using classes directly is we could only change the value globally rather than for a specific  instance of a component. Regardless of what we surface to users, this architecture is as much to solve our problems as anything and we need the ability to tweak things on a relatively granular level.

[2022-09-29 14:33] #2325 closed

[2022-09-29 14:59] fffiloni opened #2369 "Using loaded interface as a function in Blocks return error"
### Describe the bug

I want to use Stable Diffusion as a loaded interface in a Block, and use it as a function run by a button.
Calling that function leads to a `AttributeError: 'Dataset' object has no attribute 'serialize'`error in logs

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]
[

[2022-09-29 15:08] freddyaboulton commented on #2369
Thanks for filing @fffiloni !

My guess is that fn_index=0 probably corresponds to the examples component and not the actual text to image generation. I would check with fn_index=2.

[2022-09-29 15:14] fffiloni commented on #2369
Hello @freddyaboulton !

I tried with `fn_index=2` and `fn_index=1` but get another error:

[code]

[2022-09-29 17:02] ankrgyl commented on #2358
It unfortunately did not work for me. This is roughly what I'm attempting to do:

https://www.loom.com/share/8c57c20875c148d9a18857d9d03fcef1

[code]

It's very over-simplified here for demonstration purposes, but the idea is to run a query over a set of files and update the results.

[2022-09-29 18:16] abidlabs commented on #2352
Hi @OrkhanHI to clarify, are there two different Galleries, or one Gallery where you'd like to select 2 different images within the Gallery?

[2022-09-29 18:52] aliabid94 commented on #1240
Sounds good to me. Can we get some analytics on its usage?

[2022-09-29 20:08] apolinario opened #2371 "New typeable slider doesn't respect the `minimum` and `maximum` values"
### Describe the bug

Typable sliders are amazing! However they are currently not respecting the minimum and maximum values of the slider. It works for clicking the arrow, but if the user types, they can type an arbitrary number

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

![image](https://user-images.githubusercontent.com/788417/193131281

[2022-09-29 20:17] leszekhanusz commented on #2364
I've looked into this a bit more and in fact this already exists!
All the info is there in the `/config` path!

This should definitely get a mention in the docs!

[2022-09-29 20:29] abidlabs commented on #2103
Revisiting this issue, I think the right approach if someone wants this is to use `Blocks` and to create the `.submit()` event trigger instead of having a dedicated component. A minimum working example if anyone stumbles across this in the future:

[code]
Unless I've missed anything, this is pretty general and quite easy to get up and going.

[2022-09-29 20:29] #2103 closed

[2022-09-29 20:33] abidlabs commented on #1448
@aliabid94 this issue is unclear to me from the description. Is it still an issue or can we close?

[2022-09-29 21:07] #2040 closed

[2022-09-29 21:07] #134 closed

[2022-09-29 22:20] abidlabs commented on #2371
Good catch @apolinario! @dawoodkhan82 would you be able to take a look?

[2022-09-30 07:31] Muennighoff opened #2375 "Link in gr.components.Dataframe"
Is it possible to have a link in a dataframe without converting the dataframe to HTML? If not then this would be a feat request 😁

For example for [here](https://huggingface.co/spaces/gradio/leaderboard), would it be possible to have the Blocks Party Leaderboard names link to the spaces?

Turning the row into html via e.g.

[code]

does only work when the DF is also converted to HTML, which is inc

[2022-09-30 09:18] GalaxyTimeMachine commented on #466
I came here to add a request for a mask eraser. It's sometimes a pain to have to reverse and delete the whole mask when you only want to be able to erase a small part of it.

[2022-09-30 09:38] pngwn commented on #2375
The dataframe should support html as a datatype, you can see an example in [this demo](https://github.com/gradio-app/gradio/blob/main/demo/blocks_outputs/run.py#L67-L89). Is this what you are looking for?

Or is the part you are saying is incompatible? Do you have an example of this, it should work.

[2022-09-30 09:42] pngwn commented on #2366
I'll take a look at this, flipping should be enabled by default (to match online meeting behaviour that users are familar with--meet, zoom, etc.) but I don't know if we really thought much about webcam input to video (most of that work has been around image).

[2022-09-30 09:45] pngwn commented on #2364
Two interesting points here:
- We could make introspection of this kind simpler and surface it better in the docs.
- We should stop breaking the API.

The API does go through a little churn atm, I do think we want to stabilise that in the future but I don't think we'll be able to do that until we make some more breaking changes (which we try to minimise). This will probably require a major version

[2022-09-30 09:49] pngwn opened #2376 "[docs] document `/config`"
- [x] I have searched to see if a similar issue already exists.

From #2364.

We should document at least parts of the `/config` path. As explained in the linked issue, the config is useful for API introspection but it does have other use cases too. The config doesn't actually change that much (at least the general shape) and most changes have not been breaking but rather additive. I'm not sure we

[2022-09-30 09:54] pngwn commented on #2054
@leszekhanusz Can you see if this bug is still present in gradio 3.4, we have made a lot of changes to the sketch tool and i think this should be fixed now.

[2022-09-30 09:55] pngwn commented on #2065
Yeah, this is bad. Should hopefully be a simple fix.

[2022-09-30 09:56] pngwn commented on #1711
@hollance @hysts Do you think should be true for all image variants? Should as when sketching or masking over an image, not just when there is only a simple image input?

[2022-09-30 09:59] pngwn commented on #1590
I think we can put a really short debounce on the resize to fix this without needing to touch the layout. It's pretty weird problem but a debounce might be the safest fix.

[2022-09-30 10:00] pngwn commented on #1070
Hmm we still haven't done this. Pretty simple but feels important, will take a look soon.

[2022-09-30 10:35] FarukOzderim commented on #1448
Well the question was this,

event 1 :
input: a,b output: c

event 2:
input b,c output: c

What happens if one triggers them one after another?

[2022-09-30 11:02] fffiloni opened #2377 "[Series] can't launch a series with combination of classic interface and blocks interface ?"
### Describe the bug

If we load 2 interfaces, one is made by the classical Interface() method, the other one is made by Blocks,

Series interface won't launch.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-09-30 12:04] Muennighoff commented on #2375
Was missing `datatype="markdown"` - working now, thanks!

[2022-09-30 12:04] #2375 closed

[2022-09-30 12:48] hollance commented on #1711
I feel if there is an option for uploading an image, drag-and-drop should work too. But if there is no option to upload anything, only drawing, then it seems unnecessary to add drag-and-drop.

[2022-09-30 14:52] freddyaboulton commented on #2369
Thanks for the info @fffiloni ! Will look into this

[2022-09-30 14:59] freddyaboulton commented on #2377
Hey @fffiloni ! Yea Series is not expected to support a mix of blocks and interfaces. The docs make it clear that it should only be interfaces so I'm inclined to close this.

Blocks can have many functions so the default `fn_index=0` used for the Blocks.__call__ method may not be appropriate for all use cases. In my opinion, it'd be best if the developer uses their domain knowledge to choose how t

[2022-09-30 14:59] #2377 closed

[2022-09-30 15:17] freddyaboulton commented on #2342
@ankrgyl Did 3.4 fix this issue for you?

[2022-09-30 15:23] ankrgyl commented on #2342
Sorry I have not had a chance to check -- will do soon!

[2022-09-30 16:51] abidlabs commented on #2287
I've noticed this issue before, it seems to be a general problem with image uploading systems. @dawoodkhan82 would you be able to take a look at this?

[2022-09-30 16:53] abidlabs commented on #2055
Is this still an issue with the latest version of the dataframe, do you know @dawoodkhan82?

[2022-09-30 18:32] abidlabs commented on #1448
Hmm well here's a simple MVP:

[code]

If you click on `b1` and then `b2`, what ends up happening is that the output component keeps the loading indicator running until both events finish running:

<img width="570" alt="image" src="https://user-images.githubusercontent.com/1778297/193334424-c3a5d0e4-3fb4-446b-96f0-b567b8a4c93d.png">

That's what I would expect to happen, so I'm not sure what the u

[2022-09-30 19:17] abidlabs opened #2378 "`gr.update()` doesn't work if `postprocess=False` in event trigger"
### Describe the bug

If one creates an event trigger where `postprocess=False`, then `gr.update()` does not work as expected.

Internal thread: https://huggingface.slack.com/archives/C02QZLG8GMN/p1664544776458189?thread_ts=1664457058.050799&cid=C02QZLG8GMN

cc @pcuenca @mishig25

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Scr

[2022-09-30 20:28] FarukOzderim commented on #1448
Well back then we discussed the issue with @aliabid94 in length, and didn't arrive at a conclusion, so I think he can explain it better in an online meeting.

Basically, this makes it a complex situation, and there are several ways to execute them.

For example right now you never see the output of the first event when they are executed one after another.

[code]

Several ways of execution:
- Do n

[2022-09-30 22:51] abidlabs commented on #1448
Ah got it, thanks for clarifying @FarukOzderim. I'm not sure if there is a strong need to change the current way (which is basically to overwrite the first event's output with the second event) but we can be more explicit about it in the documentation.

[2022-10-01 00:56] FarukOzderim commented on #1813
I feel like this is more or less completed, no need to keep it open anymore.

[2022-10-01 00:56] #1813 closed

[2022-10-01 00:56] hysts commented on #1711
Agreed.

[2022-10-01 00:59] joytianya opened #2379 "How can I get the request Headers in the Gradio background?"
I want to count the IP amount requested under the statistical，
How can I get the request Headers in the Gradio background?
What should I do？thank you very much

[2022-10-01 05:09] abidlabs commented on #2379
Hi @joytianya, sorry your issue is a bit unclear to me. It seems like you have a general question about usage, for which I'd direct you to our [forums](https://discuss.huggingface.co/c/gradio/26) or our [discord](https://t.co/JKepTfXraQ). Please provide more details on what you'd like to do. Thank you!

[2022-10-01 07:49] joytianya commented on #2379
I built a service with gradio, the user can submit by clicking some buttons, and then the result is returned in the background, but I want to record some information requested by the user, such as ip, etc., but I don't know how to get the requested ip and other headers information.

No such configuration parameters were found in gradio. Can gradio support the function of getting headers?

[2022-10-01 07:51] abidlabs commented on #2379
Got it, thanks let me open up this issue. This is currently not possible with `gradio` afaik but we'll leave it open as a feature request

[2022-10-01 07:53] joytianya commented on #2379
Thank you very much, if Gradio can support this feature, it will be great~

[2022-10-01 09:33] fffiloni commented on #2377
Thank you @freddyaboulton 🙏

What do mean by ˋinterface_app` and ˋblocks_app` in the new_predict method ?

[2022-10-01 20:24] leszekhanusz commented on #2054
Nope, this is not fixed. I just tested with gradio 3.4 and the problem is still there.
Btw you can reproduce it very easily by:

- copy-pasting the reproduction code in a file
- run it
- go to http://127.0.0.1:7860
- upload any image with a different resolution than 512x512 px
- Click submit
- If it works then the mask shape should be (512, 512), like the image shape.

[2022-10-02 10:15] fffiloni commented on #1719
Subscribed to be notified when gr.Reset() is released :)

[2022-10-02 10:46] pngwn commented on #2054
Will take a look, thanks!

[2022-10-03 07:28] fffiloni opened #2381 "New Highlighted code component that can beautify code outputs"
- [ *] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Not really, but could be annoying: code output (e.g. from Codegeex demo) is not highlighted and make it hard to read and spot any errors or bad code generation.

**Describe the solution you'd like**
A gr.HighlightCode() component, able to highlight generated code out

[2022-10-03 07:52] fffiloni commented on #2352
I think what you are asking for is gr.Gallery() as input, from which you could select two images then compare them through the model. Unfortunately, the Gallery component does not accept input, according to the Docs.

What you could do instead is:

from your own html gallery list, select 2 images (with javascript for example), and then send them through the Gradio API routed to the Gradio app wher

[2022-10-03 08:10] fffiloni commented on #2348
Have you tried the new sketch tools released in 3.4 ? —› [Take a look to the new features](https://github.com/gradio-app/gradio/releases) ;)

What you can try to make it works:
- update your app to 3.4
- replace your input by: `img = gr.Image(source="upload", tool='sketch', image_mode='L', type='pil', label='Input image').style(height=300)`
- replace `type="pil"`by `type="numpy"`
- To load Exmaple

[2022-10-03 08:20] fffiloni commented on #2331
You can give your component an ID, then use CSS to tweak width and height :)

`gr.Image( value = 'images/Healthy.png', label = 'Healthy', type = 'pil', elem_id="healthy_img" )`

then set you CSS as usual:

[code]

and don't forget to call your css variable as argument in your gr.Interface() method like so :
`demo = gr.Blocks(css=my_css)`

[2022-10-03 09:35] simoninithomas commented on #2220
Hi, I'm planning to update the demo but I still have the issue. Is there is something I can change from my side implementation to solve the problem or it's gradio feature pb?
Thanks 🤗

[2022-10-03 14:13] abidlabs commented on #2381
Duplicate of https://github.com/gradio-app/gradio/issues/1014?

[2022-10-03 14:17] abidlabs commented on #2352
Agreed with @fffiloni. If you are looking for a single Gallery in which two inputs can be selected, that is currently not possible with `gradio` and seems out of scope for this component. It would be possible to built something custom with html/javascript as @fffiloni suggested if you are familiar with frontend development.

If you are looking for two Gallery components, and you select one image f

[2022-10-03 14:17] #2352 closed

[2022-10-03 14:18] fffiloni commented on #2381
Oh yes sorry 😅

i’ll close this one but the CodegeeX demo is a good and recent example that could benefit such a component 🙏

[2022-10-03 14:18] #2381 closed

[2022-10-03 14:18] abidlabs commented on #1976
Another example of where this component would be useful is here: https://huggingface.co/spaces/NimaBoscarino/playlist-generator, where a person could simply click on one of the song pictures to get the lyrics

[2022-10-03 14:19] abidlabs commented on #2381
Definitely @fffiloni! Feel free to add CodegeeX as a motivating issue in #1014

[2022-10-03 14:19] abidlabs commented on #2220
Sorry for the delay @simoninithomas, I'll look into this today and see if I can get something working!

[2022-10-03 14:30] simoninithomas commented on #2220
No pb and it's not urgent don't worry 🤗. Let me know if/how I can help.

[2022-10-03 14:38] abidlabs commented on #2331
Thanks @nickmuchi87, the arguments to the `width` and `height` parameters should be floats, not strings. Something like this works for me:

[code]

the approach @fffiloni suggested should also work.

[2022-10-03 15:53] abidlabs opened #2382 "Remote Jupyter notebook not accessible at the non-localhost IP address"
### Describe the bug

It seems that Gradio does not work with remote Jupyter notebook. See https://github.com/gradio-app/gradio/pull/2324 for more context

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

To reproduce the problem:

1. Provision a headless computer in your local LAN, e.g. at the address 192.168.0.5, on the `eth0` interface.
2. I

[2022-10-03 19:37] #1718 closed

[2022-10-03 21:51] nickmuchi87 commented on #2331
awesome, that worked, Last question is, how would I center the image as it is left aligned?

[2022-10-03 22:08] abidlabs commented on #2331
I took a closer look at this Space, and since this is just a static image, what I actually recommend here is that you actually just use the HTML component for this.

In other words, replace this line:
[code]
with
[code]

I'll go ahead and close the issue since the original problem is solved.

[2022-10-03 22:08] #2331 closed

[2022-10-04 03:51] loboere opened #2388 "img src not show"
### Describe the bug

i want to load an image from a url and display it in gradio but nothing happens, what am i doing wrong?

load_imagen.html
[code]

def load_html():

    with open("/content/load_imagen.html", encoding="utf8") as f:
        body = f.read()

[code]

[code]

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

-

### Screenshot

_

[2022-10-04 05:12] Pranjalya opened #2389 "Audio not playing till the end"
### Describe the bug

While inferencing from any model which outputs audio, the Audio player starts playing, but stop 1 second before the end. It is replicated in almost all the different Gradio instances I have made.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Just create a Gradio app which outputs audio with the latest Gradio version.

[2022-10-04 08:04] loboere opened #2390 "I can't upload image in colab"
### Describe the bug

the image bar appears but I can't upload and drag and drop any image

![image](https://user-images.githubusercontent.com/15265895/194371001-7ef8c5f2-7a29-4f7e-9afc-77be3de48f44.png)

[code]

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

[code]

### System Info

[code]

### Severity

blocking all usage of gradio

[2022-10-04 10:03] fffiloni commented on #2390
Hello @loboere !

To be able to upload an image, you need to specify the source as "upload" like this:

`gr.Image(source="upload", type="pil")`

That's it !

[2022-10-04 10:07] fffiloni commented on #2388
what if you try with a simple approach :

`gr.HTML('<img src="your_img_url" />')`

[2022-10-04 11:04] pngwn commented on #2390
@abidlabs @aliabid94 isn't this supposed to be the default for an interactive image component?

[2022-10-04 12:52] fffiloni commented on #2390
@pngwn yes, regarding to Docs, source is set to "upload" by default, and it's working fine with me (i'm using gradio 3.4 on HF)
Tested on Chrome and Firefox.

But maybe it's a Colab related bug, or related to the Browser ?

[2022-10-04 14:43] freddyaboulton commented on #2389
Hi @Pranjalya ! I think I see what you're talking about but is it the case that there is audio "missing" from the file?

When recording from my microphone, the audio component properly records all of my speech. If you run the `audio_debugger` demo in the repo, the audio played in the gradio ui matches the audio I get when I play `cantina.wav` with my computer's default audio player.

[2022-10-04 14:54] freddyaboulton commented on #2390
Yea "click to upload" works fine but "drag and drop" does not work for me -

![image_upload_colab](https://user-images.githubusercontent.com/41651716/193851400-b0b361c8-9dd1-4aa6-be86-6afe5ca64edd.gif)

![colab_drag_and_drop](https://user-images.githubusercontent.com/41651716/193851646-adb51c39-dba9-45a6-85a4-4d7879a9dc20.gif)

I think this is a colab issue that could be out of our control - I can

[2022-10-04 14:54] akvadrako opened #2391 "DOMException: The operation was aborted – seems related to batch size"
### Describe the bug

Sometimes, when a render is complete, the UI fails to show the images. Then it gets stuck and will not operate anymore. This might be related to "batch size".

Original bug: https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/160

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

1. Use the colab notebook for sta

[2022-10-04 14:55] freddyaboulton commented on #2377
@fffiloni My bad for using confusing terminology. By `interface_app` I mean an app defined via interface, e.g. `gr.Interface(...)` and by `blocks_app` I meant an app defined via Blocks `gr.Blocks() as demo:`

[2022-10-04 15:12] abidlabs commented on #2388
Hi @loboere there's a lot going on in the code example and it's not formatted in a way that's easy to understand. Can you please provide a minimal example that has this bug?

You should be able to reference image URLs like how @fffiloni described above.

[2022-10-04 15:22] abidlabs commented on #2391
Hi @akvadrako thanks for creating this issue. Is there a way for us to see this issue without running the entire stable-diffusion-webui codebase?

Would you be able to create a minimal example that has this bug, for example by loading some saved images from a Google Colab filesystem in a tabbed interface?

Lastly, does [this comment](https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/1

[2022-10-04 15:23] abidlabs commented on #1947
Going to close as we cannot investigate this without more details.

[2022-10-04 15:23] #1947 closed

[2022-10-04 15:24] abidlabs commented on #2290
I think we can close this issue if users haven't reported the same attribute error in `3.4`.

[2022-10-04 15:24] akvadrako commented on #2391
Hi @abidlabs, I'm not sure what you mean about loading saved images. I could run the colab and give you the address.

That comment had no effect for me.

[2022-10-04 15:39] akvadrako commented on #2391
I don't see how one saves and loads images.

Okay, it's running at https://12862.gradio.app/. You can login with user `me`, pass `qwerty`.

[2022-10-04 15:58] abidlabs commented on #2391
Hi @akvadrako I can confirm that no images are visible, but unfortunately, I don't see anything in the logs that give a clue about what is happening. It's unclear whether there is a problem with the underlying function or something that is wrong on the `gradio` side.

If you'd like us to take a look at this, can you write a much simpler function that only takes in a prompt and a batch size (in pla

[2022-10-04 16:02] akvadrako commented on #2391
I'm not a developer of this app, just a user. As you see in the linked comment, he just said "report it upstream, it's their problem". Why he thinks that, I cannot say.

[2022-10-04 16:04] abidlabs opened #2392 "Add `base64` type to file-based components (`Audio`, `Video`, `Image`, `File`)"
* It would be helpful to have a `base64` type to file-based components as this will allow us to deprecate `preprocess=False` in our event triggers
* Similarly, it would be helpful to autodetect `base64` type for output components as this will allow us to deprecate `postprocess=False` in our event triggers

[2022-10-04 16:11] lucifertrj opened #2393 "[FEAT] Addition of new guide for Components"
Gradio Docs doesn't contain the guide for components:

Documentation mentions:

Step-by-step Guides
No guides yet, [contribute](https://github.com/gradio-app/gradio/tree/main/guides) a guide about Number/Checkbox.

I could like to contribute to building a guide that uses Number and Checkbox.

[2022-10-04 16:36] abidlabs commented on #2393
Hi @lucifertrj we'd certainly welcome a contributed Guide!

* Please take a look at the contributing guidelines which will allow you to run Gradio and build the website locally: https://github.com/gradio-app/gradio/blob/main/CONTRIBUTING.md
* You'd create a new Markdown guide in this folder and open a PR: https://github.com/gradio-app/gradio/tree/main/guides/5)other_tutorials

What do you have in

[2022-10-04 19:51] #2368 closed

[2022-10-04 19:51] #2378 closed

[2022-10-04 20:03] fffiloni opened #2395 "Allow `gr.update()` to accept a component's `.style()` parameters?"
In a Blocks example, I need to update the gallery grid size when a slider value changes.

The grid size can be set like this : `gradio.Gallery().style(grid=2)`.

How can i update a value inside .style() with gr.update() ?

[code]

Does it work if i write:
[code]

[2022-10-04 20:05] abidlabs commented on #2395
Unfortunately this is not currently possible, but I agree this would be really nice to support. cc @pngwn @aliabid94

From the backend, it would be pretty straightforward to allow the `.update()` parameter to accep the `style()` kwargs, but I don't know if the frontend would be able to parse it?

[2022-10-04 20:10] #2106 closed

[2022-10-04 20:43] johko commented on #466
Hi, I would love to see the possibility to have an example for a masked image input in a space.
Even just being able to put in an empty mask would already help in my opinion, as mostly the really important thing for examples is to have an image to start from without having to upload anything.

[2022-10-05 11:14] pngwn commented on #2390
I'll look at this.

[2022-10-05 11:14] fffiloni commented on #2395
the css rules involved here are :

[code]

[2022-10-05 12:00] pngwn commented on #2395
We'll probably leave this one for now as we are reworking styling + theming but this is an important feature.

I don't think we want update to accept style kwargs because there is no guarantee that they will always be unique across both methods but we can figure out some API for it.

[2022-10-05 12:07] fffiloni commented on #2395
What we could do instead, is provide a slider to the gallery component UI to readjust the grid size dynamically.
Maybe this would be simpler ?

[2022-10-05 17:07] visualinventor commented on #2391
I can confirm this bug exists exactly as the OP has stated. The steps to reproduce are indeed valid as they have been reported (so tag "needs repro" isn't correct). We have troubleshot this down to gradio. The size trying to be returned is 2.5mg

![77c22787-4ecd-40e4-8668-95c9480eaf38](https://user-images.githubusercontent.com/115391/194119826-c0768ac7-c78d-4225-859f-0d86f17168fd.jpg)