[2021-12-15 16:44] randomgambit commented on #414
thanks @abidlabs ! I actually have no idea how to do it cant we make the app accessible while I am connected to (and manually running) my colab session but not generating a public link? does that make sense?

[2021-12-15 17:21] abidlabs commented on #414
We can definitely disable generating a public link, there's no problem with that. The problem is that the gradio application will then only run on a local server (e.g. `localhost:7000`) on the colab notebook, and that local server won't be accessible to you from your machine. Let me know if I'm missing something though.

[2021-12-15 21:05] Lucifer0x17 commented on #413
Can you elaborate lil more on the issue? I would like to work on the issue.

[2021-12-16 10:06] aliabd commented on #383
Hey @baishalidutta, we have deprecated Gradio Hosted and notified customers. Existing interfaces will only remain live until December 31st, 2021 but no new interfaces can be created. All December payments were refunded (may take a few days to process) and all subscriptions were canceled. We highly encourage you to use Huggingface Spaces instead, a great and free resource for permanent hosting of y

[2021-12-16 10:06] #383 closed

[2021-12-16 10:14] aliabd commented on #359
Hey @samuel-lunii and @vijishmadhavan, we have deprecated Gradio Hosted and notified customers. Existing interfaces will only remain live until December 31st, 2021 but no new interfaces can be created. All December payments were refunded (may take a few days to process) and all subscriptions were canceled. We highly encourage you to use Huggingface Spaces instead, a great and free resource for per

[2021-12-16 10:14] #359 closed

[2021-12-16 12:53] aliabd commented on #359
Note: we have also refunded payments made in November.

[2021-12-16 12:53] aliabd commented on #383
Note: we have also refunded payments made in November.

[2021-12-16 12:55] aliabd commented on #375
Hey @FisayoN, we have deprecated Gradio Hosted and notified customers. Existing interfaces will only remain live until December 31st, 2021 but no new interfaces can be created. All December and November payments were refunded (may take a few days to process) and all subscriptions were canceled. We highly encourage you to use Huggingface Spaces instead, a great and free resource for permanent hosti

[2021-12-16 12:55] #375 closed

[2021-12-16 12:55] aliabd commented on #377
Hey @byeolkady, we have deprecated Gradio Hosted and notified customers. Existing interfaces will only remain live until December 31st, 2021 but no new interfaces can be created. All December and November payments were refunded (may take a few days to process) and all subscriptions were canceled. We highly encourage you to use Huggingface Spaces instead, a great and free resource for permanent hos

[2021-12-16 12:55] #377 closed

[2021-12-16 15:26] abidlabs commented on #413
Thanks @Lucifer0x17 it looks like @fiordiconio put a fix through already. But if you are interested, you can take a look at the other couple of "good first issues"

[2021-12-16 15:26] #413 closed

[2021-12-16 15:57] Lucifer0x17 commented on #413
Okay I will look into other issues. Thank you so much :).

[2021-12-16 20:46] Narsil opened #419 "[Suggestions] Don't autofind a port when a port is user specified"
**Is your feature request related to a problem? Please describe.**

When using `iface = gr.Interface(.., server_port=5000)` if port `5000` is already used it will use port `5001` instead.

**Describe the solution you'd like**

If it could crash instead that would be better saying the port is already used.

**Additional context**
This was an issue when reloading regularly the gradio app and reloadi

[2021-12-16 21:34] abidlabs commented on #419
Makes sense, we'll fix it!

[2021-12-17 19:22] osanseviero commented on #400
FYI similar thing happens with the inputs (see https://huggingface.co/spaces/microsoft/unispeech-speaker-verification)

[2021-12-20 14:45] mandubian opened #423 "Getting-Started Doc "Using State" paragraph doesn't use CSS from code"
In https://gradio.app/getting_started/, paragraph about "Using State" doesn't use CSS and renders badly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gradio.app/getting_started/
2. Scroll down to "Using State"

Code should be
[code]

[2021-12-20 15:06] abidlabs commented on #423
Thanks @mandubian! @aliabid94 is the website not running from the latest version on `master`? Because the code here: https://github.com/gradio-app/gradio/blob/master/demo/chatbot/run.py looks fine.

[2021-12-20 15:46] abidlabs commented on #392
FYI @aliabid94 same thing happens with microphone. If you click submit before clicking the record button to stop recording, you can't submit even after you click the record button

[2021-12-21 20:58] #419 closed

[2021-12-21 20:59] abidlabs commented on #363
Should be fixed now!

[2021-12-21 20:59] #363 closed

[2021-12-21 20:59] abidlabs commented on #378
Any updated here @Shahin-rmz? Perhaps would make sense to create a discussion around this once you are ready, since it's not really an issue. https://github.com/gradio-app/gradio/discussions

[2021-12-21 20:59] #378 closed

[2021-12-21 21:00] abidlabs commented on #337
I think the `from_pipeline()` is a better way of integrating `transformers` models. Closing, but feel free to reopen @KingAragorn if this does not suffice

[2021-12-21 21:00] #337 closed

[2021-12-21 21:01] abidlabs commented on #393
Going to close because I think `flagging_options` usually is sufficient for these use cases. @NouamaneTazi let me know if this is not the case for you.

[2021-12-21 21:01] #393 closed

[2021-12-21 21:03] abidlabs commented on #414
Closing because there isn't any way (as far as I know) to access the local server on a colab. You need to create an SSH tunnel (either using `gradio` or through another service like `ngrok`).

[2021-12-21 21:03] #414 closed

[2021-12-21 21:04] abidlabs commented on #366
Closing because this is the same as #392

[2021-12-21 21:04] #366 closed

[2021-12-22 14:24] abidlabs opened #428 "Allow users to limit Audio/Video components to X seconds"
**Is your feature request related to a problem? Please describe.**
If you host on Spaces or elsewhere you want to limit how long videos and audio (and maybe even some components like Text) can be because that directly affects inference time and user experience.

**Describe the solution you'd like**
Optional parameters to the relevant `Input` components that enforce this limit in the frontend.

**A

[2021-12-22 14:51] abidlabs commented on #391
Hi @Shahin-rmz please replace the last cell block with this and it should work:

[code]

I've also updated the tutorial here: https://medium.com/swlh/a-gui-to-recognize-handwritten-digits-in-19-lines-of-python-fda715e525d0

[2021-12-22 14:51] #391 closed

[2021-12-22 15:20] abidlabs opened #429 "Drawing on the sketchpad is buggy"
**Describe the bug**
The `Sketchpad` input component does not work well. When you draw on it, sometimes the strokes disappear immediately after they are drawn. Based on the output, they are "there" but just not visible. Then they sometimes reappear after the next stroke is drawn

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Space with a Sketchpad, e.g. https://huggingface.co/spac

[2021-12-22 16:05] abidlabs opened #430 "Optional inputs should be designated as such in the UI"
**Is your feature request related to a problem? Please describe.**
It's not clear what inputs are optional when you are using a Gradio Interface

**Describe the solution you'd like**
One idea: the default `label` for an optional component could include "(Optional)" at the end to designate it at such.

**Additional context**
Here's an example Space where I think it would be useful to know what's op

[2021-12-22 17:09] abidlabs commented on #429
While we're on the topic, the sketchpad is also not properly responsive, as can be seen on the demo on the homepage on mobile:

![WhatsApp Image 2021-12-22 at 11 07 37 AM](https://user-images.githubusercontent.com/1778297/147129670-e919929a-39e6-4455-815a-e239bb3d6e99.jpeg)

[2021-12-22 17:54] abidlabs opened #431 "Investigate `enable_queue`"
We've gotten a user report that it doesn't work in `launch()` but does work in `Interface()` where it is deprecated.

While we're at it, we should perhaps enable via environmental variables `enable_queue=True` by default for HF Spaces

[2021-12-22 20:45] abidlabs opened #432 "Enable Markdown in Description"
**Is your feature request related to a problem? Please describe.**
Right now, you can put markdown in the `article` but not in the `description`. This causes people to put links in the bottom even when logically they would be part of the description (e.g. this Space: https://huggingface.co/spaces/Epoching/3D_Photo_Inpainting)

**Describe the solution you'd like**
Allow markdown and/or HTML in the

[2021-12-22 20:49] abidlabs opened #433 "Allow examples (maybe inputs in general?) to be cached"
**Is your feature request related to a problem? Please describe.**
Popular Spaces have long queues but it's often a person running just one of the examples. If this computation could be cached, that would speed up inference and reduce queue lines.

**Specifically:**
Can we create a parameter `cache` in the `launch()` method that:
* caches the predictions of example inputs so that they do not have

[2021-12-23 02:25] abidlabs opened #434 "State isn't working"
**Describe the bug**
State, as described in the chatbot example in the docs, does not work. When I run it, the new message overwrites the old message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [this code example](https://github.com/gradio-app/gradio/blob/master/demo/chatbot/run.py)
2. Copy paste inside a colab
3. Run the colab and start typing things into the chatbot
4. You'll no

[2021-12-23 15:47] aliabd commented on #384
@invoxiaglo we fixed this in https://github.com/gradio-app/gradio/pull/355 thanks for the suggestion!

The live demo will now pull from examples first before trying the gradio defined inputs.

[2021-12-23 15:47] #384 closed

[2021-12-23 19:05] devendergarg opened #435 "A component that shows the status of the queue before a prediction is submitted"
It can avoid high queue. Some people leave the screen after looking at long queue after submit.

[2021-12-24 12:51] FarukOzderim opened #436 "Missing Type Hints"
Hello,

I believe having type hints would really improve this project.
I offer that from now on type hints are selected as a necessary condition for the upcoming changes in PRs.
This way code base would slowly converge to a type hinted one.

Also this issue could be tagged as a good first issue for volunteer collaborators :)

cc: @abidlabs

[2021-12-24 12:58] abidlabs commented on #436
This will probably take some time to get the codebase fully typed, but we welcome any contributions towards this end!

[2021-12-24 12:59] abidlabs commented on #435
Hmm @aliabid94 what do you think? Can we show a live queue as soon as the interface loads?

[2021-12-24 13:27] FarukOzderim opened #438 "Error While Installing Setup.py"
**Describe the bug**
I get an installation error from setup.py, how do you install the requirements?
I think having a requirements file for development would be great for incoming contributors. I suggest piptools compile with requirements.ini, [reference](https://github.com/FarukOzderim/Telegram-Bot-Python-FastAPI/blob/master/requirements.in), https://pypi.org/project/pip-tools/.

**To Reproduce**

[2021-12-24 13:36] abidlabs commented on #438
Hmm I’ll look into this but what happens when you clone the repo and run: “pip install -e .”

[2021-12-24 14:34] FarukOzderim commented on #438
Yeah it worked wonderfully 😅, thanks.
Though development side requirements could still be chosen as you could use linter and formatters in that requirements.
[code]

[2021-12-24 18:19] abidlabs commented on #432
As an aside: LaTeX would be useful too!

[2021-12-24 18:20] abidlabs commented on #438
I'll leave this open because we should clarify in our contributing docs how to set up `gradio` locally for development.

[2021-12-27 18:57] abidlabs commented on #438
Done thanks for the feedback @FarukOzderim

[2021-12-27 18:57] #438 closed

[2021-12-27 23:36] abidlabs opened #439 "Auto flagging seems to be broken"

[2021-12-28 02:27] abidlabs opened #442 "Embedded demos overflow on homepage"
**Describe the bug**

Embedded demos overflow on the home page when viewed from a mobile device (see below).

![EB3C170B-EB9D-4ACE-A3A3-7E4FD6F44015](https://user-images.githubusercontent.com/1778297/147521007-1db5032e-62ba-4f69-a04d-885b3180d249.png)

[2021-12-29 00:31] abidlabs commented on #344
Working on this now as part of #440!

[2021-12-29 05:44] abidlabs commented on #439
Fixed in #441

[2021-12-29 05:44] #439 closed

[2021-12-30 18:39] abidlabs commented on #433
Working great on Spaces!

[2021-12-30 18:39] #433 closed

[2021-12-30 18:40] abidlabs commented on #423
Discussed and it seems it's because <html> code doesn't render correctly inside the <code> tags. Can someone look into this?

[2021-12-30 23:22] abidlabs commented on #435
Also heard on Twitter:
![image](https://user-images.githubusercontent.com/1778297/147794050-034dc458-3dc8-4ce5-a237-7436896867cf.png)

[2022-01-01 22:15] johnyquest7 opened #445 "Image tool 'select' option is not working with v2.6.0"
Image tool 'select' option is not working with v2.6.0

[2022-01-02 01:20] johnyquest7 commented on #445
select tool was not showing up because of my custom css

[2022-01-02 01:20] #445 closed

[2022-01-03 07:45] kumarmohit3194 commented on #436
Hello, I've been coding in python for the past few months now and I'm looking for a good first issue to contribute to. I'd be glad to help. Let me know if i can contribute in any way. Thank you.

[2022-01-03 08:38] FarukOzderim commented on #436
Hello @kumarmohit3194 , welcome  :)

I actually dropped the PR #437 for guidance, you can look at this [commit](https://github.com/gradio-app/gradio/pull/437/commits/831e758fdba3bb1b51cc114cd6510ee4b44db7e5)

[2022-01-03 13:36] mr-wombat commented on #395
Sorry, I did not get a notification about your last comment.

I ran the code after I started the gradio app (running on 7860). The returning status code is: **503**

[2022-01-03 16:40] abidlabs commented on #395
@mr-wombat we are rewriting the backend of Gradio completely using Starlette/FastAPI (see #440) and will release it this week. Perhaps this will fix your issue -- otherwise, perhaps we can get on a quick debugging call together.

[2022-01-03 16:40] abidlabs commented on #436
Yes, the typing effort continues in PR #440!

[2022-01-03 16:41] abidlabs commented on #432
@kumarmohit3194 could be a good first issue!

[2022-01-03 17:49] abidlabs commented on #436
Also @kumarmohit3194 , do check out: https://github.com/gradio-app/gradio/blob/master/CONTRIBUTING.md

[2022-01-04 17:48] abidlabs opened #447 "Proper async handling in FastAPI app"
**Is your feature request related to a problem? Please describe.**
In reviewing #440, @FarukOzderim brought up the fact that we currently make several synchronous blocking calls from within the FastAPI sever. This reduces the benefits we get from migrating to the asynchronous fasapi server.

**Describe the solution you'd like**
* call `log_feature_analytics()` asynchronously from `api/interpretati

[2022-01-05 11:27] ejohb opened #450 "[Blocks] Need for multiple separate interfaces"
**Is your feature request related to a problem? Please describe.**

I need to host a model that takes one of two inputs (e.g. text _or_ an image, but not both). Because the inputs are so different, they each need their own data types, outputs, examples, pull-downs, etc.

I don't seem to be able to achieve this in a non-hacky way. I've tried using `gr.Parallel` but that requires unified input types

[2022-01-05 12:31] abidlabs commented on #450
Hi @ejohb thanks for creating this issue. Your use case makes a lot of sense. We do have "stacked" interfaces on our roadmap towards the end of January, so we'll keep you updated on this.

In the meantime, the best workaround I would suggest is to have two inputs to your function, an image and a textbox, but for the `gr.inputs.Image`, set the `optional` parameter to `True`. Then, in your function,

[2022-01-05 12:34] ejohb commented on #450
Wonderful. Thanks very much for your reply.

[2022-01-05 12:36] abidlabs commented on #450
I'm actually going to keep this open until we ship the feature :)

[2022-01-05 18:50] FarukOzderim opened #451 "Can't Load Spaces"
**Describe the bug**
Cannot load an example [space](spaces/Norod78/ComicsHeroHD)
**To Reproduce**
Steps to reproduce the behavior:
[code]
**Device information (please complete the following information):**
 - Google Colab
 - Gradio version [2.7.0]

**Additional context**
Error Message:
[code]

[2022-01-08 19:59] johnfelipe opened #453 "got an unexpected keyword argument 'server_name'"
io = gradio.Interface(fn=predict, inputs='image', outputs='label', capture_session=True, examples=examples,
	thumbnail="https://raw.githubusercontent.com/gradio-app/hub-skin-cancer/master/thumbnail.png", analytics_enabled=False,
		title="Identifying Skin Cancer", description="Predicts whether an image of skin is cancerous or not. This model is EXPERIMENTAL and should only be used for research purp

[2022-01-08 22:28] AK391 commented on #453
@johnfelipe server name is now in the launch method, from the docs https://gradio.app/docs/#launch

so it should be

io.launch(share=True, server_name="0.0.0.0")

[2022-01-09 13:25] johnfelipe commented on #453
tnks a lot

[2022-01-09 13:25] #453 closed

[2022-01-10 19:17] piegu opened #454 "Display bug with the version gradio 2.7.0 on HighlightedText"
**Describe the bug**
I did describe the bug with notebook and screenshots in the Hugging Face forum: https://discuss.huggingface.co/t/how-to-install-a-specific-version-of-gradio-in-spaces/13552

**To Reproduce**
Run the notebook [diff_texts.ipynb](https://colab.research.google.com/drive/1NPdrvEVzt03GUrWVHGQGDx4TB0ZLPus6?usp=sharing).

**Screenshots**

With gradio 2.7.0
![With gradio 2.7.0](https:/

[2022-01-11 14:22] abidlabs commented on #454
Thank you for raising the issue! We are fixing this issue right now

[2022-01-11 14:25] abidlabs commented on #451
Confirming I can reproduce the issue. Not sure why the regex doesn't work -- will look into this.

[2022-01-11 14:29] abidlabs commented on #344
After looking into this some more, I think it's going to be a fair bit of effort since we will have to modify every single route in `app.py` to take a base URL prefix, along with every template that we use. Given that this seems to be a very niche use case (correct me if I'm wrong), we will push off for now. But PRs are welcome!

[2022-01-11 19:53] strickvl commented on #78
I'm having a similar issue. My gradio embed inside a Colab notebook isn't working and just gives me 'error'. Not really too useful for debugging.

[2022-01-11 21:27] abidlabs commented on #78
Have you tried setting the parameter `debug=True` in `launch()`? Then it should print the traceback

[2022-01-12 05:32] claree007 commented on #344
I agree that only a handlful of the users might need this feature. Sure, I will open a PR for this.

[2022-01-12 05:38] fly2tomato opened #455 "How to use Kubernetes to run gradio app"
I want to use Kubernetes to manage my gradio app. But it doesn't work.

Here is my steps:
First of all, create a demo gradio app:
[code]

Then, containerize it as a docker image:
[code]

After that, create a k8s yaml file:
[code]

Lastly, start gradio app in k8s.

A point confused me that, the app can run in docker successfully, like:
[code]

But, when using k8s to run this, there is no logs feedb

[2022-01-12 05:56] abidlabs commented on #455
I'm not an expert at kubernetes, but I'll ask around. Is there a reason you are using an older version of Gradio? In the latest version, as you may know, `server_name="0.0.0.0", server_port=7601` should go into the `launch()` method

[2022-01-12 06:00] abidlabs commented on #344
Thank you!

[2022-01-12 06:12] fly2tomato commented on #455
Thanks for reminding about the version change. I've updated gradio to the latest version 2.5.1.
I am looking forward to your further information.

[2022-01-12 07:02] strickvl commented on #78
Thank you that's a useful tip!

[2022-01-13 07:40] abidlabs commented on #451
Issue resolved as part of the latest changes in #440

[2022-01-13 07:59] abidlabs commented on #385
Favicon parameter (`favicon_path`) added to `launch()` as part of the latest changes in #440

In addition, the CONTRIBUTING.md guidelines have been improved for clarity

[2022-01-13 12:05] rohitashwa1907 opened #456 "Microphone input is not working in google colab"
I am trying to create a demo on google colab. It should record a file from Microphone and and generate the transcription  When I click the record button it starts recording but after that I am not getting any output. I am able to get the output if I upload a recorded audio but not when using microphone. I am using gradio==2.7.0
![screenshot](https://user-images.githubusercontent.com/46031058/14932

[2022-01-13 16:14] rohitashwa1907 commented on #456
I am already using the external url given in colab output cell. I even tried i n my own system, the microphone doesn't send any input to he model.

[2022-01-13 16:23] abidlabs commented on #456
That's weird. Does this code work for you in google colab?

[code]

[2022-01-13 16:25] abidlabs commented on #456
Or try running this colab directly: https://colab.research.google.com/drive/1Ol-Z4x6j5auCRXxJflMX6EDBYx5oFRe0#scrollTo=e200MmBU2aLT

[2022-01-13 17:36] rohitashwa1907 commented on #456
I tried this code in colab and my local system as well, but it's not working. It seems for some reason it's not even calling the given function. There is no error in the console as well.

![pic1](https://user-images.githubusercontent.com/46031058/149380093-a46db831-8446-4770-9879-6f46acbaec99.png)
![pic2](https://user-images.githubusercontent.com/46031058/149380168-0ef88a78-bb1d-4f10-8c42-7145f723

[2022-01-13 18:25] rohitashwa1907 commented on #456
Hey the problem is solved now. Closing the issue.

[2022-01-13 18:25] #456 closed

[2022-01-13 19:10] abidlabs commented on #456
Did it get fixed by itself? Or did you do something to fix it? So we know for the future

[2022-01-13 20:47] patel-zeel opened #457 "How to correctly output matplotlib FuncAnimation as html?"
I am trying to create an animation (interactive) with gradio and matplotlib. Below is the code.

[code]

Locally saved video looks like following

https://user-images.githubusercontent.com/59758528/149406565-ef0b1e18-1b50-4103-b5ce-a7204390d0d4.mp4

Gradio interface looks like the following
![screenshot](https://user-images.githubusercontent.com/59758528/149406673-f4b2f9ab-55d4-4fc3-b1e3-04c8575a8

[2022-01-14 01:56] byeolkady opened #458 "how can I use https local URL"
I am using URL in the form of "http://localhost:port".
I want to use https URL (http://localhost:port). How can I use  https URL?!
My web page operates in the form of https.

[2022-01-14 04:45] abidlabs commented on #458
There are lots of guides online about setting up HTTPS for localhost. E.g. https://dev.to/rajshirolkar/fastapi-over-https-for-development-on-windows-2p7d

Did you try these and run into any issue? If so, please feel free to reopen with a detailed description of the bug.

[2022-01-14 04:45] #458 closed

[2022-01-14 04:46] abidlabs commented on #457
What about using the `Video` output interface? See https://gradio.app/docs/#o_video

[2022-01-14 05:57] patel-zeel commented on #457
Thanks for your suggestion @abidlabs. Can you please help me with a minimum working example? Currently, `video` output works if I save the animation as `.mp4` file. This method does not work with "hugging face spaces". My attempt is [here](https://huggingface.co/spaces/Zeel/QBC).

[2022-01-14 11:31] rohitashwa1907 commented on #456
Sorry for the late response. There was some problem with the mic input in chrome. It was a so silly of me to raise an issue without trying it on other browser. I will be more careful next time. Thanks for your time.

[2022-01-14 14:34] abidlabs commented on #457
[code]

[2022-01-14 14:48] patel-zeel commented on #457
I tried this and it fails on "hugging face spaces". Space is [here](https://huggingface.co/spaces/Zeel/QBC).

[2022-01-14 15:13] abidlabs commented on #451
Fixed in #440!

[2022-01-14 15:13] #451 closed

[2022-01-14 15:13] abidlabs commented on #436
Fixed in the core classes in #440! Open to contributions for getting the rest of the codebase typed

[2022-01-14 15:23] abidlabs commented on #310
Can't reproduce in the latest version of Gradio (2.7.0)

[2022-01-14 15:30] abidlabs commented on #434
Works now as of #440!

[2022-01-14 15:34] abidlabs commented on #379
Closing because this doesn't seem to need a fix

[2022-01-14 15:34] abidlabs commented on #392
Still an issue as of the latest version of Gradio (2.7.0). @dawoodkhan82

[2022-01-15 16:38] abidlabs commented on #454
Thanks again for creating the issue. In case you need a workaround while we fix the issue, you can just run `gr.outputs.HighlightedText()` without passing in a custom `color_map` and it should work fine

[2022-01-15 17:35] #379 closed

[2022-01-15 17:38] osanseviero opened #460 "Prediction fails with unhelpful message"
**Describe the bug**
This self-contained example which was working before in HF Spaces is not working anymore, failing in the prediction.

[code]

The provided errors are not helpful and this same code was working some time ago

[code]

**Screenshots**
USeful links:
* https://huggingface.co/spaces/osanseviero/test_gradio_2
* https://huggingface.co/spaces/osanseviero/test_gradio_2/logs/container

[2022-01-15 22:18] abidlabs opened #461 "Update API Docs with new cookie based authentication"
Now that we have switched from Flask to Starlette, we use cookies instead of sessions for authentication. We will want to update the API docs to reflect this.

_Originally posted by @johnyquest7 in https://github.com/gradio-app/gradio/discussions/444#discussioncomment-1975587_

[2022-01-17 05:29] byeolkady commented on #458
What you mean is that if we use both fastapi,  Uvicorn, and gradio, I can create a web page of gradio using https? (not meaning public link)

[2022-01-17 06:50] byeolkady opened #462 "I have an additional question about https."
I asked a question about https before. Then you recommended using fastapi and uvicorn. (https://github.com/gradio-app/gradio/issues/458)
But I wonder if this can be applied to the gradio. Can you give me an example?

[2022-01-17 14:35] abidlabs commented on #462
Sorry I don't know what you mean by, "But I wonder if this can be applied to the radio"

[2022-01-17 18:49] abidlabs commented on #460
Fixed!

[2022-01-17 18:50] #460 closed

[2022-01-17 23:44] byeolkady commented on #462
My meaning means to apply to gradio. For example, when I run a gradio, I receive two links. One is local and the other is public. In the case of local, you receive a link through http, and I wonder if you can receive the link through https.
![image](https://user-images.githubusercontent.com/46770780/149848326-15395b29-2a04-4edf-a557-a75b158b8e4a.png)

[2022-01-18 03:14] abidlabs commented on #462
Got it. So yes, while I have not ever tried to get localhost running with https, I do think it should be possible.

If you follow this guide, you should be able to set up https locally on any port you want: https://dev.to/rajshirolkar/fastapi-over-https-for-development-on-windows-2p7d

And then if you run gradio from that port, you should be able to open up the link with https.

(The reason I sent

[2022-01-18 08:21] fly2tomato commented on #455
update by myself
This is a problem relative to the python print cache. Only need to add an env PYTHONUNBUFFERED=1 in the pod should work (for me it works).
Here is the k8s yaml:
[code]

[2022-01-18 15:31] #455 closed

[2022-01-18 21:30] abidlabs commented on #432
Note that the `description` is used in the meta tag [here](https://github.com/gradio-app/gradio/blob/fdf679c4fa34c778bfda8977be6d4860d082322f/frontend/public/index.html#L13), so we would want to replace this with a text-friendly version of the description

[2022-01-18 23:54] byeolkady commented on #462
Yes, thank you for your answer.

[2022-01-19 04:32] abidlabs commented on #462
Great, thanks for asking! Closing this issue then

[2022-01-19 04:32] #462 closed

[2022-01-19 04:32] abidlabs commented on #461
Fixed, thanks @aliabd

[2022-01-19 04:32] #461 closed

[2022-01-19 04:33] abidlabs commented on #423
It also is out of date given how we do state now

[2022-01-19 15:57] pngwn opened #466 "`Image` component requests"
**Is your feature request related to a problem? Please describe.**

We are getting a lot of feature requests for the different interactive `Image` variants, historically we had numerous different tools to handle the different kinds of Image editing functionality, this has improved somewhat but the Image is less feature rich than it used to be. Sadly over time the new (kinda) `Image` component has

[2022-01-19 15:59] pngwn opened #467 "refreshed audio input component"
**Is your feature request related to a problem? Please describe.**

Our current audio input component is a little rough around the edges with a simple slider for trimming audio which is quite tricky to use.

**Describe the solution you'd like**

 I would like a unified upload/record/trim/playback audio component with a simple intuitive interface (and a nice design)

[2022-01-20 06:45] FarukOzderim opened #469 "Clean Unnecessary Big Files From The Git History"
**Is your feature request related to a problem? Please describe.**
There is unnecessary big files in the git history, and that makes the history cumbersome.

**Describe the solution you'd like**
These files can be deleted from the history and the history would be lighter.

**Additional context**
[code]

[2022-01-20 06:52] FarukOzderim opened #470 "Format The Codebase"
**Is your feature request related to a problem? Please describe.**
Having formatter for the codebase would improve the readibility and the structure.

**Describe the solution you'd like**

- `Black` and `isort` can be used for formatting. After formatting the whole codebase with a single PR, `darker` can be used before each feature commit to keep formatting updated.
- Also checks can be added to t

[2022-01-20 18:07] AK391 opened #471 "gr.Interface.load() ,AttributeError: ‘NoneType’ object has no attribute ‘lower’"
this happens for the text-to-speech pipeline specifically have not tested others

in the latest version of gradio, works fine for gradio==2.4.6

steps to reproduce

example space

[code]

Traceback (most recent call last):
  File "/home/user/.local/lib/python3.8/site-packages/flask/app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/user/.local/lib/python3.8/s

[2022-01-20 23:14] #447 closed

[2022-01-20 23:19] abidlabs commented on #469
It would make sense to delete the `dist/*` files. All other ones are static files needed for the website.

[2022-01-21 08:47] julien-c commented on #469
are you going to rewrite the repo history? There are a lot of risks/annoyances doing that (for instance, everyone who has a local clone will need to recreate it), so you should make sure it's really worth it (and not do it too often) cc @lysandrejik

[2022-01-21 09:46] FarukOzderim commented on #469
After spending some time on stack overflow and git documentation, I think that this is not that necessary. Because we won't be removing that many files, and it is ~8MB which would not probably worth it.

[2022-01-21 13:27] abidlabs commented on #469
👍 thanks for looking into it. Do you want to go ahead and close the issue?

[2022-01-21 13:34] FarukOzderim opened #477 "Missing Development Requirements"
**Describe the bug**
The repo is missing development requirements, and there are failing requirements for testing.

**To Reproduce**
Steps to reproduce the behavior:
- `virtualenv .venv`
- `source .venv/bin/activate`
- `pip install -e .`
- `python -m unittest`

**Screenshots**
While running the unittests there are missing requirements that are not included in **setup.py** ie:
[code]

**Device info

[2022-01-21 14:33] abidlabs commented on #477
Some quick points:
* The Python requirements for the `gradio` library are listed in `setup.py`. To avoid duplicating, I don't think there is a need for a `requirements.txt`
* For testing, we do need additional requirements as you pointed out. Right now, they are manually listed in `.circleci/config.yml`.
* I agree with you that we should have a better place where we define these. What about creati

[2022-01-21 15:19] FarukOzderim commented on #477
OK then, let's continue with adding additional requirements to the `test/requirements.txt`.

[2022-01-21 15:21] #469 closed

[2022-01-21 15:23] #470 closed

[2022-01-21 15:27] abidlabs opened #479 "Add CI Checks and Actions About Backend Formatting"
Now that we have the Python codebase nicely formatted, let's maintain that by adding pre-commits for formatting and other relevant checks (perhaps a warning if large files are being committed, etc.)

[2022-01-21 15:33] FarukOzderim commented on #479
Related issue: #470

[2022-01-21 20:20] abaranovskis-redsamurai opened #483 "enable_queue=True throws exception from FastAPI"
**Describe the bug**
After upgrade to Gradio 2.7.5, enable_queue=True is causing exception, when Submit button is pressed. Same error when enable_queue=True is in interface or launch function

**To Reproduce**
Steps to reproduce the behavior:
1. pip install gradio==2.7.5
2. Set enable_queue=True in launch function
3. Go to Web page and press Submit, you should see an exception in the log

**Device

[2022-01-21 21:41] abidlabs commented on #483
Hmm I'm not able to reproduce this. For example, if I run the following code on colab or in a local jupyter notebook, it works feine.

[code]

Does this code work for you?

[2022-01-22 17:06] abaranovskis-redsamurai commented on #483
I managed to reproduce it in Colab with your sample too.

Add examples array. On runtime, select one of the examples and click Submit, you should see error.

[code]

Demo on [Colab](https://colab.research.google.com/drive/1hfGVjzZmDLRIHONsuJ30DwvVAq7XCq0i?usp=sharing)

[2022-01-23 14:57] abidlabs commented on #483
Thanks for sharing that, very helpful. Looking into the issue

[2022-01-23 20:07] abaranovskis-redsamurai commented on #483
I noticed selecting "examples" doesn't work on Hugging Face spaces even for previously deployed apps, probably on spaces, always the latest version of Gradio is used.

[2022-01-24 05:20] abidlabs commented on #483
Should be fixed now as of `gradio 2.7.5.2`. Thanks so much for bringing this to our attention @abaranovskis-redsamurai!

[2022-01-24 05:20] #483 closed

[2022-01-24 11:02] osanseviero opened #489 "Spaces break with KeyError: 'data'"
**Describe the bug**
Some spaces, such as https://huggingface.co/spaces/reach-vb/asr-pyctcdecode, fail with KeyError 'data' error. It might be related to the FastAPI migration.

Error

[code]

[2022-01-25 06:46] jaekookang opened #491 "HuggingFace Spaces 500 Error"
**Describe the bug**
Hi, I'm experiencing 500 Error (as of 2022-01-25 15:43 KST) whenever I access Gradio demo pages on HuggingFace Spaces.
I guess this issue is directly related to HuggingFace, but I wasn't sure where to raise this issue, so leaving it here. It seems that the HuggingFace status does not indicate this error (https://status.huggingface.co/).

**To Reproduce**
N/A

**Screenshots**
<

[2022-01-25 06:58] FarukOzderim commented on #491
Hello There @jaekookang ;

The [website](https://huggingface.co/spaces) works fine with me, what website were you connecting to?

[2022-01-25 08:05] jaekookang commented on #491
As you pointed out, the main page (https://huggingface.co/spaces) works fine with me too. If you click on the individual demos, they are not showing up. I don't know it applies to all demo pages or just some.

For example, this VAGAN-CLIP demo page does not open for me [https://huggingface.co/spaces/akhaliq/VQGAN_CLIP](https://huggingface.co/spaces/akhaliq/VQGAN_CLIP). Does it work for you?

[2022-01-25 08:07] jaekookang commented on #491
Well, as I finished writing the comment right above, I found that now they are showing up without any problem. Maybe it was a temporary issue.

[2022-01-25 08:10] FarukOzderim commented on #491
Great to hear that

[2022-01-25 08:10] #491 closed

[2022-01-25 15:32] EdemGold opened #492 "DropDown Fetaure Issue"
**Describe the bug**
When I make use of the dropdown component in the radio it does not return a GUI, it gives an empty output

**To Reproduce**
#Initalizing Gradio App
app_description = "This model transforms the tone of the text, from formal to informal, from Active to Passive. Choose your option from the drop-down."
app_title = "Tone Transfer"

app = gr.Interface(func,[gr.inputs.Dropdown("Casua

[2022-01-25 21:11] abidlabs commented on #492
Thanks so much, for reporting this @EdemGold. Confirming I can reproduce this as well (see [colab notebook](https://colab.research.google.com/drive/1oqcd9pnMOFfS_s0AN_macQPwzmOMmrml#scrollTo=bHArg1AuETfd))

I get a `TypeError: this.props.choices.map is not a function` error in the console.

@dawoodkhan82 or @aliabd can you take a look?

[2022-01-26 05:52] dummynov1 opened #494 "Adjust Output Label Classes Font size?"
I have plugged in my TensorFlow Bert Multi Class classifier predict function on Gradio.
But, since the Class Labels are long, they get truncated while showing Label Confidence score Bars graph.
Is there a way to resize the label font or to add word wrap for long Class labels ?

**Device information:**
 - OS: Windows 10
 - Browser : chrome
 - Gradio version :2.7.5

[2022-01-26 06:12] abidlabs commented on #494
Yes, you can provide custom `css` to resize the label fonts. Here is some sample code:

[code]

which produces this:

![image](https://user-images.githubusercontent.com/1778297/151112587-ee0924f1-b00f-43c8-ba41-51e6cdcd41f3.png)

You can see it working in [this colab](https://colab.research.google.com/drive/1qVTcYXCtIE5riB1TzV2AZxhd3KwTESoY?usp=sharing):

[2022-01-26 06:12] #494 closed

[2022-01-26 12:46] miquelferrarons opened #495 "Optional image input not working in gradio 2.7.x."
**Describe the bug**
'optional' argument to the Image input does not seem to have any effect. The interface doesn't work if no image is selected.

**To Reproduce**

1. Run this code snippet with gradio version 2.7.5.2 (latest at the moment of testing)
[code]
2. Try to launch the query without an image input
3. Click submit
4. Check the error in the console

**Screenshots**
![image](https://user-im

[2022-01-26 12:48] miquelferrarons commented on #495
Seems to work on gradio version 2.6.0

[2022-01-26 13:59] abidlabs commented on #495
Thanks @miquelferrarons! Confirming I can [reproduce this issue](https://colab.research.google.com/drive/16tybkmmUyBV0eGx4SvKLtLS53wEWjgRC?usp=sharing). Will look into this asap

[2022-01-26 14:01] abidlabs commented on #471
This seems to a problem with Spaces, not `gradio`. Some Spaces go down, which leads to this error. This is working fine now.

However, I'll leave it open so that we can return a more user friendly error when Spaces goes down instead of `AttributeError: 'NoneType' object has no attribute 'lower'`.

[2022-01-26 21:51] dummynov1 commented on #494
Thanks for the prompt response. Will definitely try the css way.

[2022-01-26 22:14] abidlabs opened #496 "Some CSS in `bundle.css` does not get scoped properly"
**Describe the bug**
If you look at `bundle.css`, for example:
* https://gradio.s3-us-west-2.amazonaws.com/2.7.5.2/static/bundle.css

or even older versions like:
* https://gradio.s3-us-west-2.amazonaws.com/2.6.2/static/bundle.css

You'll find that most of the CSS is scoped with `.gradio_app`, but not all of it. Specifically, there is a bunch of CSS applying to `.prose`, which does not get scoped.

[2022-01-27 21:01] abidlabs commented on #495
This is now fixed on `master`. We'll push to pypi next week!

[2022-01-27 21:01] #495 closed

[2022-01-27 21:07] abidlabs commented on #492
Thanks, this is now fixed on master. We'll push to pypi next week!

[2022-01-27 21:07] #492 closed

[2022-01-27 21:10] AK391 opened #500 "A guide on optional components, input-less components, output-less components, etc."
**Is your feature request related to a problem? Please describe.**
Discussed with @abidlabs to add optional output components for use cases such as https://huggingface.co/spaces/docs-demos/bart-large-mnli where multiple tasks are in one space (zero shot classification, summarization) based on the model/checkpoint selected

[2022-01-27 21:14] abidlabs commented on #392
This issue no longer happens as described, which is great. HOWEVER, it is still possible to click the submit button before clicking the camera icon, which causes the interface to get submitted. We shouldn't allow this unless the webcam is optional.

[2022-01-27 21:21] abidlabs opened #501 "Issues related to the sketchpad component"
**Describe the bug**
The new sketchpad component is great and it is not plagued by some of the issues we had with the previous sketchpad (see #429). However, I experienced a few issues with it:

1. The "Clear" button underneath the inputs does not clear the sketchpad
2. The sketchpad cursor is very thin, which means the input that is submitted might not capture the input very well. (See this image

[2022-01-27 21:22] abidlabs commented on #500
One way to do this would be to allow optional outputs ONLY AFTER the required outputs. Depending on how many values the function returns, the interface would or would not render the optional outputs.

[2022-01-27 21:24] abidlabs opened #502 "Issue related to input image editor"
**Describe the bug**
It looks like our Toast UI image editor is completely broken:

![image](https://user-images.githubusercontent.com/1778297/151446006-b63b594f-0dd4-45ed-937f-ff1b7d773878.png)

**To Reproduce**
import gradio as gr

gr.Interface(lambda x:x, "image", "image").launch()

[2022-01-27 21:25] abidlabs commented on #429
Closed, awesome new sketchpad thanks to @pngwn!

[2022-01-27 21:25] #429 closed

[2022-01-27 21:30] abidlabs commented on #400
Closing as we have just eliminated the screenshot button in the latest version of Gradio on `master`. We'll be releasing to pypi next week.

[2022-01-27 21:30] #400 closed

[2022-01-27 21:30] abidlabs commented on #397
Closing as we have just eliminated the screenshot button in the latest version of Gradio on `master`. We'll be releasing to pypi next week.

[2022-01-27 21:30] #397 closed

[2022-01-27 21:31] abidlabs commented on #357
Closing as we have just eliminated the screenshot button in the latest version of Gradio on `master`. We'll be releasing to pypi next week.

[2022-01-27 21:31] #357 closed

[2022-01-27 21:31] abidlabs commented on #318
Closing as we have just eliminated the screenshot button in the latest version of Gradio on `master`. We'll be releasing to pypi next week.

[2022-01-27 21:31] #318 closed

[2022-01-27 21:33] abidlabs commented on #381
Closing as this does not seem to be an issue in the latest version of `gradio` on `master`.

[2022-01-27 21:33] #381 closed

[2022-01-27 21:37] abidlabs commented on #380
I don't think this is an issue anymore. But our `dark` theme seems to be broken in a different way:

![image](https://user-images.githubusercontent.com/1778297/151447720-222dabb5-8895-4e14-bffa-517ccdaabf0d.png)

[2022-01-28 06:48] Charlottecuc opened #503 "Degraded microphone input on different devices"
**Describe the bug**
When testing on iPhone, the microphone input can reach the original device sample rate (not degraded).
When testing on Android devices and laptops, the sample rate of the microphone input is usually 16k hertz, and sometimes 8k hertz (which is largely degraded, because if you test the micrphone with other recorder Apps on these devices,  the sample rate can reach 44k hertz).
Qu

[2022-01-28 08:19] carter54 opened #504 "support real-time video output?"
**Is your feature request related to a problem? Please describe.**
The input can obtain the video from webcam in real-time, it is possible to output the processed video frame in real-time?

[2022-01-28 17:59] abidlabs commented on #504
Thanks @carter54, this is on our roadmap!

[2022-01-28 18:00] abidlabs commented on #503
Hmm very strange. @dawoodkhan82 @aliabid94 is this something that we can fix on Gradio's side or is this a browser issue?

[2022-01-28 19:57] arielgamino opened #505 "Interpretation functionality does not work when passing second argument in inputs"
**Describe the bug**
I have created an interpretation function and I am testing if it's something we can use. When I pass a second argument to the inputs in gr.Interface, it does not work any longer.  If one of the second arguments is a class like gr.inputs.CheckboxGroup, when the interpret button gets clicked, the page just goes blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Passing

[2022-01-29 06:56] phosseini opened #506 "SyntaxError: future feature annotations is not defined"
**Describe the bug**
I'm simply running the example code in the readme. I properly installed gradio and I see the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install gradio using `pip install gradio`
2. Run the first example in readme

**Device information (please complete the following information):**
 - OS: macOS Monterey 12.1
 - Gradio version: 2.7.5.2

[2022-01-29 06:57] abidlabs commented on #506
Which version of Python are you using? Gradio requires `Python 3.7+`.

https://stackoverflow.com/questions/52889746/cant-import-annotations-from-future

[2022-01-29 07:08] phosseini commented on #506
@abidlabs Thanks, I had python 3.6 installed, just upgraded the python and now it's working.

[2022-01-29 07:08] #506 closed

[2022-01-29 07:08] abidlabs commented on #506
Great. I've added system requirements to the README. Thanks for letting us know!

[2022-01-29 09:07] #477 closed

[2022-01-29 22:15] abidlabs commented on #505
Interesting, I'll take a look. Thanks @arielgamino for creating this issue

[2022-01-31 18:35] pngwn opened #507 "[chore] Split JS into multiple packages"
Split the existing frontend code into multiple packages using `pnpm` to manage.

This will allow us to more easily manage shared dependencies, allowing us to do things like spin up a test app when working only on the UI components. `pnpm` will also give us faster install times. This will also allow us to publish certain components to `npm` when we feel it is appropriate.

- [x] Initialise multi-pa

[2022-01-31 18:36] pngwn opened #508 "[chore] add prettier"
Add prettier code formatting to the frontend

- [ ] Add necessary dependencies
- [ ] Add necessary checks and format scripts
- [ ] Run prettier over the code
- [ ] Document prettier in contrib guidelines/ somewhere

[2022-01-31 18:48] pngwn opened #509 "[chore] add typescript"
Add typescript to the js code (yeah, i know this doesn't make sense).

Add vite before this for config reasons (#512)? Vanilla vite will basically be a drop in replacement for rollup. sveltekit can come later if we add it, might need more testing.

- [x] Add necessary deps
- [x] Take a deep breath
- [x] Attempt to configure typescript
  - need to put together a sensible config
  - might need tscon

[2022-01-31 19:00] pngwn opened #510 "JS quality + tooling improvements"
Tracking issue:

- [x] #507
- [x] #508
- [x] #512
- [x] #509
- [x] #511

[2022-01-31 19:02] pngwn opened #511 "[chore] set up ci for frontend"
Set up a workflow to run some checks in CI

- [ ] Typecheck
- [ ] Format check
- [ ] build
- [ ] tests (we have no tests yet)

[2022-01-31 19:08] pngwn opened #512 "[chore] vite tooling"
Swap out rollup for vanilla vite. This is step one on a path to SvelteKit, if we decide to go that way. Necessary either.

- [ ] add vite
- [ ] make sure it didn't break anything

[2022-01-31 19:16] FarukOzderim opened #513 "Multiprocessing Support"
**Describe the solution you'd like**
We could take advantage of [multiprocessing](https://pypi.org/project/multiprocessing/) while running the ML models in the background. This would decrease the burden on the cpu core that server works on.

[2022-01-31 19:25] FarukOzderim opened #514 "Guvicorn Support"
We could use a process manager while starting the Gradio server to unlock the multi-cpu-core potentials. [Reference](https://fastapi.tiangolo.com/deployment/server-workers/)

[2022-01-31 19:47] FarukOzderim commented on #479
I suggest we use these libraries for formatting

[code]

[2022-02-01 10:59] miquelferrarons commented on #495
Great, thanks !

[2022-02-01 13:45] #507 closed

[2022-02-01 15:46] #508 closed

[2022-02-01 18:25] #512 closed

[2022-02-01 18:30] pngwn opened #518 "Document prettier in contrib guidelines/ somewhere"
forgot this.

[2022-02-01 23:45] abidlabs opened #519 "Issues related to Audio & HTML output"
**Describe the bug**

**Issue 1. I had issues outputting the audio.**
I realized there was no example showing audio output with numpy array + sampling rate. All examples save to a file and return file path. The docs are a bit confusing saying it expects the sample rate + " the data numpy.array of shape (samples, 2)".
I returned this but it gave me no audio (didn't fail, just showed no audio)
I als

[2022-02-02 11:14] pngwn commented on #501
1 & 3 are simple fixes.

Curious about 2, why is the output text not the same as the input? Can you elaborate on what you mean by the cursor being thin? I don't quite follow.

[2022-02-02 11:17] pngwn commented on #502
I've had some difficulties reproducing this, it isn't present running the demos again dev. I'll test the prod output later and see if I can figure this one out.

[2022-02-02 14:02] pngwn opened #522 "Convert ui to typescript"
Opened an issue to track this for now. It was too much tackle in single issue and could take a little longer.

[2022-02-02 14:02] pngwn commented on #509
Closed by #521 .

[2022-02-02 14:02] #509 closed

[2022-02-02 14:29] abidlabs commented on #501
Regarding #2, what happens is that the sketchpad input is preprocessed to a (by default) 28x28 array [1]. If the cursor is too thin, then the pixel value in any particular spot will be grayed out because it is the average of a thin black area amidst a white background. If the cursor was thicker, then the entire pixel in the grid of 28x28 would considered "black" and so it would be rendered properl

[2022-02-02 14:34] pngwn commented on #501
Ah okay this makes sense.

Regarding `invert_colors` i don't think that is being sent at all which is probably causing this issue (I didn't know it existed). Should be a quick fix.

[2022-02-02 14:36] abidlabs commented on #501
You don't need to do anything in the frontend with regards to the `invert_colors` parameter. The image gets inverted in the backend. The frontend just needs to send the image back with 1s as the background and 0s as the sketch.

[2022-02-02 14:40] pngwn commented on #501
As far as I'm aware we are sending back a raw png as binary data, i didn't know that anything had changed in this regard, which is why I'm a bit confused about this one.

[2022-02-02 14:55] abidlabs commented on #501
Ahh interesting, I realize what the issue is. It used to be that the image would be returned as black-on-white. Now it's being returned as black-on-**transparent**. We use the `PIL` image module to convert the image to an RGB image, which renders transparent as black. I think the easiest way to fix this would be treat the background as white instead of transparent. Is that doable?

[2022-02-02 14:55] pngwn commented on #501
Ah. Yeah I think should be simple enough.

[2022-02-02 14:56] pngwn commented on #501
Would the sketch tool ever need to generate colour images for other purposes? I'm not sure what other applications it may have?

[2022-02-02 14:57] piecurus opened #523 "Limit on maximum output length"
**Describe the bug**
There is apparently a limitation on the length of the text output, which maximum length appears to be around 4000 characters. Also, there seems to be no possibility to write a text file. Is this bug (or request about to write a text file) going to be fixed in the future?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://huggingface.co/spaces/piecurus/speech_

[2022-02-02 14:59] abidlabs commented on #523
Thanks for catching this @piecurus.

What do you mean "write a text file"? You can return an arbitrary file using the "File" output -- or do you mean something else?

[2022-02-02 15:03] piecurus commented on #523
From documentation I was not able to catch how to create a file containing text. I was thinking that an alternative to visualise long text could be dumping it in a file.

[2022-02-02 15:43] abidlabs commented on #523
Yup you can do that by using the `File` output component, and returning the filepath to a file that you've created with the text.

For one example of how to use the `File` output component, you can check out: https://colab.research.google.com/drive/1bGIiLkSsU_hY_I778JS2jTrmvQDXDu1I

[2022-02-02 15:44] abidlabs commented on #501
I have not seen any models that take color sketching as inputs.

[2022-02-02 15:49] #511 closed

[2022-02-02 15:50] #510 closed

[2022-02-02 15:53] pngwn commented on #518
Also document typescript + CI.

[2022-02-02 18:51] FarukOzderim commented on #514
I did not think that before, you are right, having a single core server that can create processes onto other cores would really serve our needs well 🗡️

[2022-02-02 18:51] #514 closed

[2022-02-02 21:58] abidlabs commented on #519
**Issue 1**:

We actually have two examples showing how to return Audio with a numpy array and a sampling rate. I just tested both of them and they seem to work fine:

- https://colab.research.google.com/drive/1QDUedWIobKp3VOfmsxjHwMREWyMGz5gb
- https://colab.research.google.com/drive/1Ol-Z4x6j5auCRXxJflMX6EDBYx5oFRe0#scrollTo=e200MmBU2aLT

Does this address your problem?

**Issue 2**:

Again, I d

[2022-02-02 23:26] saratrajput opened #525 "Outdated documentation for **Using State** in the gradio.app webpage."
**Describe the bug**
Outdated documentation for **Using State** in the gradio.app webpage.

Upon following the tutorial on the gradio [webpage](https://gradio.app/getting_started/) for "Using State", you get the error:
[code]

But the getting_started guide on the webpage, whereas the documentation and tutorial on the [README](https://github.com/gradio-app/gradio#using-state) are up to date. So the

[2022-02-03 03:48] abidlabs commented on #525
You're right @saratrajput thanks for bringing this to our attention. Will fix asap!

[2022-02-03 08:23] FarukOzderim opened #528 "Prohibit push to the master branch"

[2022-02-03 08:23] #528 closed

[2022-02-03 10:54] #518 closed

[2022-02-03 13:19] pngwn commented on #502
I think this is probably resolved with the new `ui` dir + build tools. We should focus making that the published version rather than fixing this in `frontend` when it will be discarded shortly.

[2022-02-03 13:21] pngwn opened #532 "Frontend tests"
details to follow.

[2022-02-03 13:41] osanseviero commented on #519
Thanks for investigating! I was able to fix the first issue :rocket:

TL;DR
`gradio` expects integer array (as documented) but will fail when working with float audio files.

Here are my notes

**Issue 1. Audio output issues**

Thanks for the examples! Where are they? I was not able to find them in https://gradio.app/ nor https://github.com/gradio-app/awesome-demos/blob/main/README.md

1. What I t

[2022-02-03 16:19] #432 closed

[2022-02-03 16:23] #501 closed

[2022-02-03 16:24] pngwn commented on #501
@abidlabs Should all be working now, I did test this prior to merging but would be good if you could double check. Especially the stroke thickness issue.

[2022-02-03 16:25] abidlabs commented on #471
Closed via #535

[2022-02-03 16:25] #471 closed

[2022-02-03 16:41] dawoodkhan82 opened #536 "chatbot output interface"

[2022-02-03 16:43] dawoodkhan82 opened #537 "chatbot output interface"

[2022-02-03 16:45] pngwn commented on #537
I created a simple chatbot thing a while ago, maybe this could be useful. I doubt it is exactly what we want but could be a decent starting point.

 https://svelte.dev/repl/ce61cb87ea604812a1d1639de66f7a5d?version=3.46.3

[2022-02-03 16:51] dawoodkhan82 commented on #537
this is helpful, thanks

[2022-02-03 16:53] abidlabs commented on #536
Duplicate of #537 ?

[2022-02-03 16:53] #536 closed

[2022-02-03 18:51] abidlabs opened #538 "Add LaTeX support for Markdown in `description` and `article`"
**Is your feature request related to a problem? Please describe.**
Right now, we can't easily add mathematical notation to the description and article.

**Describe the solution you'd like**
Ideally, if any math is passed between $ signs, it should get rendered into LaTeX. Several libraries exist to do this, particularly KaTeX: https://katex.org/

[2022-02-04 13:24] abidlabs commented on #519
They are in the docs for the Audio Output component here: https://gradio.app/docs/#o_audio

I'll implement this change in the library, thanks so much for reporting this.

Let me know if you have any updates on the 2nd issue!

[2022-02-04 15:08] abidlabs opened #541 "Interpretation for Text is broken after Svelte migration"
**Describe the bug**
* Interpretation does not seem to work with "Textbox" inputs after the Svelte migration. I tested the basic code that we have on our "Getting Started" page, and instead of highlighting the words to show interpretation, the textbox just became hidden. (This is not an issue for the image input. I have not tested the other input components)

![image](https://user-images.githubuse

[2022-02-04 15:14] abidlabs commented on #293
How significant is this use case @johnyquest7? Queueing is designed for public demos with high traffic (e.g. on Space), while I envision authentication essentially for private demos with lower traffic.

[2022-02-04 15:15] abidlabs commented on #395
Hi @mr-wombat can you try again with the latest version of Gradio, which uses Starlette/FastAPI and see if you still observe the issue?

[2022-02-04 15:22] FarukOzderim opened #542 "Convert Circle package installations to the Test Requirements"

[2022-02-04 15:24] abidlabs commented on #505
Hi @arielgamino, if you have multiple inputs, Gradio expects the custom interpretation function to return an interpretation for each input. You can return `None` to skip a particular input.

So the fix here would be to replace the last line of `def interpret_simple(text, some_value):` with:
`return interpretation, None`

This works for me on Colab:

![image](https://user-images.githubusercontent.c

[2022-02-04 15:24] #505 closed

[2022-02-04 15:37] #542 closed

[2022-02-04 16:11] FarukOzderim opened #544 "Accelerate Tests"
Separate E2E / Unit Tests & speed up slow tests

[2022-02-05 14:12] VivekB7 opened #550 "Disable Google Analytics(gtag)"
I would like to disable trackers (gtag function). Is it possible to disable trackers?

[2022-02-05 21:45] aliabid94 commented on #550
Not yet. We should implement this ability @abidlabs as part of the analytics_enabled kwarg

[2022-02-05 21:50] abidlabs commented on #550
Agreed will look into it

On Sat, Feb 5, 2022 at 4:45 PM aliabid94 ***@***.***> wrote:

--
Abubakar Abid

[2022-02-07 04:18] johnyquest7 commented on #293
Not a priority now. Thanks for looking into this.

[2022-02-07 14:34] #522 closed

[2022-02-07 18:03] samarth70 opened #552 "API Related Issue"
The post request shows Internal Server error when default example is given on interface. Otherwise post request works.How can it be fixed?

[2022-02-07 18:18] #293 closed, assigned to aliabid94

[2022-02-07 18:19] abidlabs commented on #552
Sorry I don't understand the issue. Can you please provide a code example and more details on what is not working?

[2022-02-07 19:35] abidlabs commented on #344
Any updates on this @claree007?

[2022-02-07 19:40] abidlabs commented on #523
I also tested and could not reproduce the maximum output length being 4,000 characters. I tested up to 15k characters and did not see any issue. I'll go ahead and close the issue for now, but if this does not solve your issue, please feel free to reopen and add more details!

[2022-02-07 19:40] #523 closed

[2022-02-07 19:41] #550 closed

[2022-02-07 19:50] abidlabs commented on #550
This is fixed in #553. We will release a new version to PyPi by the end of this week @VivekB7. If you need this fix before then, please take a look at the [contributing guidelines](https://github.com/gradio-app/gradio/blob/master/CONTRIBUTING.md) about how to install from the `master` branch.

[2022-02-07 19:51] abidlabs commented on #395
Will close for now since I cannot reproduce this. If you're still seeing this issue, please feel free to reopen and would love to solve this. Perhaps we can get on a quick zoom call to debug together.

[2022-02-07 19:51] #395 closed

[2022-02-08 02:03] abidlabs commented on #442
Fixed. It looks like your sketchpad is more responsive than what we were using before @pngwn!

[2022-02-08 02:03] #442 closed

[2022-02-08 02:04] abidlabs commented on #525
Updated now! Thanks again @saratrajput :)

[2022-02-08 02:04] #525 closed

[2022-02-08 02:05] abidlabs commented on #423
Fixed now. Thanks @mandubian!

[2022-02-08 02:05] #423 closed

[2022-02-08 02:08] abidlabs commented on #392
Seems like this is fixed in the latest version of the webcam. Thanks!

[2022-02-08 02:08] #392 closed

[2022-02-08 03:32] samarth70 commented on #552
This is model's payload and response.
![image](https://user-images.githubusercontent.com/44370096/152912413-f0609497-a7a8-491b-9476-2d29e607d3f8.png)

This is when a default input is given .According to this the api is working.
![image](https://user-images.githubusercontent.com/44370096/152912606-216f9ee6-44d0-4c01-9316-f0df4bef7692.png)

**But** when I add my custom inputs as examples in interfac

[2022-02-08 16:08] JulesBelveze opened #559 "Nested spans with`HighlightedText`"
**Is your feature request related to a problem? Please describe.**

Hey all,
I am trying to build a Gradio app with a named entity recognition model which supports nested spans (e.g. in "JFK Street" the model would return "JFK" as a person and "JFK Street" as a location). However (to the best of my knowledge) this isn't currently possible when using `HighlightedText` as it requires outputs to be o

[2022-02-08 17:19] abidlabs commented on #552
@aliabd can you look into this?

[2022-02-08 20:16] aliabid94 opened #562 "Website Improvements and Fixes"
Let's fix all the bugs in the website, clean up the code, and make it pixel perfect.

Known issues now:

- [ ] The example images don't load because of CORS - we may need to ask HF spaces to enable CORS for examples (e.g. https://huggingface.co/gradioiframe/abidlabs/Echocardiogram-Segmentation/+/file/img2.jpg). But first check if it's not a gradio problem (maybe we lost CORS support during the fas

[2022-02-08 20:19] aliabid94 commented on #562
- Also I don't know where we're at with lighthouse/pagespeed tests since the website was rewritten

[2022-02-08 22:17] abidlabs opened #563 "Supporting HTTPS when running locally"
Hi Adi,
Thanks for the quick response.
So explain in detail, I have made a gradio app and it by default ran on  a http connection when I provided my vm ip address in the server_name parameter for the launch function.http://12.13.65.70:3031 (my VM ip address).

But due to company requirements, I have to run this on https. Like https://12.13.65.70:3031.
We have a cert and key available but I am not

[2022-02-08 23:57] abidlabs opened #567 "[Guide] using Gradio with the Hugging Face Hub"

[2022-02-08 23:59] abidlabs opened #568 "[Guide] on using `article` and `description` for explanatory text around articles"

[2022-02-09 00:00] abidlabs opened #569 "[Guide] Documentation on theming"
I think it will make sense to release this soon, along with the themes @pngwn

[2022-02-09 01:10] abidlabs commented on #562
| The example images don't load because of CORS - we may need to ask HF spaces to enable CORS for examples (e.g. https://huggingface.co/gradioiframe/abidlabs/Echocardiogram-Segmentation/+/file/img2.jpg). But first check if it's not a gradio problem (maybe we lost CORS support during the fastapi migration, we had explicitly enabled it with flask)

I don't think it's a CORS issue. I just ran the fol

[2022-02-09 01:18] abidlabs commented on #270
I'm pretty sure this is doable. Take a look at this example that uses Bootstrap, for example: https://huggingface.co/spaces/microsoft/unispeech-speaker-verification/blob/main/app.py

Feel free to reopen if this does not work for you!

[2022-02-09 01:18] #270 closed

[2022-02-09 01:19] abidlabs commented on #562
Fixed

What about simple things like changing the width and height of the iframe? We might be complicating things unnecessarily...

[2022-02-09 05:26] abidlabs commented on #563
Hi @vijay2405, this is now supported in the latest version of `gradio` on `master` which takes two arguments directly: `ssl_keyfile` and `ssl_certfile` in the `launch()` method. You can test this by generating a certificate for localhost (e.g. following this guide: https://dev.to/rajshirolkar/fastapi-over-https-for-development-on-windows-2p7d) and confirm this works for you.

We will release a new

[2022-02-09 05:41] FarukOzderim opened #572 "Redesign the Queue"
There were some errors related to the queueing when tests were divided into subfolders, #551 .

get_status function for the queue had some bugs which can be seen [here](https://app.circleci.com/pipelines/github/gradio-app/gradio/1444/workflows/c0992a04-a11f-48a1-a211-593202beb8ea/jobs/1445).

Furthermore @aliabd's local machine were giving errors because queue was starting from the index -1.

Afte

[2022-02-09 05:42] abidlabs commented on #572
Makes sense, if we can avoid file-based databases, it would probably simplify things. @aliabid94 can you add your thoughts here? Why did we use a file database for something as simple as just keeping a queue?

[2022-02-09 07:12] byeolkady opened #573 "about ssl_keyfile parameter"
I'm asking this question referring to "https://gradio.app/docs/#launch".
Here, ssl_keyfile, ssl_certfile  parameter exist in "gradio.Interface().launch". However, entering the value results in the following error.

**TypeError: launch() got an unexpected keyword argument 'ssl_keyfile'**
The version is 2.7.0.

[2022-02-09 07:36] #544 closed

[2022-02-09 12:19] pngwn opened #575 "Website Performance improvements"
We need to improve the performance of certain parts of the `gradio.app` website. This is a tracking + discovery issue.

Before we start any work, we need to analyse where the bottlenecks are and move from there. I will add more issues as I understand the problems more.

- [x] #577
- [ ] #578

[2022-02-09 12:19] pngwn opened #576 "Lazy load gradio interfaces used in the guides."
The guides and homepage being slowed due to the size of the gradio app bundle, this would partly be addressed by the planned performance improvements for gradio apps but there is no need for us to be prematurely loading in large chunks of javascript when they are below the fold. We can lazy load these interfaces improving load performance, without impact UX.

What I'm not 100% on right now, is whe

[2022-02-09 12:19] pngwn opened #577 "Convert large GIFs into images"
There is a least one _very_ large GIF. This should be a video which is  more appropriate way to present this content.

[2022-02-09 12:19] pngwn opened #578 "Optimise images on the website for loading in browsers"
What it says on the tin. Check all images, make sure they are optimised. This should preferably be automated.

[2022-02-09 12:40] pngwn opened #579 "SEO tracking issue"
General goal is to improve SERP rankings.

- [x] #580
- [x] #581
- [x] #582
- [ ] #583
- [x] #584
- [x] #585
- [x] #586
- [x] #587
- [x] #575

[2022-02-09 12:41] pngwn opened #580 "Analyse how google is perceiving gradio.app."
We need to understand more about how google is perceiving the website and take necessary action.

  - [ ] De-index generated `xxx.gradio.app` subdomains
  - [ ] De-index other links that do not make any sense.
  - [ ] Change meta description to drive traffic

[2022-02-09 12:41] pngwn opened #581 "Replace underscores with dash in slugs (`_` -> `-`)."

[2022-02-09 12:41] pngwn opened #582 "Review guides to find opportunities for in-site cross-linking."
Where it makes sense for guides to link to one another, or to other parts of the site (such as the docs), we should do this.

[2022-02-09 12:41] pngwn opened #583 "Write more huggingface guides/blogs related to Gradio"
Anchor link text should include relevant key words.

[2022-02-09 12:41] pngwn opened #584 "Add canonical links to cross-posted blog posts"
I can't find the example we looked at, but I will.

[2022-02-09 12:42] pngwn opened #585 "Review and edit guides into a listicle where appropriate."

[2022-02-09 12:42] pngwn opened #586 "Review and edit guides to be easily scannable + parsable by readers (and google)"
We need to ensure users can quickly find and consume the content they are interested in and to ensure that robots like it too. This means ensuring the purpose of the content is clear, ensuring that the content is concise, and easy to digest.

- [ ] Add tldr style content at the top
- [ ] Ensure paragraphs are of an optimal length and that guides aren't too long, longer guides could be split into p

[2022-02-09 12:42] pngwn opened #587 "Add robots.txt and sitemap"

[2022-02-09 13:05] abidlabs commented on #573
We just released this as a fix for #563, these parameters will be part of `gradio 2.8.0` which we plan to launch by the end of the week. In the meantime, if you'd like to try it out before then, please take a look at the [contributing guidelines](https://github.com/gradio-app/gradio/blob/master/CONTRIBUTING.md) about how to install from the master branch.

[2022-02-09 13:05] #573 closed

[2022-02-09 13:34] abidlabs opened #588 "Dataframe input loading strange default data (and other issues)"
**Describe the bug**

The `dataframe` input loads very specific input data by default (the first column are the names "Frank", "Beatrice", "Simone", then there are two columns of numbers, as shown in the screenshot below)

![image](https://user-images.githubusercontent.com/1778297/153211257-05f4cf4a-2dde-4dc8-958f-776c888b9eb8.png)

This happens whether or not the `default` parameter is passed in.

[2022-02-09 13:38] abidlabs commented on #588
There are some other minor issues with the `dataframe` input:

* There does not seem to be any option to delete a row or a column
* When a cell is selected, I would expect pressing the "delete" or "backspace" buttons should clear the values, but it does not

For both the `dataframe` input and the `dataframe` output:

* A title is shown right above the dataframe. This should be removed as it is at

[2022-02-09 23:29] byeolkady commented on #573
thank you for answer!

[2022-02-10 05:57] abidlabs opened #591 "Add "copy" button to the code blocks on the website and on guides"
It would nice to have a copy button on the top right of the code blocks to encourage readers to try the code as they read along:

![image](https://user-images.githubusercontent.com/1778297/153346839-4f8d7a87-3ca7-4c81-b3ba-b29a1c436a28.png)

Applies to the getting started page as well as all of the guides that we write!

[2022-02-10 06:00] abidlabs opened #592 "Add automatic anchor links to the different sections of getting started and guides automatically"
Many times when I'm responding to issues, I want to link to a specific section in our getting started page. For example, the section related to "State"

![image](https://user-images.githubusercontent.com/1778297/153347095-593acced-8c5a-402c-9df7-3acdb1042edb.png)

We could manually add anchor links, but I'm sure there is a way to automatically turn any header tag into an anchorable link. Sometimes

[2022-02-10 16:05] pngwn opened #596 "Validate timeseries inputs"
**Is your feature request related to a problem? Please describe.**
When the CSV passed to a TimeSeries input does not match the expected format, no validation is performed and no user feedback is provided.

**Describe the solution you'd like**
We should perform some validation on the CSV when it passed in to ensure it matches the expected format. Currently the TimeSeries component will fail silent

[2022-02-10 19:32] P8H commented on #141
I noticed that any javascript that is injected by the output HTML component is not executed.
Using plotly in the HTML version requires JS to be executed, also because the data for the plot is encoded in the JS script element.

A word limit seems to be here not the problem, at least in my case. I was able to find the complete code, coming from `fig.write_html("test1.html", include_plotlyjs='cdn')`

[2022-02-12 12:25] FarukOzderim commented on #500
@abidlabs @dawoodkhan82 what are your latest thoughts and status on this issue? I am finalizing #256 right now and this felt related.

[2022-02-13 23:30] pandya6988 opened #604 "gradio discord link is invalid. please update it."
page: https://www.gradio.app/docs/#o_image

[2022-02-13 23:35] pandya6988 opened #605 "plotly graph"
**outputs="plot" doesn't work for plotly plots.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Example code:**
my function return plotly plot as bellow:

[code]

`interface = gr.Interface(get_plot, inputs='some data', outputs='plot')`

Cannot plot this.

[2022-02-13 23:57] pandya6988 commented on #605
[code]

This is not working as well.

[2022-02-14 00:00] pandya6988 commented on #141
[code]

This is not working. anyone can please help!!!

[2022-02-14 04:11] abidlabs commented on #604
Thanks @pandya6988, confirming that the link https://discord.gg/Vuujh8wt no longer works in the navbar. @aliabd can we update with a permanent link?

[2022-02-14 04:12] abidlabs commented on #605
Thanks @pandya6988 we currently don't support plotly graphs, but we are working on adding it!

[2022-02-14 10:21] abdoul-Aziz-shara opened #606 "Getting error with image reshaping when trying Gradio for the first time with a deep learning Model."
This is actually my first time trying Gradio with an ML model and I have been getting this error:

**Code:**
 #create a function to make predictions
#return a dictionary of labels and probabilities
def Normal_or_Pneumonia(img):
    img = img.reshape( -1, 180, 180,3 )
    prediction = model.predict(img).tolist()[0]
    CLASS_NAMES = ["NORMAL", "PNEUMONIA"]
    return {CLASS_NAMES[i]: prediction[i]

[2022-02-14 18:40] abidlabs commented on #606
It looks like the error is that you are using `image_mode='L'`, which loads the image as a black-and-white image. If you remove this parameter, I think it should work.

[2022-02-15 00:38] #591 closed

[2022-02-15 00:57] #592 closed

[2022-02-15 01:48] #604 closed

[2022-02-15 01:48] aliabd commented on #604
Added the correct link to the website, which is [this one](https://discord.gg/feTf9x3ZSB), but it might take a bit to reload. Thanks @pandya6988

[2022-02-15 02:58] zxy2020 opened #613 "AttributeError: module 'gradio' has no attribute 'Interface'"
**Describe the bug**
when  I run the "hello world" code  copied by the 'getting  started'  ,  I got this erors.

**To Reproduce**
Steps to reproduce the behavior:
run the code

**Device information (please complete the following information):**
 - OS: windows10 and Linux
 - Gradio version  2.7.5.2  or  2.6.0

**Additional context**
Package            Version
------------------ ---------
aiohttp

[2022-02-15 03:03] abidlabs commented on #613
This usually means that `gradio` was not successfully installed. Can you try uninstalling and reinstalling?

For example, see here where it works: https://colab.research.google.com/drive/1WTMg51DaEQRny7x3QKaaMOIk1bFkcTeG?usp=sharing

[2022-02-15 03:03] zxy2020 commented on #613
您好，邮件已收到。曾星宇

[2022-02-15 03:56] #361 closed

[2022-02-15 04:00] dawoodkhan82 commented on #361
We added support for internationalization. Can you help us add support for your language by providing translations in a new file here? (https://github.com/gradio-app/gradio/tree/master/ui/packages/app/public/lang)

[2022-02-15 15:51] AK391 opened #618 "LaunchGradiofromSpaces Gradio HF links"
Gradio and Huggingface Spaces links should open in a new tab when using `launchGradioFromSpaces`

example

<img width="838" alt="Screen Shot 2022-02-15 at 10 45 39 AM" src="https://user-images.githubusercontent.com/81195143/154098241-3a445e77-7f07-422e-bb5a-578563342c20.png">

Huggingface Spaces link currently does not work

[2022-02-15 21:32] abidlabs commented on #479
Looks like we can close this @FarukOzderim?

[2022-02-15 22:50] abidlabs opened #626 "Queue and logo does not show if optional fields are not populated"
**Describe the bug**
Reported for this Space: https://huggingface.co/spaces/akhaliq/VQGAN_CLIP

If you leave the optional images blank, then no queue or logo is shown in the top right corner, see:

![image](https://user-images.githubusercontent.com/1778297/154162902-456313ee-f8b5-47af-901c-353bb18a6b98.png)

[2022-02-16 02:23] ingasilk-virtusize commented on #83
I'm also having this issue when running `iface.launch(share=True)` in jupyter lab notebook. It works fine locally. When I do `requests.get("https://api.gradio.app")` I get 200 response.
gradio Version: 2.7.5.2
jupyter lab version 3.1.1
python version 3.8.10
Any suggestions on how to make it work?

[2022-02-16 03:55] abidlabs commented on #83
Has this ever worked for you before? I.e. is this a new issue or is this first time you are trying Gradio in this environment?

[2022-02-16 04:08] ingasilk-virtusize commented on #83
It's the first time I'm trying Gradio in this environment. I only started using Gradio a couple days ago.

[2022-02-16 06:38] FarukOzderim commented on #479
Oh, I was just using github projects done button, It seems I need to close it as well, is it not automatic though @pngwn @abidlabs?

[2022-02-16 08:26] JuanCarlosMartinezSevilla commented on #450
Hi everyone!

I'm currently trying to use Gradio in a project and I'm facing the same problem, I can't launch different interfaces in the same page, without reloading with F5.

I guess for me the solution will be to add something like an event (on_click) and depending the component clicked launch the wanted interface, inside the same page. Or something like the "live" feature that updates the outp

[2022-02-16 09:57] #588 closed

[2022-02-16 09:59] pngwn opened #631 "Support deleting rows and columns from the dataframe"
**Is your feature request related to a problem? Please describe.**
I would like to be able to delete rows and/or columns when suing the dataframe component.

Follow on from #588.

[2022-02-16 12:37] abidlabs commented on #83
Ok and can you check that your code is working with Gradio in a different environment, like a colab notebook? https://colab.research.google.com/

I'm trying to understand whether its a function of the code or the environment

[2022-02-16 12:57] abidlabs commented on #450
Thanks @JuanCarlosMartinezSevilla we are aiming to get a beta out in the next week and will respond here to let you know as well as on [our discord](https://discord.com/invite/feTf9x3ZSB). Thanks so much for the detailed explanation!

[2022-02-16 13:13] pngwn opened #635 "Gradio Blocks"
A tracking issue for gradio blocks:

- [ ] #636
- [ ] #450
- [ ] #637
- [ ] #638
- [ ] #639
- [ ] #640
- [ ] #651
- [ ] #680
- [ ] #704
- [ ] #705

[2022-02-16 13:14] pngwn opened #636 "[Blocks] implement core architecture to support blocks (frontend)"
Rough notes/ checklist that I'm working through:

- [ ] Single internal API for blocks and interfaces to reduce code duplication + maintenance (this is being worked on in the backend to make it simpler, I'lld do something temporary on the FE if i get to it first to allow this).
- [ ] Treat all components exactly the same and render them recursively, including layout components such as tabs/rows. M

[2022-02-16 13:15] abidlabs opened #637 "Implement variable widths for `blocks.Column`"
* Backend has a `gr.Column` class but as far as I can tell, it has no effect
* `gr.Column` could take in an argument to assign column widths.

Sample code:
[code]

[2022-02-16 13:25] abidlabs commented on #479
Yup it looks like Projects doesn't support that, but it does have the following 2 automations:

![image](https://user-images.githubusercontent.com/1778297/154273656-cad5fb22-9ccc-4e66-bffc-bfb9d7874120.png)

![image](https://user-images.githubusercontent.com/1778297/154273726-416cdbc9-5380-4a4f-9fcc-682d0dac6134.png)

[2022-02-16 13:25] #479 closed

[2022-02-16 14:43] abidlabs opened #638 "[Blocks] Move all block-related imports under `gradio.blocks`"
Goal being to avoid having to write `gr.` in front of every component?

Leading to much more readable code:

[code]

[2022-02-16 14:45] abidlabs opened #639 "[Blocks] Allow any output component to be used to display statically"
It should be possible to treat ANY output component like a static component by simply dumping an appropriate value to it. Like this:

[code]

[2022-02-16 14:47] abidlabs opened #640 "[Blocks] Provide `Interface`s as `Blocks`"
Thinking from the perspective of current Gradio users, I think it would be much easier for them to be able to provide Gradio Interfaces as blocks. What I mean is something like this:

[code]

Many people just want to be able to have multiple interfaces in one place and this would allow them to do that without having to learn event handling, etc.

[2022-02-16 17:05] bilalghanem commented on #506
I had the same error, and I downgraded Gradio to `2.5.2` version and it worked.

[2022-02-16 18:29] abidlabs commented on #613
Do you mind if we close this @zxy2020 as this should not be an issue if `gradio` is reinstalled correctly?

[2022-02-16 21:59] abidlabs commented on #626
Issue was resolved in the latest version of `gradio`

[2022-02-16 21:59] #626 closed

[2022-02-16 22:00] abidlabs commented on #606
Do you mind if we close this @abdoul-Aziz-shara unless you are still running into other issues?

[2022-02-17 00:48] abdoul-Aziz-shara commented on #606
Sure, It works.  Thanks, @abidlabs

[2022-02-17 03:41] #606 closed

[2022-02-17 03:41] abidlabs commented on #606
Awesome!

[2022-02-17 04:49] ingasilk-virtusize commented on #83
Yes, it's working in a Colab notebook with the same version of Gradio.

[2022-02-17 05:20] yesdeepakmittal opened #645 "Delay interface re-run with "live=True""
Please add an option to delay the re-run of an application when we use `live=True`.

What do I want? I want to implement `live=True` into **[Using State](https://gradio.app/getting_started/#using-state)** example mentioned into documentation. Currently, if I use `live=True`, my application is re-run after entering every character. I want to give users some time so that they can successfully enter

[2022-02-17 06:26] yesdeepakmittal opened #646 "flag option is not working for "state" feature"
I want to apply flag feature on **[Using State](https://gradio.app/getting_started/#using-state)** example but it is not working

[2022-02-17 12:28] josephrocca opened #650 "Indicator in UI showing whether it's running on CPU/GPU/TPU"
**Is your feature request related to a problem? Please describe.**
Speaking mostly from the perspective of an end-user of Gradio apps on Huggingface, I'm often interesting in knowing the approximate inference speed of the demos that I see, but that requires knowing what hardware the model is running on.

**Describe the solution you'd like**
It would be great to see an icon that shows what type of

[2022-02-17 12:30] abidlabs commented on #650
That's a very nice suggestion. I can see that being quite helpful, will see what we can do!

[2022-02-17 12:31] abidlabs commented on #645
Can you give a little more context into what kind of machine learning application you are building?

How often would you prefer it to be rerun? Every X characters?

[2022-02-17 12:32] abidlabs commented on #646
Thanks @yesdeepakmittal for reporting this! Can you give us a quick code snippet of what you've tried? It will help us look into it.

[2022-02-17 12:59] abidlabs commented on #83
Ok in that case, it must be an issue with the environment. Which OS are you using? And to confirm, are you running jupyter lab locally or remotely?

[2022-02-17 13:22] abidlabs opened #651 "[Blocks] Support functions that run on page load and functions that don't have an output"
2 related issues:

1. We've gotten requests from the Hugging Face team to have functions that run on page load. For example, it could be something as simple as a table that refreshes its content by loading from an external URL whenever you reload the page.

Implementation wise, it might look something like this (notice there is no `inputs` here):

[code]

2. We've also had requests for functions t

[2022-02-17 15:58] yesdeepakmittal commented on #646
I used the same example which is mentioned in the documentation. Just commented out the `allow_flagging="never"` line

[code]

[2022-02-17 16:07] #430 closed

[2022-02-17 16:22] abidlabs commented on #645
Yup. On the Python side, `live` could take an alternative `float` value which would the amount of time after which to call the function again.

[2022-02-17 16:26] pngwn commented on #645
I think this would probably be a good default, at least for text inputs, with a sensible value that we can figure out with a little testing. We can also make it configurable via a param as you suggested.

[2022-02-17 16:34] Adeel-Intizar opened #654 "Adjust width / height of image preview in the Image Component?"
Hello,
How can i adjust the width / height of image input in the browser instead of jupyter notebook?

Thank you

[2022-02-17 16:40] abidlabs commented on #654
Thanks @Adeel-Intizar for creating this issue. Would you kindly add more details about what you are looking to achieve?

[2022-02-17 16:41] pngwn opened #655 "allow app viewers to manually select the language"
**Is your feature request related to a problem? Please describe.**
User language preferences are complex and it would be nice if there were a way to manually select the language of the gradio web-app when viewing it.

**Describe the solution you'd like**
A little drop down near the gradio logo that allows users to select the language. Or something similar.

[2022-02-17 16:43] Adeel-Intizar commented on #654
I created an interface of an object detection model, but the size of input and output image in the browser is small (height especially), so i was wondering if gradio supports the feature where i can increase / decrease the width/height of the input image size in the browser, i know it supports it in jupyter

[2022-02-17 16:45] abidlabs commented on #654
Ah got it. Can you try setting `layout="vertical"` in the `Interface()` class.?

So like: `gr.Interface(... , layout="vertical").launch()`

It will make the input and output both full width. Can you let me know if that helps?

[2022-02-17 16:46] Adeel-Intizar commented on #654
sure, I'll check it

[2022-02-17 16:51] Adeel-Intizar commented on #654
yes, it sets the with to the fullscreen, but what i actually want to do is increase the height in horizontal layout

[2022-02-17 16:53] Adeel-Intizar commented on #654
waiting for this feature... Thanks

[2022-02-17 17:01] abidlabs commented on #631
How about just adding "Delete Column" and "Delete Row" buttons next to the "New Column" and "New Row" buttons we already have. They would be disabled unless a cell is selected?

![image](https://user-images.githubusercontent.com/1778297/154532282-0ec7859d-ba4b-4110-9cf5-b1fe19c8d2b5.png)

[2022-02-17 17:03] abidlabs opened #656 "Input dataframe without any parameters throws javascript error"
It seems that Dataframe must be instantiated with headers, otherwise it will throw javascript errors and nothing will appear in the UI:

`gr.Interface(lambda x:x, "dataframe", "dataframe").launch()`
`gr.Interface(lambda x:x, gr.inputs.Dataframe(), "dataframe").launch()`
`gr.Interface(lambda x:x, gr.inputs.Dataframe(), "textbox").launch()`

![image](https://user-images.githubusercontent.com/1778297

[2022-02-17 17:09] abidlabs commented on #631
Quick followup (seems to small to create a separate issue): do we actually want to display "null" when the dataframe is instantiated? Just leave the cells blank would look cleaner

[2022-02-17 17:24] abidlabs commented on #631
Looks like it originates here:
https://github.com/gradio-app/gradio/blob/21e0bd112c7e337d4c6e38469aa72b1b8de411b6/gradio/inputs.py#L1421-L1424

Python's `None` gets converted to Javascript's `null`.

I think a better way would be to just have the default in the Python be the empty string? Cc @aliabid94 for his thoughts

[2022-02-17 22:47] abidlabs opened #659 "Warning pops up with `share=True` with gradio 2.8.0"
Launching an Interface with `share=True` causes this:

![image](https://user-images.githubusercontent.com/1778297/154583958-30724fc4-ef2f-401f-9470-ebfcc6f0e681.png)

To reproduce, run

`gr.Interface(lambda x:x, "text", "text").launch(share=True)`

[2022-02-18 00:39] #659 closed

[2022-02-18 01:17] abidlabs commented on #380
Fixed now, thanks to #652!

[2022-02-18 01:17] #380 closed

[2022-02-18 01:46] ingasilk-virtusize commented on #83
I'm using OS Catalina 10.15.6. And yes, I'm running the notebook locally. I could upgrade to Monterey and see if that solves the issue.

[2022-02-18 05:21] byeolkady opened #663 "about ssl_keyfile parameter in 2.8.0 version"
I'm working on it for https with gradio. how can I implement ssl password?!

[2022-02-18 14:06] #656 closed

[2022-02-18 14:11] pngwn commented on #637
@abidlabs Can you elaborate on what the argument would do exactly? Would it be optional? If so what would the default be?

[2022-02-18 14:49] abidlabs commented on #637
Was thinking it could assign the relative width of the columns. So with the example above, the first column would take up 1/3 of the screen, while the second column would take up 2/3 of the screen. My understanding is that it is similar to the `flex` property in CSS though I may be wrong about that.

[2022-02-18 14:50] yesdeepakmittal opened #667 "Gradio Number field taking string input as well"
By default Gradio takes float value in `gradio.inputs.Number()` and it does not allow us to enter string characters into the field. But if we enter a number and then try to enter the string, it accepts it as well.

![image](https://user-images.githubusercontent.com/50262096/154704363-2c76f10a-c830-4e32-9135-f9bce7dc7f82.png)

---

Please consider this documentation example:
![image](https://user-i

[2022-02-18 15:33] abidlabs opened #668 "Update documentation to include new Chatbot component"
Documentation needs to be updated here:

- [x] https://gradio.app/getting_started/#using-state
- [x] https://gradio.app/docs/
- [x] https://gradio.app/creating_a_chatbot/

[2022-02-18 15:35] pngwn opened #669 "omit null values in config"
Do not send null values in the config.

[2022-02-18 16:05] abidlabs commented on #663
Thanks for the catch @byeolkady. It looks like we need to add support for that so that it gets passed into the server..

Besides
`ssl_keyfile_password`

Do you need any of these parameters?
`ssl_version,`
`ssl_cert_reqs,`
`ssl_ca_certs,`
`ssl_ciphers`

[2022-02-18 17:50] MatthieuBizien opened #672 "Expose the inputs and outputs in the openapi.json files"
**Is your feature request related to a problem? Please describe.**

Gradio documents the API in the `/api` route, which is really nice for understanding an API.

Having a machine-readable version of that page would be very useful for automatic verification of the coherency of the gradio, including:

* Do the caller provide all the necessary inputs?
* Are the inputs correctly typed and formatted?
*

[2022-02-18 19:01] aliabd opened #674 "Cache examples by default on Spaces"
Examples should be cached by default on spaces. Much better user experience.

Ideally the way to do it would be by reading from an env variable that spaces can provide.

We could also potentially cache them by default everywhere, but to avoid  slowing down the interface launch we'd want to cache as the first users click them instead of during the launch event.

[2022-02-18 20:00] merveenoyan opened #675 "Links inside the documentation"
It's a feature request, that would be nice if gradio docs had links for headers (like transformers docs attached to this issue), so that when I send a user a component they don't have to search for things. ![image](https://user-images.githubusercontent.com/53175384/154753231-e5765cbc-d9f9-4015-93f5-499ab9d984a4.jpeg)

[2022-02-18 20:18] merveenoyan commented on #675
@abidlabs yes, I was looking for a link to highlighted text and couldn't find so I thought it didn't exist across all of the docs (I was on mobile and had no sidebar, then I checked on my PC and there was a sidebar but still it would be nice if we could have these with links as well, I know it's very extra and less priority😅) ![image](https://user-images.githubusercontent.com/53175384/154755464-41

[2022-02-18 20:21] abidlabs commented on #675
Gotcha! Well we can probably do something to make this easier. Cc @aliabd

[2022-02-18 20:35] abidlabs commented on #537
Closed by #593!

[2022-02-18 20:35] #537 closed

[2022-02-18 20:44] abidlabs commented on #502
Yup it looks like it's fixed, thanks!

[2022-02-18 20:44] #502 closed

[2022-02-18 21:26] abidlabs commented on #667
@yesdeepakmittal can you see if this is still an issue in the latest version of Gradio, `gradio==2.8.1`? I can't reproduce in colab, it may have gotten fixed as part of these updates.

[2022-02-18 21:45] abidlabs commented on #613
Closing, feel free to reopen with more details. Thanks!

[2022-02-18 21:45] #613 closed

[2022-02-19 03:18] yesdeepakmittal commented on #667
Other characters stopped entering but `e` is still entering. If it is for an exponential digit, when we start writing numbers into the field and enter `e`, it removes all the numbers previously entered.

![image](https://user-images.githubusercontent.com/50262096/154784048-796a7587-1576-4494-a9a1-6aefff56f39c.png)

[2022-02-19 12:18] claree007 commented on #344
I found a way of doing what I wanted using voila. I put my gradio app inside a notebook and opened it using voila which has an option to configure the path where the UI is displayed.

[2022-02-19 15:32] abidlabs opened #680 "[Blocks] Allowing users to adapt the parameters of one component based on another component"
A VERY common request. Here is the original discussion post:

_Originally posted by @yesdeepakmittal in https://github.com/gradio-app/gradio/discussions/679_

[2022-02-19 15:38] abidlabs commented on #667
That's weird, thanks for catching this and pointing it out. We'll fix this

[2022-02-19 15:46] abidlabs commented on #344
Interesting, thanks for letting us know @claree007!

[2022-02-19 17:25] kingabzpro opened #681 "Improving user experiencer in chatbot v2.8.1"
**Is your feature request related to a problem? Please describe.**
1.  can you make `enter` to send the message?
2. can you clear the text from input after pressing `submit` button?

![image](https://user-images.githubusercontent.com/36753484/154811779-78f2e934-5613-4aa0-8cb8-5e66f06e8a32.png)

**Describe the solution you'd like**
Just like Hugging Face API interface for conversation models:

![im

[2022-02-19 17:36] kingabzpro opened #682 "Flag options and screenshots is not working with v2.8.1"
**Describe the bug**
Flag button is showing but without dropdown option and screenshot is not even showing.

**To Reproduce**
I have use these options 👇

[code]
Here is the project: https://huggingface.co/spaces/kingabzpro/savtadepth where I have enabled both custom flag options and screen shot in `app/savta_app.py` file.

**Screenshots**
![image](https://user-images.githubusercontent.com/36753484

[2022-02-20 13:46] abidlabs commented on #680
The way it might look for the user:

[code]

Basically every component (e.g. the Dropdown) should be able to be treated as an input or output

[2022-02-20 23:37] byeolkady commented on #663
First of all, I think I need only the password-related part. Then will that part be updated to version 2.9.0?

[2022-02-21 06:45] ingasilk-virtusize commented on #83
Getting the same error with MacOS Monterey 12.2.1

[2022-02-21 12:10] #668 closed

[2022-02-21 12:23] abidlabs opened #690 "🙋 Community Feedback on Blocks"
### This issue is a place for the community to try Blocks 🧱 and give feedback on its development
#### What is Blocks?

Blocks allows you to build web-based demos in a flexible way using the `gradio` library. Blocks is a more low-level and flexible alternative to the core `Interface` class. Specifically, Blocks support:
* grouping together related demos using Tabs
* flexible positioning of componen

[2022-02-21 12:48] abidlabs commented on #682
Just FYI we intentionally deprecated the screenshot button because it was quite buggy and hard to support all of the edge cases.

But the flagging options should be supported, it's weird that they are not.

[2022-02-21 13:23] abidlabs commented on #500
Was talking to @aliabid94 when I learned that we already support this! You can just return `None` for any of the return values and the output component will not be rendered!

![image](https://user-images.githubusercontent.com/1778297/154963506-1743d374-4554-4049-b0ed-effc49a5bd60.png)

I'm going to leave this issue open as a reminder we should document this behavior somewhere. Maybe writing a mini

[2022-02-21 13:29] abidlabs commented on #83
Can you try upgrading to `gradio==2.8.0` and tell me what you see?

[2022-02-21 14:39] #663 closed

[2022-02-21 14:41] abidlabs commented on #663
I've pushed the latest version to `master`, which includes the `ssl_keyfile_password` parameter.

We'll probably release it to pypi in the next few days, but if you want to use it immediately, see here for installing from `master`. https://github.com/gradio-app/gradio/blob/master/CONTRIBUTING.md

[2022-02-21 17:39] charlesollion opened #693 "Video component is flipped horizontally"
**Describe the bug**
A clear and concise description of what the bug is.
Videoplayer (and video) is flipped horizontally since 2.8 release.

**To Reproduce**
Build any video input or output component, without webcam

**Screenshots**
![videoflipped](https://user-images.githubusercontent.com/10595147/155003686-ae61d142-0fd7-422e-8a82-2c307c91e282.png)

**Device information (please complete the follo

[2022-02-21 18:50] lukewys opened #694 "Cannot load example for files."
**Describe the bug**
In current version, gradio.inputs.File accepts input as:

`File accepts the List of JSON objects with filename as 'name' property and base64 data as 'data' property as type List[Dict[name: str, data: str]]`

However, for example files, it somehow does not work, probably because the example files only provide an str filepath.

**To Reproduce**
Steps to reproduce the behavior:
I

[2022-02-21 21:46] arturcuringa opened #697 "Multiple Files input not working"
Using `gr.inputs.File(file_count="multiple", label=None)` for multiple files input results in the interface allowing only one file and not processing it correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Set gr.inputs.File(file_count="multiple", label=None)
2. Start the gradio server
3. Drag and drop multiple files on the file box/Manually Select a file
4. See that the files are not

[2022-02-21 23:50] abidlabs commented on #663
A fix is out in `2.8.2`. You should be able to install directly from pypi! `pip install --ugprade gradio`

[2022-02-22 00:09] abidlabs opened #699 "adding explanatory text for different parameters/components"
It would be useful in some cases to add explanatory description underneath a component describing what that parameter does. Here's how it might look like (screenshot from one of replicate's demos):

![image](https://user-images.githubusercontent.com/1778297/155040485-174bb887-be8a-4937-bbd8-9ed7c53adf79.png)

From the backend it would be quite straightforward. Each component could take a simple `d

[2022-02-22 00:17] saratrajput opened #700 "Interface not visible on Windows 10 (Chrome Browser)"
**Describe the bug**
While testing a simple gradio app on Windows 10 with Chrome browser, the interface launches without error, but it is not visible either in the Jupyter Notebook or in the local URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a Jupyter Lab session and run the following code:

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/29677848/155

[2022-02-22 00:20] abidlabs commented on #700
Can you try installing `gradio==2.8.1` and see if you have the same issue?

`pip install gradio==2.8.1`

[2022-02-22 00:25] saratrajput commented on #700
Yes, ```gradio==2.8.1``` has the same issue as well.
I tested with Firefox browser and it also has the same issue.

[2022-02-22 00:30] abidlabs commented on #700
Can you [open up the console log](https://balsamiq.com/support/faqs/browserconsole/#:~:text=Google%20Chrome,-To%20open%20the&text=You%20can%20also%20use%20Option,or%20in%20a%20new%20window.) in the inspector and tell us what errors you see?

[2022-02-22 00:42] saratrajput commented on #700
![image](https://user-images.githubusercontent.com/29677848/155042877-0eecb9a4-91ee-46fd-93e7-ad7e65356981.png)
![image](https://user-images.githubusercontent.com/29677848/155042961-e0930a4d-a71b-415c-8763-e64711bf2342.png)

[code]

[2022-02-22 00:49] saratrajput commented on #700
Tried the first few [solutions](https://stackoverflow.com/questions/61339968/error-message-devtools-failed-to-load-sourcemap-could-not-load-content-for-chr) for the above error ```DevTools failed to load source map: Could not load content for```, but it doesn't help.

[2022-02-22 04:48] samarth70 opened #701 "File Uploading Issue"
Hi, I am unable to take examples and use them as input. Though if I upload the file manually the app is working fine.

Link to the app- https://huggingface.co/spaces/Sa-m/manifesto

Error-
![image](https://user-images.githubusercontent.com/44370096/155064876-7bdc4ecf-2d4e-4097-91bd-e4e3f861e152.png)

[2022-02-22 07:40] byeolkady commented on #663
I just checked with 2.8.2 version  but  "ssl.SSLError: [SSL] PEM lib (_ssl.c:3911)" error is occurred. What did I do wrong?

[2022-02-22 12:13] abidlabs opened #703 "Guide on embedding Gradio demos"
From one of our power users:

[2022-02-22 15:27] abidlabs commented on #374
Can we also make the plot output look pretty? The gray background and small width is super ugly:

![image](https://user-images.githubusercontent.com/1778297/155164360-a11428f6-722c-4e5c-9b50-4fefc0d5f121.png)

[2022-02-22 15:30] abidlabs opened #704 "[Blocks] Component labels don't show in Blocks"
Is this intentional? It makes hard to designate what each input and output is for. For example, I'd like to say that one slider is for speed and the other for angle:

![image](https://user-images.githubusercontent.com/1778297/155164725-1aeff7a2-495c-4d1f-a4bb-9dfb3d79a703.png)

Code to reproduce:

[code]

[2022-02-22 15:39] abidlabs opened #705 "[Blocks] Blocks-specifics Analytics"
Our segment analytics should differentiate based on what kind of `Launchable()` is launched: `Block` vs. `Interface` vs. others in the future.

In addition, are there other, Block-specific analytics we want to measure?
* What kind of components are being used?
* What kind of static components are being used?
* More error logging? I anticipate that a lot more errors will happen with Blocks compared

[2022-02-22 17:37] pngwn opened #706 "Gradio redesign"
This is a tracking issue for the upcoming gradio redesign. More details to follow.

_(in no particular order)_

- Redesign individual components
- Implement redesign
   - pre-req: separate components out into independent entities and untangle business logic (in progress).
- Design/ redesign/ improve UX of complex components (uploads/ image/ audio)
- Redesign gradio website using new components + i

[2022-02-22 18:39] nateraw commented on #690
Really looking forward to this feature! In colab, I'm running into an issue. [Here's a notebook.](https://gist.github.com/nateraw/147d1bd360263022ac3639ddd961fec0)

`AttributeError: 'Blocks' object has no attribute 'requires_permissions'`

Looks like some env variable I'm supposed to set/isn't set properly?

[2022-02-22 19:04] CatChenal opened #707 "`Interface.launch()` with `show_tips=True` yields error"
### Problem:
Using [this gradio colab](https://colab.research.google.com/drive/18ODkJvyxHutTN0P5APWyGFO_xwNcgHDZ?usp=sharing#scrollTo=BtS4nqLIW-dv), I added a few modifications, notably `show_tips=True` to the `launch` method of gradio.Interface.

Without the try | except block (as in the `main1` function below), this error shows up:
[code]

### Reproducible example:
[code]
#### Device information

[2022-02-22 19:08] abidlabs opened #708 "[Blocks] "Running"or "Loading" indicator missing"
Noticed after trying some functions that take longer to run that there's no indication that the function is running. In Gradio Interfaces, we have the logo with the timer running. Having something analogous for Blocks would be helpful so it would (1) confirm that I have indeed clicked the button (2) the function is still running and hasn't timed out.

Some questions:
* I'm not sure where it should

[2022-02-22 19:37] abidlabs commented on #646
The problem actually seems to be much bigger. It seems like flagging is completely broken from the frontend for *all* interfaces. For example, flagging does not work for me for this Interface:

[code]

I think the backend is fine, just that nothing happens at all when you click the flagging button in the frontend. @aliabid94 is this something you can take a look at?

[2022-02-22 19:54] abidlabs opened #709 "Visual feedback for flagging"
When you click the flagging button, there is no visual feedback that you've clicked flag. Makes it hard to tell if you've successfully completed the action or not. Would be nice to have.

[2022-02-22 20:36] abidlabs commented on #374
@discdiver sorry for the super late response, but this code works as of `gradio==2.8.2`! See:

![image](https://user-images.githubusercontent.com/1778297/155214761-c9252932-98a0-4e3a-b93a-72ac7a2cf58a.png)

That being said, `plot` outputs look quite ugly

[2022-02-22 20:37] #374 closed

[2022-02-22 20:40] abidlabs opened #711 "Improve design of `"plot"` output"
We currently support returning matplotlib plots in the output. See the following code for example:

[code]

However, the resulting plots are quite ugly. See:

![image](https://user-images.githubusercontent.com/1778297/155215307-f860dc69-e260-454b-a347-6604042c2a33.png)

![image](https://user-images.githubusercontent.com/1778297/155215324-bfe6ddd4-628a-4fe7-bb5a-37110d52c143.png)

It would be reall

[2022-02-22 20:44] CatChenal commented on #700
@saratrajput It could be a jupyter lab issue. Have you tried on [colab](https://colab.research.google.com/drive/18ODkJvyxHutTN0P5APWyGFO_xwNcgHDZ?usp=sharing)?

[2022-02-22 20:56] #371 closed

[2022-02-22 21:11] abidlabs commented on #697
Thanks @arturcuringa. Can confirm I can reproduce the problem. We'll fix it soon!

[2022-02-22 21:16] #707 closed

[2022-02-22 21:18] abidlabs commented on #694
Thanks for reporting this issue @lukewys. Can confirm that I can reproduce this with the code below. We'll fix it soon!

[code]

[2022-02-22 22:18] abidlabs commented on #541
From what I can tell, nothing in the backend has changed. When you click on "Interpret", it returns the following response:

[code]

but the frontend doesn't know how to handle it. @aliabid94 can you look into this?

[2022-02-22 22:26] abidlabs commented on #541
Btw I checked the other input components (like Audio, CheckboxGroup, Radio, Slider, etc.) and they all work as far as I can tell (though we could improve on the design)

[2022-02-22 22:31] abidlabs commented on #503
Hi @Charlottecuc if you don't mind, we'll close this issue as it doesn't seem to be something related to Gradio.

If you do find that it is Gradio-related, feel free to reopen. Thanks!

[2022-02-22 22:31] #503 closed

[2022-02-22 22:34] abidlabs commented on #519
@osanseviero let us know if you'd like to keep this issue open. I'm inclined to close it since the Audio issue is solved, and the 2nd issue seems pretty convoluted. If you have more info about the 2nd issue, let us know!

[2022-02-22 22:38] abidlabs commented on #701
Thanks @samarth70. This is most likely the same issue as #694, which we are working on resolving soon!

[2022-02-22 22:47] osanseviero commented on #519
Hey @abidlabs! I think we can close this issue, as the 2nd problem is an ongoing issue with Bokeh generated HTML and does not seem to be for Gradio

[2022-02-22 22:47] #519 closed

[2022-02-23 03:00] aliabid94 commented on #704
yes it was intentional, seemed like labels were more relevant for Interfaces. We can have a constructor parameter `show_labels` which can toggle visibility of labels though.

[2022-02-23 03:09] abidlabs commented on #704
My sense is that labels should be shown by default. At least in the interfaces that I’ve been playing around with, it makes sense to have the labels. Perhaps if the label is set to None (or not provided), then it should just be hidden?

[2022-02-23 03:10] abidlabs commented on #709
Same for the interpretation button

[2022-02-23 05:04] mangsshinde opened #713 "Multiple Image Upload"
Dear Abubakar Abid,

thank you for your great work.

I have one question. I am looking to build a simple UI to extract embeddings of multiple image file. Just wanted to know if there is any way to upload a folder containing images. If not, then is there any other workaround i.e. uploading a zip file for the image folder.

[2022-02-23 11:13] FarukOzderim commented on #667
I confirm this error.

**Code snippet:**
`
import gradio as gr

def func(number):
  return f"str {number}"

iface = gr.Interface(fn=func, inputs=gr.inputs.Number(), outputs="text")
iface.launch(debug=True)
`

**Traceback:**

`Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/gradio/routes.py", line 216, in predict
    app.interface.process, raw_input
  File "/usr/lo

[2022-02-23 11:14] FarukOzderim commented on #667
@pngwn @aliabid94 shall we prevent the incorrect input usage at frontend, I feel like it would be better that way.

[2022-02-23 11:19] pngwn commented on #667
Yeah this is a problem on the frontend.

[2022-02-23 11:27] FarukOzderim commented on #618
Looking into this issue I could not understand the problem clearly, @AK391 maybe you could describe it with more detail?

[2022-02-23 12:15] abidlabs commented on #454
The issue happens when you pass in a custom `color_map` to  `gr.outputs.HighlightedText()`.

**Working example**:

[code]

![image](https://user-images.githubusercontent.com/1778297/155317273-f6bea53e-b1cd-46cc-a0bc-cfc798b1a318.png)

**Broken example**:

[code]

in which case the words that being highlighted no longer appear:

![image](https://user-images.githubusercontent.com/1778297/155317600-f

[2022-02-23 12:20] abidlabs commented on #618
What @AK391 is referring to here is that if you embed a Gradio demo using the `launchgradio()` method ([for example in this report](https://wandb.ai/akhaliq/jojogan/reports/JoJoGAN-One-Shot-Face-Stylization-with-W-B-and-Gradio---VmlldzoxNDMzNzgx)), there is a nice footer that we add underneath the embedding:

![image](https://user-images.githubusercontent.com/1778297/155318095-d41d6bf1-6929-4c79-8

[2022-02-23 12:47] #667 closed

[2022-02-23 12:59] #709 closed

[2022-02-23 13:20] abidlabs commented on #682
Should be fixed now @kingabzpro with the latest version on `master`. Feel free to build from source if you need it immediately, but we will be releasing a version out on pypi within the next couple of days.

[2022-02-23 13:20] #682 closed

[2022-02-23 13:52] FarukOzderim opened #722 "New Bug Report Template"
### Describe the bug

Bug desc

### Reproduction

[code]

### Screenshot

![image](https://user-images.githubusercontent.com/44067394/155332644-77fdaedf-23a7-4aab-a007-aa8e6e181fe8.png)

### Logs

[code]

### System Info

[code]

### Severity

critical

[2022-02-23 13:52] #722 closed

[2022-02-23 14:11] abidlabs commented on #638
On a somewhat related note, in my mind `Block` should be singular (as in, "let me build a Gradio Block for this model" analogously to "let me build a Gradio Interface for this model"). Can we rename classes so that we write:

[code]

instead of

[code]

Wdyt?

[2022-02-23 15:00] AK391 commented on #618
thanks @abidlabs for clarification, I also added a video here to show the issue @FarukOzderim

https://user-images.githubusercontent.com/81195143/155344808-14dfc86b-2b5b-4787-92ec-305429783827.mov

this is using `launchgradiofromspaces`

https://github.com/gradio-app/gradio/blob/37c8ee397449a184a5528a0a1061545ee8d17566/ui/packages/app/src/main.ts#L105-L112

[2022-02-23 15:04] abidlabs opened #723 "[Blocks] Implement other event triggers besides `click` & support event triggers across multiple components"
Currently, the only event trigger we support is `click`.

1. Can we add support additional event triggers? Some of these will be component specific, but something like an "on change" event would be useful for many different components. For example, in my Block below, I would like to run the function any time the input sliders change value

[code]

2. It would be nice if I could easily assign a tri

[2022-02-23 15:25] abidlabs commented on #690
Hi folks! I just built a `Block` to plot projectile trajectories when a user specifies the speed and angle of the projectile.

**Screenshot**

![image](https://user-images.githubusercontent.com/1778297/155348930-bbe7977b-f6d0-4261-9772-34bbe6367067.png)

**Code**

[code]

**Feedback**
* Very quick and easy to put together a demo for this. I like how the output plot is hidden until the button is cl

[2022-02-23 15:26] #701 closed

[2022-02-23 15:27] abidlabs commented on #697
Should be fixed now by #714!

[2022-02-23 15:27] #697 closed

[2022-02-23 15:27] abidlabs commented on #694
Should be fixed now by #714!

[2022-02-23 15:27] #694 closed

[2022-02-23 15:28] abidlabs commented on #646
As part of housecleaning, I'll go ahead and close this issue. Feel free to reopen if you are still experiencing this @yesdeepakmittal.

[2022-02-23 15:28] #646 closed

[2022-02-23 15:40] lukewys commented on #694
Oh, I see, I need to wait until 2.9.0 comes out. Huge thanks for fixing the bug

[2022-02-23 15:45] abidlabs commented on #694
Feel free to [install Gradio from `master`](https://github.com/gradio-app/gradio/blob/master/CONTRIBUTING.md) if you need it immediately, but we should be releasing a version out on pypi within the next day or so.

[2022-02-23 15:46] lukewys commented on #694
Huge thanks!

[2022-02-23 16:25] #618 closed

[2022-02-23 16:30] abidlabs commented on #713
Thanks for your question @mangsshinde. Yes it is possible! You can do:

[code]
to select multiple files

Or even
[code]
to select a directory

In both cases, the list of files that are uploaded are passed as a list to the function.

[2022-02-23 16:30] #713 closed

[2022-02-23 17:08] #454 closed

[2022-02-23 18:41] FarukOzderim opened #727 "Gradio Async Support"
Blocks and interface should support async functions.

[2022-02-23 19:03] #693 closed

[2022-02-24 00:57] ingasilk-virtusize commented on #83
I upgraded to 2.8.2 and it works! Thank you so much!!

[2022-02-24 06:13] byeolkady commented on #663
@abidlabs
I just checked with 2.8.2 version but "ssl.SSLError: [SSL] PEM lib (_ssl.c:3911)" error is occurred. What did I do wrong?

[2022-02-24 09:16] FarukOzderim commented on #513
Related information about spaces machines.

![image](https://user-images.githubusercontent.com/44067394/155494826-375c4288-9e66-4f04-b169-d61565bd079a.png)

[2022-02-24 11:47] anamtaamin commented on #458
Hi, I am trying to run on localhost and port. I went through the shared link but I have problems with downloading chocolatey. Is there any way that I just put 'localhost:5000/' and it opens up..?

[2022-02-24 13:40] aliabd opened #729 "[Blocks] `gr.Markdown` doesn't render markdown"
### Describe the bug

`gr.Markdown` only renders text, not markdown.

### Reproduction

[code]
<img width="253" alt="Screen Shot 2022-02-24 at 5 36 00 PM" src="https://user-images.githubusercontent.com/9021060/155534767-4df3e2c2-fa5b-4547-84a8-873f849c32c3.png">

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-02-24 13:51] aliabd opened #730 "[Blocks] `State` throws a js error"
### Describe the bug

Using `State` with `Chatbot` throws an error.

### Reproduction

[code]

Throws this console error:

[code]
Nothing is rendered on the page.

Replacing the block launch with
[code]
works as expected

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

blocker

[2022-02-24 14:00] aliabd opened #731 "[Blocks] String shortcuts for components"
Can we support string shortcuts for components like in `Interface`?

shortcuts like "sketchpad" save from having to define 4 parameters (`gr.inputs.Image(image_mode='L', source="canvas", shape=(28, 28), invert_colors=True)`)

Not currently supported in blocks.

[2022-02-24 14:25] aliabd opened #732 "[Blocks] Output has no loading feedback"
Currently while an event is processing there's no feedback to the user. I find myself often clicking the button again thinking I hadn't clicked it

https://user-images.githubusercontent.com/9021060/155542388-5f89cf4a-5c54-4aa0-a6d3-cb554c51443a.mov

We should add the loading gif from `Interface` somewhere

[2022-02-24 14:27] aliabd commented on #690
Built a `block` that can convert text to either audio or an image, depending on user's choice.

**Demo**
<img width="1227" alt="Screen Shot 2022-02-24 at 5 13 54 PM" src="https://user-images.githubusercontent.com/9021060/155530719-c6edaccc-2633-412e-871f-302257a98f87.png">

**Code**
[code]

**Feedback**
A few issues I faced with this and other demos:
* Markdown doesn’t seem to actually render mark

[2022-02-24 15:04] osanseviero opened #733 "Screenshot button does not appear in Gradio anymore"
### Describe the bug

I cannot see Gradio screenshot button.

### Reproduction

Examples
* https://huggingface.co/spaces/osanseviero/gradio_test
* https://huggingface.co/spaces/Salesforce/BLIP

Example code

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critical

[2022-02-24 15:18] FarukOzderim commented on #733
Thank you for the report, I presume the screenshot button was available in the previous versions for submitting an image?

[2022-02-24 15:24] osanseviero commented on #733
Yes. Here is an example of famous space which I'm sure we had screenshot button before. https://huggingface.co/spaces/akhaliq/ArcaneGAN

[2022-02-24 15:29] FarukOzderim opened #734 "Share Breaks In Spaces"
### Describe the bug

share=True usage in launch gives error in spaces

### Reproduction

https://huggingface.co/spaces/ruhwang2001/wonder-app/blob/main/app.py

`interface.launch(debug=True, share=True)`

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

critical

[2022-02-24 16:11] abidlabs commented on #734
That makes sense. We can coordinate with the Spaces team to set up that environmental variable.

My suggestion would be that if this environmental variable is set *and share=True*, then we print a helpful warning to the user saying that for Spaces, `share` should be set to `False`.

(Instead of overriding `share` as I don't think we should override an explicit parameter with an implicit environmen

[2022-02-24 16:14] FarukOzderim commented on #734
Gonna make us of these env variables for this issue:

https://github.com/huggingface/spaces-app-manager/blob/main/dockerfiles/cpu/Dockerfile#L45

[2022-02-24 16:20] abidlabs commented on #729
I experienced the same issue, it's not just you!

[2022-02-24 16:25] abidlabs commented on #732
Strongly agreed. This would be helpful so it would (1) confirm that I have indeed clicked the button (2) the function is still running and hasn't timed out.

Some questions:

* I'm not sure where it should go? (Footer maybe, which we don't currently have in Blocks)
* Should it show the timer and/or queue status?

[2022-02-24 16:35] abidlabs commented on #733
We no longer support the screenshot button because it was super buggy and hard to maintain. But we should make this clear to the users. Let's:

* Set `allow_screenshot` to be `False` by default
* And print a deprecation warning to users if they try to set it to `True`

[2022-02-24 16:38] FarukOzderim commented on #690
Regarding the last example the output is changing its position and size, it looks nice and well, however the positioning was not defined like that in the code.

- Generate image
![image](https://user-images.githubusercontent.com/44067394/155566884-0d6c4398-f137-4b72-a526-9c5901f208c6.png)

- Then generate audio

![image](https://user-images.githubusercontent.com/44067394/155566977-43f3ac59-b050-41

[2022-02-24 16:42] omerXfaruq opened #735 "Paste Image From Clipboard"
**Is your feature request related to a problem? Please describe.**
I think uploading images from the clipboard could make uploading images from web much more easier.
I used these kind of components before as a user and it was a nice UX. I will share it here if I can find an example

When you click select a file you either paste from clipboard or select a file from your computer.

[2022-02-24 16:47] abidlabs commented on #458
Do you need https @anamtaamin?

[2022-02-24 16:55] #541 closed

[2022-02-24 17:34] abidlabs commented on #635
Not needed as we have the milestone now

[2022-02-24 17:34] #635 closed

[2022-02-24 18:00] nateraw commented on #690
Have there been any discussions about an interface list as opposed to the context manager/blocks solution?

I think this sort of thing reads a bit better. It would sacrifice "shared" components from the blocks, but it would make it easier to define inputs/outputs via the shortcuts as opposed to having to define each input class instance explicitly.

[code]

[2022-02-25 00:32] abidlabs commented on #690
This is a really nice suggestion @nateraw. As a broader point, do you find that the `blocks` syntax is difficult to use? Or is it more that you feel that that this use case (of combining interfaces together) is common and should be easier to write?

If it's the second, then we have an idea that I'd like your feedback on. A `block`-ish of doing what you want could potentially look like this:

[code

[2022-02-25 01:10] aliabd opened #736 "[Blocks] Input/Output Component Limitation"
I would like to build a workflow where the output of a model is the input of another (two interfaces in series), but I can't pass `gr.outputs.<etc>` as an input to something (`submit.click(predict, inputs=gr.outputs.<etc>, outputs=predictions)`)

This is a major limitation. Flow I want is:

* User submits first input
* model returns first output
* second model returns second output using first out

[2022-02-25 01:13] aliabd opened #737 "[Blocks] Examples component"
Can we get a component for examples in Blocks?

Would love to add examples to my block like in `Interface`. Maybe it could be a parameter in `button.click`

[2022-02-25 01:21] aliabd opened #738 "[Blocks] Conditional Flow"
I would like to build a conditional flow based on output/selected input.

Something like a radio input "pick one of these options" and based on choice show them one of two inputs (and run one of two functions).

These leads to some cool demos:
* Multi step interfaces
* Related interfaces that can handle different inputs (ie Text OR Image) https://github.com/gradio-app/gradio/issues/450

[2022-02-25 04:23] nateraw commented on #690
I found having to do 2 nested `with`s to be not so intuitive. This is just one opinion from one person though!

The `blocks` syntax reminds me of the column/row management experience in streamlit, which I find for the most part to be confusing, and I see most folks (non-power users) just not using it - and if they do, the code is hard to read imho.

At the end of the day, if the point/driving forc

[2022-02-25 05:52] anamtaamin commented on #458
yes, like flask has its own server so does gradio, I want both of them to work on 'https://localhost:5000/'

[2022-02-25 10:12] JuanCarlosMartinezSevilla commented on #690
I'm not sure if I am understanding blocks the right way, but what I feel users want is a way to dinamically load the different inputs from others. For example if you want to have 2 functionalities in the interface you can just put a gr.input.Radio and then depending and what you have clicked... load other gr.input components.

In my case I would also love to see some way to reload individual compo

[2022-02-25 10:13] camillevingere opened #740 "Gradio Iframe"
### Describe the bug

When we flag from a gradio interface using Iframe, the api is not working (500 error)

### Reproduction

<link rel="stylesheet" href="https://gradio.s3-us-west-2.amazonaws.com/2.6.2/static/bundle.css">
<div id="manga-anime-demo"></div>
<script src="https://gradio.s3-us-west-2.amazonaws.com/2.6.2/static/bundle.js"></script>
<script>
launchGradioFromSpaces("temp-late/manga-anim

[2022-02-25 11:39] aliabd commented on #690
@chuachinhon the simplest way to get spaces to use the right version is to include these 2 lines at the top of app.py
[code]
That being said, this current beta version doesn't work on spaces. We're woking on an update that will soon.

In the meantime, would love to hear more of your thoughts. Does this setup work for what you want? Aside from grouping apps together, is there another flow you'd lik

[2022-02-25 12:21] aliabd commented on #690
@JuanCarlosMartinezSevilla thanks for the feedback! Yes, these are all cases we'd like to support, so thanks for documenting them. For clarity will list them here:
* Loading inputs based on user choice (also see https://github.com/gradio-app/gradio/issues/738)
* Using examples as a component and positioning on the screen (also see https://github.com/gradio-app/gradio/issues/737)
* Modify component

[2022-02-25 12:24] aliabd commented on #640
Including @nateraw comments here as well.
* https://github.com/gradio-app/gradio/issues/690#issuecomment-1050115607
* https://github.com/gradio-app/gradio/issues/690#issuecomment-1050508952

[2022-02-25 12:25] aliabd commented on #690
@nateraw thanks for the feedback! let's continue the conversation on https://github.com/gradio-app/gradio/issues/640

[2022-02-25 15:47] abidlabs commented on #141
An integration with Observable to support https://github.com/observablehq/plot in output components would be nice as well.

[2022-02-25 16:14] aliabd commented on #690
@chuachinhon we've updated the beta to `v2.8.0b22` and it works on spaces now! You can see an example [here](https://huggingface.co/spaces/aliabd/blocks-image-audio).

[2022-02-25 17:43] FarukOzderim commented on #734
@aliabid94 @abidlabs I fixed this issue with #739 and testing it on

https://huggingface.co/spaces/farukozderim/bug_test_1

However I am not getting an error and the error message, 🤔

[2022-02-25 17:44] FarukOzderim commented on #734
Oh the error came now, it was working nice and cool at the start :D

[2022-02-25 17:46] FarukOzderim commented on #734
Well we did not get a release, of course it will not be fixed 🤭

Will test it with the next release.

[2022-02-26 02:55] chuachinhon commented on #690
Nice! Will try it out in a bit

[2022-02-26 07:34] abidlabs opened #741 "[Blocks] Support dark mode in the browser"
Blocks currently doesn't support dark mode, as can be seen by Space: https://huggingface.co/spaces/chinhon/multilingual_headline_writer

(screenshot below)

![image](https://user-images.githubusercontent.com/1778297/155834531-f5bf2fe1-a98a-4062-96d3-628b2e2361b3.png)

[2022-02-26 09:03] abidlabs opened #743 "[Blocks] Add support for State"
We have a State component but I don't know how to use it in Blocks or if we have support for it.

For example, if I want to build a chatbot in Blocks, here's an example without using state. However, this would not work if the model is sent to multiple people since the history variables are shared across users:

[code]

[2022-02-26 09:09] abidlabs commented on #690
Inspired by @simoninithomas, I created an interface that shows 2 chatbots side by side and allows a user to talk with either one. Putting a basic placeholder together was actually super easy and lots of fun:

**Demo**

![image](https://user-images.githubusercontent.com/1778297/155837365-46e441d7-8114-493f-9d66-7b8c388f2be1.png)

**Code**
[code]

**Feedback**

1. Regarding the layout, it would have

[2022-02-26 09:10] abidlabs opened #744 "The `Chatbot` output interface should support a color map argument (similar to `HighlightedText`)"
Among other things, this would be useful if you have multiple chatbots in one demo:

![image](https://user-images.githubusercontent.com/1778297/155837396-1c4ff526-7618-4aaa-b962-0a8c4f303a01.png)

[2022-02-26 09:23] abidlabs commented on #562
This is an important issue that covers a lot of things, and I don't want to lose it, especially as you work on the website next week @aliabd.

So I converted @aliabid94's original post into a checklist. Let's knock out everything else on this list.

Alsco cc @dawoodkhan82 for the penultimate point

[2022-02-26 16:56] amanturate opened #745 "Dataframe Component examples are not working"
### Describe the bug

Examples paramter for Dataframe component is not showing up in the app. Even for tax calculator app in the docs page is not showing dataframe examples.

### Reproduction

https://colab.research.google.com/drive/1DV1J45I-pkbwPEh0e6xVOkPgtLaXn3Zx

### Screenshot

![image](https://user-images.githubusercontent.com/15848774/155851875-dc3312ce-6d5c-4c65-8c64-87663a554083.png)

###

[2022-02-27 21:18] abidlabs commented on #733
Closed by #739, thanks @FarukOzderim!

[2022-02-27 21:18] #733 closed

[2022-02-27 21:20] abidlabs commented on #700
Hi @saratrajput were you able to figure this out? Unfortunately, despite our best efforts, we can't replicate this issue. Please let us know if you see the same issue on colab and if possible share the colab with us. Otherwise, we will need to close the issue since we can't reproduce it

[2022-02-27 21:44] abidlabs commented on #663
Sounds like an underlying issue not related to `gradio`: https://stackoverflow.com/questions/30109449/what-does-sslerror-ssl-pem-lib-ssl-c2532-mean-using-the-python-ssl-libr

You can test this by trying to create a regular `FastAPI` server with your certificates and seeing if it works.

[2022-02-27 21:49] abidlabs commented on #745
Can confirm the issue, thanks for bringing it to our attention @amanturate!

Is this something you can look into @dawoodkhan82?

[2022-02-27 21:50] abidlabs commented on #740
@aliabid94 is this something you can look into?

[2022-02-27 21:52] abidlabs commented on #83
Glad to hear the issue is resolved!

[2022-02-27 21:52] #83 closed

[2022-02-27 21:53] abidlabs commented on #311
I think this is something we can facilitate with Blocks

[2022-02-27 21:55] abidlabs commented on #654
Is this something we can facilitate in Blocks?

[2022-02-27 21:56] abidlabs commented on #532
Should we still keep this an open issue @pngwn? IIRC you've started to add frontend tests

[2022-02-27 21:57] abidlabs commented on #457
Closing because it looks like the issue has been solved or no longer a relevant question.

If that's not the case, feel free to reopen with more details @patel-zeel

[2022-02-27 21:57] #457 closed

[2022-02-28 14:07] FarukOzderim commented on #734
tested and it works as expected 💪

https://huggingface.co/spaces/farukozderim/bug_test_1

[2022-02-28 14:07] #734 closed

[2022-02-28 14:31] abidlabs opened #750 "A Grid Output to Show a Grid of Images, etc."
One request we've heard from the past is to easily show a grid of (e.g. 4 by 2) images.

These are often the outputs of a GAN or some other image synthesis algorithm.

Right now, we tell users to convert their images to PIL and then stack them together manually, which is a pain.

Could we define a `Grid` output component analogous to `Carousel` that makes this a lot easier?

[2022-02-28 14:51] FarukOzderim opened #751 "Update Launch Getting Started Guides"
Usage of `iface.launch()` prints out `(<fastapi.applications.FastAPI at 0x7fef0dbbad10>,` in Google Colab and it is not fancy.

Let's update the first deliveries of `launch` in the getting_started guides so that people can adopt those usages.

[2022-02-28 15:36] fabivencrim opened #753 "Dataframe "New column" generating error when submitting"
### Describe the bug

Hi,

I tried using the "New column" feature to populate custom data in the Dataframe component, but it seems to be giving me an error. When adding a new column and submitting, I get the following error :

`ValueError: 3 columns passed, passed data had 4 columns`

I tested this feature in the Colab example in the documentation and Gradio also flags an error when submitting.

#

[2022-02-28 16:04] nateraw commented on #743
Also just came across this one when trying to add a tab for the [chatbot Guide](https://gradio.app/creating_a_chatbot/)

[2022-02-28 16:17] FarukOzderim opened #754 "Launch function's return parameters are missing in docs"
### Describe the bug

Launch function's return parameters are missing in docs, we shall look into docs.

### Reproduction

https://gradio.app/docs/#launch

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-02-28 16:20] #751 closed

[2022-02-28 19:05] abidlabs commented on #754
Closed via #755

[2022-02-28 19:05] #754 closed

[2022-03-01 07:43] FarukOzderim commented on #731
I think using strings for components names are not legit and hacky.
We can have these pre-prepared components in a class and import from there.

[code]
or
[code]

[2022-03-01 07:43] chuachinhon commented on #690
Hi @abidlabs and team: 2 quick questions on using Parallel and Series with Blocks. I've deployed a new demo on Spaces so it'll be easier to see what I mean: https://huggingface.co/spaces/chinhon/headlines_blocks_parallel_series

For Parallel:
- is there a way to "stack" the outputs on top of each other in 2 different windows, like gr.Interface?
- I've tried to work around it, but current version o

[2022-03-01 07:54] FarukOzderim commented on #743
When I look into #590 I don't see `State `component being edited, it seems something is affecting `State`.
@aliabid94 do you have any idea about what may be causing this?

[2022-03-01 07:59] FarukOzderim opened #756 "Missing gradio.mix in docs"
### Describe the bug

We don't have any docs about `gradio.mix`.

### Reproduction

https://gradio.app/docs/

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critical

[2022-03-01 08:06] FarukOzderim opened #757 "[Blocks] Brainstorming about Parallel and Series"
Regarding @chuachinhon's [comment](https://github.com/gradio-app/gradio/issues/690#issuecomment-1055118586), I think with blocks there is new opportunities with different designs and functionalities for `Parallel` and `Series`.

Though it would be on low priority for now.

[2022-03-01 08:48] FarukOzderim commented on #638
This is actually the case, if you check `__init__.py` you can see
`from gradio.blocks import Blocks, Column, Row, Tab`

But instead of implicit imports, explicit imports are better.
`from gradio import Blocks, Column, Row, Tab`
or
`from gradio.blocks import Blocks, Column, Row, Tab`

[2022-03-01 08:56] FarukOzderim commented on #638
I am not sure about this, when I hear Gradio Blocks I understand a page is created with blocks(block being a tab or component). So naming feels legit to me. We are not building a block but we are building a page with blocks.

CCing all the team, @aliabd @pngwn @aliabid94 @AK391

[2022-03-01 09:04] FarukOzderim commented on #639
I think we should reconsider this with Inputs and Outputs merging into Components.

Inputs and Outputs both can have default values.

[2022-03-01 09:09] FarukOzderim commented on #640
This feels like we should support using an instance of `Blocks` as a component in another `Blocks`.
How would this go with our current design @aliabid94?

[2022-03-01 09:14] FarukOzderim commented on #651
Both feels doable to me.

1. We would have a field of `page_load` in our config json and frontend would respect that at the initial load of the webpage.
2. In this instance this event would have no output, and frontend would work according to this.

WDYT @pngwn?

[2022-03-01 09:48] FarukOzderim commented on #732
This should be high priority.

[2022-03-01 09:48] FarukOzderim commented on #736
This should be high priority, will look into this.

[2022-03-01 09:51] FarukOzderim commented on #738
This feels like multiple tabs inside a tab, not sure it is suitable with our design. WDYT @pngwn and @aliabid94?

[2022-03-01 14:43] abidlabs commented on #738
I agree that the use case @aliabd is describing can be accomplished through tabs. But there are similar use cases that can't easily be turned into a small number of tabs. For example, if you have a dropdown with 5-10 different options, and based on what is selected, you want to show them a particular interface. It would be too much to have 5-10 different tabs, but if you could _render_ a particula

[2022-03-01 14:48] abidlabs commented on #639
In addition to default values, components should be able to display suitable variables statically for convenience. For example, we should be able to use `Image` to display an image easily, `Dataframe` to display a pandas DataFrame, `Audio` to display audio files, etc.

As an example of why this is useful, see this website: https://erlj.notion.site/Neural-Instrument-Cloning-from-very-few-samples-2c

[2022-03-01 14:57] abidlabs commented on #731
String identifiers are  pretty common practice in parameters the way we have them in `inputs` and `outputs`. For example, see https://keras.io/api/optimizers/ (`"adam"` and `Adam()` both work). I actually think they are part of the convenience of high level APIs like Keras and Gradio.

That being said, they are not very convenient in the Blocks context, since you can't just have a string by itself

[2022-03-01 15:14] Adeel-Intizar commented on #654
there is already an option for width and height in gr.Interface().launch(width=..., height=...), but currently it works for only jupyter notebooks, it'd be best if it can be effective in browsers as well

[2022-03-01 15:33] FarukOzderim commented on #736
@aliabd can you share the example you are working on if it is easy to find?

I am trying to create an example for this and see the error we getç

[2022-03-01 18:42] FarukOzderim commented on #736
It seems we need to edit output components for this to work, and it feels like it would be more efficient if we combine Inputs and Outputs to Components while we are at it?
WDYT? @aliabid94 @abidlabs @pngwn

[2022-03-01 21:36] abidlabs opened #759 "Loading from Spaces is Broken"
### Describe the bug

Getting this error when trying to use `gr.Interface.load()` with a Space

[code]

### Reproduction

import gradio as gr

gr.Interface.load("spaces/abidlabs/english_to_spanish")

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critical

[2022-03-01 21:36] Lastly commented on #690
I have tried out blocks now and have a few pieces of feedback. I found it easy to use and was able to make my desired layout quickly with one button outputting to multiple tabs with different views. Building an interface with rows/columns is intuitive to me, very HTML-like. I prefer the control compared to the previous 'magic' of the standard interface. I think this new UI type will be useful for

[2022-03-02 01:13] abidlabs commented on #759
Closed via #760

[2022-03-02 01:13] #759 closed

[2022-03-02 01:19] byeolkady opened #761 "How to use api in kotlin"
Can I use gradio api in kotlin?! If there's a way, please let me know.

[2022-03-02 01:23] abidlabs commented on #761
`gradio` works with any Python function. So while it would not be possible to use gradio directly in Kotlin, if you can call your kotlin script from the terminal, through python's `os.system()`, then you may be able to use it with Kotlin.

[2022-03-02 17:30] osanseviero opened #764 "Loading a Space Interface fails"
### Describe the bug

Using https://twitter.com/abidlabs/status/1447939086522757143, I tried to launch the existing interface but I got unclear error without anything actionable. Note that the original space seems to fail when running inference: https://huggingface.co/spaces/akhaliq/CLIP_prefix_captioning

### Reproduction

Run following cell

[code]

Error: ValueError: Could not load the Space: a

[2022-03-02 17:52] FarukOzderim commented on #764
@osanseviero thanks for the report, actually this is a known issue due to the some changes in the spaces. #760

@abidlabs @aliabid94 shall we make a new release to fix this error on the user side as well?

[2022-03-02 18:23] abidlabs commented on #764
Yes, I will release 2.8.6 later today

[2022-03-02 18:23] #764 closed

[2022-03-02 18:23] abidlabs commented on #761
Closing for now, feel free to reopen if you run into any issues trying this.

[2022-03-02 18:23] #761 closed

[2022-03-02 20:15] osanseviero commented on #764
FYI I tried to install from head at https://huggingface.co/spaces/osanseviero/clip_fork but still seems to have issues

[2022-03-02 21:32] osanseviero opened #767 "Webcam input flips after taking picture"
### Describe the bug

When I click the camera button, my image is flipped

### Reproduction

See https://huggingface.co/spaces/osanseviero/remove-bg-webcam

Code

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-03-02 21:34] abidlabs commented on #767
I thought this was fixed, can you take a look @dawoodkhan82?

[2022-03-03 01:25] dawoodkhan82 commented on #767
it should've been, I'll take a look

[2022-03-03 17:47] AK391 opened #768 "gradio Image shape None for width or height"
As discussed the gradio Image shape tuple should be able to set (width, None) or (None, height) for setting only a width or height for resize and crop operations and scale accordingly

https://github.com/gradio-app/gradio/blob/c9298b38021323918037a5a39914a787e8517f60/gradio/processing_utils.py#L96-L113

[2022-03-04 14:22] abidlabs opened #776 "[Blocks] Is it possible to support iterative updating of an output component?"
Not huge priority, but we've heard this request in the past, and just heard this from a user at Hugging Face, who wanted to update the images in an image output component iteratively.

From the user:

Space they linked: https://huggingface.co/spaces/edbeeching/atari_live_model

[2022-03-04 16:04] abidlabs opened #777 "Update fastapi routes to use pydantic data models"
There are several routes where we manually convert the request to a dictionary using e.g.:

[code]

It is better to use FastAPI's built in support for pydantic data models, which allows automatic validation & typing.

[2022-03-04 16:58] pngwn commented on #776
Is this supposed to be like a fake gif? Rendering a series of images one after the other with a small delay between them?

[2022-03-04 17:54] dynamicwebpaige opened #778 "[Responsible AI] Give users the ability to opt for a spectrum of outputs, as opposed to a single inference."
## ✍️  Issue Description
**Is your feature request related to a problem? Please describe.**
Super-resolution models, which take low-res images as inputs and output images of a much higher resolution, are often fraught with bias; as are computer vision models, in general (please refer to the work of Meg Mitchell, Timnit Gebru, et al).

In a recent example showcased on Twitter, a low-res image of fo

[2022-03-04 18:18] FarukOzderim commented on #778
Great suggestion, thanks we are looking into it 👍

[2022-03-04 18:35] pngwn commented on #778
This is interesting, the current/in-flight blocks work will easily support multiple inputs to an output but we haven't really discussed multiple outputs from a single 'input'.

Thinking about it, I don't think the current blocks API would support this, so we would need some specific API for this (could be mistaken). This also feels like a useful enough usecase that we could create a 'flow' or shor

[2022-03-04 18:41] pngwn commented on #767
Copying in a comment from slack.

[2022-03-04 18:43] pngwn commented on #750
This feels related to #778.

If we can figure out how to spread the output of a fn across components, we could let the user decide how to display those components without layouting components perhaps: grid, list, row, etc.

[2022-03-04 18:46] pngwn commented on #744
Do you mean it should support custom colors for user/ bot? The color map actually highlights certain pieces of text iirc, would we want that kind of functionality too?

[2022-03-04 19:16] abidlabs commented on #744
Sorry my issue was quite abbreviated and unclear. I mean the former: different colors for the user / bot (with the current gold / white being the default)

[2022-03-04 19:43] abidlabs commented on #776
Yeah somewhat like that. The basic idea is to render a sequence of images (or more generally any output) _as they are returned_ by a function instead of returning a GIF all at once at the end. You could imagine a loop that returns a 100 images, but it takes a while to generate each one. In Python, you have [generators](https://realpython.com/introduction-to-python-generators/), which can yield mul

[2022-03-04 19:46] pngwn commented on #776
Starting to feel that we should be setting up a websocket connection with the backend rather than polling, it wouldn't make stuff like this much easier for realtime communication between client + server.

[2022-03-04 21:03] rclosson opened #779 "Authentication for Gradio webapp breaks app"
### Describe the bug

auth=("username","password") doesn't work

### Reproduction

import gradio as gr

def greet(name):
    return "Hello " + name + "!!"

iface = gr.Interface(fn=greet, inputs="text", outputs="text")
iface.launch(share=True,auth=("benc","P@ssw0rd123"))

### Screenshot

![image](https://user-images.githubusercontent.com/100968394/156840864-65eaab12-7641-409a-94db-2b2c56ef337d.png)

[2022-03-04 21:32] abidlabs commented on #779
Yikes can confirm that this is an issue for me in [colab as well](https://colab.research.google.com/drive/1lnJ-Dg2qgjKHvy6wxeiLyGOZTD60Qxhc?usp=sharing). I see the following error in the front end:

[code]

@aliabid94 or @pngwn can one of you guys take a look at this?

[2022-03-05 01:21] Lastly commented on #690
I would love to see step-gating implemented in blocks as well. For example, a multi-stage demo could have tabs 'Step 1', 'Step 2', etc. To make this user-friendly the inputs (tabs, buttons, text inputs) should ensure that step 1 is completed before letting the user engage with step 2.

This could be done accomplished by an enable/disable option `if step1: step2.enable()` or by a requires argument

[2022-03-05 08:30] sandstorm12 opened #780 "Video input from webcam not working"
### Describe the bug

I have tested this feature using your demo available on [Colab](https://colab.research.google.com/drive/1hWvmAfh_2TVxK5D0_EsJuGYTDqMQTjrx). Also, have tried the same code on local ubuntu (20.04) machine. I have opened the web UI on the latest versions of chrome and firefox on ubuntu and the latest chrome and firefox version on android. In all scenarios, the Gradio UI is just

[2022-03-05 08:36] aryan461 commented on #780
Same for me. Even the browser doesn't ask for access to my webcam. Simply nothing happens.

[2022-03-05 15:03] FarukOzderim commented on #778
We actually have multiple outputs in the api, we provide them as a list, but not sure about its functionality, @abidlabs and @aliabid94 could clarify it more.

But we could use multiple variables returned from the target function right?

[2022-03-05 17:03] abidlabs commented on #779
@rclosson in the meantime, please use a previous version of Gradio, e.g it works if you do: `pip install gradio==2.7.5`

[2022-03-05 17:05] abidlabs commented on #780
Ah thank you for bringing this to our attention @sandstorm12, @aryan461. We are looking into this.  In the meantime, please use an older version of Gradio. `pip install gradio==2.7.5` seems to work

[2022-03-05 17:40] dynamicwebpaige commented on #778
@FarukOzderim That sounds like it could work! As another example of this kind of functionality, in the wild - GitHub's Copilot gives users the ability to view a subset of 10 potential source code completion results, accessible in VS Code through the command palette (`Ctrl + Shift + P`). Image below from IntelliJ:

![image](https://user-images.githubusercontent.com/3712347/156894130-4d8f8c53-c45e-4

[2022-03-05 21:53] abidlabs commented on #778
Yes as @FarukOzderim pointed out, we do support a multiple outputs with `gradio.Interface`. If a function returns multiple values, those values can be assigned to multiple output components by providing the output components (of the same type or different types) as a list. As a quick example:

[code]

![image](https://user-images.githubusercontent.com/1778297/156901038-f9bfd79c-59f7-4252-8854-5c65

[2022-03-05 22:49] dynamicwebpaige commented on #778
@abidlabs Multiple outputs -- building on the concept of [_small multiples_](https://en.wikipedia.org/wiki/Small_multiple) -- would be ideal; similar to the image below, [which details a grid layout from Shiny](https://shiny.rstudio.com/articles/layout-guide.html):

![image](https://user-images.githubusercontent.com/3712347/156902147-fdb37fad-7478-4507-969c-3b24dc6e1101.png)

Plotly also supports

[2022-03-05 23:03] dynamicwebpaige opened #781 "[Docs] Consider annotating parameters in `gradio`'s API docs."
## 📊  Feature Request: Description
**Note**: *This would be low priority, and a nice-to-have.*

For users who do not necessarily have experience with crafting visualizations using JavaScript or Python, it would be meaningful to include descriptive annotations for Gradio's API parameters in the documentation, similar to this example from Plotly:

![image](https://user-images.githubusercontent.com/3

[2022-03-06 02:49] abidlabs commented on #781
Thanks @dynamicwebpaige, this is super helpful! @aliabd do you wanna look into this?

[2022-03-06 02:51] abidlabs commented on #780
@dawoodkhan82 is this something you can look into?

[2022-03-06 08:50] prakharrathi25 commented on #690
Hi,

I am trying to build an application which would hide components based on other components. So, for example there can be a checkbox which lets me decide which components I want to show at a time. Here is what the logic looks like.

[code]

checkbox1 components should not interfere with checkbox2 components. For ML, I can use one section for model training, one for inference and one for model r

[2022-03-07 00:04] discdiver opened #783 "Move pypi releases to github actions triggered by releases"
### Describe the bug

Latest version on PyPI is 2.8.7. Latest release version listed on GitHub is 2.8.1

### Reproduction

just take a look at GitHub :)

### Screenshot

![Screen Shot 2022-03-06 at 7 02 31 PM](https://user-images.githubusercontent.com/7703961/156948178-861ec44e-0045-47b8-8e42-3dfae8de192d.png)

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-03-07 02:46] abidlabs commented on #783
Thanks @discdiver for pointing this out!

cc @aliabd @FarukOzderim @aliabid94 it would be better if we managed everything through GitHub Releases. We can set up a GitHub action to automatically push to pypi when we create a new release [1]. What do you guys think?

[1] https://www.caktusgroup.com/blog/2021/02/11/automating-pypi-releases/

[2022-03-07 03:24] abidlabs opened #784 "[Blocks] Handling visibility and/or gating for multi-step interfaces"
We've heard a lot of demand for multi-step interfaces, i.e. where the user first specifies one input, then function runs, and then the user picks a second input, and so on. As part of these interfaces, we need to give the user control over what components are visible at any point.

**Motivation:**

As @Lastly mentions in #690:

If we simply hide the step 2 components until step 1 is complete, this

[2022-03-07 03:25] abidlabs commented on #690
Thanks for the feedback @Lastly and @prakharrathi25! I have created an issue around the step-gating / visibility issue that you guys have mentioned: #784

[2022-03-07 03:58] abidlabs opened #785 "Potentially add more configurations to the footer / make it expand into a menu?"
We need to add a footer to Blocks or Interface made from Blocks. We could potentially use this opportunity to build out the Gradio footer a little more. It could provide users with:

* ability to toggle between supported languages
* ability to switch between dark/light mode
* ability to generate an embed link (maybe?)
* ability to record a GIF / screencaste (maybe?)
* ability to view the API docs

[2022-03-07 06:52] FarukOzderim commented on #783
Agreed!

[2022-03-07 07:21] FarukOzderim commented on #680
I think this should not be in our priority, this should be in the 2nd next release :)

[2022-03-07 07:22] FarukOzderim commented on #639
@pngwn I think this will be the case when a component is not used as either an input or output in any event.
I think you are handling this currently as well, assigning it to you :)

[2022-03-07 07:23] FarukOzderim commented on #737
I think this should not be in our priority, this should be in the 2nd next release :)

[2022-03-07 07:24] FarukOzderim opened #786 "Combine Inputs and Outputs under Components"
We will Combine Inputs, Outputs and Statics under Components while supporting the old api usage with workarounds.

Related PR and discussion: #765

[2022-03-07 07:39] FarukOzderim commented on #640
Moving this to high priority.

[2022-03-07 20:47] rclosson commented on #779
The problem with that solution is that my fully-rendered HTML output (in more complex situations than the minimal problem that I presented here) do not get output properly when share=True is on in that earlier version.

[2022-03-08 02:32] #777 closed

[2022-03-08 04:03] #767 closed

[2022-03-08 04:57] dynamicwebpaige commented on #781
I'm also happy to help design the annotated code samples, if you'd like an extra hand @aliabd! 😄

And it looks like there is a library [called `synercys`](https://github.com/synercys/annotated_latex_equations#examples) that might be able to support this use case, and to make the annotations a bit easier to maintain:

![](https://github.com/synercys/annotated_latex_equations/raw/main/example_output

[2022-03-08 06:15] aliabid94 commented on #779
Fixed in 2.8.8. Let us know if you have any other issues with it!

[2022-03-08 06:15] #779 closed

[2022-03-08 06:15] aliabid94 commented on #780
Fixed in 2.8.8. Let us know if you have any other issues!

[2022-03-08 06:15] #780 closed

[2022-03-08 14:11] aliabd commented on #781
This looks so great @dynamicwebpaige thanks for the suggestion! Will definitely loop you in as we start to work on it :)

[2022-03-08 17:20] Adeel-Intizar opened #789 "Output Img on top and input img at bottom in vertical layout with blocks ?"
Hi, how can we show output image on top and input image at bottom after model prediction in Vertical layout with blocks?

Thanks

[2022-03-08 17:29] Adeel-Intizar opened #790 "Overwriting input image with output image ?"
Hi, how can we show the output image at the place of input image, this means after model inference overwriting the resulted image (OUTPUT) with the input image instead of showing in parallel ?

Thanks

[2022-03-08 18:18] cl3m3nt opened #791 "HTML file is not rendered"
### Describe the bug

Below HTML cannot be rendered correctly as output.
Is there some limitation in the type of html file that can be output ?
This html file is generated using Open Street Map and folium python package.
The html file is attached as TXT.

[plasticmap.txt](https://github.com/gradio-app/gradio/files/8208662/plasticmap.txt)

### Reproduction

[gradio_html.txt](https://github.com/grad

[2022-03-08 18:32] FarukOzderim commented on #513
This is found to be unnecessary with the latest information. It seems that ML libraries are already utilizing multi core while working in CPU. Thanks @cbensimon for the information 🤲!

A related test and screenshot can be found below, as I tested it for fastapi/starlette threadpool as well.

![image](https://user-images.githubusercontent.com/44067394/157302697-95fde461-62c0-43ba-bfb7-2a0c00fb5b97.

[2022-03-08 18:32] #513 closed

[2022-03-08 18:46] abidlabs commented on #513
Very good to know, thanks @FarukOzderim and @cbensimon!

[2022-03-08 19:09] #567 closed

[2022-03-09 01:16] abidlabs commented on #790
This is a good suggestion and I think it would allow for to some cool demos. @pngwn @FarukOzderim can we design Blocks so that if the same component is provided as the input and output, the result of the model inference would overwrite the input?  E.g.

[code]

I think we could also build a nice higher-level abstraction `UnifiedInterface` which is designed for these use cases.

[2022-03-09 01:48] aliabid94 commented on #791
This occurs because the HTML element does not exist in an element, so the content of your HTML page is conflicting with the gradio page. You should wrap your output in an iframe, for example
[code]

[2022-03-09 01:50] aliabid94 commented on #791
Let me know if you have any other questions @cl3m3nt, will close for now. @dawoodkhan82 this is a Leaflet/Openstreetmap output, let's add native map output support soon.

[2022-03-09 01:50] #791 closed

[2022-03-09 02:01] abidlabs commented on #789
This is currently possible with Blocks! Blocks simply reads the components that are defined in order. So if your code looks like this, the output image will be on top of the input image:

[code]

[2022-03-09 02:03] #789 closed

[2022-03-09 03:12] FarukOzderim commented on #790
I think this will be possible when components are merged into one.

[2022-03-09 05:15] aliabd commented on #672
Hey @MatthieuBizien thanks for the detailed notes here! We discussed this suggestion internally and feel it's a bit too early. I'm going to close this issue but we'll take another look at it sometime in the future.

In any case, if you're strongly in favor of this, we would be open for a PR.

[2022-03-09 05:38] Adeel-Intizar commented on #789
It works perfectly fine, can I adjust width/height in browser for the interface ? @abidlabs

Thanks

[2022-03-09 05:41] aliabd commented on #672
Actually, we decided to keep it open for now :)

[2022-03-09 09:12] cl3m3nt commented on #791
Thanks [aliabid94](https://github.com/aliabid94) it works like a charm !
I really appreciated your prompt feedback.

[2022-03-09 14:07] pngwn commented on #781
The API docs are pretty difficult to parse for users right now and could do with some TLC, so I think this is a brilliant idea. I think something like this combined with an interactive playground preloaded with examples (a kind of fake, live coding environment) that people can play around with will make the library more accessible.

Also related is the theme builder that I'd like to spend some tim

[2022-03-09 14:15] pngwn commented on #790
Yeah, i think this should just work but don't quote me on that. Definitely an interesting usecase and something we will want to capture in our tests.

[2022-03-09 15:53] rclosson commented on #779
Testing it in my own environment the issue seems to be resolved. Thank you!

[2022-03-10 04:25] Adeel-Intizar opened #801 "Download Just Output Image Instead of Screenshot ?"
Hi, how do i download just the output image instead of the screenshot ?

Thanks

[2022-03-10 04:33] #552 closed

[2022-03-10 04:40] abidlabs commented on #801
You should be able to just right-click on the image and save it. Let me know if that doesn't work on your browser/OS

[2022-03-10 04:58] Adeel-Intizar commented on #801
yes, It works that way, but it would be better user experience if there is a button to download the image, can we implement that in gradio ?

[2022-03-10 05:08] abidlabs commented on #801
I understand what you are saying, but we're careful about limiting additional buttons that take up real estate on the interface. I don't think we'll implement in the default `Interface`, and instead make it possible for a user to do this through the `Blocks` API.

[2022-03-10 05:08] #801 closed

[2022-03-10 06:55] FarukOzderim commented on #790
Added it to test workflows!

[2022-03-10 14:18] FarukOzderim commented on #732
We could share feedback about steps of the pipeline or blocks as well. Just got a feedback like this from @osanseviero
[code]

[2022-03-10 14:26] FarukOzderim opened #802 "Gradio docs linking in Huggingface Docs"
It could be better to link gradio docs inside the HuggingFace docs, WDYT @abidlabs , @aliabd ?

Thanks to @thomwolf for the feedback 😸

[2022-03-10 16:16] abidlabs commented on #802
Yup that would be super nice to have a link. But this should be an issue on the repo for the hugging face docs?

[2022-03-10 16:24] erogol opened #803 "UI does not update with a new output"
### Describe the bug

When the user runs a new model, the audio player does not update.

### Reproduction

Please try out on the UI https://huggingface.co/spaces/erogol/CoquiTTS

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-03-10 16:43] FarukOzderim commented on #802
Good idea!

[2022-03-10 16:43] #802 closed

[2022-03-10 17:50] aliabid94 commented on #803
Yikes, I thought we fixed this. Taking a look

[2022-03-10 18:14] aliabid94 commented on #803
Fixed in 2.8.10! Let me know if you have any issues still.

[2022-03-10 18:14] #803 closed

[2022-03-11 11:07] pngwn commented on #704
I think that this depends on the component. Previosuly we had labels for everything even if it didn't really make sense in the context of the component but when we removed them, we also removed it from components where it _does_ make sense.

Inputs are one example of a component that needs labels but they should be part of the component itself, rather than external labels.

Short version: Needs as

[2022-03-11 11:11] pngwn commented on #732
Blocked until redesign is finalised. Will sync with Victor on this one.

[2022-03-11 11:13] pngwn commented on #680
@abidlabs is this the same as #736 ?

[2022-03-11 11:16] pngwn commented on #596
I think this component needs simplifying a little as well. Would be a good time to do it.

When I find time I'd like to go through all components and look at validation + error handling. We definitely have a number of blank spots in this regard. Another good one to sync with Victor on, re: redesign.

[2022-03-11 12:34] abidlabs commented on #680
Yes it is, let me close this one. Thanks

[2022-03-11 12:34] #680 closed

[2022-03-11 12:35] abidlabs commented on #736
Copying over from #680. The way it might look for the user:

[code]

Basically every component (e.g. the Dropdown) should be able to be treated as an input or output

[2022-03-11 12:37] abidlabs commented on #704
Input and output components both should have labels, right? At least that's what do we for `Interface`, and it is usually helpful.

For what components does it not make sense to have associated labels?

[2022-03-11 12:38] ovuruska opened #806 "Development Server for Gradio - Real-Time Updates in Code"
What about live server? Every change inside the root directory restarts server.
It will significantly improve development speed. In addition to that, people can benefit from Gradio not only a production tool but also a development tool.

create-react-app shows wonderful realization of that feature. When  a pre-specified file in the project is modified, React DOM is rerendered.

[2022-03-11 12:39] abidlabs commented on #806
It is possible to set up Gradio to do live development. Take a look at the discussion here: https://github.com/gradio-app/gradio/discussions/643

[2022-03-11 12:44] pngwn commented on #704
I think there is a risk that the labels could interfer with the layout the user wants. Take markdown, html, json, they won't always need label because the purpose may be obvious from the context. Someone could be writing an article using blocks for example. Markdown will never need a label imo, you can write markdown. Even components like image won't always need a label.

I think we can add option

[2022-03-11 12:45] pngwn commented on #704
I do think labels make sense for interfaces though, yes. It is a constrained use-case and the labels make sense in that context. Victors new designs have some kind of label in place.

[2022-03-11 12:49] pngwn commented on #806
I think this is a request to have this supported out of the box, via some kind of command. I think the issue currently is that gradio is just a library and has little opinion on how your run the code. That would need to change.

I do think there is some value in this, it is something I have wanted myself but probably isn't a high priority right now. People don't only interact with gradio locally,

[2022-03-11 13:07] abidlabs commented on #704
Yes, to me these seem like sensible defaults in each case. But wouldn't it be (1) easier to implement (2) more flexible for the user if we allowed (but did not require) labels in all of these cases?

Because I can see exceptions:

For example:

* Except if `HTML` or `Markdown` is used as an output component in an `Interface`, in which case someone may want to pass in a label to designate what the

[2022-03-11 22:38] julien-c commented on #651
Example of Space that needs (and hacks) a on_page_load feature: https://huggingface.co/spaces/julien-c/persistent-data

[2022-03-11 23:31] zakutnyaya opened #812 "Pagination of examples doesn't work"
Hi guys! We faced the following problem while using **gradio** of **2.8.0 version**.

We use gradio to create some kind of demostand to visualize how our Computer Vision algorithm works.
We upload some sample images (**examples**) to our demostand via the following code (code was simplified):

[code]

As you can see, we defined parameter examples_per_page. However, when we run this code, there is

[2022-03-12 10:42] cl3m3nt commented on #791
Dear [aliabid94](https://github.com/aliabid94),
I got a gradio error when deploying my app on Spaces. Everything works fine locally, the build of the spaces app is successful as well and I don't get any pythor error within the app logs. Do you have any tip to troubleshoot this gradio error ? My app is here: https://huggingface.co/spaces/Surfrider/surfnet

[2022-03-13 08:46] cl3m3nt commented on #791
My inference was > to 1 minute.
Adding enable_queue=True option during interface launch fixed the gradio time out.

Thanks

[2022-03-14 07:42] FarukOzderim commented on #806
Regarding this we should also make our launch of our Interface more beautiful or proper.

- We should support running application with uvicorn, ie: not launch just prepare for launch.
- I also think it would be better if we launched application with `uvicorn.launch` command instead of running in a thread as well.

[2022-03-14 15:00] ArcaneSheep opened #818 "Adding Rear Camera Support for Mobile Phones"
Currently the source=webcam option to input images and videos defaults to the Front camera of the Mobile Phone, it would be great to have it supported for the Rear camera as well as it would be required in certain situations. Hope this gets added :)

[2022-03-14 16:48] AK391 opened #819 "cache_examples not working in gradio==2.8.10"
### Describe the bug

cache examples is not working in latest version of Gradio

### Reproduction

example: https://huggingface.co/spaces/akhaliq/AnimeGANv2

working in gradio==2.7.5.2

example: https://huggingface.co/spaces/akhaliq/ArcaneGAN

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-03-15 05:56] FarukOzderim commented on #786
It might be nice to update name of `default` parameter with `default_value`, leaving it after the migration PR for simplicity.

[2022-03-15 07:37] FarukOzderim opened #820 "Video Example Guide Not Working"
### Describe the bug

https://colab.research.google.com/drive/1hWvmAfh_2TVxK5D0_EsJuGYTDqMQTjrx#scrollTo=e21CGmzAaOq8

This example does not work in colab or gradio public link.

### Reproduction

https://colab.research.google.com/drive/1hWvmAfh_2TVxK5D0_EsJuGYTDqMQTjrx#scrollTo=e21CGmzAaOq8

### Screenshot

![image](https://user-images.githubusercontent.com/44067394/158328802-b2042c62-573a-4464-a

[2022-03-15 11:15] pngwn commented on #723
**Proposed Component Events**

| Component | Event | When? | Notes |
|---|---|--|--|
| **Audio** | `change`|  audio source changes |  should this be `on:data`? |
|  | `clear`| audio source is reset to nothing | |
| **Button** | `click` | button is clicked | |
| **Carousel** | `change` | current item changes | |
| **ChatBot** | `message` | chatbot posts a message | |
| **Checkbox** | `change` | che

[2022-03-15 11:46] pngwn commented on #723
I think `change` is better than `data` thinking about it. Data kind of makes sense the first time something is loaded but for edits, it makes less sense.

[2022-03-15 13:52] FarukOzderim commented on #723
@pngwn could you elaborate on this, how can user reset the video source?
**video source is reset to no value**

[2022-03-15 13:54] pngwn commented on #723
Click a button and clear the value / set it to null. The reason for the separate event from `change` is because you typically won’t want to run a prediction on a null value.

[2022-03-15 15:37] pngwn opened #821 "Allow users to change arbitrary component inputs"
We chatted briefly about this offline, but how should we handle multiple inputs (and possibly outputs for a component). The work in #807 partially addresses this issue but this slide/dropdown example would not be possible currently as we do not have a way to have multiple inputs/ouputs and inconsistent inputs/outputs:

[code]

@aliabid94 Mentioned recreating a new config but I'm concerned about th

[2022-03-15 15:37] pngwn commented on #736
I've opened a new issue to cover the final example which is subtely, but significantly, different from the initial usecase. #807 addresses this one.

[2022-03-15 18:14] aliabid94 commented on #723
This is great stuff, love it.
Shouldn't "submit" apply to chatbot too? When a user presses enter. And "change" if a user types a single letter?

[2022-03-15 18:22] aliabid94 commented on #821
I was thinking something the lines of this:
[code]

So if you return normal values from a function, that becomes the new value represented by the Block. But if you return a Block.update(), the config of the Block gets updated instead. Block.update takes the same args as the constructor for the Block itself.

It's possible to update both the config and the value of a component, e.g.

[code]

[2022-03-15 18:29] abidlabs commented on #723
No because the `chatbot` component only displays messages like this:
![image](https://user-images.githubusercontent.com/1778297/158446896-6d4ed9fe-3972-4c11-8b98-535f28804936.png)

(Doesn't include the input textbox)

[2022-03-15 18:39] aliabid94 commented on #821
Block.update being a class level method implemented for every Block/

[2022-03-16 09:26] MohamedAliRashad opened #823 "[Blocks] Recreate the original interface using Blocks"
I want to make a multi-interface website but with the nice interface that comes as default with gradio.

Is there a tutorial on how to do the default interface with `Blocks()` ?

[2022-03-16 14:27] MohamedAliRashad opened #824 "Interface doesn't work right"
### Describe the bug

After i upgraded gradio to it's latest version. The interface doesn't take the whole area of the website.

### Reproduction

[code]

### Screenshot

![Screenshot from 2022-03-16 16-05-26](https://user-images.githubusercontent.com/26205298/158608305-7ee0edf2-3757-403b-9c95-841f33beab8b.png)

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-03-16 16:34] pngwn commented on #723
Updated the table and implemented all of the events on the frontend in #807.

We can use the table above as a source of truth for syncing front and backend but also for documentation. We should just keep editing it as anything changes.

[2022-03-16 16:51] abidlabs commented on #823
Great question @MohamedAliRashad! We are working towards this goal -- we should have something in the next few weeks!

[2022-03-16 16:51] abidlabs commented on #824
Hi @MohamedAliRashad thanks for opening the issue. Can you please explain what is the issue with the output here?

[2022-03-16 21:44] aliabid94 commented on #824
The dark theme doesn't come to the bottom. Will fix!

[2022-03-16 21:45] aliabid94 commented on #812
Taking a look!

[2022-03-16 21:50] aliabid94 commented on #820
Webcam and Microphone never worked on colab because the iframe doesn't allow media access, but we used to print a warning for that when you ran in colab. Will take a look what happened to it.

[2022-03-16 22:22] abidlabs opened #825 "A few small component label issues"
### Describe the bug

As I was creating demos for the course, I noticed some small issues related to the labels of the components:
* The label of an input component is sometimes `null` (by default, it should be "Input")
* The default input component label ("Input") and output component label ("Output") should both be lower-cased to be consistent e.g. with parameters, which are typically lower case

[2022-03-16 22:42] MohamedAliRashad commented on #823
@abidlabs I don't normally think of coincidences but it's interesting when i apply yesterday for Fatima's Fellowship and today have a response from one of it's organizers and phd students.

I am from Egypt and i was using Gradio for a simple demo project in our company.
Your work helped me a lot, Thanks :heart:

[2022-03-17 05:58] FarukOzderim commented on #820
I see, try it gradio link as well please, because the video did not work gradio public link.

[2022-03-17 08:12] AstraliteHeart commented on #700
I've experienced the same issue and this comment seems to describe what is going on well https://bugs.python.org/issue43975, I can also confirm the registry fix works (but you may need to clear the cache).

[2022-03-17 16:05] #700 closed

[2022-03-17 16:40] tareknaous opened #829 "Slider not set at default value at launch when used with chatbot"
### Describe the bug

I was building a demo for a DialoGPT-based chatbot model and used the chatbot output component. As inputs I created sliders to set the probability and temperature values for nucleus sampling and set default values for them (0.9 and 1 respectively). However:

-  when the demo launches the first slider visually appears at 0.1 although it displays 0.9.
- Playing with the slider

[2022-03-17 16:54] #824 closed

[2022-03-17 17:22] abidlabs opened #830 "Links in `description` and `article` don't have any styling"
### Describe the bug

If you put links in the `description` or `article` of a Gradio `Interface`, they don't have any styling, which makes them easy to miss. They should be underlined or something

### Reproduction

Here's an example Space: https://huggingface.co/spaces/farukozderim/Model-Comparator-Space-Builder

### Screenshot

![image](https://user-images.githubusercontent.com/1778297/158858256

[2022-03-17 17:46] #819 closed

[2022-03-17 19:14] #830 closed

[2022-03-17 19:28] #825 closed

[2022-03-18 06:56] FarukOzderim opened #834 "Gradio Description Layout Is Broken"
### Describe the bug

Description is left half centered on spaces. I think it is related to #833 release, either #831 or #832.

### Reproduction

https://huggingface.co/spaces/farukozderim/Model-Comparator-Space-Builder

### Screenshot
![image](https://user-images.githubusercontent.com/44067394/158952101-217f73bf-3b4e-4909-92d1-78e86d77a5ae.png)

### Logs

_No response_

### System Info

[code]

#

[2022-03-18 13:24] osanseviero opened #835 "Remove submit button when live is used"
**Is your feature request related to a problem? Please describe.**
If I'm using `launch(live=True)`, the submit button has no purpose.

**Describe the solution you'd like**
For the `Submit` button to be removed when `live=True`.

[2022-03-18 13:41] FarukOzderim commented on #835
@aliabid94 while building Interface with blocks can we also add this?

[2022-03-18 14:14] #834 closed

[2022-03-18 14:20] FarukOzderim opened #837 "HTML Output Hyperlink Styling"
**Is your feature request related to a problem? Please describe.**
HTML outputs should underscore and style like hyperlinks.

![image](https://user-images.githubusercontent.com/44067394/159017844-5e0eab6b-9058-40c7-bb5d-7613527fc1d7.png)

We can style the hyperlinks in the description as well:
![image](https://user-images.githubusercontent.com/44067394/159020122-38761b44-cbad-4f56-b7b6-ae38394daf9

[2022-03-18 15:55] abidlabs commented on #835
This actually used to be the case! I don't know when this behavior was changed, but can confirm that the submit button now shows even with live=True. @aliabid94 do you know?

![image](https://user-images.githubusercontent.com/1778297/159037605-b1a070b9-b9dd-4190-ba33-92569ca26149.png)

[2022-03-18 15:59] osanseviero opened #838 "Allow input-less and output-less interfaces"
**Is your feature request related to a problem? Please describe.**
Sometimes, I want to create an interface without an input (such as for GANs) or without outputs (for crowd-sourced dataset generation). Internal Slack discussion https://huggingface.slack.com/archives/C02QZLG8GMN/p1647601809063159

**Describe the solution you'd like**
Allowign something like `gr.Interface(fn=fn, outputs="image")`

[2022-03-18 16:36] AK391 opened #839 "text is hard to read in article and description when huggingface theme is dark mode"
### Describe the bug

hard to read text in default style with huggingface dark mode

### Reproduction

for example see space: https://huggingface.co/spaces/tomofi/MMOCR

### Screenshot

<img width="1062" alt="Screen Shot 2022-03-18 at 11 14 02 AM" src="https://user-images.githubusercontent.com/81195143/159044621-39fb507d-e0f6-4998-9760-a1ed87f43bda.png">

theme is set to dark through huggingface m

[2022-03-18 19:16] kingabzpro opened #840 "The description is left Justified even with `<center>`"
### Describe the bug

I think the new update of Gradio broke description on HF. You can check all the apps. I am using center html. Other apps are also effected.

### Reproduction

Here is the app link: https://huggingface.co/spaces/kingabzpro/Urdu-ASR-SOTA

### Screenshot

![image](https://user-images.githubusercontent.com/36753484/159069496-252da284-c5e2-4e7d-a189-82f86722f473.png)

### Logs

_N

[2022-03-18 20:16] kingabzpro opened #841 "HF Callback not working with Urdu Text"
### Describe the bug

The call back works fine with vision and chatbot but with ASR it's generating error and I cant seem to figure it out.

### Reproduction

Link to app: https://huggingface.co/spaces/kingabzpro/Urdu-ASR-SOTA
Link to dataset: https://huggingface.co/datasets/kingabzpro/Urdu-ASR-flags/tree/main

### Screenshot

![Uploading image.png…]()

### Logs

[code]

### System Info

[code]

#

[2022-03-18 22:06] abidlabs commented on #840
Hi @kingabzpro, thanks for reporting this issue. This has been fixed in the latest version of gradio, `2.8.12`.

I think if you update the `sdk_version` in your README file: https://huggingface.co/spaces/kingabzpro/Urdu-ASR-SOTA/blob/main/README.md, it should be fixed!

[2022-03-18 22:06] #840 closed

[2022-03-18 22:18] kingabzpro commented on #840
It worked.😎

[2022-03-19 01:19] aliabid94 commented on #841
Taking a look.

[2022-03-19 01:25] aliabid94 commented on #841
@abidlabs actually can you take a look? It has to do with the HF callback

[2022-03-19 01:34] abidlabs commented on #841
Yup I’ll take a look

On Fri, Mar 18, 2022 at 6:25 PM aliabid94 ***@***.***> wrote:

[2022-03-19 07:12] kingabzpro opened #842 "HF Callback on Image Generation App (Push Rejected)"
### Describe the bug

It starts to reject all of the flags out of no where.

I mean what dose this means? Your push was rejected because it contains binary files.

Jpg files are binary?

----

I think HF callback is acting weirdly. When I deleted the dataset and created callback again. It starts to work fine. This bug is here for 3 months. Do you have any solution?

### Reproduction

App link: htt

[2022-03-19 15:40] FarukOzderim commented on #842
Hello @kingabzpro welcome :)

Yes jpg files are binary files. And this issue is not related to gradio library but huggingface spaces. Maybe you could open a request or file a bug report in this [repo](https://github.com/huggingface/huggingface_hub)

[2022-03-19 15:41] FarukOzderim commented on #842
Btw this happens when you try to push jpg files to the repository right?

[2022-03-19 16:39] kingabzpro commented on #842
No, it happens randomly. You can check now that the callback is working fine with jpg too. I have deleted the dataset and create new one and now everything works. It can be related to dataset but I am sure it is related to hfcallback and fastapi push.

[2022-03-20 20:47] abidlabs commented on #841
Hi @kingabzpro, I tried to reproduce this issue, but was unable to, Specifically, can you try the following code locally and tell me if you run into any errors? (It's just a minimal version of your code)

[code]

[2022-03-20 21:18] kingabzpro commented on #841
@abidlabs, it worked locally. But my return is Urdu text. If you replace "hello world" with "آپ کیا کر ر" then you will see the error. I think it is also causing HFcallback error. Unicode decode. I tried to normalize text but still face and error.

`UnicodeEncodeError: 'charmap' codec can't encode characters in position 134-135: character maps to <undefined>`

[2022-03-20 21:51] abidlabs commented on #842
Hi @kingabzpro are you still experiencing this issue or was it resolved? It's not clear to me from your last message.

Regarding the weird "tput: No value for $TERM and no -T specified" message, I opened an issue here: https://github.com/huggingface/huggingface_hub/issues/784

[2022-03-20 21:54] abidlabs commented on #841
Ahh I see

[2022-03-20 21:59] kingabzpro commented on #842
Last part is about randomly causing push reject using callback flag and when i deleted and created a new dataset with same name. The error is gone.

Thank you.

[2022-03-20 22:01] abidlabs commented on #842
Ok great, then I'll go ahead and close this issue!

[2022-03-20 22:01] #842 closed

[2022-03-21 11:01] kingabzpro commented on #841
@abidlabs I was able to normalize text, but apart from that, there is another but strange error. When you selected examples.
![image](https://user-images.githubusercontent.com/36753484/159248049-7083efae-87fb-4bcc-b37d-2ac43db3a710.png)

[code]

This error occurs when you select the examples and flag them.

[2022-03-21 12:40] FarukOzderim commented on #723
Let's reference the changes if we edit the table in the future as it would make further updates easier.

[2022-03-21 19:55] abidlabs opened #847 "Cannot launch basic Interface in `Blocks-dev` branch"
### Describe the bug

When I try to launch a simple `Interface` from the `Blocks-dev` branch, I get a blank white page with the following error in the console:

[code]

### Reproduction

Check out the `Blocks-dev` branch and try to create a simple Interface like:

[code]

or

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

blocker

[2022-03-21 20:15] aliabid94 commented on #847
Seems like frontend in Blocks-Dev is in a broken state right now, the code to choose between input and output component has not been written yet, and the old code (using the in/output_component_map) has been removed.

[2022-03-21 21:30] abidlabs commented on #847
Issue will be fixed by #823

[2022-03-21 21:30] #847 closed

[2022-03-21 22:59] abidlabs commented on #812
Closed by #827

[2022-03-21 22:59] #812 closed

[2022-03-22 08:12] FarukOzderim commented on #723
Resolved in #844

[2022-03-22 08:44] FarukOzderim commented on #723
Btw WDYT about adding events to Blocks?
For example a change event at Blocks would affect all components in the Blocks.

[2022-03-22 13:13] FarukOzderim opened #850 "Add Default Value Support to Components"
We shall add Default Image Support to Image Component

[2022-03-22 13:56] DJSapit opened #851 "Using an input example to a Gradio interface that uses session state throws an IndexError."
### Describe the bug

I used the colab demo of using state provided in the docs

https://gradio.app/docs/#i_state
(https://colab.research.google.com/drive/11cv_v9r2O_L0abJJo5Wf9VB3WHmbvJMh).

I added
`examples = [["How many"]],`
inside `gr.Interface()`.
The Gradio interface launches without error but throws an IndexError when the example input is submitted.

I was unable to find an example of a Gr

[2022-03-22 15:20] #568 closed

[2022-03-22 16:22] abidlabs commented on #851
Hi @DJSapit, can confirm that I can reproduce the bug that you found.

Thinking through your use case, how would having examples with stateful interfaces work? Should the examples include a predefined history/state, or should they just include the input text?

[2022-03-22 17:46] DJSapit commented on #851
Hi @abidlabs.
Recalling the described scenario in the Using State section from https://gradio.app/getting_started/, I think that examples in stateful interfaces should only include the input component (in this case, text), essentially automating the manual way of performing input. I think having an example to include predefined history/state might confuse users as history/state was not intended to

[2022-03-22 18:07] #786 closed

[2022-03-22 18:07] abidlabs commented on #723
Closed via #844

[2022-03-22 18:07] #723 closed

[2022-03-22 18:10] abidlabs commented on #636
Closed via #807

[2022-03-22 18:10] #636 closed

[2022-03-22 18:10] #736 closed

[2022-03-22 22:56] abidlabs commented on #823
This is now possible. This work has been pushed to the `Blocks-Dev` branch.

[2022-03-22 22:56] #823 closed

[2022-03-22 23:01] #729 closed

[2022-03-22 23:08] abidlabs commented on #640
I think this makes sense to move to `blocks` milestone as there are higher priority tasks that are needed to even get the core Interface class to be written in terms of blocks.

[2022-03-22 23:12] abidlabs commented on #639
Right now, this does not work. The components don't display the `default_value` parameter:

For example:

[code]

produces an empty textbox instead of one with "abc" in it

![image](https://user-images.githubusercontent.com/1778297/159591234-831b4599-fc17-4c48-85f0-081f7d751246.png)

[2022-03-22 23:30] abidlabs opened #854 "`Textbox` component not working in `Blocks`"
### Describe the bug

The `Textbox` component is not working in `Blocks`. It doesn't seem to send any data back.

### Reproduction

Try this on the `Blocks-Dev` branch

[code]

### Screenshot

![image](https://user-images.githubusercontent.com/1778297/159592968-4a1bcb83-07e2-48ce-a2a9-e4de7de41efc.png)

### Logs

[code]

### System Info

[code]

### Severity

blocker

[2022-03-22 23:35] abidlabs opened #855 "Support "live" Interfaces when `Interface` is made from `Blocks`"
Try running `python .\demo\calculator_live\run.py`

With a live interface:
* There should be no submit button
* The trigger should instead be any of the inputs component changing

[2022-03-22 23:38] abidlabs opened #856 "Some inconsistencies in the new Interface: Order of buttons and size/placement of title and description"
In the new Interface-as-a-block, the submit button is on the left and the clear button is on the right. This is confusing for me and presumably other Gradio users who are used to having the order reversed:

Old Gradio Interface:

![image](https://user-images.githubusercontent.com/1778297/159593636-19c77794-9202-4667-b007-8be78b19c658.png)

New Gradio Interface:

![image](https://user-images.github

[2022-03-22 23:57] abidlabs commented on #850
I think this is the same as #639 actually

[2022-03-22 23:57] #850 closed

[2022-03-23 09:16] osanseviero opened #858 "Microphone in colab does not ask for permissions"
### Describe the bug

I have an interface with a microphone input, but it does not ask for permissions. I can click "Record" and then it stays in "Stop Recording". I cannot click it again, submit, clear or anything.

### Reproduction

Following code in a Google Colab

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-03-23 11:41] FarukOzderim commented on #858
Thank you for reporting, there is a similar issue, closing this one.
#820

[2022-03-23 11:41] #858 closed

[2022-03-23 12:46] FarukOzderim commented on #572
Comment about queueing from @cbensimon, we shall take this into account while refactoring queueing.

[code]

[2022-03-23 12:50] FarukOzderim opened #860 "Enable Gradio queue by default in Spaces"
We shall Enable gradio queue by default in Spaces, if user does not specify otherwise.

[2022-03-23 12:51] osanseviero commented on #860
Cross issue from internal of https://github.com/huggingface/moon-landing/issues/2335

[2022-03-23 13:18] cbensimon commented on #572
Totally agree, I don't think that a DB was needed for the queue

[2022-03-23 15:54] abidlabs commented on #856
Noticed some more inconsistencies:
* The title is now left-aligned, instead of being center-aligned
* There is almost no padding around the description

I do like the new font more!

Old interface:

![image](https://user-images.githubusercontent.com/1778297/159741328-eae0981f-6c58-4604-b1a3-8949aef02fb7.png)

New interface:

![image](https://user-images.githubusercontent.com/1778297/159741058-3115

[2022-03-23 16:52] abidlabs opened #862 "Chatbot component is broken in `blocks-dev`"
### Describe the bug

The chatbot component is throwing javascript errors and not rendering anything on the page.

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

critical

[2022-03-23 17:15] FarukOzderim commented on #572
We should also think of communication of queuing with autoscaling. We will probably collaborate with @cbensimon 🤗

[2022-03-23 20:30] abidlabs opened #863 "[`blocks-dev`] Gradio Interface is unresponsive for the first ~1 sec after page loads"
### Describe the bug

I'm seeing a weird bug in which, if you click the "submit" button within the first second or so after a webpage with a Gradio Interface is loaded, nothing happens. You don't see any output. There are no errors either. Perhaps the event triggers take some time to attach? But it makes the user think that the Interface doesn't work.

### Reproduction

Run a simple interface like

[2022-03-24 10:14] pngwn commented on #854
Closed by #859.

[2022-03-24 10:14] #854 closed

[2022-03-24 11:20] pngwn commented on #821
I'm not sure about this API. It doesnm't really make sense to me why we'd distinguish between the two types of value. Maybe if you return a single value then it is assigned to the primary input (which we can document) but you can alternatively return an update method and pass in the named args if you want to update secondary values:

[code]
or

[code]

Passing both back feels strange to me.

[2022-03-24 12:06] osanseviero opened #868 "Improve usability of dataframe input"
**Is your feature request related to a problem? Please describe.**
See https://huggingface.co/spaces/osanseviero/accuracy_metric

Modifying the input of a cell requires double-clicking on it. I would love to be able to just click and add my input. There were also a couple of dev experience improvements I would love to see

**Describe the solution you'd like**

Three different things that would be

[2022-03-24 14:27] osanseviero opened #870 "Installing sklearn, datasets and gradio in a colab breaks gradio"
### Describe the bug

I install gradio, datasets and sklearn in a colab. When I try to import gradio, I get the following error

[code]

### Reproduction

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critical

[2022-03-24 19:58] MultiPath commented on #287
This does not see work for the latest version?
I tried to update my demo to 2.8.13. The output image is super small.

![image](https://user-images.githubusercontent.com/5780274/159999914-1b529b4e-2259-4827-aa3b-47d1bb5f559c.png)

[2022-03-24 21:25] MultiPath commented on #287
It seems working in this way. Thanks a lot

[2022-03-24 21:25] #287 closed

[2022-03-25 03:40] Khoa-NT opened #873 "Add background image for Canvas"
**Is your feature request related to a problem? Please describe.**
When I draw a scribble on a canvas, It will be more convenient if I have a background image for reference.
The mask will be treated as a marker for running the segmentation task.

**Describe the solution you'd like**
I found the [code ](https://github.com/gradio-app/gradio/blob/f97cbbd0d7ed1d3a58b9b1ec647158a8aaf9e7c9/ui/packages/a

[2022-03-25 05:30] abidlabs commented on #821
Yup agree with @pngwn. "value" (now called "default_value") is part of the constructor arguments so we don't need to return it separately.

Also, what kind of object is `Dropdown.update`? It's basically just a wrapper over a dictionary, right? Whatever object it is, we should make sure it prints the dictionary values nicely so that users can test the `dropdown_values` function that they right.

[2022-03-25 05:35] abidlabs commented on #868
Thanks @osanseviero, we are discussing this as part of general discussions on making DataFrame better!

[2022-03-25 15:22] osanseviero opened #875 "Loading a demo from Space is failing"
### Describe the bug

This is happening for all demos

See

[code]

https://huggingface.co/spaces/eugenesiow/remove-bg works but the code above in a colab does not

### Reproduction

[code]

I get this error

[code]

### Screenshot

_No response_

### Logs

_No response_

### System Info

[code]

### Severity

critical

[2022-03-25 15:39] abidlabs commented on #875
Thanks @osanseviero, aware of this issue! It's fixed in `main`, but will release a new version to pypi to take care of this.

[2022-03-25 15:40] julien-c commented on #875
also just shipped a change server-side that may alleviate that in the meantime too

[2022-03-25 15:55] abidlabs commented on #875
Fixed now in `gradio==2.8.14`. And @julien-c's change should fix it for interfaces in the wild

[2022-03-25 15:55] #875 closed

[2022-03-25 17:11] AK391 commented on #839
this is also a issue when using theme='dark-huggingface'

[2022-03-25 19:05] abidlabs opened #877 "[`blocks-dev`] API endpoints only work correctly if running on port 7860"
### Describe the bug

If you launch an Gradio Interface/Blocks on port 7860, everything works fine. However, if it is running on a different port, then the frontend still makes an API call to port 7860, which means that the predictions don't work properly.

The following screenshot shows what happens:

![image](https://user-images.githubusercontent.com/1778297/160185242-0d214330-fe80-4247-ba43-29f

[2022-03-25 23:05] #862 closed

[2022-03-25 23:06] abidlabs commented on #856
Fixed in #864

[2022-03-25 23:06] #856 closed

[2022-03-25 23:11] abidlabs commented on #790
This is now fixed in the `blocks-dev` branch!

[2022-03-25 23:11] #790 closed

[2022-03-26 00:13] abidlabs opened #881 "[`blocks-dev`] Default value of Checkbox does not show up"

[2022-03-26 00:21] abidlabs opened #882 "[`blocks-dev`] Some props show up as undefined"
### Describe the bug

When you run a simple demo, such as `demo/calculator/run.py`, you'll notice that some of the properties show up as undefined:

<img width="946" alt="image" src="https://user-images.githubusercontent.com/1778297/160216910-d52234eb-da99-4d43-bb68-e70a966a627c.png">

### Reproduction

Run `python demo/calculator/run.py`

### Screenshot

_No response_

### Logs

_No response_

##

[2022-03-26 06:00] #882 closed

[2022-03-27 11:16] Olvi73 opened #884 "[HTML] how to load local image by html output"
### Describe the bug

When I run the gradio code, it will `running on local URL:  http://127.0.0.1:7860/`, in this way I can't use html code like this to load a image
[code]
or use absolute path
[code]

### Reproduction

[code]

### Screenshot

![](https://s3.bmp.ovh/imgs/2022/03/0cd7bfe9db80fde2.png)

### Logs

_No response_

### System Info

[code]

### Severity

annoyance

[2022-03-27 14:07] kingabzpro opened #885 "Clear button not working on chatbot"
### Describe the bug

On Spaces the previous chat persist and sometime if you add too many chat logs it just breaks. I don't want my demo to break.

### Reproduction

Just chat using: https://huggingface.co/spaces/kingabzpro/Rick_and_Morty_Bot and try pressing clear button.

### Screenshot

![image](https://user-images.githubusercontent.com/36753484/160285394-51a774b6-c0cf-4123-9754-39071b7f322c.p

[2022-03-27 22:18] haljpeg opened #886 "Client-based pagination with javascript not working in Gradio"
### Describe the bug

I have a large list of items that I am displaying in an HTML grid. This grid is generated dynamically based on the ML model output. In some cases, I get up to 500 items to display in a grid (image + text) which is heavy for the browser.

That brings me to the pagination. I implemented a small python script (LINK: https://github.com/bowtiedhal/gradio_pagination/blob/main/pagin

[2022-03-28 14:47] abidlabs commented on #730
Different error, but still an issue.

Try running `demo/chatbot/run.py` to reproduce

[2022-03-28 14:50] abidlabs opened #887 "[`blocks-dev`] Some components throw JS error"
### Describe the bug

When using the following components, they throw a javascript error so nothing shows up:
* `HighlightedText`
* `Carousel`

### Reproduction

Run the following demos for each of the above components, respectively:

`demo/diff_texts/run.py`
`demo/disease_report/run.py`

It might also be worth testing the kitchen sink demo to make sure there aren't other components that have the

[2022-03-28 14:54] abidlabs opened #888 "[`blocks-dev`] Clear button does not work in sketchpad"
### Describe the bug

The clear button does not do anything in the sketchpad component

### Reproduction

`demo\digit_classifier\run.py`

### Screenshot

![image](https://user-images.githubusercontent.com/1778297/160425934-ea010721-7b02-4db3-b32a-79f3d579fc5a.png)

### Logs

[code]

### System Info

[code]

### Severity

critical