[2022-07-11 08:43] abidlabs commented on #837
Underlining the links by default is a good idea. We also have the same problem in the Markdown/HTML type of the Dataframe column, where links are not underlined by default and one has to write custom css to get the links to appear with underlines. cc @AK391

[2022-07-11 08:49] abidlabs commented on #1072
Renaming to reflect the proposed solution

[2022-07-11 08:51] abidlabs commented on #956
It would be awesome if people can provide their own custom error messages for events. We could accept an optional (str) "error_message" parameter in an event listener that would be displayed instead of the default error.

[2022-07-11 08:53] abidlabs commented on #1103
Looks like this is fixed now, thanks @pngwn!

![image](https://user-images.githubusercontent.com/1778297/178226423-afa09b1f-c5e3-41a7-8bc9-36f0fe05360e.png)

[2022-07-11 08:53] #1103 closed

[2022-07-11 08:55] abidlabs commented on #1075
This is basically the same issue as #1198.

[2022-07-11 08:56] abidlabs commented on #1078
@dawoodkhan82 I believe you worked on the i81n can you add more details here so that the community knows how to contribute translations for the new keywords?

[2022-07-11 08:59] abidlabs commented on #1083
I just tested and I'm not getting that error anymore. Instead, I'm getting:

[code]

I also tested the request from the API page, as well as the Space, and they both seem to be working now. So I think the issue is resolved from the gradio side, you may need to update the request from the JS side. Please let us know if we can go ahead and close this.

[2022-07-11 09:05] abidlabs commented on #1193
Hi @xishanhan and @5joon2, I tried pretty extensively to reproduce this and I have not been able to. Could this be a problem with your network connection?

One way to test this would be try on a [colab notebook](https://colab.research.google.com/) and see if you still experience this an issue?

[2022-07-11 09:07] abidlabs commented on #1193
Going to close this for now, but please feel free to reopen with more details on what platform / browser you are running (and make sure you are using the latest version of Gradio) if you still experience this issue.

[2022-07-11 09:07] #1193 closed

[2022-07-11 09:07] abidlabs commented on #1366
Closing as this seems to work!

[2022-07-11 09:07] #1366 closed

[2022-07-11 09:09] abidlabs commented on #1194
Agreed, we should catch this in the backend and throw a better error message

[2022-07-11 09:15] abidlabs commented on #1259
Still an issue, see: https://huggingface.co/spaces/abidlabs/hello-login

[2022-07-11 09:20] abidlabs commented on #1348
Seems like the same issue as here: https://github.com/gradio-app/gradio/issues/1193. I've tried to reproduce this on my end, but cannot.

Can you please test on a colab notebook and see if you are experiencing the same issue? If colab works for you, can you let us know more about what might be different in your network, so that we can fix the underlying issue?

[2022-07-11 09:21] abidlabs commented on #1358
Duplicate of #938, but I agree a very good idea!

[2022-07-11 09:21] #1358 closed

[2022-07-11 09:23] abidlabs commented on #1379
Renaming to reflect the new issue. In particular, it would be nice if the Gallery component could allow you to upload a bunch of images, and you could pass in the images, along with some of them selected into your function.

[2022-07-11 09:23] xishanhan commented on #1193
Yeah, I guess so. The network connection is always unstable, so sometimes the public link can be built, sometimes cannot. Anyway, thanks for your reply!

[2022-07-11 09:25] #1409 closed

[2022-07-11 09:26] dawoodkhan82 opened #1748 "[Integration tests] Examples in kitchen sink demo"
Add integration tests for examples using `demo/kitchen_sink`

[2022-07-11 09:27] dawoodkhan82 opened #1749 "[Integration tests] Plot component"
Add integration tests for `demo/outbreak_forecast`

[2022-07-11 09:28] abidlabs commented on #1438
Sure sounds good!

[2022-07-11 09:32] #1475 closed

[2022-07-11 09:33] abidlabs commented on #1637
Thanks @nikky4D, @JefferyChiang. Also tagging @tomriddle54 who opened the related issue. We're looking into this!

[2022-07-11 09:36] #1508 closed

[2022-07-11 09:41] abidlabs commented on #1534
Thinking about this some more, I'm not sure how this would work. Interpretation right now is supported for almost any input component, but **only** text/label output as those have the clearest notion of how to support interpretation. Given that Gallery is an output component only, I don't think it could support interpretation. (Even image output doesn't support interpretation right now)

[2022-07-11 09:46] abidlabs commented on #1601
Nav bar removed for now

[2022-07-11 09:46] #1601 closed

[2022-07-11 09:53] osanseviero commented on #1534
Good point! Yes, I think we can proceed to close.

[2022-07-11 09:53] #1534 closed

[2022-07-11 09:59] abidlabs commented on #1693
Hi @mayayank95 it's hard to know from this issue what the problem you are facing is. Can you please provide a minimal code example that is not working as expected. Please use the backticks (`) and properly format your code so that we can reproduce it easily. Please also attach the image you are using so that we can try it to see what is wrong.

[2022-07-11 10:03] abidlabs commented on #1707
So let's close this issue in favor of #1679

[2022-07-11 10:03] #1707 closed

[2022-07-11 10:09] abidlabs commented on #1747
Thanks for the detailed issue @Mittag-tech. Can you see if this helps? https://github.com/gradio-app/gradio/issues/159

[2022-07-11 10:15] abidlabs opened #1750 "Documentation on how data is preprocessed / postprocessed in a Gradio app"
Add documentation for how code runs in a Gradio app (from @osanseviero: maybe something explaining that the code runs once so you can load the models beforehand and do a bunch of other cool stuff), as well as how data is preprocessed / postprocessed through components

[2022-07-11 12:11] abidlabs commented on #1379
A good example of where this component would be useful is here: https://huggingface.co/spaces/NimaBoscarino/playlist-generator, where a person could simply click on one of the song pictures to get the lyrics

[2022-07-11 13:21] asheerrizvi commented on #1725
Can I take this up?

[2022-07-11 13:47] asheerrizvi commented on #1725
@freddyaboulton I don't seem to have the permission to do that. Can you help me with this?

[2022-07-11 13:49] freddyaboulton commented on #1725
@asheerrizvi done!

[2022-07-11 14:29] #1644 closed

[2022-07-11 14:34] jrabary opened #1752 "Use custom UI components in Gradio"
For some use cases it may be interesting to develop custom UI components for Gradio. For example, build a demo or even an application for AI assisted Image annotation or for Active Learning which demands specific user inter-action that are not currently available in Gradio.

The challenge are:
- develop these custom UI components in a separate and independent repository and being able to inject th

[2022-07-11 14:45] #1752 closed, assigned to nobody

[2022-07-11 14:56] freddyaboulton commented on #1752
@jrabary There's info on this post: https://discuss.huggingface.co/t/join-the-hugging-face-discord/11263

You basically just have to click on the invite link on that post. There are channels for all hugging face libraries (not just gradio) as well as seminars and study groups!

[2022-07-11 15:21] #1736 closed

[2022-07-11 15:44] aliabd commented on #1717
@freddyaboulton let's remove the sidebar task from here (or check it off) as it's on hold right now and if we do bring them back we will likely try to redesign them

[2022-07-11 17:28] freddyaboulton opened #1755 "Add a guide on how to control the interactivity of components"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a gradio user, I wish there was a guide on how I can control the interactivity of components in my application. In particular, I would like specific guidance on how I could create a component that's not interactive.

**Describe the solution you'd like**
A guide exp

[2022-07-11 17:30] freddyaboulton opened #1756 "Document the four different kinds of interfaces"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a gradio user, I wish the four different kinds of interfaces were covered in the documentation and/or guides.

**Describe the solution you'd like**
I think it makes sense to briefly mention this concept in the Docs but then link to a guide. This should go in the ad

[2022-07-11 18:59] freddyaboulton opened #1757 "Explain how to apply custom styling to components in the documentation"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a gradio user, I would like some guidance on how to apply custom styling to my Interface or Blocks app.

Currently, we mention custom styling for interfaces in the "advanced interface features" guide but we don't really explain how to use it or give an example:

![

[2022-07-11 19:02] freddyaboulton commented on #1673
TODO:

- [ ] Interpretation
- [ ] Flagging callbacks
- [ ] The `style` method of components
- [ ] https://github.com/gradio-app/gradio/issues/1743

[2022-07-11 19:07] freddyaboulton opened #1758 "Write a guide on how to use the 3D model component"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a gradio user, I wish there was a guide on how to use the 3D model component in my gradio app.

**Additional context**
Related space:
https://huggingface.co/spaces/radames/dpt-depth-estimation-3d-obj

[2022-07-11 19:09] freddyaboulton opened #1759 "Write a guide on how to integrate with Weights and Biases"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a weights and biases user and potential gradio user, I wish there was a guide on how to integrate both these libraries together.

**Describe the solution you'd like**
We should write a guide that shows users how to integrate weights and biases into a gradio app.

*

[2022-07-11 19:12] freddyaboulton commented on #1746
Thank you for filing @robinhad ! For whoever picks this up, this seems related to #1725

[2022-07-11 19:19] freddyaboulton opened #1760 "Organize the Guides landing page better"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a gradio user, I wish the guides on the guides page were organized in a more logical way. As a new user, I do not know which guide contains the information I'm looking for just by looking at the landing page

![image](https://user-images.githubusercontent.com/41651

[2022-07-11 22:30] freddyaboulton opened #1763 "Apply different formatting for the types in the component docstrings"
As a gradio user, I wish the types used in the `preprocessing`, `postprocessing` and `examples` sections of the docstrings were rendered differently than the surrounding text to make them stand out.

Here is what these sections currently look like:
![image](https://user-images.githubusercontent.com/41651716/178369662-a7c2fdf9-2652-4df0-b071-0b58e22d584e.png)

We currently bracket the types in thes

[2022-07-11 22:39] #1727 closed

[2022-07-12 00:25] #1737 closed

[2022-07-12 01:57] Mittag-tech commented on #1747
Thanks for your help, I was able to fix this issue.
In case it helps someone else, I write how to fix this issue.

# Background
In my network environment, I made ```~/.docker/config.json``` and wrote proxy settings.
[code]
# How to fix
I wrote ```noProxy``` option on ```~/.docker/config.json```.
[code]
And, fix ```start.sh```.
[code]

[2022-07-12 02:27] abidlabs commented on #1747
Wonderful, thanks for documenting the fix!

[2022-07-12 02:27] #1747 closed

[2022-07-12 07:39] osanseviero opened #1764 "Allow changing Flag button text"
- [x] I have searched to see if a similar issue already exists.

Right now, the flagging options only allow to add "Flag as X", but I would like to change the "Flag" name to something entirely different. Is this a use case that could potentially be supported?

[2022-07-12 07:41] asheerrizvi commented on #1725
@freddyaboulton thanks :D

[2022-07-12 10:35] #1198 closed

[2022-07-12 14:32] freddyaboulton commented on #1638
Idea from @pngwn, this could be a good opportunity to clean up the demos directory. Some of the discussion we've had:

This isn't a hard requirement for closing this ticket but since we'll be identifying key demos as part of this issue, that could be a good opportunity to establish the different between "feature" and "test" demos.

[2022-07-12 15:12] freddyaboulton opened #1766 "ColorPicker examples not properly rendered in dataset"
### Describe the bug

When running an app with ColorPicker examples, the example colors are not properly displayed in the examples dataset/dataframe.

The color is being correctly selected and displayed in the ColorPicker component though, which makes me think the backend logic is sound and it's a problem specific to the Dataset UI component.

### Is there an existing issue for this?

- [X] I have

[2022-07-12 15:22] freddyaboulton opened #1767 "TimeSeries examples not properly displayed in UI"
### Describe the bug

When running an app with a `TimeSeries` example, the time series data is not displayed in the examples dataset and when you click on the example, the time series component in the UI collapses.

The part about collapsing is strange since that doesn't happen when you manually upload a time series dataset.

### Is there an existing issue for this?

- [X] I have searched the exis

[2022-07-13 01:02] charlesfrye opened #1772 "Background color (and app) does not extend to entire window in 3.0.24"
### Describe the bug

Previously, a Gradio app in its own window took up the entire window vertically, with the "built with gradio" and other footer information at the bottom and the title at the top. Similarly, the app took up all horizontal space.

In 3.0.24, the app instead takes up all horizontal space but not all vertical space. In dark mode, this looks particularly bad, since the browser fil

[2022-07-13 01:48] freddyaboulton commented on #1772
Thank you so much for filing @charlesfrye !

Agree that this is a regression. We’ll take a look !

[2022-07-13 02:27] tt0203 opened #1773 "Why is gr.dataframe not found in official documentation?"
Is the component description missing from the official documentation?
Also, is there a component that supports arrays directly?
Also, I used HuggingFece to build an API interface for uploading Excel files on gr.File. How to submit the body part?

I build the app address is: https://huggingface.co/spaces/changxin/pq

Also you can look at: https://hf.space/embed/changxin/pq/+

API address is: https:

[2022-07-13 02:35] tt0203 opened #1774 "Why is gr.dataframe not found in official documentation?"
Is the component description missing from the official documentation?
https://gradio.app/docs/
Also, is there a component that supports arrays directly?
Also, I used HuggingFece to build an API interface for uploading Excel files on gr.File. How to submit the body part?

I build the app address is: https://huggingface.co/spaces/changxin/pq

Also you can look at: https://hf.space/embed/changxin/pq/

[2022-07-13 02:50] freddyaboulton commented on #1773
Thanks for filing @tt0203 ! Yep, `Dataframe` should be a part of the documentation I'll make a note of this in #1673 .

Regarding the body of the post api, I think something alone these lines will work:

[code]

Can you explain your use case a bit more? Curious why you're trying to hit the api manually.

[2022-07-13 02:51] freddyaboulton commented on #1774
@tt0203 Going to close as this is a duplicate of #1773! Let's continue the discussion there.

[2022-07-13 02:51] #1774 closed

[2022-07-13 03:12] Jackiexiao commented on #191
@abidlabs hi, is it possible to use stream audio component for realtime text-to-speech or realtime voice conversion?

[2022-07-13 03:19] abidlabs commented on #191
Hmm, I don't think that is currently possible. Feel free to open an issue with more details on what you'd like to see and we can work on it!

[2022-07-13 03:50] Jackiexiao opened #1775 "Request for streaming audio output component"
- [x] I have searched to see if a similar issue already exists.
- related issue: https://github.com/gradio-app/gradio/issues/191)

I want to use gradio for realtime text-to-speech(tts) or realtime voice conversion(vc)

It's now possible to do realtime speech-to-text thx to https://github.com/gradio-app/gradio/pull/800, I wander if we could do the same thing for tts/vc

for example, [paddlespeech](

[2022-07-13 07:40] jrabary commented on #1432
Some ideas that I'm testing on my side in order to "plugin" a custom component developed outside Gradio repository

In the python side, define the component as below

[code]

Then use it as usual

[code]

The backend seems to be OK with that.

Of course the frontend is missing the definition of `customcomp`. At this point, we need to update the `component_map` of the Gradio App but without touchin

[2022-07-13 09:26] osanseviero opened #1777 "Warning logs unrelated to my code"
### Describe the bug

I run a gradio app and get some warnings that seem unrelated

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://huggingface.co/spaces/osanseviero/test-eur/blob/main/app.py

### Screenshot

_No response_

### Logs

[code]
[code]

### Severity

annoying

[2022-07-13 09:57] pngwn commented on #1432
@jrabary There aren't two definitions, we have just split out the core component from the 'gradio' component that comes with a lot of app specific concerns. This is so we can publish the core components in the future and they have a sensible, generic API. It is just an implementation detail and doesn't have much impact on this feature.

I don't think it needs to be this verbose for users in the si

[2022-07-13 10:29] aliabid94 opened #1778 "Throw warning if using `gr.inputs.*` or `gr.outputs.*`"
I think we used to have a deprecation warning, not sure where it went

[2022-07-13 12:25] asheerrizvi commented on #1725
@freddyaboulton have opened a PR for this:

https://github.com/gradio-app/gradio/pull/1780

lmk if you guys need any change.

🎆

[2022-07-13 13:07] duerrsimon opened #1781 "'gradio' has no attribute 'Examples'"
### Describe the bug

I'm trying to use Examples as described here https://gradio.app/docs/#examples

I upgraded to latest gradio 3.0.24 using pip but this does not seem to work.

I would urge you to version the documentation and the releases more carefully. This worked differently before but from the documentation it is not clear for which release of gradio this should be working.

### Is there a

[2022-07-13 13:27] jrabary opened #1782 "UI local dev doesn't work as described in the documentation"
### Describe the bug

We are not able to set up the local development environment for UI by following https://github.com/gradio-app/gradio/tree/main/ui

- pnpm i works
- pnpm dev failed by displaying an infinite

[code]

- pnpm build failed with

[code]

All of this from pristine clone of the master branch.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### R

[2022-07-13 13:31] freddyaboulton commented on #1782
@jrabary Thanks for filing! You need pnpm version 6: https://github.com/gradio-app/gradio/blob/main/CONTRIBUTING.md#contributing-to-gradio

I think that should fix your problem. Please let us know if not.

[2022-07-13 13:51] duerrsimon commented on #1781
I think it is an absolute necessity to have the docs correspond to released versions and have old docs accessible. I am still on 3.0.11 because some stuff was still broken in newer releases. This is how any good open source software documentation works such as the one you linked but also https://matplotlib.org/stable/index.html and many others.
If you cannot implement the switcher now I would at l

[2022-07-13 13:51] #1781 closed

[2022-07-13 13:58] #1646 closed

[2022-07-13 14:02] freddyaboulton commented on #1781
Yep I hear you! I'll try to get this done in our documentation milestone

[2022-07-13 14:06] jrabary commented on #1782
Switching to pnpm@6.32.11 solve the problem. Thanks.

[2022-07-13 14:06] #1782 closed, assigned to nobody

[2022-07-13 15:26] freddyaboulton opened #1783 "Consolidate logic for documenting classes and determining which demos to run on website"
Right now we determine which classes to document and which demos to run in two separate places. With `generate_documentation` we collect all classes tagged with `@document` and in `map_demos` we search through all python files looking for the `Demos:` tag.

This issue proposes that we move the "identify which demos to run" logic to search documentation.

[2022-07-13 16:19] freddyaboulton commented on #1718
@pngwn I recall you said something about not liking automated release notes?

I haven't used them before, but I think Github's [automated release notes](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes) feature could be a quick way to start providing more info to uses regarding changes.

And it seems to integrate nicely with the action we'r

[2022-07-13 16:33] freddyaboulton opened #1784 "Refactor tests to use pytest fixtures and plain asserts"
We should consider rewriting our tests to the pytest style (functions prefixed with `test_` and plain asserts) as opposed to using unittest.Testcase classes. Switching over to just plain functions and assets makes it really easy to use pytest's built in fixtures and makes it easy to integrate with community-built fixtures. Pytest fixtures can do everything we can do with `setUp` and `tearDown`.

C

[2022-07-13 18:47] freddyaboulton opened #1786 "Remove usage of deprecated inputs and outputs from docs and guides"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a gradio user, I don't want to see usage of the deprecated `gr.inputs` and `gr.outputs` in the examples and guides.

Here is an example from the "Hugging face integrations" guide

![image](https://user-images.githubusercontent.com/41651716/178808204-810d8ec5-c7e9-4

[2022-07-13 18:59] freddyaboulton opened #1787 "HTML tags and scripts not displayed properly in "Embedding Gradio Demos on Websites" guide"
### Describe the bug

The HTML tags, e.g.` \<iframe\>` , `\<gradio-app\>`, and code snippets, e.g. `<script type="module" src="https://gradio.s3-us-west-2.amazonaws.com/3.0.18/gradio.js"></script>`, are not displayed in the "Embedding Gradio Demos on Websites" guide"

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Visit the guide at https://g

[2022-07-13 20:47] osanseviero commented on #1777
@freddyaboulton Sorry, I just made it public. And no, this is the demo

[code]

It might be due to using `gr.inputs.Textbox` rather than `gr.Textbox` though. Will change in a sec to try it out.

[2022-07-13 20:50] osanseviero commented on #1777
Note there is no warning about using `gr.inputs.Textbox` which was something expected as shared in another internal discussion today https://huggingface.slack.com/archives/C02QZLG8GMN/p1657198107532359

[2022-07-13 20:55] osanseviero commented on #1777
Cool! So then it's related to the slack convo/https://github.com/gradio-app/gradio/issues/1778 . I'll close this issue then.

[2022-07-13 20:55] #1777 closed

[2022-07-13 21:46] zcin opened #1791 "gr.Parallel integration with Ray Serve"
### Context and Problems
Currently, gr.Parallel takes in multiple functions and displays the results simultaneously, but runs the user provided functions sequentially on the backend.

Proposal: an interface change in Gradio that allows it to plug into the parallelization framework `ray`. Users can use it on an opt-in basis. There are several options here. We recommend option 2.

## Option 1: Flag-

[2022-07-14 11:32] aliabid94 opened #1792 "Some website embedded demos not loading (or flaky)"
e.g. first demo in https://gradio.app/embedding_gradio_demos/

[2022-07-14 11:46] aliabd opened #1793 "Embedding gradio demos guide not rendering correctly"
Some of the codeblocks and html tags are not showing up in the [embedding gradio demos guide](https://gradio.app/embedding_gradio_demos/)
<img width="1321" alt="Screen Shot 2022-07-14 at 12 45 44 PM" src="https://user-images.githubusercontent.com/9021060/178975141-2028cac2-f2bd-48ee-95e0-2663c9c3bc46.png">

[2022-07-14 14:27] #1787 closed

[2022-07-14 14:28] #1778 closed

[2022-07-14 15:01] abidlabs commented on #1792
Working for me? Can you try clearing cache

<img width="960" alt="image" src="https://user-images.githubusercontent.com/1778297/179013800-ae56f5d2-b9d3-4600-ba42-98dd62a1cf94.png">

[2022-07-14 15:43] #1647 closed

[2022-07-14 17:07] #1793 closed

[2022-07-14 17:08] #1773 closed

[2022-07-14 18:26] freddyaboulton opened #1795 "Add a guide on how to use blocks like regular python functions"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a gradio user, I wish there was a guide explaining how to use use a blocks app like a regular python function. Right now, it's only mentioned briefly for interfaces in the "Advanced Interfaces" [guide](https://gradio.app/advanced_interface_features/#loading-hugging

[2022-07-15 03:07] allawhussein opened #1797 "Demo Application not being server on 'localhost' instead of '0.0.0.0' over AWS EC2"
### Bug Description

I've been for a while trying to serve a very simple demo over the ec2 public IP, the code is provided below, I was following one of the author's guides https://abidlabs.medium.com/quickly-deploying-gradio-on-aws-242af2374784, when attempting to run the demo the app is ran on http://localhost:7860/ instead of http://0.0.0.0/7860, and in this case I tried accessing the app using

[2022-07-15 03:09] allawhussein commented on #1797
@aghand0ur

[2022-07-15 03:27] allawhussein commented on #1797
This issue was present with the latest Gradio version a month ago and with version 2.0.1, while trying to prove that the request failed, I noticed that the application received them successfully, sorry for any inconvenience.

[2022-07-15 03:27] #1797 closed

[2022-07-15 08:05] #1725 closed

[2022-07-15 16:02] freddyaboulton opened #1798 "Standardize return types in the backend"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a gradio user and developer, I wish the return type of the predict route was more predictable.

Right now it is very flexible.

This is the return type:

[code]

The problem is that `data` can be a list of pretty much anything: text, numbers, interpretation output,

[2022-07-15 19:52] freddyaboulton commented on #1764
Seems reasonable to me @osanseviero !

Technically this should already be possible with the blocks api - once #1675 is done, it will be clearer how to do that - but I agree that we should make this easier for the interface api as well.

[2022-07-15 20:20] freddyaboulton commented on #1745
Hi @JustinLin610, Impressive demo! I just tried it out and it's a really cool.

I think the problem is that your inference function can return either an Image or None. I can reproduce your original error with the following code snippet. It fails with the second example but not the first:

[code]

When `cache_examples=True`, gradio will save the outputs of your prediction function to a csv file. In

[2022-07-16 05:14] rafaeldepablo opened #1801 "Version 3.0.25 incompatibility problems in Google Colab"
### Describe the bug

After installing the version (3.0.25) in a Google colab notebook, the import stop to working returning the following error: "ImportError: cannot import name 'TypedDict' from 'typing' (/usr/lib/python3.7/typing.py)"

Installing older version 3.0.0. everything works normally again

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduc

[2022-07-16 06:10] Sujith-Sunilan opened #1802 "cant import gradio"
### Describe the bug

import gradio as gr
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
[<ipython-input-14-fd1c832c29f5>](https://localhost:8080/#) in <module>()
----> 1 import gradio

1 frames
[/usr/local/lib/python3.7/dist-packages/gradio/components.py](https://localhost:8080/#) in <module>(

[2022-07-16 06:59] Zengyf-CVer opened #1804 "Video mirroring"
### Describe the bug

Upload a video, and the output video is a mirror image.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

![ksnip_20220716-145557](https://user-images.githubusercontent.com/41098760/179344052-89c2c5be-2256-4ad1-aeef-125d42b1455e.png)

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-07-16 08:48] Warvito commented on #1692
Hi @abidlabs ,
sorry, but I am still having the same problem, even with ```gradio==3.0.25```

I created an example with a docker image to be easier to replicate (https://github.com/Warvito/gradio_plotly_example)

In a docker container, I installed the latest gradio and plotly versions
[code]

where animate_example.py is one of the previous example with a specific server_name and server_port

[code

[2022-07-16 12:16] #1801 closed

[2022-07-16 12:21] abidlabs commented on #1804
Hi @Zengyf-CVer yes this is the default behavior of the webcam component, but can be changed by setting `mirror_webcam=False` in the `Video()`  constructor

[2022-07-16 12:48] abidlabs commented on #1802
Thanks for bringing this to our attention so quickly @Sujith-Sunilan, this should be fixed now as of `gradio==3.0.26`!

[2022-07-16 12:48] #1802 closed

[2022-07-16 12:48] abidlabs commented on #1801
Thanks for bringing this to our attention so quickly @rafaeldepablo, this should be fixed now as of `gradio==3.0.26`!

[2022-07-16 12:51] abidlabs opened #1806 "Include CI tests for python 3.7"
We've recently had some issues related to gradio running on Python 3.7 (ex: see #1801). Many of these are detected because most of the gradio team uses python 3.8 or higher and our CI is also running a higher version of Python. It would be good to have some basic tests to make sure `gradio` can be imported correctly in Python 3.7 (especially as Google Colab's default Python version is 3.7)

[2022-07-16 12:53] abidlabs opened #1807 "Remove `typing-extensions` dependency"
In #1805, we introduced an additional dependency in the `gradio` package: `typing-extensions` in order for `gradio` to work properly with Python 3.7.

However, this dependency is not strictly needed as we can wrap the relevant type checking code with a TYPE_CHECKING block so it does not get executed at runtime, as pointed out by @freddyaboulton.

It would be good to remove this dependency so we li

[2022-07-16 20:55] taimaruuu commented on #1743
I'm new to helping on opensource projects but would love to help get this resolved.

[2022-07-16 20:57] taimaruuu commented on #1194
would love to help resolve this issue!

[2022-07-17 10:12] kleinay opened #1808 "CheckboxGroup init parameter `value` is renamed as `default`"
### Describe the bug

Looking at the [docs](https://gradio.app/docs/#checkboxgroup) it seems that the parameter to set the initial selected items within a `CheckboxGroup` is `value`. This is also what I could see when looking at the [code at Github](https://github.com/gradio-app/gradio/blob/9b9477abd83d6827abee4a83f0e180b171a43ceb/gradio/components.py#L956), but de-facto, the parameter name is `de

[2022-07-17 10:59] #1446 closed

[2022-07-17 13:59] kmkarakaya opened #1809 "The examples run only once, then they begin to generate error"
### Describe the bug

When I deploy an app on Spaces, the examples run only once, then if I click one of them they begin to generate error.

After building an app on spaces, each example run perfectly ONLY for ONCE. When I click any of them for the second or more times on the screen I only see ERROR message.

However, I can enter a new prompt manually and it works fine.

If I re-build the app, aga

[2022-07-17 17:51] robinhad commented on #1746
seems like on HuggingFace, dark theme doesn't implement `.dark .prose` and `.dark .prose a` css classes, so classes from white theme are active, but locally everything works fine

[2022-07-17 18:03] praeclarumjj3 opened #1810 "TUI Image Editor changes the image pixel values."
### Describe the bug

Hi, thanks for releasing the great gradio tool. This issue revolves around the TUI Image Editor used when we set the `tool='editor'` in the `gr.inputs.Image` component.

**Setting**: We use the Image component (let's call it _IM_) with `tool=editor.` After uploading the image to  _IM_, we don't draw anything on the image. Instead, we click the edit option and save the image *

[2022-07-17 20:57] kmkarakaya opened #1811 "Flag can not create an appropriate CSV file when a textbox / text has a comma"
### Describe the bug

Flag can not create an appropriate CSV file when the interface have a textbox / text which includes a comma .
The CSV file columns are incorrectly created assuming the comma in the text box is a separator.
See the attached screenshots.

Thank you!

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

kmkarakaya/Auto_Review_Gen

[2022-07-18 00:32] pbsds opened #1812 "requirements.txt not bundled on pypi"
### Describe the bug

The pypi tarball does not include `requirements.txt`. This has become a problem since #1669 was merged.
The fix is likely much like #1706.

... While at it: it doesn't seem like `test/test_files/*` are included either.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

[2022-07-18 00:53] freddyaboulton commented on #1812
Thank you for filing @pbsds ! I can fix

[2022-07-18 00:59] freddyaboulton commented on #1808
Thank you for filing @kleinay !

The gr.inputs and gr.outputs modules have been deprecated which is why they’re not reflected in the docs.

Can you try again with gr.CheckBoxGroup?

[2022-07-18 08:24] FarukOzderim commented on #1743
@aliabd would you like to give directions to @taimaruuu a little bit?

[2022-07-18 08:44] FarukOzderim commented on #735
I could not find an example of this in the web since then, WDYT about this currently @abidlabs, @dawoodkhan82, @pngwn, @gary149? Shall we put effort in this? Using the image component would be much more easier via this.

[2022-07-18 08:55] #1743 closed

[2022-07-18 08:58] #1693 closed

[2022-07-18 09:04] FarukOzderim commented on #1728
Thanks for the suggestion @tiangolo, it is awesome. Let us know if you would like to take this on and have any questions, it would be awesome to see you in Gradio's Contributors😄

[2022-07-18 09:48] FarukOzderim opened #1813 "Test Performance of the New Queue after Redesign"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Since we are redesigning the queue from scratch, it would be great to test the performance of the new Queue with a beta release. Thanks @freddyaboulton for the idea.
We should test identical spaces with different Gradio versions. Related #572, #1337 Any further sugges

[2022-07-18 14:24] freddyaboulton opened #1814 "Use aioresponses in unit tests"
In #1794, we use MagicMock to mock out http requests, we should consider using the industry standard aioresponses library

Sounds good! actually there is a similar library for this which I like, it mocks the request call and you don't mock your code at all. I would suggest we use it, but @freddyaboulton's approach works as well!

The library is [aioresponses](https://github.com/pnuckowski/aiorespo

[2022-07-18 15:44] FarukOzderim commented on #1813
This library can be used for benchmarking creation of many number of websocket connections.
https://github.com/observing/thor

[2022-07-18 16:03] #1812 closed

[2022-07-18 16:29] FarukOzderim commented on #1813
Tried thor out, this is the results for 100 number of connections, not sure why but there were failing connections when I used 200+ connections for benchmarking. Could be related to OS, Thor or Fastapi.

It seems creation of a ws connection takes around 10 ms in average.
[code]

[2022-07-18 18:41] gary149 commented on #735
I use it all the time in Slack but I agree with @abidlabs that having no element being in focus like in Slack makes it hard. Also not a fan of hijacking the "select a file". Having a visible paste button icon that you need to click (on the image component) could be a solution but will probably be confusing to users so I'm not sure it's worth the effort of implementing.

[2022-07-18 19:02] freddyaboulton commented on #1784
@FarukOzderim Agreed that it's not high priority.

With this kind of issue, it may be best to use a gradual approach rather than all-or-nothing.

Rather than someone re-writting the entire test suite in a couple of days, it may be best to start writing new tests in the pytest style and encourage PR authors to do the same.

[2022-07-18 19:40] chrisemezue opened #1820 "Support pnpm versions > 6"
### Describe the bug

this error is thrown
[code]
when i run `bash scripts/build_frontend.sh`
-  used `pnpm version 7.5.2` which i installed via `npm install -g pnpm`

According to @NimaBoscarino , the simple solution would be to go into `ui/package.json` and change the build script to say 		`"build": "pnpm --filter @gradio/app build:local --emptyOutDir",`

### Is there an existing issue for this?

[2022-07-18 20:44] freddyaboulton commented on #1820
Thanks for filing @chrisemezue !

Yep this is a known issue. The contributing guide explicitly asks to install pnpm version 6 so this issue feels more like an enhancement request to support newer versions of pnpm. I will rename/relabel as such!

[2022-07-18 23:38] abidlabs commented on #1820
@pngwn thoughts on this fix?

[2022-07-18 23:41] abidlabs commented on #1811
Ah great catch thanks @kmkarakaya, will take a look!

[2022-07-19 02:20] abidlabs commented on #1809
Hi @kmkarakaya, I can't seem to reproduce the issue in your Space. Did you figure it out?

[2022-07-19 02:33] abidlabs commented on #1692
Confirming that the same problem happens for me.

Here's how it looks in a jupyter notebook:

![image](https://user-images.githubusercontent.com/1778297/179651594-7bdf339c-c525-4ae6-8a66-6062a3f285f3.png)

But here's how it looks in a new tab:

![image](https://user-images.githubusercontent.com/1778297/179651658-6868e19a-01c7-454a-b00a-b413dc3e168c.png)

@dawoodkhan82 would you be able to take a l

[2022-07-19 02:37] abidlabs commented on #735
Yeah it's not going to be easily possible with the way that the UI components are currently laid out. We'd have to develop a way to "focus" on a particular component, so it would have to involve a UI/UX redesign. It's a nice idea, but IMO too costly to implement

[2022-07-19 04:33] #1717 closed

[2022-07-19 06:51] FarukOzderim commented on #1784
Totally agree, I actually have started to do it without mentioning it 😿, lets ping this out in slack as well. We can unittests to pytest style whenever we refactor a test as well.

[2022-07-19 07:09] FarukOzderim commented on #735
Ok then, instead of closing this issue I would like to keep it for having focus in our agenda.

[2022-07-19 07:12] kmkarakaya commented on #1809
Hi @abidlabs, NO. I just set **_cache_examples = False_** to avoid the issue. Now I removed the "**_cache_examples = False_**" parameter. If you re-try the examples few times you can experience the issue. Regards

[2022-07-19 07:32] FarukOzderim opened #1823 "Make Parallel Concurrent instead of Sequential"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As it is pointed out in #1791 Parallel being run in sequential format does not align with our async library.

**Describe the solution you'd like**
We should use `asyncio.gather` to run all the interfaces concurrently.

**Additional context**
1. This issue is blocked b

[2022-07-19 07:33] FarukOzderim commented on #1791
Thanks for identifying this point @zcin, this definitely does not align with our async library.
We've actually wanting to refactor Interface for it to support async functions with #1212. I've created #1823 to follow Parallel being concurrent as well.

[2022-07-19 08:49] endrol opened #1824 "How to read from the uploaded files"
### Describe the bug

Thank you for checking this new-starter question. I am using gradio on huggingface and I want to upload multiple images. After checking https://gradio.app/docs/#gallery and https://gradio.app/docs/#file, https://issuemode.com/issues/gradio-app/gradio/87144996#answer-103420732, I decided to use `gr.FIle(file_count='multiple')`.

But the uploaded file is has the type `<class 't

[2022-07-19 11:38] siriuslea opened #1825 "Resampling PIL"
### Describe the bug

Occurs on import of gradio, intermittently

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
[<ipython-input-5-7a3866d7148e>](https://localhost:8080/#) in <module>()
     16 os.system("pip install -q pytesseract")
     17
---> 18 import gradio as gr
     19 import numpy as n

[2022-07-19 11:51] FarukOzderim opened #1826 "Broken Guide"
Auto-reload guide is broken on the website, cc: @abidlabs
https://gradio.app/developing_faster_with_reload_mode/
![image](https://user-images.githubusercontent.com/44067394/179743366-01c2783b-691c-4b44-884a-3e7af5ce1f58.png)

[2022-07-19 14:48] #1807 closed

[2022-07-19 15:16] #1688 closed

[2022-07-19 15:41] aliabd opened #1829 "Guides missing autogenerated meta images"

[2022-07-19 15:51] freddyaboulton commented on #1826
Fixed by #1794!

![image](https://user-images.githubusercontent.com/41651716/179794174-071f88a2-0209-4986-832b-0b7e2db9904f.png)

[2022-07-19 15:53] #1786 closed

[2022-07-19 16:28] pngwn commented on #1798
This is exactly what I had in mind @freddyaboulton.

[2022-07-19 16:32] FarukOzderim opened #1831 "Link interpretation to events instead of Interface"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently interpretation is directly linked to Interface, however Blocks has a lot have Interpretation use-cases as well. We might link interpretation to events or event-functions but there is no clear structure in my mind, due to not having a lot familiarity with int

[2022-07-19 16:52] freddyaboulton commented on #1212
This is very cool!

I think the biggest impact will be in cleaning up the discrepancies between `Interface.process`, `Interface.run_prediction`, `Interface.__call__` and `Blocks.__call__`. They are all doing similar things and it's hard to understand the differences (or which one should be used when) as a developer.

Agreed that the functions in `interpretation.py` and `Interface.interpret` should

[2022-07-19 16:52] FarukOzderim commented on #1791
It seems I misunderstood the issue a little bit, it is not just about #1823 but a broader issue. Thanks to @abidlabs for the heads up.

[2022-07-19 16:54] FarukOzderim commented on #1212
Totally agree, that's what I was thinking, we're currently looking to usage of interpretation through analytics with @abidlabs, and if the usage is very low, we might remove and redesign interpretation with Blocks as well.

[2022-07-19 17:17] #1734 closed

[2022-07-19 18:38] abidlabs commented on #1332
Hi @mahnerak and @tango4j, this should be fixed now! We'll release `gradio==3.1` soon, and you can try the following example as a simple streaming speech to text example:

[code]

[2022-07-19 18:38] #1332 closed

[2022-07-19 18:39] abidlabs commented on #1494
Hi @nateraw, this should be fixed now! Thanks for bringing this to our attention, and we'll be releasing 3.1 soon :)

[2022-07-19 18:46] nateraw commented on #1494
Just gave it a go - works for me as well! Looking forward to the release so I can put together a demo with it :)

[2022-07-19 19:01] abidlabs commented on #1809
Hmm yes I see the issue, thanks we'll take a look at it.

[2022-07-19 19:07] abidlabs commented on #1824
Hi @endrol thanks for trying out Gradio! The way to access the temporary files is to use the `.name` attribute for each of the `tempfile._TemporaryFileWrapper`. This gives you the full path to the files, which then you can pass into `PIL.Image.open()` or use however else you'd like.

Here's an example:
[code]

Produces:

<img width="573" alt="image" src="https://user-images.githubusercontent.com/1

[2022-07-19 19:07] #1824 closed

[2022-07-19 21:14] mbjamil opened #1833 "Gradio dataframe not taking 'date' datatype"
### Describe the bug

I am trying to output a dataframe which has datetime values, gradio is automatically converting it into 'seconds'. When I check gradio documentation on dataframes, it says to pass the 'date' as a 'datatype'.

But when i do it, i get the following error:

TypeError: __init__() got an unexpected keyword argument 'datatype'

documentation link: https://gradio.app/docs/#dataframe

[2022-07-19 21:23] freddyaboulton commented on #1833
@mbjamil glad we solved the original issue! I think the formatting of `How the actual time looks in the dataframe:` may have gotten messed up in the email. Do you mind sharing again?

[2022-07-19 21:24] mbjamil commented on #1833
i just attached the pictures again, thank you for such a quick response.

[2022-07-19 21:43] freddyaboulton commented on #1833
Got it, I see now!

Thanks @mbjamil ! Let me look into it, this could be a bug!

[2022-07-19 21:43] #1795 closed

[2022-07-19 21:52] freddyaboulton opened #1835 "Do not use gradio.inputs and gradio.outputs!"
Hi everyone!

The `gradio.inputs` and `gradio.outputs` modules have been deprecated.

We don't recommend you use them on new apps although they are still in the library as of version 3.1.

From now on, you should use the components defined in the the gradio module. These are the components listed in the [docs](https://gradio.app/docs/#components).

The following table shows how transition to the r

[2022-07-19 22:20] lxasqjc opened #1836 "[ImageEditor] - can gr.Image with tool="select" optional return selected box coordinates?"
- [Y] I have searched to see if a similar issue already exists.

When using gr.Image cropping and zoom tool, I want it not only to return the cropped region but also the bounding box coordinates, which I can use as input in my personalised function.

Is such a feature available in the current version? If not is it possible to have it?

Many thanks!

[2022-07-19 22:22] freddyaboulton commented on #1833
Hi @mbjamil, can confirm this is a bug. I can reproduce with the following code

[code]

This is what I see:
![image](https://user-images.githubusercontent.com/41651716/179858168-708f2f4b-a029-4d7a-8aa5-e66c6692e0f7.png)

In the meantime, I recommend you convert your dates to strings in your dataframe if possible while we fix this.

Doing that fixed my demo above:

![image](https://user-images.git

[2022-07-20 00:07] abidlabs commented on #1798
To clarify, would we have a single `Update` class with all of the parameters across all components? Or would we have separate `Update`'s for each component?

[2022-07-20 02:35] abidlabs commented on #1836
Not at the moment, but this is something we may consider the in the future!

[2022-07-20 02:39] abidlabs opened #1838 "Image component in a tab cannot be clicked"
### Describe the bug

I'm seeing a weird bug where if a `gr.Image` is inside a `gr.Tab` that is not selected by default, then it cannot be clicked to upload an image -- until it is cleared (even though no image is loaded). It's a bit hard to describe, so look at the reproduction below:

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

H

[2022-07-20 02:42] dyxohjl666 opened #1839 "Can't add newline when using Highlighted Context"
The newlines don’t seem to work when I try to split the multiple results. I realized it maybe due to escaping but have no idea how to solve the problem.
What can I do for that?  Or I have to switch to a html output?

[2022-07-20 07:57] MrNocTV commented on #344
I think it's not that simple. I cant deploy gradio app on a K8S environment simply because the ingress path not working.
Because the app always starts on path `/`, if I have a path in my url , let say `abc.com/myapp`and route to the service, it will return `404`. If I rewrite the path to `/`, it just wont work because I need a lot of ingress with different path. You get my point?

[2022-07-20 09:59] lxasqjc commented on #1836
Thank you for your reply!
Good to know you may consider, any chance to know a rough timescale it may be added will be greatly appreciated :)

[2022-07-20 10:47] aliabid94 commented on #1836
We'll keep you updated after the next sprint planning when we prioritize our issues.

[2022-07-20 10:49] aliabid94 commented on #1839
Thanks for letting us know about this. Will take a look!

[2022-07-20 11:02] aliabid94 commented on #1839
Let me know if this works for you, or if you have any questions!

[2022-07-20 14:09] mbjamil commented on #1833
okay great, thank you. For now i took your advice and i see regular time intervals on my interface. Thank you.

[2022-07-20 15:35] dyxohjl666 commented on #1839
Thanks for your reply!
It looks quite perfect now when I apply a single Interface component.
But I met the same problem when add the Interface into TabbedInterface. It seems like that the CSS is invalid when in TabbedInterface. I'm confused about that.

[2022-07-20 15:37] dyxohjl666 commented on #1839
I generate the Interface like this:
[code]

[2022-07-20 15:47] freddyaboulton commented on #1325
My bad meant 3.x but thought it was not appropriate for docs milestone as that's focused on improvements to gradio.app as opposed to the api docs.

Feel free to move back if you disagree!

[2022-07-20 15:58] abidlabs commented on #1325
That's cool, moved to 3.x

[2022-07-20 16:39] abidlabs commented on #344
I see -- let's open this up as a feature request

[2022-07-20 18:21] freddyaboulton opened #1844 "Implement Variants for UI Components"
We should provide variants for common UI components to enable users to create more customized user interfaces. Example variants for the text box could be "warning", "error".

_Originally posted by @pngwn in https://github.com/gradio-app/gradio/issues/1698#issuecomment-1175979199_

[2022-07-20 18:47] freddyaboulton commented on #1698
Closing in favor of #1844 !

[2022-07-20 18:47] #1698 closed

[2022-07-20 21:32] mbjamil opened #1846 "Help with Gradio filters:"
Hi team,

I want some help to 'filter' my dataframes data inside the gradio interface. Basically i want the user to be able to filter out data. I have a function where i want to show the user the option to filter on id1 and then get relevant id2 and other metadata frames.

How can i achieve this? what mistake am i making in my code?

Code below:
[code]
the problem with this approach is i am still

[2022-07-20 22:41] aliabid94 commented on #1839
Ahh hmm seems like a bug where custom CSS isn't passed up in a TabbedInterface. @abidlabs can you take a look?

[2022-07-20 22:56] aliabid94 commented on #1846
Hey @mbjamil, glad you reached out. Your code is difficult to understand, and has quite a few bugs outside the gradio aspect of the code. Can you format the codeblock with three backticks \`\`\` so indentation is preserved?

Meanwhile, here's is a simple example of a demo involving filtering Dataframes:

[code]

The user enters a dataframe, selects the gender to filter by, and receives an output d

[2022-07-20 23:02] mbjamil commented on #1846
Hi Ali,

Thanks for getting back, I actually dumbed the code down for not making it obvious what i want to do. But let me write another snippet of code detailed with comments so that you guys can help me out. I really appreciate the help. Would get back

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: aliabid94 ***@***.***>
Sent: Wednesday, July 20, 2022 6:56:49 P

[2022-07-21 00:58] abidlabs opened #1848 "Increase font size of Quickstart and other Guides"
The font size used in the Quickstart and Guides is less than the font size used elsewhere on the website. Compare:

(doc font)
<img width="761" alt="image" src="https://user-images.githubusercontent.com/1778297/180107100-5e1b01a9-c00e-46a6-95e3-f9b667277cc7.png">

vs.

(quickstart font)
<img width="969" alt="image" src="https://user-images.githubusercontent.com/1778297/180107132-590fcc22-d79a-416c

[2022-07-21 08:02] dhansmair commented on #1809
I'm having the same issue with a huggingface space

[2022-07-21 10:04] osanseviero opened #1849 "Allow to randomize the input in a slider component"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
For demos of generative models, the input seed/slider can have a huge effect. Something that would be very useful in the slider is if we could randomize the initial value of the slider for each user. E.g. by setting `value="random"` then every  time someone opens the

[2022-07-21 13:42] #1658 closed

[2022-07-21 14:13] freddyaboulton commented on #1849
@osanseviero This is already supported!

[code]
![random_slider](https://user-images.githubusercontent.com/41651716/180235384-fbf55412-011a-45e1-8877-c17210d358b9.gif)

[2022-07-21 14:22] osanseviero commented on #1849
Very nice!

[2022-07-21 14:26] osanseviero commented on #1849
I think it could be useful to support this directly in the component as it could also be useful for Interfaces

[2022-07-21 16:29] mbjamil commented on #1846
hey Ali,

I think the code which i copied here messed up the formatting, but i am going to copy the code and i am going to write very detailed comments:

so i have you can say 2 dataframes:

df1 (has columns id)
df2 (has column only one column id which is a concatenated field of 'id_name_age')

''' Gradio code below, the main purpose of the below code is to show a dataframe output from df2 where t

[2022-07-21 19:58] #1809 closed

[2022-07-21 20:00] abidlabs commented on #1809
@dhansmair @kmkarakaya this should be fixed now! We'll release a new version of `gradio` shortly so you can update your Spaces. Thanks for bringing this to our attention.

[2022-07-21 20:10] freddyaboulton commented on #1849
@osanseviero You can also technically do this with interfaces! It's a bit non-standard though but shows how interfaces are just blocks:

[code]

Thoughts on exposing this through a prettier api (something like `interface.on_launch(function, inputs, outputs)`).

I think that's more powerful and doesn't involve adding logic to the component for this specific use case.

[2022-07-21 20:11] abidlabs commented on #1673
Oh this shouldn't close just yet

[2022-07-21 20:41] abidlabs commented on #1849
Wow I learned something today 😄

[2022-07-21 20:44] abidlabs commented on #1849
The use case of seeds for GANs/image generation models is common enough to warrant a nice shorthand in my opinion

[2022-07-21 21:06] abidlabs commented on #1809
Should be fixed in `gradio==3.1.1`!

[2022-07-21 21:58] mbjamil commented on #1846
hey Ali good news i got the underlying dataframe out and was able to filter the dataset. So the original question i think is answer. Now the question which i would really appreciate the help woul be in answering this:

for the 2 inputs, i actually want the input2 to get filtered from input1. I changed the below:

[code]

to

[code]

So these two inputs, any idea how can i see the results based on

[2022-07-21 22:26] FarukOzderim commented on #1831
@freddyaboulton would you like to take this over as you have some experience with interpretation?

[2022-07-21 23:20] FarukOzderim commented on #1212
@abidlabs would you like to take this on? As it is difficult to clean unnecessary parts in Interface without knowing the previous design&configurations, I think this would suit you best.

[2022-07-21 23:50] abidlabs commented on #1792
@aliabid94 @aliabd and I just synced on this issue. This JS error shows up in the console whenever demos don't work:

[code]

[2022-07-22 08:42] duanjiding opened #1856 "does gradio supports SLD?"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the featur

[2022-07-22 11:01] pngwn commented on #1856
Please add more details and context to this issue. The template has not been fully completed. Closing until there is sufficient information.

[2022-07-22 11:01] #1856 closed

[2022-07-22 11:04] pngwn commented on #1813
100 seems like a very low number, we need to load test with 1000s at the least.

[2022-07-22 13:22] osanseviero opened #1858 "If the example is cached, it should jump within the queue"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
If I go to https://huggingface.co/spaces/THUDM/CogVideo, and I click any of the examples, it puts me in the queue. I would have expected that since the example is cached it would be extremely fast, and there's no need to put at the queue.

[2022-07-22 14:55] kmkarakaya commented on #1809
Unfortunately, even I set up gradio==3.1.1 in the requirements.txt, the ERROR msg still appears.

[2022-07-22 14:57] freddyaboulton commented on #1809
Hi @kmkarakaya ! Can you post the logs? Might help us figure out what's happening.

[2022-07-22 15:41] abidlabs commented on #1809
Ah I think I know the issue. Setting the version in requirements.txt doesn't work on Spaces. You have to set the `sdk_version` in the README. I've opened a PR in your repo to make the change: https://huggingface.co/spaces/kmkarakaya/Auto_Review_Generation_in_Turkish/discussions/2

[2022-07-22 15:42] abidlabs commented on #1858
I thought this was already the case, did I break something @aliabid94?

[2022-07-22 15:46] freddyaboulton commented on #1858
I think the problem is that the space does not use the `gr.Examples` component but instead uses `gr.Dataset` + click.

See code [here](https://huggingface.co/spaces/THUDM/CogVideo/blob/main/app.py#L77). Setting `examples.click(..., queue=False)` should fix the issue.

[2022-07-22 15:47] abidlabs commented on #1368
5. Let's also make sure to document the `api_name` parameter for events

See internal discussion: https://huggingface.slack.com/archives/C02QZLG8GMN/p1658499632219329

[2022-07-22 16:00] #1659 closed, assigned to freddyaboulton

[2022-07-22 16:00] osanseviero commented on #1858
Thanks! This makes sense! One additional question, the current approach would not cache the examples then right? Just if using `gr.Examples`?

[2022-07-22 16:06] freddyaboulton commented on #1858
Yes exactly, using `gr.Dataset` + `click` would not cache the examples unless that logic was explicitly built-in to the function registered with the click event.

[2022-07-22 16:21] freddyaboulton commented on #1831
@FarukOzderim Yes for sure. We can discuss priority next week during the brainstorming session!

[2022-07-22 18:13] apolinario opened #1862 "Enable a maximum eta for the queue"
**Is your feature request related to a problem? Please describe.**
If a hosted Gradio demo or a Spaces is too popular, the queue can get out of hand. I understand the queue refactor backend (https://github.com/gradio-app/gradio/pull/1489) will make that way better - but even with better handling and de-registering quitters, _too popular_ Spaces may still have way too large queues that make the app

[2022-07-22 18:26] apolinario commented on #1597
Two questions on this issue:
1. Is it part of the current queue refactoring effort? https://github.com/gradio-app/gradio/pull/1489
2. Do this idea also support multiple GPUs? So if a Space has two GPUs assigned to it, the requests could be distributed across GPUs as well as parallelized on the same GPU as it's the original idea of the issue is. So Spaces that have multiple GPUs assigned to them ac

[2022-07-22 18:37] osanseviero commented on #1862
I like this idea quite a bit. We could even have a max-length setup by default as I don't think when a queue has 50 requests it useful anymore.

[2022-07-22 18:54] kmkarakaya commented on #1809
@abidlabs yes, this time it works smoothly. Thank you for your consideration and help.

[2022-07-22 19:01] osanseviero opened #1863 "Add documentation for the Dataset component"
- [x] I have searched to see if a similar issue already exists.

If I go to https://gradio.app/docs/#examples-header, it mentions that `gr.Examples` is a wrapper around the `Dataset` component, but I don't find any info on this component. Docs and info on `gr.Dataset` would be super useful!

[2022-07-22 19:01] osanseviero commented on #1863
CC @freddyaboulton

[2022-07-22 19:14] #1675 closed

[2022-07-22 19:16] apolinario opened #1864 "Enable parallel threads to be executed even when the queue is active"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently, if `enable_queue` is `True`, the amount `max_threads` gets ignored - which I agree should happen - and there is no way to run tasks in parallel - which I think should change, because, it is not always the case that having a queue up means you don't want par

[2022-07-22 19:17] apolinario commented on #1597
Also, this parallelization (on the same GPU) is already kind of possible if `enable_queue` is `False`. Because each CPU thread can call the GPU independently, two or more threads can effectively run GPU code as long as there's enough VRAM and compute power; which made me create this issue: https://github.com/gradio-app/gradio/issues/1864

[2022-07-22 20:56] FarukOzderim commented on #1831
Sure 👍, imo it is medium priority, neither urgent nor unimportant. Can take a look when you have the bandwidth.

[2022-07-22 20:59] FarukOzderim commented on #1597
No, this is not included in the new queue design. It is about processing several number of user-inputs in GPU at the same time. Multiple-GPU sounds like a great idea, but management will be probably hard. Yet you can still create a brainstorming issue around it 😸

[2022-07-22 22:25] freddyaboulton opened #1867 "Cannot cache examples if one of the outputs is gr.Gallery"
### Describe the bug

If you run a demo with `cache_examples=True` and one of the outputs is a gallery, the user will get an error when they click on an example.

The problem is that the gallery component does not overwrite save_flagged/restore_flagged so the list of image blobs is being written as a huge blob of text.

You can write it out to csv but apparently not read it.

### Is there an exist

[2022-07-22 22:29] abidlabs opened #1868 "Fix flagging with `Gallery` component"
### Describe the bug

Right now, the `Gallery` component does not overwrite `save_flagged()`, as pointed out by @freddyaboulton. This means that if the `Gallery` component is used an Interface and a user flags the data (or even caches examples), then the Gallery component returns a long base64 string that gets saved in the CSV file, instead of saving the images separately. Not only is this inconve

[2022-07-22 22:31] abidlabs commented on #1868
Duplicate of #1867

[2022-07-22 22:31] #1868 closed

[2022-07-23 13:48] sa92leh-fs opened #1871 "Plotting using Gradio"
### Describe the bug

I want to plot the output of multiple runs on the Gradio interface but since the output is not stored, I will extract the data from the log file, and plot the count but this doesn't seem to be working. My ultimate goal is to show a plot that gets updated and does not get reset every time I submit

### Is there an existing issue for this?

- [X] I have searched the existing is

[2022-07-24 09:33] kmkarakaya opened #1874 "Flag does not work in Spaces"
### Describe the bug

When I flag, I can not see the flagged folder or the csv file in the spaces repo.
In a PC, it works.
Thank you

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

kmkarakaya/Auto_Review_Generation_in_Turkish

### Screenshot

![image](https://user-images.githubusercontent.com/41159849/180641032-415c50a5-3c5d-429c-a60f-863157c

[2022-07-25 03:27] shivalikasingh95 opened #1875 "Issue with Example helper component when passing str path to directory of examples"
Hi,

When I'm trying to pass a string path to the directory of samples to the "Example" helper component, I'm getting a file not found error as shown in the screenshot labelled "Error 1 colab screenshot" below.

I tried fixing the above error by fixing the path being passed to 'processing_utils.encode_file_to_base64()'  in line 1637 of gradio/components.py
However, after fixing that I was getting

[2022-07-25 08:11] sunnymoon-sultan opened #1876 "ANSI escape sequence isn't working on text output"
I'm trying to build a image classifier and I wanted to have the results as colored plain text. But when I'm trying to output the colored text using the ANSI escape sequence. It's not working.It's giving me the output correctly but with the ANSI sequence itself.
![image](https://user-images.githubusercontent.com/75605506/180729828-5745a989-ae66-4482-8b64-1c8c80843881.png)

[2022-07-25 08:11] bcm-at-zama opened #1877 "Issue with a Gradio button if the returned parameter from the function is too large"
### Describe the bug

This is from https://discuss.huggingface.co/t/having-a-gradio-button-call-a-function-which-returns-large-elements/20731/4 that I raised to the community.

Basically, I want to call a button which calls a function `func` which returns a large value. But, at a moment, when this value is too large, to blocks everything

### Is there an existing issue for this?

- [X] I have sear

[2022-07-25 08:32] julien-c commented on #1014
On the hf.co Hub side we are investigating into migrating our Web editor to Codemirror, maybe this could be tackled at the same time

[2022-07-25 11:21] bcm-at-zama commented on #1877
Workaround: in the meantime, I save and load the big data in a file, instead of trying to exchange it with UI elements from Gradio

[2022-07-25 14:20] #1863 closed

[2022-07-25 16:49] #1749 closed

[2022-07-25 17:06] freddyaboulton commented on #1419
What's a good place to put the logos on the website?

IMO the gradio.app landing page is not the best place.

Maybe we can add a section to the `Contributing.md` page about "Contribute to gradio by supporting the tools that power gradio" like in FastAPI

![image](https://user-images.githubusercontent.com/41651716/180834788-d44a8baf-4b63-4185-a667-7634ede0176f.png)

And then add the contributing.md

[2022-07-25 17:13] FarukOzderim commented on #1419
Hmm, landing page looks good to me. What is your concern about it Freddy?

It would sit below or above used by well imo.
<img width="1964" alt="image" src="https://user-images.githubusercontent.com/44067394/180835914-a7fdf17e-8f34-4ace-b179-9d151ee42fa0.png">

[2022-07-25 17:17] FarukOzderim commented on #1419
Btw I collected icons to the repo, we may make use of that.
https://github.com/gradio-app/gradio#open-source-stack

[2022-07-25 17:24] freddyaboulton commented on #1419
I think the landing page should be focused on convincing visitors to use gradio in as few words (and vertical space) as possible and I think the open source logos don't contribute to that.

If the goal of adding the open source stack is to give thanks to those maintainers and channel some of gradio's success to those libraries then I think we should find another place to do so. I think the contrib

[2022-07-25 17:31] freddyaboulton commented on #1858
Going to close as the issue was fixed in the space by using `gr.Examples`. Thanks all!

[2022-07-25 17:31] #1858 closed

[2022-07-25 18:19] abidlabs commented on #1419
Yup let's keep the landing page as focused as possible. We used to have a line of logos listing all of the libraries that Gradio interoperates well with (TensorFlow, PyTorch, HF). If anything, we can bring these logos back because they create a sense of familiarity for potential users of Gradio. I don't think there is much value in having the open-source stack logos on the website.

[2022-07-25 18:37] kuprel commented on #776
Would love to use this for the min-dalle space:  https://huggingface.co/spaces/kuprel/min-dalle

Here's how that model works with progressive outputs: https://replicate.com/kuprel/min-dalle

[2022-07-25 18:41] freddyaboulton commented on #500
@abidlabs The behavior you talk about (returning None makes the component invisible) is actually not what happens now.

![image](https://user-images.githubusercontent.com/41651716/180849852-559d85c1-a592-43f2-81fb-9ce294245cb6.png)

I think the better way of supporting "optional" rendering is via `gr.update` and that's already covered in the docs and guides. If anything we can add a code snippet t

[2022-07-25 18:52] freddyaboulton commented on #1419
After discussing with the team we are going to close this out because we agree listing the open source stack on the readme is sufficient.

[2022-07-25 18:52] #1419 closed

[2022-07-25 18:56] abidlabs commented on #500
Ah that's interesting... agreed we'll document `gr.update()` as part of #1359, so I don't think we need it here.

[2022-07-25 18:56] #500 closed

[2022-07-25 19:16] #1584 closed

[2022-07-25 19:35] abidlabs commented on #1838
Note that this example works fine:

[code]

So it is something about the tab with the image components not being initially visible

[2022-07-25 19:50] freddyaboulton commented on #1367
@FarukOzderim I like how the string shortcuts are listed per component. What's the benefit of listing them all in one section?

The Docs page will grow shortly with the addition of Events + more components so I think we don't have to put the same information twice.

I like the demo you shared, maybe we can add to the playground later (#1860) but otherwise I think we should close?

[2022-07-25 20:03] freddyaboulton commented on #1359
@abidlabs @FarukOzderim Does this issue track adding the `update` method for each component to the Docs page?

We already added `gr.update` to the Docs page under "blocks utilities" and "Introduction to Blocks" already includes an "Updating Component Configurations" section.

I think we should close unless we specifically want to add the `update` method for each component to the docs page.

[2022-07-25 20:25] #1628 closed

[2022-07-25 21:02] pngwn commented on #1877
Interesting. Thanks for filing this issue, we'll take a look into shortly.

[2022-07-25 21:54] FarukOzderim commented on #1367
I think that's a better classification.
**Flow:**
User wants to use shortcuts since namings are shorter, however whenever the user wants to learn the shortcut name s/he needs to find the related component, and fetch the shortcut name from there. However if there is a table then the user can easily find the names s/he is searching for.

[2022-07-25 22:10] FarukOzderim commented on #1359
It should stay open because we need to document Component.update as we have it in our library as well, even if we have it in the guides. Btw, IMO Component.update should be the suggested usage because it has autocompletion for the function parameters.
But no need to list each of them seperately, we can just show an example of it in gr.update and suggest using it since it will have parameter tracki

[2022-07-25 23:00] FarukOzderim opened #1883 "Warn enable_queue in reload mode"
**Is your feature request related to a problem? Please describe.**
Warn the user when enable_queue is true in the reload mode(gradio app.py)

**Additional context**
Since we launch the app with uvicorn in the reload mode, only fastapi app is run. We could make workarounds like triggering an endpoint to the start queueing, however I don't think it is necessary.

[2022-07-25 23:09] MichaelSNelson commented on #32
Bumping this as I am interested in using .tif files from research. RGB would be a start, as multichannel would likely be challenging :)

[2022-07-25 23:17] abidlabs commented on #32
Reopening this issue. Perhaps we can tackle as part of #466. cc @pngwn

[2022-07-26 08:04] zouharvi opened #1886 "Tables in gr.Markdown"
### Describe the bug

`gr.Markdown` does not seem to support tables, i.e. they are not rendered.

If it's intentional that markdown tables are not supported (in favour of Dataframes) then that's ok, but I did not find any usage note about this in the documentation.

The table in the example:

[code]

Should be rendered as:

|a|b|c|
|-|-|-|
|x|y|z|

### Is there an existing issue for this?

- [X] I

[2022-07-26 08:19] zouharvi opened #1887 "Dataframe headers overwritten with lists/arrays"
### Describe the bug

When `Dataframe` outputs data which is a Python list/numpy array, the header names get overwritten with numeric indicies.

Maybe this is not a bug but caused by me not using it properly. However, I did not find relevant information in the documentation.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screensh

[2022-07-26 09:15] apolinario opened #1888 "Center an output `gr.Image` when the width and height and are set"
**Is your feature request related to a problem? Please describe.**
Sometimes I may want to output images with a particular width or width/height combination. If not, the image can get way too big, even bigger than the actual image resolution.
Currently I have to do it via CSS
`css="#output_image{width: 256px}"` as in [here](https://huggingface.co/spaces/fusing/celeba-diffusion/blob/main/app.py#L48

[2022-07-26 10:30] sunnymoon-sultan commented on #1876
I'm trying to get the output text in colored format. Is there any way to do that in gradio?

[2022-07-26 10:30] apolinario commented on #1888
And example when no CSS is used. The output should be a 256x256 image but this happens:
<img width="1543" alt="image" src="https://user-images.githubusercontent.com/788417/180985390-733fc015-76b3-4644-9d94-806d1bfee133.png">

[2022-07-26 14:46] EliottZemour commented on #1666
I think I managed to reproduce the bug mentioned by @mbjamil92

### Reproduce

With gradio>=3.0.20 : running the following cell in jupyter

[code]
gives the following notebook preview:
<img width="932" alt="image" src="https://user-images.githubusercontent.com/57868384/181035072-7acd466d-000c-496f-ad27-ba8f0dc54998.png">

However, when opening the app in the browser, the default theme is applied
<

[2022-07-26 15:19] #1359 closed

[2022-07-26 15:20] pngwn commented on #1886
Tables are not supported by default in Markdown but we can probably support Github Flavoured markdown pretty easily.

[2022-07-26 15:22] freddyaboulton commented on #1365
Going to close as we already have a guide for reload mode here: https://gradio.app/developing_faster_with_reload_mode/

We're going to make this guide more visible in #1857

[2022-07-26 15:35] #1678 closed

[2022-07-26 15:46] aliabd commented on #781
We decided not to do this as a lot of our classes have many parameters, and it would make it too crowded visually to annotate them. We opted for parameter tables instead. We'll keep this in mind as we work on our playground section because it might make sense there.

[2022-07-26 15:46] #781 closed

[2022-07-26 15:49] pngwn commented on #1876
Do you have more information about the gradio app you are trying to build? Would one of our other components not work for this usecase such as [`HighlightedText`](https://gradio.app/docs/#highlightedtext-header) or [`Label`](https://gradio.app/docs/#label-header)?

[2022-07-26 16:03] abidlabs commented on #1666
Thanks @EliottZemour for the reproduction! @pngwn I think this might be related to: https://github.com/gradio-app/gradio/blob/ccd8e18a174c1ac261a0f52f0175ad1165eeb03a/ui/packages/app/src/main.ts#L292

[2022-07-26 18:26] #1838 closed

[2022-07-26 21:04] felixgao opened #1895 "Image example cannot be displayed properly"
### Describe the bug

In my example I have two images that are showing as a broken image in the examples section of the app.

When I click on the example images it is showing up correctly in the main input window

after inspecting the image in developer tools I don't think the path generated is correct.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Repro

[2022-07-26 21:13] freddyaboulton commented on #1895
Hi @felixgao ! Thanks for filing.

Does the same problem happen on Chrome or Safari? Having trouble reproducing the error on my end.

[2022-07-26 22:04] abidlabs commented on #1750
This is also included in #1857, specifically the "Global State" section in the "1)interface_state.md"

Let me update the PR to include this issue as fixed by it.

[2022-07-26 22:09] abidlabs commented on #1367
@aliabd do you have thoughts on this? I don't have a strong opinion on this. Would it be all right if I removed myself from this -- if you'd like to implement it, go ahead @aliabd

[2022-07-26 22:11] MichaelSNelson commented on #60
Thanks @hpeiyan, that is probably why it was failing to make any changes for me as well. I had only tried with a dual image+text output so I had not caught that it was broken for such outputs.

[2022-07-26 22:20] abidlabs commented on #60
@hpeiyan @MichaelSNelson can you please share an example with code of what's not working for you? We need more information to be able to address this

[2022-07-26 22:21] abidlabs commented on #1888
Hi @apolinario, is this the same issue as in #1561?

[2022-07-26 22:26] #1758 closed

[2022-07-27 02:53] MichaelSNelson commented on #60
Thanks for the response, I am only just starting to play with DL and all the rest, so it is entirely possible I misunderstood something in the link above.
https://huggingface.co/spaces/imagescientist/zebrafishtest1/tree/main
My app.py is included there - are you able to access it to see the code?

Changing the figsize in matplotlib also did not seem to impact the final image size. It may be that t

[2022-07-27 03:03] abidlabs commented on #60
If you have 3 output images, perhaps you could try using the `Gallery` component, which accepts a list of images? https://gradio.app/docs/#gallery

[2022-07-27 04:40] sunnymoon-sultan commented on #1876
Yeah [`HighlightedText`](https://gradio.app/docs/#highlightedtext-header) worked for me. Thank you!

[2022-07-27 08:05] sunnymoon-sultan commented on #1876
OK. What I'm trying to achieve is that I want a specific word to be highlighted in my text output. Like in this output I want "DID YOU KNOW" to be colored in green.  How can I do that with   [`HighlightedText`](https://gradio.app/docs/#highlightedtext-header) ?
![image](https://user-images.githubusercontent.com/75605506/181195150-d05e5c57-d0b4-4551-bc98-1edbc336935a.png)

[2022-07-27 19:44] shivalikasingh95 commented on #1875
Hi any updates on this issue?

[2022-07-27 21:34] mbjamil commented on #1666
@EliottZemour your help solved my problem, thank you so much.

[2022-07-27 23:31] irfan-mekic commented on #1689
Any updates on this?

[2022-07-28 06:50] t-vi commented on #1194
Hi! I was about to file an issue about checking examples against the input spec in general (I got an impenetrable JS error on the browser console and no UI display when it happened to me), but I am unsure if this issue tracks this or if it is more specific. Any advice would be appreciated. Thank you!

[2022-07-28 10:40] Warvito opened #1902 "Error when dealing with multiple requests, .launch(share=True), and gr.File"
### Describe the bug

I am having problems serving an application when using share=True.
My application contains three gr.Video and one gr.File, and when I try it with several sessions at the same time (testing how it will behave with several people using it at the same time), if in one of them I click to download the file from the gr.File at the same time that my app uploads the videos for anothe

[2022-07-28 12:21] abidlabs commented on #1194
@t-vi, thanks for bringing this up! We can adapt this issue to be more general, but it would be great if you can share the code that was erroring out for you as well so that we can make sure to address that use case.

[2022-07-28 12:31] abidlabs opened #1903 "A few TODOs left for Guides"
- [x] Copy-paste button in code snippets in guides is gone
- [x]  Is it possible to display a sidebar in the guide landing page like we do in the guides? I think it may help see all the tracks/guides as they all don't fit on one page (at least on my latpop)
image
- [x]  Figure out new homes for blocks/guides concept.

See discussion in #1857 for more context

[2022-07-28 14:09] apolinario commented on #1888
I did see that issue, but to me it seemed like that issue was still related to the image as an input field - while I'm getting at it as an output field - but maybe the problem is the same all across

@osanseviero has also mentioned the possibility that the output image inherits the input image (or the real output dimensions) internally - which I think would make sense as well

[2022-07-28 14:24] yannickfunk commented on #1710
Is there any progress here? This feature would be much appreciated

[2022-07-28 18:28] #1760 closed

[2022-07-28 18:28] #1739 closed

[2022-07-28 18:28] #1757 closed

[2022-07-28 18:29] #1720 closed

[2022-07-28 18:29] #1755 closed

[2022-07-28 18:29] #1750 closed

[2022-07-28 18:53] abidlabs commented on #1710
Hi @yannickfunk, not yet, but we'll take a closer look at this issue next week

[2022-07-28 18:54] abidlabs commented on #1902
Thanks for reporting this issue @Warvito, we'll take a look into it.

[2022-07-28 19:06] abidlabs opened #1904 "Add `.style()` for each component to the docs"
In our section on styling, we say "Take a look at the [Docs](https://gradio.app/docs) to see all the styling options for each Component."

<img width="678" alt="image" src="https://user-images.githubusercontent.com/1778297/181617826-cf080125-63bf-47ca-ab7c-665ca50b15f2.png">

However, I don't see the documentation for `.style()` for each component just yet. Let's go ahead and add it in.

[2022-07-28 20:57] #1740 closed

[2022-07-28 21:06] abidlabs commented on #1902
Taking another look at this, we'll need more information in order to investigate this. Can you please provide a code example that we can use to reproduce this behavior?

[2022-07-30 07:28] millermuttu opened #1911 "Grouping Tabs and Tabview freezes the UI in latest relaease 3.1.1"
### Describe the bug

Grouping Tabs and Tabview components within Row() or Column() freezes the web app and makes it non-responsive.

Had to fall back to previous releases like 3.1.0 or 3.0 to use the Tab feature.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

[2022-07-31 00:29] FarukOzderim opened #1913 "Have a consistent and decided docstring standard"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I don't like the current docstring status, there are different standards in the codebase and I don't know which standard we're following.

**Describe the solution you'd like**
 I suggest we follow Google standard from now on. WDYT? @aliabd @aliabid94 @freddyaboulton @

[2022-07-31 03:31] santarabantoosoo opened #1914 "App running locally but fails with "ERROR" message in spaces"
### Describe the bug

The error message appears only when I click the submit button (only in the middle tab) "word frequency"

Link for the space
https://huggingface.co/spaces/Santarabantoosoo/Sentiments_topic_modeling_ITALIAN

My problem is not related to examples as discussed in previous issues.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproductio

[2022-07-31 03:56] santarabantoosoo opened #1915 "Gradio Plot() in the first tab prevents the second tab from functioning"
### Describe the bug

Having a plot in the first tab prevents anything from appearing in the second tab. Clicking the second tab gives the screenshot below. I tried a work-around by changing the position of the tabs. Tab1 (without plot) has been placed in the first position as in this space https://huggingface.co/spaces/Santarabantoosoo/Sentiments_topic_modeling_ITALIAN and it worked. However, the

[2022-07-31 05:57] sheikhartin opened #1916 "Wrong screenshot is used for `Hello, Blocks` section"
### Describe

In [this](https://github.com/sheikhartin/gradio#hello-blocks) section, a wrong screenshot is used... It might confuse newcomers a bit, so it's better to fix it, Gradio team! I don't know how to take a screenshot like this (besides the theme that is displayed for me is dark, which is a little contradictory to the others).

- [x] I have searched the existing issues

### Screenshot

Cur

[2022-07-31 14:40] datalifenyc commented on #700
It's interesting that `share = True` resolves the local URL.

[2022-07-31 15:06] osanseviero opened #1917 "Add documentation for click event"
- [x] I have searched to see if a similar issue already exists.

There are some simple `Button` examples and the documentation mentions there is a `click` event, but its usage is not documented

[2022-08-01 09:20] aisensiy commented on #1637
Is any one working on this feature?

[2022-08-01 14:32] freddyaboulton commented on #1917
Thanks @osanseviero !  Will be done in #1892

[2022-08-01 14:32] #1917 closed

[2022-08-01 14:39] freddyaboulton commented on #1808
@kleinay Going to close as I think the issue was fixed by using `gr.CheckboxGroup`!

[2022-08-01 14:39] #1808 closed

[2022-08-01 14:46] freddyaboulton commented on #1689
@irfan-mekic Thanks for the follow-up!

We were working on improving the docs the last two weeks. Next we're working on the 3.2 milestone which will focus on bug fixes. I've added this issue to that milestone so someone will take a look at this soon.

[2022-08-01 14:53] freddyaboulton commented on #1745
Similar to #1194

[2022-08-01 14:58] freddyaboulton commented on #1839
This is a dupe of #1683. Going to keep both open so as to not lose all the discussion and add to 3.2 milestone.

[2022-08-01 15:18] freddyaboulton commented on #1083
@heaversm Can you please let us know if the bug is still present?

[2022-08-01 15:31] freddyaboulton commented on #1496
Renamed the issue since the original bug was fixed and the discussion turned to how to improve the flagging UX.

This issue feels larger in scope than what we're trying to prioritize for 3.2 but adding it to 3.2 so that someone can start brainstorming.

[2022-08-01 15:33] freddyaboulton commented on #1348
@Adeel-Intizar Can you please let us know if the problem persists while running on google colab?

[2022-08-01 15:50] freddyaboulton commented on #1914
@santarabantoosoo Thank you for filing this issue!

On spaces, there is a button where you can see the log of your space. It's right next to the green "Running" status indicator.

![image](https://user-images.githubusercontent.com/41651716/182188827-68e7803f-908e-4b8d-94f0-7743afd5c237.png)

Can you tell us if there is anything helpful there? Usually exceptions are logged there.

[2022-08-01 15:58] abidlabs commented on #1654
Is this still an issue @freddyaboulton? You've been able to build the website locally, right?

[2022-08-01 16:21] pngwn commented on #1810
We aren't using TUI any more, so this isn't valid.

[2022-08-01 16:21] #1810 closed

[2022-08-01 16:28] freddyaboulton commented on #1654
Not with the demos via docker compose

[2022-08-01 17:06] aliabd commented on #1367
We discussed this and decided that we will no longer document string shortcuts as it makes for a confusing API. We'll still support them but will instead document the template classes. They work the same way but instead of `"shortcut"` it's `gr.Shortcut()` (so `"text"` is`gr.Text()`)

We won't include a standalone section but will replace the string shortcuts section in each component with a templ

[2022-08-01 18:04] abidlabs commented on #1637
@aliabid94 is this something you can take a look into as part of the 3.2 milestone?

[2022-08-01 18:38] ysig commented on #873
This is great! Is there however a way to store sketch information as a list so there is an ordered sequency of how input was entered rather than just being mask?

[2022-08-01 20:24] dawoodkhan82 commented on #1545
@duerrsimon Cannot reproduce this issue. Perhaps it was resolved by another PR. Can you confirm?

[2022-08-01 20:50] ysig opened #1922 "[ImageEditor] - Gradio support for ordered points as an output to sketch."
- [x] I have searched to see if a similar issue already exists.

**Describe the solution you'd like**
I want to use sketch inside gradio but I would like the output to be a poly line or with points ordered as given instead of a mask.

I think this is easy to implement, but it will open new possibilities that can be quite useful.

[2022-08-01 21:20] freddyaboulton opened #1923 "Create a matrix of that shows which events are valid for each component"
In the discussion of #1892, @FarukOzderim and @pngwn think it would be a good idea to augment one of our guides with a matrix that shows the valid component/event combinations.

Would be cool to create this matrix as a gradio demo.

[2022-08-01 21:44] freddyaboulton opened #1924 "Model3D component loads forever when used as input and cache_examples=False"
### Describe the bug

When using `Model3D` as input and `cache_examples=False`, the component loads forever after running the predict function.

@dawoodkhan82 Any idea what's happening?

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

### cache_examples=False
![model_3d_loading_screen](https://user-images.githubusercont

[2022-08-01 21:51] dawoodkhan82 commented on #1924
@freddyaboulton will take a look

[2022-08-01 22:57] #1887 closed

[2022-08-01 23:39] #1915 closed

[2022-08-02 00:58] YuchenZeng commented on #1618
Hi @abidlabs, I believed the problem is solved when we run the gradio locally, however, in huggingface space, the problem still exists. In this example, https://huggingface.co/spaces/YuchenZeng/simple_demo, if you click submit and scroll right, the interface cannot show 15th column properly.

[2022-08-02 01:09] santarabantoosoo commented on #1914
Thanks a lot.

I can no longer see the error

I think this is related to fix #1925

[2022-08-02 01:12] abidlabs commented on #1914
Ok thanks for letting us know @santarabantoosoo!

[2022-08-02 01:12] #1914 closed

[2022-08-02 01:15] #1772 closed

[2022-08-02 01:31] santarabantoosoo opened #1928 "can't switch tabs except once"
### Describe the bug

in a multi-tab application, I can go from first tab to second tab, submit inputs in the second tab. If I tried to get back to the first tab, the app becomes non-functional. I must refresh the app so that it works

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://huggingface.co/spaces/Santarabantoosoo/Sentiments_top

[2022-08-02 03:18] cri5Castro commented on #399
Hello I replicated this error today in gradio version 3.1.2
inline doesn't work and also the shareable link
<img width="983" alt="Captura de Pantalla 2022-08-01 a la(s) 22 16 47" src="https://user-images.githubusercontent.com/11454650/182284468-59f8f80d-32b1-439d-971d-12c83311cfe6.png">
<img width="1007" alt="Captura de Pantalla 2022-08-01 a la(s) 22 17 19" src="https://user-images.githubuserconte

[2022-08-02 05:46] zouharvi commented on #1887
@pngwn Thank you for taking care of this! :clap:

[2022-08-02 07:39] HuangChiEn opened #1929 "The localhost of gradio server send a blank page."
As the title describes, I have built a gradio app in the docker of the server.
This morning i restart the server and run the container, and then active the gradio code with enable the share flag, both of the local, remote server send me a blank page (even without inner-built "loading page symbol" of gradio).

[code]

The preview page and port forward information in vscode is shown in the following

[2022-08-02 07:46] HuangChiEn commented on #1929
It seems the gradio==3.1.2 (latest version) have some issue to present the page. This problem is fixed while I downgrade to gradio==3.1.0.

![image](https://user-images.githubusercontent.com/52521165/182320715-15bc5128-3a7d-462f-96cb-1a3ae245dba0.png)
( PS. omit the page content, but the loading symbol is shown in above figure

[2022-08-02 14:29] madwichery commented on #1132
Thank you very much! this really help

[2022-08-02 16:36] aliabid94 opened #1934 "Add testing to make sure share=True, iframe, and Spaces don't break on release"

[2022-08-02 17:56] abidlabs commented on #1929
Hi @HuangChiEn! Thanks for creating the issue.

We made a mistake when releasing 3.1.2 that caused the blank page to occur. We've yanked that release and issued a new release 3.1.3 that should work just fine!

Closing the issue, but let us know if you experience any other issues.

[2022-08-02 17:56] #1929 closed

[2022-08-02 18:01] abidlabs commented on #1934
What we need is a GitHub action that runs *after* the pypi package is deployed and programmatically tests:
* That `share=True` is working with the latest release
* That demos appears properly in iframes with the latest release

[2022-08-02 18:08] freddyaboulton commented on #1934
I think we should do a pre-release prior to the official release to make sure we don't publish a broken version.

[2022-08-02 18:09] dawoodkhan82 opened #1937 "[Integration Tests] Update a demo's config.json as part of integration test"
### Describe the bug

The config.json for each demo used by the integration test needs to be manually updated by running `write_config.py`. This should be done as part of each integration test programatically.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

N/A

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Sev

[2022-08-02 18:10] abidlabs commented on #1934
Ah yeah that’s much better!

[2022-08-02 19:02] #1820 closed

[2022-08-02 20:01] freddyaboulton commented on #1533
I no longer get that same error as the code in the space (as well as the gradio version) have been updated since this was posted.

I'm pretty sure this is the same bug as #1867 as the output is a Gallery and cache_examples is set to true in spaces.

Will fix #1867 to see if this bug is fixed.

[2022-08-02 23:47] keunwoochoi commented on #1369
hi @radames, you mean after manually installing `transformers`?

[2022-08-02 23:52] keunwoochoi opened #1940 "Gradio and M1 macbook"
### Describe the bug

Hi!

Related to #1369, I also can't run Gradio on my M1 Macbook.

Unlike the answer #1369, It doesn't seem to be about `transformers` library.

Here's the error message I get.

[code]

Macbook M1, miniforge, python3.9. it's coming from `gradio/encryptor`, line 2,
[code]

Anyone having the same issue?

### Is there an existing issue for this?

- [X] I have searched the existin

[2022-08-03 00:12] keunwoochoi commented on #1940
EDIT: oh, on another conda env with python3.10 it just works. i don't understand why but am closing this issue.

[2022-08-03 00:12] #1940 closed

[2022-08-03 00:50] HuangChiEn commented on #1929
yes, it's fine while I update to the patched version 3.1.3, thanks for solving this issue in few hours.

[2022-08-03 00:59] HuangChiEn commented on #1904
WoW ~ That's what i looking for !! 🚀
Last week I still followed the example and doc to write the CSS & pass it to each component by id.

For now, seems we have new choice ~
Is this appears in gradio>=1.3.0 version also ?

[2022-08-03 01:00] dawoodkhan82 commented on #1632
@Zengyf-CVer @freddyaboulton I can't seem to reproduce. Maybe this was fixed by another PR?
<img width="629" alt="Screen Shot 2022-08-02 at 5 59 20 PM" src="https://user-images.githubusercontent.com/12725292/182501776-70bcf8c4-38ad-4be8-95ad-73fc2d08ebf1.png">

[2022-08-03 01:04] dawoodkhan82 commented on #1632
Probably fixed by this https://github.com/gradio-app/gradio/pull/1732

[2022-08-03 01:11] Zengyf-CVer commented on #1632
@dawoodkhan82 You try to use gradio 3.1.3, the problem is still not solved. You check the version of gradio you are using.

[2022-08-03 02:53] HuangChiEn opened #1941 "TabbedInterface will ignore all style setup of block api"
### Version info
#### gradio version == 3.1.3
#### python version == 3.8.8

There are 2 way to setup the style of each component in the block API.
1. Feed the CSS string in the block API and setup `elem_id` of component according to CSS template.

2. call style method in the corresponding component

However, all of aforementioned settings will be fail, while i further warp the block API into the T

[2022-08-03 03:20] abidlabs opened #1942 "Bokeh plots do not appear"
### Describe the bug

When using the `Plot` component, bokeh plots do not appear at all.

This is documented here: #1632

And in this PR: #1609

The PR was closed because it was an attempt to fix the problem using an older version of bokeh. We still need to find a solution using the latest version of bokeh.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### R

[2022-08-03 03:20] abidlabs commented on #1942
cc @dawoodkhan82 @Ian-GL

[2022-08-03 03:20] abidlabs commented on #1632
Created a separate issue to track bokeh (#1942). Let's use this issue for the plot legend

[2022-08-03 05:02] #1303 closed

[2022-08-03 11:58] GDalforno opened #1944 "Textbox submit does not work on version 3.0.6"
### Describe the bug

I'm trying to send a message to the chatbot using the enter key, but it does not seem to work. Although in the version ```gradio==2.9b7``` it works just fine (as stated [here](https://github.com/gradio-app/gradio/issues/681)), when I moved to the most recent version (3.0.6) the submit method does not do anything. I appreciate if someone can check it out. Thank you.

### Is th

[2022-08-03 15:35] mistycheney opened #1947 "Video with IP Camera URL source"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

I have an IP camera whose stream can be accessed from http://xxx.xx.xx.xxx/mjpg/video.mjpg. I try to use Gradio to take this stream rather than feed from webcam.
From the doc it seems "value" argument is where I specify the URL.
I tried `gr.inputs.Video`, but it does

[2022-08-03 19:09] #1368 closed

[2022-08-03 19:09] #1673 closed

[2022-08-03 19:09] #1904 closed

[2022-08-03 21:03] #1924 closed

[2022-08-03 21:38] #1867 closed

[2022-08-03 21:38] #1533 closed

[2022-08-03 22:04] duerrsimon commented on #1545
Indeed seems like this was fixed. The offending CSS was `file-name w-3/5 text-4xl p-6 break-all` which I don't find in the main branch anymore.

[2022-08-03 22:10] abidlabs commented on #1545
Awesome, thanks for clarifying!

[2022-08-03 22:10] #1545 closed

[2022-08-04 01:37] dawoodkhan82 commented on #1632
Are you referring to the bokeh problem or the plotly legend problem? I don't see the plotly legend problem anymore. Unless I'm missing something.

[2022-08-04 05:47] abidlabs commented on #1632
@dawoodkhan82 I think the problem only happens when you open the demo in a new tab (as opposed to viewing it in a jupyter notebook). I just tested the `demo/outbreak_forecast/run.py` on `main` and when I open the demo in a new tab, I don't see the plotly legend:

<img width="997" alt="image" src="https://user-images.githubusercontent.com/1778297/182772119-d53da61d-25c6-4cf1-a556-0b5712c00722.png">

[2022-08-04 11:57] apolinario opened #1948 "gr.Examples with image and text don't make a proper table when used with Blocks"
### Describe the bug

If using blocks, when I have this code block
[code]
I get only the first element, so just the image
![image](https://user-images.githubusercontent.com/788417/182839895-489d9fbb-6298-4848-93c6-b215fc4e76fb.png)

However, if I do a `gr.Examples` using gr.Interfaces it works as it was supposed to:

![image](https://user-images.githubusercontent.com/788417/182839681-f817faee-6ea2

[2022-08-04 17:48] #1438 closed

[2022-08-04 20:46] abidlabs commented on #1913
As part of the documentation sprint, we just enforced all of the classes that need to be documented to follow this docstring format:

[code]

I don't think there's much benefit in changing that now especially since we wrote a lot of Python logic to parse documentation written in this format to generate the docs. If there is documentation that is not written in this format, let's rewrite it in this

[2022-08-04 20:46] #1913 closed

[2022-08-04 20:47] abidlabs commented on #1922
This is a cool idea @ysig! Not sure if it fits into our near-future roadmap, but would be happy to have a contribution towards this end.

[2022-08-04 20:49] abidlabs commented on #1947
Hi @mistycheney, this is a good question. I haven't worked with IP cameras before. Can you provide a valid URL that we can use for testing?

[2022-08-04 20:56] abidlabs commented on #1941
Hi @HuangChiEn I'm looking into this. Would you be able to provide a complete code snippet? Will make it easier to reproduce

[2022-08-04 21:11] abidlabs commented on #1470
I think we should close this issue because we need to reimplement support Bokeh plots anyways (#1942) and if we reimplement it correctly, this should not be a problem. What do you think @dawoodkhan82?

[2022-08-04 21:32] ysig commented on #1922
I think the main question that arises from this is how easy it is for a user to implement new widgets (tools).
Is there a tutorial for this?

[2022-08-04 21:34] dawoodkhan82 commented on #1948
@apolinario thanks for reporting. I can confirm this is an issue and can reproduce it. @aliabid94 Ik you worked on examples, can you take a look?

[2022-08-04 21:34] dawoodkhan82 commented on #1944
@GDalforno Thanks for reporting, I'll take a look at this issue.

[2022-08-04 21:38] dawoodkhan82 commented on #1928
Thanks @santarabantoosoo for reporting. We'll take a look into it.

[2022-08-04 21:41] dawoodkhan82 commented on #1922
@ysig we have a guide on how to contribute a new component. https://gradio.app/creating_a_new_component/

[2022-08-04 22:24] dawoodkhan82 commented on #1470
Yeah Agreed.

[2022-08-04 22:24] #1470 closed

[2022-08-05 00:20] #1643 closed

[2022-08-05 00:49] abidlabs commented on #1948
I can take this, as I'm also looking into #1875

[2022-08-05 00:53] abidlabs commented on #1875
@shivalikasingh95 sorry for the delay, looking into this now

[2022-08-05 01:23] #1674 closed

[2022-08-05 01:45] abidlabs commented on #1683
Hi @versae, you can do this by passing in a little bit of css to your `Interface` or `Blocks`, like this:

[code]

See #1951 and #1839 for more info.

[2022-08-05 01:47] abidlabs commented on #1941
Hi @HuangChiEn, this should now be fixed due to #1951. Please take a look at https://github.com/gradio-app/gradio/pull/1951 for more information, but the summary is that you will have to pass in a `css` parameter to `TabbedInterface` with your desired css, like this:

[code]

[2022-08-05 01:47] #1941 closed

[2022-08-05 01:47] #1839 closed

[2022-08-05 09:41] HuangChiEn commented on #1839
Thanks for your quickly reply.
yes, I think this may be the solution in this case. However, the CSS argument is not supported in gradio==3.1.3 version.

![image](https://user-images.githubusercontent.com/52521165/183049918-f885a807-e1da-43cf-bfa3-e3b3150b7f9d.png)

[2022-08-05 09:42] HuangChiEn commented on #1941
Thanks for your quickly reply.
yes, I think this may be the solution in this case. However, the CSS argument is not supported in gradio==3.1.3 version.

![image](https://user-images.githubusercontent.com/52521165/183049918-f885a807-e1da-43cf-bfa3-e3b3150b7f9d.png)

[2022-08-05 09:59] Mittag-tech opened #1953 "How to update unselected status of gradio.Radio"
# Overview
- I want to update gradio.Radio with unselected status.
- But, once selected, this status is not released even if ```gradio.Radio.update(value=None)``` is set.
- To avoid this issue, I wrote like folowing code. If there is another way, let me know.

# Code
[code]

# Movement
1. input image file to ```gradio.File()```
2. update ```gradio.Radio()```
    - ```choices```: ```["horse", "cat"

[2022-08-05 13:14] versae commented on #1683
Interesting. Does this work with the Blocks API as well?

[2022-08-05 15:31] freddyaboulton opened #1954 "When multiple events are triggered consecutively, the final event should always be sent"
### Describe the bug

If you have a live interface, the predict function sometimes is not run for every update of the component - especially if the predict function has some delay and the updates happen faster than the runtime of the predict function.

You can repro with this interface

[code]

Note that I typed "freddy" but the text box only shows "fred".

![live_interface_delay](https://user-ima

[2022-08-05 16:23] abidlabs commented on #1953
Hi @Mittag-tech, thanks for creating this issue.

You should be able to "clear" the Radio button by settings its value to an empty list: `[]`. So `gradio.Radio.update(value=[])`

But I agree with you that setting its value to `None` should also work, so I'm going to leave this issue open until we implement that.

[2022-08-05 16:25] abidlabs commented on #1954
Yup! The problem is that is a new prediction isn't sent until the previous one is complete, which can create a very "non-live" experience, especially on Spaces and Colab.

I know we considered adding a debounce to the Textbox and Slider components for this reason. Should we add it here @pngwn @aliabid94?

[2022-08-05 16:26] abidlabs commented on #1683
Yup, you can pass `css` into `Blocks` as well.

[2022-08-05 16:36] freddyaboulton commented on #1953
Similar issue here about how to reset components to their original state

https://github.com/gradio-app/gradio/issues/1672

[2022-08-05 16:42] pngwn commented on #1954
We did have a debounce but we removed it because it caused some bugs. https://github.com/gradio-app/gradio/pull/932

I think the correct solution here is to send all requests and ensure the most recent request/ action takes priority over earlier ones. This will require some changes to how we are processing request both on the frontend and the backend.

In general with live updates we need to reduc

[2022-08-05 16:53] pngwn commented on #1954
Copied from response in slack:

Live updates need to be looked at holistically anyway imo, its a really important usecase but Gradio doesn't really do a great job right now because of how we process requests, and how we handle loading states. Queueing also introduces some additional challenges here, at least from a design PoV.

Loading states in general are pretty rudimentary right now and only re

[2022-08-05 17:02] pngwn commented on #1911
I can't repsoduce this with the provided demo. It could be that it was fixed recently.

@millermuttu could you retest this and ensure the problem is still present. If so could you provide additional reproduction steps. The layout looks a bit weird but the tabs remain responsive.

@abidlabs @aliabid94 @freddyaboulton @dawoodkhan82 Can you reproduce?

[2022-08-05 17:08] freddyaboulton commented on #1911
I can reproduce on 3.1.1 but not on 3.1.3 !

![tab_switch](https://user-images.githubusercontent.com/41651716/183126903-98138870-367f-4000-b728-61691c37c937.gif)

[2022-08-05 17:14] pngwn commented on #1877
@freddyaboulton @abidlabs Could you take a look at this one. The only thing I can see for sure is that with _certain_ values the request errors with a 'unexpected end of JSON'. My guess is that the response is taking up to much memory but it is hard to debug on the frontend because everything just locks up.

I will say that it only locks up some of the time. If I use `20000` then the UI locks up,

[2022-08-05 18:31] abidlabs commented on #1941
Hi @HuangChiEn, you can install this by using the pre-release `3.1.4b`. (The actual release `3.1.4` should be out shortly as well)

[2022-08-05 19:11] abidlabs opened #1957 "Embedding flourishes for the gradio web component"
We used to have a nice gray border around embedded gradio demos with some additional information like this at the bottom:

![image](https://user-images.githubusercontent.com/1778297/183145125-bf44850f-0dff-4957-b3df-2649bb0bfb9d.png)

I think this would a nice enhancement to bring back to embedded gradio web components and would distinguish the web component from an ordinary iframe embedding.

TLD

[2022-08-05 19:19] abidlabs opened #1958 "Gradio demos do not work properly on landing page"
### Describe the bug

I'm seeing issues with the Gradio demos on the website (might be related to the recent PR: #1899):

* There is no "processing" message to indicate that the demo is running when you click submit (or draw on the sketchpad)
* The sketchpad does not work after you switch back to it after viewing another demo
* The echocardiogram one works, but I think it would be better if cachin

[2022-08-05 22:33] aliabd opened #1960 "No loading icon or processing message on embedded demos"
### Describe the bug

When demos are embedded as web componenets, there is no loading/processing feedback on a submit.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

See demos embedded in https://gradio.app

### Screenshot

https://user-images.githubusercontent.com/9021060/183219540-16384984-29ac-47cc-8b0f-aa77811037a4.mov

### Logs

[code]

[2022-08-05 22:39] aliabd opened #1961 "Sketchpad demo doesn't work after clicking another tab"
### Describe the bug

The pictionary demo on the landing page at https://gradio.app has a bug where it doesn't work if you click on a different tab and then back to it.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

See https://gradio.app

### Screenshot

https://user-images.githubusercontent.com/9021060/183220089-9114b21c-8d8f-4f54-92aa-70c

[2022-08-05 22:51] #1849 closed

[2022-08-05 23:05] shivalikasingh95 commented on #1875
Thanks @abidlabs for the update and adding a PR to fix this!

[2022-08-05 23:14] aliabd opened #1962 "Microphone and Audio not working"
### Describe the bug

Recording from microphone or clicking an audio example doesn't seem to be working in the latest version of gradio.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

This space: https://huggingface.co/spaces/gradio/same-person-or-different with the latest version of gradio.

### Screenshot

_No response_

### Logs

[code]

[2022-08-05 23:23] abidlabs commented on #1948
Hi @apolinario, looks like the issue actually stems from the fact that some of the components in your Blocks demo have labels while others don't. If both the `Image` and `Textbox` components have labels (or neither do), then the issue does not occur.

Nevertheless, opened a PR to fix this: #1952

Thanks for creating the issue!

[2022-08-05 23:40] aliabd commented on #1958
Thanks for listing these @abidlabs
* The no processing/loading message is an issue with all of the embedded demos. I opened #1960  to track it
* I opened #1961 for the sketchpad issue and will look into it.
* I removed caching in the [echocardiogram space](https://huggingface.co/spaces/gradio/Echocardiogram-Segmentation)
* Speech verification demo issues not related to embedding, I couldn't figure

[2022-08-05 23:56] abidlabs commented on #1958
Thanks @aliabd for creating the individual issues!

We can close this issue once #1963 is in.

[2022-08-06 00:13] dawoodkhan82 commented on #1632
Weird, seems to be the same issue causing #1692 . Ive taken a look, and can't seem to figure it out. Will spend more time on this later.

[2022-08-06 00:21] abidlabs commented on #1632
Oh yeah looks like duplicate issues. We can close this one?

[2022-08-06 00:22] dawoodkhan82 commented on #1944
@GDalforno setting `max_lines=1` in the Textbox should enable submit on enter.

[2022-08-06 00:31] dawoodkhan82 commented on #1944
@pngwn I'm assuming this is the expected behavior for the text box right? `{#if lines === 1 && max_lines === 1}` then we allow submit on enter.

[2022-08-06 01:08] HuangChiEn commented on #1941
This new version (3.1.4b) works very well. Furthermore, it can be not only integrated Interface API but also used to layout the Block API !!

Thanks for this amazing work ~

[2022-08-06 04:31] #1911 closed

[2022-08-06 13:38] Mittag-tech commented on #1953
Thank you for the answer and consideration, @abidlabs !
I hadn't tried ```value=[]```, so I try it.
I look forward to seeing the implementation !

[2022-08-06 13:43] Mittag-tech commented on #1953
I had missed this issue, thank you for sharing, @freddyaboulton .

[2022-08-06 16:12] nagolinc opened #1964 "Error when loading min-dalle interface"
### Describe the bug

When importing https://huggingface.co/spaces/kuprel/min-dalle, gradio fails

[code]

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

blocking all usage of gradio

[2022-08-07 20:22] AlicanAKCA opened #1965 "Handle GIFs correctly in Image component"
### Describe the bug

Hello, I had tried to upload GIF. I encountered an issue. I saw that when I wanted to split the GIF file frame by frame, it only took the first frame. This situation occurs in both local and embedded environments. Here's the code:

[code]
[code]

Output:
[code]
As you can see, there is only one frame of GIF file. I didn't encounter this issue when I wasn't using the Gradio. B

[2022-08-08 01:35] abidlabs commented on #1083
Going to close the issue for now. @heaversm if the bug is still present, please feel free to reopen the issue with more details on which error you are getting.

[2022-08-08 01:35] #1083 closed

[2022-08-08 01:36] abidlabs commented on #1348
Going to close the issue for now. @Adeel-Intizar if the bug is still present, please feel free to reopen the issue with more details.

[2022-08-08 01:36] #1348 closed

[2022-08-08 01:37] abidlabs commented on #1825
Going to close the issue for now. @siriuslea if the bug is still present with the latest version of PIL, please feel free to reopen the issue with more details.

[2022-08-08 01:37] #1825 closed

[2022-08-08 01:37] abidlabs commented on #1895
Going to close the issue for now because of lack of response. @felixgao if the bug is still present, feel free to reopen the issue with more details.

[2022-08-08 01:37] #1895 closed

[2022-08-08 01:40] abidlabs commented on #1928
Hi @santarabantoosoo, this should be fixed with the latest version of gradio (3.1.4). Please upgrade to the latest version of gradio (you can do this in Spaces by specifying the `sdk_version` in the README file) and it should be fixed.

I made a clone of your Space, but using Gradio 3.1.4, to confirm: https://huggingface.co/spaces/abidlabs/Sentiments_topic_modeling_ITALIAN

[2022-08-08 01:40] #1928 closed

[2022-08-08 01:53] abidlabs commented on #1902
Going to close this until we have some code to reproduce. Please feel free to reopen with more info @Warvito. Thanks!

[2022-08-08 01:53] #1902 closed

[2022-08-08 01:55] abidlabs commented on #1953
Yup thanks for catching that @freddyaboulton. I think we can close this issue and leave open #1672 for the general case.

[2022-08-08 01:55] #1953 closed

[2022-08-08 09:06] versae commented on #1683
Awesome!

[2022-08-08 09:53] hysts opened #1970 "Add information about available video codecs"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

The docstring of `gr.Video` only mentions about file extensions, but a video file must be encoded with specific codecs to be playable in browsers as written in [this issue comment](https://github.com/gradio-app/gradio/issues/1508#issuecomment-1154545730).
I've seen c

[2022-08-08 10:39] abidlabs commented on #1970
This is a great suggestion! @aliabid94 I know you've looked into video codecs in the past. Would you be up for adding it to the docs?

[2022-08-08 12:52] GDalforno commented on #1944
@dawoodkhan82, ```max_lines``` indeed solved the problem, thank you! I will leave the complete code to build the chatbot interface using the enter key to send the message down below. Most examples I've found make use of the submit button which sometimes does not really embrace the whole chatbot experience, at least in my opinion.

[code]

[2022-08-08 14:10] osanseviero opened #1972 "Issues when loading/outputting video"
### Describe the bug

I'm having weird situations in which calling an inference function directly with a given video works well (I can download and play it), but just wrapping it with a `gr.Interface` outputs an invalid video (even if I download the video, I cannot play it, it gives an error in the demo). I saw @nateraw also had to do some hacks to make it work in a previous demo https://huggingfa

[2022-08-08 14:19] FarukOzderim commented on #1367
Yeah I totally agree with this, actually wanted to do this a few months ago, but there was a wish for backwards compatibility and ease of usage.

So did you create another issue for `gr.Shortcut` docs?

[2022-08-08 14:19] #1367 closed

[2022-08-08 14:28] NotNANtoN opened #1973 "A way of displaying progress"
- [x] I have searched to see if a similar issue already exists.
For some reason, this is not possible. I tried using the StatusReport block, but it does not do anything as far as I can see.

**Is your feature request related to a problem? Please describe.**
The processing of my app takes a considerable amount of time (up to 5 hours). It would be great to show intermediate outputs and status report

[2022-08-08 14:31] freddyaboulton commented on #1973
Thanks for filing!

This sounds like a duplicate of https://github.com/gradio-app/gradio/issues/776 . Do you agree? If so, let's close this and add your comment to the thread of #776

[2022-08-08 15:07] #1944 closed

[2022-08-08 15:13] FarukOzderim opened #1974 "Feedbacks and bugs for the New Queue"
🔥  The new queue beta is released
1. You can try it out over [here](https://huggingface.co/spaces/farukozderim/test-new-queue) with a basic example
2. And try it via specifying gradio==3.1.4b5

Please share your feedback and bugs you find in this issue ❤️

Related: #1337, #572

[2022-08-08 15:16] freddyaboulton commented on #1964
Hi @nagolinc !  Thanks for filing.

The problem seems to be that the min-dalle space is providing a default value for the output image. This sets the value in the config to be a base64 representation of the image and this fails when you try to load the config as it will assume the base64 representation is actually a filename.

We will look into a fix.

[2022-08-08 15:30] FarukOzderim commented on #1974
1. Queue information does not show when the user loads the page.
2. Number of people inside the queue info does not get updated with time, which results with
3/3, 2/3, 1/3 instead of 3/3, 2/2, 1/1

[2022-08-08 15:37] pcuenca commented on #1597
I was discussing the same thing with @freddyaboulton today and he pointed me to this issue. This is something we did manually for dalle-mini, and I think it would be useful for viral spaces if it could be generalized. The implementation outlined above (wait for max parallel requests or timeout threshold) sounds good to me!

[2022-08-08 16:06] pcuenca opened #1976 "Provide a way to determine the selected image in a `Gallery`"
- [x] I have searched to see if a similar issue already exists.
Possibly related to #1379.

**Is your feature request related to a problem? Please describe.**
The use case is: generate a grid of images, using for example a text to image model, then select one of the results for further processing.

**Describe the solution you'd like**
I thought about two potential solutions:
- Update `value` to re

[2022-08-08 16:14] pcuenca opened #1977 "Image Button"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
As a workaround for the issue described in #1976 (there is currently no way, afaik, to get the selected image in a Gallery), I thought that a potential solution could be a special `Button` whose content is not a label, but an image.

**Describe the solution you'd like

[2022-08-08 16:24] NotNANtoN commented on #1973
Hi,

yes, to some degree. Although I would love to have this not only for images but also for text boxes

[2022-08-08 16:33] freddyaboulton commented on #776
We should also be mindful to support all components (e.g. Text) and not just images. Comment from @NotNANtoN :

Comment from https://github.com/gradio-app/gradio/issues/1973#issuecomment-1208338917

[2022-08-08 16:33] freddyaboulton commented on #1973
Noted! Let's close this but I added your feedback to #776

[2022-08-08 16:33] #1973 closed

[2022-08-08 16:42] freddyaboulton commented on #1970
Is it in scope to automatically convert the video to a codec that's playable in the browser? Would fix issues like #1972

[2022-08-08 16:52] #1916 closed

[2022-08-08 17:35] #1875 closed

[2022-08-08 17:35] #1948 closed

[2022-08-08 17:55] abidlabs commented on #1976
Thanks for creating this issue @pcuenca! Agreed that this would be a useful addition to Gallery, and is a lower hanging fruit than making Gallery support full upload capabilities.

[2022-08-08 17:58] abidlabs commented on #1977
Thanks for the suggestion. `Image` doesn't actually support `click()`, so this is something that we would have to implement separately. We'll need to think about how to design a good UI for a button with an image. If you've seen a good implementation  of a button with an image anywhere on the web, feel free to link to it for inspiration!

[2022-08-08 21:41] FarukOzderim commented on #1864
Hmm, it feels like the new queue solves this issue like [this](https://github.com/gradio-app/gradio/pull/1978/files#diff-1470d66b816ce9346baf5cbabfe71f5cb3db2cfd8c34b54d3fa58405feb2c4d8R16), closing the issue, feel free to reopen.

[2022-08-08 21:41] #1864 closed

[2022-08-08 22:09] dawoodkhan82 commented on #1666
This seems to have been fixed. @abidlabs I can't reproduce. Can you confirm?

[2022-08-08 23:04] abidlabs commented on #1666
Actually, I still see it @dawoodkhan82. Here's jupyter:

<img width="739" alt="image" src="https://user-images.githubusercontent.com/1778297/183529080-002770eb-c0b8-400d-9441-073d4e9574dc.png">

And here's in a new browser tab:

<img width="979" alt="image" src="https://user-images.githubusercontent.com/1778297/183529108-e23ba44a-c1bb-4883-9b46-f2ab09a3b34b.png">

Same behavior in both Chrome and

[2022-08-09 01:28] #1833 closed

[2022-08-09 02:37] MrNocTV opened #1982 "When deploy on multiple pods in Kubernetes, nginx ingress does return an HttpOnly cookie but it is not used by Gradio"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Insight:
- We want to support `enable_queue` params.
- The Gradio apps are deployed on a Kubernetes cluster.
- Each deployed app will have its own sqlite db.
- If requests are round robin, then we will have problem.
- To solve this issue, I'm trying to implement stick

[2022-08-09 05:11] #1982 closed

[2022-08-09 05:47] abidlabs commented on #1982
Hi @MrNocTV did you figure out the issue? Would be great if you can share your solution for other users!

[2022-08-09 14:25] #1654 closed

[2022-08-09 16:41] FarukOzderim opened #1983 "Write Tests for Queueing"
**Is your feature request related to a problem? Please describe.**
We need to write tests for the new event queue in the Frontend.

**Additional context**
Websocket testing tooling is seems to not work well in Python, and we're unable to test it in Backend.

Testing a single event case and multiple events case would be nice.

[2022-08-09 16:53] dawoodkhan82 commented on #1666
@abidlabs I tested it; it's the same issue as #1632 & #1692. The same fix fixes all three issues. But it's a naive fix that probably causes regressions elsewhere; will wait for @pngwn to take a look.

<img width="936" alt="Screen Shot 2022-08-09 at 12 51 10 PM" src="https://user-images.githubusercontent.com/12725292/183710988-c48f3b9a-3f8b-45e2-bbd2-10f316be4713.png">
<img width="1326" alt="Screen

[2022-08-09 17:26] FarukOzderim opened #1984 "Improve Queue ETA calculation via exponential weighted average"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently we take average of all the function events to calculate the average processing time. However as there are different functions inside each event, it would be more precise to calculate the average based on the fn_index.

[2022-08-09 17:46] duerrsimon opened #1985 "HTML block does not display spinner"
### Describe the bug

Most blocks when they are used as output like Textbox display an orange spinner indicating that the model is running.
For HTML blocks no such spinner is available which from a UX perspective is very confusing if the output is only HTML.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

See https://huggingface.co/spaces/sim

[2022-08-09 20:40] #1117 closed

[2022-08-10 06:30] tt0203 opened #1989 "How to make_ JS parameter references JS file?"
I see that the cases provided on the official website are only the cases where the arrow function defines variables and returns. However, how to implement a custom function by referencing an online JS file?

Just i have an online JS file:
https://huggingface.co/spaces/changxin/test/raw/main/statics/md5.js
How can I use the md5 function?

[2022-08-10 06:36] tt0203 commented on #1989
https://gradio.app/custom_CSS_and_JS/

[2022-08-10 09:50] zhewei-mt opened #1990 "Error displaying video generated by open-cv"
### Describe the bug

Hello,
I tried the following code to write frames into video:
[code]
but this code gives an error result on website.
![捕获](https://user-images.githubusercontent.com/109195411/183869817-603a8d1b-3553-4b94-bd57-f41b844714df.PNG)
I tried different codecs, i.e. avc1, h264, avc1, VP90, theo, and only VP90 works but it is super slow.

And also, the uploaded video is mirrored for so

[2022-08-10 11:56] pcuenca commented on #1977
Good point. I'm not sure. An initial approach could be to mimic the current look of images inside a Gallery, which have rounded corners and a nice hover behaviour with a brightness layer and a border. Perhaps we could try an unfocused state with a lighter border and the same hover animation.

That'd be already much better than my current workaround to use a button or a radio button below the image

[2022-08-10 12:02] abidlabs commented on #1985
Thanks for pointing this out @duerrsimon. I can reproduce this issue with a simple example:

[code]

@dawoodkhan82 would you be able to look into this and add the loading indicator to the `HTML` component?

[2022-08-10 12:03] abidlabs commented on #1989
Hi @tt0203, would you be able to give us more context around this issue? What is your Gradio code, and what does this md5 function do?

[2022-08-10 12:04] abidlabs commented on #1990
Hi @zhewei-mt, thanks for creating this issue. Did you take a look at the discussion here: https://github.com/gradio-app/gradio/issues/1508?

Particularly this comment may be helpful: https://github.com/gradio-app/gradio/issues/1508#issuecomment-1154545730

[2022-08-10 12:05] abidlabs commented on #1990
As far as the mirroring goes, you can disable it using the `mirror_webcam` parameter in the `Video` component. See here: https://gradio.app/docs/#video

[2022-08-10 16:21] FarukOzderim commented on #1974
4. This happened once locally and once at spaces.

I open 4-5 tabs in browser and connect to demo page. When I click submit in one of the tabs, all tabs behaves like they are the same client and shows the same page and updates.
ie. the ones I did not click submit also behaves as submitted. And shows the same place in the queue.

[2022-08-10 17:00] FarukOzderim commented on #1974
5. It would be nice if we should send an estimation before processing_starts to

[2022-08-10 20:06] dawoodkhan82 opened #1993 "Create guide for using Plot component"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the featur

[2022-08-10 20:36] freddyaboulton commented on #1962
Should be fixed when the 3.2 release goes out. I'm assigning myself so that I don't forget to update the space.

[2022-08-10 20:39] freddyaboulton commented on #1958
Since #1963 got merged we can close @abidlabs @aliabd ?

[2022-08-10 20:53] abidlabs commented on #1958
Yes thank you! Let's close this issue, but also do a pypi release soon so that we can get the audio space working again

[2022-08-10 20:53] #1958 closed

[2022-08-10 20:54] abidlabs commented on #1958
Lol just saw your comment here: https://github.com/gradio-app/gradio/issues/1962#issuecomment-1211242715

Thank you!

[2022-08-10 22:24] FarukOzderim opened #1995 "Better handle situations relating to text.txt in tests"
**Is your feature request related to a problem? Please describe.**
test.txt started to cause issues in a unrelated test after small changes in  #1845. I think we should find a better solution instead of using a file. Temporary files or creating&deleting the file in each test could work. Related [discussion ](https://huggingface.slack.com/archives/C02SPHC1KD1/p1660156880369629)in slack

**Additiona

[2022-08-11 00:34] tt0203 commented on #1989
@abidlabs

Now,I just try to use the following code:

import gradio as gr
demo=gr.Blocks()
with demo:
    with gr.Tabs():
        with gr.TabItem("js"):
            gr.Markdown("# js处理测试")
            a=gr.Textbox(label='请输入需要js处理的字符串')
            js_output=gr.Textbox(label="JS输出")
            js_button=gr.Button("调用js引用")
            js_button.click(None,a,js_output,_js='(x)=>md5(x);<script src=

[2022-08-11 00:38] tt0203 commented on #1989
Hi@abidlabs

Now,I just try to use the following code:

import gradio as gr
demo=gr.Blocks()
with demo:
    with gr.Tabs():
        with gr.TabItem("js"):
            gr.Markdown("# js处理测试")
            a=gr.Textbox(label='请输入需要js处理的字符串')
            js_output=gr.Textbox(label="JS输出")
            js_button=gr.Button("调用js引用")
            js_button.click(None,a,js_output,_js='(x)=>md5(x);<script sr

[2022-08-11 02:22] zhewei-mt commented on #1990
Already tried the methods mentioned in https://github.com/gradio-app/gradio/issues/1508#issuecomment-1154545730
but still having problems.
What I did is simple change the parameter in  cv2.VideoWriter_fourcc(), tried "avc1", "VP90" and "theo", only "VP90" gives the right answer but is slow.

[2022-08-11 04:36] dyxohjl666 commented on #1839
It works well now ! Thanks a lot!

[2022-08-11 07:46] jrabary commented on #1432
We may borrows some ideas from dash to handle this custom components issue. They describe here https://github.com/plotly/dash-component-boilerplate and here https://dash.plotly.com/plugins how to write custom components. https://github.com/plotly/dash-deck is an example of components developed by third party in a separate repo.

[2022-08-11 08:34] millermuttu opened #1997 "Adding image in markdown not working, gives broken image in the browser"
### Describe the bug

I wanted to add an image to the heading of the page and tried adding using markdown as follows

[code]
but it fails to load the image and gives broken image thumbnail

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

![image](https://user-images.githubusercontent.com/30842362/184094619-f9eaf110-4d9d

[2022-08-11 12:17] FarukOzderim commented on #1432
@jrabary I think we should also take a look at what we need for Custom Components.
1. Are we just trying to change the Backend functionalities(this would be easier)
2. Are we trying to create components with unique frontend designs or functionalities(this would require a development from scratch at backend and frontend.

For supporting 1, we could design or use a very generalistic component which

[2022-08-11 12:25] FarukOzderim opened #1998 "API Docs Request URLs Are Broken"
### Describe the bug

https://hf.space/embed/farukozderim/test-new-queue/+/api/predict

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Go to this space and see the API Docs
https://huggingface.co/spaces/farukozderim/test-new-queue

### Screenshot

<img width="606" alt="image" src="https://user-images.githubusercontent.com/44067394/184132809-e

[2022-08-11 13:57] abidlabs opened #1999 "Some `async`-related tests are failing"
### Describe the bug

Some async-related tests are failing on `main`. Specifically:
* `test/test_mix.py:33`
* `test/test_external.py:237`
* `test/test_examples.py:65`
* `test/test_examples.py:78`

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://app.circleci.com/pipelines/github/gradio-app/gradio/5035/workflows/e80ec70c-8fd0-46fc-bea6-4

[2022-08-11 14:41] freddyaboulton commented on #1990
@zhewei-mt One solution is to manually convert the video to libx264 (mp4) codecs which is playable in the browser

[code]

[2022-08-11 16:52] dawoodkhan82 commented on #1666
@mbjamil @EliottZemour @abidlabs You actually have to use `.gradio-container` instead of `body`. That should fix the issue.

[2022-08-11 17:33] abidlabs commented on #1666
Nice! Can confirm that fixes it for me @dawoodkhan82!

[2022-08-11 19:08] #1999 closed

[2022-08-11 19:43] omerXfaruq opened #2001 "Keep WS Connections Open After Processing"
**Is your feature request related to a problem? Please describe.**
Currently ws connection is killed in frontend after the processing of the event is completed. We should keep the connection open for 5 or 10 additional minutes. Can make this configurable in the Python side as well.

**Additional context**
Backend supports this right now, see [here](https://github.com/gradio-app/gradio/pull/1910#is

[2022-08-11 20:28] pngwn commented on #1721
This is a scaling issue with very large images, as I understand it. The image _and UI_ is downscaled when the image is very large. We need to scale the image independent of the UI and scale the painted region to the size of the image in order for it to appear correctly.

[2022-08-11 20:33] pngwn commented on #1450
We currently load fonts from the google fonts CDN, the iframe resizer from CDNJS and bokeh from the Bokeh CDN. All of these things will break when offline. We need to copy the source and self host, preferably along with other static assets on the CDN rather than on the server in order to fix these issues (we should be self hosting fonts for performance reasons but font are slightly more complex as

[2022-08-11 20:35] pngwn commented on #886
We now have a web component based delivery mechanism for Gradio and have the architecture to support this. However, we need to dispatch a custom event when data in the application changes (and/or when a request is made/succeeds/fails) and make the data accessible outside of the component. We also probably need some way of controlling the application from outside as well, probably via custom method

[2022-08-11 21:35] abidlabs commented on #1811
We've looked into this and realized that it has to do with how we currently sanitize data for entry into CSV files. It looks we will have to rewrite this sanitization logic.

[2022-08-12 07:54] #1990 closed

[2022-08-12 09:31] jrabary commented on #1432
@FarukOzderim For me it's more the second option. Here is an example to explain what I have in mind. Currently there is a Component in Gradio that display image and eventually has a crop functionally. What if I want to build a Gradio App that show up an inpainting algorithm ? I would like to display an image and erase some part of it with a brush or to draw some noise with a pen. I'm not sure this

[2022-08-12 11:29] millermuttu commented on #1942
Is this Bug resolved in the latest release 3.4.0?

[2022-08-12 15:10] FarukOzderim commented on #1432
OK! Then I think you can follow this [guide](https://gradio.app/creating_a_new_component/), I think it would solve your need. Could you also drop feedback about the guide in a new issue, how clear was it, and were you able to easily create a new component? Or was there anything missing?

[2022-08-12 15:10] FarukOzderim commented on #1432
Since we have a custom component guide, converted the title to just Plugins.
If a need arise in the future, we would just move the custom components into a different file.

[2022-08-12 15:51] #1934 closed

[2022-08-12 15:57] jrabary commented on #1432
Thanks for the guide. The guide is pretty clear and answers some of my questions. The thing is, I would like to build my components inside its own repo. Not in the Gradio codebase. My understanding is that I need to add the new components inside gradio source directly and edit internal gradio files like `components.py` or `directory.ts`. If I want like it to be available publicly I will need to as

[2022-08-12 15:58] #1666 closed

[2022-08-12 16:04] dawoodkhan82 commented on #1632
Closing this; because this issue is captured in #1692

[2022-08-12 16:04] #1632 closed

[2022-08-12 16:05] dawoodkhan82 commented on #1692
Plotly doesn't work well inside of a shadow dom. Will take extra work to find a work-around

[2022-08-12 16:49] FarukOzderim opened #2004 "Send ETA before Processing in Queue"
**Is your feature request related to a problem? Please describe.**
Sending an estimation message while process is starting would create a better UX.

**Describe the solution you'd like**
Currently we are sending a message when the process starts, so we could put the estimation inside it.
{"msg": "process_starts", **estimation}

[2022-08-12 16:52] FarukOzderim commented on #572
This was completed with several PRs, it is currently in beta release, will close the issue. We can file new issues related to specific features.

[2022-08-12 16:52] #572 closed

[2022-08-12 16:55] FarukOzderim commented on #1316
We need to check if the loaded space is a queued space and create a ws connection from Backend.

[2022-08-12 16:56] FarukOzderim commented on #1592
Looks like a visual bug to me because it jumps to 1 from 11 really fast.

[2022-08-12 16:59] FarukOzderim commented on #1862
We don't probably add a default for this, but will let people configure a queue-eta limit on a space and frontend will warn users accordingly when queue_eta is bigger than the threshold.

[2022-08-12 17:02] FarukOzderim commented on #435
We could easily use the queue/status endpoint and show it at page load. The only point to think about is having multiple events with Blocks.

[2022-08-12 19:42] dawoodkhan82 commented on #1942
Unfortunately not yet. It is on our radar though. Will update this issue when we do resolve this.

[2022-08-13 02:23] abidlabs commented on #1998
I don't quite understand. What's wrong here? Here's the page that I see when I click view API:

<img width="1048" alt="image" src="https://user-images.githubusercontent.com/1778297/184465001-b8dad99f-e9de-4b11-91aa-30e2907e8cba.png">

[2022-08-13 02:30] abidlabs commented on #1997
Hi @millermuttu thanks for raising the issue. This issue happens because the web app doesn't know how to resolve the path to the image that you provided. If you preface the image link with "file/" it should work.

Here's a working example for me:

[code]

If you use URLs, it should also work just fine:

[code]

Let us know if this works for you!

[2022-08-13 02:30] #1997 closed

[2022-08-13 02:34] abidlabs commented on #1432
Hi @jrabary, just to chime in here: On one hand, we actually do have support for inpainting demos, using the `Image` component with the `tool` set to `sketch`. So:

𝚐𝚛.𝙸𝚖𝚊𝚐𝚎(𝚝𝚘𝚘𝚕="𝚜𝚔𝚎𝚝𝚌𝚑")

Here's an example demo: https://huggingface.co/spaces/akhaliq/lama
With code: https://huggingface.co/spaces/akhaliq/lama/blob/main/app.py#L35

But to your larger point about supporting custom components outside

[2022-08-13 02:38] abidlabs commented on #1886
Yup it looks like it tables can be enabled fairly easily in `MarkdownIt`, if someone wants to look into this: https://markdown-it-py.readthedocs.io/en/latest/plugins.html

[2022-08-13 19:43] FarukOzderim commented on #1998
Oh sry, let me make it more clear. There is an + in the url which makes it incorrect:

https://hf.space/embed/farukozderim/test-new-queue/+/api/predict

[2022-08-14 07:18] millermuttu commented on #1997
Hi @abidlabs  I tied the solution you provided, still no luck, its still shows as broken image

[2022-08-14 14:17] abidlabs commented on #1997
Hi @millermuttu are you sure that the image is in the same directory as the Gradio file?

Here's a colab notebook that shows working examples of both of the approaches that I described: https://colab.research.google.com/drive/1rDrXnL8viMoTzUWZwa9rW6ItxAh5Kknc?usp=sharing

[2022-08-14 15:54] GuillemGSubies opened #2006 "Support for gradio objects as allowed types in gr.Dataframe cells"
I am trying to show a Dataframe using gradio and let the user input the value for a specific cell using a dropdown menu. I tried to put dropdowns as cells but they are not picklable so it did not work.

Is there a chance of this being a feature in the future? It would be something like this:

![Untitled Diagram](https://user-images.githubusercontent.com/37592763/184544875-ebf22e7f-41bd-46c1-9729-e

[2022-08-15 02:53] abidlabs commented on #2006
Hi @GuillemGSubies thanks for creating an issue and including the graphic. This is quite interesting, and we can certainly think whether this in scope for the `Dataframe` component. Can you tell us more about the use case / model you would like to demo?

[2022-08-15 08:35] GuillemGSubies commented on #2006
Basically, in our use case, we need the end user to be able to apply certain model/heuristic depending on their expert point of view of the sample (row) they are analyzing.

Right now, instead of a widget we are using text input in the column B, however that is more error prone and slower

[2022-08-15 09:35] HuangChiEn opened #2011 "More finer control of tool='sketch' in gr.Image component ?"
As the title described, is there possible to have the finer control for a sketch tool in gr.Image object?
For example, customizing : sketch shape=(28, 28), sketch colors=(color_picker)

Any suggestion and information will be appreciated!!

[2022-08-15 11:48] millermuttu commented on #1997
got it.. thanks @abidlabs

[2022-08-15 13:51] sa92leh-fs commented on #1871
I was able to remove the error but the plot is not coming in the output box, please see below
![image](https://user-images.githubusercontent.com/45196857/184648160-52f8d570-de8b-4d29-85e8-adec598ebcfa.png)

[2022-08-15 14:30] apolinario opened #2013 "Better empty state for the gr.Gallery component"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Currently the gallery component spits out an "Empty" text when it is empty and/or used as an output component. UI-wise this looks ugly and UX-wise this could be confusing
<img width="953" alt="image" src="https://user-images.githubusercontent.com/788417/184654585-998d

[2022-08-15 15:10] apolinario opened #2014 "Enable user specified error messages"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I am adding a check if there's enough VRAM available before running a prediction. I can throw an error/exception for that and Gradio will display `ERROR`

**Describe the solution you'd like**
I would like to specify my own error message if the error is thrown by me -

[2022-08-15 17:13] freddyaboulton opened #2015 "Create Gradio Demo from skops pipeline"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
(skops)[https://huggingface.co/blog/skops] makes it easy to host a scikit learn model on the model hub and tag it with a model card that includes important metadata, like sklearn version, input data types, and example inputs.

It would be really helpful to users to au

[2022-08-15 19:06] FarukOzderim commented on #1813
100 and 1000 test on HF spaces.

(venv) hugginface-5g@Omers-MacBook-Pro gradio % thor --amount 100 wss://spaces.huggingface.tech/farukozderim/test-new-queue/queue/join

[code]

[2022-08-15 21:16] FarukOzderim opened #2016 "Write an Advanced Guide about Queue, Concurrency, Batching in Gradio"
With initiatives in #1598 we are very flexible and allow quite a lot of options to our users. Writing a Guide on this could be really helpful. We could also talk about technical side of each of the options.

Possible overall layout:

1. General information about fastapi server and how sync and async functions are run in the server.(sync in threadpool, async in event-loop, see [here](https://fastap

[2022-08-16 00:20] FarukOzderim opened #2018 "Change Enable Queue API"
**Is your feature request related to a problem? Please describe.**
It will be a better API if we change to `demo.queue(concurrency_count=3).launch()` instead of demo.configure_queue(concurrency_count=3).launch(enable_queue=True)`. We should still support enable_queue=True but give a deprecation warning.

**Additional context**
Credits goes to @aliabid94 for the beautiful idea.

[2022-08-16 14:17] freddyaboulton commented on #2014
I think this is a dupe of https://github.com/gradio-app/gradio/issues/956

[2022-08-16 15:21] omerXfaruq opened #2019 "Gracefully Scaling Down on Spaces With the new Queue"
**Is your feature request related to a problem? Please describe.**
Scaling up works alright however Scaling down is a pain point right now. When we tested scaling down, clients lost connection to the server and queue info stopped getting updated.
<img width="758" alt="image" src="https://user-images.githubusercontent.com/44067394/184917082-34e16681-3b81-4b8c-bfd6-c4fe3706c5cc.png">

**Describe the

[2022-08-16 16:33] GuillemGSubies opened #2020 "Restrict the scope of interactivity for gr.Dataframe"
**Is your feature request related to a problem? Please describe.**

Sometimes I want the user to be able to modify some part of the Dataframe, however it can be problematic if they modify something that they shouldn't.

**Describe the solution you'd like**

It would be great if it were possible to tell the constructor what parts can be modified, instead of just allowing everything to be changed.

[2022-08-16 17:21] #1970 closed

[2022-08-16 17:21] #1972 closed

[2022-08-16 18:12] #2013 closed

[2022-08-16 19:40] freddyaboulton opened #2022 "Can't switch tabs in TabbedInterface in image_classifier_interface_load demo"
### Describe the bug

1. Click on an example in the first tab and hit `Submit`
2. Go to the second tab and click on an example and hit `Submit`
3. Go back to the first tab

You will see both interfaces displayed in the same page (bug) and won't be able to switch tabs. See image below.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

##

[2022-08-16 19:41] stevenhillis opened #2023 "Apply color labels to regions of Audio component"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
I am working with audio data. I don't have an intuitive way to label regions of that audio in a way that ties directly back to the audio playback.

**Describe the solution you'd like**
I would like to be able to specify a list of tuples like [(start_time_seconds, end_

[2022-08-16 19:45] freddyaboulton commented on #2022
Doesn't seem to impact the other TabbedInterface demo (sst_or_tts)

[2022-08-16 21:22] irfan-mekic opened #2024 "Deploying Gradio app (using Blocks, not interface) on AWS"
I'm running into some issues with deploying a Gradio app on AWS, since it's not an interface but rather a block. I tried following the tutorial https://abidlabs.medium.com/quickly-deploying-gradio-on-aws-242af2374784, but I wasn't able to successfully replicate the process. Any help would be greatly appreciated!

[2022-08-16 21:25] abidlabs commented on #2024
Hi @irfan-mekic, thanks for creating this issue. What issue are you running into specifically when you try to deploy your `Blocks`?

[2022-08-16 21:29] irfan-mekic commented on #2024
I follow the guide regarding the network settings (pictured below), and I try to access the ip, and don't get a live dashboard back.

![image](https://user-images.githubusercontent.com/92335543/184988576-2b12ce67-3e0b-4a67-8290-d4809d14d216.png)

[2022-08-16 21:30] irfan-mekic commented on #2024
Im also deploying from inside a Docker container, as the ec2 instance is used by other members on my team. This is fine, correct?

[2022-08-16 22:50] abidlabs commented on #2024
It should definitely be possible to deploy from inside a docker container as long as the server name and port are set up correctly.

I noticed while reading the Guide that there is 1 issue with it. The `server_name` parameter has been moved to `launch()`. Did you make that change? Also did you make sure to bind port 7860 in the docker to 7860 on the AWS machine?

[2022-08-16 22:51] abidlabs commented on #2023
Hi @stevenhillis thanks for the issue! This totally makes sense, although I'm not sure if we should adapt the existing Audio component or create a new component. Will leave as an open issue for now and update once we've discussed some more internally

[2022-08-16 22:52] abidlabs commented on #2020
Hi @GuillemGSubies at what level would you want to scope this? At a per-column level or at a per-cell level?

[2022-08-17 02:54] HuangChiEn opened #2028 "Add elemt_id for gr.Example to customize the css layout."
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Since gr.Example needs the input, fn as required arguments and the **component position is associated with the order of function definition**. For now, it's almost impossible to let the gallery above to the other component, including gr.Image (input).
It should have t

[2022-08-17 02:56] tt0203 opened #2029 "Add a `Calendar` component"
I don't understand why these component functions haven't been available until now?
such as side navigation components,calendar component,download button and etc.
why gr.Textbox no password text mode?

[2022-08-17 04:27] abidlabs commented on #2029
These are great suggestions @tt0203! The reason is that for the most part, Gradio has been used to build machine learning demos, where these components are less common.

But these are great suggestions, especially as Gradio expands to more use cases. cc @freddyaboulton I think some of these are very relevant for the data science / dashboard use cases.

[2022-08-17 04:32] abidlabs commented on #2028
Hi @HuangChiEn, the good news is that we actually do support this decoupling!

The way it works right now **if you define any component outside of gr.Blocks, it is not immediately rendered**. You can render it by using the `.render()` method. This allows you to place a `gr.Examples` above its inputs. Here's an example:

[code]

which produces this:

<img width="583" alt="image" src="https://user-i

[2022-08-17 06:49] GuillemGSubies commented on #2020
For my use case, a per column level. However I think the implementation would make sense if the input was a view of the dataframe, so it is more flexible

[2022-08-17 07:31] HuangChiEn commented on #2028
Thanks for your rapidly reply, i will deep into doc for the details.
Does the gradio==3.1.3 begin to support this feature ?

[2022-08-17 07:33] HuangChiEn commented on #2028
Leaving this open as a reminder to document this feature here: https://gradio.app/controlling_layout/

[2022-08-17 08:22] HuangChiEn opened #2030 "The sketch mode of gr.Image require more support."
As the title described, I have tried to setup the `gr.Image(tool='sketch')` as follows :
![image](https://user-images.githubusercontent.com/52521165/185068036-cfca5049-2379-40a7-8b2b-271226d65a0a.png)

The web exactly supports the sketch-pen for us as follows :
![image](https://user-images.githubusercontent.com/52521165/185068474-ce94feb9-322b-4131-b987-620fc2b37a89.png)

However, I believe someon

[2022-08-17 12:47] BouzidiImen opened #2031 "PDF display in a block"
- I have searched to see if a similar issue already exists but I can't find any solution.
- I am working on a dashboard to demo a model that classifies articles and output tags, and I need the users to correct the results/output of the model.

**Solution**
I would like to have a feature that allows the display of a pdf file on the dashboard.

[2022-08-17 13:09] irfan-mekic commented on #2024
Yes, I made the  regarding the `server_name` parameter. Ahh, I did not do the port binding. Let me attempt to do that to see if it fixes the issue

[2022-08-17 14:14] irfan-mekic commented on #2024
I'm also returning 'http://localhost:7860/' instead of 'http://0.0.0.0:7860/'

[2022-08-17 16:19] FarukOzderim commented on #2018
closes with #2026

[2022-08-17 16:24] FarukOzderim commented on #1862
queue-eta is meaningful for putting a limit on user wait time
queue-size is meaningful for putting a limit on communication overhead(but not necessary, because it could be handled with configuring queue-info-update-intervals)

[2022-08-17 16:28] FarukOzderim commented on #1813
I tested connecting 8000 clients to a HF Space, however my 8GB ram went full with this many clients. There were also OSerrors popping out, there might be a file descriptor limit to opening ws connections, might be necessary to remove that as well.
Tested the space from mobile since my ram was full, and the space successfully kicked 8000 dced clients from the queue and moved me to 1st rank, though

[2022-08-17 16:32] FarukOzderim commented on #1813
You can replicate the test with this file, had to do some workarounds since it was not wholly supporting ws communication and there was no docs available. So right now it does not make benchmarks but keeps x number of connection always open, and whenever a ws-event's process is completed it restarts it.

locustfile.py

[code]

[2022-08-17 17:32] abidlabs commented on #2031
Thanks @BouzidiImen for the suggestion. Agree that this would be a useful component!

[2022-08-17 17:57] abidlabs commented on #257
This could be expanded to being able to generate a direct link to any specific input that a user tries, which could help in shareability, especially for non-text or non-image demos.

[2022-08-17 18:05] abidlabs opened #2032 "Support for more interesting/engaging loading indicators"
For demos that go viral, it would be nice to allow the developer to set a more interesting loading indicator than just showing the ETA and queue position.

Some ideas that we brainstormed:
* a simple game they could play
* an RL-powered game they could play / watch
* showing some other example inputs and outputs for the model
* a video about Gradio

[2022-08-17 19:51] dawoodkhan82 commented on #1871
@sa92leh-fs In terms of your original issue of updating and keeping track of plots from previous runs; you can use keep track of the session state. here's more info here (https://gradio.app/interface_state/#session-state). You can achieve keeping track of the previous plot figure with these steps:

1. Pass in an extra parameter into your function, which represents the state of the interface.
2. At

[2022-08-17 20:09] freddyaboulton opened #2034 "Create a guide on how to use gradio to share an explanatory data analysis"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**

It is possible to use Gradio to communicate the results of an exploratory data analysis to a user's audience but our current guides/communication's don't make that emphasize that use case.

**Describe the solution you'd like**
A guide that covers the following:
- Why

[2022-08-18 00:07] HuangChiEn commented on #2011
close this issue, please trace the solution in the issue #2030

[2022-08-18 00:07] #2011 closed

[2022-08-18 03:10] #1960 closed

[2022-08-18 13:54] abidlabs commented on #2014
Yes, this looks like a duplicate, so closing this issue. @apolinario let us know if #956 doesn't cover your use case.

[2022-08-18 13:54] #2014 closed

[2022-08-18 14:08] abidlabs commented on #956
Feedback from @apolinario on this issue: a global replacement for ERROR doesn't always work. You might want to throw different errors depending on what happened (OOM vs. NSFW image generated)

[2022-08-18 15:09] FarukOzderim commented on #956
A bit Related: We have exception types in our Request [class](https://github.com/gradio-app/gradio/blob/main/gradio/utils.py#L418). And can define error types similarly and use them. Also we can set event-exception type while we are sending a Request from Queue to fastapi server and make use of it.

[2022-08-18 19:49] abidlabs commented on #1876
Hi @sunnymoon-sultan, in terms of the larger point of supporting ANSI escape sequences, I feel that this is out of scope for the `Textbox` component.

However, specifically for the question that you asked, it is possible through the use of the `color_map` parameter in `HighlightedText.style()` method.

Here's a quick example:

[code]

<img width="569" alt="image" src="https://user-images.githubuse

[2022-08-18 19:49] #1876 closed

[2022-08-18 21:16] muellerzr opened #2039 "Error with jinja2"
### Describe the bug

From what I can tell, using the latest jinja2 leads to a build error.

My space is here: https://huggingface.co/spaces/muellerzr/bert-base-cased-tpu-accelerate-experiments

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Try running the space and see the build logs.

### Screenshot

_No response_

### Logs

[code]
[code]

[2022-08-18 21:17] FarukOzderim opened #2040 "gr.Shortcuts are missing from docs"
- [X] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
We don't have components inside Templates in docs with their class names. I think we do miss that? See [here](https://github.com/gradio-app/gradio/blob/main/gradio/__init__.py#L58-L70)

**Describe the solution you'd like**
We can add them to shortcuts as a new column.

[2022-08-18 21:37] #2039 closed

[2022-08-18 22:31] FarukOzderim commented on #1862
converted the issue into max-eta, which will be probably needed to balanca autoscaling.

[2022-08-19 09:35] HuangChiEn commented on #2028
By the way, is it possible to pass the elemnt_id to gr.Example to set up the CSS ?
Currently, we also meet the requirement that the font-size of gr.Example is too small.

Any feedback and idea about this feature enhencement will be appreciated!!

[2022-08-19 13:17] FarukOzderim opened #2043 "[High P]Reconnect when the ws connection is lost"
**Is your feature request related to a problem? Please describe.**
While scaling down the spaces some clients might lose WS connections to the server and get no update or info about this.

**Describe the solution you'd like**
We have a long term solution in #2019, however I think we need a short-term solution as well.
If we can reconnect or restart the ws communication whenever the ws connection i

[2022-08-19 13:18] #2018 closed

[2022-08-19 15:34] freddyaboulton opened #2045 "Interface Clear button is broken on spaces"
### Describe the bug

The _js parameter does not seem to work on spaces. This means the clear button doesn't work as well.

This is in gradio 3.1.5. I think it was a recent change because that was not the case as of this Monday since this is not the case in the demos deployed for #2012

This also doesn't happen locally.

### Is there an existing issue for this?

- [X] I have searched the existing

[2022-08-19 17:28] #2045 closed

[2022-08-19 19:42] freddyaboulton opened #2048 "Add a data science demo to the landing page"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
When a data scientist lands on the repo, they are greeted with `Build and Share Delightful Machine Learning Apps` and they see demos of unstructured data (image and text).

**Describe the solution you'd like**
Add some at most 2 demos to the landing page that speak to

[2022-08-19 20:05] freddyaboulton opened #2049 "Add more data science demos"
- [ ] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Similar to #2048 , but larger in scope. The goal is to make it really easy for potential data science users to see examples gradio demos that are relevant to the work they do.

**Describe the solution you'd like**

Let's focus on:

- Interesting visualizations and dat

[2022-08-19 20:28] freddyaboulton opened #2050 "Make it easier to work with streaming data"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
A data scientist might be interested in building a dashboard that pulls live data periodically.

For example, every five minutes visualize the locations of the most popular tweets talking about Gradio.
Every hour, refresh a plot showing our sales trend over the last q

[2022-08-19 20:39] #727 closed

[2022-08-19 20:40] #1823 closed

[2022-08-19 20:42] FarukOzderim commented on #1212
**Update**: Interface was updated in the shortest manner to update async functions. I also dropped some comments inside interface for refactoring. A proper refactoring for Blocks and Interface would make the code-base much more tidy and easy to follow.
I think the difference between the Interface and Blocks should be minimized since Interface is just a child or specific mode of Blocks.

[2022-08-19 21:13] freddyaboulton opened #2051 "Make it easier to export a demo defined in a notebook to spaces"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
Imagine you're a data scientist and you just finished an analysis of a tabular data set on a jupyter notebook.

You have some plots and maybe a machine learning model trained but the journey you took to get there is not straight line since your analysis took turns the

[2022-08-19 21:18] FarukOzderim commented on #2051
I think this is a really strong way to convert a notebook to Gradio demo. However is there anything more than copying each cell into a file?

Also being able to create a space directly from colab links and files would be great!

[2022-08-19 21:29] FarukOzderim opened #2052 "Convert HTTP Calls to Async and make Gradio faster"
**Is your feature request related to a problem? Please describe.**
There several http calls in Gradio that could be more performant than sync calls. Though converting them to async requires some redesign and planning.

1. Calls inside launch. If we run these calls in the background we won't need to wait for these calls, and make launch faster.
2. load related calls. If we migrate these calls to ba

[2022-08-19 22:11] FarukOzderim commented on #2052
cc: @aliabid94 @abidlabs @freddyaboulton

[2022-08-19 23:43] #1886 closed

[2022-08-19 23:48] abidlabs commented on #2051
Will think about it some more, very exciting!

[2022-08-19 23:50] abidlabs commented on #2050
I wonder if it would make sense to use the `streaming` parameter that we have for Image/Audio applied to other components, or to the demo as a whole?

[2022-08-20 13:03] leszekhanusz opened #2054 "Mask not resized when using an Image input with tool="sketch" and a shape argument"
### Describe the bug

if we use an Image input with `tool="sketch"` and a `shape` argument, then only the image is resized to the shape and not the mask.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

annoying

[2022-08-21 01:50] abidlabs commented on #2028
Sorry for the late reply @HuangChiEn. Yes, this feature should work on 3.1.3.

Good idea for gr.Examples to support an `elem_id` to be able to customize the underlying Datasets component. In the meantime, what you can do is to set an `elem_id` manually.

For example, you could do this:

[code]

[2022-08-21 02:14] YuchenZeng opened #2055 "dataframe display exceed the window size in huggingface space"
**I have searched to see if a similar issue already exists.**
Yes

**Is your feature request related to a problem? Please describe.**
I want to display multiply columns at each row and I found that the Dataframe output will exceed the window size. I raised the issues before (https://github.com/gradio-app/gradio/issues/1618). I believed the problem is solved when we run the gradio locally, however,

[2022-08-21 02:58] abidlabs commented on #1212
Thanks for highlighting this issue @FarukOzderim. I worked on this as part of #1967, and eliminated both `Interface.process()` and `Interface.__call__` as separate methods of the `Interface`. I think the PR basically covers this issue (and I'll update the PR description to reflect that). Let me know what you think!

[2022-08-22 03:07] HuangChiEn commented on #2028
Oh..!! that's cool, thanks for your reply.
@abidlabs
Leaving this open as a reminder to document this feature here: https://gradio.app/controlling_layout/
and feel free to close this issue ~

[2022-08-22 03:55] markdchoung opened #2056 "When a video (w, h=608x1080) is input, the preview video becomes too large."
**Is your feature request related to a problem? Please describe.**
When a video (w, h=608x1080) is input, the preview video becomes too large.
I have to scroll down to watch the automatically up-scaled video, and it is uncomfortable.

**Describe the solution you'd like**
It would be nice if the size of the video component window size is constant, even if a video (height is longer than width) is in

[2022-08-22 03:58] wj-Mcat commented on #28
Have there been any updates to this?

[2022-08-22 06:54] HuangChiEn commented on #2028
@abidlabs
Oh.. it seems not work in gradio==3.1.4, although it's a good solution
![image](https://user-images.githubusercontent.com/52521165/185857510-23dec8bd-711d-47dd-b1ad-198afb95dc10.png)
![image](https://user-images.githubusercontent.com/52521165/185857556-3fc3801c-ca44-4319-851f-f2765528d575.png)

What kind of version will have this feature ?

[2022-08-22 15:36] FarukOzderim commented on #1212
I took a look to the final version of Interface. It is great that is shortened, but I still feel that the Interface has a lot of code, considering it is just a specific version of Blocks, and still think that a proper refactor would be great.

1. We could Interface much shorter with cleanups, and moving parts to Blocks.
2. Make Interface modular with functions as it is very hard to follow or read

[2022-08-22 15:37] FarukOzderim commented on #1212
Btw this issue will close when the PR is merged, care!

[2022-08-22 18:44] FarukOzderim commented on #956
I think this issue should stay open since it is not just User defined errors, but we should also give proper errors for the errors happened in frontend or backend.

[2022-08-22 19:27] freddyaboulton commented on #1962
Closing as this was fixed in #1987 !!

[2022-08-22 19:27] #1962 closed

[2022-08-22 19:57] abidlabs commented on #1212
@FarukOzderim what further cleanups are you suggesting? Not clear to me from the issue? I will rewrite `Interface.run_prediction` to use `Block.call_function` instead, but is there anything else that can be moved to Blocks?

[2022-08-22 20:05] #1672 closed

[2022-08-22 20:43] abidlabs commented on #1259
We are looking into it! cc @aliabid94

@YuliangXiu, to confirm, you are looking to add a username/password login to a Gradio demo you are hosting on Hugging Spaces? Can you simply make the Space private?

[2022-08-22 20:44] abidlabs commented on #28
Yes, please take a look here: https://www.gradio.app/sharing_your_app/#embedding-hosted-spaces

[2022-08-22 21:14] freddyaboulton commented on #1877
@pngwn If you hit the api manually, you can get a successful response with 20,000.

[code]

![image](https://user-images.githubusercontent.com/41651716/186019431-a695b95f-9af6-4df6-aa43-17f54b61946e.png)

I don't think we're hitting a memory limit on the backend server since it's able to successfully complete the response. We may be hitting a memory limit elsewhere on the front-end code?

I think

[2022-08-23 07:11] 1jsingh opened #2060 "Allow variation in stroke color, width, and opacity with Gradio sketch input"
- [x] I have searched to see if a similar issue already exists.

**Is your feature request related to a problem? Please describe.**
The current "sketch" inputs do not allow variation in stroke color, width, and opacity. This compatibility would allow for deploying gradio apps for a range of user-scribble based image synthesis and editing applications.

**Describe the solution you'd like**
Add supp

[2022-08-23 09:37] apolinario opened #2061 "Pressing Enter doesn't start the execution if max_lines > 1"
### Describe the bug

Not sure if it is a bug or not, but if `max_lines` > 1 pressing enter goes to a newline instead of triggering execution. While I can understand why that is great when the field is a "textbox", I also feel like few services have Shift+Enter for new line and Enter for submit.

This is particularly prominent when `lines=1` but `max_lines > 1`, as in one hand we'd like to have mu

[2022-08-23 13:37] abidlabs opened #2062 "Button for uploading images"
In some cases, the Image component takes up too much space, and it would be nice to have a more visually compact way to upload images (and other file types). In this case, a button for uploading images like this would be nice, something that looks like:

![image](https://user-images.githubusercontent.com/1778297/186172409-b419c787-c928-42cb-bda8-4c6e90c8703d.png)

Related Slack discussion: https:/

[2022-08-23 15:31] #1194 closed

[2022-08-23 15:31] #1454 closed

[2022-08-23 15:31] #1811 closed

[2022-08-23 15:31] #1212 closed

[2022-08-23 15:31] #1679 closed

[2022-08-23 15:31] abidlabs commented on #1689
Reopening as this seems to have come back as a results of #1967

[2022-08-23 15:40] irfan-mekic commented on #2024
This has been resolved. In case anyone else finds it helpful, this is what I had to do (slightly) different from the guide to get it running. This assumes you're using a Docker container to run your Gradio app:

1. Inside the Dockerfile, you need to use the `EXPOSE` command to expose the Docker port you want connected to your ec2 instance
2. On your `docker run` command, you need to add the flag `

[2022-08-23 15:40] #2024 closed

[2022-08-23 15:41] abidlabs commented on #2024
Thank you so much @irfan-mekic for sharing the solution!

[2022-08-23 17:28] pngwn commented on #1922
@ysig What is the use case for this? Do you have an example?

Is this a request for an additional drawing 'style' in addition to the current 'freehand pen/ brush'? A line or poly line tool.

In terms of the functionality of a line/poly line tool, would it be desirable for the line tool to have options such as closed/open the line (to ensure that it is a 'complete' polygon when needed)?

[2022-08-23 17:46] pngwn commented on #1721
Pretty sure I'm wrong, these images aren't even that big. Investigating.

[2022-08-23 18:01] duerrsimon opened #2065 "Web component Embed changes title"
### Describe the bug

I have Gradio app hosted on spaces embedded into an interactive manuscript and the Web component seems to overwrite the `<title>` set in the HTML document to "Gradio" which I don't want.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

https://lcbc-epfl.github.io/metal-site-prediction/

### Screenshot

![image](https://us

[2022-08-23 18:04] qustions opened #2066 "How to dynamic create the output component"
Hello @abidlabs @aliabid94,
can we create dynamic output on gradio
for example
[code]
the code is running but not generating the outputs can you share the example to generate dynamic output using for loop

[2022-08-23 18:12] abidlabs commented on #2061
I like the shift+enter

[2022-08-23 18:13] abidlabs commented on #2061
Agree that this is confusing. What do you think about keeping enter for creating a new line, but accepting CMD/CTRL + Enter for submit? That's what GitHub uses (though I don't know how widely used this is)

[2022-08-23 20:21] GDalforno opened #2068 "Plots are not displayed side by side when using blocks"
### Describe the bug

I am trying to display two plots side by side using blocks but just one of them is shown. I tried to decrease the plot size (I am using plotly btw), displaying them on 2 separate rows but nothing seemed to work. I tried with matplotlib and it works, but I do need it to work with plotly as well.

### Is there an existing issue for this?

- [X] I have searched the existing issu

[2022-08-23 21:32] freddyaboulton opened #2069 "Infinite api requests when updating a component inside a tab on tab select"
### Describe the bug

When updating the value of a component with the `TabItem.select` event, the front-end makes infinite requests to the backend and gets stuck.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

In the following demo, note it get stuck if you switch tabs:

[code]

### Screenshot

![infinite_requests](https://user-images.github

[2022-08-23 21:33] freddyaboulton commented on #2069
This does not happen on version 3.0.20

[2022-08-23 22:04] freddyaboulton commented on #2068
@GDalforno I can't reproduce with gradio 3.1.7 and gradio 5.10.0!

![image](https://user-images.githubusercontent.com/41651716/186274528-8365a978-b096-4939-9cc8-32affdf01d37.png)

[2022-08-23 22:04] #2068 closed

[2022-08-23 22:06] abidlabs commented on #2066
Closing for now, but feel free to reopen if this doesn't solve your issue.

[2022-08-23 22:06] #2066 closed

[2022-08-23 22:36] #1759 closed

[2022-08-23 23:01] #1676 closed

[2022-08-23 23:19] abidlabs commented on #1998
Actually, that "+" is supposed to be there. The reason is that the actual URL for the Space itself is:

https://hf.space/embed/farukozderim/test-new-queue/+

Which is embedded via an iframe into the original URL.

You can confirm that this works by doing the following:

[code]

[2022-08-23 23:19] #1998 closed

[2022-08-23 23:22] abidlabs commented on #1197
Duplicate of #1954 (closing this one because that has more discussion)

[2022-08-23 23:22] #1197 closed

[2022-08-23 23:24] abidlabs commented on #956
I think we can close this issue actually because the best place for such errors would be the logs (on Spaces) or your Python console (if you're running locally). A typical end user shouldn't see Python errors by default. If a model creator wants to show particular errors to the end user, they can use `gr.Error()` via #2047

[2022-08-23 23:28] Zengyf-CVer commented on #1484
@abidlabs I upgraded gradio to 3.1.8b0, but it still fails.
![ksnip_20220824-072705](https://user-images.githubusercontent.com/41098760/186283501-13a79c8c-7024-4121-9ee1-a5c9c44e44f1.png)

[2022-08-23 23:29] abidlabs commented on #1974
There's duplication between this issue and #1337, so I've revamped that issue and moved this discussion there.

[2022-08-23 23:29] #1974 closed

[2022-08-23 23:30] abidlabs commented on #1835
How long do we want to keep this issue open / pinned? I think we can actually close it (will not lose its pinned status) now

[2022-08-23 23:30] #1835 closed

[2022-08-23 23:31] abidlabs commented on #1983
We should write unit tests for `queueing.py` as well!

[2022-08-23 23:35] abidlabs commented on #1484
It looks like one of the outputs might be `None`, which is causing the example caching to fail, perhaps? Given the complexity of your Space, it's going to be very hard to figure out what exactly is the issue.

If you can please come back with a minimal example of this error, we can take another look it.

[2022-08-23 23:36] abidlabs commented on #1871
Thanks @dawoodkhan82. Going to close this issue for lack of follow up

[2022-08-23 23:36] #1871 closed

[2022-08-23 23:37] abidlabs commented on #1877
Sounds reasonable to close this issue as well given that @bcm-at-zama has found a reasonable solution! Thanks @freddyaboulton and @pngwn for looking into this.

[2022-08-23 23:37] #1877 closed

[2022-08-23 23:49] abidlabs commented on #1984
We can do an [exponentially weighted average](https://medium.com/@dhartidhami/exponentially-weighted-averages-5de212b5be46), which is easy to calculate, space efficient, and adapts to the most recent samples

[2022-08-23 23:50] abidlabs commented on #2001
This reduces the overhead of having to create new websocket connections

[2022-08-23 23:55] Zengyf-CVer commented on #1484
@abidlabs
I made an example of single image input and output, and it works fine. I'm guessing this error is caused by some input or some combination of inputs in my program. I need some time to build a minimal example.

[2022-08-24 00:12] abidlabs opened #2071 "Gradio Viral [tracking and feedback]"
We'd like to make it easier to build viral machine learning and data science demos using Gradio, and are taking a number of steps to do that. This issue tracks these steps, and is also a call for the Gradio community for feedback: **please let us know by replying what we can do to help you build the next viral demo!**

**Image demos**
- [ ] #1977
- [ ] #1382
- [x] #776
- [x] #936 (seeds for genera

[2022-08-24 00:18] abidlabs commented on #1072
We should also add a download link to the `Model3D component` so that people are able to download the file directly (right now, a lot of people use a separate File Component to do this)

[2022-08-24 00:20] FarukOzderim commented on #956
OK, though let me remind the original question
[code]

[2022-08-24 00:20] #956 closed

[2022-08-24 00:20] abidlabs opened #2072 "Make it possible to add a image background to audio output"
It would be really cool (and help with virality) if it were possible to add images or GIFs as backgrounds to audio outputs. Someone could upload their own or _maybe_ choose from a preselected list?

The final result would look something like this: https://twitter.com/NASAExoplanets/status/1561442514078314496 and be a LOT easier to share on social media than just an audio file

<img width="424" alt

[2022-08-24 02:27] HuangChiEn commented on #2060
add eyes on this issue.
Also similar issue #2030

[2022-08-24 08:05] HuangChiEn opened #2074 "Where is the CSS style file location while lunch the demo, and how could i locate the image resource by CSS url ?"
First, thanks for you'll release this amazing repo for fast building ML GUI.
I notice that customize CSS allow us insert arbitrary image as background. However, `{background-image: url(...) }` requires the user to indicate the source path. However, I have tried several combinations to locate the source path, which does did not work.
[code]

I wonder where is the CSS style file location, since most

[2022-08-24 08:07] HuangChiEn commented on #2028
@abidlabs
Thanks for your rapidly reply, it's work in gradio==3.1.6 exactly !!
feel free to close this issue ~

[2022-08-24 09:19] apolinario opened #2075 "Multi-tasking on mobile (iOS/Android) seems to silently remove user from the queue"
### Describe the bug

If I am running a Gradio demo on Android (Galaxy Fold 3) and I do multi-tasking (leave the browser app and go to another app), when I go back to the browser the processing counter is still counting - however the queue never moves, which makes me think that I got de-registered from the queue but was not informed.

--

At least I think it should be shown to user they got de-reg

[2022-08-24 11:17] GDalforno commented on #2068
@freddyaboulton It worked in version 3.1.7 but the plots are not interactive anymore, as I move the mouse around the plot it does not show any information. Thank you.

[2022-08-24 11:40] apolinario commented on #2061
I think the convention I observe is:
- If it is a multi-line text-field already from the get-go, Enter creates a new line, CTRL+Enter submits (like GitHub)
- If it is a single-line text-field that can be expanded to multi-line (Discord, Slack), Enter submits and CTRL+Enter creates a new line

So in my example, where I have one line that can be expanded, imo the expectation is Enter to submit and C

[2022-08-24 14:24] freddyaboulton commented on #2068
Thanks for the follow up @GDalforno !

We're actively working on the interactivity as part of https://github.com/gradio-app/gradio/issues/1692 !

Should be fixed soon

[2022-08-24 14:24] freddyaboulton commented on #2028
Thanks @HuangChiEn !

[2022-08-24 14:24] #2028 closed

[2022-08-24 14:55] freddyaboulton opened #2077 "Model3D preview shows grey square on spaces"
### Describe the bug

When uploading a Model3D file on spaces (from examples or manually) the preview modal doesn't show the Model3D object.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Go to the Model3D demo here:

https://huggingface.co/spaces/gradio-pr-deploys/pr-2064-all-demos

### Screenshot

![model3d_upload](https://user-images.gith

[2022-08-24 15:09] #2048 closed

[2022-08-24 15:29] freddyaboulton commented on #2077
The same thing happens in a more minimal space https://huggingface.co/spaces/freddyaboulton/Model3D so I think it's an issue with changing the logic for how we load files as opposed to the `all_demos` space

[2022-08-24 16:59] basujindal opened #2078 "Calling torch method .to(device) after calling Interface.launch() the gradio app gives error"
### Describe the bug

Send a tensor to GPU after calling launch() method is giving me CUDA error. Any ideas on what to do?

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

Send a tensor to GPU using tensor.to("cuda") after calling launch() method.

### Screenshot

_No response_

### Logs

[code]

### System Info

[code]

### Severity

blocking

[2022-08-24 17:23] #2078 closed

[2022-08-24 20:50] abidlabs commented on #1484
No problem, take your time. Let me close the issue for now so that we can focus on issues that we are able to reproduce, but if you are able to find a minimal example, please feel free to reopen the issue. Thanks!

[2022-08-24 20:50] #1484 closed

[2022-08-24 21:16] freddyaboulton opened #2080 "Can't load Image Classification model from hub and call it from another interface"
### Describe the bug

If you can an image classification model loaded from the hub from another interface, the interface will display a filename as a class name.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Reproduction

[code]

### Screenshot

![image](https://user-images.githubusercontent.com/41651716/186525116-d3eea5d8-cbc3-4826-956e-896403b36a49.png

[2022-08-24 21:16] freddyaboulton commented on #2080
@abidlabs Assigning you since you said you could fix during our huddle but happy to help as well!

[2022-08-24 21:24] abidlabs opened #2081 "Enable queuing by default everywhere"
Given that the new queue offers a better experience for users (for example, by allowing inference requests to exceed 60 seconds), it would be great if we can enable queueing by default everywhere, just like it is enabled on Hugging Face Spaces

[2022-08-24 21:33] pngwn commented on #2060
This is being worked on along with all other Sketch related issues currently.

[2022-08-24 21:36] pngwn commented on #2030
The `shape` kwarg doesn't control the brush. However this is being worked on.

The weird scaling on the brush is a bug, the ability to resize it is a feature that we will be adding (as well as selecting an appropriate default size depending on the cavas size).

[2022-08-24 21:54] pngwn commented on #1721
The default image issue also affected using the sketch as an output, the simple reason for this is we simple didn't support that use case, which is a huge oversight and a bug. This is easily addressed.

The issue of the drawing tool not being available is actually slightly trickier. The scaling _is_ wrong, per my previous comments, but there is an additional bug in that the canvas is set up only o

[2022-08-24 22:57] abidlabs commented on #1502
With the Stable Diffusion launch, one thing we've noticed is that the cropped pictures don't include the Gradio logo or any Gradio branding. Could we somehow include it in the screenshotted-region?

Slack discussion: https://huggingface.slack.com/archives/C03T5KLGW92/p1661359744531859

cc @AK391

[2022-08-25 00:19] hibestil commented on #2052
@FarukOzderim  In addition to your findings, I wanted to search `requests` usage in the code base. I saw lots of usages, and listed all functions(and their belonging files) below (except the tests). Since we've been planning to use the `Request` class, we have to convert those functions (and the functions which use them) to async ones. That'll push us to make a lot of effort :S

To simplify this w

[2022-08-25 00:56] abidlabs commented on #1502
This looks very nice @aliabd and very clean!

Some suggestions:
* Adding emojis to each section ("Text", "Images", "Tabular") (side note: love the emoji for "Recipes" itself)
* Consider naming "Text" to "Text & Natural Language Processing", "Images" to "Images & Computer Vision", and "Tabular" to "Tabular Data and Plots"
* Can we add an "Audio & Speech" section and a "Fun" section underneath as we

[2022-08-25 01:41] abidlabs commented on #2061
Whoops accidentally closed yesterday, let me reopen

[2022-08-25 01:43] abidlabs commented on #2061
I like @apolinario's suggestion as well (I modified it a bit to include SHIFT along with CTRL. We can pick one or allow both)

[2022-08-25 05:13] neilmahaseth commented on #700
Incorrect Mime Type for javascript file being sent by gradio server on Windows 10. Adding share = True fixes it.

[2022-08-25 05:32] neilmahaseth commented on #700
To reproduce it you can try installing it on Windows 10 Build Number 19044.1889 using miniconda environment installed using pip using  gradio-3.1.7-py3-none-any.whl   - python=3.8.5 - pip=20.3

Or you can simply try installing this fork of stable diffusion https://github.com/basujindal/stable-diffusion on Windows 10

Let me know if you need more information.

[2022-08-25 06:17] Demi1024 commented on #28
Have there been any updates to this? How to get the height of iframe content and avoid scrollbars？
Looking forward to the answer, thanks a lot.

[2022-08-25 07:13] millermuttu commented on #956
can anyone give an example of how to handle errors and show it in the UI?

[2022-08-25 19:34] hibestil commented on #1983
@abidlabs I'd like to write unit tests for 'queueing.py' if it is still unassigned. Please let me know

[2022-08-25 20:53] abidlabs commented on #956
Sure, take a look here for an example: https://github.com/gradio-app/gradio/blob/4a1321ce8a46bd31f34c6c3c70840f4d456bb1a6/demo/calculator/run.py#L12

Quick docs: https://gradio.app/key_features/#errors

[2022-08-25 20:54] abidlabs commented on #28
Sure, take a look here: https://gradio.app/key_features/#errors

[2022-08-25 21:55] Ifeanyi55 opened #2085 "Add support for `object-detection` pipeline in `transformers`"
Hello,

I really want to first of all laud the awesome work you have done and are continuing to do with gradio. I have built a gradio interface for an image classification model before, but the build fails when I try to do the same for an object-detection model. My code is shown below:

[code]
I even tried to wrap the code in a function, and use `gr.Interface(fn)` but the build still fails. It app

[2022-08-25 21:58] abidlabs commented on #2085
Hi @Ifeanyi55 thanks for bringing this to our attention. You're right, we should support this pipeline!

In the short term, we could wrap the object-detection pipeline into an image-to-image Interface.

In the longer run, we might want to make dedicated object-detection/image-segmentation component.

cc @aliabid94 as this could lead to some nice popular demos!

[2022-08-25 22:26] #2080 closed

[2022-08-26 08:51] apolinario commented on #2071
Very cool collection of issues! I would still advocate for one more if we could make the UI/UX behave nicely - typeable fields on the slider: https://github.com/gradio-app/gradio/issues/936 - also I think this becoming commonplace UI nowadays that sliders have a typeable field too

E.g.:
GPT-3
![image](https://user-images.githubusercontent.com/788417/186866121-049124c9-7605-406e-b4c2-16e406127706.

[2022-08-26 12:12] merveenoyan opened #2089 "Giving examples for dataframe component as a `pandas.DataFrame`"
I’m trying to give examples to dataframe component as list of lists like we do with other things, however I couldn’t succeed. when I look at the documentation, it doesn’t exist in the example as well.  The example is not parsed correctly.

The list of lists is [[header1_row_1 header2_row1 ..] [header2_row1, header2_row2 ...]] where headers are features and rows are values. Each inner list is a sam

[2022-08-26 12:30] merveenoyan opened #2090 "Skops integration"
I would like a huggingface transformers-like integration for gradio where you can call the model from the Hub and build an interface in one line of code, like below:

`interface = gr.Interface.load("huggingface/scikit-learn/tabular-playground")`

What I have in mind is dataframe component in, dataframe component out UI.

Wanted to open discussion for requirements to have this and what to do (might

[2022-08-26 13:02] freddyaboulton commented on #2090
Hey @merveenoyan thanks for filing!

We already have an issue open for this here! https://github.com/gradio-app/gradio/issues/2015 I'm going to close this out so we can consolidate discussion.

We don't have an official guide for how to integrate with the hub but the existing integrations are implemented in `external.py`. Are you planning on working on this? If so, assign yourself on #2015 !

[2022-08-26 13:02] #2090 closed

[2022-08-26 13:11] merveenoyan commented on #2015
x-posting

I would like a huggingface transformers-like integration for gradio where you can call the model from the Hub and build an interface in one line of code, like below:

interface = gr.Interface.load("huggingface/scikit-learn/tabular-playground")

What I have in mind is dataframe component in, dataframe component out UI.

Wanted to open discussion for requirements to have this and what to

[2022-08-26 13:16] HuangChiEn commented on #2030
thanks for your reply ~
then we look forward to the solution of it.

[2022-08-26 13:43] freddyaboulton commented on #2089
Hi @merveenoyan !

I think the follwoing should work

[code]

but I agree we should make it possible to pass a dataframe directly and fix the examples are displayed in the UI.

[2022-08-26 13:58] merveenoyan commented on #2089
So it's a list of lists of lists where each inner list is feature or sample? Can you specify? @freddyaboulton

[2022-08-26 14:03] abidlabs opened #2091 "Add add ability to add captions to image in a Gallery"
We have a feature request to be able to display some sort of label/caption for each image in a Gallery. Specifically the request is to: "display numbers in a gr.Gallery, to label images? e.g. in my [space](https://huggingface.co/spaces/sasha/PromptBook), I would like to have numbers alongside the grid to help people flag them"

I think this is a good idea as it takes on the most common use case of

[2022-08-26 14:28] adrinjalali commented on #2015
I think there are at least two usecases here. One is that we want predictions for a single input, in which case @freddyaboulton's suggestion makes sense, and another one is to have a csv or a data file for which we'd like the output. To me, most tabular usecases don't want to have the output for a single input. They need the output for a batch, and if they need the output for a single input, it's

[2022-08-26 15:08] abidlabs commented on #2089
Hi @merveenoyan, in the latest released version of `gradio==3.1.7`, you provide examples as a list of list of 2D lists. As you said, each innermost 2D list is the sample to populate the dataframe. So providing multiple examples would look like this:

[code]

[2022-08-26 15:13] abidlabs commented on #2089
If you build from source from `main`, you'll also have the ability to pass in example CSV files like this:

[code]

but the preview looks weird. I'll create an issue around that

Does that cover what you are looking to do?

[2022-08-26 15:13] freddyaboulton commented on #2089
@merveenoyan Yea in general, the data for the examples parameter is a list of lists, where each element of the inner list is the data for that particular component.

In the case of a DataFrame, the “data for that particular component”, is a list of lists where each inner list is a row of the dataframe.

In the future, I think we can make passing a pandas dataframe work so it’s easier to specify:

[2022-08-26 15:17] abidlabs opened #2092 "Fix how `Dataframe` examples look when a string is passed in"
### Describe the bug

With the latest version of Gradio, you can pass in string filepaths to CSVs as examples to the `Dataframe` component. However, the examples are not rendered properly in the Examples component, as you can see here:

<img width="605" alt="image" src="https://user-images.githubusercontent.com/1778297/186937403-adcab66e-e0aa-4737-a2c5-a4e41f278ce6.png">

### Is there an existing

[2022-08-26 16:26] mjpost opened #2093 "Disable progress animation"
I am trying to write an app that provides streaming updates to a text box (real-time speech recognition). This results in a lot of flicker, since the progress animation shows at each update—often, multiple times per second. This effect can also be seen in your own demo on [this page](https://gradio.app/blocks_and_event_listeners/) (second example), where the event listener updates the output textb

[2022-08-26 17:39] merveenoyan commented on #2089
Thanks a lot, I will try these!

[2022-08-26 17:39] abidlabs commented on #2093
Good point, @aliabid94 do you know if this is possible? You disabled the progress animation for streaming IIRC

[2022-08-26 17:42] abidlabs commented on #2089
@freddyaboulton in theory, the `Dataframe` component already supports `examples = [[pd.DataFrame(…)], [pd.DataFrame(…)]]` but the problem is that a pandas dataframe cannot be json serialized so there's an error that gets thrown when trying to generate the config file for the frontend. It would be cool if we can solve this serialization issue because I agree that providing pandas dataframes is more

[2022-08-26 17:45] merveenoyan commented on #2089
@abidlabs I remember seeing that as well that I had to give as a list of lists, it makes more sense to give as a pandas dataframe (it's more native when you think about it).

[2022-08-26 18:11] merveenoyan commented on #2089
Hey hey, it works fine! (on my local at least 😅) thanks a lot!

[2022-08-26 18:36] merveenoyan commented on #2092
After I made it a list of 2D lists it worked, but still it was looking like strings with gaps instead of structured data. See below :') Maybe we could warn user.
<img width="776" alt="Ekran Resmi 2022-08-26 20 35 41" src="https://user-images.githubusercontent.com/53175384/186969943-71277f2a-a0d8-4936-bb26-a4e948f5f786.png">

[2022-08-26 18:48] merveenoyan opened #2095 "Unable to build interface on Spaces"
### Describe the bug

Hello 👋
I have an interface (will post the code and the trace below) where I can run on my local (noted that my gradio version and other things are the same in the Space and the local). I get
[code]
Link to Space: https://huggingface.co/spaces/scikit-learn/tabular-playground

It's a bit weird because on my local everything works fine and I have the same gradio version. I wond

[2022-08-26 18:56] merveenoyan commented on #2015
<img width="1297" alt="Ekran Resmi 2022-08-26 20 55 42" src="https://user-images.githubusercontent.com/53175384/186972940-db585220-c640-43ab-8e43-41df995b4804.png">

@adrinjalali I'm gonna make a template for each task. I feel like for the above one it might be good if for tabular-classification models, we could do `predict_proba` and then bar chart for each class probability. (never tried for tab

[2022-08-26 20:15] sashavor commented on #1162
This would be a super useful feature to have! Is it still on your agenda?

[2022-08-26 20:43] sashavor commented on #1590
Happened to me too! Typing is super slow..

[2022-08-26 23:35] #2077 closed

[2022-08-27 00:06] altryne opened #2096 "Websocket connection fails inside browser console for hosted version"
### Describe the bug

I'm trying to add share=True and the interface gets a random *.gradio.app subdomain which is great.

But then the interface doesn't seem to do anything, looking in the browser console it shows:

[code]

![CleanShot 2022-08-26 at 18 03 44@2x](https://user-images.githubusercontent.com/463317/187005623-7c890d3f-0c9c-4c68-8a87-e9981ad2aa50.jpg)

### Is there an existing issue for

[2022-08-27 00:45] abidlabs commented on #2096
@aliabid94 could this be related to any recent changes in the queue?

[2022-08-27 00:46] abidlabs commented on #2096
@altryne does this work fine if you don’t enable the queue?

[2022-08-27 00:57] altryne commented on #2096
@abidlabs Thank you for the fast reply, removing the queue indeed solves this in my example

[2022-08-27 01:00] abidlabs commented on #2096
Ok that helps, we’ll look into this!

[2022-08-27 01:01] abidlabs commented on #2074
Hi @HuangChiEn can you try putting the prefix “file/“ before the relative or absolute path to your image URL?

[2022-08-27 01:03] abidlabs commented on #2071
Thanks for the suggestion for #936, agreee that it would be helpful for generative models. I think supporting min, max, and randomize for ‘Number’ is the way to go here (keeps the UI simple) @aliabid94